.wild-search {
  .from {
    display:none;
  }
  .guests {
    width:350px;
  }
  .where {
    width:310px;
  }
  .txt-small {
    @include opacity();
    left:0;
    bottom:-15px;
  }
  .edge-dropdown {
    overflow-y:auto;
    height: 100%;
    padding-bottom:200px;
    .remove-btn {
      font-size:12px;
      padding:3px 28px 3px 5px;
      margin-left:20px;
      .close--icon {
        width:12px;
        height:12px;
        top:4px;
        right:6px;
        &:before, &:after {
          height:1px;
          top:5px;
          background-color:$bgnd-white;
        }
      }
    }
    .list-header {
      vertical-align:baseline;
      display:inline-block;
    }
  }
  .inputs-section {
    padding:0 0 28px 0;
  }
  .input-bottom-line {
    bottom:-29px;
  }
  .quick-selection {
    border-bottom:solid $search-border 2px;
    padding:0 0 40px 0;
    > .float-left {
      margin-right: 55px;
    }
    .infants {
      margin-right:0;
    }
  }
  .guests-dropdown .add-room {
    display: block;
    width: inherit;
    padding: 11px 20px;
    font-size: 16px;
    border-radius: 0px;
    margin-top: 30px;
    height:inherit;
  }
  .age-selection {
    padding-top:50px;
    display: none;
    > span {
      display:block;
      font-size:15px;
      padding-bottom:25px;
    }
  }
  .age-row {
    width:80px;
    border-bottom:solid $b-light1 1px;
    margin-right:30px;
    padding-bottom:8px;
    select {
      width:100%;
      @include appearace();
    }
    i {
      right:0;
      top:0;
    }
  }
  .list-section {
    width:100%;
    float:none;
    .float-left {
      width:25%;
    }
  }
  .room-container:nth-child(2) {
    padding:35px 0;
  }
  .choose-stay {
     @include choose-stay-desktop();
  }
  .legends {
    border:none;
  }

  @include breakpoint(landscape-tablet) {
    .quick-selection {
      > .float-left {
        margin:0 0 40px 0;
        float:none;
      }
      .infants {
        margin-right: 0;
      }
    }
    .guests-dropdown {
      .list-header {
        padding-bottom:20px;
      }
    }
    .age-selection {
      padding-top:0;
    }

  }

@include breakpoint(portrait-tablet) {
  .where, .guests{
    width:100%;
  }
  .txt-small {
    bottom:7px;
  }
  .inputs-section {
    label {
      display:block;
    }
  }
  .input-bottom-line {
    bottom:-2px;
  }
  .input-destingtion-box .tt-dataset-destinations, .input-depart-box .tt-dataset-airports {
    margin-top:20px;
  }
  .age-row {
    margin-bottom:15px;
  }


}
@include breakpoint(mobile) {
  .txt-small {
    right:0;
    left:auto;
    bottom:16px;
  }
  .selects-titles {
    @include truncate();
  }
  .edge-dropdown {
    display:none;
    overflow:scroll;
    padding:0;
    .remove-btn {
      margin:0 0 4px 14px;
    }
    .list-header {
      padding-bottom:5px;
    }
  }
  .choose-stay {
    @include choose-stay-mobile();
  }
  .legends {
    border-bottom: solid #e2e7ec 2px;
    margin-bottom:35px;
  }
  .line-icon-date {
    position:absolute;
    right:0;
    top:0;
  }
  .quick-selection {
    border:none;
    > .float-left {
      margin:0 0 5px 0;
    }
  }
  .guests-dropdown {
    .add-room {
      margin:auto auto 40px auto;
      font-size:18px;
      @include border-radius(2px)
    }
  }
  .cldr-calncel-trigger {
    display:block;
  }
  .age-row {
    width:48%;
    margin-right:4%;
    &:nth-child(odd) {
      margin-right:0;
    }
  }
  .room-container {
    &:nth-child(2) {
      padding:0;
    }
  }
}

@include breakpoint(medium-mobile) {
  .edge-dropdown {
    .room-container {
      .list-header {
        width:100%;
      }
    }
    .remove-btn {
      margin:5px 0 24px 0;
    }
  }
}



}
