.thin-search input:-ms-input-placeholder{color:#a9a9a9;}
.thin-search .tt-suggestion{min-width:300px}
.thin-search .tth-col-md-4 ::selection, .thin-search .tth-col-md-4 ::-webkit-selection, .thin-search .tth-col-md-4 ::-moz-selection, .thin-search .tth-col-md-4 ::-o-selection, .thin-search .mobile-widget-guests{background:none}
.thin-search .tth-col-md-4, .thin-search .mobile-widget-guests, .thin-search .mobile-widget-stayfor, .thin-search .mobile-widget-calendar, .thin-search .happy-customer-main-bar{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.thin-search #mouseSwipeScroll a:hover, .thin-search #mouseSwipeScroll a:focus{color:#fff}
.thin-search .mobile-nav-item a:hover, .thin-search .mobile-nav-item a:focus{color:#fff;}
.thin-search .dinline, .thin-search .mobile-dstn-icon, .thin-search .mobile-dstn-label, .thin-search .mobile-legend-ouline, .thin-search .mobile-legend-label, .thin-search .mobile-legend-fill1, .thin-search .mobile-legend-fill2, .thin-search .mobile-nav-item a, .thin-search .mobile-nav-item span, .thin-search .mobile-nav-item, .thin-search .holidays-title span, .thin-search .mobile-tick-box, .thin-search .mobile-flexible-label, .thin-search .feefo-logo1, .thin-search .feefo-logo2, .thin-search .dstn-search-history-icon{display:inline-block;}
.thin-search .mobile-legend-label{font-size:12px;}
.thin-search .mobile-input-label{color:#9ac854;font-size:14px;}
.thin-search .mobile-search-container{z-index:33;width:854px;margin:0 auto;}
.thin-search .mobile-input-group, .thin-search .mobile-date-picker, .thin-search .mobile-stay-for{padding:9px 10px;}
.thin-search .mobile-input-group-split-2, .thin-search .mobile-input-group{background:#fff;}
.thin-search .mobile-input-button, .mobile-input-group-split-2, .thin-search .mobile-input-group{max-height:72px;height:72px;}
.thin-search .mobile-input-group-split-2, .thin-search .tth-col-md-4, .thin-search .mobile-calendar-btn-clear, .thin-search .mobile-legends-item, .thin-search .mobile-input-group{float:left;}
.thin-search .mobile-calendar-btn-cancel, .thin-search .mobile-calendar-btn-done{float:right;}
.thin-search .mobile-tick-box{width:17px;height:17px;border:solid #9bc95a 2px;top:2px;background:#9bc95a;}
.thin-search .mobile-tick-box-fill{background:none;}
.thin-search .mobile-flexible-label{top:1px;padding-left:10px;}
.thin-search .mobile-tick-mark{width:6px;height:10px;border-right:solid #fff 2px;border-bottom:solid #fff 2px;transform:rotate(38deg);-moz-transform:rotate(38deg);-o-transform:rotate(38deg);-ms-transform:rotate(38deg);-webkit-transform:rotate(38deg);top:0px;left:4px;}
.thin-search .mobile-flexible-label, .thin-search .mobile-input{font-size:14px}
.thin-search .mobile-input, .thin-search .mobile-nghts-value, .thin-search .place-holder-text{padding:0 0px 0px 0px;height:auto;width:100%;}
.thin-search .mobile-widget-footer, .thin-search .mobile-date-summery, .thin-search .mobile-nav-item a, .thin-search .mobile-nav-item span, .thin-search .mobile-nav-item{font-weight:bold;}
.thin-search input:focus, .thin-search button:focus{box-shadow:none;outline:none}
.thin-search .mobie-down-arrow{bottom:31px;right:10px;width:8px;height:8px;border-bottom:solid #58595b 1px;border-right:solid #58595b 1px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.thin-search .mobile-hot-box1{top:0px;right:0px;width:55px;height:100%;}
.thin-search ::-webkit-input-placeholder, .thin-search .mobile-input, .thin-search .mobile-nghts-value, .thin-search ::-moz-placeholder, .thin-search ::-ms-input-placeholder, .thin-search .mobile-calendar-btn-clear{color:#58595b}
.thin-search ::-webkit-input-placeholder{color:#a9a9a9;}
.thin-search .mobile-option-reset{width:17px;height:17px;top:12px;right:6px;}
.thin-search .mobile-option-reset, .thin-search .day, .thin-search .mobile-calendar-btn-done, .thin-search .mobile-calendar-btn-clear, .thin-search .mobile-calendar-btn-cancel, .thin-search .mobile-flexible, .thin-search .mobile-input-group-split-2, .thin-search .input-guests-box, .thin-search .search-history, .thin-search .mobile-widget-footer, .thin-search .mobile-btn-plus, .thin-search .mobile-btn-minus, .thin-search .next, .thin-search .prev, .thin-search .mobile-calendar-done, .thin-search .datepicker table tr td span, .thin-search .mobile-input-group .twitter-typeahead, .thin-search .datepicker-switch{cursor:pointer}
.thin-search .mobie-close-icon1, .thin-search .mobie-close-icon2{border-right:solid #58595b 1px;height:9px;top:3px;left:7px;}
.thin-search .mobie-close-icon2{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.thin-search .mobie-close-icon1{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.thin-search .mobile-widget-header, .thin-search .mobile-widget-footer, .thin-search .mobile-input-button, .thin-search .mobile-ngts-label, .thin-search .mobile-persona-label, .thin-search .mibile-instruction-text span, .thin-search .mobile-carousel-nav{text-align:center}
.thin-search .mobile-widget-overlay{z-index:130;right:0px;left:0px;top:125px;opacity:0;}
.thin-search .mobile-widget-calendar{width:303px;}
.thin-search .mobile-widget-stayfor, .thin-search .mobile-widget-guests{width:250px;overflow:hidden;}
.thin-search .mobile-calendar-wrapper, .thin-search .mobile-stayfor-wrapper, .thin-search .mobile-guests-wrapper{width:100%;height:0px;z-index:130;left:0px;right:0px;opacity:0;}
.thin-search .mobile-calendar-wrapper, .thin-search .mobile-guests-wrapper{top:70px;}
.thin-search .mobile-stayfor-wrapper{top:125px;}
.thin-search .mobile-widget-overlay-layer{background:rgba(0,0,0,0.5);z-index:115}
.thin-search .mobile-widget-overlay-layer, .thin-search .mobile-widget-overlay, .thin-search .mobile-stayfor-wrapper, .thin-search .mobile-guests-wrapper, .thin-search .mobile-destinations, .thin-search .mobile-calendar-wrapper{position:fixed;}
.thin-search .mobile-widget-overlay-layer{top:0px;right:0px;bottom:0px;left:0px;}
.thin-search .mobile-widget-overlay, .thin-search .mobile-widget-overlay-layer, .thin-search .mobile-stayfor-wrapper, .thin-search .mobile-guests-wrapper, .thin-search .mobile-dstn-list-wrapper, .thin-search .mobile-depart-list-wrapper, .thin-search .mobile-calendar-wrapper, .thin-search .mobile-search-validation, .thin-search .mobile-carousel-nav, .thin-search .date-key, .thin-search .key, .thin-search .input-depart-box .mobile-nghts-value, .thin-search .input-destingtion-box .mobile-nghts-value, .thin-search .search-history, .thin-search .hp-location-wrapper, .thin-search .hp-locations-overlay, .thin-search #hp-warning-location, .thin-search .mobile-date-summery, .thin-search .mobile-search-noresult, .thin-search .mobile-destinations, .thin-search .for-mobile-devices, .thin-search .back-to-top{display:none;}
.thin-search .mobile-input, .thin-search .mobile-input-label, .thin-search .mobile-option-reset, .thin-search .mobile-widget-header, .thin-search .mobile-widget-footer, .thin-search .mobile-btn-minus-symbol1, .thin-search .mobile-btn-minus-symbol2, .thin-search .mobile-ngts-label, .thin-search .mobile-nghts-value, .thin-search .mibile-instruction-text span, .thin-search .mobile-dstn-header2, .thin-search .item-show, .thin-search .table-condensed .next:before, .thin-search .table-condensed .prev:before, .thin-search .datepicker table tr td.today.disabled:before, .thin-search .table-condensed .next:before, .thin-search .table-condensed .prev:before, .thin-search .mobile-search-validation:before, .thin-search .datepicker table tr td span, .thin-search .mobile-calendar-done, .thin-search .mobile-destinations-show, .thin-search .mobile-flexible{display:block;}
.thin-search .mobile-widget-table{table-layout:fixed;display:table;height:100%;width:250px;}
.thin-search .mobile-search-fields, .thin-search .mobile-widget-table, .thin-search .mobile-widget-calendar, .thin-search .mobile-widget-overlay, .thin-search .mobile-widget-stayfor, .thin-search .mobile-widget-guests, .thin-search .mibile-instruction-text{margin:0 auto;}
.thin-search .mobile-widget-middle{display:table-cell;vertical-align:middle;}
.thin-search .mobile-widget-stayfor, .thin-search .mobile-widget-guests, .thin-search .mobile-widget-calendar{background:#fff;box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.5);-ms-box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.5);}
.thin-search .mobile-widget-header{background:#f0f1f1;}
.thin-search .mobile-widget-header, .thin-search .mobile-ngts-label, .thin-search .mobile-persona-label, .thin-search .mobile-dstn-label, .thin-search .mobile-dstn-header input, .thin-search .dstn-search-history-label{font-size:16px;}
.thin-search .mobile-widget-header, .thin-search .mobile-widget-footer{padding:12px 0px;}
.thin-search .mobile-calendar-header{padding:10px 15px 14px 15px}
.thin-search .mobile-widget-footer{width:90%;margin:0 auto 10px auto;font-size:16px;}
.thin-search .mobile-widget-footer:hover, .thin-search .mobile-calendar-done:hover{background:#89B543;}
.thin-search .mobile-calendar-done{background:#9ac854;padding:10px;margin:10px 3px 0px 3px;text-align:center;}
.thin-search .mobile-widget-footer, .thin-search .mobile-calendar-btn-done, .thin-search .mobile-calendar-done{color:#fff;}
.thin-search .tth-col-md-4{width:33.33333333333333%;}
.thin-search .mobile-ngts-container{padding:20px 0px 0px 0px;overflow:hidden;}
.thin-search .border-top{border-top:solid #d8d8d8 1px}
.thin-search .mobile-btn-minus-symbol1, .thin-search .mobile-btn-minus-symbol2{width:12px;height:2px;background:#58595b;}
.thin-search .mobile-btn-minus-symbol1{top:23px;left:19px;}
.thin-search .mobile-btn-minus-symbol2{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);left:7px;top:10px}
.thin-search .mobile-btn-minus-symbol2{position:relative;}
.thin-search .mobile-btn-plus, .thin-search .mobile-btn-minus{font-size:33px;width:50px;height:50px;margin-top:0;text-align:center;top:1px;}
.thin-search .mobile-btn-plus-disabled, .thin-search .mobile-btn-minus-disabled{color:#cccccc;cursor:default;}
.thin-search .mobile-ngts-count{font-size:35px;background:none;border:none;color:#58595b}
.thin-search input[type='button']:disabled, .thin-search button:disabled{color#58595b;}
.thin-search .mobile-ngts-label{padding:6px 0px 20px 0px}
.thin-search .mobile-persona-label, .thin-search .mobile-ngts-label, .thin-search .mibile-instruction-text{color:#afb0b1;}
.thin-search .mobile-persona-label{padding-bottom:20px;font-size:12px;}
.thin-search .holidays-title h1, .thin-search .holidays-title span{font-size:20px;}
.thin-search .holidays-title{padding:0px 0px 15px 0px}
.thin-search .holidays-title h1{color:#fff}
.thin-search .holidays-title span{color:#fbdb3e;}
.thin-search .mobile-widget-guests .mobile-ngts-label{padding:6px 0px 0px 0px}
.thin-search .mibile-instruction-text{font-size:12px;padding-bottom:12px;max-width:80%;line-height:15px;}
.thin-search .mobile-dstn-list-wrapper, .thin-search .mobile-dstn-item, .thin-search .mobile-depart-list-wrapper{height:100%;}
.thin-search .mobile-destinations{background:#fff;z-index:112;right:0;top:0px;bottom:0px;width:100%;}
.thin-search .mobile-dstn-header{background:rgba(110,61,124,1);min-height:50px;}
.thin-search .mobile-dstn-header input{border:none;background:none;height:40px;right:0px;left:0px;width:100%;color:#fff;padding:0px 0px 15px 0px;}
.thin-search .mobile-dstn-header ::-webkit-input-placeholder{color:#fff}
.thin-search .mobile-dstn-header .congratulations-close-bar1, .thin-search .mobile-dstn-header .congratulations-close-bar2{background:#fff;width:18px;}
.thin-search .mobile-widget-calendar .congratulations-close-bar1, .thin-search .mobile-widget-calendar .congratulations-close-bar2{background:#58595b;width:18px;left:5px;top:15px;}
.thin-search .mobile-widget-calendar .congratulations-close-icon{top:9px;right:14px;width:32px;height:32px;}
.thin-search .mobile-widget-calendar .congratulations-close-bar2{top:13px;}
.thin-search .mobile-dstn-header .congratulations-close-bar1:hover, .thin-search .mobile-dstn-header .congratulations-close-bar2:hover{background:#fff;}
.thin-search .mobile-hdr-back-arrow{top:19px;left:18px;width:10px;height:10px;z-index:10;border-left:solid #fff 2px;border-bottom:solid #fff 2px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg)}
.thin-search .mobile-header-search{right:70px;left:25px;bottom:10px;top:10px;border-bottom:solid #fff 1px;}
.thin-search .mobile-hdr-arrowbar{border-bottom:solid #fff 2px;width:15px;top:23px;left:19px;}
.thin-search .mobile-back-arrow{left:0px;top:0px;width:50px;height:100%;}
.thin-search .mobile-destinations-show{right:0px;}
.thin-search .mobile-dstn-list-wrapper{overflow-x:auto;}
.thin-search .mobile-dstn-list-wrapper-show, .thin-search .mobile-destinations{transition:all .5s cubic-bezier(0.07, 0.74, 0.43, 1.01);}
.thin-search .mobile-destinations-show{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.thin-search .mobile-flexible, .thin-search .mobile-widget-footer, .thin-search .mobile-calendar-done, .thin-search .mobile-input-button{transition:all .2s ease-in-out;}
.thin-search @keyframes fadein{0%{opacity:0;}100%{opacity:1;}}
.thin-search .item-show{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.thin-search .mobile-dstn-header2{background:#f2f2f2;color:#a3a3a4;font-size:12px;padding:9px 0px 6px 25px}
.thin-search .mobile-dstn-list-name, .thin-search .mobile-search-noresult{padding:10px 0px 5px 25px;}
.thin-search .dstn-search-history{padding:10px 0px 10px 25px;}
.thin-search .dstn-search-history a{margin:10px 0px;overflow:hidden;}
.thin-search .dstn-search-history-icon{width:16px;height:16px;background-position:-4px -62px;top:2px;}
.thin-search .dstn-search-history-label{margin-left:16px;color:#58595b;max-width:80%;}
.thin-search .mobile-dstn-icon{width:12px;height:17px;background-position:-129px -2px;}
.thin-search .mobile-depart-list-wrapper .mobile-dstn-icon{background-position:-105px -2px;width:17px;}
.thin-search .mobile-dstn-list-name{border-bottom:solid #f1f1f2 1px;}
.thin-search .mobile-dstn-label{top:-4px;left:20px;}
.thin-search .mobile-dstn-item{overflow-x:auto;padding-bottom:55px;}
.thin-search .mobile-calendar-btn-clear, .mobile-calendar-btn-cancel, .mobile-calendar-btn-done{font-size:14px;}
.thin-search .mobile-calendar-btn-done{padding-left:20px;}
.thin-search .mobile-calendar-btns{margin-bottom:17px;}
.thin-search .mobile-flexible-container{background:#f2f2f2}
.thin-search .mobile-flexible{padding:14px 0 14px 19px;max-width:230px;}
.thin-search .mobile-calendar-legends{border-top:solid #dedede 1px;padding:11px 0px 3px 3px;margin:3px 2px 0px 3px}
.thin-search .mobile-padding1{padding-left:10px;padding-right:10px;}
.thin-search .mobile-legend-ouline, .mobile-legend-fill1, .mobile-legend-fill2{width:14px;height:14px;border-style:solid;border-width:2px;top:3px;margin-right:5px;}
.thin-search .mobile-legend-ouline{border-color:#9ac854;}
.thin-search .mobile-legend-fill1{border-color:#42b8cd;background-color:#42b8cd}
.thin-search .mobile-legend-fill2{border-color:#9ac854;background-color:#9ac854}
.thin-search .mobile-date-summery{font-size:15px;padding-left:2px;margin-bottom:12px;}
.thin-search .mobile-calendar{padding-bottom:12px;}
.thin-search .mobie-calendar-icon{display:none}
.thin-search .mobile-carousel-nav{background:rgba(0,0,0,0.3);top:90px;z-index:34;overflow:hidden;right:0px;left:0px;}
.thin-search .mobile-nav-item a, .mobile-nav-item span{font-size:14px;color:#fff;padding:15px 0px 11px 0px;margin:0px 15px;text-transform:uppercase;text-decoration:none;letter-spacing:1px;}
.thin-search .mobile-nav-avtive{border-bottom:solid #fbdb3e 2px;}
.thin-search .mobile-carousel-nav-active{background-color:#15294f;}
.thin-search .mobile-nav-container{top:50px;z-index:555;}
.thin-search .mobile-nav-item:first-child{padding-left:4px;}
.thin-search .mobile-nav-item{float:none}
.thin-search .mobile-nav-item-last{padding-right:50px;}
.thin-search .input-destingtion-box{width:160px;border-bottom-left-radius:3px;}
.thin-search .input-depart-box{width:160px;}
.thin-search .input-departing-box{width:138px;}
.thin-search .input-stayfor-box{width:71px}
.thin-search .input-guests-box{width:189px;}
.thin-search .mobile-input-button{color:#fff;padding:10px 0 9px 0px;font-size:18px;border:none;width:136px;}
.thin-search .mobile-input-button:focus{border:none;outline:none}
.thin-search .mobile-input-button:hover{background:#eb6a34;}
.thin-search .mobile-search-fields .clear{clear:inherit}
.thin-search .mobile-search-fields{max-width:1130px;width:100%;}
.thin-search .unavailable-airport-link, .thin-search .unavailable{color:#ddd;}
.thin-search .input-destingtion-box .twitter-typeahead, .thin-search .input-depart-box .twitter-typeahead{width:100%;}
.thin-search .mobile-widget-calendar .congratulations-close-bar1, .thin-search .mobile-widget-calendar .congratulations-close-bar2{width:20px;}
.thin-search .mobile-search-noresult{font-size:18px;color:#58595b}
.thin-search .input-destingtion-box:after, .thin-search .stay-trigger:before, .thin-search .input-depart-box:before, .thin-search  .calendar-trigger:before{content:'';position:absolute;top:12px;background:#dadada;z-index:3;width:1px;bottom:8px;}
.thin-search .input-destingtion-box:after, .thin-search .stay-trigger:before{right:0;bottom:8px;}
.thin-search .input-depart-box:before{right:4px;}
.thin-search  .calendar-trigger:before{right:0;}
.thin-search .mobile-search-container:before{content:'';position:absolute;right:0;bottom:0;left:0;height:72px;box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);}
.thin-search .flexible-date span{overflow:hidden;display:inline-block;white-space:nowrap;font-size:12px;}
.thin-search .tth-checkbox{width:14px;height:15px;margin-right:7px;}
.thin-search .tth-tick-mark{height:8px;width:5px;border-width:1px;left:3px;}
.thin-search .mega-dropdown-items1, .thin-search .mega-dropdown-wrapper{margin:0 auto;}
.thin-search .place-holder-text{left:8px;top:30px;color:#b5b5b5;cursor:text;}
.thin-search .mega-dropdown-wrapper ul{margin:0;padding:0;}
.thin-search .holidays-title h1, .thin-search .holidays-title span{margin:0; line-height:normal; padding:0;}
.thin-search .input-destingtion-box .tt-dataset-destinations, .thin-search .mega-dropdown-items1, .thin-search .mega-dropdown-items2, .thin-search .mega-dropdown-fadein, .thin-search .mega-dropdown-fadein-depart{ position:relative;}
.thin-search .mega-dropdown-wrapper, .thin-search .mega-dropdown-section-header{line-height:normal;}
.thin-search .mega-dropdown-wrapper{min-height:348px;padding:0 20px 0 20px;background:#fff;z-index:33;width:100%;max-width:854px;min-width:854px;left:auto;right:1px;margin-top:1px;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-section-header{margin:0 0 10px 0;padding:0;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-section-header, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-section, .thin-search .mega-dropdown-list-right .mega-dropdown-section-header:hover, .thin-search .mega-dropdown-title, .thin-search .mega-dropdown-bottom-text, .thin-search .spanDefaultDest:hover, .thin-search .spanMostPopDest:hover{color:#58595b;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-left, .thin-search .mega-dropdown-list-right, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-row{padding-top:24px;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-left{width:60%;}
.thin-search .mega-dropdown-items1 .spanDefaultDest, .thin-search .mega-dropdown-items2 .spanAirport, .thin-search .mega-dropdown-list-section ul li{font-size:16px;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport{text-transform:capitalize;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-section .spanDefaultDest, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport{color:#8d8d8d;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-right{max-width:250px;min-width:250px;border-left:solid #f2f2f2 1px;box-sizing:border-box;padding-left:16px;padding-bottom:20px;min-height:418px;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-row{width:100%;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-row{table-layout:fixed;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-row, .thin-search .mega-dropdown-wrapper, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-right{display:table;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-row:first-child{margin-bottom:0;padding-bottom:0}
.thin-search .mega-dropdown-items2 .mega-dropdown-list-row:first-child{padding-bottom:12px;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-row{padding-bottom:13px}
.thin-search .mega-dropdown-wrapper ul li{margin:0 0 13px 0;padding:0;}
.thin-search .mega-dropdown-wrapper ul li a{color:#8d8d8f;}
.thin-search .mega-dropdown-wrapper ul li a, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport{font-size:16px;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-row .mega-dropdown-list-section, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{width:33%;}
.thin-search .mega-dropdown-wrapper ul li, .thin-search .mega-dropdown-wrapper a{list-style:none;text-decoration:none;outline:none;}
.thin-search .mega-dropdown-wrapper ul li a:hover, .thin-search .mega-dropdown-wrapper .mega-dropdown-section-header:hover{color:#1cb2c8;}
.thin-search .mega-dropdown-wrapper .bottom-border{border-bottom:solid #b7b7b7 1px}
.thin-search .mega-dropdown-wrapper{box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);}
.thin-search .mega-dropdown-wrapper .mega-dropdown-section-header, .thin-search .mega-dropdown-title{font-size:18px;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-left, .thin-search .mega-dropdown-list-section{float:left}
.thin-search .mega-dropdown-wrapper{position:absolute;}
.thin-search .mega-dropdown-wrapper .mega-dropdown-list-left, .thin-search .mega-dropdown-wrapper{overflow:hidden;}
.thin-search .mega-dropdown-wrapper, .thin-search .mega-dropdown-list-section .spanAirport, .thin-search .spanDefaultDest, .thin-search .spanMostPopDest{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.thin-search .mega-dropdown-wrapper ul li a, .thin-search .mega-dropdown-wrapper .mega-dropdown-section-header, .thin-search .mega-dropdown-fadein, .thin-search .mega-dropdown-fadein-depart{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.thin-search .mega-dropdown-wrapper{display:none;}
.thin-search .mega-dropdown-fadein, .thin-search .mega-dropdown-fadein-depart{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.thin-search .mega-dropdown-items1 .mega-dropdown-list-section{min-height:165px;}
.thin-search .mega-dropdown-list-right .mega-dropdown-section-header, .thin-search .mega-dropdown-title, .thin-search .mega-dropdown-section-header{font-weight:bold;}
.thin-search .mega-dropdown-list-right .mega-dropdown-section-header:hover{cursor:default;}
.thin-search .mega-dropdown-list-right{float:right;}
.thin-search .mega-dropdown-title{margin-bottom:20px;}
.thin-search .mega-dropdown-title{display:block;}
.thin-search .mega-dropdown-bottom-text{margin-bottom:19px;font-size:14px;background:#eee;padding:5px 10px;}
.thin-search .mega-dropdown-bottom-text{clear:both;}
.thin-search .mega-dropdown-bottom-text{display:inline-block;}
.thin-search .mega-dropdown-list-section .spanAirport:hover{color:#1cb2c8;}
.thin-search .mega-dropdown-list-section .spanAirport, .thin-search .mega-dropdown-section-header, .thin-search .spanDefaultDest, .thin-search .spanMostPopDest{cursor:pointer;}
.thin-search .input-destingtion-box .tt-dataset-destinations, .thin-search .input-depart-box .tt-dataset-airports{top:15px;left:11px;}
.thin-search .tt-hint {color: #999;opacity: 0;background-color: #fff;}
.thin-search .tt-suggestions div{line-height:normal;font-size:16px;}
.thin-search .tt-dropdown-menu .most-popular-list, .thin-search .input-depart-box .tt-dataset-airports{ position:relative;}
.thin-search .tt-dropdown-menu .most-popular-list, .thin-search .search-departureAir .tt-dataset-airports, .thin-search .tt-dataset-destinations, .thin-search .tt-dataset-hotels{color:#58595b;}
.thin-search .tt-dropdown-menu .most-popular-list{font-weight:bold}
.thin-search .tt-dropdown-menu{box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);}
.thin-search .tt-dropdown-menu .most-popular-list{font-size:18px;}
.thin-search .tt-suggestions div.tt-suggestion p{color:#58595b;}
.thin-search .tt-suggestions div:hover{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;color:#1cb2c8;	}
.thin-search .tt-dataset-destinations, .thin-search .tt-dataset-destinations div, .thin-search .tt-dataset-airports, .thin-search .tt-dataset-airports div{ background:none ;}
.thin-search .tt-dropdown-menu .most-popular-list{display:block;}
.thin-search .datepicker table tr td.today.disabled, .thin-search .datepicker table tr td.today.disabled:hover, .thin-search .datepicker table tr td.enabledDates.disabled{background:none ;border: 5px solid #fff;color: #58595b ;}
.thin-search .datepicker table tr td.active, .thin-search .datepicker table tr td.active.enabledDates{background:#9ac854 ;color: #fff; border:none;}
.thin-search .datepicker table tr td.enabledDates {background-color: #42b8cd ;border-color: #fff ;color: #fff ;}
.thin-search .tt-dropdown-menu {background:none ;border: medium none;margin-top: 10px;padding: 8px 0;width: 250px;}
.thin-search .tt-dropdown-menu{padding:8px 0 ;margin-top:10px;}
.thin-search .tt-dropdown-menu p{margin:0 0 10px ;font-weight:300;line-height:24px;}
.thin-search .tt-empty-template, .thin-search .tt-dataset-destinations p, .thin-search .tt-suggestion{ margon-left:0 ; left:0 ;padding-left:0 ;}
.thin-search .search-by-time-price-box{ width:100%; position:fixed;}
.thin-search .time-price{background: #fff;border-radius: 4px;box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);width: 432px; max-width:96%;overflow: hidden; margin:0 auto; left:0;right:0; position:absolute;}
.thin-search .search-by-time-price-box{width:100%;height:0px;z-index:0;left:0px;right:0px;opacity:0;}
.thin-search .late-deals label.heading{ font-weight:normal ; font-family:proximanova-semibold ;}
.thin-search .late-deals #inpPrice{ height:auto;}
.thin-search .late-deals #inpPrice > span{ margin:0; padding:6px 0 0;}
.thin-search .datepicker table tr td span.active.month, .thin-search .datepicker table tr td span:hover{background:none ; color:#5a5a5a; font-weight:normal ;}
.thin-search .datepicker table tr td{ text-shadow:none ;}

/* Search History */
.thin-search .search-history{border:solid #fff 1px;padding:5px 41px 3px 10px;margin-top:15px;max-width:200px;}
.thin-search .search-history-label{color:#fff;font-size:14px;}
.thin-search .search-history-icon{width:22px;height:17px;top:7px;right:5px;;background-position:-420px -80px;}

/* Calendar */
.thin-search .datepicker table tr td span{width:23%;height:54px;line-height:54px;float:left;margin:1%;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.thin-search .datepicker-inline{width:100%;padding:0px;}
.thin-search .datepicker-days{padding:0px;}
.thin-search .table-condensed > thead > tr > th, .thin-search .table-condensed > tbody > tr > th, .thin-search .table-condensed > tfoot > tr > th, .thin-search .table-condensed > thead > tr > td, .thin-search .table-condensed > tbody > tr > td, .thin-search .table-condensed > tfoot > tr > td{padding:7px 8px;border:solid #fff 5px;text-align:center;}
.thin-search .enabledDates{background-color:#42b8cd;border-radius:0px;color:#fff;}
.thin-search .table-condensed .next, .thin-search .table-condensed .prev{color:#fff;font-size:0px;}
.thin-search .table-condensed .next:before, .thin-search .table-condensed .prev:before{content:'';width:15px;height:15px;top:0px;}
.thin-search .table-condensed .next:before, .thin-search .table-condensed .prev:before, .thin-search .datepicker table tr td.today.disabled, .thin-search .mobile-search-container, .thin-search .mobile-search-fields, .thin-search .noflightsavailable, .thin-search .dstn-search-history-icon, .thin-search .dstn-search-history-label, .thin-search .mobile-btn-plus, .thin-search .mobile-btn-minus, .thin-search .mobile-widget-calendar{position:relative;}
.thin-search .datepicker table tr td.today.disabled:before, .thin-search .mobile-search-validation, .thin-search .mobile-search-validation:before, .thin-search .bgnd-video, .search-history-icon, .thin-search .search-history-icon, .thin-search .bgnd-video-frame:before, .thin-search .mobile-search-fields .owl-controls, .thin-search .mega-dropdown-wrapper{position:absolute;}
.thin-search .table-condensed .next:before{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);border-right:solid #808183 1px;border-bottom:solid #808183 1px;}
.thin-search .table-condensed .prev:before{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);border-left:solid #808183 1px;border-bottom:solid #808183 1px;}
.thin-search .datepicker .datepicker-switch:hover, .thin-search .datepicker .next:hover, .thin-search .datepicker .prev:hover, .thin-search .datepicker tfoot tr th:hover{background:none}
.thin-search .datepicker table tr td.active{background:#9ac854;color:#fff;}
.thin-search .datepicker table tr td.today.disabled{color:#58595b;}
.thin-search .datepicker table tr td.today.disabled:before{content:'';width:100%;height:100%;border:solid #9ac854 2px;top:0px;left:0px;}
.thin-search .datepicker table tr td.disabled, .thin-search .datepicker table tr td.disabled:hover{background:none;color:#999;cursor:default}
.thin-search .mobile-search-validation{bottom:-36px;left:0px;right:0px;padding:8px 10px;z-index:5;color:#fff;background:#da5964;box-shadow:0px 7px 16px rgba(0,0,0,0.2);}
.thin-search .mobile-search-validation:before{width:10px;height:10px;top:-5px;left:10px;content:'';background:#da5964;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);}
.thin-search .datepicker-switch{min-width:185px;}


/* Fire Fox Only */
@-moz-document url-prefix() {
  .thin-search .disabled::before{left:-3px;top:-3px;}
  .thin-search .mega-dropdown-wrapper{top:113px}
}

@media (max-width:1024px){
	.thin-search .mobile-input{font-size:13px}
	.thin-search .mega-dropdown-items1, .mega-menu-wrapper{width:100%;}
}

@media (max-width: 991px){
	.thin-search .mega-dropdown-wrapper .mega-dropdown-list-right{position:absolute;top:0;right:0;}
	.thin-search .mega-dropdown-wrapper .mega-dropdown-list-left{width:66%;}
	.thin-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{width:33%;}
	.thin-search .late-deals #inpPrice > span{display:inline-block ;}
	.thin-search .input-destingtion-box{width:140px;border-bottom-left-radius:0;}
	.thin-search .input-depart-box{width:110px;}
	.thin-search .input-departing-box{width:109px;}
	.thin-search .input-guests-box{width:156px;}
	.thin-search .mobile-input-button{width:109px;}
	.thin-search .mobile-search-container{width:695px;}
	.thin-search .elastic-wrapper{padding:0;}
	.thin-search .mega-dropdown-wrapper{max-width:694px;min-width:694px;}
}

@media(max-width:767px){
	.thin-search .homepage .search-holiday-wrapper, .thin-search .mobile-option-reset, .thin-search .search-history, .thin-search .mobile-input, .thin-search .input-destingtion-box .thin-search .input-depart-box .thin-search .holidays-title, .thin-search .for-desktop{display:none;}
	.thin-search .dstn-search-history{display:none;}
	.thin-search .mobile-input-group{float:none;}
	.thin-search .mobile-carousel-nav, .thin-search .input-depart-box .mobile-nghts-value, .thin-search .input-destingtion-box .mobile-nghts-value, .thin-search .mbl-click-callus{display:block;}
	.thin-search .for-mobile-devices{display:inline-block;}
	.thin-search .input-destingtion-box, .thin-search .input-depart-box, .thin-search .input-guests-box, .thin-search .mobile-input-button{width:100%;}
	.thin-search .mobile-search-fields .clear{clear:both}
	.thin-search .mobile-input-group{margin:8px 0px 8px 0px}
	.thin-search .mobile-input-group-split-2{width:71%;}
  .thin-search .input-stayfor-box{width:25.8%;margin-right:0px;}
	.thin-search .mobile-nghts-value{min-height:initial;line-height:initial;}
	.thin-search .mobile-children-cnt, .thin-search .mobile-nghts-value, .thin-search .mobile-adult-cnt{font-size:15px;}

	.thin-search .input-item-selected{color:#58595b}
	.thin-search .mobile-input-group, .thin-search .mobile-date-picker, .thin-search .mobile-stay-for{padding:3px 10px 0 10px}
	.thin-search .margin-right1{margin:0 3% 0 0}
	.thin-search .mobile-children-cnt{display:inline;}
	.thin-search .mobile-search-fields{width:100%;max-width:100%;}
	.thin-search .mobile-input-button{min-height:initial;height:initial;padding:10px 0 10px 0;font-size:20px;box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);margin:0 0 10px 0;}
	.thin-search .mobile-search-container{height:442px;width:100%;float:none;}
	.thin-search .input-destingtion-box .mobile-nghts-value, .thin-search .input-depart-box .mobile-nghts-value, .thin-search .input-departing-box .mobile-nghts-value, .thin-search .input-stayfor-box .mobile-nghts-value{top:0px;}
	.thin-search .mobile-widget-calendar{width:288px;}
	.thin-search .mobile-input, .thin-search .mobile-nghts-value, .thin-search .place-holder-text{padding:0}
	.thin-search .noflightsavailable{top:-4px;left:21px;}
	.thin-search .table-condensed > thead > tr > th, .thin-search .table-condensed > tbody > tr > th, .thin-search .table-condensed > tfoot > tr > th, .thin-search .table-condensed > thead > tr > td, .thin-search .table-condensed > tbody > tr > td, .thin-search .table-condensed > tfoot > tr > td{min-width:37px;padding:3px 0px 3px 0px;}
	.thin-search .mobile-destinations .congratulations-close-icon{top:14px;right:21px;}
	.thin-search .stop-body-scroll{overflow:hidden}
	.thin-search .deals-main-row{min-height:auto;}
	.thin-search .mobie-calendar-icon{bottom:11px;}
	.thin-search .mobie-down-arrow{bottom:14px;}
  .thin-search .input-destingtion-box, .thin-search .input-depart-box, .thin-search .input-guests-box, .thin-search .mobile-input-button{width:100% ;}
  .thin-search .elastic-wrapper{padding:0 18px;}
  .thin-search .input-destingtion-box:after, .thin-search .stay-trigger:before, .thin-search .input-depart-box:before, .thin-search  .calendar-trigger:before{display:none;}
  .thin-search .mega-dropdown-wrapper .mega-dropdown-list-right{border-top:solid #f2f2f2 1px;border-left:none;padding-left:0;padding-top:25px;}
  .thin-search .mega-dropdown-wrapper .mega-dropdown-list-right, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{max-width:90%;width:100%;}
  .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{float:none;}
  .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-right{display:block;}
  .thin-search .mega-dropdown-wrapper{top:-326px;}
  .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{margin-top:30px;}
  .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left, .thin-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section:first-child{margin-top:0;}
  .thin-search .theme-footer-social .theme-footer-social-icons, .thin-search .theme-footer-social ul li a .fa-rss, .thin-search .theme-footer-social ul li a .fa-facebook {left: initial;}
  .thin-search .time-price{max-width:96%;}
  .thin-search .search-by-time-price-box{ top:40px ;}
  .thin-search .late-deals .input-departing-box{ width:51% ;}
  .thin-search .late-deals .input-stayfor-box{ width:47.8%;}
  .thin-search .late-deals label.heading{ background:none ;}
  .thin-search .late-deals #inpPrice > span{ margin:0 ; display:inline-block;}
  .thin-search .late-deals .input-departing-box{ padding:8px 10px;}
  .thin-search .late-deals #inpPrice > span{padding:2px 0 0;}
  .thin-search .mobile-widget-guests .mobile-ngts-label{padding:0px 0px 0px 0px;}
  .thin-search #destredirectlnk ul li a {font-size:11px;}
	.thin-search .mobile-calendar-btns{margin-bottom:7px;}
	.thin-search .mobile-calendar{padding-bottom:6px;}
	.thin-search .mobile-calendar-header{padding:11px 15px 16px 14px;}
	.thin-search .mobile-widget-header, .thin-search .mobile-widget-footer{padding:10px 0px;}
	.thin-search .mobile-persona-label{padding-bottom:8px;}
	.thin-search .mobile-ngts-container{padding:3px 0px 0px 0px;}
	.thin-search .mobile-widget-overlay, .thin-search .mobile-widget-stayfor, .thin-search .mobile-widget-guests{width:210px;}
	.thin-search .datepicker-switch{min-width:175px;}
  .thin-search  .mobile-input-button, .mobile-input-group-split-2, .thin-search .mobile-input-group{max-height:44px;height:44px;}
  .thin-search .mobile-search-container:before{display:none;}
  .thin-search .flexible-date{bottom:-2px;}
  .thin-search .flexible-date span{padding-top:2px;}
}

/* IE 10 Windows Phones */
@media screen and (min-width:0\0) {
	.thin-search .mobile-search-container{height:490px;}
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari only override */
    .thin-search ::i-block-chrome,.main-holidays-search .mobile-input{padding:17px 0px 0px 0px;}
}
