.org-search input:-ms-input-placeholder{color:#a9a9a9;}
.org-search .tt-suggestion{min-width:300px}
.org-search .tth-col-md-4 ::selection, .org-search .tth-col-md-4 ::-webkit-selection, .org-search .tth-col-md-4 ::-moz-selection, .org-search .tth-col-md-4 ::-o-selection, .org-search .mobile-widget-guests{background:none}
.org-search .tth-col-md-4, .org-search .mobile-widget-guests, .org-search .mobile-widget-stayfor, .org-search .mobile-widget-calendar, .org-search .happy-customer-main-bar{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.org-search #mouseSwipeScroll a:hover, .org-search #mouseSwipeScroll a:focus{color:#fff}
.org-search .mobile-nav-item a:hover, .org-search .mobile-nav-item a:focus{color:#fff;}
.org-search .dinline, .org-search .mobile-dstn-icon, .org-search .mobile-dstn-label, .org-search .mobile-legend-ouline, .org-search .mobile-legend-label, .org-search .mobile-legend-fill1, .org-search .mobile-legend-fill2, .org-search .mobile-nav-item a, .org-search .mobile-nav-item span, .org-search .mobile-nav-item, .org-search .holidays-title span, .org-search .mobile-tick-box, .org-search .mobile-flexible-label, .org-search .feefo-logo1, .org-search .feefo-logo2, .org-search .dstn-search-history-icon{display:inline-block;}
.org-search .mobile-legend-label{font-size:12px;}
.org-search .mobile-input-label{color:#9ac854;font-size:14px;}
.org-search .mobile-search-container{padding-top:163px;z-index:33;}
.org-search .mobile-input-group, .org-search .mobile-date-picker, .org-search .mobile-stay-for{padding:9px 10px;}
.org-search .mobile-input-group-split-2, .org-search .mobile-input-group{background:#fff;max-height:63px;}
.org-search .mobile-input-group-split-2, .org-search .tth-col-md-4, .org-search .mobile-calendar-btn-clear, .org-search .mobile-legends-item, .org-search .mobile-input-group{float:left;}
.org-search .mobile-calendar-btn-cancel, .org-search .mobile-calendar-btn-done{float:right;}
.org-search .mobile-tick-box{width:17px;height:17px;border:solid #9bc95a 2px;top:2px;background:#9bc95a;}
.org-search .mobile-tick-box-fill{background:none;}
.org-search .mobile-flexible-label{top:1px;padding-left:10px;}
.org-search .mobile-tick-mark{width:6px;height:10px;border-right:solid #fff 2px;border-bottom:solid #fff 2px;transform:rotate(38deg);-moz-transform:rotate(38deg);-o-transform:rotate(38deg);-ms-transform:rotate(38deg);-webkit-transform:rotate(38deg);top:0px;left:4px;}
.org-search .mobile-flexible-label, .org-search .mobile-input{font-size:14px}
.org-search .mobile-input, .org-search .mobile-nghts-value, .org-search .place-holder-text{padding:6px 0px 0px 0px;height:auto;width:100%;}
.org-search .mobile-widget-footer, .org-search .mobile-date-summery, .org-search .mobile-nav-item a, .org-search .mobile-nav-item span, .org-search .mobile-nav-item{font-weight:bold;}
.org-search input:focus, .org-search button:focus{box-shadow:none;outline:none}
.org-search .mobie-down-arrow{bottom:16px;right:18px;width:9px;height:9px;border-bottom:solid #58595b 2px;border-right:solid #58595b 2px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.org-search .mobile-hot-box1{top:0px;right:0px;width:55px;height:100%;}
.org-search ::-webkit-input-placeholder, .org-search .mobile-input, .org-search .mobile-nghts-value, .org-search ::-moz-placeholder, .org-search ::-ms-input-placeholder, .org-search .mobile-calendar-btn-clear{color:#58595b}
.org-search ::-webkit-input-placeholder{color:#a9a9a9;}
.org-search .mobile-option-reset{width:17px;height:17px;border:solid #cdcdce 1px;-webkit-border-radius:100px;-moz-border-radius:100px;-ms-border-radius:100px;border-radius:100px;top:10px;right:10px;}
.org-search .mobile-option-reset, .org-search .day, .org-search .mobile-calendar-btn-done, .org-search .mobile-calendar-btn-clear, .org-search .mobile-calendar-btn-cancel, .org-search .mobile-flexible, .org-search .mobile-input-group-split-2, .org-search .input-guests-box, .org-search .search-history, .org-search .mobile-widget-footer, .org-search .mobile-btn-plus, .org-search .mobile-btn-minus, .org-search .next, .org-search .prev, .org-search .mobile-calendar-done, .org-search .datepicker table tr td span, .org-search .mobile-input-group .twitter-typeahead, .org-search .datepicker-switch{cursor:pointer}
.org-search .mobie-close-icon1, .org-search .mobie-close-icon2{border-right:solid #cdcdce 1px;height:9px;top:3px;left:7px;}
.org-search .mobie-close-icon2{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.org-search .mobie-close-icon1{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.org-search .mobile-input-button{color:#fff;padding:10px 0 9px 0px;font-size:20px;border:none;width:17%;min-height:63px;height:63px;text-transform:uppercase;}
.org-search .mobile-input-button:focus{border:none;outline:none}
.org-search .mobile-input-button:hover{background:#eb6a34;}
.org-search .mobile-widget-header, .org-search .mobile-widget-footer, .org-search .mobile-input-button, .org-search .mobile-ngts-label, .org-search .mobile-persona-label, .org-search .mibile-instruction-text span, .org-search .mobile-carousel-nav{text-align:center}
.org-search .mobile-widget-overlay{z-index:130;right:0px;left:0px;top:125px;opacity:0;}
.org-search .mobile-widget-calendar{width:303px;}
.org-search .mobile-widget-stayfor, .org-search .mobile-widget-guests{width:250px;overflow:hidden;}
.org-search .mobile-calendar-wrapper, .org-search .mobile-stayfor-wrapper, .org-search .mobile-guests-wrapper{width:100%;height:0px;z-index:130;left:0px;right:0px;opacity:0;}
.org-search .mobile-calendar-wrapper, .org-search .mobile-guests-wrapper{top:70px;}
.org-search .mobile-stayfor-wrapper{top:125px;}
.org-search .mobile-widget-overlay-layer{background:rgba(0,0,0,0.5);z-index:115}
.org-search .mobile-widget-overlay-layer, .org-search .mobile-widget-overlay, .org-search .mobile-stayfor-wrapper, .org-search .mobile-guests-wrapper, .org-search .mobile-destinations, .org-search .mobile-calendar-wrapper{position:fixed;}
.org-search .mobile-widget-overlay-layer{top:0px;right:0px;bottom:0px;left:0px;}
.org-search .mobile-widget-overlay, .org-search .mobile-widget-overlay-layer, .org-search .mobile-stayfor-wrapper, .org-search .mobile-guests-wrapper, .org-search .mobile-dstn-list-wrapper, .org-search .mobile-depart-list-wrapper, .org-search .mobile-calendar-wrapper, .org-search .mobile-search-validation, .org-search .mobile-carousel-nav, .org-search .date-key, .org-search .key, .org-search .input-depart-box .mobile-nghts-value, .org-search .input-destingtion-box .mobile-nghts-value, .org-search .search-history, .org-search .hp-location-wrapper, .org-search .hp-locations-overlay, .org-search #hp-warning-location, .org-search .mobile-date-summery, .org-search .mobile-search-noresult, .org-search .mobile-destinations, .org-search .for-mobile-devices, .org-search .back-to-top{display:none;}
.org-search .mobile-input, .org-search .mobile-input-label, .org-search .mobile-option-reset, .org-search .mobile-widget-header, .org-search .mobile-widget-footer, .org-search .mobile-btn-minus-symbol1, .org-search .mobile-btn-minus-symbol2, .org-search .mobile-ngts-label, .org-search .mobile-nghts-value, .org-search .mibile-instruction-text span, .org-search .mobile-dstn-header2, .org-search .item-show, .org-search .table-condensed .next:before, .org-search .table-condensed .prev:before, .org-search .datepicker table tr td.today.disabled:before, .org-search .table-condensed .next:before, .org-search .table-condensed .prev:before, .org-search .mobile-search-validation:before, .org-search .datepicker table tr td span, .org-search .mobile-calendar-done, .org-search .mobile-destinations-show, .org-search .mobile-flexible{display:block;}
.org-search .mobile-widget-table{table-layout:fixed;display:table;height:100%;width:250px;}
.org-search .mobile-search-fields, .org-search .mobile-widget-table, .org-search .mobile-widget-calendar, .org-search .mobile-widget-overlay, .org-search .mobile-widget-stayfor, .org-search .mobile-widget-guests, .org-search .mibile-instruction-text{margin:0 auto;}
.org-search .mobile-widget-middle{display:table-cell;vertical-align:middle;}
.org-search .mobile-widget-stayfor, .org-search .mobile-widget-guests, .org-search .mobile-widget-calendar{background:#fff;box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.5);-ms-box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.5);}
.org-search .mobile-widget-header{background:#f0f1f1;}
.org-search .mobile-widget-header, .org-search .mobile-ngts-label, .org-search .mobile-persona-label, .org-search .mobile-dstn-label, .org-search .mobile-dstn-header input, .org-search .dstn-search-history-label{font-size:16px;}
.org-search .mobile-widget-header, .org-search .mobile-widget-footer{padding:12px 0px;}
.org-search .mobile-calendar-header{padding:10px 15px 14px 15px}
.org-search .mobile-widget-footer{width:90%;margin:0 auto 10px auto;font-size:16px;}
.org-search .mobile-widget-footer:hover, .org-search .mobile-calendar-done:hover{background:#89B543;}
.org-search .mobile-calendar-done{background:#9ac854;padding:10px;margin:10px 3px 0px 3px;text-align:center;}
.org-search .mobile-widget-footer, .org-search .mobile-calendar-btn-done, .org-search .mobile-calendar-done{color:#fff;}
.org-search .tth-col-md-4{width:33.33333333333333%;}
.org-search .mobile-ngts-container{padding:20px 0px 0px 0px;overflow:hidden;}
.org-search .border-top{border-top:solid #d8d8d8 1px}
.org-search .mobile-btn-minus-symbol1, .org-search .mobile-btn-minus-symbol2{width:12px;height:2px;background:#58595b;}
.org-search .mobile-btn-minus-symbol1{top:23px;left:19px;}
.org-search .mobile-btn-minus-symbol2{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);left:7px;top:10px}
.org-search .mobile-btn-minus-symbol2{position:relative;}
.org-search .mobile-btn-plus, .org-search .mobile-btn-minus{font-size:33px;width:50px;height:50px;margin-top:0;text-align:center;top:1px;}
.org-search .mobile-btn-plus-disabled, .org-search .mobile-btn-minus-disabled{color:#cccccc;cursor:default;}
.org-search .mobile-ngts-count{font-size:35px;background:none;border:none;color:#58595b}
.org-search input[type='button']:disabled, .org-search button:disabled{color:#58595b;}
.org-search .mobile-ngts-label{padding:6px 0px 20px 0px}
.org-search .mobile-persona-label, .org-search .mobile-ngts-label, .org-search .mibile-instruction-text{color:#afb0b1;}
.org-search .mobile-persona-label{padding-bottom:20px;font-size:12px;}
.org-search .mobile-adult-cnt, .org-search .mobile-nghts-value, .org-search .mobile-children-cnt, .org-search .holidays-title, .org-search .search-history-label, .org-search .mobile-input, .org-search .mobile-calendar-btn-clear, .org-search .mobile-calendar-btn-cancel, .org-search .mobile-calendar-btn-done, .org-search .mobile-input-label, .org-search .mobile-input-button, .org-search .place-holder-text{font-family:proximanova-semibold}
.org-search .holidays-title h1, .org-search .holidays-title span{font-size:20px;}
.org-search .holidays-title{padding:0px 0px 15px 0px}
.org-search .holidays-title h1{color:#fff}
.org-search .holidays-title span{color:#fbdb3e;}
.org-search .mobile-widget-guests .mobile-ngts-label{padding:6px 0px 0px 0px}
.org-search .mibile-instruction-text{font-size:12px;padding-bottom:12px;max-width:80%;line-height:15px;}
.org-search .no-top-margin{margin-top:0px;}
.org-search .mobile-dstn-list-wrapper, .org-search .mobile-dstn-item, .org-search .mobile-depart-list-wrapper{height:100%;}
.org-search .mobile-destinations{background:#fff;z-index:112;right:0;top:0px;bottom:0px;width:100%;}
.org-search .mobile-dstn-header{background:rgba(110,61,124,1);min-height:50px;}
.org-search .mobile-dstn-header input{border:none;background:none;height:40px;right:0px;left:0px;width:100%;color:#fff;padding:0px 0px 15px 0px;}
.org-search .mobile-dstn-header ::-webkit-input-placeholder{color:#fff}
.org-search .mobile-dstn-header .congratulations-close-bar1, .org-search .mobile-dstn-header .congratulations-close-bar2{background:#fff;width:18px;}
.org-search .mobile-widget-calendar .congratulations-close-bar1, .org-search .mobile-widget-calendar .congratulations-close-bar2{background:#58595b;width:18px;left:5px;top:15px;}
.org-search .mobile-widget-calendar .congratulations-close-icon{top:9px;right:14px;width:32px;height:32px;}
.org-search .mobile-widget-calendar .congratulations-close-bar2{top:13px;}
.org-search .mobile-dstn-header .congratulations-close-bar1:hover, .org-search .mobile-dstn-header .congratulations-close-bar2:hover{background:#fff;}
.org-search .mobile-hdr-back-arrow{top:19px;left:18px;width:10px;height:10px;z-index:10;border-left:solid #fff 2px;border-bottom:solid #fff 2px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg)}
.org-search .mobile-header-search{right:70px;left:25px;bottom:10px;top:10px;border-bottom:solid #fff 1px;}
.org-search .mobile-hdr-arrowbar{border-bottom:solid #fff 2px;width:15px;top:23px;left:19px;}
.org-search .mobile-back-arrow{left:0px;top:0px;width:50px;height:100%;}
.org-search .mobile-destinations-show{right:0px;}
.org-search .mobile-dstn-list-wrapper{overflow-x:auto;}
.org-search .mobile-dstn-list-wrapper-show, .org-search .mobile-destinations{transition:all .5s cubic-bezier(0.07, 0.74, 0.43, 1.01);}
.org-search .mobile-destinations-show{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.org-search .mobile-flexible, .org-search .mobile-widget-footer, .org-search .mobile-calendar-done, .org-search .mobile-input-button{transition:all .2s ease-in-out;}
.org-search @keyframes fadein{0%{opacity:0;}100%{opacity:1;}}
.org-search .item-show{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.org-search .mobile-dstn-header2{background:#f2f2f2;color:#a3a3a4;font-size:12px;padding:9px 0px 6px 25px}
.org-search .mobile-dstn-list-name, .org-search .mobile-search-noresult{padding:10px 0px 5px 25px;}
.org-search .dstn-search-history{padding:10px 0px 10px 25px;}
.org-search .dstn-search-history a{margin:10px 0px;overflow:hidden;}
.org-search .dstn-search-history-icon{width:16px;height:16px;background-position:-4px -62px;top:2px;}
.org-search .dstn-search-history-label{margin-left:16px;color:#58595b;max-width:80%;}
.org-search .mobile-dstn-icon{width:12px;height:17px;background-position:-129px -2px;}
.org-search .mobile-depart-list-wrapper .mobile-dstn-icon{background-position:-105px -2px;width:17px;}
.org-search .mobile-dstn-list-name{border-bottom:solid #f1f1f2 1px;}
.org-search .mobile-dstn-label{top:-4px;left:20px;}
.org-search .mobile-dstn-item{overflow-x:auto;padding-bottom:55px;}
.org-search .mobile-calendar-btn-clear, .mobile-calendar-btn-cancel, .mobile-calendar-btn-done{font-size:14px;}
.org-search .mobile-calendar-btn-done{padding-left:20px;}
.org-search .mobile-calendar-btns{margin-bottom:17px;}
.org-search .mobile-flexible-container{background:#f2f2f2}
.org-search .mobile-flexible{padding:14px 0 14px 19px;max-width:230px;}
.org-search .mobile-calendar-legends{border-top:solid #dedede 1px;padding:11px 0px 3px 3px;margin:3px 2px 0px 3px}
.org-search .mobile-padding1{padding-left:10px;padding-right:10px;}
.org-search .mobile-legend-ouline, .mobile-legend-fill1, .mobile-legend-fill2{width:14px;height:14px;border-style:solid;border-width:2px;top:3px;margin-right:5px;}
.org-search .mobile-legend-ouline{border-color:#9ac854;}
.org-search .mobile-legend-fill1{border-color:#42b8cd;background-color:#42b8cd}
.org-search .mobile-legend-fill2{border-color:#9ac854;background-color:#9ac854}
.org-search .mobile-date-summery{font-size:15px;padding-left:2px;margin-bottom:12px;}
.org-search .mobile-calendar{padding-bottom:12px;}
.org-search .mobie-calendar-icon{width:14px;height:17px;background-position:-151px -2px;bottom:13px;right:13px;}
.org-search .mobie-calendar-icon i{color:#9ac854}
.org-search .mobile-carousel-nav{background:rgba(0,0,0,0.3);top:90px;z-index:34;overflow:hidden;right:0px;left:0px;}
.org-search .mobile-nav-item a, .mobile-nav-item span{font-size:14px;color:#fff;padding:15px 0px 11px 0px;margin:0px 15px;text-transform:uppercase;text-decoration:none;letter-spacing:1px;}
.org-search .mobile-nav-avtive{border-bottom:solid #fbdb3e 2px;}
.org-search .mobile-carousel-nav-active{background-color:#15294f;}
.org-search .mobile-nav-container{top:50px;z-index:555;}
.org-search .mobile-nav-item:first-child{padding-left:4px;}
.org-search .mobile-nav-item{float:none}
.org-search .mobile-nav-item-last{padding-right:50px;}
.org-search .input-destingtion-box{width:23%;}
.org-search .input-depart-box{width:19.5%;}
.org-search .input-departing-box{width:12%;min-height:63px;}
.org-search .input-stayfor-box{width:8%;margin-right:1px;}
.org-search .input-guests-box{width:20%;}
.org-search .mobile-search-fields .clear{clear:inherit}
.org-search .mobile-input-group, .org-search .margin-right1{margin:0px 1px 0px 0px;}
.org-search .mobile-search-fields{max-width:1130px;width:100%;}
.org-search .unavailable-airport-link, .org-search .unavailable{color:#ddd;}
.org-search .input-destingtion-box .org-search .mobile-nghts-value, .org-search .input-depart-box .mobile-nghts-value, .org-search .input-departing-box .mobile-nghts-value, .org-search .input-stayfor-box .mobile-nghts-value, .org-search .mobile-input{text-transform:uppercase}
.org-search .input-destingtion-box .twitter-typeahead, .org-search .input-depart-box .twitter-typeahead{width:100%;}
.org-search .mobile-widget-calendar .congratulations-close-bar1, .org-search .mobile-widget-calendar .congratulations-close-bar2{width:20px;}
.org-search .mobile-search-noresult{font-size:18px;color:#58595b}

/* Repeated */
.org-search .mega-dropdown-items1, .org-search .mega-dropdown-wrapper{margin:0 auto;}
.org-search .place-holder-text{left:8px;top:30px;color:#b5b5b5;cursor:text;}

/* Fire Fox Only */
@-moz-document url-prefix() {
  .org-search .disabled::before{
    left:-3px;top:-3px;
  }
  .org-search .mega-dropdown-wrapper{top:113px}
}



/* Search History */
.org-search .search-history{border:solid #fff 1px;padding:5px 41px 3px 10px;margin-top:15px;max-width:200px;}
.org-search .search-history-label{color:#fff;font-size:14px;}
.org-search .search-history-icon{width:22px;height:17px;top:7px;right:5px;;background-position:-420px -80px;}

/* Calendar */
.org-search .datepicker table tr td span{width:23%;height:54px;line-height:54px;float:left;margin:1%;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.org-search .datepicker-inline{width:100%;padding:0px;}
.org-search .datepicker-days{padding:0px;}
.org-search .table-condensed > thead > tr > th, .org-search .table-condensed > tbody > tr > th, .org-search .table-condensed > tfoot > tr > th, .org-search .table-condensed > thead > tr > td, .org-search .table-condensed > tbody > tr > td, .org-search .table-condensed > tfoot > tr > td{padding:7px 8px;border:solid #fff 5px;text-align:center;}
.org-search .enabledDates{background-color:#42b8cd;border-radius:0px;color:#fff;}
.org-search .table-condensed .next, .org-search .table-condensed .prev{color:#fff;font-size:0px;}
.org-search .table-condensed .next:before, .org-search .table-condensed .prev:before{content:'';width:15px;height:15px;top:0px;}
.org-search .table-condensed .next:before, .org-search .table-condensed .prev:before, .org-search .datepicker table tr td.today.disabled, .org-search .mobile-search-container, .org-search .mobile-search-fields, .org-search .noflightsavailable, .org-search .dstn-search-history-icon, .org-search .dstn-search-history-label, .org-search .mobile-btn-plus, .org-search .mobile-btn-minus, .org-search .mobile-widget-calendar{position:relative;}
.org-search .datepicker table tr td.today.disabled:before, .org-search .mobile-search-validation, .org-search .mobile-search-validation:before, .org-search .bgnd-video, .search-history-icon, .org-search .search-history-icon, .org-search .bgnd-video-frame:before, .org-search .mobile-search-fields .owl-controls, .org-search .mega-dropdown-wrapper{position:absolute;}
.org-search .table-condensed .next:before{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);border-right:solid #808183 1px;border-bottom:solid #808183 1px;}
.org-search .table-condensed .prev:before{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);border-left:solid #808183 1px;border-bottom:solid #808183 1px;}
.org-search .datepicker .datepicker-switch:hover, .org-search .datepicker .next:hover, .org-search .datepicker .prev:hover, .org-search .datepicker tfoot tr th:hover{background:none}
.org-search .datepicker table tr td.active{background:#9ac854;color:#fff;}
.org-search .datepicker table tr td.today.disabled{color:#58595b;}
.org-search .datepicker table tr td.today.disabled:before{content:'';width:100%;height:100%;border:solid #9ac854 2px;top:0px;left:0px;}
.org-search .datepicker table tr td.disabled, .org-search .datepicker table tr td.disabled:hover{background:none;color:#999;cursor:default}
.org-search .mobile-search-validation{bottom:-36px;left:0px;right:0px;padding:8px 10px;z-index:5;color:#fff;background:#da5964;box-shadow:0px 7px 16px rgba(0,0,0,0.2);}
.org-search .mobile-search-validation:before{width:10px;height:10px;top:-5px;left:10px;content:'';background:#da5964;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);}
.org-search .datepicker-switch{min-width:185px;}





@media(max-width:1130px){
	.org-search .mobile-search-fields{width:98%;max-width:initial}
	.org-search .input-destingtion-box{width:25.1%;}
	.org-search .input-depart-box{width:21%;}
	.org-search .input-departing-box{width:10%;}
	.org-search .input-guests-box{width:18.4%;}
}

@media(max-width:1100px){
	.org-search .mobile-nghts-value{line-height:16px;}
	.org-search .input-stayfor-box{width:8%;}
	.org-search .input-departing-box{width:12%;}
	.org-search .input-destingtion-box{width:26%;}
	.org-search .input-depart-box{width:23.1%;}
	.org-search .mobile-children-cnt{display:block;}
	.org-search .mobile-input-button{font-size:15px;width:13.3%;}
	.org-search .mobile-input-group, .org-search .mobile-date-picker, .org-search .mobile-stay-for{padding:5px 5px;}
	.org-search .input-guests-box{width:17%;}
	.org-search .mobile-nghts-value, .org-search .mobile-input{min-height:34px;}
	.org-search .input-destingtion-box .mobile-nghts-value, .org-search .input-depart-box .mobile-nghts-value, .org-search .input-departing-box .mobile-nghts-value, .org-search .input-stayfor-box .mobile-nghts-value{top:6px;}
	.org-search .mobile-nghts-value{top:-2px;}
	.org-search .divSearchParentSlider .divSearchContainer .owl-prev i{left:6px;}
	.org-search .divSearchParentSlider .divSearchContainer .owl-next i{right:6px;}
}


@media (max-width:1024px){
	.org-search .mobile-input{font-size:13px}
	.org-search .mobile-search-container{padding-top:150px;}
}

@media (max-width:991px){
	.org-search .mobile-input-button{width:13%;}
}



@media(max-width:767px){
	.org-search .homepage .search-holiday-wrapper, .org-search .mobile-option-reset, .org-search .search-history, .org-search .mobile-input, .org-search .input-destingtion-box .org-search .input-depart-box .org-search .holidays-title, .org-search .for-desktop{display:none;}
	.org-search .dstn-search-history{display:none;}
	.org-search .mobile-input-group{float:none;}
	.org-search .mobile-carousel-nav, .org-search .mobie-calendar-icon, .org-search .input-depart-box .mobile-nghts-value, .org-search .input-destingtion-box .mobile-nghts-value, .org-search .mbl-click-callus{display:block;}
	.org-search .for-mobile-devices{display:inline-block;}
	.org-search .input-destingtion-box, .org-search .input-depart-box, .org-search .input-guests-box, .org-search .mobile-input-button{width:100%;}
	.org-search .mobile-search-fields .clear{clear:both}
	.org-search .mobile-input-group{margin:8px 0px 8px 0px}
	.org-search .mobile-input-group-split-2, .org-search .input-departing-box, .org-search .input-stayfor-box{width:49.4%;}
	.org-search .mobile-nghts-value{min-height:initial;line-height:initial;}
	.org-search .mobile-children-cnt, .org-search .mobile-nghts-value, .org-search .mobile-adult-cnt{font-size:16px;font-family:ProximaNova}
	.org-search .input-destingtion-box .mobile-nghts-value, .org-search .input-depart-box .mobile-nghts-value{color:#acacac;}
	.org-search .input-item-selected{color:#58595b}
	.org-search .mobile-input-group, .org-search .mobile-date-picker, .org-search .mobile-stay-for{padding:8px 10px 8px 10px}
	.org-search .margin-right1{margin:0px 1.2% 0px 0px}
	.org-search .input-stayfor-box{margin-right:0px;}
	.org-search .mobile-children-cnt{display:inline;}
	.org-search .mobile-search-fields{width:90%;}
	.org-search .mobile-input-button{min-height:initial;height:initial;padding:10px 0 10px 0px;font-size:20px;}
	.org-search .mobile-search-container{padding-top:112px;}
	.org-search .mobile-search-container{height:442px}
	.org-search .input-departing-box{min-height:56px}
	.org-search .input-destingtion-box .mobile-nghts-value, .org-search .input-depart-box .mobile-nghts-value, .org-search .input-departing-box .mobile-nghts-value, .org-search .input-stayfor-box .mobile-nghts-value{top:0px;}
	.org-search .mobile-widget-calendar{width:283px;}
	.org-search .mobile-input, .org-search .mobile-nghts-value, .org-search .place-holder-text{padding:2px 0px 0px 0px}
	.org-search .noflightsavailable{top:-4px;left:21px;}
	.org-search .table-condensed > thead > tr > th, .org-search .table-condensed > tbody > tr > th, .org-search .table-condensed > tfoot > tr > th, .org-search .table-condensed > thead > tr > td, .org-search .table-condensed > tbody > tr > td, .org-search .table-condensed > tfoot > tr > td{padding:5px 3px 5px 3px;min-width:36px;}
	.org-search .mobile-destinations .congratulations-close-icon{top:14px;right:21px;}
	.org-search .stop-body-scroll{overflow:hidden}
	.org-search .deals-main-row{min-height:auto;}
	.org-search .mobie-calendar-icon{bottom:11px;}
	.org-search .mobie-down-arrow{bottom:14px;}

}

/* IE 10 Windows Phones */
@media screen and (min-width:0\0) {
	.org-search .mobile-search-container{height:490px;}
}


@media(max-width:375px){
	.org-search .mobile-search-container{background-position:-118px 0px;}
	.org-search .mobile-ngts-container{padding:10px 0px 0px 0px;}
	.org-search .mobile-widget-guests .mobile-ngts-label{padding:0px 0px 0px 0px;}
	.org-search .mobile-persona-label{padding-bottom:15px;}
	.org-search #destredirectlnk ul li a {font-size:11px;}
	.org-search .mobile-widget-calendar{width:275px;}
	.org-search .table-condensed > thead > tr > th, .org-search .table-condensed > tbody > tr > th, .org-search .table-condensed > tfoot > tr > th, .org-search .table-condensed > thead > tr > td, .org-search .table-condensed > tbody > tr > td, .org-search .table-condensed > tfoot > tr > td{padding:3px 0px 3px 0px;min-width:35px;}
	}

@media(max-width:320px){
	.org-search .mobile-calendar-btns{margin-bottom:7px;}
	.org-search .mobile-calendar{padding-bottom:6px;}
	.org-search .mobile-calendar-header{padding:11px 15px 16px 14px;}
	.org-search .mobile-widget-calendar{width:288px;}
	.org-search .mobile-widget-header, .org-search .mobile-widget-footer{padding:10px 0px;}
	.org-search .mobile-persona-label{padding-bottom:8px;}
	.org-search .mobile-ngts-container{padding:3px 0px 0px 0px;}
	.org-search .mobile-widget-overlay, .org-search .mobile-widget-stayfor, .org-search .mobile-widget-guests{width:210px;}
	.org-search .datepicker-switch{min-width:175px;}
	.org-search .table-condensed > thead > tr > th, .org-search .table-condensed > tbody > tr > th, .org-search .table-condensed > tfoot > tr > th, .org-search .table-condensed > thead > tr > td, .org-search .table-condensed > tbody > tr > td, .org-search .table-condensed > tfoot > tr > td{min-width:37px;}
}



/*   Seperated (Nagarjuna) */
.org-search .mega-dropdown-wrapper ul{margin:0;padding:0;}
.org-search .holidays-title h1, .org-search .holidays-title span{margin:0; line-height:normal; padding:0;}
.org-search .input-destingtion-box .tt-dataset-destinations, .org-search .mega-dropdown-items1, .org-search .mega-dropdown-items2, .org-search .mega-dropdown-fadein, .org-search .mega-dropdown-fadein-depart{ position:relative;}
.org-search .mega-dropdown-wrapper, .org-search .mega-dropdown-section-header{line-height:normal;}
.org-search .mega-dropdown-wrapper{min-height:348px;padding:0 20px 0 20px;background:#fff;z-index:33;left:0px;right:0px;}
.org-search .mega-dropdown-items1{width:100%;max-width:1130px;}
.org-search .mega-dropdown-items2{max-width:868px;left:auto;right:1px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-section-header{margin:0 0 10px 0;padding:0;}
.org-search .mega-dropdown-wrapper .mega-dropdown-section-header, .org-search .mega-dropdown-wrapper .mega-dropdown-list-section, .org-search .mega-dropdown-list-right .mega-dropdown-section-header:hover, .org-search .mega-dropdown-title, .org-search .mega-dropdown-bottom-text, .org-search .spanDefaultDest:hover, .org-search .spanMostPopDest:hover{color:#58595b;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left, .org-search .mega-dropdown-list-right, .org-search .mega-dropdown-wrapper .mega-dropdown-list-row{padding-top:24px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left{width:72%;}
.org-search .mega-dropdown-items1 .spanDefaultDest, .org-search .mega-dropdown-items2 .spanAirport, .org-search .mega-dropdown-list-section ul li{font-size:16px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport{text-transform:capitalize;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-section .spanDefaultDest, .org-search .mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport{color:#8d8d8d;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-right{max-width:250px;min-width:250px;border-left:solid #f2f2f2 1px;box-sizing:border-box;padding-left:16px;padding-bottom:20px;min-height:418px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-row{width:100%;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-row{table-layout:fixed;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-row, .org-search .mega-dropdown-wrapper, .org-search .mega-dropdown-wrapper .mega-dropdown-list-right{display:table;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-row:first-child{margin-bottom:0;padding-bottom:0}
.org-search .mega-dropdown-items2 .mega-dropdown-list-row:first-child{padding-bottom:12px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-row{padding-bottom:13px}
.org-search .mega-dropdown-wrapper ul li{margin:0 0 13px 0;padding:0;}
.org-search .mega-dropdown-wrapper ul li a{color:#8d8d8f;}
.org-search .mega-dropdown-wrapper ul li a, .org-search .mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport{font-size:16px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-row .mega-dropdown-list-section, .org-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{width:33%;}
.org-search .mega-dropdown-wrapper ul li, .org-search .mega-dropdown-wrapper a{list-style:none;text-decoration:none;outline:none;}
.org-search .mega-dropdown-wrapper ul li a:hover, .org-search .mega-dropdown-wrapper .mega-dropdown-section-header:hover{color:#1cb2c8;}
.org-search .mega-dropdown-wrapper .bottom-border{border-bottom:solid #b7b7b7 1px}
.org-search .mega-dropdown-wrapper{box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);}
.org-search .mega-dropdown-wrapper .mega-dropdown-section-header, .org-search .mega-dropdown-title{font-size:18px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left, .org-search .mega-dropdown-list-section{float:left}
.org-search .mega-dropdown-wrapper{position:absolute;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left, .org-search .mega-dropdown-wrapper{overflow:hidden;}
.org-search .mega-dropdown-wrapper, .org-search .mega-dropdown-list-section .spanAirport, .org-search .spanDefaultDest, .org-search .spanMostPopDest{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.org-search .mega-dropdown-wrapper ul li a, .org-search .mega-dropdown-wrapper .mega-dropdown-section-header, .org-search .mega-dropdown-fadein, .org-search .mega-dropdown-fadein-depart{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.org-search .mega-dropdown-wrapper{display:none;}
.org-search .mega-dropdown-fadein, .org-search .mega-dropdown-fadein-depart{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.org-search .mega-dropdown-items1 .mega-dropdown-list-section{min-height:165px;}
.org-search .mega-dropdown-list-right .mega-dropdown-section-header, .org-search .mega-dropdown-title, .org-search .mega-dropdown-section-header{font-weight:bold;}
.org-search .mega-dropdown-list-right .mega-dropdown-section-header:hover{cursor:default;}
.org-search .mega-dropdown-list-right{float:right;}
.org-search .mega-dropdown-title{margin-bottom:20px;}
.org-search .mega-dropdown-title{display:block;}
.org-search .mega-dropdown-bottom-text{margin-bottom:19px;font-size:14px;background:#eee;padding:5px 10px;}
.org-search .mega-dropdown-bottom-text{clear:both;}
.org-search .mega-dropdown-bottom-text{display:inline-block;}
.org-search .mega-dropdown-list-section .spanAirport:hover{color:#1cb2c8;}
.org-search .mega-dropdown-list-section .spanAirport, .org-search .mega-dropdown-section-header, .org-search .spanDefaultDest, .org-search .spanMostPopDest{cursor:pointer;}
.org-search .input-destingtion-box .tt-dataset-destinations, .org-search .input-depart-box .tt-dataset-airports{top:15px;left:11px;}
.org-search .tt-hint {color: #999;opacity: 0;background-color: #fff;}
.org-search .tt-suggestions div{line-height:normal;font-size:16px;}
.org-search .tt-dropdown-menu .most-popular-list, .org-search .input-depart-box .tt-dataset-airports{ position:relative;}
.org-search .tt-dropdown-menu .most-popular-list, .org-search .search-departureAir .tt-dataset-airports, .org-search .tt-dataset-destinations, .org-search .tt-dataset-hotels{color:#58595b;}
.org-search .tt-dropdown-menu .most-popular-list{font-weight:bold}
.org-search .tt-dropdown-menu{box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);}
.org-search .tt-dropdown-menu .most-popular-list{font-size:18px;}
.org-search .tt-suggestions div.tt-suggestion p{color:#58595b;}
.org-search .tt-suggestions div:hover{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;color:#1cb2c8;	}
.org-search .tt-dataset-destinations, .org-search .tt-dataset-destinations div, .org-search .tt-dataset-airports, .org-search .tt-dataset-airports div{ background:none ;}
.org-search .tt-dropdown-menu .most-popular-list{display:block;}
.org-search .datepicker table tr td.today.disabled, .org-search .datepicker table tr td.today.disabled:hover, .org-search .datepicker table tr td.enabledDates.disabled{background:none ;border: 5px solid #fff;color: #58595b ;}
.org-search .datepicker table tr td.active, .org-search .datepicker table tr td.active.enabledDates{background:#9ac854 ;color: #fff; border:none;}
.org-search .datepicker table tr td.enabledDates {background-color: #42b8cd ;border-color: #fff ;color: #fff ;}
.org-search .tt-dropdown-menu {background:none ;border: medium none;margin-top: 10px;padding: 8px 0;width: 250px;}
.org-search .tt-dropdown-menu{padding:8px 0 ;margin-top:10px;}
.org-search .tt-dropdown-menu p{margin:0 0 10px ;font-weight:300;line-height:24px;}
.org-search .tt-empty-template, .org-search .tt-dataset-destinations p, .org-search .tt-suggestion{ margon-left:0 ; left:0 ;padding-left:0 ;}
.org-search .search-by-time-price-box{ width:100%; position:fixed;}
.org-search .time-price{background: #fff;border-radius: 4px;box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);width: 432px; max-width:96%;overflow: hidden; margin:0 auto; left:0;right:0; position:absolute;}
.org-search .search-by-time-price-box{width:100%;height:0px;z-index:0;left:0px;right:0px;opacity:0;}
.org-search .late-deals label.heading{ font-weight:normal ; font-family:proximanova-semibold ;}
.org-search .late-deals #inpPrice{ height:auto;}
.org-search .late-deals #inpPrice > span{ margin:0; padding:6px 0 0;}
.org-search .datepicker table tr td span.active.month, .org-search .datepicker table tr td span:hover{background:none ; color:#5a5a5a; font-weight:normal ;}
.org-search .datepicker table tr td{ text-shadow:none ;}



@media (max-width: 1200px){
.org-search .search-departureAir .twitter-typeahead .tt-dropdown-menu{left:5px;top:77px;}
.org-search .late-deals .input-destingtion-box, .org-search .late-deals .input-departing-box, .org-search .late-deals .input-depart-box, .org-search .late-deals .input-guests-box{ width:20%;}
.org-search .input-stayfor-box{ width:8%;}
}

@media (max-width: 1130px){
	.org-search .mega-dropdown-items2{right:0;}
}

@media (max-width: 1024px){
.org-search .mega-dropdown-items1, .mega-menu-wrapper{width:100%;}

}

@media (max-width: 991px){
.org-search .mega-dropdown-wrapper .mega-dropdown-list-right{position:absolute;top:0;right:0;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left{width:66%;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{width:33%;}
.org-search .late-deals #inpPrice > span{display:inline-block ;}
}

@media (max-width: 767px){
.org-search .mega-dropdown-wrapper .mega-dropdown-list-right{border-top:solid #f2f2f2 1px;border-left:none;padding-left:0;padding-top:25px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-right, .org-search .mega-dropdown-wrapper .mega-dropdown-list-left, .org-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{max-width:90%;width:100%;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left, .org-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{float:none;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left, .org-search .mega-dropdown-wrapper .mega-dropdown-list-right{display:block;}
.org-search .mega-dropdown-wrapper{top:-326px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left, .org-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{margin-top:30px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-left, .org-search .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section:first-child{margin-top:0;}
.org-search .theme-footer-social .theme-footer-social-icons, .org-search .theme-footer-social ul li a .fa-rss, .org-search .theme-footer-social ul li a .fa-facebook {left: initial;}
.org-search .time-price{ max-width:96%;}
.org-search .search-by-time-price-box{ top:40px ;}
.org-search .late-deals .input-departing-box{ width:51% ;}
.org-search .late-deals .input-stayfor-box{ width:47.8%;}
.org-search .late-deals label.heading{ background:none ;}
.org-search .late-deals #inpPrice > span{ margin:0 ; display:inline-block;}
.org-search .late-deals .input-departing-box{ padding:8px 10px;}
.org-search .late-deals #inpPrice > span{padding:2px 0 0;}
.org-search .input-destingtion-box, .org-search .input-depart-box, .org-search .input-guests-box, .org-search .mobile-input-button{width:100% ;}
.org-search .input-stayfor-box{width:49.4%;}
}

@media (max-width: 580px){
.org-search .mega-dropdown-items2 .mega-dropdown-list-section{margin-bottom:0;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-section{margin-bottom:35px;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-section, .org-search .mega-dropdown-wrapper .mega-dropdown-list-row{display:block;}
.org-search .mega-dropdown-wrapper .mega-dropdown-list-row{table-layout:initial;}
.org-search .mega-dropdown-items2 .mega-dropdown-list-section{margin-bottom:0;}
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari only override */
    .org-search ::i-block-chrome,.main-holidays-search .mobile-input{padding:17px 0px 0px 0px;}
}
