.fod-readmore {
  a{
    color:#37bdd1;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
  }
}
.f-section{
  margin-bottom: 30px;
   border-bottom: 1px solid #ccc;
   padding-bottom: 30px;
  .f-name{
    font-size: 13px;
    margin-left: 25px;
    position: relative;
    top: -3px;
  }
  .f-row{
    border: solid 1px rgba(111, 133, 159, 0.5);
    margin-bottom: 40px;
    .f-icon{
      width:20px;
      height:20px;
      background: #37bdd1;
    }
    .f-dtials-right{
      width:90%;
      text-align: left;
    }

    .f-top{
      margin-bottom:15px;
      .out-date{
        font-size: 13px;
        font-weight: 600;
      }
      .f-type{
         font-size: 11px;
      }
    }
    .f-mdl{
      margin-bottom: 4px;
      .f-start-lft{
        width:70%;
      }
        .f-out-short{
          font-size: 11px;
          font-weight: 600;
        }
        .f-out-name{
          font-size: 13px;
        }
        .f-logo{
          width: 32px;
          height: 32px;
          background: #37bdd1;
          float: right;
        }
        .f-num{
          font-size: 11px;
        }
    }

    .f-btm{
      font-size: 14px;
      font-weight: bold;
      .f-mdl-line{
        width: 41%;
        border-top: 1px solid rgba(111, 133, 159, 0.5);
        margin-left: 7px;
        margin-right: 7px;
      }
    }

    .f-out{
      float: left;
      width:50%;
      border-right: dashed 1px rgba(111, 133, 159, 0.5);
      padding: 18px 6px 23px 16px;
      .f-dtials-right{
        padding-right: 15px;
      }
    }
    .f-in{
      float: right;
      width:50%;
      padding-left: 15px;
      padding: 18px 28px 23px 15px;
    }
  }

}

/* FOD about us */
.about-section{
  .about-content{
    p{
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  .about-readmore {
    a{
      color:#37bdd1;
      font-size: 15px;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .checkin-out-time{
      background:#f2f2f2;
      padding: 15px 0;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 34px;
  }
}


.facilities-section{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    h2{
      font-size:17px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  ul{
    li{
          float: left;
          text-align: left;
          width: 250px;
          max-width:35%;
          margin-bottom: 10px;
          font-size: 15px;
    }
  }
  .f-checkmark{
    display: grid;
    background: #8ab44b;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    float: left;
    .check-mark{
      width: 7px;
      height: 5px;
      border-bottom: solid #fff 1px;
      border-left: solid #fff 1px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 3px;
      left: 3px;
    }
  }
}

.location-section{
  .location-head{
    margin-bottom:20px;
    h2{
      font-size:24px;
    }
  }

  .location-left{
    width: 70%;
    float: left;
    padding-right: 20px;
    .location-content{
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }
  .location-right{
    width:30%;
    float:right;
    .dis-airport{
      margin-bottom: 36px;
      margin-top: 33px;
    }

  }
  .dis-airport-lbl{
    font-size:15px;
    margin-bottom:10px;
  }
  .dis-airport-time{
    font-size:14px;
  }
  .location-map{
    height: 123px;
    margin-top: 30px;
    margin-bottom:30px;
  }
}

@include breakpoint(landscape-tablet) {
  .f-section {
      .f-row {
          .f-btm {
              .f-mdl-line{
                width: 32%;
              }
          }
      }
  }
}
@include breakpoint(mobile) {
    .f-section {
      .f-row {
        border-radius: 3px;
        .f-out{
          width:100%;
          border-right: none;
        }
        .f-in{
          width: 100%;
          border-top: dashed 1px rgba(111, 133, 159, 0.5);
        }
      }
    }
    .facilities-section {
      &.mbl-facilities{
        ul{
              li{
                max-width: 50%;
                font-size: 13px;
              }
          }
      }
      .top-facilities{
        margin-bottom: 30px;
        .m-f-box{
          border: 1px solid rgba(111, 133, 159, 0.2);
          padding: 14px;
          margin: 0 3px;
          .t-f-icon{
           width: 48px;
           height: 36px;
           background-color: #ccc;
         }
         .t-f-txt{
           font-size: 12px;
         }
        }
      }
    }
  .location-section{
       .location-left, .location-right{
         width: 100%;
       }
  }
}
