 .fod-rich-banner{
       min-height: 700px;
       background-color: #0065cf;
       padding-top: 370px;
       -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
       transition: all 0.3s ease-in-out;
       background-image: url(https://resources.teletextholidays.co.uk/drupal/images/Long-Haul/long-haul-holidays-high-res-banner.png);
       background-size: cover;
       background-position: bottom center;
      .htl-ttl-box{
        bottom:21px;
        color:$txt-white;
        h2{
          font-size: 44px;
        }
        .locate-stars{
          font-size: 14px;
        }
      }
      .back-to{
        top:130px;
        left:20%;
        font-size: 13px;
        color:$txt-white;
      }
  }
  @include breakpoint(mobile) {
    .fod-rich-banner{
      min-height: 303px;
    }
    .light-box{
      .large-images{width:86%;height:auto;}
      .fod-img-slide{
        width: 100%;
    max-width: 100%;
    min-width: 100%;
      }
      .slider{ height:auto;}
    }
  }
