
.fod-rich-gallery{
  .en-small{
   font-size: 12px;
   font-weight: normal;
  }
  .en-big{
   font-size: 16px;
   font-weight: 600;
  }
  .gallery-tabs{
    border-bottom: 1px solid #ccc;
    .fod-dtails-tabs{
      box-shadow: none;
      border: none;
      margin-bottom: 0;
    }
    .back-hotel{
      bottom: 16px;
      a{
        font-family: ProximaNova;
        font-size: 13px;
        color: #37bdd1;
      }
    }
  }
  .gal-hotel-details{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 26px;
    .gal-dtail-left{
      width:60%;
        border-right: 1px solid #979797;
        float: left;
        .gal-din-left{

        }
      h3{
        font-size: 24px;
        font-weight: bold;
      }
      .htl-location-rating{
        font-size: 12px;
        font-weight: normal;
      }
    }
    .gal-din-right{
       padding-right: 20px;
    }
    .gal-dtail-right{
      width:40%;
      padding-left: 15px;
      float: right;
      .enq-btn{
        background: #886093 ;
        border-radius:3px;
        padding:5px 15px;
        color: $txt-white;
        margin-right: 15px;
      }
      .call-to-book{
        background: #8ab44b;
        border-radius:3px;
        padding:5px 15px;
        color: $txt-white;
      }
    }
  }
  .gallery-row{
    padding-bottom: 22px;
    text-align: center;
    .gal-box{
      .gal-img{
        width:360px;
        height:242px;
      }
      .gal-txt{
        bottom: 8px;
        left: 10px;
      }
      float: left;
      margin-right:30px;
      &:nth-child(3){
        margin-right: 0;
      }
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@include breakpoint(landscape-tablet) {
  .fod-rich-gallery {
    .gallery-row {
        .gal-box{
          .gal-img{
            width:282px;
            height:198px;
          }
        }
    }
  }
}

@include breakpoint(when-portrait-tablet) {
  .fod-rich-gallery {
    .gallery-row {
        .gal-box{
          .gal-img{
            width:202px;
            height:138px;
          }
        }
    }
  }
}
