.fod-rich-body{
  .col-md-9{
    padding-left: 0;
  }
  .col-md-3{
    padding-right: 0;
  }
}
@include breakpoint(landscape-tablet) {
  .fod-rich-body{
    .col-md-9{
        width:68%;
    }
    .col-md-3{
        width:32%;
    }
  }
}

@include breakpoint(portrait-tablet) {
    .fod-rich-body{
      .col-md-9{
          width:100%;
          padding-right:0;
      }
      .col-md-3{
          width:100%;
          .fod-right-inner{
            top:0;
          }
      }
    }
}
