
.m-ttl-price{
  padding: 22px 0 32px 0;
  .ttl-lft{
    width: 70%;
    float: left;
    padding-right: 15px;
    border-right: solid 1px rgba(111, 133, 159, 0.2);
    h2{
      font-size: 28px;
      padding:4px 0;
    }
  }
  .price-rgt{
    width: 30%;
    float: left;
    padding-left: 10px;
    .tth-price{
      font-size: 20px;
    }
    .frm-price{
      font-size: 12px;
      padding-top: 15px;
    }
    .inc-tax{
      font-size: 11px;
    }
  }
}
.fod-call-book-btn{
  background: #8ab44b;
  padding: 16px 30px;
  color: $txt-white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 30px;
  margin-bottom: 25px;
}
