.review-row{
  margin-bottom: 50px;
  .review-box{
    background: #f2f2f2;
    float: left;
    margin-left: 30px;
    padding: 51px;
    width: 48%;
    &:first-child{
      margin-left: 0;
    }
    h2{
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 30px;
    }
    p{
      font-size: 20px;
      line-height: 32px;
    }
    .review-user-name{
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 20px;
      font-weight: normal;
    }

    .review-btm{
       border-top: solid 1px rgba(45, 60, 77, 0.1);
       padding-top: 24px;
       margin-top: 33px;
      a{
        font-size: 15px;
        font-weight: bold;
        color:#37bdd1;
        text-decoration: underline;
      }
    }
  }
}
@include breakpoint(landscape-tablet) {
  .review-row{
       .review-box{
         width: 47%;
       }
  }
}
@include breakpoint(mobile) {
  .review-row {
      .review-box{
          width: 100%;
          margin-left: 0;
          margin-bottom: 20px;
      }
  }
}
