.dash-r{
  border-right:  1px dashed rgba(111, 133, 159, 0.3);
}
.dash-b{
  border-bottom:  1px dashed rgba(111, 133, 159, 0.3);
}

.fod-rich-trust-items{
  top: -96px;
  .atol-sec{
    display: flex;
    justify-content: center;
    margin: -8px 0 20px 0;
    p{
          margin: 0 0 0 10px;
          font-size: 12px;
    }
    .abox1, .abox2, .abox3{
      align-self: center;
    }
    .abox1{
      div{
        width: 28px;
        height: 28px;
      }
    }
    .abox2{
          margin: 0 12px;
          .line-v{
            height: 30px;
            align-self: center;
            margin: 0;
            width: 1px;
          }
    }
  }
  .trust-middile{
    padding:15px 5px 0px;
    .low-box1{
      padding: 15px 4px 10px;
      width: 86px;
      p{
        font-size: 11px;
        font-family: ProximaNova;
        line-height: 12px;
      }
      img{
        object-fit: inherit;
      }
    }
    .low-dpst-icon{
        width: 33px;
        height: 29px;
    }
    .pay-month-icon{
        width: 30px;
        height: 29px;
    }
    .support-icon{
        width: 28px;
        height: 28px;
    }
    .tp-box{
       height: 80px;
       padding: 24px 0px 10px;
    }
    .feefo-box{

    }
    .trust-pilot-icon{
      width: 98px;
      height: 32px;
      position: relative;
      left: -8px;
    }
    .feefo-icon{
      width: 100px;
      height: 29px;
      position: relative;
      left: -12px;
    }
    .full-image{
      img{
        width: 100%;
        height: 100%;
      }
    }
    &.trust-btm{
      padding: 0 5px;
    }
  }
}
