.btn-anim{
  transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}
.trip-facilties{
  padding: 30px 0;
  .line-v{
    height: 10px;
    margin: 0 10px;
    width: 1px;
  }

}
.fod-dtails-tabs{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(88, 89, 91, 0.2);
  margin-bottom: 42px;
    ul{
      li{
              display:inline-block;
              font-size: $default-size15;
              padding:19px 10px 15px 20px;
          &.active{
              border-bottom:3px solid #37bdd1;
              font-weight: bold;
          }
      }
    }
}

.room-avail-row{
   margin-bottom: 30px;
     
    padding-bottom:20px;
    .section-header{
      margin-top: 30px;
    }
    .search-info{
      .search-info-dtails{
        width:150px;
      }
    }


    .fod-modify-btn{
      background-color: #58595b;
      border-radius:3px;
      padding:10px;
      margin-left:15px;

      &:hover{
        background-color: #6f7071;
      }
    }

    .room-dtail-row{
      border: solid 1px rgba(88, 89, 91, 0.2);
      padding:0px 0 0px 25px;
      margin-bottom:10px;
      .room-head{
        border-bottom: solid 1px rgba(88, 89, 91, 0.2);
        padding-bottom:13px;
        .toggle-arrow{
          margin-right: 17px;
        }
        .room-heading{
          width:96%;
          font-size: 17px;
          font-weight: bold;
        }

      }
      .room-select-row{
        display: contents;
        .room-img{
          width: 142px;
          height: 115px;
          background: #37bdd1;
          margin-top: 25px;
        }
        .room-selet-right{
           width: 80%;
            border-bottom: solid 1px rgba(88, 89, 91, 0.2);
            &:last-child{
              border-bottom: 0;
            }
            .room-type{
              width: 40%;
              float: left;
              padding: 25px 0 20px 0;
            }
            .room-pernight{
              width:16%;
              float: left;
              padding: 25px 0 20px 0;
              .tth-price{
                font-size: 20px;
              }
              .tth-pp{
                font-size: 14px;
              }
            }
            .room-total{
              width: 14%;
              float: left;
              border-right: solid 1px rgba(88, 89, 91, 0.2);
              padding: 25px 0 24px 0;
              font-size: 12px;
            }
            .room-select{
              width:30%;
              float: left;
              padding:20px 0 20px 0;
              .select-room{
                border: solid 1px #37bdd1;
                padding: 10px;
                margin: 0 15px;
                color: #37bdd1;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.3px;
                &:hover{
                  border: solid 1px #26afc3;
                  color: #26afc3;
                }
                .s-check-mark{
                  display: none;
                }
                &.selected{
                  color:$txt-white;
                  background-color:#37bdd1;
                  .s-check-mark{
                    display: inline-flex;
                    top: -8px;
                    position: relative;
                    right: 17px;
                    .check-mark{
                      color:$txt-white;
                      top: 3px;
                      border-bottom: solid #fff 2px;
                      border-left: solid #fff 2px;
                      width: 16px;
                      height: 8px;
                    }
                  }
                }
              }
            }
        }
      }
    }
}
@include breakpoint(landscape-tablet) {
  .room-avail-row {
    .room-dtail-row {
      .room-select-row{
         .room-img{
           display: none;
         }
         .room-selet-right{
           width:100%;
         }
      }
    }
  }
}
@include breakpoint(mobile) {
.fod-dtails-tabs{
    box-shadow: none;
    border:none;
    margin-bottom: 12px;
    ul{
      li{
          padding: 19px 7px 15px 10px;
          border-bottom: 1px solid rgba(204, 204, 204, 0.52);
      }
    }
}
.room-avail-row{
  .room-dtail-row{
    padding: 10px 0 0px 10px;
    .m-select{
      width: 10%;
    }
    .room-select-row {
        .room-selet-right{
          width: 90%;
          .room-type{
            width: 50%;
            padding: 25px 0 10px 0;
            }
            .room-pernight{
              width: 50%;
              padding: 25px 10px 10px 0;
              text-align: right;
              .m-total{
              font-size: 12px;
              }
            }
        }
    }
  }
}
}
