.gallery-btn{
  margin-bottom: 17px;
  .desk-gallery-btn{
    background:$b-white;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(111, 133, 159, 0.3);
    padding:9px 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
}
.fod-rich-right{
   position: relative;
    top: -155px;
   .fod-right-heading{
     font-size: 16px;
     font-weight: bold;
   }
 .fod-right-inner{
     width: 100% ;
   .total-price-box{
       background: #9ac854;
       color:#fff;
       padding: 23px 17px;
       .total-txt{
         font-weight: 600;
       }
       .total-price{
         font-size: 32px;
         font-weight: bold;
         margin-top: 10px;
         margin-bottom: 3px;
       }
       .total-btm{
         padding-top: 23px;
       }
       .call-section{
          border-radius: 25px;
          box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
          background: #fff;
          color: #8ab44b;
          font-weight: bold;
          line-height: 32px;
          font-size: 22px;
          margin-top: 11px;
          margin-bottom: 10px;
          padding: 10px 19px;
       }
       .enquiry{
         border-radius: 20px;
         border: solid 1px #fff;
         padding: 6px 5px;
         width: 80%;
         margin: 0 auto;
       }
   }

   .hotel-box{
     padding: 15px 12px;
     border: solid 1px rgba(88, 89, 91, 0.2);
     border-top: none;
     border-bottom: none;
     .hotel-head{
       margin-bottom: 20px;
       overflow: hidden;
       .htl-edit{
         background: #37bdd1;
         color: #fff;
         padding: 4px 10px;
         border-radius: 2px;
         font-size: 13px;
         cursor: pointer;
       }
       .htl-lbl-lft{
         float: left;
         line-height: 30px;
       }
       .htl-lbl-rgt{
         float: right;
       }
     }
     .htl-dtails{
       clear: both;
       margin:17px 0;
       overflow: hidden;
       .htl-lbl-lft{
         float: left;
         width: 45%;
       }
       .htl-dtl-rgt{
         float: left;
         width: 45%;
         font-weight: bold;
       }
     }
   }
   .flight-box{
     border-top:1px dashed rgba(88, 89, 91, 0.2) !important;
     padding: 15px 12px;
     border: solid 1px rgba(88, 89, 91, 0.2);
     overflow: hidden;
   }
 }
}
.t-summary-sticky{
  display: none;
}
@include breakpoint(when-portrait-tablet) {
  .fod-rich-right{
    display: none;
  }
  .t-summary-sticky{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(111, 133, 159, 0.2);
    display: block;
    z-index: 9;
    left: 0;
    background: #fff;
    .hf-summery{
      padding:33px 20px 20px 20px;
       box-shadow: 0 -4px 14px 0 rgba(111, 133, 159, 0.2), 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
       .h-summery{
         padding-bottom: 10px;
         border-bottom:1px dashed rgba(0, 0, 0, 0.1);
         margin-bottom: 10px;
         .h-label{
           width: 20%;
           .htl-txt{
             font-size: 16px;
           }
         }
         .h-d-column{
           width: 40%;
           .htl-dtails{
             margin-bottom: 15px;
           }
           .htl-lbl-lft{
             width: 40%;
             float: left;
           }
         }
       }
       .f-summery{
         padding-top: 15px;
         .f-lbl{
           width: 20%;
           font-size: 16px;
           font-weight: bold;
         }
         .f-d-column{
           width: 40%;
           .air-block{
             margin-left: 30px;
           }
           .f-img{
             width: 24px;
             height: 24px;
             margin-right: 6px;
             background: #000;
           }
           .airname{
             font-size: 13px;
             font-weight: bold;
           }
         }
         .f-date{
           font-size: 13px;
          font-weight: 600;
          margin-bottom: 10px;
         }
         .f-mdl{
           margin-bottom:3px;
         }
         .f-mdl-line{
           border-top: 1px solid rgba(111, 133, 159, 0.5);
            margin-left: 7px;
            margin-right: 7px;
            width: 45%;
         }
         .f-out{
           margin-top: 20px;
           &:first-child{
             margin-top: 0;
           }
           .f-icon{
             margin-right: 10px;
           }
           .f-out-name{
             font-size: 12px;
           }
           .f-start-time, .f-reach-time{
             font-size: 13px;
             font-weight: bold;
           }
           .f-start-rgt{
             margin-left: 30px;
           }
         }
       }
     }
    .sticky-bottom{
      border-top:1px solid #ccc;
      padding: 10px 15px;
    }
    .t-sum-left{
      padding-right: 20px;
      border-right:1px solid rgba(111, 133, 159, 0.2);
      .toggle-arrow{
        top:-10px;
      }
      .tth-price{
        font-size:$btn-size;
      }
      .t-details, .t-total{
        padding: 0 15px;
      }
    }
    .t-sum-right{
      .cal-btn{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        padding: 7px 20px;
        font-size: 14px;
        border: solid 1px rgba(110, 61, 124, 0);
        margin-right: 10px;
      }
    }
  }
}
@include breakpoint(mobile) {
  .fod-rich-right{
    display: none;
  }
}
