.trust-marks-footer{
  padding:0px 0 75px 0;
  hr{
    border-width: 1px;
  }
  .trust-inner{
      padding-top:40px;
    .icon-box{
      margin: -5px 18px 0 0;
    }
    .trust-pilot{
      top: -10px;
    }
    .line-v{
      width: 1px;
      margin: 0 12px;
      height: 30px;
    }
  }
}
