.mobile-widget-header.pstn-fxd{background:#6e3d7c;}
.banner-slide .title-small{font-size:30px}
.banner-slide .title-large{font-size:52px;color:#fbdb3e;}
.banner-slide .title-wrapper{padding-bottom:35px;display:inline-block;margin-left:20px;margin-top:30px;text-shadow:0 2px 4px rgba(0, 0, 0, .34)}
.british-travel-award{background:url(https://resources.teletextholidays.co.uk/drupal/images/homepage/bta.png) right top no-repeat;width:140px;height:130px;float:left;background-size:contain}
.banner-slide > .content-middle{padding-top:165px;}
.title-wrapper .small{font-size:40px}
.banner-slide {background-image: url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/1970-header.png)}
//.votes-img {background: url('http://ttxt-ie-cont-prod.s3.amazonaws.com/drupal-ie/images/votes/banner-desktop.png') no-repeat;height:70px;}

@media(max-width:1400px) {
  .banner-slide {background-image: url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/1400-header.png)}
  //.votes-img {background: url('http://ttxt-ie-cont-prod.s3.amazonaws.com/drupal-ie/images/votes/banner-992.png') no-repeat;}
}

@media(max-width:1200px) {
  .banner-slide {background-image: url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/1200-header.png)}
}

@media(max-width:1000px){
.banner-slide {background-image: url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/992-header.png)}
}

@media(max-width:768px) {
  .banner-slide {background-image: url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/768-header.png)}
  //.votes-img {background: url('http://ttxt-ie-cont-prod.s3.amazonaws.com/drupal-ie/images/votes/banner-768.png') no-repeat;}
  .british-travel-award{width:120px;height:110px}
  .title-wrapper .title-small{font-size:24px}
  .title-wrapper .small{font-size:32px}
  .banner-slide .title-large{max-width:inherit;}
}

@media(max-width:767px) {
  .banner-slide {background-image: url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/640-header.png)}
  //.votes-img {background: url('http://ttxt-ie-cont-prod.s3.amazonaws.com/drupal-ie/images/votes/banner-mobile-2x.png') no-repeat; background-size:contain;}
  //.votes-banner-outer .votes-banner {max-height:90px;}
.banner-slide>.content-middle{padding:70px 20px 15px;height:auto;}
.british-travel-award{width:100px;height:92px}
.banner-slide .title-wrapper{padding-bottom:15px;margin:0;}
.title-wrapper .title-small{font-size:18px !important}
.banner-slide .title-large{font-size:32px !important}
.title-wrapper .small{font-size:27px}
.banner-slide .sunshine-titles span{width: 70%;}
}
