/* Sign Up popup CSS added */
.theme-popup-login-right input.theme-login-input::placeholder, .signup-preferred-airport .btn::placeholder, .login-popup-window .theme-signup .theme-login-input::placeholder , .login-popup-window .theme-signup .theme-signin-input-phone-code::placeholder, .login-popup-window .theme-signup .theme-signin-input-phone-number::placeholder{opacity:0.5;}
.theme-popup-login-right input.theme-login-input::-ms-input-placeholder, .signup-preferred-airport .btn::-ms-input-placeholder, .login-popup-window .theme-signup .theme-login-input::-ms-input-placeholder,  .login-popup-window .theme-signup .theme-signin-input-phone-code::-ms-input-placeholder, .login-popup-window .theme-signup .theme-signin-input-phone-number::-ms-input-placeholder{opacity:0.5;}
.theme-popup-login-right input.theme-login-input:-ms-input-placeholder, .signup-preferred-airport .btn:-ms-input-placeholder, .login-popup-window .theme-signup .theme-login-input:-ms-input-placeholder, .login-popup-window .theme-signup .theme-signin-input-phone-code:-ms-input-placeholder, .login-popup-window .theme-signup .theme-signin-input-phone-number:-ms-input-placeholder{opacity:0.5;}
.login-header-section .signin-txt-show{display:inline-block;padding:0;}
.tth-users-container img{position:relative;width:100%;height:100%;}
.login-header-section .login-txt,.login-header-section .signup-txt, .theme-user-notification{display:none;}
.signup-preferred-airport, .signup-preferred-board-basic{border-bottom:solid #dfdfe0 1px;padding-bottom:7px;margin-top:12px !important;width:100%;display:inherit;vertical-align:bottom;}
.signup-trigger,.login-trigger, .back-to-login, .left-nav-trigger, .trigger-create-account, .login-social-icon,.tth-users-container,.theme-login-right-text a,.theme-logout-text,#resetLogin,.theme-signup .tt-dataset-airports p,.theme-signup .tt-dataset-airports div,#forgotPasswordLink{cursor:pointer;}
.after-login-popup{position:fixed;text-align:left}
.theme-user-notification{position:fixed}
.theme-big-login-popup{position:fixed}
.theme-optional-text1,.signin-tooltip-wrapper:before,.theme-signin-tooltip:focus + .signin-tooltip-wrapper,.user-login-pics,.menu-bars-without-login, .theme-login-box-footer-divider,.theme-login-box-uparrow,.theme-login-left-img,.theme-login-left-img-overlay,.login-header-dividers,.theme-login-footer-content{position:absolute;}
.user-login-pics{right:30px;cursor:pointer;top:10px;height:28px;width:28px;}
.user-login-pics img{width:100%;}
.theme-login-right-text a:hover,.theme-login-box-footer a:hover,#login-welcome-user-name,.theme-after-login-box-footer a:hover,#signupFooter:hover, .login-forgot-password a:hover,.trigger-create-account:hover,.theme-login-footer-content a:hover{color:#1cb2c8;}
.login-social-label,.tth-google-plus-icon,.tth-plus-icon{font-family:'proximanova-semibold';}
.signup-preferred-airport ul>li>a:hover, .signup-preferred-board-basic ul > li > a:hover{color:#37bdd1}
.theme-login-small-box{box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);}
.after-login-popup{box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);}
.theme-before-login-welcome-text{font-size:18px;}
.theme-popup-login-left, .theme-login-nav ul li{float:left}
.theme-before-login-welcome-text,.theme-login-right-text span,.theme-after-login-box-footer a,.login-social-label{display:block;}
.theme-popup-login-right{float:right;}
.theme-popup-login-right, .theme-popup-login-left {height:600px;}
.theme-login-buttons-wrapper button{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;float:left;display:inline-block;border:none;padding:8px 12%;font-size:16px;color:#fff;margin-right:30px;text-transform:uppercase;background-color:$bgnd-emerald;}
.theme-login-buttons-wrapper button:hover{background-color:$hover-green;}
.theme-login-right-text a, .theme-login-box-footer a, .theme-after-login-box-footer a, .theme-big-login-popup-show, .login-facebook-icon, .login-twitter-icon, .login-google-plus-icon, #signupFooter, .tth-primary-button, .login-forgot-password a, .trigger-create-account, .theme-login-footer-content a, .tth-users-container{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.theme-reset-password-show{animation:reset-popup .3s ease-in-out;-webkit-animation:reset-popup .3s ease-in-out;-moz-animation:reset-popup .3s ease-in-out;-ms-animation:reset-popup .3s ease-in-out;}
.replace-login-container-show{animation:reset-popup .3s ease-in-out;-webkit-animation:reset-popup .3s ease-in-out;-moz-animation:reset-popup .3s ease-in-out;-ms-animation:reset-popup .3s ease-in-out;}
.theme-show-forms{animation:reset-popup .3s ease-in-out;-webkit-animation:reset-popup .3s ease-in-out;-moz-animation:reset-popup .3s ease-in-out;-ms-animation:reset-popup .3s ease-in-out;}
.theme-big-login-popup-show{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.theme-login-small-box, .theme-login-small-display, .theme-big-login-popup-show, .theme-login-small-box, .theme-login-small-display, .theme-big-login-popup-show, .theme-slide-in{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.login-header-section span, .login-header-section, .login-social-icons, .theme-login-footer-content, .login-forgot-password, .reset-password-int, .set-location{text-align:center;}
.theme-login-right-text,.theme-login-box-footer a,.login-header-section span,.login-social-icon, .login-social-set{display:inline-block;}
.login-social-set .fa-google-plus,.login-social-set .fa-twitter,.login-social-set .fa-facebook,.tth-google-plus-icon,.tth-plus-icon,.theme-popup-login-left-content{color:#fff}
.signin-tooltip-wrapper{color:#fff;display:none;width:100%;}
.theme-big-login-popup, .after-login-popup, .theme-reset-password, .theme-signup, .signin-error-text, .theme-login, .theme-popup-login-content, #signuppassErrorMsg, #signupErrorMsg, #resetPasswordMsg{display:none;}
.theme-big-login-popup-show, .theme-reset-password-show, .replace-login-container-show, .login-left-small-text, .signin-tooltip-wrapper:before, .theme-signin-tooltip:focus + .signin-tooltip-wrapper, .theme-show-forms, .login-left-small-text2, .login-left-heading-medium{display:block;}
.theme-login-box-footer a, .loggedin-welcome-text, .theme-after-login-box-footer a, .theme-login-nav ul .active a, .login-forgot-password a, .login-tab-active{color:#58595b;}
.theme-before-login-welcome-text{color:#58595b;top:0;left:0;right:0;bottom:0;}
.theme-popup-login-right{max-height:100%;height:100%;}
.theme-login-footer-content{position:absolute;margin-top:20px;}
.theme-login-container-default{top:0;left:0;right:0;bottom:0;}
.login-popup-window-middle{top:0;left:0;right:0;bottom:0;}
.theme-login-small-hide{display:none}
.theme-login-small-box, .after-login-popup{top:40px;right:31px;background:#fff;border-radius:4px;z-index:112;}
.theme-login-small-box{min-width:430px;}
.theme-login-buttons-wrapper{margin-bottom:10px;}
.theme-login-right-text{line-height:19px;top:0;}
.trigger-create-account{color:#f27f4f}
.theme-login-small-display{display:block;}
.low-deposits-text{display:block;}
.theme-before-login-welcome-text{margin-bottom:20px;line-height:24px;}
.theme-login-box-footer{background:#f2f2f2;border-radius:0 0 4px 4px;}
.theme-login-box-footer a:first-child{padding-right:16px;border-right:solid #c1c1c1 1px;margin-right:17px;}
.theme-login-box-wrapper{padding:20px 24px 16px 24px;}
.after-login-popup-content{padding:20px 24px 16px 24px;}
.theme-login-box-footer{padding:10px 24px 10px 24px;}
.theme-login-box-footer-divider{width:1px;background:#c1c1c1;height:24px;left:143px;top:10px;}
.theme-login-box-uparrow{width:20px;height:20px;background:white;top:-5px;right:21px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.theme-login-right-text a{font-size:18px;}
.trigger-create-account{font-size:18px;}
.theme-login-small-display{animation:smallPoupop .3s ease-in-out;-webkit-animation:smallPoupop .3s ease-in-out;-moz-animation:smallPoupop .3s ease-in-out;-ms-animation:smallPoupop .3s ease-in-out;border-radius:6px;}
.error-border{border-bottom-color:#cb3544;}
.theme-login-container-default{animation:loginContainer .5s ease-in-out;-webkit-animation:loginContainer .5s ease-in-out;-moz-animation:loginContainer .5s ease-in-out;-ms-animation:loginContainer .5s ease-in-out;}
.theme-slide-in{animation:slideUp .5s ease-in-out;-webkit-animation:slideUp .5s ease-in-out;-moz-animation:slideUp .5s ease-in-out;-ms-animation:slideUp .5s ease-in-out;}
.theme-big-login-popup-show{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.text-animation{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.theme-big-login-popup.theme-big-login-popup-show{z-index:9999;}
.proximanova-semibold{font-family:'proximanova-semibold';}
.after-login-popup{width:280px;}
.theme-user-notification{width:13px;height:13px;background:red;top:8px;right:45px;color:#fff;font-size:8px;text-align:center;border-radius:100px;line-height:13px;z-index:111}
.theme-holiday-count{margin-left:2px;}
.theme-count-plus{font-size:12px;font-family:arial;top:1px;left:-1px;}
.theme-logout-text{margin-top:9px;color:#aaa;}
#login-welcome-user-name{word-wrap:break-word;margin-top:5px;margin-bottom:12px;}
.theme-after-login-box-footer{border-top:solid #d6d6d6 1px;padding:0 24px 2px 24px;}
.theme-after-login-box-footer a{padding:12px 0 9px 0;border-top:dotted #e2e2e2 1px;}
.theme-after-login-box-footer a:first-child{border-top:none;}
.theme-login-small-show{display:none;}
.theme-login-box-footer a{font-size:18px;}
#login-welcome-user-name{font-size:18px;}
.theme-after-login-box-footer a{font-size:18px;}
.theme-big-login-popup{left:0;right:0;top:0;bottom:0;background-color:rgba(0,0,0,0.7);z-index:112;table-layout:fixed;overflow:auto;}
.theme-login-left-img{display:none;}
.theme-big-login-popup,.theme-login-left-img, .theme-login-left-img-overlay,.close-tagline,.popup-overlay,.black-overlay{width:100%;height:100%;}
.theme-login-container{display:table;width:100%;}
.theme-popup-login-right{width:495px;padding:34px 41px 60px 37px;vertical-align:top;min-height:600px;display:table-cell; float:none;}
.theme-popup-login-left{width:305px;position:relative;vertical-align:middle;display:table-cell; float:none;min-height:600px;}
.theme-popup-login-left-content{position:relative;z-index:3;table-layout:fixed;display:table;width:100%;height:100%;padding:0 37px;}
.theme-popup-login-left-content .login-left-content{display:table-cell;vertical-align:middle;}
.theme-popup-login-left-content .login-left-content h3{color:#fff;font-size:26px;text-align:left;line-height:35px;}
.theme-login-left-img-overlay{background-color:rgba(110, 61, 124, 0.8);z-index:2;left:0;top:0;}
.theme-login-nav ul li:first-child{margin-right:48px;}
.theme-login-nav ul li:hover, .back-to-login:hover, .login-tab-active{border-bottom:solid 1px #f07541;}
.theme-login-nav, .back-to-login{color:#9b9b9d}
.back-to-login{padding-bottom:6px;}
.login-header-dividers{width:100%;border-top:solid #b7b7b7 1px;top:10px;left:0;}
.login-header-section{margin:20px 0 15px 0;}
.login-header-section span{font-size:12px;color:#886093;font-weight:normal;padding:0 15px;z-index:1;background:#fff;}
.login-social-label{font-size:12px;padding-top:6px;}
.login-social-icons .login-social-icon{width:48px;height:48px;border-radius:100px;}
.login-social-set{min-width:80px;}
.login-google-plus-icon{background-color:#de4a39;border:solid #de4a39 2px;}
.login-twitter-icon{background-color:#059ff5;border:solid #059ff5 2px;}
.login-facebook-icon{background-color:#5c84ee;border:solid #5c84ee 2px;}
.login-facebook-icon:hover, .login-twitter-icon:hover, .login-google-plus-icon:hover{background-color:#fff}
.login-facebook-icon:hover .fa-facebook{color:#5c84ee}
.login-twitter-icon:hover .fa-twitter{color:#059ff5}
.login-google-plus-icon:hover .tth-google-plus-icon{color:#de4a39}
.login-google-plus-icon:hover .tth-plus-icon{color:#de4a39}
.theme-login-footer-content{bottom:0;left:0;right:0;border-top:2px #efefef solid;padding:15px 0 10px 0;}
.login-social-set .fa-google-plus, .login-social-set .fa-twitter, .login-social-set .fa-facebook{font-size:20px;top:13px;}
.tth-google-plus-icon{font-style:normal;font-size:19px;top:9px;}
.tth-plus-icon{font-size:15px;top:8px;left:2px;}
.login-popup-window{height:100%;width:800px;margin:0 auto;display:table;}
.login-popup-window-middle{vertical-align:middle;display:table-cell;}
.theme-popup-login-right input.theme-login-input{margin-top:12px;height:initial;font-size:16px;border-top:none ;border-left:none ;border-right:none ;border-bottom:solid 1px #dfdfe0  ;padding:7px 0 8px ;width:100%;}
.login-email-error, .login-password-error, .error-border{border-bottom-color:#cb3544;}
/*.theme-login-input{margin-top:15px;}*/
.theme-login-input:first-child{margin-top:0;}
.tth-primary-button{font-size:16px;border:1px solid #5d5e60;padding:10px 16px;background:#fff;width:100%;margin-top:23px;}
.theme-signup .tth-primary-button{margin-top:8px;}
button.tth-primary-button:hover, button.tth-primary-button:focus{background:#9ac854;color:#fff;border-color:#9ac854;}
.login-forgot-password{font-size:16px;margin-top:15px;}
.reset-password-forms{margin-top:45px;}
.reset-password-int{font-size:13px;color:#999;top:20px;}
.login-left-small-text{font-size:16px;line-height:20px;padding-top:25px;text-align:left;}
.login-left-small-text2{font-size:16px;line-height:20px;padding-top:25px;text-align:left;}
.login-left-small-text1{line-height:20px;text-align:left;display:block;}
input.theme-signin-input-phone-code{border:none;padding:10px 0;width:16%;}
.theme-signin-input-phone-number{width:70%;border:none;padding:10px 0;}
.signin-input-group{border-bottom:solid 1px #dfdfe0;}
.theme-signup .twitter-typeahead{padding:0 0 0 ;width:100%;border-bottom:solid 1px #dfdfe0;}
.theme-signup .twitter-typeahead .theme-login-input{border:none }
.theme-login-margin-top{margin:8px 0 0 0}
.theme-optional-text1{font-size:13px;right:0;color:#bebfbf;z-index:5;top:22px;}
.theme-optional-text2{font-size:13px;right:0;color:#bebfbf;z-index:5;top:22px;position:absolute;}
.phonecode-div .theme-optional-text1{top:17px;}
.input-container{position:relative;display:inline-block;width:100%;}
.signin-tooltip-wrapper:before{content:'';width:12px;height:12px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);top:-6px;left:22px;background-color:#58595b;}
.theme-signin-tooltip:focus + .signin-tooltip-wrapper{top:45px;background-color:#58595b;padding:10px 15px;font-size:12px;width:92%;}
.signin-tooltip-wrapper{z-index:110}
.signin-error-text, #signuppassErrorMsg, #signupErrorMsg, #resetPasswordMsg{text-align:left;color:#cb3544;margin:2px 0 0 0;font-size:11px;}
.checkmark{position:absolute;display:none;width:8px;height:17px;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);border-top:solid #9ac854 2px;border-left:solid #9ac854 2px;right:0;z-index:2}
#trick-mark1, #trick-mark2, #trick-mark3{top:15px;}
#trick-mark4{top:5px;}
.theme-signin-plus-symbol{font-size:16px;padding-right:3px;}
.html-scroll-stop{overflow:hidden;height:100%;}
.theme-login-forms{margin-top:16px;}
.login-error-msg{color:#cb3544;margin:5px 0 0 0;font-size:12px;text-align:left;}
.login-left-heading-medium{font-size:16px;padding-bottom:5px;line-height:normal;}
.login-left-text-section{padding-top:35px;}
.login-left-text1{padding-top:100px}
.tt-dataset-airports{margin:0 0 5px;}
.tt-dataset-airports div{margin:0 0 5px;}
.tt-suggestions > p{margin:0 0 5px 0;}
.theme-signup .tt-dataset-airports p, .theme-signup .tt-dataset-airports div{padding:2px 5px;margin:0}
.input-depart-box .tt-dataset-airports div, .input-depart-box .tt-dataset-airports p{padding:0px;margin:5px 0px;}
.theme-login-footer-content a{color:#ec7446;}
.banner-img{position:absolute;width:100%;height:100%;top:0;}
.banner-img img{width:100%;height:100%;}
.tt-hint{color:#999;opacity:0;background-color:#fff;}
.signup-preferred-airport ul.dropdown-menu, .signup-preferred-board-basic ul.dropdown-menu{width:100%;top:40px;border:none;border-radius:0;box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);z-index:10;}
.signup-preferred-airport .btn, .signup-preferred-board-basic .btn{background:none;color:#58595b;width:100%;text-align:left;padding-left:0;font-size:16px;}
.signup-preferred-airport ul > li > a, .signup-preferred-board-basic ul > li > a{color:#58595b;font-size:16px;padding-left:15px;cursor:pointer;}
.signup-preferred-airport ul > li > a:hover, .signup-preferred-board-basic ul > li > a:hover{background:#fff;}
.theme-login-input .btn span{color:rgba(88, 89, 91, 0.5)}
.selected-sec .theme-login-input .btn span{color:#58595b;}
.theme-popup-login-left-content, .login-popup-window, .close-tagline{table-layout:fixed;}
.close-tagline, .theme-popup-login-left-content, .close-tagline{display:table;}
.theme-big-login-popup .login-header-section, .login-header-section span, .theme-popup-login-right, .login-social-set .fa-google-plus, .login-social-set .fa-twitter, .login-social-set .fa-facebook, .tth-google-plus-icon, .tth-plus-icon, .theme-reset-password-show, .theme-signup, .signin-input-group, .theme-show-forms, .reset-password-int, .theme-login-small-box .theme-login-right-text, .theme-login-box-footer{position:relative;}
.theme-login-nav ul{margin:0;padding:0;}
.signup-section > div{width:198px;float:left;position:relative;line-height:normal;}
.signup-section > div.signup-sur-name{border-bottom:solid 1px #dfdfe0;}
.signup-section > div.signup-sur-name input{border-bottom:none;width:70%;}
.signup-section > div:nth-child(odd){margin-right:20px;}
.input-container .line-arrow-down{width:24px;height:24px;right:0;top:20px;background-position:-348px 60px;border:none;transform:none;}
.dropdown-list .theme-optional-text2{right:30px;}
.theme-signup label{font-size:13px;line-height:17px;display:block;margin:15px 0;color:rgba(88, 89, 91, 0.75);}
span.privacy{margin:15px 0 25px;width:100%;font-size:13px;}
.login-popup-window .theme-signup .btn{padding:6px 0 0;z-index:6;}
.login-popup-window .theme-signup .theme-signin-input-phone-code, .login-popup-window .theme-signup .theme-signin-input-phone-number {font-size: 16px; }
.privacy a{text-decoration:underline;}
.privacy a:hover{text-decoration:none;}
.checkboxes{margin:15px 0;}
.theme-signup label.checklist {color:#58595b;line-height:19px;letter-spacing:-0.2px;display:inline-block;position:relative;padding-left:25px;margin:0 30px 0 0;cursor:pointer;font-size:15px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;}
.theme-signup label.checklist input {position:absolute;opacity:0;cursor:pointer;height:0;width:0;}
.theme-signup label.checklist .checkmark {position:absolute;top:0;left:0;height:18px;width:18px;background-color:#fff;transform:inherit;border-radius:2px;border:solid 1px #979797;display:block;}
.theme-signup label.checklist:hover input ~ .checkmark {background-color:#fff;transform:inherit;border-radius:2px;border:solid 1px #979797;}
.theme-signup label.checklist input:checked ~ .checkmark {background-color:#8ab44b;border:2px solid #8ab44b;}
.theme-signup label.checklist .checkmark:after {content:"";position:absolute;display:none;}
.theme-signup label.checklist input:checked ~ .checkmark:after {display:block;}
.theme-signup label.checklist .checkmark:after {left:4px;top:0px;width:6px;height:11px;border:solid white;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.address-container{display:none;}
.show-address{display:block;}

/* Password Tooltip CSS */
.pass-tooltip{background:#58595b;z-index:9;color:#fff;padding:6px 10px;font-size:11px;line-height:16px;display:none;width:100%;left:0;top:52px;}
.pass-tooltip:after{bottom:100%;left:15%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(88, 89, 91, 0);border-bottom-color:#58595b;border-width:7px; margin-left:-7px;}


@media (max-width:1024px){
.theme-login-small-box, .after-login-popup{right:3px;}
}

@media (max-width:991px){
.theme-user-notification{right:20px;}
.userIconDiv{right:22px}
.signup-preferred-airport ul.dropdown-menu, .signup-preferred-board-basic ul.dropdown-menu{top:40px;}
.theme-login-small-box, .after-login-popup{right:7px;}
.login-popup-window {width:700px;}
.theme-popup-login-left{width:280px;overflow:hidden;}
.theme-popup-login-right{width:420px;padding:34px 30px 60px}
.signup-section > div{width:170px;}
}

@media (max-width:767px){
.theme-user-notification{right:8px;width:16px;height:16px;line-height:15px;top:8px;font-size:10px;}
.desktop-menu-icon{left:10px;right:initial;top:9px;}
.login-popup-window{width:90%;}
.theme-login-box-uparrow, .theme-popup-login-left, .popup-overlay{display:none;}
.theme-popup-login-right{width:100%;max-height:100%;overflow:auto;padding:20px 20px 37px 20px;top:0;left:0;right:0;bottom:0;}
.theme-login-container-default{top:0;left:0;right:0;bottom:0;}
.login-popup-window-middle{top:0;left:0;right:0;bottom:0;}
.theme-login-footer-content{position:relative;margin-top:20px;}
.theme-popup-login-right, .theme-login-container-default, .theme-popup-login-right, .theme-login-container-default, .login-popup-window-middle{position:fixed;}
.theme-login-small-box{right:12px;top:51px;}
.after-login-popup{right:12px;top:51px;}
.theme-login-container{height:100%;}
.login-popup-window, .signup-section > div{width:100%;}
.theme-popup-login-left{display:none;}
.address-container > div{width:46%;}
.address-container > div:nth-child(odd){margin-right:8%;}


@keyframes smallPoupop{from{top:60px;}to{top:51px;} 0%{opacity:0;}100%{opacity:1} }
}

@media (max-width:580px){
.theme-login-small-box{right:10px;left:10px;min-width:initial;}
.theme-login-box-footer a:first-child{padding-right:10px;margin-right:10px;}
}

@media (max-width:375px){
.theme-login-right-text{margin-top:15px;}
.theme-login-buttons-wrapper{margin-bottom:0;}
.theme-login-buttons-wrapper button{width:100%;}
.theme-login-box-footer a:first-child{border-right:none;border-bottom:0;padding:0 0 9px 0;margin-bottom:11px;display:block;}
.after-login-popup{right:10px;left:10px;width:initial;min-width:initial}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait)
{
.theme-popup-login-right{padding:20px 20px 150px 20px;}
}
