@mixin best-value-desktop {
  .best-value {
    &:after {
      content:'';
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      border:solid $b-blue 4px;
    }
  }
  .best-value-label {
    top:0;
    right:0;
    z-index:1;
    padding:2px 12px;
    font-size:13px;
    border-bottom-left-radius:4px;
  }
}
@mixin best-value-mobile {
  .best-value {
    &:after {
      content:'';
      position:absolute;
      top:-4px;
      right:-4px;
      bottom:-4px;
      left:-4px;
      border:solid $b-blue 4px;
      @include border-radius(5px);
    }
  }
  .best-value-label {
    top:-21px;
    right:-4px;
    z-index:1;
    padding:2px 12px;
    font-size:13px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
  }
}
