@mixin dd-box-shadow {
          box-shadow:-3px 4px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:-3px 4px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:-3px 4px 20px 0px rgba(0, 0, 0, 0.2);
}


@mixin button-shadow {
          box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.15);
}


@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
