@mixin desktop-button {
  padding:12px 25px;
  font-size:15px;
  margin-bottom:10px;
  white-space:nowrap;
  background-color:$bgnd-emerald;
  @include border-radius(2px);
  &:hover {
    background: darken($bgnd-emerald, 5%);
  }
}

@mixin mobile-button {
  padding:9px 13px;
  font-size:13px;
  white-space:nowrap;
  background-color:$bgnd-emerald;
  @include border-radius(2px);
}

@mixin mobile-button-large {
  padding:12px 22px;
  font-size:15px;
  white-space:nowrap;
  background-color:$bgnd-emerald;
  @include border-radius(2px);
}

@mixin remove-room {
  font-size:12px;
  padding:3px 28px 3px 5px;
  background-color:$bgnd-cornflower-blue;
  cursor:pointer;
  &:hover {
    background-color: darken($bgnd-cornflower-blue, 5%);
    .close--icon {
      @include rotate(-90deg);
    }
  }
  .close--icon {
    width: 12px;
    height: 12px;
    top: 4px;
    right: 6px;
    z-index: 1;
    &:after, &:before {
      height:1px;
      top:5px;
      background-color:#fff;
    }
  }
}

@mixin txt-large-price {
  font-size:24px;
  padding:2px 0;
}

@mixin btn-outline {
  font-size:15px;
  border:solid $grid-border 2px;
  padding:10px 18px;
  margin-bottom:10px;
  white-space:nowrap;
  @include border-radius(2px);
  background-color:$bgnd-white;
  &:hover {
    border-color: darken($grid-border, 4%)
  }
}
@mixin btn-fill {
  padding:10px 18px;
  font-size:15px;
  margin-bottom:10px;
  white-space:nowrap;
  background-color:$bgnd-emerald;
  @include border-radius(2px);
  border:solid $b-green 2px;
  &:hover {
    background-color: darken($bgnd-emerald, 4%);
  }
}

@mixin view-more-btn {
  padding:10px 38px;
  font-size: 20px;
  margin-bottom:10px;
  white-space:nowrap;
  background-color:$bgnd-cornflower-blue;
  @include border-radius(2px);
  border:solid $b-blue 2px;
  margin-top:40px;
  &:hover {
    background-color: darken($bgnd-cornflower-blue, 4%);
  }
}

@mixin btn-radius-top-left {
  padding:8px 18px;
  font-size:$btn-size;
  background-color:$bgnd-cornflower-blue;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius: 20px;
  border:none;
  min-width:100px;
  &:hover {
    background-color: darken($bgnd-cornflower-blue, 4%);
  }
}
