@mixin close-button {
  .close-button {
    span {
      width:24px;
      height:24px;
      &:after {
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
      }
      &:before {
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg)
      }
      &:before, &:after {
        content:'';
        width:100%;
        height:2px;
        top:8px;
        left:0;
        background:$bgnd-close-btn;
        position:absolute;
      }
    }
  }
}
