@mixin content {
  &:after, &:before{
    content:'';
    display:block;
    clear:both;
  }
}

@mixin content-pstn-abslt {
  &:after, &:before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
}
