@mixin mobile-blue-gradient {
  background: #3148bd;
  background: -moz-linear-gradient(-45deg, #3148bd 0%, #40b495 100%);
  background: -webkit-linear-gradient(-45deg, #3148bd 0%,#40b495 100%);
  background: linear-gradient(135deg, #3148bd 0%,#40b495 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3148bd', endColorstr='#40b495',GradientType=1 );
}

@mixin desktop-blue-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3046c2+0,3fac99+100 */
  background: #3046c2; /* Old browsers */
  background: -moz-linear-gradient(left, #3046c2 0%, #3fac99 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3046c2 0%,#3fac99 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3046c2 0%,#3fac99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3046c2', endColorstr='#3fac99',GradientType=1 ); /* IE6-9 */
}
