@mixin gradient-white {
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 48%, rgba(255,255,255,0) 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 48%,rgba(255,255,255,0) 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 48%,rgba(255,255,255,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
