@mixin legends {
  border-bottom:solid red 2px;
  padding-bottom:28px;
  padding-top:0;
  margin:0 0 24px 0;
  ul li {
    padding-right:18px;
    font-size:12px;
    span {
      width:7px;
      height:7px;
      margin:-3px 10px 0 0;
      padding:0;
      opacity:1;
    }
  }
}

@mixin legends-no-border {
  padding:20px 0 20px 0;
  ul li {
    padding-right:18px;
    font-size:12px;
    span {
      width:7px;
      height:7px;
      margin:-3px 10px 0 0;
      padding:0;
      opacity:1;
    }
  }
}
