@mixin radio-button{
  height: 18px;
  width: 18px;
  @include border-radius(100px);
  border: 2px solid $b-blue;
  &.checked{
    &:after {
      border: 2px solid $b-blue;
      width: 8px;
      height: 8px;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      @include border-radius(100px);
      margin: 3px;
      position:absolute;
      content:'';
      background:$bgnd-cornflower-blue;
      }
  }
  &.radio-active {
    &:after {
      width: 8px;
      height: 8px;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      @include border-radius(100px);
      margin:auto;
      position:absolute;
      content:'';
      background:$bgnd-cornflower-blue;
      }
  }
}
