@mixin sell-all-btn {
  border:solid $b-blue 1px;
  font-size:15px;
  padding:7px 42px 7px 12px;
  margin-left:20px;
  &:before {
    content:'';
    position:absolute;
    width:7px;
    height:7px;
    border-top:solid $b-blue 1px;
    border-right:solid $b-blue 1px;
    transform:rotate(45deg);
    top:12px;
    right:12px;
  }
  &:after {
    content: '';
    height: 1px;
    width:13px;
    background: $bgnd-cornflower-blue;
    position: absolute;
    top: 15px;
    right:12px;
  }
}
