@mixin serp-badge {
  top:37px;
  left:-10px;
  font-size:15px;
  padding:9px 11px 8px 18px;
  background-color:$bgnd-yellow;
  -webkit-border-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 2px;
  -moz-border-radius-bottomleft: 0;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    box-shadow:1px 2px 0px rgba(0,0,0,0.2);
    z-index:1;
}

@mixin serp-badge-behind {
  top:71px;
  left:-21px;
  width:20px;
  height:12px;
  z-index:1;
  overflow:hidden;
  &:before {
    position:absolute;
    content:'';
    width:100px;
    height:23px;
    left:-11px;
    top:0;
    transform:rotate(45deg);
    background:$badge;
  }
}
