@mixin small-tooltip {
  padding:3px 9px;
  font-size:13px;
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.5);
  top:0;
  left:0;
  &:after {
    content: '';
    position: absolute;
    top:8px;
    right:-2px;
    background:$bgnd-white;
    width:5px;
    height:5px;
    transform:rotate(45deg);
  }
}
