@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
  //  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  //  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
}

@mixin transform ($scale) {
  transform:scale($scale);
  -webkit-transform: scale($scale);
  -moz-transform:scale($scale);
  -ms-transform:scale($scale);
}

@mixin transform-scale ($TScale) {
  transform:$TScale;
  -webkit-transform:$TScale;
  -moz-transform:$TScale;
  -ms-transform:$TScale;
}
