@mixin truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin multiline {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
