
.on-scroll-popup .dropdown-toggle{background:$bgnd-concrete;@include border-radius(2px);}
.on-scroll-popup .dropdown-toggle:hover{border:none;}
.on-scroll-popup ul.dropdown-menu{top:0;}
.on-scroll-popup .dropdown-menu{width:250px;top:-200px;min-height:200px!important;max-height:200px!important;box-shadow:1px 3px 20px 0 $box-shadow-color-light;}
.on-scroll-popup .dropdown-menu ul li{cursor:pointer}
.on-scroll-popup .dropdown-menu ul li a:hover{transition:all .2s ease-in-out;}


.onscroll-sticky-call{bottom:0;text-align:center;left:0;right:0;background:$bgnd-white;z-index:5;box-shadow:0 -1px 10px 0 $box-shadow-color-light;padding:8px 0;}
.thin-lowdeposit .onscroll-sticky-call .callus-time-txt{font-size:14px;}
.thin-lowdeposit .onscroll-sticky-call .callus-number{font-size:27px;}

@media(max-width:767px) {

  .mobile-widget-header.pstn-fxd {
    position:fixed;
  }
  .app-banner .MobileAppHead {
    position:absolute;
    margin-top:0!important;
    top:71px!important;
  }
  .theme-user-notification {
    top:9px!important;
    position:absolute;
  }
  .grid-search .mobile-stay-for .mobile-nghts-value{display:inline-block;}
  .mobile-widget-call-us .tth-price{margin-right:-1px;}
  .mobile-widget-call-us .tth-asterisk{right:-1px;}
  .grid-search .nights{font-size:13px;}
  .footer .android{margin-right:0;}
  .footer .copyright-section .content-middle{padding-bottom:10px;}
  .footer .copyright-section .content-middle .txt-more{padding:0;font-size:14px;}
  .thin-lowdeposit .callus-time-txt{font-size:13px;}
  .thin-lowdeposit .callus-txt{font-size:14px;}
  .newsletter .form input[type="text"]{cursor:none;font-size:0;padding:25px 15px;}
  .newsletter .form .ur-email{left:0;top:0;bottom:0;padding:17px 0 0 15px;height:50px;}
/* mobile homepage only */

  .mobile-widget-header.pstn-fxd {
    background-color:$bgnd-butterfly;
  }
  .newsletter {
    overflow:hidden;
    min-height:inherit;
    background-color:#886093;
    padding:20px 0 0 0;
    .newletter-social-icon {
      background-color:$bgnd-butterfly;
      margin-left:-20px;
      margin-right:-20px;
      padding:20px 0 15px 0;
    }
    .newsletter-form {
      margin-top:0;
    }
    .medium-label {
      font-size:20px;
    }
    .form {
      margin:0 0 20px 0;
    }
    .line-icon-email {
      display:none;
    }
    .newsletter-header.pstn-reltv .medium-label {
      padding-left:0;
    }
  }
  .footer {
    &.bgnd-color {
      background-color:$bgnd-butterfly;
      color:$txt-white;
      a, p, h4, span {
        color:$txt-white;
      }
      a {
        font-size:12px;
      }
      h4 {
        font-size:11px;
      }
    }
    .get-app {
      padding-top:16px;
    }
    .site-links {
      margin-top:30px;
    }
    .device-types {
      margin:0;
      text-align:center;
      a {
        display:inline-block;
      }
    }
    .get-app-form {
      padding-top:0;
    }
    .links-title {
      font-size:13px;
    }
    .copyright-section .content-middle:before {
      background:$bgnd-white;
      opacity:0.2;
      height:1px;
    }
  }
  .terms-of-conditions {
    border-width: 1px;
    border-color:rgba(255, 255, 255, 0.2);
    .short-desc {
      p:nth-child(3), p:nth-child(4) {
        padding-top:25px;
      }
    }
  }
  /*.footer {
    .footer-images {
      overflow:hidden;
      margin-top:40px;
      img {
        margin:0 10px;
      }
    }
    padding-bottom:36px;
  }*/
  .banner-slide {
    background-image:url('https://resources.teletextholidays.co.uk/drupal/images/hp-ab-testing/v2/640_homepage_sunshine_header.png');
    margin-bottom:15px;
    padding-bottom:0;
  }
  .sunshine-titles {
    padding-bottom:12px;
    /*display:flex;
    align-items:center;
    justify-content:space-between;*/
    span {
      font-size:22px;
      opacity:0.8;
      color:#000;
      font-weight:bold;
      display:block;
      margin-top:-4px;
      line-height:23px;
    }
  }
  .sunshine-small-image {
    justify-content:space-between;
    display:flex;
  }




  .slogan-title {
    letter-spacing:0.5px;
    padding-bottom:12px;
    .tth-price {
      font-size:24px;
      padding-left:2px;
      margin-right:5px;
    }
    .tth-from {
      top:-4px;
    }
    .tth-pp {
      font-size:18px;
      font-weight:bold;
      left:-9px;
    }
    > span {
      font-size:20px;
      line-height:20px;
    }
    p {
      padding-top:3px;
    }
  }
  .app-banner .banner-slide > .content-middle {
    padding:48px 20px 0 20px;
  }
  .thin-lowdeposit {
    .checkLoginBookingLink {
      padding:10px 0;
      margin-top:35px;
      background-color:$bgnd-butterfly;
      color:$txt-white;
      font-size:16px;
      font-weight:bold;
      @include border-radius(2px);
    }
    .callus-txt {
      font-size:20px;
    }
  }
  .grid-search {
    .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5 {
      padding:7px 10px 7px 40px;
    }
    .mobile-input-label {
      font-size:12px;
      letter-spacing:-0.2px;
    }
    .input-icon {
      left:8px;
      top:12px;
      opacity:0.7;
    }
  }
/* onscroll sticky Mobile */
  .onscroll-sticky-call{bottom:0;text-align:center;left:0;right:0;background:$bgnd-white;z-index:5;box-shadow:0 -1px 10px 0 $box-shadow-color-light;padding:8px 0;}
  .thin-lowdeposit .onscroll-sticky-call .callus-time-txt{font-size:14px;}
	.thin-lowdeposit .onscroll-sticky-call .callus-number{font-size:27px;}
}


.common-icons {
  @include common-icons-v2();
}
.homepage-icons {
  @include homepage-icons();
}
.sidemenu-sprite {
  @include sidemenu-sprite();
}
.footer-icons {
  @include social-icons();
}
