/*.banner-slide {background-image: url('https://resources.teletextholidays.co.uk/drupal/images/hp-ab-testing/v2/1970_homepage_sunshine_header.png')}
.votes-img {background: url('https://resources.teletextholidays.co.uk/drupal/images/votes/banner-desktop.png') no-repeat;height:70px;}

@media(max-width:1400px) {
  .banner-slide {background-image: url('https://resources.teletextholidays.co.uk/drupal/images/hp-ab-testing/v2/1400_homepage_sunshine_header.png')}
  .votes-img {background: url('https://resources.teletextholidays.co.uk/drupal/images/votes/banner-992.png') no-repeat;}
}

@media(max-width:1200px) {
  .banner-slide {background-image: url('https://resources.teletextholidays.co.uk/drupal/images/hp-ab-testing/v2/1200_homepage_sunshine_header.png')}
}

@media(max-width:1000px){
.banner-slide {background-image:url('https://resources.teletextholidays.co.uk/drupal/images/hp-ab-testing/v2/992_homepage_sunshine_header.png')}
}

@media(max-width:768px) {
  .banner-slide {background-image: url('https://resources.teletextholidays.co.uk/drupal/images/hp-ab-testing/v2/768_homepage_sunshine_header.png')}
  .votes-img {background: url('https://resources.teletextholidays.co.uk/drupal/images/votes/banner-768.png') no-repeat;}
}

@media(max-width:767px) {
  .banner-slide {background-image:url('https://resources.teletextholidays.co.uk/drupal/images/hp-ab-testing/v2/640_homepage_sunshine_header.png')}
  .votes-img {background: url('https://resources.teletextholidays.co.uk/drupal/images/votes/banner-mobile-2x.png') no-repeat; background-size:contain;}
  .votes-banner-outer .votes-banner {max-height:90px;}
}*/

.banner-slide .title-small{font-size:30px}
.banner-slide .title-large{font-size:52px;color:#fbdb3e;}
.banner-slide .title-wrapper{padding-bottom:35px;display:inline-block;margin-left:20px;margin-top:30px;text-shadow:0 2px 4px rgba(0, 0, 0, .34)}
.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/campaign/2019/jan-sale/home/test/1970-header.jpg);}

.british-travel-award{background:url(https://resources.teletextholidays.co.uk/drupal/images/homepage/bta.png) right top no-repeat;width:140px;height:130px;float:left;background-size:contain}
/*.banner-slide .grid-search{top:0}*/
.banner-slide > .content-middle{padding-top:165px}
.title-wrapper .small{font-size:40px}

@media (max-width:1400px){
.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/campaign/2019/jan-sale/home/test/1970-header.jpg);background-position:center center;}
}

@media (max-width:1200px){
.banner-slide{
  background-image:url(https://resources.teletextholidays.co.uk/drupal/images/campaign/2019/jan-sale/home/test/1200-header.jpg);


}
}
@media (max-width:1024px){
  .low-deposit-top .medium-txt, .low-deposit-top .txt-from, .low-deposit-top .tth-pp, .low-deposit-top .tth-pp{font-size: 20px;}
	.low-deposit-top .small-txt {padding-top:0;}
}

@media (max-width:992px){
.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/campaign/2019/jan-sale/home/test/992-header.jpg)}

}

@media (max-width:768px){
.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/campaign/2019/jan-sale/home/test/768-header.jpg)}

.british-travel-award{width:120px;height:110px}
.title-wrapper .title-small{font-size:24px}
.title-wrapper .small{font-size:32px}
.banner-slide .title-large{max-width:inherit;}
}

@media (max-width:767px){
.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/campaign/2019/jan-sale/home/test/640-header.jpg);}

.banner-slide>.content-middle{padding:70px 20px 15px;}
.british-travel-award{width:100px;height:92px}
.banner-slide .title-wrapper{padding-bottom:15px;margin-top:0;width:50% !important}
.title-wrapper .title-small{font-size:18px !important}
.banner-slide .title-large{font-size:32px !important}
.title-wrapper .small{font-size:27px}
.banner-slide .say-hello{display:block;text-align:center;}
.banner-slide .say-hello img{max-width:320px;width:100%;}
.banner-slide .sunshine-titles span{width: 70%;}
}
