.ai-deals {
  .ai-bg-bar {
    height: 10px;
  }
  .ai-deals-brdr {
    border-top: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;
  }
  .title {
    padding: 14px 0 14px 0;
  }
  .description {
    margin: 0 0 10px 0;
  }
  .content-middle {
    margin: 2px 0;
  }
  .ai-tile {
    border: solid 1px #f2f2f2;
    padding: 20px 0 20px 0;
    .content-middle {
      display: flex;
    }
  }
  .thumb {
    width: 90px;
    margin: 0 12px 0 0;
    flex: 2;
  }
  .thumb-descptn {
    flex: 3;
  }
  .viewdeal-btn {
    padding: 6px 12px 7px 12px;
    margin-top: 5px;
  }
  .tth-price {
    margin-left: 4px;
  }
  .tth-pp {
    left: 0;
  }
  .dstn-sub-title {
    margin-right: 2px;
  }
  .tth-pp {
    font-size: 9px;
  }
  .txt-from, .viewdeal-btn {
    font-size: 12px;
  }
  .dstn-sub-title {
    font-size: 13px;
  }
  .description {
    font-size: 14px;
  }
  .destination-name {
    font-size: 16px;
  }
  .tth-price {
    font-size: 22px;
  }
  .star-ratings {
    padding-top: 5px;
  }
  .see-all-btn {
    width: 100%;
    margin: 15px auto 18px auto;
    border: 1px solid #6e3d7c;
    padding: 11px 0;
    background: #fff;
    color: #6e3d7c;
    font-size: 16px;
    span {
      margin-left: -20px;
    }
  }
  .circle-arrow {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #58595b;
    margin: 0 0 0 5px;
  }
  .line-arrow-down {
    width: 7px;
    height: 7px;
    border-width: 1px;
    right: -20px;
    margin: auto;
    top: 6px;
    transform: rotate(45deg);
    &:before {
      content: '';
      height: 1px;
      width: 13px;
      background: #6e3d7c;
      position: absolute;
      top: 3px;
      right: -3px;
      transform: rotate(-45deg);
    }
  }
  .tth-asterisk {
    top: 7px;
    right: -2px;
  }
}

.top-deals {
  .ratings-wrapper {
    flex: 2;
    padding-top: 10px;
  }
  .deals-price {
    flex: 2;
    margin-top: -18px;
  }
  .viewdeal-btn {
    float: right;
  }
  .ratings-wrapper .txt-small-reviews {
    font-size: 13px;
  }
}
