.gray-strip span.star-icon-box span {
	background-position: -380px -93px;
	width: 14px;
	height: 14px;
}

.gray-strip span {
	display: inline-block;
	vertical-align: middle;
}

.gray-strip {
	background: #58595b;
	padding: 15px 0;
	color: #fff;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

.gray-strip .gray--left .rated-info {
	font-size: 15px;
	line-height: 20px;
}

.gray-strip .gray--left .star-icon-box {
	width: 18px;
	height: 18px;
	background: #73b143;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-right: 2px;
}

.gray-strip .gray--left .star-icon-box .sprite-svgz {
	width: 10px;
	height: 10px;
	background-position: -84px -5px;
	top: -3px;
	position: relative;
}

.gray-strip .gray--left .totalTrustPilotRate {
	font-size: 15px;
	font-weight: bold;
	padding-left: 8px;
}

.gray-strip .gray--left .trust-pilot-logo {
	width: 140px;
	height: 26px;
	background-position: -159px -254px;
	margin: 0 auto;
}

.gray-strip .gray--left .gray-strip-ratings {
	margin: 7px 0 14px 0;
}

.gray-strip .gray--middle {
	border-left: 2px solid #fff;
	margin: 0 5%;
	height: 110px;
}

.gray--right {
	padding-top: 8px;
}

.gray-strip .icon-and-label {
	margin-bottom: 10px;
	line-height: 16px;
}

.gray--right .icon-and-label .icon-label {
	padding-left: 35px;
}

.icon-and-label .pstn-abslt {
	width: 23px;
	height: 23px;
	left: 0;
	top: 0;
}

.gray--right .icon-pay {
	background-position: -185px -64px;
}

.gray--right .icon-low {
	top: 3px;
	background-position: -165px -64px;
}

.gray--right .icon-atol {
	background-position: -137px -234px;
	top: -4px;
}

.gray-strip .gray--left,
.gray-strip .gray--right,
.gray-strip .gray--middle {
	display: inline-block;
	vertical-align: middle;
}

.recent-searches {
	display: none;
}

.banner-overlay-strip {
	bottom: 71px;
}

.holidays-faq .holidays-faq {
	margin: 30px 0 0;
	text-align: left;
}

.multi-hotel-row .departure-date {
	max-width: 160px;
}


/* carousel-low-deposit */

.owl-carousel .owl-wrapper-outer {
	margin: 0 -15px;
}

.holidays-maincontainer-carousel {
	margin: 0 auto;
}

.cheap-holidays .deals-left span.stay {
	display: inline;
}

.cheap-holidays .content-row,
.cheap-holidays .tending-deal-heading,
.cheap-holidays .tending-deal-heading,
.cheap-holidays .destinations-section,
.cheap-holidays .winter-gateway {
	max-width: 1290px;
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
}

.cheap-holidays .content-row {
	margin-bottom: 0;
}

.cheap-holidays #HolidaysOfferContainer {
	max-width: 1290px;
	width: 100%;
	padding: 0 0 15px 0;
	margin: 0 auto;
}

.cheap-holidays .call-now-inner .strip-column-label {
	font: 13px 'proximanova-semibold';
}

.cheap-holidays .carousel-low-deposit .strip-icon-down-arrow {
	background-position: -398px -191px;
	width: 34px;
	margin-right: 7px;
	position: relative;
	height: 36px;
	vertical-align: middle;
	background-size: 470px;
}

.cheap-holidays .carousel-low-deposit .strip-icon-happy {
	margin-right: 7px;
}

.cheap-holidays .carousel-low-deposit .strip-column-label {
	vertical-align: middle;
}

.cheap-holidays .carousel-low-deposit i {
	font-size: 27px;
	vertical-align: middle;
	margin-right: 7px;
}

.cheap-holidays .carousel-low-deposit .payMonthly2,
.cheap-holidays .deposit-options {
	margin-right: 40px;
}

.cheap-holidays .deals-main-row>div.carousel-low-deposit {
	margin: 0 auto 60px;
}


/*.bottom-low-deposit .space1{display:none;}*/


/* Owl Carousel theme */

.cheap-holidays .owl-prev,
.cheap-holidays .owl-next {
	width: 30px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.9)!important;
	opacity: 0.7;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 50%;
	z-index: 9;
	border-radius: 0px!important
}

.cheap-holidays .owl-prev {
	left: 0;
}

.cheap-holidays .owl-next {
	right: 0;
}

.cheap-holidays .owl-theme .owl-controls .owl-buttons div {
	margin: 0px!important;
}


/*  Trending Holidays */


/*.cheap-holidays .deals-main-row h2.top-reasons{margin:40px 0 0;}*/

.cheap-holidays .all-inclusive-container ul li,
p {
	text-align: justify;
}

.cheap-holidays .all-deals-carousel-header {
	padding-top: 52px;
	background-color: #f2f2f2;
}

.cheap-holidays .all-deals-carousel-header h2 {
	padding: 0 0 21px 0;
	color: #58595b;
	font-size: 28px;
	margin: 0;
}

.cheap-holidays .deals-main-row {
	padding: 0 0 10px 0;
}

.cheap-holidays .deals-main-row h2 {
	/*margin:0 0 5px;color:#58595b;font-size:26px;font-family:'proximanova-regular'!important;padding:0;text-align:left;font-weight:normal;*/
	text-align: left;
	margin-bottom: 0;
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 5px;
}

.cheap-holidays .all-inclusive-container p.slider-botom-text {
	color: #58595b;
	font-size: 22px;
	margin-top: 60px !important;
	max-width: 520px;
	line-height: 26px;
}

.cheap-holidays .all-inclusive-container {
	text-align: left;
}

.cheap-holidays .all-inclusive-container ul {
	/*padding:0 0 0 25px;*/
	padding: 0 0 0 30px;
}

.cheap-holidays .all-inclusive-container ul li {
	/*list-style:disc;line-height:23px; font-size:16px;margin-bottom:15px;*/
	line-height: 21px;
	margin: 15px 0 0;
	font-size: 16px;
	list-style: disc;
}

.cheap-holidays .all-inclusive-deals-carousel-container {
	margin: 0 auto;
}

.cheap-holidays .all-inclusive-deals-carousel-container .owl-prev {
	left: 3px;
}

.cheap-holidays .all-inclusive-deals-carousel-container .owl-prev,
.cheap-holidays .all-inclusive-deals-carousel-container .owl-next {
	top: 23%;
}

.cheap-holidays .all-inclusive-deals-carousel-container a,
.cheap-holidays .all-inclusive-deals-carousel-container a:hover {
	color: #5a5a5a;
}

.cheap-holidays .owl-theme .owl-controls .owl-page span {
	background: rgba(88, 89, 91, 0.2);
	;
	border-radius: 100px;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	opacity: 1;
}

.cheap-holidays .owl-theme .owl-controls .owl-page.active span,
.cheap-holidays .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #58595b;
}

.cheap-holidays .owl-theme .owl-controls {
	margin: 18px 0 14px;
}

.cheap-holidays .all-inclusive-deals-carousel .owl-item {
	padding: 0;
}

.cheap-holidays .all-inclusive-deals-carousel .owl-next {
	right: 2px;
}

.cheap-holidays .price-condition {
	clear: both;
	color: #484848;
	font-size: 12px;
	line-height: 22px !important;
}

.cheap-holidays p.price-condition span {
	font-size: 21px;
	top: 5px;
}

.cheap-holidays .all-inclusive-top-deals-carousel .owl-buttons .fa,
.cheap-holidays .all-inclusive-deals-carousel .owl-buttons .fa,
.cheap-holidays .all-inclusive-offerscarousel .owl-buttons .fa {
	font-size: 20px;
	line-height: 44px;
}

.cheap-holidays .owl-carousel .owl-item {
	padding: 0;
}

.cheap-holidays .topseldetails label {
	float: none;
}

.cheap-holidays .all-inclusive-offerscarousel-container .owl-prev,
.cheap-holidays .all-inclusive-offerscarousel-container .owl-next {
	top: 14%;
}

.cheap-holidays .topseldetails p,
.cheap-holidays .topseldetails a {
	color: #5a5a5a
}

.cheap-holidays #slideshow .page-builder-element>div {
	margin: 0 auto !important;
}

.cheap-holidays .page-builder-row-section.page-builder-row-section-2 {
	background: none;
	padding: 0 !important;
	margin: 0;
}

.cheap-holidays .deals-slide {
	background: #fff;
	margin: 0 3px 10px 3px;
	width: 288px;
	margin: auto;
}

.cheap-holidays .deals-slide:hover {
	-webkit-box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, .2);
	-o-box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, .2);
	box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, .2);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.cheap-holidays .deals-img,
.cheap-holidays .offerimgblk {
	height: 196px;
}

.cheap-holidays .deals-img h3,
.cheap-holidays .offerimgblk h3 {
	padding: 6px 10px;
	margin: 0 auto;
	right: 0;
	top: 9px;
	left: 0;
}

.cheap-holidays .deals-img h3 span,
.cheap-holidays .offerimgblk h3 span {
	display: inline;
	padding: 7px 15px 7px 15px;
	font-size: 16px;
}

.cheap-holidays .deals-img .headerText1 span,
.cheap-holidays .offerimgblk .headerText1 span {
	background: #cb3544
}

.cheap-holidays .deals-img .headerText2 span,
.cheap-holidays .offerimgblk .headerText2 span {
	background: #9ac854;
}

.cheap-holidays .deals-img .headerText3 span,
.cheap-holidays .offerimgblk .headerText3 span {
	background: #f07541;
}

.cheap-holidays .deals-img .headerText4 span,
.cheap-holidays .offerimgblk .headerText4 span {
	background: #6e3d7c;
}

.cheap-holidays .deals-img img {
	max-width: 100%;
	height: 100%
}

.cheap-holidays .deals-row {
	overflow: hidden;
	padding: 8px 18px;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
}

.cheap-holidays .deals-row:hover {
	background: #f2f2f2;
}

.cheap-holidays .deals-left {
	width: 65%;
}

.cheap-holidays .deals-right {
	width: 30%;
	font-size: 14px;
	color: #886093;
}

.cheap-holidays .deals-right .price {
	font-size: 14px;
	color: #886093;
}

.cheap-holidays .deals-right .save-bar {
	background: #cb3544;
	padding: 2px 5px;
	margin-top: 3px;
}

.cheap-holidays .deals-left span {
	margin: 0;
	line-height: 20px;
}

.cheap-holidays .deals-left .deal-hotel-name {
	font-size: 16px;
	color: #58595b;
	margin: 0px 0;
	font-family: 'proximanova-semibold';
}

.cheap-holidays .deals-left .deal-description,
.cheap-holidays .deals-left .stay {
	font-size: 14px;
	color: #9b9b9d;
}

.cheap-holidays .deal-rating .fa-star {
	margin: 0 2px 0 0
}

.cheap-holidays .view-deal {
	padding: 3px 7px;
	display: inline-block;
	margin-top: 5px;
}

.cheap-holidays .deals-img img {
	width: 100%
}

.cheap-holidays .deals-img h3 {
	text-transform: uppercase;
	position: absolute;
}

.cheap-holidays .deals-img h3,
.cheap-holidays .deals-img h3 span {
	color: #fff
}

.cheap-holidays .deals-left span,
.cheap-holidays .deals-img h3,
.cheap-holidays .deals-img {
	display: block
}

.cheap-holidays .deals-right,
.cheap-holidays .deals-left {
	float: left
}


/*.cheap-holidays .deals-row, .cheap-holidays .deals-main-row{overflow:hidden}*/

.cheap-holidays .deals-right {
	text-align: right
}

.cheap-holidays .price-condition,
.cheap-holidays .deals-img h3,
.cheap-holidays .desinspbtmtext,
.cheap-holidays .trending-holidays .desinspheading {
	text-align: center
}

.cheap-holidays .trending-holidays .desinspheading {
	font-weight: bold
}

.cheap-holidays .deals-img {
	position: relative
}

.cheap-holidays .desinspbtmtext {
	width: 100%;
	padding-bottom: 9px;
}

.cheap-holidays .trending-holidays .desinspheading {
	color: #58595b;
	font-size: 28px;
	margin: 0px;
	padding-top: 20px;
}

.cheap-holidays .desinspbtmtext {
	font-size: 14px;
}

.cheap-holidays .deals-save {
	display: none;
	background-color: #cb3544;
	text-align: center;
	font-size: 11px;
	color: #fff;
	float: right;
	padding: 2px 3px;
}

.cheap-holidays .deals-save span {
	font-weight: bold;
}

.cheap-holidays .call-to-book {
	font-size: 32px;
	padding-right: 0;
	letter-spacing: -0.7px;
	display: block;
	margin: 0 0 30px 0;
}


/* For iPhones */

.iPhones .cheap-holidays .trending-holidays-carousel .location-label {
	letter-spacing: -0.5px;
}

.iPhones .cheap-holidays .trending-holidays-carousel .multi-hotel-row {
	padding: 9px 9px;
}


/* Container Section Css */

.cheap-holidays .deals-main-row p {
	font-size: 16px;
	text-align: justify;
	line-height: 26px;
}

.cheap-holidays p a {
	color: #37bdd1;
	padding: 0 !important;
	display: inline;
}

.cheap-holidays .deals-main-row h3 {
	font-size: 17px;
	margin-top: 20px;
	font-weight: 600;
}

.cheap-holidays .strip-text2 {
	font-size: 28px;
}

.cheap-holidays .deposit-price-fig {
	display: inline-block;
}

.cheap-holidays .tending-deal-heading {
	padding: 0;
}


/* Low Deposite Box Css */

.cheap-holidays .low-deposite-box .banner-strip-mn {
	padding: 10px 0
}

.cheap-holidays .low-deposite-box .banner-strip-manyof {
	margin: 0 30px 0 0;
}

.cheap-holidays .low-deposite-box .manydeal-call {
	font-size: 24px;
	line-height: 1.08;
	letter-spacing: -.4px
}

.cheap-holidays .low-deposite-box .many-of1,
.cheap-holidays .low-deposite-box .many-of2 {
	font-size: 18px;
	letter-spacing: -.4px
}

.cheap-holidays .low-deposite-box .atol,
.cheap-holidays .low-deposite-box .banner-strip-manyof,
.cheap-holidays .low-depst-trust-rating,
.cheap-holidays .low-deposite-box .manydeal-call,
.cheap-holidays .low-deposite-box .manydeal-call-to-book {
	display: inline-block;
	vertical-align: middle
}

.cheap-holidays .low-deposite-box .manydeal-call-to-book {
	font-size: 18px;
	line-height: 1.44
}

.cheap-holidays .low-depst-trust-rating {
	display: inline-block
}

.cheap-holidays .low-deposite-box .low-depst-rating-stars,
.cheap-holidays .low-depst-trust-rating .totalTrustPilotRate,
.cheap-holidays .low-deposite-box .payMonthly1 {
	display: inline-block;
	vertical-align: top
}

.cheap-holidays .low-depst-trust-rating ul li {
	width: 14px;
	height: 14px;
	float: left;
	list-style: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-right: 2px;
	background: #d8d8d8
}

.cheap-holidays .low-depst-trust-rating ul li.active {
	background: #73b143
}


/*.cheap-holidays .low-depst-trust-rating ul li span{background:url(https://resources.teletextholidays.co.uk/drupal/images/sprite/svgz/svgz-sprite-v14.svgz) -83px -6px no-repeat;width:12px;height:12px;display:inline-block}*/

.cheap-holidays .low-depst-trust-rating .totalTrustPilotRate {
	font-size: 15px;
	color: #58595b;
	line-height: 16px;
	padding-left: 3px
}

.cheap-holidays .low-depst-trust-logo {
	width: 124px;
	height: auto
}

.cheap-holidays .low-depst-trust-logo img {
	max-width: 100%;
	height: auto;
	vertical-align: top
}

.cheap-holidays .low-deposite-box .call-now-inner .strip-column-label {
	font: 13px proximanova-semibold;
}

.cheap-holidays .low-deposite-box .strip-column-space {
	width: 1px;
	background: #d8d8d8;
	height: 30px;
	margin: 0 10px;
	vertical-align: middle
}

.cheap-holidays .strip-column {
	vertical-align: middle;
}

.cheap-holidays .strip-column .strip-column-label>span {
	display: block;
}

.cheap-holidays .txt-purple a:hover {
	color: #6e3d7c;
}

.cheap-holidays .low-deposite-box .payMonthly1 {
	vertical-align: middle
}

.cheap-holidays .low-deposite-box .strip-icon-atl {
	margin-right: 6px
}

.cheap-holidays .low-deposite-box #showOnTablet,
.cheap-holidays .low-deposite-box #showOnTablet1,
.cheap-holidays .low-deposite-box .many-of2 {
	display: none
}

.cheap-holidays #lowDesposits,
.cheap-holidays .payMonthly1,
.cheap-holidays .space6,
.cheap-holidays #getRecommendations,
.cheap-holidays .space7,
.cheap-holidays .ppc-atol-mbl-show,
.cheap-holidays .ppc-atol-ipd-show,
.cheap-holidays .low-depst-trust-rating {
	display: inline-block
}

.cheap-holidays .strip-icon-happy,
.cheap-holidays .strip-icon-yrs,
.cheap-holidays .strip-icon-atl {
	margin-right: 5px;
}

.cheap-holidays .strip-column-label {
	margin: 0;
}

.cheap-holidays #lowDesposits .strip-desposit-price {
	font-size: 13px;
}


/* Winter Gateway css */

.cheap-holidays .winter-gateway {
	text-align: center;
}

.cheap-holidays .deals-main-row>div.winter-gateway {
	margin: 0 auto;
	text-align: center;
	max-width: 1290px;
	width: 100%;
}

.cheap-holidays .winter-gateway h2 {
	font-size: 56px;
	font-weight: 600;
	margin: 0;
	letter-spacing: -0.9px;
	text-align: center;
	text-transform: inherit;
}

.cheap-holidays .winter-gateway h2:before {
	content: ".................";
	letter-spacing: 20px;
	color: #efefef;
	display: block;
	margin: 0 0 50px;
}

.cheap-holidays .deals-main-row .winter-gateway h3 {
	font-size: 40px;
	color: #9ac854;
	font-weight: 600;
	margin: 0 0 15px;
	line-height: normal;
	position: relative;
	text-align: center;
}

.cheap-holidays .winter-gateway h3 {
	position: relative;
}

.cheap-holidays .winter-gateway h3 a {
	display: initial;
	color: #9ac854;
	z-index: 0;
}

.cheap-holidays .winter-gateway ul {
	margin: 60px 0 0;
}

.cheap-holidays .winter-gateway ul li {
	display: inline-block;
	padding: 0 0 0 80px;
	text-align: left;
	max-width: 25%;
	vertical-align: top;
}

.cheap-holidays .winter-gateway ul li:first-child {
	padding-left: 0;
}

.cheap-holidays .winter-gateway ul label {
	padding: 0 0 0 15px;
	display: table-cell;
	vertical-align: top;
}

.cheap-holidays .winter-gateway ul label span {
	display: block;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: -0.6px;
}

.cheap-holidays .winter-gateway ul li>span {
	display: table;
	width: 100%;
}

.cheap-holidays .winter-gateway span.success-icon {
	width: 34px;
	height: 26px;
	display: inherit;
	background-position: -281px -61px;
}

.cheap-holidays .winter-gateway ul label span.txt-bold {
	font-size: 26px;
	margin: 0 0 8px;
	letter-spacing: -0.8px;
}


/* Top Deals Css */

.cheap-holidays .deals-main-row div.top-hotels {
	padding: 50px 60px;
	max-width: 100%;
	margin: 0 auto;
}

.cheap-holidays .deals-main-row div.top-hotels>div {
	max-width: 1300px;
	margin: 0 auto;
}

.cheap-holidays .deals-main-row div.top-hotels:nth-child(1),
.cheap-holidays .deals-main-row div.top-hotels:nth-child(3) {
	background: #f2f2f2;
}

.cheap-holidays .top-hotels a {
	padding: 0 15px;
	display: inline-block;
	vertical-align: top;
}

.cheap-holidays .top-hotels a img {
	width: 100%;
	height: auto;
}

.cheap-holidays .top-hotels .multi-hotel-row {
	padding: 7px 20px;
	display: inline-block;
	width: 100%;
	min-height: 210px;
}

.cheap-holidays .holidays-item {
	box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	background: #fff;
	width: 300px;
}

.cheap-holidays .holidays-item label {
	padding: 15px 0;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 23px;
}

.cheap-holidays .destination-name {
	text-align: center;
}

.cheap-holidays .holidays-item:hover {
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.24);
}

.cheap-holidays .top-hotels .low-deposit-item {
	padding-bottom: 10px;
	margin-bottom: 15px;
	min-height: 45px;
	display: table;
	width: 100%;
	border-bottom: solid #d4d4d4 1px;
	position: relative;
	z-index: 5;
}

.cheap-holidays .top-hotels .low-deposit-item div {
	position: relative;
}

.cheap-holidays .top-hotels .low-deposit-item>.float-left {
	width: 100%;
}

.cheap-holidays .top-hotels .low-deposit-item .float-left span.txt-bold {
	font-size: 16px;
	color: #6e3d7c;
	margin: 3px 0 8px 0;
	min-height: 35px;
}

.cheap-holidays .top-hotels .low-deposit-item .float-left span {
	line-height: 18px;
	display: inline-block;
	font-size: 12px;
	color: #9b9b9b;
}

.cheap-holidays .top-hotels .low-deposit-item .float-left span.tripadv-review-count {
	color: #58595b;
	background: none;
	width: auto;
	height: inherit;
	position: relative;
	top: -2px;
	margin-left: 5px !important;
	z-index: 2
}

.cheap-holidays .top-hotels .tth-price {
	font-size: 24px;
	margin-right: 5px;
}

.cheap-holidays .top-hotels .deals-price {
	line-height: normal;
}

.cheap-holidays .top-hotels .inc-flight {
	margin: -6px 0 5px;
	font-size: 12px;
}

.cheap-holidays .top-hotels .ai-trp-rating .view-deal {
	padding: 8px 10px;
	font-size: 15px;
}

.cheap-holidays .top-hotels .ai-trp-rating .float-left {
	color: #9b9b9b;
}

.cheap-holidays .top-hotels .tth-asterisk {
	top: 8px;
	right: 2px;
}


/* Footer Css */

.cheap-holidays .opt-footer {
	padding: 50px 0 0 0;
	background: rgba(242, 242, 242, 0.5);
	text-align: center;
}

.cheap-holidays .footer-links {
	margin: 0;
	padding-bottom: 50px;
}

.cheap-holidays .holiday-types {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	min-width: 400px;
}

.cheap-holidays .holiday-types h2 {
	font-size: 20px;
	color: #58595b;
	font-weight: bold;
	margin: 0 0 8px;
}

.fa-star:before {
	content: "\f005";
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cheap-holidays .holiday-types ul li {
	line-height: 1.86;
}

.theme-footer-links {
	border: none;
}


/* Guides Section */

.cheap-holidays .places {
	min-height: 380px;
	margin-bottom: 32px;
	-webkit-animation: anima 2s;
	-moz-animation: anima 2s;
	-o-animation: anima 2s;
	-ms-animation: anima 2s;
	animation: anima 2s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	position: relative;
	overflow: hidden;
	background: #fff;
}

.cheap-holidays .places-image.explore-image {
	height: 380px;
	max-width: 317px;
	width: 317px;
	position: relative;
}

.cheap-holidays .place-caption,
.cheap-holidays .places .place-image,
.cheap-holidays .places:hover .place-caption,
.cheap-holidays .places:hover img,
.cheap-holidays a,
.cheap-holidays a:hover {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.cheap-holidays .explore-image img,
.cheap-holidays .places-image img {
	max-width: 100%;
	height: auto;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.cheap-holidays .place-image {
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-o-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}

.cheap-holidays .places h4 {
	margin: 0 auto;
	top: 12px;
	padding: 0;
	text-transform: uppercase;
	position: absolute;
	display: block;
	left: 24px;
	color: #fff;
}

.cheap-holidays .right-to-left {
	top: 0;
	left: 39%;
}

.cheap-holidays .place-caption {
	cursor: default;
	height: 100%;
	background: rgba(255, 255, 255, .99);
	padding: 10px;
	position: absolute;
	text-align: left;
}

.cheap-holidays .text-width-fixed {
	width: 500px;
	line-height: 26px;
	text-align: center;
	display: table;
}

.cheap-holidays .place-sprite-icon-quotes {
	width: 28px;
	height: 23px;
	background-position: -512px -371px;
	margin: 15px auto 25px;
}

.cheap-holidays .fullItems .read-more {
	max-height: 220px;
	position: absolute;
	overflow: hidden;
}

.cheap-holidays .places .text-width-fixed p {
	line-height: 26px;
	padding: 5px 10px 0;
	color: #58595b;
	font-size: 16px;
	margin: 0 auto;
}

.cheap-holidays .places-readmore {
	margin: 0 auto;
	width: 10px;
	height: 10px;
	left: 50%;
	bottom: 20px;
	border-left: solid #37bdd1 2px;
	border-bottom: solid #37bdd1 2px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	cursor: pointer;
}

.cheap-holidays .places:hover .place-image {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.cheap-holidays .places:hover .right-to-left {
	left: 37%;
	top: 0;
}

.cheap-holidays .places:hover .bottom-to-top,
.cheap-holidays .places:hover .left-to-right,
.cheap-holidays .places:hover .right-to-left,
.cheap-holidays .places:hover .top-to-bottom {
	-ms-filter: "alpha(opacity=($opacity * 100))";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-o-touch-callout: none;
	-ms-touch-callout: none;
	touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

.cheap-holidays .places:hover .read-more {
	max-height: 73%;
}

.cheap-holidays .explore-image {
	height: 174px;
}

.cheap-holidays .bottom-to-top {
	bottom: -46%;
}

.cheap-holidays .read-more {
	max-height: 105px;
}

.cheap-holidays .places .place-caption p {
	margin: 0 auto;
	padding: 0 20px;
	font-size: 15px;
	line-height: 20px;
}

.cheap-holidays .places:hover {
	box-shadow: 0 12px 20px 0 rgba(0, 0, 0, .1);
}

.cheap-holidays .places:hover .bottom-to-top,
.cheap-holidays .places:hover .top-to-bottom,
.cheap-holidays .top-to-bottom {
	left: 0;
	bottom: 0;
}

.cheap-holidays .pic-left-right .places-image {
	float: right;
}

.cheap-holidays .left-to-right {
	top: 0;
	right: 39%;
}

.cheap-holidays .places:hover .left-to-right {
	right: 36%;
	top: 0;
}


/* Subscribe */

.cheap-holidays .nlsignup {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.12);
	display: block;
	max-width: 100%;
}

.cheap-holidays .nlsignup .left-addon input,
#btn-subscribe {
	box-shadow: none;
	border: none;
}

.cheap-holidays .nlsignup .inner-addon {
	padding: 13px 20px;
	width: 306px;
	background: #fff;
	height: 70px;
	text-align: left;
}

.cheap-holidays .nlsignup .inner-addon:first-child {
	width: 270px;
}

.cheap-holidays .nlsignup .left-addon input {
	padding: 0;
	font-size: 16px;
}

.cheap-holidays .nlsignup .inner-addon:before {
	content: 'Email';
	display: block;
	color: #9ac854;
	font-size: 16px;
	font-family: 'proximanova-semibold'!important
}

.cheap-holidays .nlsignup .inner-addon:first-child:before {
	content: 'Name'
}

.cheap-holidays .nlsignup .inner-addon:first-child:after {
	content: '';
	position: absolute;
	top: 15px;
	right: 0;
	bottom: 15px;
	width: 1px;
	background: rgba(88, 89, 91, 0.2);
}

.cheap-holidays .nlsignup .subscribe-frm .col-xs-2 {
	padding: 0;
	width: 164px;
}

.cheap-holidays .nlsignup .subscribe-frm .col-xs-2 button {
	width: 100%!important;
}

.cheap-holidays .nlsignup .subscribe-frm {
	padding: 0;
	width: 740px;
}

.cheap-holidays #btn-subscribe {
	padding: 21px 0;
	height: inherit;
	text-transform: lowercase;
	font-size: 20px;
}

.cheap-holidays #btn-subscribe:first-letter {
	text-transform: uppercase;
}

.cheap-holidays .nlsignup .inner-addon .fa:before {
	content: '\00D7';
	font-size: 20px;
	color: #000
}

.cheap-holidays .nlsignup .inner-addon .fa {
	font-size: 0;
	position: absolute;
	top: 0;
	right: 13px;
	left: auto;
}

.cheap-holidays .nlsignup span.close--icon {
	top: 8px;
	width: 10px;
}

.cheap-holidays .close--icon:before,
.cheap-holidays .close--icon:after {
	height: 1px;
	/*background:#58595b;*/
}


/* Cheap holidays Destinations Css */

.cheap-holidays .deals-main-row>div.destinations-section {
	padding: 50px 0 0 0;
	max-width: 960px;
	text-align: center
}

.cheap-holidays .deals-main-row>div.destinations-section:before,
.cheap-holidays .deals-main-row>div.destinations-section:after {
	content: '';
	display: block;
	clear: both;
}

.cheap-holidays .deals-main-row>div.destinations-section .col-md-4 {
	padding: 0 15px;
	width: 319px;
	display: inline-block;
	float: none;
	vertical-align: top;
}

.cheap-holidays .destibations-list {
	margin: 0 -15px;
}

.cheap-holidays .destinations {
	margin: 0 0 30px;
	background: #fff;
	text-align: left
}

.cheap-holidays .destinations .desti-inner {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.45s ease;
	transition: all 0.45s ease;
}

.cheap-holidays .destinations .desti-inner:hover {
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.24);
}

.cheap-holidays .holidays-faq {
	text-align: left;
}

.cheap-holidays .destinations h3 {
	margin: 0 0 3px;
	font-size: 16px;
}

.cheap-holidays .destinations-content {
	padding: 15px 20px;
	overflow: hidden;
	min-height: 350px;
	position: relative;
}

.cheap-holidays .destinations-content p {
	font-size: 12px;
	line-height: 15px;
	color: #a3a3a3;
	margin-bottom: 20px;
}

.cheap-holidays .destinations-content p:nth-child(2n+1) {
	margin: 0 0 5px;
}

.cheap-holidays .destinations .view-deal {
	padding: 9px 10px;
	line-height: normal;
	position: absolute;
	right: 20px;
	bottom: 15px;
}

.cheap-holidays .destinations .view-deal:hover {
	color: #fff;
}

.cheap-holidays .holiday-caurosel-init {
	text-align: center;
	margin: 30px 0 0;
}

.cheap-holidays .place-trpadvsr-min-height>div {}

.b-radius100 {
	border-radius: 100px;
}

.cheap-holidays .owl-theme .owl-controls .owl-buttons div {
	display: none;
}

.hotel-rating .txt-nights-option {
	padding-left: 5px;
}

.cheap-holidays .middle-strip {
	margin-bottom: 50px;
}

.owl-carousel .owl-item {
	float: none;
	display: inline-block;
}

.cheap-holidays .holiday-types-links .deals-rating {
	max-width: 280px;
	display: block;
}


/* Searchpopup*/

.citybreaks .search-ttip {
	padding: 5px 12px;
	border-radius: 4px;
	box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.11), 0 0 12px 0 rgba(0, 0, 0, 0.22);
	left: 0px;
	animation: slide-down .5s cubic-bezier(0.32, -0.01, 0.76, 0.35);
	animation-delay: 1.2s;
	animation-fill-mode: forwards;
	bottom: -38px;
}

.citybreaks .txt-butterfly {
	color: #6e3d7c;
}

.citybreaks .vrtcl-align-middle span {
	vertical-align: middle;
}

.citybreaks .search-ttip:before {
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	background: #fff;
	bottom: 20px;
	left: 75px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.owl-carousel .owl-wrapper {
	margin: auto;
}


/* Rating Css*/

.ratings {
	overflow: hidden;
}


/* Banner Bottom Overlay Strip */

.cheap-low-deposit.banner-strip-wrapper {
	z-index: 2;
}

.cheap-low-deposit .banner-overlay-strip {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 4px 0;
	width: 100%;
	color: #fff;
	text-align: center;
	bottom: 70px;
	z-index: 1
}

.cheap-low-deposit .banner-overlay-strip a,
.cheap-low-deposit .banner-overlay-strip a:hover {
	color: #fff;
	transition: all .2s ease-in-out
}

.cheap-low-deposit .banner-overlay-strip a:hover {
	opacity: 0.7
}

.cheap-low-deposit .banner-overlay-strip,
.cheap-low-deposit .price-asterisk,
.cheap-low-deposit .ie-mask-phone {
	position: absolute
}

.cheap-low-deposit .strip-text1 {
	color: #fff;
}

.cheap-low-deposit .strip-text1,
.cheap-low-deposit .price-decimal {
	font-size: 28px;
	font-weight: 600;
}

.cheap-low-deposit .strip-text1,
.cheap-low-deposit .strip-text2,
.cheap-low-deposit .deposit-price-fig,
.cheap-low-deposit .strip-row-1,
.cheap-low-deposit .strip-column,
.cheap-low-deposit .strip-row-1,
.cheap-low-deposit .strip-icon-happy,
.cheap-low-deposit .strip-icon-yrs,
.cheap-low-deposit .strip-icon-atl,
.cheap-low-deposit .strip-column-space,
.cheap-low-deposit .strip-row-2,
.cheap-low-deposit .call-now-inner,
.cheap-low-deposit .call-now-inner,
.cheap-low-deposit .call-now-icon,
.cheap-low-deposit .strip-icon-box,
.cheap-low-deposit .tth-radio-fill,
.cheap-low-deposit .tth-radio-outline,
.cheap-low-deposit .recommendations-icon,
.cheap-low-deposit .white-button span,
.cheap-low-deposit .tth-uncheckbox,
.cheap-low-deposit .tth-price-wrapper,
.cheap-low-deposit .white-button {
	display: inline-block;
	vertical-align: top;
}

.cheap-low-deposit .strip-text2 {
	font-size: 22px;
	padding-top: 4px;
}

.cheap-low-deposit .deposit-price-fig {
	color: #fbdb3e;
}

.cheap-low-deposit .deposit-price-fig,
.cheap-low-deposit .strip-icon-happy,
.cheap-low-deposit .strip-icon-atl,
.cheap-low-deposit .strip-column,
.cheap-low-deposit .call-now-icon,
.cheap-low-deposit .call-now-inner,
.cheap-low-deposit .recommendations-icon {
	position: relative;
}

.cheap-low-deposit .price-asterisk {
	top: 11px;
	right: -3px;
}

.cheap-low-deposit .banner-white-strip {
	background-color: #fff;
	text-align: center;
	padding: 19px 0 11px
}

.cheap-low-deposit .banner-white-strip label {
	margin-top: 0;
}

.cheap-low-deposit .strip-column {
	text-align: left;
}

.cheap-low-deposit .cheap-low-deposit .strip-icon-happy {
	background-position: -505px -40px;
	height: 36px;
	width: 44px;
	top: -2px;
}


/* .cheap-low-deposit .strip-icon-yrs{background-position:-157px -184px;width:25px;height:25px;} */


/* .cheap-low-deposit .strip-icon-atl{background-position:-10px -276px;width:84px;height:34px;top:-3px;} */

.cheap-low-deposit .strip-icon-happy,
.cheap-low-deposit .strip-icon-yrs,
.cheap-low-deposit .strip-icon-atl {
	margin-right: 12px;
}

.cheap-low-deposit .strip-column-label {
	line-height: 15px;
	font-size: 13px;
}

.cheap-low-deposit .strip-column-space {
	width: 1px;
	background: #d8d8d8;
	height: 30px;
	margin: 0 15px;
}

.cheap-low-deposit .cheap-low-deposit .call-now-inner {
	text-align: center;
	line-height: 18px;
	top: -2px;
}

.cheap-low-deposit .call-now-inner,
.cheap-low-deposit .call-now-icon,
.cheap-low-deposit .valign-center {
	vertical-align: middle
}

.cheap-low-deposit .call-now-inner .strip-column-label,
.cheap-low-deposit .call-now-number {
	text-align: center;
}

.cheap-low-deposit .call-now-number {
	font-size: 22px;
	font-weight: 600;
}

.cheap-low-deposit .call-now-icon i {
	font-size: 18px;
	transform: rotate(5deg);
}

.cheap-low-deposit .call-now-icon {
	border-radius: 100px;
	border: 2px solid;
	width: 30px;
	height: 30px;
	padding: 5px 6px;
	margin-right: 10px;
	top: -2px;
}

.cheap-low-deposit .strip-icon-box {
	border: 1px solid rgba(88, 89, 91, .2);
	border-radius: 100px;
	width: 32px;
	height: 32px;
	margin: 0 2px;
	font-size: 16px;
	float: left;
	background: #fff;
}

.cheap-low-deposit .strip-icon-box .fa-envelope {
	color: #876092;
	padding-top: 7px;
}

.cheap-low-deposit .strip-icon-box .fa-twitter {
	color: #46bdd0;
	padding-top: 8px;
}

.cheap-low-deposit .strip-icon-box .fa-facebook {
	color: #71427e;
	padding-top: 7px;
}

.cheap-low-deposit .ie-mask-phone {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
	z-index: 2;
}

.cheap-low-deposit .strip-social {
	text-align: center
}

.cheap-low-deposit .price-pp {
	font-size: 13px;
}

.cheap-low-deposit .easter-strip {
	background-color: #f2f2f2;
}

.cheap-low-deposit .easter-strip .call-now-icon {
	background-color: #fff;
}

.cheap-low-deposit #lowDesposits,
.cheap-low-deposit .payMonthly1,
.cheap-low-deposit .space6,
.cheap-low-deposit #getRecommendations,
.cheap-low-deposit .space7,
.cheap-low-deposit .ppc-atol-mbl-show,
.cheap-low-deposit .ppc-atol-ipd-show {
	display: none
}

.cheap-low-deposit #lowDesposits .strip-icon-happy {
	background-position: -472px -229px;
	width: 34px;
}


/* .cheap-low-deposit .payMonthly1 .strip-icon-happy, .cheap-low-deposit .payMonthly2 .strip-icon-happy{background-position:-515px -226px;width:26px;} */

.cheap-low-deposit #getRecommendations .txt-bold,
.cheap-low-deposit .payMonthly1 .txt-bold,
.cheap-low-deposit .payMonthly2 .txt-bold,
.cheap-low-deposit #lowDesposits .strip-desposit-txt,
.cheap-low-deposit .call-now-inner .strip-column-label,
.cheap-low-deposit .call-now-number {
	display: block;
}

.cheap-low-deposit #lowDesposits .strip-desposit-price {
	font-size: 18px;
}

.cheap-low-deposit .recommendations-icon {
	background-position: -115px -175px;
	width: 37px;
	height: 37px;
	top: -5px;
	margin-right: 12px;
}

.cheap-low-deposit #callNow {
	display: none;
}


/* #protectedHolidays .strip-column-label{position:relative;top:5px;}*/


/**/

.low-depst-trust-rating {
	display: inline-block;
}

.middle-strip #protectedHolidays br {
	display: none;
}

.flexible-date {
	padding: 3px 0 0 12px;
}

.flexible-date .date-type {
	font-size: 13px;
}

.cheap-holidays .gray-background {
	background: rgba(242, 242, 242, 0.5);
}

@media (max-width:1400px) {
	.top-hotels .tending-deal-heading {
		max-width: 960px;
	}
}

@media (max-width:1290px) {
	.cheap-holidays .content-row,
	.cheap-holidays .tending-deal-heading {
		width: 960px
	}
	#ravelExperience,
	.space1 {
		display: none;
	}
	.holidays-maincontainer-carousel {
		width: 100%;
	}
	/* Banner Bottom Overlay Strip */
	.cheap-low-deposit #ravelExperience {
		display: inline-block;
	}
	.cheap-low-deposit .strip-social,
	.cheap-low-deposit .space4 {
		display: none;
	}
}

@media (max-width:1200px) {

	/* Optimizely Subscribe */
	.cheap-holidays .non-scrollable .nlsignup {
		width: 892px;
	}
	/* winter Gateway Css */
	.cheap-holidays .winter-gateway {
		width: 100%;
	}
	.cheap-holidays .winter-gateway h2 {
		font-size: 52px;
	}
}

@media(max-width:1130px) {
	.owl-carousel .owl-wrapper-outer {
		text-align: left;
	}
	#payMonthly1,
	.cheap-holidays .middle-strip .space2 {
		display: none;
	}
	.space2,
	.cheap-holidays .middle-strip .space3 {
		display: none
	}
	.ppc-low-deposit label span:nth-child(2) {
		display: none!important;
	}
	.strip-desposit-txt .txt-bold:first-child {
		display: block;
	}
	.banner-overlay-strip {
		bottom: 60px;
	}
	.cheap-holidays .content-row {
		width: 90%;
		max-width: 90%;
	}
	.cheap-holidays .tending-deal-heading {
		width: 90%;
	}
	.cheap-holidays .holidays-faq {
		clear: both;
		padding: 0 50px;
	}
	.cheap-holidays .holiday-types {
		min-width: 150px;
		padding-left: 5%;
	}
	.cheap-holidays .holiday-types:first-child {
		padding-left: 0;
	}
	/* Low Deposit below carousel  */
	.cheap-holidays .carousel-low-deposit .payMonthly2,
	.cheap-holidays .deposit-options {
		margin-right: 25px;
	}
	.cheap-holidays .top-hotels a {
		padding: 0 5% 0 0;
		width: 40%;
	}
	.cheap-holidays .middle-strip .space2 {
		display: inline-block;
	}
	.deals-main-row>div.destinations-section {
		padding-top: 50px
	}
	.bottom-low-deposit .strip-desposit-txt .txt-bold:first-child {
		display: inline-block;
	}
	.bottom-low-deposit .ppc-low-deposit label span:nth-child(2) {
		display: inline-block!important;
	}
	.middle-strip .strip-desposit-txt .txt-bold:first-child {
		display: inline-block;
	}
	.middle-strip .ppc-low-deposit label span:nth-child(2) {
		display: inline-block!important;
	}
}

@media(max-width:1024px) {
	/* Low Deposite Box Css */
	.cheap-holidays .low-deposite-box .strip-column-space {
		margin: 0 8px
	}
	.cheap-holidays .low-deposite-box .banner-strip-manyof {
		width: initial
	}
	.cheap-holidays .low-deposite-box .manydeal-call {
		font-size: 20px
	}
	/* Container section Css */
	.cheap-holidays .latest-deals .tending-deal-heading {
		padding: 0 60px;
	}
	.owl-carousel .owl-wrapper-outer {
		margin: 0;
	}
	/* Top Deals Css */
	.cheap-holidays .top-hotels .row {
		margin: 0;
	}
	.cheap-holidays .top-hotels a {
		padding: 0 15px 0 0;
	}
	.cheap-holidays .top-hotels a:nth-child(3),
	.cheap-holidays .top-hotels a:nth-child(4) {
		display: none;
	}
	.cheap-holidays .top-hotels a:nth-child(2) {
		padding: 0 0 0 15px;
	}
	/* Winter Gateway css */
	.cheap-holidays .winter-gateway ul {
		margin: 40px 0 0;
	}
	.cheap-holidays .winter-gateway ul li {
		padding: 0 20px;
		width: 24%;
		text-align: center;
	}
	.cheap-holidays .winter-gateway ul label {
		padding: 0;
		display: block;
	}
	.cheap-holidays .winter-gateway ul label span.txt-bold {
		font-size: 23px;
		margin: 0 0 5px;
	}
	.cheap-holidays .winter-gateway ul label span {
		display: block;
		font-size: 17px;
		line-height: normal;
	}
	.cheap-holidays .winter-gateway h2 {
		font-size: 44px;
	}
	.cheap-holidays .winter-gateway h3 {
		font-size: 32px;
	}
	.cheap-holidays .deals-main-row>div.winter-gateway {
		margin: 0 auto;
		width: 100%;
	}
	.cheap-holidays .winter-gateway span.success-icon,
	.cheap-holidays .winter-gateway label {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.cheap-holidays .banner-white-strip img {
		max-width: 124px;
	}
	/* Low Deposite Box Css */
	.cheap-holidays .deals-main-row>div.carousel-low-deposit {
		margin: 0 auto 30px;
	}
	.cheap-holidays .strip-column-space {
		margin: 0 10px;
	}
	.cheap-holidays .low-deposite-box .many-of1,
	.cheap-holidays .low-deposite-box .manydeal-call-to-book {
		display: none;
	}
	.cheap-holidays .low-deposite-box .many-of2 {
		display: block;
		font-size: 14px;
	}
	.cheap-holidays .low-deposite-box .strip-column-space {
		margin: 0 40px;
	}

	/**/
	.cheap-low-deposit .banner-overlay-strip {
		bottom: 70px;
	}
}

@media(max-width:991px) {
	.cheap-holidays .holidays-faq {
		width: 90%;
		margin: auto;
		padding: 0 20px;
	}
	.cheap-holidays #protectedHolidays .strip-column-label>span:last-child {
		display: inline-block;
	}
	.cheap-holidays .beach-hotel {
		max-width: 233px;
	}
	.banner-overlay-strip {
		bottom: 81px;
	}
	.holiday-types-links .deals-rating {
		display: block;
	}
	.owl-carousel .owl-wrapper-outer {
		padding-left: 0;
	}

	/* Low Deposite Box Css */
	.cheap-holidays .low-deposite-box .many-of1,
	.cheap-holidays .low-deposite-box .many-of2,
	.cheap-holidays .low-deposite-box .manydeal-call-to-book {
		font-size: 14px
	}
	.cheap-holidays .low-deposite-box #showOnTablet,
	.cheap-holidays .low-deposite-box .many-of1 {
		display: none
	}
	.cheap-holidays .low-deposite-box .many-of2,
	.cheap-holidays .low-deposite-box .manydeal-call .proximanova-bold {
		display: block
	}
	.cheap-holidays .low-deposite-box #showOnTablet1 {
		display: inline-block
	}
	.cheap-holidays .low-deposite-box .banner-strip-manyof {
		text-align: center;
		padding: 10px 0;
	}
	.cheap-holidays .low-price-row .last-minut-dontmiss {
		font-size: 18px
	}
	.cheap-holidays .call-to-book {
		display: block;
	}
	.cheap-holidays .space4 {
		display: inline-block !important;
	}
	#ravelExperience,
	#payMonthly1,
	.cheap-holidays .low-deposite-box .space1,
	.cheap-holidays .low-deposite-box .strip-column .strip-column-label>span:last-child {
		display: none;
	}
	.cheap-holidays .bottom-low-deposit .space3 {
		display: inline-block
	}
	.cheap-holidays .banner-strip-wrapper br {
		display: block;
	}
	.cheap-holidays .strip-desposit-txt br {
		display: none;
	}
	/* Winter Gateway css */
	.cheap-holidays .winter-gateway h2 {
		font-size: 42px;
	}
	.cheap-holidays .winter-gateway h3 {
		font-size: 28px;
	}
	.cheap-holidays .winter-gateway ul li {
		width: 49%;
		max-width: 50%;
		text-align: left;
		margin-bottom: 20px;
	}
	.cheap-holidays .winter-gateway ul label {
		padding: 0 0 0 15px;
		display: table-cell;
	}
	.cheap-holidays .winter-gateway {
		width: 84%;
		margin: 0 auto;
	}
	.cheap-holidays .banner-white-strip {
		padding: 0;
		margin: 20px 0 40px;
	}
	.cheap-holidays .deals-main-row>div.winter-gateway {
		width: 92%;
		overflow: hidden;
	}
	.cheap-holidays .low-deposite-box .strip-column-space {
		margin: 0 10px;
	}
	.cheap-holidays .winter-gateway ul label {
		text-align: left;
	}
	.cheap-holidays .deals-main-row .winter-gateway h3 {
		font-size: 28px;
	}
	.cheap-holidays .winter-gateway ul li:first-child {
		padding: 0 20px;
	}
	/* Optimizely Subscribe */
	.cheap-holidays .non-scrollable .nlsignup {
		width: 650px;
	}
	.cheap-holidays .nlsignup .subscribe-frm {
		width: 614px;
	}
	.cheap-holidays .nlsignup .inner-addon {
		width: 250px;
	}
	.cheap-holidays .nlsignup .inner-addon:first-child {
		width: 200px;
	}
	/* Cheap holidays Destinations Css */
	.cheap-holidays .destinations-section h2 {
		margin: 30px auto 30px;
		width: 90%;
	}
	.cheap-holidays .destinations-section .holidays-faq h2 {
		margin: 30px 0;
	}
	.cheap-holidays .destinations {
		max-width: 100%;
	}
	.cheap-holidays .deals-main-row div.top-hotels {
		padding: 60px;
	}
	.cheap-holidays .content-row,
	.cheap-holidays .tending-deal-heading {
		width: 100%;
		max-width: 100%;
	}
	.cheap-holidays .content-row {
		padding: 0 60px;
	}
	.cheap-holidays .deals-main-row>div.destinations-section {
		padding: 0;
	}
	.cheap-holidays .deals-main-row>div.destinations-section {
		padding-top: 20px;
	}
	.cheap-holidays .deals-main-row .page-builder-column.col-md-4 {
		float: left;
	}
	.cheap-holidays .holiday-types {
		min-width: auto;
	}
	.cheap-holidays .holiday-types:nth-child(2) {
		padding: 0 5%;
	}
	.cheap-holidays .holiday-types h2 {
		font-size: 18px;
	}
	.cheap-holidays .holiday-types .deals-rating {
		display: block;
		line-height: normal;
	}
	.cheap-holidays .beach-hotel li {
		margin: 0 0 5px;
	}
	.cheap-holidays .all-inclusive-container>div.tending-deal-heading {
		padding: 0 60px;
	}
	/* Banner Bottom Overlay Strip */
	.cheap-low-deposit #happyCustomers,
	.cheap-low-deposit .space1 {
		display: none;
	}
	.cheap-holidays .cheap-low-deposit .space4 {
		display: none!important;
	}
	.cheap-low-deposit .banner-overlay-strip {
		bottom: 60px;
	}
}

@media(max-width:767px) {
	.cheap-holidays .deals-row {
		padding: 8px 10px;
	}
	.cheap-holidays .latest-deals {
		padding: 0 20px;
	}
	.main-search .main-search .main-holidays-search {
		height: inherit;
	}
	.main-search .main-holidays-search {
		box-shadow: none;
	}
	.cheap-holidays-header {
		padding: 5px 20px;
		height: auto;
	}
	.show-on-mobile.trust-pilot.cheap-mobile {
		display: none!important;
	}
	.cheap-holidays .search-ttip {
		display: none;
	}
	.cheap-holidays .destinations-section h2 {
		font-size: 20px;
		margin: 20px auto 15px;
	}
	.cheap-holidays .destinations-section .holidays-faq h2 {
		margin: 0;
	}
	.ready-more-btn .txt-blue {
		font-size: 11px;
		font-family: 'proximanova-light'!important
	}
	.cheap-holidays .ready-more-btn .txt-down-arrow,
	.cheap-holidays .ready-more-btn .txt-up-arrow {
		width: 7px;
		height: 7px;
		position: relative;
		top: -2px;
		margin-left: 4px;
		border-width: 1px;
	}
	.cheap-holidays .ready-more-btn .txt-up-arrow {
		top: 1px;
	}
	.cheap-holidays .beach-hotel {
		max-width: none;
	}
	.cheap-holidays .holiday-types {
		padding-left: 0;
	}
	.cheap-holidays .strip-atol-icon:before,
	.cheap-holidays .strip-atol-icon:after {
		background: #fff;
		content: '';
	}
	.cheap-holidays .owl-controls {
		display: none!important;
	}
	.cheap-holidays .banner-strip-mn .strip-common-icon.sprite-image {
		background-image: url(https://resources.teletextholidays.co.uk/drupal/images/sprite/img/v1/sprite-img.png);
		width: 34px;
		height: 34px;
		background-position: -10px -276px;
		vertical-align: middle;
	}
	.cheap-holidays .deals-main-row>div.destinations-section .col-md-4 {
		width: 100%;
		padding: 0 20px;
	}
	.cheap-holidays .content-row {
		width: 100%;
		max-width: 100%;
	}
	.cheap-holidays .winter-gateway ul li:first-child {
		padding: 0;
	}
	.cheap-holidays .middle-strip {
		display: none;
	}
	.banner-strip-mn.bgnd-white {
		background: transparent;
	}
	.cheap-holidays .strip-spread-main {
		margin: 0;
		display: inline-block!important;
	}
	.cheap-holidays .banner-strip-mn .strip-spread-main:after {
		content: '';
		display: inline-block;
		height: 30px;
		width: 1px;
		background: #d8d8d8;
		vertical-align: middle;
		margin: 0px 15px 0 15px
	}
	.cheap-holidays .destination-name {
		display: none;
	}
	.cheap-holidays .top-hotels .ai-trp-rating .float-left {
		max-width: 80px;
	}
	.cheap-holidays .top-hotels .ai-trp-rating .view-deal {
		padding: 4px 2px 4px 0px;
		text-align: center;
		margin-top: 15px;
	}
	.hotel-rating .txt-nights-option {
		padding-left: 0;
	}
	.cheap-holidays .top-hotels .multi-hotel-row {
		min-height: 250px;
	}
	.cheap-holidays .holidays-item:hover {
		box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
	}
	.low-deposite-box.pstn-reltv {
		border-bottom: solid #d8d8d8 1px;
	}
	.cheap-holidays .low-depst-trust-rating {
		width: 130px;
		text-align: left;
		vertical-align: middle;
	}
	.cheap-holidays .cheap .atol-icon {
		background-position: -6px -271px;
	}
	.cheap-holidays .destinations .view-deal {
		position: relative;
		right: 0;
		bottom: 0;
	}
	.cheap-holidays .deals-left {
		width: 80%;
	}
	#wrapper {
		overflow: hidden;
	}
	.cheap-holidays .holidays-faq {
		padding: 0;
		margin: 30px auto 0;
		overflow: hidden;
	}
	.beach-holidays .holiday-caurosel-init {
		padding: 0;
		width: 100%;
		margin: 0 auto !important;
	}
	.owl-carousel .owl-wrapper-outer {
		padding-left: 20px;
		margin: 0;
	}
	.cheap-holidays .slogan-big {
		font-size: 20px;
	}
	.cheap-holidays .slogan-small {
		font-size: 14px;
		display: inline-block;
		width: 100%;
	}
	.cheap-holidays .banner-slogan {
		padding: 65px 0 0 0;
		max-width: 100%;
	}
	.ie-mask-phone {
		display: none !important
	}
	.cheap-holidays .trending-holidays-carousel .mobile-middle-wrapper {
		margin: 0 20px
	}
	.cheap-holidays .trending-holidays-carousel .holidays-item-image {
		background-color: rgba(0, 0, 0, 0.2);
		height: 196px;
		overflow: hidden;
	}
	.cheap-holidays .trending-holidays-carousel .holidays-item-image img {
		width: 100%;
		height: 100%;
		object-fit: cover
	}
	.cheap-holidays .trending-holidays-carousel .holidays-item {
		padding: 25px 0;
	}
	.cheap-holidays .trending-holidays-carousel .holidays-item:first-child {
		padding-top: 0;
	}
	.cheap-holidays .trending-holidays-carousel .multi-hotels {
		background: #fff;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	}
	.cheap-holidays .trending-holidays-carousel .hotel-price {
		top: 10px;
		right: 10px;
	}
	.cheap-holidays .trending-holidays-carousel .multi-hotel-row {
		padding: 9px 12px;
		border-top: solid #f8f8f8 2px;
	}
	.cheap-holidays .trending-holidays-carousel .location-label {
		font-weight: bold;
		font-size: 16px;
	}
	.cheap-holidays .trending-holidays-carousel .hotel-board-basis {
		color: #9e9ea0;
		font-size: 13px;
	}
	.cheap-holidays .trending-holidays-carousel .all-Inclusive-holidays .tth-price {
		font-size: 15px;
		font-weight: bold;
	}
	.cheap-holidays .trending-holidays-carousel .all-Inclusive-holidays .tth-pp {
		left: -3px;
	}
	.cheap-holidays .trending-holidays-carousel .all-Inclusive-holidays .tth-asterisk {
		top: 1px;
		right: 0px;
		font-size: 12px;
	}
	.cheap-holidays .trending-holidays-carousel .hotel-rating-star {
		width: 12px;
		height: 12px;
		background-position: 0 0;
		float: left;
	}
	.cheap-holidays .trending-holidays-carousel .hotel-rating:after {
		content: '';
		display: block;
		clear: both;
	}
	.cheap-holidays .trending-holidays-carousel .all-Inclusive-holidays .handler-right {
		right: 0
	}
	.cheap-holidays .trending-holidays-carousel .all-Inclusive-holidays .handler-left {
		left: 0
	}
	.cheap-holidays .trending-holidays-carousel .all-Inclusive-holidays .carousel-handler {
		top: 82px;
	}
	.cheap-holidays .trending-holidays-carousel .deals-header,
	.cheap-holidays .trending-holidays-carousel .deals-sub-header {
		font-weight: bold;
	}
	.cheap-holidays .trending-holidays-carousel .deals-header {
		font-size: 25px;
	}
	.cheap-holidays .trending-holidays-carousel .deals-sub-header {
		font-size: 18px;
		padding: 8px 0 5px 0
	}
	.cheap-holidays .trending-holidays-carousel .carousel-header {
		padding: 30px 0;
	}
	.cheap-holidays .trending-holidays-carousel .deals-price-note {
		color: #8e8e8e;
		font-size: 15px;
		line-height: 20px
	}
	.cheap-holidays .trending-holidays-carousel .image-overlay {
		background-color: rgba(0, 0, 0, .2);
	}
	.cheap-holidays .view-deal {
		display: block;
		padding: 3px 11px;
	}
	.cheap-holidays .trending-holidays-carousel .tth-pp {
		left: 0;
	}
	.cheap-holidays .trending-holidays-carousel .tth-asterisk {
		right: -3px;
	}
	.cheap-holidays .trending-holidays-carousel .float-left {
		line-height: 17px;
		max-width: 60%;
	}
	.cheap-holidays .trending-holidays-carousel .txt-nights-option {
		top: 2px;
		left: 6px;
		position: relative;
		color: #9e9ea0;
	}
	.cheap-holidays .trending-holidays-carousel .deals-tag {
		z-index: 2;
		top: 0;
		right: 0;
		left: 0;
	}
	.cheap-holidays .trending-holidays-carousel .deals-tag span {
		padding: 6px 20px 4px 20px;
		margin-top: 16px;
	}
	.cheap-holidays .low-deposite-box #showOnTablet,
	.cheap-holidays .low-deposite-box .payMonthly1,
	.cheap-holidays .low-deposite-box .s2 {
		display: none
	}
	.cheap-holidays .banner-strip-mn>span,
	.cheap-holidays .banner-strip-mn>span {
		display: none !important;
	}
	.cheap-holidays span.many-of2.show-on-tablet-portrait.txt-bold.txt-green {
		color: #fbdb3e;
		font-size: 14px;
	}
	.cheap-holidays .low-deposite-box .banner-strip-mn {
		width: 100%;
		padding: 10px 0;
	}
	.cheap-holidays .low-deposite-box .manydeal-call,
	.cheap-holidays .low-deposite-box .manydeal-call .proximanova-bold {
		font-size: 20px;
		font-family: 'proximanova-regular'!important;
		color: #fff;
		font-weight: 600;
	}
	.cheap-holidays .low-deposite-box .banner-strip-manyof {
		margin: 0;
		width: 100%;
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 60px;
	}
	.cheap-holidays .low-deposite-box .manydeal-call a {
		color: #fff;
	}
	.cheap-holidays .deals-main-row>div.carousel-low-deposit {
		display: none;
	}
	.cheap-holidays .deals-main-row div.top-hotels {
		padding: 20px 0;
	}
	.cheap-holidays .winter-gateway ul label span.txt-bold {
		font-size: 20px;
		margin: 0;
	}
	.cheap-holidays .winter-gateway ul label span {
		font-size: 16px;
	}
	.cheap-holidays .winter-gateway ul {
		margin: 20px auto;
		max-width: 90%;
		width: 90%;
	}
	.cheap-holidays .winter-gateway ul li {
		margin: 0 0 15px 0;
		padding: 0;
	}
	.cheap-holidays .deals-main-row>div.winter-gateway {
		padding: 20px 40px;
		margin: 0 auto;
	}
	.cheap-holidays .winter-gateway {
		margin: 20px auto 0;
		width: 100%;
		padding: 0 40px;
	}
	.cheap-holidays .winter-gateway span.success-icon {
		background-position: -281px -55px;
		height: 34px;
	}
	.cheap-holidays .winter-gateway span.sprite-image {
		display: table-cell;
	}
	.cheap-holidays .winter-gateway h3 {
		/*width:72%;*/
		margin: 0 auto;
	}
	.cheap-holidays .winter-gateway h2 {
		/*width:72%;*/
		margin: 0 auto 15px;
		font-size: 28px;
	}
	.cheap-holidays .deals-main-row .winter-gateway h2:before,
	.cheap-holidays .deals-main-row .winter-gateway .close--icon {
		display: none;
	}
	.cheap-holidays .nlsignup .left-addon input {
		height: auto;
	}
	.cheap-holidays .tending-deal-heading {
		margin: 0 0 15px;
	}
	.cheap-holidays .tending-deal-heading h2 {
		font-size: 20px;
	}
	.cheap-holidays .content-row,
	.cheap-holidays .tending-deal-heading {
		padding: 0 20px;
	}
	.cheap-holidays .destinations-content {
		min-height: inherit;
	}
	.cheap-holidays #HolidaysOfferContainer {
		width: 100%;
		padding: 0;
	}
	.cheap-holidays .deals-slide {
		width: 100%;
		margin-bottom: 20px;
		box-shadow: none;
	}
	.cheap-holidays .top-hotels a {
		display: block !important;
		width: 223px;
		padding: 0 !important;
		margin: 0 0 20px;
	}
	.cheap-holidays .opt-footer {
		padding: 20px;
	}
	.cheap-holidays .holiday-types {
		margin-bottom: 30px;
	}
	.cheap-holidays .holiday-types {
		min-width: auto;
		width: 100%;
		display: table;
	}
	.cheap-holidays .footer-links {
		margin: 0;
	}
	.cheap-holidays .holiday-types h2 {
		font-size: 14px;
		margin: 0;
		width: 45%;
		padding-right: 10%;
	}
	.cheap-holidays .holiday-types:nth-child(2) {
		padding: 0;
	}
	.cheap-holidays .holiday-types-links {
		width: 55%;
	}
	.cheap-holidays .holiday-types ul {
		width: auto;
		padding: 0;
		float: none;
	}
	.cheap-holidays .holiday-types h2,
	.holiday-types-links {
		display: table-cell;
	}
	.cheap-holidays .holiday-types ul li {
		line-height: 20px;
	}
	.cheap-holidays .accordion-wrapper {
		padding: 0;
		text-align: left;
	}

	.cheap-holidays .non-scrollable .nlsignup,
	.cheap-holidays .nlsignup .inner-addon:first-child,
	.cheap-holidays .nlsignup .inner-addon,
	.cheap-holidays .nlsignup .subscribe-frm .col-xs-2 {
		width: 100%;
	}
	.cheap-holidays .nlsignup .subscribe-frm {
		width: 80%;
	}
	.cheap-holidays #btn-subscribe {
		margin-top: 0;
		padding: 13px 0;
	}
	.cheap-holidays .nlsignup .inner-addon:before {
		font-size: 14px;
	}
	.cheap-holidays .nlsignup .inner-addon {
		padding: 8px 20px;
		line-height: 20px;
		height: auto;
	}
	.cheap-holidays .non-scrollable .nlsignup {
		box-shadow: none;
	}
	.cheap-holidays .nlsignup .inner-addon .fa {
		display: block;
	}
	.cheap-holidays span.bold,
	.cheap-holidays .module3-customer-review .strip-spread-main>span.bold {
		font-family: 'proximanova-bold'!important
	}
	.customer-review-section .trust-pilot {
		width: 240px;
		height: 30px;
		background-position: -157px -181px;
	}
	.cheap-holidays .customer-review-section {
		padding: 15px 0 25px;
		display: block
	}
	.cheap-holidays .customer-review-section p {
		line-height: normal;
		font-size: 26px;
		letter-spacing: -0.3px;
		font-family: 'proximanova-regular'!important
	}
	.cheap-holidays .customer-review-section ul {
		background: 0
	}
	.cheap-holidays .customer-review-section ul li.active {
		background: #73b143
	}
	.cheap-holidays .customer-review-section ul li {
		float: left;
		border-radius: 3px;
		list-style: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		margin-right: 2px;
		background: #d8d8d8
	}
	.cheap-holidays .customer-review-section ul li span {
		background-position: -327px -50px;
		width: 40px;
		height: 40px;
		display: block;
	}
	.cheap-holidays .customer-review-section .review-rating>ul,
	.cheap-holidays .customer-review-section .review-rating>span {
		display: inline-block;
		vertical-align: middle
	}
	.cheap-holidays .customer-review-section .review-rating>span {
		font-size: 48px;
		font-weight: bold;
		letter-spacing: -0.3px;
		padding: 0 0 0 5px
	}
	.cheap-holidays .customer-review-section .content img,
	.cheap-holidays .module1-customer-review .review-rating {
		margin: 10px 0 0 0
	}
	.cheap-holidays .mbl-banner-strip {
		min-height: 40px;
		display: table;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #fff;
		max-width: 90%;
		width: 100%;
		margin: 0 auto
	}
	.cheap-holidays .strip-label-common {
		font-size: 13px;
		text-align: left;
		vertical-align: middle;
	}
	.cheap-holidays .strip-common-icon,
	.cheap-holidays .strip-label-common,
	.cheap-holidays .strip-label-common span.strip-desposit-price {
		display: inline-block
	}
	.cheap-holidays .strip-common-icon {
		width: 30px;
		height: 30px;
	}
	.cheap-holidays .strip-spread-icon {
		background-position: -45px -224px
	}
	.cheap-holidays .strip-lowdeposit-icon {
		background-position: -4px -224px
	}
	.cheap-holidays .strip-atol-icon {
		background-position: -242px -128px;
	}
	.cheap-holidays .module1-customer-review .content {
		max-width: 80%;
		margin: 0 auto
	}
	.cheap-holidays .module2-customer-review {
		padding: 20px 0;
	}
	.cheap-holidays .module2-customer-review .content {
		display: table;
		width: 100%;
		overflow: hidden
	}
	.cheap-holidays .module2-customer-review .review-rating>span {
		font-size: 30px
	}
	.cheap-holidays .module2-customer-review .right-module,
	.cheap-holidays .module2-customer-review .left-module {
		width: 50%;
		float: none;
		display: table-cell;
		vertical-align: middle
	}
	.cheap-holidays .module2-customer-review .right-module {
		padding: 0 0 0 15px
	}
	.cheap-holidays .module3-customer-review .strip-spread-main {
		text-align: left;
		margin: 0 0 30px 0;
		width: 100%;
		display: table
	}
	.cheap-holidays .module3-customer-review .strip-spread-main:last-child {
		margin: -7px 0 0 0
	}
	.cheap-holidays .module3-customer-review .content>div.left-module {
		padding: 0 4% 0 0;
		width: 55%;
		vertical-align: top
	}
	.cheap-holidays .module3-customer-review .content>div.right-module {
		border-left: 2px solid #ccc;
		padding: 0 0 0 4%
	}
	.cheap-holidays .module3-customer-review .strip-spread-main>span,
	.cheap-holidays .module3-customer-review .strip-spread-main>label {
		display: inline-block;
		vertical-align: middle;
		padding: 0 0 0 10px;
		color: #59595b;
		font-family: 'proximanova-light'!important;
	}
	.cheap-holidays .module3-customer-review .review-rating {
		margin: 20px 0
	}
	.cheap-holidays .module3-customer-review {
		padding: 15px 0 0;
		border-top: 1px solid #ddd;
		width: 90%;
		margin: auto;
	}
	.cheap-holidays .deals-main-row .module2-customer-review p {
		line-height: normal;
		font-size: 20px;
	}
	.cheap-holidays .strip-common-icon {
		height: 44px;
		width: 43px;
	}
	.cheap-holidays .holidays-item {
		width: 100%;
		padding: 0;
	}
	.cheap-holidays .destinations {
		max-width: 100%
	}
	.cheap-holidays .deals-main-row .page-builder-column.col-md-4 {
		width: 100%;
		padding: 0 20px;
	}
	.cheap-holidays .deals-main-row>div.destinations-section {
		padding: 0;
	}
	.cheap-low-deposit {
		display: none;
	}
	.cheap-holidays .latest-deals .tending-deal-heading {
		padding: 0;
	}
	.cheap-holidays .holidays-faq {
		padding: 0 20px;
		width: 100%;
	}
	.travel-active .cheap-holidays-header {
		padding: 30px 20px 0;
	}
}

@media (max-width:639px) {
	.cheap-holidays .winter-gateway ul li {
		width: 100%;
		max-width: 100%;
	}
	.cheap-holidays .winter-gateway ul {
		display: inline-block;
	}
	.cheap-holidays .deals-main-row>div.winter-gateway {
		width: 100%;
	}
	.customer-review-section .trust-pilot {
		width: 124px;
		height: 20px;
		background-position: -202px -9px;
	}
	.cheap-holidays .customer-review-section .content img {
		max-width: 250px
	}
	.cheap-holidays .customer-review-section ul li span {
		width: 31px;
		height: 31px;
		background-size: initial;
		background-position: -31px 4px
	}
	.cheap-holidays .customer-review-section .review-rating>span {
		font-size: 24px;
		line-height: normal
	}
	.cheap-holidays .module1-customer-review p {
		font-size: 16px;
		line-height: 17px
	}
	.cheap-holidays .module2-customer-review .review-rating>span {
		font-size: 20px
	}
	.cheap-holidays .module2-customer-review p {
		font-size: 16px
	}
	.cheap-holidays .module2-customer-review br {
		display: inline-block
	}
	.cheap-holidays .module2-customer-review .left-module {
		width: 51%
	}
	.cheap-holidays .module2-customer-review .right-module {
		width: 48%;
		padding: 0
	}
	.cheap-holidays .module3-customer-review .strip-spread-main {
		margin: 0px 0 1px 0
	}
	.cheap-holidays .module3-customer-review .content>div.left-module {
		padding: 0 3% 0 0
	}
	.cheap-holidays .module3-customer-review .review-rating {
		margin: 0 0 5px 0
	}
}

@media (max-width:520px) {
	.cheap-holidays .deals-left {
		width: 64%;
	}
}

@media (max-width:480px) {
	.cheap-holidays .strip-atol-icon {
		background-position: -144px -62px;
	}
	.cheap-holidays .customer-review .strip-desposit-txt {
		display: block;
	}
	.cheap-holidays .customer-review .strip-spread-main {
		padding: 0
	}
	.cheap-holidays .customer-review-section .content img {
		max-width: 210px
	}
	.cheap-holidays .module1-customer-review ul li span {
		width: 23px;
		height: 23px;
		background-size: initial;
		background-position: -61px 1px
	}
	.cheap-holidays .customer-review-section .content img,
	.cheap-holidays .module1-customer-review .review-rating {
		margin: 0
	}
	.cheap-holidays .strip-spread-icon {
		background-position: -186px -62px;
	}
	.cheap-holidays .strip-lowdeposit-icon {
		background-position: -164px -62px;
	}
	.cheap-holidays .module2-customer-review .content img {
		max-width: 120px
	}
	.cheap-holidays .module2-customer-review ul li,
	.cheap-holidays .module2-customer-review ul li span {
		width: 14px;
		height: 14px
	}
	.cheap-holidays .module2-customer-review p {
		font-size: 15px
	}
	.cheap-holidays .module2-customer-review .left-module {
		width: 46%
	}
	.cheap-holidays .module2-customer-review .right-module {
		width: 53%
	}
	.cheap-holidays .module2-customer-review .review-rating>span {
		font-size: 15px
	}
	.cheap-holidays .module3-customer-review .strip-spread-main>span,
	.cheap-holidays .module3-customer-review .strip-spread-main>label {
		font-size: 13px;
		line-height: 13px;
	}
	.cheap-holidays .module3-customer-review .content>div.left-module {
		padding: 0;
		width: 50%
	}
	.cheap-holidays .deals-main-row .customer-review p {
		font-size: 12px;
		text-align: center;
		margin-bottom: 5px;
	}
	.cheap-holidays .strip-common-icon {
		width: 22px;
		height: 23px;
	}
	.cheap-holidays .module2-customer-review ul li span {
		background-position: -380px -91px;
	}
	.cheap-holidays .deals-main-row .winter-gateway h3 {
		width: 100%;
		margin: 0 auto;
		font-size: 24px;
	}
	.cheap-holidays .deals-main-row .winter-gateway h2 {
		width: 100%;
		margin: 0 auto 15px;
	}
	.cheap-holidays .winter-gateway h3 a {
		display: inline-block;
	}
	.cheap-holidays .deals-main-row .winter-gateway h3 {
		width: 100%;
		margin: 0 auto;
		font-size: 24px;
	}
	.cheap-holidays .deals-main-row .winter-gateway h2 {
		width: 100%;
		margin: 0 auto 15px;
	}
	.cheap-holidays .winter-gateway h3 a {
		display: inline-block;
	}
}

@media (max-width:400px) {
	.cheap-holidays .trending-holidays-carousel .deals-sub-header {
		font-size: 15px;
		padding: 6px 0 2px 0;
	}
	.cheap-holidays .trending-holidays-carousel .deals-price-note {
		line-height: 16px;
		font-size: 12px;
	}
}

@media(max-width:375px) {
	.cheap-holidays .module2-customer-review p {
		font-size: 13px
	}
	.cheap-holidays .module2-customer-review .left-module {
		width: 49%
	}
	.cheap-holidays .module3-customer-review .strip-spread-main>span,
	.cheap-holidays .module3-customer-review .strip-spread-main>label {
		font-size: 11px;
		line-height: 12px;
	}
	.cheap-holidays .module3-customer-review .content>div.left-module {
		padding: 0 3% 0 0;
		width: 52%
	}
	.cheap-holidays .module3-customer-review .content>div.right-module {
		width: 47%
	}
	.gray-strip .gray--middle {
		margin: 0 4%;
	}
	.gray--right .icon-and-label .icon-label {
		padding-left: 30px;
	}
}

@media (max-width:374px) {
	.cheap-holidays .trending-holidays-carousel .multi-hotel-row {
		padding: 9px 9px;
	}
	.cheap-holidays .deals-main-row .customer-review p {
		font-size: 12px;
		margin: 0;
	}
}
