/* Sunshine Banners */
@media (max-width: 767px) {
    .sunshine-banners {
        top:-1px;
    }
}

/*.all-inclusive-deals-carousel .owl-buttons .fa,.all-inclusive-offerscarousel .owl-buttons .fa,.all-inclusive-top-deals-carousel .owl-buttons .fa,*/ /*.owl-buttons .fa{line-height:44px;font-size:20px}*/
.trip-advisor-main .bgnd-white.reveal-mask{background:#f2f2f2;}

/* pp star */
.from-rate{background-color:rgba(0,0,0,.5);padding:0 9px;display:inline;float:right;font-size:13px;color:#ececec;}
.from-rate span{font-size:22px;color:#fff;font-weight:600;}
.deals-right {float:left;width:30%;font-size:14px;color:#886093;text-align:right;}
.deals-right .price{font-weight:700;font-size:14px;color:#886093;}
.deals-right sup {font-size:19px;top:0;}


/* Banner Strip Overrlay */
*{margin:0;padding:0}
.mobile-tick-box-fill,.timepopup-close button,.datepicker table tr td.enabledDates.disabled,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.tt-dataset-airports,.tt-dataset-airports div,.tt-dataset-destinations,.tt-dataset-destinations div,.datepicker table tr td.disabled,.datepicker table tr td.disabled:hover,.datepicker .datepicker-switch:hover,.datepicker .next:hover,.datepicker .prev:hover,.datepicker tfoot tr th:hover,.mobile-dstn-header input,.mobile-ngts-count{background:none;}
.input-depart-box .mobile-nghts-value,.input-departing-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value,.input-stayfor-box .mobile-nghts-value,.mobile-input,.mobile-input-button,.last-minute-search-btm-row input,.late-deals label.heading, #inpPrice,.deals-img h3,.lblhotelname,.spanPrice,.spanTime{text-transform:uppercase}
.mega-dropdown-list-right .mega-dropdown-section-header,.mobile-widget-footer, #inpPrice,.lblhotelname,.paraTitle,.tt-dropdown-menu .most-popular-list{font-weight:700}
.banner-slogan,.terms-conditions,.haul-offer-slide,.lblreviewnum,.lblhotelname,.offerimgblk img,.deals-img img,.on-image-text-div,.all-inclusive-img-slide img,.all-inclusive-img-slide,.search-by-time-price-box,.mega-dropdown-items1,.mega-dropdown-wrapper,.mega-menu-wrapper,.datepicker table tr td.today.disabled:before,.datepicker-inline,.mobile-search-fields,.mobile-dstn-header input,.mobile-calendar-wrapper,.mobile-guests-wrapper,.mobile-stayfor-wrapper, .topsellerblockitem, .input-depart-box .twitter-typeahead,.input-destingtion-box .twitter-typeahead, .mobile-destinations, .haul-image-text-div,.haul-offer-slide img, .mobile-search-container input[type="text"],.mobile-nghts-value{width:100%;}
.slogan-big,.slogan-small,.haul-on-img-details h4,.haul-on-img-details,.haul-image-text-div,.price-box-active,.search-price-box:hover,.deals-img h3 span,.deals-img h3,.on-img-details h3,.on-img-details,.on-image-text-div,.late-deals .invalidMsgSearch,.datepicker table tr td.enabledDates,.datepicker table tr td.active,.datepicker table tr td.active.enabledDates,.mobile-search-validation,.table-condensed .next,.table-condensed .prev,.enabledDates,.mobile-dstn-header input,.mobile-widget-footer,.mobile-input-button{color:#fff;}
::-webkit-input-placeholder, input:-ms-input-placeholder{color:#a9a9a9;}
.mobile-calendar-btn-clear,.mobile-input-group,.mobile-input-group-split-2,.mobile-legends-item,.tth-col-md-4,.haul-offer-slide,.search-price-box,.last-minute-search-right,.last-minute-search-left,.timepopup-tittle,.spanPrice,.spanTime,.itematol,.itemhappy,.deals-left,.call-us-txt,.datepicker table tr td span,.mobile-flexible-label,.mobile-tick-box,.all-inclusive-img-slide{float:left}
.last-minute-search-btm-row input,.timepopup-close,.mega-dropdown-list-right{float:right}
.mobile-input-label,.last-minute-search-btm-row input,.late-deals label.heading{color:#9ac854;}
.mobile-calendar-btn-clear,.mobile-input,.mobile-nghts-value,::-moz-placeholder,::-ms-input-placeholder,::-webkit-input-placeholder,.last-minute-radio-box label,.timepopup-close,.lblhotelname,.lblreviewnum,.deals-left .deal-description,.deals-left .deal-hotel-name,.content-row,.datepicker table tr td.enabledDates.disabled,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.tt-dataset-destinations,.tt-dataset-hotels,.tt-dropdown-menu .most-popular-list,.tt-suggestions div.tt-suggestion p,.mobile-search-noresult,.mobile-ngts-count{color:#58595b}
.mega-dropdown-bottom-text,.mega-dropdown-list-right .mega-dropdown-section-header:hover,.spanDefaultDest:hover,.spanMostPopDest:hover{color:#58595b!important}
.mobile-input-label,.lblhotelname,.deals-img h3 span,.late-deals #inpPrice span.spanTime,.late-deals #inpPrice span.spanPrice,.late-deals label.heading,.mega-dropdown-bottom-text,.mobile-calendar-btn-clear,.mobile-flexible-label,.mobile-input{font-size:14px;}
.mibile-instruction-text span,.mobile-input-button,.mobile-ngts-label,.mobile-persona-label,.mobile-widget-footer,.mobile-widget-header,.txt-center,.happy-customer-inner,.search-price-box-any,.search-price-box,.lblHoteldesc,.topseldetails,.lblhotelname,.lblreviewnum,.all-inclusive-deals-carousel .owl-item,.price-condition,.deals-img h3,.late-deals .invalidMsgSearch,.fantastic-hotels,.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th,.owl-next,.owl-prev, .mobile-btn-minus,.mobile-btn-plus{text-align:center;}
.mobile-input-group,.mobile-input-group-split-2,.last-minute-search-btm-row input,.includeflights,.deals-row,.deals-slide,.time-price,.mega-dropdown-wrapper,.mobile-dstn-header .congratulations-close-bar1:hover,.mobile-dstn-header .congratulations-close-bar2:hover,.mobile-dstn-header .congratulations-close-bar1,.mobile-dstn-header .congratulations-close-bar2,.mobile-destinations,.mobile-widget-calendar,.mobile-widget-guests,.mobile-widget-stayfor{background:#fff;}
.mobile-adult-cnt,.mobile-calendar-btn-clear,.mobile-children-cnt,.mobile-date-picker,.mobile-input,.mobile-input-button,.mobile-input-label,.mobile-nghts-value,.mobile-search-fields .mobile-input-group,.mobile-stay-for, .late-deals #inpPrice span.spanTime,.late-deals #inpPrice span.spanPrice,.late-deals label.heading{font-family:proximanova-semibold!important}
.last-minute-search-title,.lblHoteldesc,.lblhotelname,.deals-row,.deals-main-row,.time-price,.dstn-search-history a,.mobile-ngts-container,.mobile-widget-guests,.mobile-widget-stayfor{overflow:hidden;}
.banner-slogan,.terms-conditions,.happy-customer-inner,.all-inclusive-top-deals-carousel .page-builder-row-inner,.lblhotelname,.all-inclusive-hotels-list .owl-wrapper,.all-inclusive-hotels-list,.main-holidays-search,.all-inclusive-deals-carousel-container,.deals-img h3,.time-price,.mega-dropdown-items1,.mega-dropdown-wrapper,.mibile-instruction-text,.mobile-search-fields,.mobile-widget-calendar,.mobile-widget-guests,.mobile-widget-overlay,.mobile-widget-stayfor{margin:0 auto;}
.datepicker table tr td.today.disabled,.dstn-search-history-icon,.mobile-btn-minus,.mobile-btn-plus,.mobile-search-container,.mobile-search-fields,.mobile-widget-calendar,.table-condensed .next:before,.table-condensed .prev:before,.couples-header .banner-slogan,.last-minute-search-radio,.last-minute-radio-box,.offerimgblk, p.price-condition span,.deals-img,.all-inclusive-img-slide, #searchBanner, #commonHeaderD,.all-inclusive-header,.last-minute-header,.cities-page-header,.input-depart-box .tt-dataset-airports,.tt-dropdown-menu .most-popular-list,.input-destingtion-box .tt-dataset-destinations,.low-deposit-header,.haul-offer-slide,.last-minute-search-price-pp,.last-minute-search-price{position:relative}
.haul-on-img-details,.haul-image-text-div,.last-minute-search-active-radio,.last-minute-radio-box label,.deals-img h3,.on-img-details,.on-image-text-div,.late-deals .invalidMsgSearch:after,.last-minute-header .invalidMsgSearch:before,.late-deals .invalidMsgSearch,.time-price,.bgnd-video,.bgnd-video-frame:before,.datepicker table tr td.today.disabled:before,.mobile-search-fields .owl-controls,.mobile-search-validation,.mobile-search-validation:before,.owl-next,.owl-prev{position:absolute;}
.search-by-time-price-box,.mobile-calendar-wrapper,.mobile-destinations,.mobile-guests-wrapper,.mobile-stayfor-wrapper,.mobile-widget-overlay,.mobile-widget-overlay-layer{position:fixed;}
.dinline,.dstn-search-history-icon,.feefo-logo1,.feefo-logo2,.mobile-dstn-label,.mobile-legend-fill1,.mobile-legend-fill2,.mobile-legend-label,.mobile-legend-ouline,.mobile-tick-box,.conditions-title,.last-minute-search-btm-row span,.under-with-price,.search-price-tick-on,.last-minute-search-radio,.deals-img h3 span,.deals-slide,.mega-dropdown-bottom-text,.owl-next,.owl-prev{display:inline-block}
.mega-dropdown-wrapper .mega-dropdown-list-right,.star-rating{display:table}
.late-deals .invalidMsgSearch,.search-by-time-price-box,.date-key,.for-mobile-devices,.hp-location-wrapper,.hp-locations-overlay,.input-depart-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value,.key,.mobile-calendar-wrapper,.mobile-depart-list-wrapper,.mobile-destinations,.mobile-dstn-list-wrapper,.mobile-guests-wrapper,.mobile-search-noresult,.mobile-search-validation,.mobile-stayfor-wrapper,.mobile-widget-overlay,.mobile-widget-overlay-layer,.search-price-tick, #newCallus .for-mobile-devices,.isVisible,.page-builder-element-title,.page-header-inner,.CloseSearch,.recent-searches, .mobile-date-summery{display:none;}
.haul-image-text-div,.haul-offer-slide img,.last-minute-search-left,.offerimgblk img,.deals-img img,.on-image-text-div,.datepicker table tr td.today.disabled:before,.mobile-depart-list-wrapper,.mobile-dstn-item,.mobile-dstn-list-wrapper{height:100%;}

.twitter-typeahead .tt-dropdown-menu .tt-suggestions > p,.tt-dataset-destinations p,.tt-empty-template,.tt-suggestion{margin:0 0 5px 0;}
.banner-overlay-strip{bottom:67px;}
.couples-header .banner-slogan{z-index:25;}
.banner-slogan{max-width:1138px;padding-top:221px;}
.last-minute-header .banner-slogan{padding-bottom:152px}
.cities-page-header .banner-slogan, .winter-sun-header .banner-slogan, .luxury-header .banner-slogan, .christmas-newyear-header .banner-slogan, .couples-header .banner-slogan, .family-header .banner-slogan, .beach-header .banner-slogan, .short-haul-header .banner-slogan, .long-haul-header .banner-slogan, .last-minute-header .banner-slogan, .jan-holidays-header .banner-slogan,
.feb-holidays-header .banner-slogan,
.mar-holidays-header .banner-slogan,
.apr-holidays-header .banner-slogan,
.may-holidays-header .banner-slogan,
.jun-holidays-header .banner-slogan,
.jul-holidays-header .banner-slogan,
.aug-holidays-header .banner-slogan,
.sep-holidays-header .banner-slogan,
.oct-holidays-header .banner-slogan,
.nov-holidays-header .banner-slogan,
.dec-holidays-header .banner-slogan

{
	padding-top:160px;
}
.jan-holidays-header .mobile-search-container,
.feb-holidays-header .mobile-search-container ,
.mar-holidays-header .mobile-search-container,
.apr-holidays-header .mobile-search-container,
.may-holidays-header .mobile-search-container,
.jun-holidays-header .mobile-search-container,
.jul-holidays-header .mobile-search-container,
.aug-holidays-header .mobile-search-container,
.sep-holidays-header .mobile-search-container,
.oct-holidays-header .mobile-search-container,
.nov-holidays-header .mobile-search-container,
.dec-holidays-header .mobile-search-container

{
	padding-top:107px;
}
.christmas-newyear-header .mobile-search-container, .winter-sun-header .mobile-search-container, .family-header .mobile-search-container, .short-haul-header .mobile-search-container, .long-haul-header .mobile-search-container{padding-top:106px;}
.cities-page-header .mobile-search-container{z-index:33}
.low-deposit-header .banner-slogan{padding-top:187px;}
.luxury-header .mobile-search-container{padding-top:88px;}
.couples-header .mobile-search-container, .cities-page-header .mobile-search-container, .beach-header .mobile-search-container{padding-top:105px;}
.slogan-big{font-size:34px}
.slogan-small{font-size:22px}
.tt-suggestion{min-width:300px}
/*.mobile-widget-calendar,.mobile-widget-guests,.mobile-widget-stayfor,.tth-col-md-4{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}*/
.mobile-legend-label{font-size:12px}
.mobile-search-container{padding-top:30px;z-index:33}
.mobile-date-picker,.mobile-input-group,.mobile-stay-for{padding:9px 10px}
.mobile-input-group,.mobile-input-group-split-2{max-height:63px;min-height:63px;}
.mobile-tick-box{width:17px;height:17px;border:2px solid #9bc95a;top:2px;background:#9bc95a;}

::-webkit-input-placeholder{color:#a9a9a9}
.our-latest{ background:#f2f2f2;}
section.all-inclusive-top-deals-carousel.our-latest{padding:0 0 25px;}
.mobile-flexible-label{top:1px;padding-left:10px;}
.mobile-tick-mark{width:6px;height:10px;border-right:solid #fff 2px;border-bottom:solid #fff 2px;transform:rotate(38deg);-moz-transform:rotate(38deg);-o-transform:rotate(38deg);-ms-transform:rotate(38deg);-webkit-transform:rotate(38deg);top:0;left:4px}
.mobile-search-container input[type="text"],.mobile-nghts-value{padding:6px 0 0;height:auto;text-transform:uppercase;}
button:focus,input:focus{box-shadow:none;outline:0}
.mobie-down-arrow{bottom:16px;right:18px;width:9px;height:9px;border-bottom:solid #58595b 2px;border-right:solid #58595b 2px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.mobile-option-reset{width:17px;height:17px;border:1px solid #cdcdce;-webkit-border-radius:100px;-moz-border-radius:100px;-ms-border-radius:100px;border-radius:100px;top:10px;right:10px}
.datepicker table tr td span,.datepicker-switch,.day,.input-guests-box,.mobile-btn-minus,.mobile-btn-plus,.mobile-calendar-btn-clear,.mobile-flexible,.mobile-input-group .twitter-typeahead,.mobile-input-group-split-2,.mobile-option-reset,.mobile-widget-footer,.next,.prev{cursor:pointer}
.mobie-close-icon1,.mobie-close-icon2{border-right:solid #cdcdce 1px;height:9px;top:3px;left:7px}
.mobie-close-icon2{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.mobie-close-icon1{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.mobile-input-button{padding:10px 0 9px;font-size:20px;border:none;width:17%;min-height:63px;height:63px}
.mobile-input-button:focus{border:none;outline:0}
.mobile-input-button:hover{background:#eb6a34}
.mobile-widget-overlay{z-index:130;right:0;left:0;top:125px;opacity:0}
.mobile-widget-calendar{width:303px}
.mobile-widget-guests,.mobile-widget-stayfor{width:250px;}
.mobile-calendar-wrapper,.mobile-guests-wrapper,.mobile-stayfor-wrapper{height:0;z-index:116;left:0;right:0;}
.mobile-calendar-wrapper,.mobile-guests-wrapper{top:70px}
.mobile-widget-overlay-layer{background:rgba(0,0,0,.5);z-index:115;top:0;right:0;bottom:0;left:0}
.datepicker table tr td span,.datepicker table tr td.today.disabled:before,.dblock,.mibile-instruction-text span,.mobile-btn-minus-symbol1,.mobile-dstn-header2,.mobile-flexible,.mobile-input,.mobile-input-label,.mobile-nghts-value,.mobile-ngts-label,.mobile-option-reset,.mobile-search-validation:before,.mobile-widget-footer,.mobile-widget-header,.table-condensed .next:before,.table-condensed .prev:before,.show,.haul-on-img-details span,.haul-on-img-details,.search-price-under,.search-price-box,.deals-left span,.deals-img h3,.deals-img,.on-img-details span,.on-img-details,.tt-dropdown-menu .most-popular-list{display:block}
.mobile-widget-calendar,.mobile-widget-guests,.mobile-widget-stayfor{box-shadow:0 4px 12px 0 rgba(0,0,0,.5);-ms-box-shadow:0 4px 12px 0 rgba(0,0,0,.5);-webkit-box-shadow:0 4px 12px 0 rgba(0,0,0,.5)}
.mobile-widget-header{background:#f0f1f1}
.mobile-dstn-label,.mobile-dstn-header input,.mobile-widget-header{font-size:16px}
.mobile-widget-footer,.mobile-widget-header{padding:12px 0}
.mobile-calendar-header{padding:10px 15px 14px}
.mobile-widget-footer{width:90%;margin:0 auto 10px;font-size:16px}
.mobile-widget-footer:hover{background:#89B543}
.tth-col-md-4{width:33.33333333333333%}
.mobile-ngts-container{padding:20px 0 0;}
.border-top{border-top:solid #d8d8d8 1px}
.mobile-btn-minus-symbol1{width:12px;height:2px;background:#58595b;top:23px;left:19px}
.mobile-btn-minus,.mobile-btn-plus{font-size:33px;width:50px;height:50px;margin-top:0;top:1px}
.mobile-ngts-count{font-size:35px;border:none;}
.mobile-ngts-label{padding:6px 0 20px}
.mibile-instruction-text,.mobile-ngts-label,.mobile-persona-label{color:#afb0b1}
.mobile-persona-label{padding-bottom:20px;font-size:12px}
.mega-dropdown-wrapper{min-height:400px;}
.mobile-widget-guests .mobile-ngts-label{padding:6px 0 0}
.mibile-instruction-text{font-size:12px;padding-bottom:12px;max-width:80%;line-height:15px}
.mobile-destinations{z-index:115;right:0;top:0;bottom:0;}
.mobile-dstn-header{background:rgba(110,61,124,1);min-height:50px}
.mobile-dstn-header input{border:none;height:40px;right:0;left:0;padding:0 0 15px;}
.mobile-dstn-header .congratulations-close-bar1,.mobile-dstn-header .congratulations-close-bar2{width:18px}
.mobile-widget-calendar .congratulations-close-bar1,.mobile-widget-calendar .congratulations-close-bar2{background:#58595b;left:5px;top:15px}
.mobile-widget-calendar .congratulations-close-icon{top:9px;right:14px;width:32px;height:32px}
.mobile-widget-calendar .congratulations-close-bar2{top:13px}
.mobile-header-search{right:70px;left:25px;bottom:10px;top:10px;border-bottom:solid #fff 1px}
.mobile-dstn-list-wrapper{overflow-x:auto}
.mobile-destinations{transition:all .5s cubic-bezier(.07,.74,.43,1.01)}
.mobile-flexible,.mobile-input-button,.mobile-widget-footer{transition:all .2s ease-in-out}
@keyframes fadein{0%{opacity:0} 100%{opacity:1}}
.mobile-dstn-header2{background:#f2f2f2;color:#a3a3a4;font-size:12px;padding:9px 0 6px 25px}
.mobile-dstn-list-name,.mobile-search-noresult{padding:10px 0 5px 25px;}
.mobile-search-noresult{font-size:18px;}
.dstn-search-history{padding:10px 0 10px 25px}
.dstn-search-history a{margin:10px 0;}
.dstn-search-history-icon{width:16px;height:16px;background-position:-4px -62px;top:2px}
.mobile-dstn-label{top:-2px;left:20px}
.mobile-dstn-list-name{border-bottom:solid #f1f1f2 1px}
.mobile-dstn-item{overflow-x:auto;padding-bottom:10px}
.mobile-flexible-container{background:#f2f2f2;}
.mobile-flexible{padding:14px 0 14px 19px;max-width:230px}
.mobile-calendar-legends{border-top:solid #dedede 1px;padding:11px 0 3px 3px;margin:3px 2px 0 3px}
.mobile-padding1{padding-left:10px;padding-right:10px}
.mobile-legend-fill1,.mobile-legend-fill2,.mobile-legend-ouline{width:14px;height:14px;border-style:solid;border-width:2px;top:3px;margin-right:5px}
.mobile-legend-ouline{border-color:#9ac854}
.mobile-legend-fill1{border-color:#42b8cd;background-color:#42b8cd;}
.mobile-legend-fill2{border-color:#9ac854;background-color:#9ac854;}
.mobile-calendar{padding-bottom:12px}
.mobie-calendar-icon{width:14px;height:17px;background-position:-151px -2px;bottom:13px;right:13px}
.mobie-calendar-icon i{color:#9ac854;}
.input-destingtion-box{width:23%;}
.input-depart-box{width:19.54%;}
.input-departing-box{width:14%;min-height:63px;}
.input-stayfor-box{width:8%;margin-right:1px;}
.input-guests-box{width:18%;}
.mobile-search-fields .clear{clear:inherit;}
.margin-right1,.mobile-input-group{margin:0 1px 0 0}
.mobile-widget-calendar .congratulations-close-bar1,.mobile-widget-calendar .congratulations-close-bar2{width:20px;}
.owl-next,.owl-prev{width:30px;height:50px;background-color:rgba(0,0,0,.9)!important;opacity:.7;cursor:pointer;top:50%;z-index:9;border-radius:0!important}
.owl-prev{left:0}
.owl-next{right:0}
.datepicker table tr td span{width:23%;height:54px;line-height:54px;margin:1%;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.datepicker-inline{padding:0}
.datepicker-days{padding:0}
.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:7px 8px;border:5px solid #fff;}
.enabledDates{background-color:#42b8cd;border-radius:0;}
.table-condensed .next,.table-condensed .prev{font-size:0}
.table-condensed .next:before,.table-condensed .prev:before{content:'';width:15px;height:15px;top:0}
.table-condensed .next:before{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);border-right:solid #808183 1px;border-bottom:solid #808183 1px}
.table-condensed .prev:before{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);border-left:solid #808183 1px;border-bottom:solid #808183 1px}
.datepicker table tr td.today.disabled:before{content:'';border:2px solid #9ac854;top:0;left:0}
.datepicker table tr td.disabled,.datepicker table tr td.disabled:hover{color:#999;cursor:default}
.mobile-search-validation{bottom:-36px;left:0;right:0;padding:8px 10px;z-index:5;background:#da5964;box-shadow:0 7px 16px rgba(0,0,0,.2)}
.mobile-search-validation:before{width:10px;height:10px;top:-5px;left:10px;content:'';background:#da5964;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg)}
.datepicker-switch{min-width:185px;}
.tt-suggestions div.tt-suggestion p.unavailable,.unavailable-airport-link{color:#ddd!important}
.fantastic-hotels{max-width:1200px;margin:30px auto 0 auto;padding:0 15px;}
.mega-dropdown-wrapper{top:64px;}
.mega-dropdown-wrapper ul li a{color:#8d8d8f}
.mega-dropdown-list-section .spanAirport:hover,.mega-dropdown-wrapper .mega-dropdown-section-header:hover,.mega-dropdown-wrapper ul li a:hover{color:#1cb2c8!important;}
.datepicker table tr td.enabledDates.disabled,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover{border:5px solid #fff;}
.datepicker table tr td.active,.datepicker table tr td.active.enabledDates{background:#9ac854;border:none;}
.tt-dropdown-menu{width:250px;}
.tt-dataset-destinations p,.tt-empty-template,.tt-suggestion{margin-left:0;left:0;padding-left:0}
.time-price{border-radius:4px;box-shadow:0 2px 20px 0 rgba(0,0,0,.5);width:432px;max-width:96%;left:0;right:0;}
.search-by-time-price-box{height:0;z-index:116;left:0;right:0;opacity:0;top:125px;}
.late-deals label.heading{font-weight:400;background-color:#fafafa;}
.late-deals .input-destingtion-box{width:19%;}
.late-deals .input-depart-box{width:19.5%;}
.late-deals .input-departing-box{padding:9px 10px;width:17%;}
.late-deals .heading,.late-deals #inpPrice{padding:0;margin:0;}
.late-deals #inpPrice{font-weight:normal;height:auto;}
.late-deals .invalidMsgSearch{background-color:#c0504d;margin-top:15px;padding:5px;top:52px;z-index:22;width:99%;}
.late-deals .invalidMsgSearch:after,.last-minute-header .invalidMsgSearch:before{bottom:100%;left:10%;border:solid transparent;content:" ";height:0;width:0;/*pointer-events:none*/}
.late-deals .invalidMsgSearch:after{border-color:rgba(192, 80, 77, 0);border-bottom-color:#c0504d;border-width:10px;margin-left:-10px}
.late-deals #inpPrice>span{margin:0;padding:6px 0 0}
.mobile-search-container .main-holidays-search .mobile-search-fields.late-deals .mega-dropdown-items2{max-width:921px;width:921px;}
.late-deals .input-guests-box{width:19%;}
.datepicker table tr td span.active.month,.datepicker table tr td span:hover{font-weight:400;}
.all-inclusive-top-deals-carousel .owl-prev{left:13px}
.all-inclusive-top-deals-carousel .owl-next{right:13px;}
#searchBanner, #commonHeaderD,.all-inclusive-header,.last-minute-header,.cities-page-header{background-repeat:no-repeat;height:486px;background-size:cover;top:-1px;}
.all-inclusive-container{max-width:1200px;padding:0 15px;margin-right:auto;margin-left:auto}
.all-inclusive-container.content-row p a{color:#428bca;}
.all-inclusive-container.content-row p a:hover{color:#266ead;}
.all-inclusive-img-slide img{height:auto}
.on-image-text-div{z-index:1;background-color:rgba(0,0,0,.2);top:0;padding:15px}
.on-img-details{z-index:2;bottom:15px;padding:0 15px;text-align:left;line-height:21px}
.on-img-details h3{margin:0;padding:0;font-size:26px;font-weight:400;}
.on-img-details span{font-size:17px}
.on-img-details .top-deal-airport{font-weight:600;margin-bottom:5px}
.content-row{padding:15px 15px 25px;}
div.content-row p{font-size:16px;text-align:justify;line-height:26px}
.deals-main-row{background:#f2f2f2;padding:0 0 52px;}
.deals-slide{margin:10px 0;-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,.2);box-shadow:0 1px 2px 0 rgba(0,0,0,.2);text-align:left;width:288px}
.deals-img{height:196px}
.deals-img h3{padding:6px 10px;right:0;top:9px;left:0}
.deals-img h3 span{padding:6px 15px 5px;font-weight:600}
.deals-img .headerText1 span{background:#6e3d7c}
.deals-img .headerText2 span{background:#9ac854}
.deals-img .headerText3 span{background:#f07541}
.deals-img .headerText4 span{background:#cb3544}
.price-condition{clear:both;line-height:10px;font-size:12px;color:#484848}
p.price-condition span{font-size:21px;top:5px}
.deals-img img{max-width:100%;}
.deals-row{padding:8px 18px;border-bottom:1px solid #f2f2f2;}
.deals-row:hover{background:#f2f2f2}
.deals-left{width:70%}
.deals-left span{margin:0;line-height:15px}
.deals-left .deal-hotel-name{font-size:16px;font-weight:600}
.deals-left .deal-description{font-size:13px;opacity:.6}
.deal-rating .fa-star{color:#fbdb3e;font-size:12px;margin:0 1px}
.all-inclusive-top-deals-carousel .owl-next,.all-inclusive-top-deals-carousel .owl-prev{top:32%}
.all-inclusive-deals-carousel-container .owl-prev{left:2px}
.all-inclusive-deals-carousel-container .owl-next,.all-inclusive-deals-carousel-container .owl-prev{top:23%}
.all-inclusive-deals-carousel .owl-next,.all-inclusive-deals-carousel .owl-prev,.all-inclusive-hotels-list .owl-theme .owl-controls .owl-buttons div{margin:5px 0;}
.paraTitle{font-size:20px;text-align:left;margin:25px 0 0;}
.paraTitle{/*font-size:20px;text-align:left;margin-bottom:9px;margin-top:20px;*/}
.all-inclusive-container h3{font-size:17px;margin-top:20px;font-weight:600;}
.all-inclusive-container ul{padding:0 0 0 30px;}
.all-inclusive-container ul li{line-height:21px; margin:15px 0 0;font-size:16px;list-style:disc;}
.all-inclusive-container ul li a{color:#428bca;}
.paraTitle.tth-section-label{font-size:28px;text-align:center;margin:20px 0 0;}
.all-inclusive-offerscarousel-container{margin-top:30px}
.all-deals-carousel-header{background-color:#f2f2f2}
.includeflights{padding:0 10px;border-radius:10px}
.includeflights .fa-plane{color:#9ac854}
.all-inclusive-top-deal{width:91%;cursor:pointer;margin:0 auto 10px;}
.all-inclusive-deals-carousel .owl-buttons .fa,.all-inclusive-offerscarousel .owl-buttons .fa,.all-inclusive-top-deals-carousel .owl-buttons .fa{line-height:44px;font-size:20px}
.owl-theme .owl-controls{margin-top:0;}
.main-holidays-search{width:100%;background-color:transparent}
.dealAnimation{transform:scale(1.1);-ms-transform:scale(1.1);-webkit-transform:scale(1.1);-webkit-filter:grayscale(00%);-moz-filter:grayscale(00%);-o-filter:grayscale(00%);-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;-webkit-box-shadow:0 8px 20px 0 rgba(0,0,0,.2);-moz-box-shadow:0 8px 20px 0 rgba(0,0,0,.2);box-shadow:0 8px 20px 0 rgba(0,0,0,.2)}
.all-inclusive-top-deals-carousel .owl-wrapper-outer{padding-bottom:43px}
.all-inclusive-hotels-list{max-width:1200px;padding:0 15px}
.topsellerblockitem{max-height:420px;height:auto;}
.offerimgblk{height:185px;border:1px solid #fff}
.offerimgblk img{border:0;}
.topseldetails{background:#f3f3f3;padding:1px 1px 20px;height:50%;border:1px solid #fff}
#newCallus h3 span{padding:0;}
.lblhotelname{text-overflow:ellipsis;padding-top:5px;min-height:45px;max-height:45px;}
.star-rating{width:auto;margin-left:auto;margin-right:auto;max-height:14px}
.lblHoteldesc{text-overflow:ellipsis;margin-bottom:10px;font-size:13px;line-height:20px}
.lblreviewnum{font-size:9px;padding-bottom:10px}
.all-inclusive-offerscarousel-container .owl-next,.all-inclusive-offerscarousel-container .owl-prev{top:16%}
.all-inclusive-top-deals-carousel .page-builder-row-inner{max-width:1200px;}
.offerimgblk label,.topseldetails label{cursor:pointer}
#inpPrice{background-color:#fafafa!important;padding:2px 2px 0 10px;margin:-1px 0 0;height:39px;color:#555;cursor:pointer;font-size:13px;}
.spanPrice,.spanTime{margin-top:10px;text-align:left}
.last-minute-search-top-row{border-bottom:1px solid rgba(88,89,91,.2);height:234px}
.last-minute-search-btm-row{padding:8px 0;text-align:right}
.last-minute-search-title{margin:0 14px;border-bottom:1px solid rgba(88,89,91,.2);padding:13px 3px 0;line-height:30px}
.timepopup-tittle{font-weight:600;font-size:18px}
.timepopup-close{opacity:1;font-size:34px}
.timepopup-close button{border:0;cursor:pointer;padding:0}
.last-minute-search-btm-row input{padding:0;width:auto;font-size:16px;font-weight:600;margin:0 20px 0 0;border:none;}
.last-minute-search-left{padding:21px 20px;border-right:1px solid rgba(88,89,91,.2);width:49%}
.last-minute-search-right{padding:20px 1px 3px 7px;width:51%}
.last-minute-radio-box{margin-bottom:16px}
.last-minute-search-radio{border-radius:100%;width:28px;height:28px;background-color:#fff;border:2px solid #b7b7b7;margin-right:4px;cursor:pointer}
.last-minute-radio-box label{left:35px;cursor:pointer;font-size:18px;margin-top:0;line-height:27px}
.last-minute-search-active-radio{border-radius:100%;width:14px;height:14px;background-color:#9ac854;border:2px solid #9ac854;cursor:pointer;left:5px;top:5px}
.last-minute-search-right p{font-size:13px;margin-bottom:4px;margin-left:9px}
.search-price-box{-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;transition:all .1s ease-in-out;width:105px;height:45px;background-color:#f2f2f2;border-right:1px solid #fff;border-bottom:1px solid #fff;margin-top:0;padding-top:5px;line-height:14px;cursor:pointer;}
.price-box-active,.search-price-box:hover{background-color:#9ac854;}
.search-price-box-any{padding-top:14px;padding-left:0;font-weight:600}
.search-price-box-any .search-price-tick-on{padding:0}
.search-price-under{font-size:9px;text-align:left}
.last-minute-search-price{font-size:17px;font-weight:600;}
.last-minute-search-price sup{top:-.2em;left:-5px;font-size:17px;font-weight:400}
.last-minute-search-price-pp{font-size:9px;left:-10px;top:-1px}
.search-price-tick{padding:10px 3px 0 0;}
.search-price-tick-on{padding:10px 3px 0 0}
.search-price-box-any.price-box-active{padding-right:15px}
.haul-offercarousel-container .owl-next,.haul-offercarousel-container .owl-prev{top:41%}
.haul-offercarousel-container .owl-buttons .fa{line-height:44px;font-size:20px}
.haul-offer-container{margin-top:30px}
.haul-offer-slide{height:280px;}
.haul-image-text-div{z-index:1;background-color:rgba(0,0,0,.2);top:0;padding:15px}
.haul-on-img-details{z-index:2;bottom:15px;padding:0 15px;text-align:left;font-size:17px}
.haul-on-img-details h3{margin:0;text-align:left;font-size:26px;font-weight:400}
.haul-on-img-details sup{font-size:19px;top:0}
.happy-customer-inner{max-width:1170px;}
.summer-holidays{min-height:380px;background-size:100% 380px;}

/* low deposit Page Css Start Here */
.all-inclusive-container .content-title{color:#37394c;font-size:20px;font-weight:bold;text-align:left;}
.low-deposit-content{border-radius:4px;background-color:rgba(242, 242, 242, 0.5);border:dotted 1px rgba(88, 89, 91, 0.4);color:#37394c;padding:23px 26px;}
.low-deposit-content ul{list-style-type:decimal;padding-left:40px;}
.low-deposit-content p{font-weight:bold;}
.terms-conditions{max-width:90%;padding:20px 0;border-bottom:solid 1px #d8d8d8;}
.terms-conditions h2{font-size:22px;font-weight:bold;}
.conditions-title{font-size:18px;text-decoration:underline;margin:10px 0;}
.low-deposit-header .mobile-search-container{padding-top:150px;}
.tripadv{background-image:url('https://resources.teletextholidays.co.uk/drupal/images/trip_sprite.png');background-repeat:no-repeat;width:118px;height:20px;}
.trp_5-0{background-position:0 0;}
.trp_4-5{background-position:0 -20px;}
.trp_4-0{background-position:0 -40px;}
.trp_3-5{background-position:0 -60px;}
.trp_3-0{background-position:0 -80px;}
.trp_2-5{background-position:0 -100px;}
.trp_2-0{background-position:0 -120px;}
.trp_1-5{background-position:0 -140px;}
.trp_1-0{background-position:0 -160px;}
.trp_0-5{background-position:0 -180px;}
.trp_0-0{background-position:0 -200px;}
/* low deposit Page Css End Here */

/* Header Background Images Css Start Here */
.jan-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/january-holidays/january-holidays-head-l.jpg);}
.feb-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/february-holidays/february-holidays-head-l.jpg);}
.mar-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/march-holidays/march-holidays-head-l.jpg);}
.apr-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/april-holidays/april-holidays-head-l.jpg);}
.may-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/may-holidays/may-holidays-head-l.jpg);}
.jun-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/june-holidays/june-holidays-head-l.jpg);}
.jul-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/july-holidays/july-holidays-head-l.jpg);}
.aug-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/august-holidays/august-holidays-head-l.jpg);}
.sep-holidays-header{background:url(http://resources.teletextholidays.co.uk/drupal/images/september-holidays/september-holidays-head-l.jpg);}
.oct-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/october-holidays/october-holidays-head-l.jpg);}
.nov-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/november-holidays/november-holidays-head-l.jpg);}
.dec-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/december-holidays/december-holidays-head-l.jpg);}
.low-deposit-header{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/low-deposit-holidays/low-deposit-holidays-head-l.jpg);}
.beach-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Beach/v3/beach-holidays-head-l.jpg);}
.summer-2017-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/2017/2017-holidays-head-l.jpg);}
.winter-sun-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Winter-Sun/winter-sun-holidays-head-l.jpg);}
.couples-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Couples/v3/couples-holidays-head-l.jpg);}
.family-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Family/v3/family-holidays-head-l.jpg);}
.luxury-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Luxury/v3/luxury-holidays-head-l.jpg)}
.christmas-newyear-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-new-year/christmas-new-year-holiday-head-l.jpg)}
.all-inclusive-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-l.jpg)}
.last-minute-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/last-minute-page/last-minute-head-l.jpg)}
.summer-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/Summer-v2/summer-header-d-hr.jpg);}
/* Header Background Images Css End Here */


/* flexible date */
.flexible-date {background:rgba(0,0,0,0.4);left:0;right:0;bottom:-28px;padding:5px 7px 3px 7px;color:#fff;}
.flexible-date .tth-checkbox {width:15px;height:15px;border-width:1px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.flexible-date .date-type {padding-left:10px;font-size:13px;}
.ms-mask{z-index:5;}

@media (max-width:1600px){
  .summer-holidays{background-size:100% 380px !important;height:inherit !important;}
}

@media (max-width:1400px){
  /* Header Background Images Css Start Here */
  .jan-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/january-holidays/january-holidays-head-d.jpg);}
  .feb-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/february-holidays/february-holidays-head-d.jpg);}
  .mar-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/march-holidays/march-holidays-head-d.jpg);}
  .apr-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/april-holidays/april-holidays-head-d.jpg);}
  .may-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/may-holidays/may-holidays-head-d.jpg);}
  .jun-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/june-holidays/june-holidays-head-d.jpg);}
  .jul-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/july-holidays/july-holidays-head-d.jpg);}
  .aug-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/august-holidays/august-holidays-head-d.jpg);}
  .sep-holidays-header{background:url(http://resources.teletextholidays.co.uk/drupal/images/september-holidays/september-holidays-head-d.jpg);}
  .oct-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/october-holidays/october-holidays-head-d.jpg);}
  .nov-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/november-holidays/november-holidays-head-d.jpg);}
  .dec-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/december-holidays/december-holidays-head-d.jpg);}
  .low-deposit-header{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/low-deposit-holidays/low-deposit-holidays-head-d.jpg);}
  .beach-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Beach/v3/beach-holidays-head-d.jpg);}
  .summer-2017-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/2017/2017-holidays-head-d.jpg);}
  .winter-sun-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Winter-Sun/winter-sun-holidays-head-d.jpg);}
  .couples-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Couples/v3/couples-holidays-head-d.jpg);}
  .family-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Family/v3/family-holidays-head-d.jpg);}
  .luxury-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Luxury/v3/luxury-holidays-head-d.jpg)}
  .christmas-newyear-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-new-year/christmas-new-year-holiday-head-d.jpg)}
  .all-inclusive-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-d.jpg)}
  .last-minute-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/last-minute-page/last-minute-head-d.jpg)}
  /* Header Background Images Css End Here */
}

@media (max-width:1200px){
  .mobile-search-container .mobile-search-fields .mega-dropdown-items2,.mobile-search-container .main-holidays-search .mobile-search-fields.late-deals .mega-dropdown-items2{width:100%;max-width:100%;}
  .late-deals .mobile-nghts-value{top:4px;line-height:16px;font-size:13px}
  .late-deals .mobile-input,.late-deals .mobile-nghts-value{min-height:34px;}
  #inpPrice{line-height:28px;}
  .late-deals .input-depart-box,.late-deals .input-destingtion-box,.mobile-stay-for{max-height:63px;padding:8px 10px;}
  .late-deals .input-departing-box,.late-deals .input-guests-box{padding:5px;max-height:63px;}
  .late-deals .input-guests-box span.mobile-nghts-value{padding:0;}
  .late-deals .input-guests-box span.mobile-nghts-value > span{display:block;}
  .late-deals .input-destingtion-box,.late-deals .input-depart-box{width:21%;}
  .late-deals .input-guests-box{width:17%;}
  .late-deals .mobile-input-button{width:15.45%;font-size:15px;}
  .mobile-search-container .late-deals #inpPrice > span{font-size:13px;}
  .banner-slogan,.mobile-search-fields{width:98%;max-width:initial;}

  /* Header Background Images Css Start Here */
  .jan-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/january-holidays/january-holidays-head-sd.jpg);}
  .feb-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/february-holidays/february-holidays-head-sd.jpg);}
  .mar-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/march-holidays/march-holidays-head-sd.jpg);}
  .apr-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/april-holidays/april-holidays-head-sd.jpg);}
  .may-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/may-holidays/may-holidays-head-sd.jpg);}
  .jun-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/june-holidays/june-holidays-head-sd.jpg);}
  .jul-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/july-holidays/july-holidays-head-sd.jpg);}
  .aug-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/august-holidays/august-holidays-head-sd.jpg);}
  .sep-holidays-header{background:url(http://resources.teletextholidays.co.uk/drupal/images/september-holidays/september-holidays-head-sd.jpg);}
  .oct-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/october-holidays/october-holidays-head-sd.jpg);}
  .nov-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/november-holidays/november-holidays-head-sd.jpg);}
  .dec-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/december-holidays/december-holidays-head-sd.jpg);}
  .low-deposit-header{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/low-deposit-holidays/low-deposit-holidays-head-sd.jpg);}
  .beach-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Beach/v3/beach-holidays-head-sd.jpg);}
  .summer-2017-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/2017/2017-holidays-head-sd.jpg);}
  .winter-sun-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Winter-Sun/winter-sun-holidays-head-sd.jpg);}
  .couples-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Couples/v3/couples-holidays-head-sd.jpg);}
  .family-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Family/v3/family-holidays-head-sd.jpg);}
  .luxury-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Luxury/v3/luxury-holidays-head-sd.jpg)}
  .christmas-newyear-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-new-year/christmas-new-year-holiday-head-sd.jpg)}
  .all-inclusive-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-sd.jpg)}
  .last-minute-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/last-minute-page/last-minute-head-sd.jpg)}
  /* Header Background Images Css End Here */
}

@media(max-width:1100px){
  .input-guests-box{width:16%;}
  .mobile-input-button{width:13.3%;font-size:15px;}
  .input-destingtion-box{width:23%}
  .input-depart-box{width:23.1%}
  .mobile-date-picker,.mobile-input-group,.mobile-stay-for{padding:5px}
  .input-depart-box .mobile-nghts-value,.input-departing-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value,.input-stayfor-box .mobile-nghts-value{top:6px;min-height:34px;}
  .mobile-nghts-value span{display:block;font-size:13px;line-height:14px;}
  .mobile-input, .mobile-nghts-value{min-height:34px;}
  .input-departing-box {width:16%;}
}

@media (max-width:1024px){
  .mobile-input{font-size:13px;}
  .on-img-details{padding:0 3px}
  .all-inclusive-top-deals-carousel .owl-wrapper-outer .owl-prev{left:15px;}
  .all-inclusive-top-deals-carousel .owl-wrapper-outer .owl-next{right:15px;}
  .all-inclusive-deals-carousel .owl-next{right:3px}
  .owl-theme .owl-controls .owl-buttons div{margin:0;}
  .all-inclusive-top-deals-carousel .owl-wrapper, .all-inclusive-top-deals-carousel .owl-wrapper-outer{height:250px;}
}

@media (max-width:991px){
  .input-depart-box{width:21.1%;}
  .input-departing-box {width:20%;}
  .mobile-search-container .late-deals #inpPrice > span{display:block;width:100%;padding:0;line-height:18px;}
  .late-deals .input-destingtion-box,.late-deals .input-depart-box{width:23%;}
  .late-deals .input-departing-box,.late-deals .input-guests-box{width:16%;}
  .late-deals .mobile-input-button{width:13.3%;}
  .summer-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/Summer-v2/summer-header-t-hr.jpg);}
  .mobile-input-button{width:11%;}
  .cities-page-header .mobile-search-container{padding-top:112px;}
  .christmas-newyear-header .mobile-search-container{padding-top:113px;}
  .last-minute-header .banner-slogan{padding:160px 0 159px 0}
  .luxury-header .mobile-search-container{padding-top:95px;}
}

@media (max-width:768px){

  .dealAnimation{transform:scale(1.03)}
  .all-inclusive-top-deals-carousel .owl-next,.all-inclusive-top-deals-carousel .owl-prev{top:43%}
  .banner-slogan{text-align:center}
  .all-inclusive-deals-carousel-container div.owl-prev{left:.6%;}
  .all-inclusive-deals-carousel-container div.owl-next{right:.5%;}
  .all-inclusive-top-deals-carousel .owl-wrapper-outer div.owl-prev{left:4.5%;}
  .all-inclusive-top-deals-carousel .owl-wrapper-outer div.owl-next{right:4.5%;}
  /*.all-inclusive-top-deals-carousel .owl-wrapper-outer div{margin:5px 0;}*/

  /* Header Background Images Css Start Here */
  .jan-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/january-holidays/january-holidays-head-t.jpg);}
  .feb-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/february-holidays/february-holidays-head-t.jpg);}
  .mar-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/march-holidays/march-holidays-head-t.jpg);}
  .apr-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/april-holidays/april-holidays-head-t.jpg);}
  .may-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/may-holidays/may-holidays-head-t.jpg);}
  .jun-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/june-holidays/june-holidays-head-t.jpg);}
  .jul-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/july-holidays/july-holidays-head-t.jpg);}
  .aug-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/august-holidays/august-holidays-head-t.jpg);}
  .sep-holidays-header{background:url(http://resources.teletextholidays.co.uk/drupal/images/september-holidays/september-holidays-head-t.jpg);}
  .oct-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/october-holidays/october-holidays-head-t.jpg);}
  .nov-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/november-holidays/november-holidays-head-t.jpg);}
  .dec-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/december-holidays/december-holidays-head-t.jpg);}
  .low-deposit-header{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/low-deposit-holidays/low-deposit-holidays-head-t.jpg);}
  .beach-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Beach/v3/beach-holidays-head-t.jpg);}
  .summer-2017-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/2017/2017-holidays-head-t.jpg);}
  .winter-sun-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Winter-Sun/winter-sun-holidays-head-t.jpg);}
  .couples-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Couples/v3/couples-holidays-head-t.jpg);}
  .family-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Family/v3/family-holidays-head-t.jpg);}
  .luxury-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Luxury/v3/luxury-holidays-head-t.jpg)}
  .christmas-newyear-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-new-year/christmas-new-year-holiday-head-t.jpg)}
  .all-inclusive-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-t.jpg)}
  .last-minute-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/last-minute-page/last-minute-head-t.jpg)}
  /* Header Background Images Css End Here */

  /* low deposit Page Css Start Here */
  .low-deposit-header .mobile-search-container{margin-top:25%;padding:0 !important}
  .all-inclusive-top-deals-carousel .owl-wrapper, .all-inclusive-top-deals-carousel .owl-wrapper-outer{height:500px;}
}

@media(max-width:767px){
  .late-deals .input-guests-box span.mobile-nghts-value > span, .mobile-dstn-icon, .for-mobile-devices, #newCallus .for-mobile-devices{display:inline-block;}
  .mobile-search-container .late-deals #inpPrice > span.spanPrice,.mobile-search-container .late-deals #inpPrice > span.spanTime, .mobile-nghts-value span{display:inline;}
  .input-depart-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value,.mobie-calendar-icon{display:block}
  .for-desktop,.mobile-input,.mobile-option-reset,.dstn-search-history{display:none}
  .input-depart-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value{color:#acacac}
  .input-destingtion-box .mobile-nghts-value.input-item-selected, .input-depart-box .mobile-nghts-value.input-item-selected{color:#58595b;}
  .mobile-adult-cnt,.mobile-children-cnt, .mobile-search-container .late-deals #inpPrice > span, .late-deals .mobile-nghts-value, .mobile-nghts-value span{font-size:14px;}
  .stop-body-scroll, .all-inclusive-top-deals-carousel .page-builder-row-inner{overflow:hidden}
  .input-depart-box,.input-destingtion-box,.input-guests-box,.mobile-input-button,.late-deals .input-destingtion-box,.late-deals .input-depart-box,.late-deals .input-departing-box,.late-deals .input-guests-box,.late-deals .mobile-input-button, .popover{width:100%;}
  .input-depart-box .mobile-nghts-value,.input-departing-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value,.input-stayfor-box .mobile-nghts-value{top:2px;}
  .mobile-dstn-icon{width:12px;height:17px;background-position:-129px -2px;}
  .last-minute-header .banner-slogan{padding:68px 0 0 0;}
  .slogan-big{font-size:26px}
  .slogan-small{font-size:17px}
  .mobile-input-group{float:none;margin:8px 0}
  .mobile-search-fields .clear{clear:both;}
  .input-departing-box,.mobile-input-group-split-2{width:49%}
  .mobile-date-picker,.mobile-input-group,.mobile-stay-for{padding:8px 10px}
  .input-stayfor-box{margin-right:0}
  .mobile-nghts-value span{line-height:inherit;}
  .mobile-search-fields{width:90%}
  .mobile-input-button{min-height:initial;height:initial;padding:10px 0;font-size:20px}
  .mobile-search-container{padding-top:0}
  .mobile-widget-calendar{width:283px}
  .mobile-search-container input[type="text"]{padding:2px 0 0;}
  .table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:5px 3px;min-width:36px}
  .mobile-destinations .congratulations-close-icon{top:14px;right:21px}
  .mobie-down-arrow{bottom:14px}
  .time-price{max-width:96%}
  .search-by-time-price-box{top:40px!important}
  .late-deals label.heading{background:none;}
  .late-deals .mobile-input-button{font-size:20px;}
  .input-stayfor-box{float:right;}
  .popover{max-width:100%;}
  .all-inclusive-top-deals-carousel .page-builder-row-inner{max-width:98%;}
  .on-img-details{padding:0}
  .input-departing-box{width:50%;}
  .content-row{padding:20px}
  .deals-main-row{padding:0 0 18px}
  .price-condition{line-height:18px}
  .deals-img{height:auto}
  .all-inclusive-header,.beach-header,.christmas-newyear-header,.cities-page-header,.couples-header,.family-header,.luxury-header,.summer-2017-header,.winter-sun-header{height:460px}
  .all-inclusive-header-text{padding-top:36px}
  .all-inclusive-top-deals-carousel .owl-wrapper-outer{padding-bottom:11px}
  .mobile-search-container .late-deals #inpPrice > span.spanPrice,.mobile-search-container .late-deals #inpPrice > span.spanTime{margin-top:3px;float:left;}
  .late-deals .input-guests-box span.mobile-nghts-value{padding:6px 0 0;}
  .all-inclusive-deals-carousel-container .owl-next,.all-inclusive-deals-carousel-container .owl-prev{top:25%}
  .topsellerblockitem{height:auto;max-height:inherit}
  .topseldetails{padding-bottom:15px}
  .all-inclusive-offerscarousel-container .owl-prev{left:2px}
  .mobile-search-container .late-deals .input-stayfor-box{width:46.6%;}
  .mobile-search-container .late-deals .input-departing-box{padding:8px 10px;width:51%;min-height:63px;margin:0 1.4% 0 0;}
  .last-minute-header{height:485px;}
  .mobile-search-container .late-deals #inpPrice > span{padding:6px 0 0 0;width:auto;}
  .late-deals .input-guests-box{padding:8px 10px;}
  .all-inclusive-top-deals-carousel .owl-wrapper-outer div{margin:0 auto;}
  .summer-holidays{max-height:340px;height:320px !important;min-height:inherit !important;}
  .summer-holidays .mobile-search-fields{max-width:100%;}

  /* low deposit Page Css Start Here */
  .low-deposit-header{background-position:center 12%;}
  .low-deposit-header .mobile-search-container{margin:10% 0 0 0;}

  /* flexible date */
  .flexible-date{position:relative;bottom:auto;margin-top:8px;color:#58595b;background:#fff;font-size:12px;padding:9px 10px;width:100%;}
  .all-inclusive-top-deals-carousel .owl-wrapper, .all-inclusive-top-deals-carousel .owl-wrapper-outer{height:250px;}
  .cities-page-header .banner-slogan{padding-top:62px;}
  .christmas-newyear-header .banner-slogan{padding-top:73px;}
  .luxury-header .banner-slogan {padding-top:68px;}
  .cities-page-header .mobile-search-container, .christmas-newyear-header .mobile-search-container, .luxury-header .mobile-search-container{padding-top:0;}
}

@media (max-width:640px){
  .deals-slide{width:100%}
  .all-inclusive-deals-carousel-container{width:100%!important}
  .all-inclusive-deals-carousel-container .owl-prev{left:0!important}
  .all-inclusive-deals-carousel-container .owl-next{right:0}

  /* Header Background Images Css Start Here */
  .jan-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/january-holidays/january-holidays-head-m.jpg);}
  .feb-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/february-holidays/february-holidays-head-m.jpg);}
  .mar-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/march-holidays/march-holidays-head-m.jpg);}
  .apr-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/april-holidays/april-holidays-head-m.jpg);}
  .may-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/may-holidays/may-holidays-head-m.jpg);}
  .jun-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/june-holidays/june-holidays-head-m.jpg);}
  .jul-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/july-holidays/july-holidays-head-m.jpg);}
  .aug-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/august-holidays/august-holidays-head-m.jpg);}
  .sep-holidays-header{background:url(http://resources.teletextholidays.co.uk/drupal/images/september-holidays/september-holidays-head-m.jpg);}
  .oct-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/october-holidays/october-holidays-head-m.jpg);}
  .nov-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/november-holidays/november-holidays-head-m.jpg);}
  .dec-holidays-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/december-holidays/december-holidays-head-m.jpg);}
  .low-deposit-header{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/low-deposit-holidays/low-deposit-holidays-head-m.jpg);}
  .beach-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Beach/v3/beach-holidays-head-m.jpg);}
  .summer-2017-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/2017/2017-holidays-head-m.jpg);}
  .winter-sun-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Winter-Sun/winter-sun-holidays-head-m.jpg);}
  .couples-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Couples/v3/couples-holidays-head-m.jpg);}
  .family-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Family/v3/family-holidays-head-m.jpg);}
  .luxury-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/Luxury/v3/luxury-holidays-head-m.jpg)}
  .christmas-newyear-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-new-year/christmas-new-year-holiday-head-m.jpg)}
  .all-inclusive-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-m.jpg)}
  .last-minute-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/last-minute-page/last-minute-head-m.jpg)}
  .summer-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/Summer-v2/summer-header-m-hr.jpg);}
  /* Header Background Images Css End Here */
}

@media(max-width:480px){
  .last-minute-search-top-row{height:160px;margin:0 14px}
  .last-minute-search-left{width:100%;margin:0 auto;float:none;border-right:none;padding:10px 0}
  .last-minute-search-right{width:100%;margin:0 auto;float:initial;padding:3px 0}
  .last-minute-radio-box{margin-bottom:3px}
  .last-minute-search-btm-row input{float:inherit;padding:0;margin:0;}
  .last-minute-search-btm-row{text-align:center;clear:both;border-top:1px solid #f2f2f2;width:93%;margin:0 auto}
  .last-minute-search-right p{margin-left:0;color:#58595b;margin-bottom:0}
  .last-minute-search-btm-row span{text-align:center}
  .search-price-box{width:50%}
  .mobile-search-container .late-deals .input-departing-box{margin:0 3% 0 0;}
  .mobile-search-container .late-deals .input-stayfor-box{width:46%;}
}

@media(max-width:375px){
  /* .christmas-newyear-header#searchBanner{ height:510px;} */
  .all-inclusive-top-deals-carousel .owl-next,.all-inclusive-top-deals-carousel .owl-prev{top:32%;}
  .main-holidays-search .late-deals #inpPrice > span{display:block;width:100%;padding:0;}
  .main-holidays-search .late-deals #inpPrice{margin:-2px 0 0 0;}
  .late-deals .mobile-stay-for{min-height:63px;}
  .last-minute-header{height:505px;}
  .mobile-search-container{background-position:-118px 0}
  .mobile-ngts-container{padding:10px 0 0}
  .mobile-widget-guests .mobile-ngts-label{padding:0}
  .mobile-persona-label{padding-bottom:15px}
  .mobile-widget-calendar{width:275px}
  .table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:3px 0;min-width:35px}
  .mobile-search-container .late-deals #inpPrice > span.spanTime{margin-top:6px;font-size:13px;line-height:10px;}
  .paraTitle.tth-section-label{font-size:24px;}
}

@media(max-width:320px){
  .mobile-calendar{padding-bottom:6px}
  .mobile-calendar-header{padding:11px 15px 16px 14px}
  .mobile-widget-calendar{width:288px}
  .mobile-widget-footer,.mobile-widget-header{padding:10px 0}
  .mobile-persona-label{padding-bottom:8px}
  .mobile-ngts-container{padding:3px 0 0}
  .mobile-widget-guests,.mobile-widget-overlay,.mobile-widget-stayfor{width:210px}
  .table-condensed>thead>tr>th.datepicker-switch{min-width:175px}
  .table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{min-width:37px}
  .input-departing-box,.input-stayfor-box{width:48.5%}
  .margin-right1{margin:0 3% 0 0}
}




/* Variations from separate file */
/* Hidden Nodes */
.v2 .our-latest, .v2 .deals-main-row, .v2 .all-deals-carousel-header{display:none!important;}
.v2 .bookthis-container{display:none;}


/*  Our Most Popular All Inclusive Hotels */
.v2 #all-inclusive-offerscarousel .offerimgblk{height:inherit;}
.v2 #all-inclusive-offerscarousel .view-deal{display:block;padding:4px 10px 2px 10px}
.v2 #all-inclusive-offerscarousel .topseldetails div{margin-top:10px;}
.v2 #all-inclusive-offerscarousel .topsellerblockitem{max-height:inherit;height:inherit;}
.v2 #all-inclusive-offerscarousel .owl-next /* , #all-inclusive-offerscarousel .owl-prev */{top:27%;}
.v2 #all-inclusive-offerscarousel .topseldetails{padding:1px 1px 0;}
.v2 #all-inclusive-offerscarousel .offerimgblk img{height:inherit;}
.v2 #all-inclusive-offerscarousel .lblreviewnum{font-size:11px;padding:6px 0 11px 0;}
.v2 #all-inclusive-offerscarousel .lblhotelname{text-transform:inherit;}

/* Content */
.v2 .content-row{padding:57px 15px 65px;}


/* Desktop Trending Holidays Carousel */
.v2 .trending-holidays-carousel .mobile-middle-wrapper{margin:0 auto;max-width:1200px;}
.v2 .trending-holidays-carousel .holidays-item{width:277px;margin:4px;position:relative;}
.v2 .trending-holidays-carousel .holidays-item-image{background-color:rgba(0, 0, 0, 0.2);height:196px;overflow:hidden;}
.v2 .trending-holidays-carousel .holidays-item-image img{width:100%;height:100%;object-fit:cover}
.v2 .trending-holidays-carousel .multi-hotels{background:#fff;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);}
.v2 .trending-holidays-carousel .hotel-price{top:10px;right:10px;}
.v2 .trending-holidays-carousel .multi-hotel-row{padding:9px 12px 7px 12px;border-top:solid #d8d8d8 1px;}
.v2 .trending-holidays-carousel .location-label{font-weight:bold;font-size:16px;padding-bottom:4px;}
.v2 .trending-holidays-carousel .hotel-board-basis{color:#9e9ea0;font-size:13px;}
.v2 .trending-holidays-carousel .all-Inclusive-holidays .tth-price{font-size:15px;font-weight:bold;}
.v2 .trending-holidays-carousel .all-Inclusive-holidays .tth-pp{left:-3px;}
.v2 .trending-holidays-carousel .all-Inclusive-holidays .tth-asterisk{top:1px;right:0px;font-size:12px;}
.v2 .trending-holidays-carousel .hotel-rating-star{width:12px;height:12px;background-position:0 0;float:left;}
.v2 .trending-holidays-carousel .hotel-rating:after{content:'';display:block;clear:both;}
.v2 .trending-holidays-carousel .all-Inclusive-holidays .handler-right{right:0}
.v2 .trending-holidays-carousel .all-Inclusive-holidays .handler-left{left:0}
.v2 .trending-holidays-carousel .all-Inclusive-holidays .carousel-handler{top:82px;}
.v2 .trending-holidays-carousel .deals-header, .trending-holidays-carousel .deals-sub-header{font-weight:bold;}
.v2 .trending-holidays-carousel .deals-header{font-size:25px;}
.v2 .trending-holidays-carousel .deals-sub-header{font-size:18px;padding:8px 0 5px 0}
.v2 .trending-holidays-carousel .carousel-header{padding:30px 0;}
.v2 .trending-holidays-carousel .deals-price-note{color:#8e8e8e;font-size:15px;line-height:20px}
.v2 .trending-holidays-carousel .image-overlay{background-color:rgba(0,0,0,.2);}
.v2 .trending-holidays-carousel .view-deal{display:block;padding:3px 11px;}
.v2 .trending-holidays-carousel .tth-pp{left:0;}
.v2 .trending-holidays-carousel .tth-asterisk{right:-3px;}
.v2 .trending-holidays-carousel .float-left{line-height:17px;}
.v2 .trending-holidays-carousel .txt-nights-option{top:2px;left:6px;position:relative;color:#9e9ea0;}
.v2 .trending-holidays-carousel .deals-tag{z-index:2;top:0;right:0;left:0;}
.v2 .trending-holidays-carousel .deals-tag span{padding:6px 20px 4px 20px;margin-top:16px;text-transform:uppercase;}
.v2 .low-deposit-item{border-bottom:solid #d8d8d8 1px;padding-bottom:10px;margin-bottom:10px;}
.v2 .low-deposit-item i{font-size:23px;padding-right:4px;}
.v2 .trending-holidays-carousel .low-deposit-item div{line-height:initial;}
.v2 .owl-theme .owl-controls .owl-buttons div{display:none;}
.v2 .trending-holidays-carousel .owl-theme .owl-controls .owl-page span{width:16px;height:16px;background-color:#fff;opacity:1;}
.v2 .trending-holidays-carousel .owl-theme .owl-controls .owl-page.active span, .v2 .owl-theme .owl-controls.clickable .owl-page:hover span{background-color:#d8d8d8;}
.v2 #dvAIOffers-container{margin:0 auto;}


/* Low Deposit Top Trust Poilot section Only */
.v2 .low-depst-trust-rating ul li {width:14px;height:14px;float:left;list-style:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-right:2px;background:#d8d8d8;}
.v2 .low-depst-trust-rating ul li.active{background:#73b143;}
.v2 .low-depst-trust-rating ul li span {background:url(https://resources.teletextholidays.co.uk/drupal/images/sprite/main-sprite-compressed-main-v7.svgz) no-repeat;width:12px;height:12px;background-position:-83px -6px;background-size:235px;display:inline-block;}
.v2 .low-depst-rating-stars{padding:0;margin:0;}
.v2 .low-depst-rating-stars, .v2 .low-depst-trust-rating .totalTrustPilotRate{display:inline-block;vertical-align:top;}
.v2 .low-depst-trust-rating .totalTrustPilotRate{font-family:proximanova-bold;font-size:15px;color:#58595b;line-height:16px;padding-left:6px;}
.v2 .low-depst-trust-logo{width:124px;height:auto;}
.v2 .low-depst-trust-logo img{max-width:100%;height:auto;vertical-align:top;}
.v2 .call-now-inner .strip-column-label{font:13px 'proximanova-semibold'; }
.v2 .carousel-low-deposit .strip-icon-down-arrow{background-position:-218px -325px;width:26px;height:26px;margin-right:7px;position:relative;vertical-align:middle;}
.v2 .carousel-low-deposit .strip-icon-happy{margin-right:7px;background-position:-250px -325px;width:28px;height:28px;vertical-align:middle;top:0;}
.v2 .carousel-low-deposit .strip-column-label{vertical-align:middle;}
.v2 .carousel-low-deposit i{margin-right:7px;background-position:-285px -325px;width:24px;height:24px;vertical-align:middle;}
.v2 .carousel-low-deposit .payMonthly2, .v2 .deposit-options{margin-right:40px;}
.v2 .carousel-low-deposit{padding:15px 0 40px 0}
.v2 .call-to-book{vertical-align:top;top:-3px;font-size:32px;padding-right:60px;letter-spacing:-0.7px;}
.v2 .strip-row-2, .v2 .space5{display:inline-block;}

/* Search Forms */
.v2 .mobile-search-container{float:none;margin:0 auto;}
.v2 .mobile-search-fields, .v2 .bgnd-video-frame .elastic-wrapper, .v2 .mobile-search-container, .v2 .banner-slogan{max-width:854px;}
.v2 .bgnd-video-frame .elastic-wrapper{padding:120px 0 0 0;margin:0 auto;}
.v2 .holidays-title h1{top:12px;position:relative;}
.v2 .mobile-search-fields:after{display:none}
.v2 .input-departing-box{clear:inherit;width:138px;}
.v2 .input-destingtion-box:before{display:none;}
.v2 .input-destingtion-box, .v2 .input-depart-box{width:160px;}
.v2 .input-destingtion-box{border-bottom-left-radius:3px;}
.v2 .input-stayfor-box{width:71px;}
.v2 .input-guests-box{width:189px;}
.v2 .mobile-input-button{width:136px;min-height:72px;margin-top:0;}
.v2 .mobile-stay-for .mobile-input-label{display:block;}
.v2 .mobile-search-container input[type="text"], .mobile-nghts-value, .mobile-input-button{text-transform:none;}
.v2 .mobile-adult-cnt, .v2 .mobile-children-cnt, .v2 .mobile-nghts-value, .v2  .mobile-input, .v2 .mobile-input-button{font-family:'proximanova-light'!important;font-size:16px;}
.v2 .mega-dropdown-items2{min-width:854px;max-width:854px;}
.v2 .input-destingtion-box .mobile-nghts-value, .v2 .mobile-input-label{text-transform:lowercase;white-space:nowrap;max-width:80%;text-overflow:ellipsis;overflow:hidden;}
.v2 .mobile-nghts-value span{display:inline;position:relative;}
.v2 .input-depart-box .mobile-nghts-value, .v2 .input-destingtion-box .mobile-nghts-value, .v2 .input-departing-box .mobile-nghts-value, .v2 .input-stayfor-box .mobile-nghts-value, .v2 .mobile-input, .v2 .mobile-nghts-value span{top:-2px;}
.v2 .mobile-input, .v2 .mobile-nghts-value{min-height:inherit;}
.v2 .input-destingtion-box .mobile-nghts-value:first-letter, .v2 .mobile-input-label:first-letter{text-transform:uppercase;}
.v2 .mobile-stay-for{padding:9px 10px;top:0;left:0}
.v2 .search-ttip{width:101px;left:-119px;bottom:22px;}
.v2 .search-ttip:before{width:10px;height:10px;top:20px;left:96px;}
.v2 .input-depart-box:before{content:'';position:absolute;top:12px;right:4px;bottom:8px;background:#dadada;z-index:3;width:1px;}
.v2 .input-destingtion-box:after, .v2 .stay-trigger:before{right:3px;}
.v2 .mobile-search-container:before{content:'';position:absolute;right:0;bottom:0;left:0;height:72px;box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);}
.v2 .input-destingtion-box:after, .v2 .stay-trigger:before{content:'';position:absolute;top:12px;right:0;bottom:8px;background:#dadada;z-index:3;width:1px;}
.v2 .mega-dropdown-wrapper{left:0;top:73px;}
.v2 .mega-dropdown-wrapper .mega-dropdown-list-left{width:60%;}
.v2 .mega-dropdown-wrapper .mega-dropdown-list-right{max-width:220px;min-width:220px;}
.v2 .margin-right1, .v2 .mobile-input-group, .v2 .input-stayfor-box{margin:0;}
.v2 .mobie-calendar-icon{display:none;}
.v2 .input-depart-box, .v2 .input-destingtion-box, .v2 .input-departing-box, .v2 .input-stayfor-box, .v2 .input-guests-box{height:72px;}
.v2 .mobile-input-group, .v2 .mobile-input-group-split-2{max-height:inherit;min-height:inherit;}
/*.v2 .banner-overlay-strip{background-color:rgba(0,0,0,0.8);bottom:58px;}*/
.v2 .mobie-close-icon1, .v2 .mobie-close-icon2{border-right:solid #58595b 1px;height:9px;top:3px;left:7px;}
.v2 .mobile-option-reset{width:17px;height:17px;top:10px;right:16px;border:none;}
.v2 .calendar-trigger:before{content:'';position:absolute;top:12px;right:0;bottom:8px;background:#dadada;z-index:3;width:1px;}
.v2 .mobie-down-arrow{bottom:34px;right:18px;width:8px;height:8px;border-bottom:solid #58595b 1px;border-right:solid #58595b 1px;}
.v2 .lblhotelname{display:none;}
.v2 .deal-rating .fa-star{color:#f07541;}
.v2 .rec-offer-label{font-size:14px;font-weight:bold;display:table-cell;vertical-align:middle;padding:0 25px;cursor:pointer;}
.v2 .rec-offer-row{line-height:18px;height:65px;table-layout:fixed;display:table;width:100%;}
.v2 .all-inclusive-offerscarousel .owl-item{background:#f3f3f3;}
.v2 .view-deal{max-width:84px;margin:3px auto auto auto;}
.v2 .mobile-search-container input[type="text"], .v2 .mobile-nghts-value{padding:0;}
.v2 .flexible-date{bottom:0;left:11px;}
.v2 .flexible-date span{font-size:12px;overflow:hidden;display:inline-block;white-space:nowrap;font-family:'proximanova-regular'!important;}
.v2 .tth-checkbox{width:15px;height:15px;margin-right:7px;}
.v2 .tth-tick-mark{width:5px;height:8px;border-right:solid #fff 1px;border-bottom:solid #fff 1px;left:3px;}


@media (max-width:1200px){
  .v2 .banner-slogan, .v2 .mobile-search-fields{max-width:854px;width:100%;}
  .v2 .strip-social, .v2 .space4{display:none;}
}

@media (max-width:991px){
	/* Low Deposit Top Trust Poilot section Only */
  .v2 #happyCustomers, .v2 .space1{display:none;}
  .v2 .strip-row-2, .v2 .space5{display:none;}
  .v2 .low-depst-trust-rating{display:inline-block;}
  .slogan-small {font-size:17px;}

  /* Search Form */
  .v2 .input-depart-box{width:110px;}
  .v2 .input-stayfor-box{width:71px;}
  .v2 .input-guests-box{width:156px;}
  .v2 .input-departing-box{width:109px;}
  .v2 .input-destingtion-box{border-radius:0;width:140px;}
  .v2 .mobile-search-fields, .v2 .bgnd-video-frame .elastic-wrapper, .v2 .mobile-search-container, .v2 .banner-slogan{max-width:695px;}
  .v2 .mobile-input-button{width:109px;}
  .v2 .mobile-input-group, .v2 .mobile-date-picker{padding:9px 10px;}
  .v2 .tth-checkbox{width:14px;margin-right:7px;}
  .v2 .mobile-option-reset{top:12px;right:6px;}
  .v2 .mega-dropdown-items2{min-width:684px;}

  /* Banner */
  .v2 .banner-slogan{text-align:left;padding-top:130px;}
  .v2 .banner-slogan{max-width:695px;}
  .v2 .mobile-search-container{padding-top:50px;}
  .v2 #searchBanner, .v2 #commonHeaderD, .v2 .all-inclusive-header, .v2 .last-minute-header, .v2 .cities-page-header{height:428px;}

  /* Call Us Now */
  .v2 .call-to-book{display:block;padding-right:0;font-size:24px;padding-bottom:10px;}
  .v2 .carousel-low-deposit .v2 .payMonthly2, .v2 .deposit-options{margin-right:20px;}

  .winter-sun-header .banner-slogan{padding-top:243px;}
  .low-deposit-header .banner-slogan{padding-top:145px;}
  .winter-sun-header .mobile-search-container{padding-top:30px;}
  .couples-header .mobile-search-container, .beach-header .mobile-search-container{padding-top:112px;}
  .short-haul-header .mobile-search-container, .family-header .mobile-search-container, .long-haul-header .mobile-search-container{padding-top:113px;}
  .jan-holidays-header .mobile-search-container{padding-top:107px;}
  .jan-holidays-header .slogan-small {font-size:22px;}
  /* .jan-holidays-header .slogan-small,  */
  /* .feb-holidays-header .slogan-small, */
  /* .mar-holidays-header .slogan-small,  */
  /* .apr-holidays-header .slogan-small,  */
  /* .may-holidays-header .slogan-small,  */
  /* .jun-holidays-header .slogan-small,  */
  /* .jul-holidays-header .slogan-small,  */
  /* .aug-holidays-header .slogan-small,  */
  /* .sep-holidays-header .slogan-small,  */
  /* .oct-holidays-header .slogan-small,  */
  /* .nov-holidays-header .slogan-small,  */
  /* .dec-holidays-header .slogan-small { */
	  /* font-size:22px; */
  /* } */




.feb-holidays-header .mobile-search-container,
.mar-holidays-header .mobile-search-container,
.apr-holidays-header .mobile-search-container,
.may-holidays-header .mobile-search-container,
.jun-holidays-header .mobile-search-container,
.jul-holidays-header .mobile-search-container,
.aug-holidays-header .mobile-search-container,
.sep-holidays-header .mobile-search-container,
.oct-holidays-header .mobile-search-container,
.nov-holidays-header .mobile-search-container,
.dec-holidays-header .mobile-search-container {
	padding-top:114px;
}


}

@media (max-width:767px){
  .v2 #searchBanner, .v2 #commonHeaderD, .v2 .all-inclusive-header, .v2 .last-minute-header, .v2 .cities-page-header{height:inherit;}
	.v2 .slogan-small, .v2 .input-destingtion-box:after, .v2 .stay-trigger:before, .v2 .input-depart-box:before, .v2 .calendar-trigger:before{display:none;}
	.v2 .input-destingtion-box, .v2 .input-depart-box{width:100%;}
	.v2 .banner-slogan, .v2 .mobile-search-fields{width:90%;max-width:90%;}
	.v2 .input-destingtion-box{border-bottom-left-radius:0;}
	.v2 .mobile-input-group, .v2 .input-guests-box{margin:0 0px 8px 0px;}
	.v2 .input-depart-box, .v2 .input-destingtion-box, .v2 .input-departing-box, .v2 .input-stayfor-box, .v2 .input-guests-box{height:45px;}
	.v2 .mobile-input-label{font-size:14px;}
	.v2 .mobile-input-group, .v2 .mobile-date-picker, .v2 .mobile-stay-for{padding:3px 10px 0 10px;}
	.v2 .mobile-input-button{width:100%;padding:8px 0 6px 0px;font-size:23px;margin:0 0 10px 0;min-height:inherit;font-family:'proximanova-light';box-shadow:0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12);}
	.v2 .margin-right1{margin:0px 3% 0px 0px;}
	.v2 .input-departing-box{width:48.5%;}
	.v2 .input-stayfor-box{width:48.5%;}
	.v2 .input-guests-box{margin:0 0px 8px 0px;}
	.v2 .input-guests-box{margin-top:8px;}
	.v2 .input-guests-box{width:100%;}
	.v2 .mobile-search-container:before{display:none;}
	.v2 .mobile-search-container input[type="text"], .v2 .mobile-nghts-value{padding:0;}
	.v2 .mobie-down-arrow{bottom:12px;right:14px;}
	#searchBanner, #commonHeaderD, .all-inclusive-header, .last-minute-header, .cities-page-header{height:inherit;padding-bottom:10px;}
	.v2 .slogan-big{font-size:21px;padding-bottom:14px;}
	.v2 .mobie-calendar-icon{display:block;}
	.v2 .mobie-calendar-icon:before{display:block;top:4px;position:relative;color:#9ac854;font-family:'teletext-holidays';content:"\e90d"}
	.v2 .mobie-calendar-icon i{display:none;}
	.v2 .all-inclusive-header{background:url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive-mobile.jpg);background-position:bottom center;}
  .v2 .flexible-date{display:none;}
  .v2 .input-depart-box .mobile-nghts-value{text-transform:lowercase;}
  .v2 .input-depart-box .mobile-nghts-value:first-letter{text-transform:uppercase;}
  .v2 .mobile-nghts-value{top:-2px;}
  .v2 .mobile-dstn-label{margin-left:20px;left:0;top:0;}
  .v2 .mobile-dstn-list-name{table-layout:fixed;display:table;width:100%;}
  .v2 .mobile-dstn-icon {width:12px;vertical-align:middle;display:table-cell;background:none;}
  .v2 .mobile-depart-list-wrapper .mobile-dstn-icon:before{background-position:-105px -2px;width:17px;}
  .v2 .mobile-strip a{margin-top:-1px;}


	 /* Hidden for mobiles */
	.v2 .call-us-to-book-row, .v2 .deals-main-row,  .v2 .all-inclusive-top-deals-carousel, .v2 .all-deals-carousel-header, .v2 .all-inclusive-container .tth-section-label{display:none!important}


	/* Mobile Trending Holidays Carousel */
	.v2 .trending-holidays-carousel .mobile-middle-wrapper{margin:0}
	.v2 .trending-holidays-carousel .holidays-item-image{background-color:rgba(0, 0, 0, 0.2);height:196px;overflow:hidden;}
	.v2 .trending-holidays-carousel .holidays-item-image img{width:100%;height:100%;object-fit:cover}
	.v2 .trending-holidays-carousel .holidays-item{max-width:100%;margin:20px 0;width:100%}
	.v2 .trending-holidays-carousel .multi-hotels{background:#fff;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);}
	.v2 .trending-holidays-carousel .hotel-price{top:10px;right:10px;}
	.v2 .trending-holidays-carousel .multi-hotel-row{padding:9px 12px;}
	.v2 .trending-holidays-carousel .location-label{font-weight:bold;font-size:16px;}
	.v2 .trending-holidays-carousel .hotel-board-basis{color:#9e9ea0;font-size:13px;}
	.v2 .trending-holidays-carousel .all-Inclusive-holidays .tth-price{font-size:15px;font-weight:bold;}
	.v2 .trending-holidays-carousel .all-Inclusive-holidays .tth-pp{left:-3px;}
	.v2 .trending-holidays-carousel .all-Inclusive-holidays .tth-asterisk{top:1px;right:0px;font-size:12px;}
	.v2 .trending-holidays-carousel .hotel-rating-star{width:12px;height:12px;background-position:0 0;float:left;}
	.v2 .trending-holidays-carousel .hotel-rating:after{content:'';display:block;clear:both;}
	.v2 .trending-holidays-carousel .all-Inclusive-holidays .handler-right{right:0}
	.v2 .trending-holidays-carousel .all-Inclusive-holidays .handler-left{left:0}
	.v2 .trending-holidays-carousel .all-Inclusive-holidays .carousel-handler{top:82px;}
	.v2 .trending-holidays-carousel .deals-header, .trending-holidays-carousel .deals-sub-header{font-weight:bold;}
	.v2 .trending-holidays-carousel .deals-header{font-size:25px;}
	.v2 .trending-holidays-carousel .deals-sub-header{font-size:18px;padding:8px 0 5px 0}
	.v2 .trending-holidays-carousel .carousel-header{padding:19px 0 0 0;}
	.v2 .trending-holidays-carousel .deals-price-note{color:#8e8e8e;font-size:15px;line-height:20px}
	.v2 .trending-holidays-carousel .image-overlay{background-color:rgba(0,0,0,.2);}
	.v2 .view-deal{display:block;padding:5px 10px;}
	.v2 .trending-holidays-carousel .tth-pp{left:0;}
	.v2 .trending-holidays-carousel .tth-asterisk{right:-3px;}
	.v2 .trending-holidays-carousel .float-left i{letter-spacing:1px;font-size:15px;}
	.v2 .trending-holidays-carousel .txt-nights-option{top:2px;left:6px;position:relative;color:#9e9ea0;}
	.v2 .trending-holidays-carousel .deals-tag{z-index:2;top:0;right:0;left:0;}
	.v2 .trending-holidays-carousel .deals-tag span{padding:6px 20px 4px 20px;margin-top:16px;}
  .v2 .trending-holidays-carousel{width:100%;padding:0 20px;}

	/* Call Us section below carousel */
	.v2 .offer-section1, .v2 .offer-section2{margin-top:0;font-size:24px;}
	.v2 .offer-section1{padding-right:7%;margin-right:4%;position:relative;}
	.v2 .offer-section1:before{background-color:#6e3d7c;content:'';width:2px;top:9px;bottom:0;right:0;position:absolute;}
	.v2 .icon-txt2, .v2 .icon-txt1{padding-left:50px;line-height:26px;}
	.v2 .icon-txt1{margin-bottom:5px;}
	.v2 .offer-options .tth{left:0;top:7px;font-size:26px;}
	.v2 .offer-section1 a{font-size:32px;color:#6e3d7c;}
	.v2 .offer-section1 .atol-label{font-size:17px;font-weight:bold;}
	.v2 .call-txt{font-size:30px;}
	.v2 .offer-section1 .atol-icon{width:20px;height:21px;background-position:-220px -273px;margin-right:6px;top:6px;}
	.v2 .icon-txt3{margin-top:-10px;}

	.v2 .owl-carousel .owl-item{float:none;}

	/* Content */
	.v2 div.content-row p{font-size:14px;text-align:left;line-height:18px;font-family:'proximanova-light'!important;}
	.v2 .paraTitle{font-size:15px;margin-bottom:7px;font-family:proximanova-regular!important;}

	/* component.footer.callus.css */
	.v2 .bookthis-container{display:block;padding:40px 0;overflow:hidden;text-align:center;font-family:'proximanova-light';background:#f2f2f2;}
	.v2 .bookthis--cal-us span, .v2 .bookthis--row-content span{display:block;}
	.v2 .bookthis--cal-us{font-size:32px;width:90%;margin:auto;line-height:1.2;}
	.v2 .bookthis--cal-us span{font-size:64px;margin:auto;}
	.v2 .bookthis--row{margin:35px 0;}
	.v2 .bookthis--row-icon, .v2 .bookthis--row-content{display:inline-block;vertical-align:top;}
	.v2 .bookthis--row-icon{width:70px;text-align:center;background-size:420px;height:80px;}
	.v2 .bookthis--phone{background-position:0px -302px;}
	.v2 .bookthis-get {background-position:-203px -310px}
	.v2 .bookthis-personal{background-position:-71px -309px}
	.v2 .bookthis-relax{background-position:-137px -306px}
	.v2 .bookthis--row-content{width:58%;text-align:left;padding:0 0 0 20px;line-height:1.2;}
	.v2 .bookthis--row-content span.bookthis--row-hdng{font-size:32px;}
	.v2 .bookthis--row-content span{font-size:26px;}

	.v2 .banner-slogan{padding-top:68px;text-align:center;}
	.v2 .mobile-search-container{padding-top:0;}
	.winter-sun-header .banner-slogan{padding-top:66px;}
	.couples-header .banner-slogan{padding-top:242px;}
	.couples-header .banner-slogan, .beach-header .banner-slogan, .short-haul-header .banner-slogan, .long-haul-header .banner-slogan{padding-top:74px;}
	.family-header .banner-slogan{padding-top:67px;}
	.low-deposit-header .banner-slogan{padding-top:68px;}

	/* All Inclusive Holidays */
	.v2 .mobile-ai-wrapper{padding:30px 20px 0 20px;width:100%;}
	.v2 .mobile-ai-wrapper .ai-offer{box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.2);margin-bottom:20px;}
	.v2 .mobile-ai-wrapper .offer-image{height:242px;}
	.v2 .mobile-ai-wrapper .offer-image img{width:100%;height:100%;object-fit:cover;}
	.v2 .mobile-ai-wrapper .offer-section-header{padding:15px 0;}
	.v2 .mobile-ai-wrapper .offer-section-header span{font-size:18px;line-height:21px;font-family:'proximanova-semibold';}
	.v2 .mobile-ai-wrapper .txt-from, .v2 .divbanners .from-wrapper .tth-price{font-size:18px;}
	.v2 .divbanners .from-wrapper .tth-price{font-weight:bold;}
	.v2 .mobile-ai-wrapper .offer-content-wrapper{padding:14px 0;}
	.v2 .mobile-ai-wrapper .offer-content{padding-top:6px;}
	.v2 .mobile-ai-wrapper i{font-size:22px;letter-spacing:1px;}
	.v2 .mobile-ai-wrapper .location-label{font-size:18px;font-weight:bold;}
	.v2 .mobile-ai-wrapper .board-basis{font-size:18px;margin-top:-3px;padding-bottom:3px;}
	.v2 .mobile-ai-wrapper .includes{font-size:16px;}
	.v2 .mobile-ai-wrapper a{padding:8px 19px;font-size:15px;}
	.v2 .mobile-ai-wrapper .button-wrapper{margin:10px 0 15px 0;}
	.v2 .mobile-ai-wrapper .divbanners .from-wrapper .tth-asterisk{right:17px;top:9px;}
	.v2 .mobile-ai-wrapper .from-wrapper{padding:7px 21px 6px 19px;background-color:rgba(0,0,0,0.6);}
	.v2 .mobile-ai-wrapper .icon-flight-go{position:relative;top:-2px;font-size:16px;padding-right:4px;}
	.v2 .mobile-ai-wrapper .mobile-ai-header{padding-bottom:20px;}
	.v2 .mobile-ai-wrapper .mobile-ai-header h1{font-size:24px;font-weight:bold;padding-bottom:10px;}
	.v2 .mobile-ai-wrapper .mobile-ai-header span{font-size:13px;font-weight:bold;}
  .v2 .mobile-ai-wrapper .divbanners .txt-from{padding-right:7px;}
  .v2 .mobile-ai-wrapper .from-wrapper .tth-pp{left:2px;}
  .v2 .tripadv{background-image:url('https://resources.teletextholidays.co.uk/drupal/images/sprite/v1/trip_sprite_2x.png');background-size:149px;height:25px;width:152px;}
  .v2 .trp_0-0{background-position:0 -260px;}
  .v2 .trp_0-5{background-position:0 -234px;}
  .v2 .trp_1-0{background-position:0 -208px;}
  .v2 .trp_1-5{background-position:0 -182px;}
  .v2 .trp_2-0{background-position:0 -156px;}
  .v2 .trp_2-5{background-position:0 -130px;}
  .v2 .trp_3-0{background-position:0 -104px;}
  .v2 .trp_3-5{background-position:0 -78px;}
  .v2 .trp_4-0{background-position:0 -52px;}
  .v2 .trp_4-5{background-position:0 -26px;}
  .v2 .trp_5-0{background-position:0 0;}

  /* Content */
  .v2 .content-row{padding:16px 20px 65px;}
  .winter-sun-header .mobile-search-container, .couples-header .mobile-search-container, .family-header .mobile-search-container, .beach-header .mobile-search-container, .short-haul-header .mobile-search-container, .long-haul-header .mobile-search-container, .jan-holidays-header .mobile-search-container, .feb-holidays-header .mobile-search-container{padding-top:0;}
  .jan-holidays-header .banner-slogan, .feb-holidays-header .banner-slogan{padding-top:68px;}

  /* .jan-holidays-header .slogan-small,  */
  /* .feb-holidays-header .slogan-small, */
  /* .mar-holidays-header .slogan-small,  */
  /* .apr-holidays-header .slogan-small,  */
  /* .may-holidays-header .slogan-small,  */
  /* .jun-holidays-header .slogan-small,  */
  /* .jul-holidays-header .slogan-small,  */
  /* .aug-holidays-header .slogan-small,  */
  /* .sep-holidays-header .slogan-small,  */
  /* .oct-holidays-header .slogan-small,  */
  /* .nov-holidays-header .slogan-small,  */
  /* .dec-holidays-header .slogan-small { */
	  /* font-size:17px; */
  /* } */


.feb-holidays-header .mobile-search-container,
.mar-holidays-header .mobile-search-container,
.apr-holidays-header .mobile-search-container,
.may-holidays-header .mobile-search-container,
.jun-holidays-header .mobile-search-container,
.jul-holidays-header .mobile-search-container,
.aug-holidays-header .mobile-search-container,
.sep-holidays-header .mobile-search-container,
.oct-holidays-header .mobile-search-container,
.nov-holidays-header .mobile-search-container,
.dec-holidays-header .mobile-search-container {
	padding-top:0;
}
.jan-holidays-header .banner-slogan,
.feb-holidays-header .banner-slogan,
.mar-holidays-header .banner-slogan,
.apr-holidays-header .banner-slogan,
.may-holidays-header .banner-slogan,
.jun-holidays-header .banner-slogan,
.jul-holidays-header .banner-slogan,
.aug-holidays-header .banner-slogan,
.sep-holidays-header .banner-slogan,
.oct-holidays-header .banner-slogan,
.nov-holidays-header .banner-slogan,
.dec-holidays-header .banner-slogan

{
	padding-top:68px;
}


}
@media (max-width:639px){
	.v2 .bookthis--row{margin:15px 0;}
	.v2 .bookthis--cal-us{font-size:16px;width:auto;}
	.v2 .bookthis--cal-us span{font-size:32px;}
	.v2 .bookthis--row-content span.bookthis--row-hdng{font-size:16px;font-weight:bold;}
	.v2 .bookthis--row-content span{font-size:13px;}
	.v2 .bookthis--row-content{width:200px;}
	.v2 .bookthis--row-icon{width:37px;height:37px;background-size:inherit;}
	.v2 .bookthis--phone{background-position:-5px -175px;}
	.v2 .bookthis-get{background-position:-115px -175px;}
	.v2 .bookthis-personal{background-position:-39px -175px;}
	.v2 .bookthis-relax{background-position:-78px -175px;}
}


@media (max-width:500px){
/* Call Us section below carousel */
  .v2 .offer-section1, .v2 .offer-section2{font-size:11px;}
  .v2 .offer-section1{padding-right:10%;margin-right:10%;}
  .v2 .icon-txt2, .v2 .icon-txt1{padding-left:28px;line-height:14px;}
  .v2 .offer-options .tth{font-size:20px;}
  .v2 .offer-section1 a{font-size:20px;position:relative;top:-4px;}
  .v2 .offer-section1 .atol-label{font-size:11px;}
  .v2 .call-txt{font-size:18px;}
}

@media (max-width:400px){
  /* trending-holidays-carousel */
  .v2 .trending-holidays-carousel .deals-sub-header{font-size:13px;padding:6px 0 2px 0;}
  .v2 .trending-holidays-carousel .deals-price-note{line-height:16px;font-size:12px;}
  .v2 .trending-holidays-carousel .deals-header{font-size:24px;}

}

@media (max-width:374px){
  /* Call Us section below carousel */
  .v2 .offer-section1{padding-right:10px;margin-right:10px;}

}
@media (max-width:320px){
  .all-inclusive-top-deals-carousel .owl-wrapper, .all-inclusive-top-deals-carousel .owl-wrapper-outer{height:190px;}

}
