*{margin:0;padding:0}
/* Content Wrapper CSS*/
.content-wrapper{max-width:1140px;width:100%;padding:0;margin:0 auto 20px;}
.content-wrapper h2{font-size:28px;font-weight:normal;margin-top:20px;letter-spacing:-0.4px;}
.content-wrapper p{font-size:16px;line-height:23px;text-align:left;}

.slider-calendar .owl-controls .owl-buttons div:after{display:none;}
.slider-calendar-outer .slider-calendar{overflow:hidden;}
.ms-mask{z-index:5;}
.flexible-date{z-index:6;}
.content-middle{max-width:1140px;margin:0 auto;width:100%;}
.top-strip .low-depst-trust-rating{margin-left:15px;}
.mega-dropdown-list-right .mega-dropdown-section-header,.mobile-widget-footer, #inpPrice,.lblhotelname,.paraTitle,.tt-dropdown-menu .most-popular-list{font-weight:700}
.banner-slogan,.terms-conditions,.lblreviewnum,.lblhotelname,.on-image-text-div,.all-inclusive-img-slide img,.all-inclusive-img-slide,.search-by-time-price-box,.mega-dropdown-items1,.mega-dropdown-wrapper,.mega-menu-wrapper,.datepicker table tr td.today.disabled:before,.datepicker-inline,.mobile-search-fields,.mobile-dstn-header input,.mobile-calendar-wrapper,.mobile-guests-wrapper,.mobile-stayfor-wrapper, .topsellerblockitem, .input-depart-box .twitter-typeahead,.input-destingtion-box .twitter-typeahead, .mobile-destinations, .mobile-search-container input[type="text"],.mobile-nghts-value{width:100%;}
.slogan-big,.slogan-small,.price-box-active,.search-price-box:hover,.on-img-details h3,.on-img-details,.on-image-text-div,.datepicker table tr td.enabledDates,.datepicker table tr td.active,.datepicker table tr td.active.enabledDates,.mobile-search-validation,.table-condensed .next,.table-condensed .prev,.enabledDates,.mobile-dstn-header input,.mobile-widget-footer,.mobile-input-button{color:#fff;}
::-webkit-input-placeholder, input:-ms-input-placeholder{color:#a9a9a9;}
.mobile-calendar-btn-clear,.mobile-input-group,.mobile-input-group-split-2,.mobile-legends-item,.tth-col-md-4,.search-price-box,.spanPrice,.spanTime,.itematol,.itemhappy,.call-us-txt,.datepicker table tr td span,.mobile-flexible-label,.mobile-tick-box,.all-inclusive-img-slide{float:left}
.timepopup-close,.mega-dropdown-list-right{float:right}
.mobile-input-label{color:#9ac854;overflow:hidden;max-width:92%;white-space:nowrap;text-overflow:ellipsis;}
.spl-txt{font-weight:bold;font-size:16px;}
.mobile-calendar-btn-clear,.mobile-input,.mobile-nghts-value,::-moz-placeholder,::-ms-input-placeholder,::-webkit-input-placeholder,.timepopup-close,.lblhotelname,.lblreviewnum,.content-row,.datepicker table tr td.enabledDates.disabled,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.tt-dataset-destinations,.tt-dataset-hotels,.tt-dropdown-menu .most-popular-list,.tt-suggestions div.tt-suggestion p,.mobile-search-noresult,.mobile-ngts-count{color:#58595b}
.mibile-instruction-text span,.mobile-input-button,.mobile-ngts-label,.mobile-persona-label,.mobile-widget-footer,.mobile-widget-header,.txt-center,.happy-customer-inner,.search-price-box-any,.search-price-box,.lblHoteldesc,.topseldetails,.lblhotelname,.lblreviewnum,.fantastic-hotels,.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.owl-next,.owl-prev, .mobile-btn-minus,.mobile-btn-plus, .mobile-widget-header,.mobile-widget-footer,.mobile-input-button,.mobile-ngts-label,.mobile-persona-label,.mibile-instruction-text span,.mobile-carousel-nav{text-align:center;}
.mobile-input-group,.mobile-input-group-split-2,.includeflights,.time-price,.mega-dropdown-wrapper,.mobile-dstn-header .congratulations-close-bar1:hover,.mobile-dstn-header .congratulations-close-bar2:hover,.mobile-dstn-header .congratulations-close-bar1,.mobile-dstn-header .congratulations-close-bar2,.mobile-destinations,.mobile-widget-calendar,.mobile-widget-guests,.mobile-widget-stayfor{background:#fff;}
.mobile-adult-cnt,.mobile-calendar-btn-clear,.mobile-children-cnt,.mobile-date-picker,.mobile-input,.mobile-input-button,.mobile-input-label,.mobile-nghts-value,.mobile-stay-for{font-family:proximanova-semibold!important}
.lblHoteldesc,.lblhotelname,.time-price,.dstn-search-history a,.mobile-ngts-container,.mobile-widget-guests,.mobile-widget-stayfor{overflow:hidden;}
.mobile-widget-table,.mobile-widget-calendar,.mobile-widget-overlay,.mobile-widget-stayfor,.mobile-widget-guests,.mibile-instruction-text, .banner-slogan,.terms-conditions,.happy-customer-inner,.all-inclusive-top-deals-carousel .page-builder-row-inner,.lblhotelname,.all-inclusive-hotels-list .owl-wrapper,.all-inclusive-hotels-list,.main-holidays-search,.time-price,.mega-dropdown-items1,.mega-dropdown-wrapper,.mibile-instruction-text,.mobile-search-fields,.mobile-widget-calendar,.mobile-widget-guests,.mobile-widget-overlay,.mobile-widget-stayfor{margin:0 auto;}
.datepicker table tr td.today.disabled,.dstn-search-history-icon,.mobile-btn-minus,.mobile-btn-plus,.mobile-search-container,.mobile-search-fields,.mobile-widget-calendar,.table-condensed .next:before,.table-condensed .prev:before, .all-inclusive-img-slide, #searchBanner,.input-depart-box .tt-dataset-airports,.tt-dropdown-menu .most-popular-list,.input-destingtion-box .tt-dataset-destinations,.low-deposit-header, .table-condensed .next:before,.table-condensed .prev:before,.datepicker table tr td.today.disabled,.mobile-search-fields,.noflightsavailable,.dstn-search-history-icon,.dstn-search-history-label,.mobile-btn-plus,.mobile-btn-minus,.mobile-widget-calendar{position:relative}.on-img-details,.on-image-text-div,.time-price,.bgnd-video,.bgnd-video-frame:before,.datepicker table tr td.today.disabled:before,.mobile-search-fields .owl-controls,.mobile-search-validation,.mobile-search-validation:before,.owl-next,.owl-prev{position:absolute;}
.search-by-time-price-box,.mobile-calendar-wrapper,.mobile-destinations,.mobile-guests-wrapper,.mobile-stayfor-wrapper,.mobile-widget-overlay,.mobile-widget-overlay-layer{position:fixed;}
.mega-dropdown-wrapper .mega-dropdown-list-right,.star-rating{display:table}
#back-to-top,.search-by-time-price-box,.back-to-top,.date-key,.for-mobile-devices,.hp-location-wrapper,.hp-locations-overlay,.input-depart-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value,.key,.mobile-calendar-wrapper,.mobile-depart-list-wrapper,.mobile-destinations,.mobile-dstn-list-wrapper,.mobile-guests-wrapper,.mobile-search-noresult,.mobile-search-validation,.mobile-stayfor-wrapper,.mobile-widget-overlay,.mobile-widget-overlay-layer,.search-price-tick, #newCallus .for-mobile-devices,.isVisible,.page-builder-element-title,.page-header-inner,.CloseSearch,.recent-searches, .mobile-date-summery, .mobile-widget-overlay,.mobile-widget-overlay-layer,.mobile-stayfor-wrapper,.mobile-guests-wrapper,.mobile-dstn-list-wrapper,.mobile-depart-list-wrapper,.mobile-calendar-wrapper,.mobile-search-validation,.mobile-carousel-nav,.date-key,.key,.input-depart-box .mobile-nghts-value,.search-history,.hp-location-wrapper,.hp-locations-overlay,#hp-warning-location,.mobile-date-summery,.mobile-search-noresult,.mobile-destinations,.for-mobile-devices,.back-to-top{display:none;}
.on-image-text-div,.datepicker table tr td.today.disabled:before,.mobile-depart-list-wrapper,.mobile-dstn-item,.mobile-dstn-list-wrapper{height:100%;}

.twitter-typeahead .tt-dropdown-menu .tt-suggestions > p,.tt-dataset-destinations p,.tt-empty-template,.tt-suggestion{margin:0 0 5px 0;}
.banner-slogan{max-width:1138px;padding-top:160px;}
.slogan-big{font-size:34px}
.tt-suggestion{min-width:300px}
.mobile-legend-label{font-size:12px}
.mobile-tick-box{width:17px;height:17px;border:2px solid #9bc95a;top:2px;background:#9bc95a;}
::-webkit-input-placeholder{color:#a9a9a9}
.our-latest{ background:#f2f2f2;display:none;}
section.all-inclusive-top-deals-carousel.our-latest{padding:0 0 25px;}
.mobile-flexible-label{top:1px;padding-left:10px;}
.mobile-tick-mark{width:6px;height:10px;border-right:solid #fff 2px;border-bottom:solid #fff 2px;transform:rotate(38deg);-moz-transform:rotate(38deg);-o-transform:rotate(38deg);-ms-transform:rotate(38deg);-webkit-transform:rotate(38deg);top:0;left:4px}
button:focus,input:focus{box-shadow:none;outline:0}
.datepicker table tr td span,.datepicker-switch,.day,.input-guests-box,.mobile-btn-minus,.mobile-btn-plus,.mobile-calendar-btn-clear,.mobile-flexible,.mobile-input-group .twitter-typeahead,.mobile-input-group-split-2,.mobile-option-reset,.mobile-widget-footer,.next,.prev, .mobile-option-reset,.day,.mobile-calendar-btn-done,.mobile-calendar-btn-clear,.mobile-calendar-btn-cancel,.mobile-flexible,.mobile-input-group-split-2,.input-guests-box,.search-history,.mobile-widget-footer,.mobile-btn-plus,.mobile-btn-minus,.next,.prev,.datepicker table tr td span,.mobile-input-group .twitter-typeahead,.datepicker-switch{cursor:pointer}
.mobile-input-button:focus{border:none;outline:0}
.mobile-input-button:hover{background:#eb6a34}
.mobile-widget-overlay{z-index:130;right:0;left:0;top:125px;opacity:0}
.mobile-widget-calendar{width:303px}
.mobile-widget-guests,.mobile-widget-stayfor{width:250px;}
.mobile-calendar-wrapper,.mobile-guests-wrapper,.mobile-stayfor-wrapper{height:0;z-index:116;left:0;right:0;}
.mobile-calendar-wrapper,.mobile-guests-wrapper{top:70px}
.mobile-widget-overlay-layer{background:rgba(0,0,0,.5);z-index:115;top:0;right:0;bottom:0;left:0}
.datepicker table tr td span,.datepicker table tr td.today.disabled:before,.dblock,.mibile-instruction-text span,.mobile-btn-minus-symbol1,.mobile-dstn-header2,.mobile-flexible,.mobile-input,.mobile-nghts-value,.mobile-ngts-label,.mobile-option-reset,.mobile-search-validation:before,.mobile-widget-footer,.mobile-widget-header,.table-condensed .next:before,.table-condensed .prev:before,.show,.search-price-under,.search-price-box,.on-img-details span,.on-img-details,.tt-dropdown-menu .most-popular-list, .mobile-input,.mobile-input-label,.mobile-option-reset,.mobile-widget-header,.mobile-widget-footer,.mobile-btn-minus-symbol1,.mobile-btn-minus-symbol2,.mobile-ngts-label,.mobile-nghts-value,.mibile-instruction-text span,.mobile-dstn-header2,.item-show,.table-condensed .next:before,.table-condensed .prev:before,.datepicker table tr td.today.disabled:before,.table-condensed .next:before,.table-condensed .prev:before,.mobile-search-validation:before,.datepicker table tr td span,.mobile-destinations-show,.mobile-flexible{display:block}
.mobile-widget-calendar,.mobile-widget-guests,.mobile-widget-stayfor{box-shadow:0 4px 12px 0 rgba(0,0,0,.5);-ms-box-shadow:0 4px 12px 0 rgba(0,0,0,.5);-webkit-box-shadow:0 4px 12px 0 rgba(0,0,0,.5)}
.mobile-widget-header{background:#f0f1f1}
.mobile-dstn-label,.mobile-dstn-header input,.mobile-widget-header{font-size:16px}
.mobile-widget-footer,.mobile-widget-header{padding:12px 0}
.mobile-calendar-header{padding:10px 15px 14px}
.mobile-widget-footer{width:90%;margin:0 auto 10px;font-size:16px}
.mobile-widget-footer:hover{background:#89B543}
.tth-col-md-4{width:33.33333333333333%}
.mobile-ngts-container{padding:20px 0 0;}
.border-top{border-top:solid #d8d8d8 1px}
.mobile-btn-minus,.mobile-btn-plus{font-size:33px;width:50px;height:50px;margin-top:0;top:1px}
.mobile-ngts-count{font-size:35px;border:none;width:100%;}
.mobile-ngts-label{padding:6px 0 20px}
.mibile-instruction-text,.mobile-ngts-label,.mobile-persona-label{color:#afb0b1}
.mobile-persona-label{padding-bottom:20px;font-size:12px}
.mobile-widget-guests .mobile-ngts-label{padding:6px 0 0}
.mibile-instruction-text{font-size:12px;padding-bottom:12px;max-width:80%;line-height:15px}
.mobile-destinations{z-index:115;right:0;top:0;bottom:0;}
.mobile-dstn-header{background:rgba(110,61,124,1);min-height:50px}
.mobile-dstn-header input{border:none;height:40px;right:0;left:0;padding:0 0 15px;background-color:transparent;}
.mobile-dstn-header .congratulations-close-bar1,.mobile-dstn-header .congratulations-close-bar2{width:18px}
.mobile-widget-calendar .congratulations-close-icon{top:9px;right:14px;width:32px;height:32px}
.mobile-header-search{right:70px;left:25px;bottom:10px;top:10px;border-bottom:solid #fff 1px}
.mobile-dstn-list-wrapper{overflow-x:auto}
.mobile-destinations{transition:all .5s cubic-bezier(.07,.74,.43,1.01)}
.mobile-flexible,.mobile-input-button,.mobile-widget-footer, .mobile-flexible,.mobile-widget-footer{transition:all .2s ease-in-out}
@keyframes fadein{0%{opacity:0} 100%{opacity:1}}
.mobile-dstn-header2{background:#f2f2f2;color:#a3a3a4;font-size:12px;padding:9px 0 6px 25px}
.mobile-dstn-list-name,.mobile-search-noresult{padding:10px 0 5px 25px;}
.mobile-search-noresult{font-size:18px;}
.dstn-search-history{padding:10px 0 10px 25px}
.dstn-search-history a{margin:10px 0;}
.dstn-search-history-icon{width:16px;height:16px;background-position:-4px -62px;top:2px}
.mobile-dstn-label{top:-2px;left:20px}
.mobile-dstn-list-name{border-bottom:solid #f1f1f2 1px}
.mobile-dstn-item{overflow-x:auto;padding-bottom:10px}
.mobile-flexible-container{background:#f2f2f2;}
.mobile-flexible{padding:14px 0 14px 19px;max-width:230px}
.mobile-calendar-legends{border-top:solid #dedede 1px;padding:11px 0 3px 3px;margin:3px 2px 0 3px}
.mobile-padding1{padding-left:10px;padding-right:10px}
.mobile-legend-fill1,.mobile-legend-fill2,.mobile-legend-ouline{width:14px;height:14px;border-style:solid;border-width:2px;top:3px;margin-right:5px}
.mobile-legend-ouline{border-color:#9ac854}
.mobile-legend-fill1{border-color:#42b8cd;background-color:#42b8cd;}
.mobile-legend-fill2{border-color:#9ac854;background-color:#9ac854;}
.mobile-calendar{padding-bottom:12px}
.mobie-calendar-icon{width:14px;height:17px;background-position:-151px -2px;bottom:13px;right:13px}
.mobie-calendar-icon i{color:#9ac854;}
.mobile-search-fields .clear{clear:inherit;}
.owl-next,.owl-prev{width:30px;height:50px;background-color:rgba(0,0,0,.9)!important;opacity:.7;cursor:pointer;top:50%;z-index:9;border-radius:0!important}
.datepicker table tr td span{width:23%;height:54px;line-height:54px;margin:1%;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.enabledDates{background-color:#42b8cd;border-radius:0;}
.table-condensed .next,.table-condensed .prev{font-size:0}
.table-condensed .next:before,.table-condensed .prev:before{content:'';width:15px;height:15px;top:0}
.table-condensed .next:before{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);border-right:solid #808183 1px;border-bottom:solid #808183 1px}
.table-condensed .prev:before{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);border-left:solid #808183 1px;border-bottom:solid #808183 1px}
.datepicker table tr td.today.disabled:before{content:'';border:2px solid #9ac854;top:0;left:0}
.datepicker-switch{min-width:185px;}
.tt-suggestions div.tt-suggestion p.unavailable,.unavailable-airport-link{color:#ddd!important}
.fantastic-hotels{max-width:1200px;margin:30px auto 0 auto;padding:0 15px;}
.mega-dropdown-wrapper ul li a{color:#8d8d8f}
.mega-dropdown-list-section .spanAirport:hover,.mega-dropdown-wrapper .mega-dropdown-section-header:hover,.mega-dropdown-wrapper ul li a:hover{color:#1cb2c8!important;}
.datepicker table tr td.active,.datepicker table tr td.active.enabledDates{background:#9ac854;border:none;}
.tt-dataset-destinations p,.tt-empty-template,.tt-suggestion{margin-left:0;left:0;padding-left:0}
.time-price{border-radius:4px;box-shadow:0 2px 20px 0 rgba(0,0,0,.5);width:432px;max-width:96%;left:0;right:0;}
.search-by-time-price-box{height:0;z-index:116;left:0;right:0;opacity:0;top:125px;}
.datepicker table tr td span.active.month,.datepicker table tr td span:hover{font-weight:400;}
.all-inclusive-top-deals-carousel .owl-prev{left:13px}
.all-inclusive-top-deals-carousel .owl-next{right:13px;}
#searchBanner{background-repeat:no-repeat;height:486px;background-size:cover;top:-1px;}
.all-inclusive-img-slide img{height:auto}
.on-image-text-div{z-index:1;background-color:rgba(0,0,0,.2);top:0;padding:15px}
.on-img-details{z-index:2;bottom:15px;padding:0 15px;text-align:left;line-height:21px}
.on-img-details h3{margin:0;padding:0;font-size:26px;font-weight:400;}
.on-img-details span{font-size:17px}
.on-img-details .top-deal-airport{font-weight:600;margin-bottom:5px}
/* .content-row{padding:15px 15px 25px;} */
.main-container > div{max-width:1290px;margin:40px auto;text-align:center;display:block;}
.main-container > div.top-hotels{max-width:1310px;padding:0 20px;overflow:hidden;}
.owl-carousel .owl-wrapper-outer{overflow:visible;padding:0 0 15px;}
.main-container > div.desc-container{max-width:100%;margin:20px auto 0;}
.deal-rating .fa-star{color:#fbdb3e;font-size:12px;margin:0 1px}
.all-inclusive-top-deals-carousel .owl-next,.all-inclusive-top-deals-carousel .owl-prev{top:32%}
.paraTitle{font-size:20px;text-align:left;margin:25px 0 0;}
.main-container h3{font-size:17px;margin-top:20px;font-weight:600;}
.main-container ul{padding:0 0 0 30px;}
.main-container ul li{line-height:21px;margin:15px 0 0;font-size:16px;list-style:disc;}
.main-container ul li a{color:#428bca;}
.main-container p{margin:0 0 15px;}
.paraTitle.tth-section-label{font-size:28px;text-align:center;margin:20px 0 0;}
/* .all-inclusive-offerscarousel-container{margin-top:30px} */
/* .all-deals-carousel-header{background-color:#f2f2f2} */
.includeflights{padding:0 10px;border-radius:10px}
.includeflights .fa-plane{color:#9ac854}
.all-inclusive-top-deal{width:91%;cursor:pointer;margin:0 auto 10px;}
.all-inclusive-offerscarousel .owl-buttons .fa,.all-inclusive-top-deals-carousel .owl-buttons .fa{line-height:44px;font-size:20px}
.dealAnimation{transform:scale(1.1);-ms-transform:scale(1.1);-webkit-transform:scale(1.1);-webkit-filter:grayscale(00%);-moz-filter:grayscale(00%);-o-filter:grayscale(00%);-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;-webkit-box-shadow:0 8px 20px 0 rgba(0,0,0,.2);-moz-box-shadow:0 8px 20px 0 rgba(0,0,0,.2);box-shadow:0 8px 20px 0 rgba(0,0,0,.2)}
.all-inclusive-hotels-list{max-width:1200px;padding:0 15px}
.topsellerblockitem{max-height:420px;height:auto;}
.topseldetails{background:#f3f3f3;padding:1px 1px 20px;height:50%;border:1px solid #fff}
#newCallus h3 span{padding:0;}
.lblhotelname{text-overflow:ellipsis;padding-top:5px;min-height:45px;max-height:45px;}
.star-rating{width:auto;margin-left:auto;margin-right:auto;max-height:14px}
.lblHoteldesc{text-overflow:ellipsis;margin-bottom:10px;font-size:13px;line-height:20px}
.lblreviewnum{font-size:9px;padding-bottom:10px}
.all-inclusive-offerscarousel-container .owl-next,.all-inclusive-offerscarousel-container .owl-prev{top:16%}
.all-inclusive-top-deals-carousel .page-builder-row-inner{max-width:1200px;}
#inpPrice{background-color:#fafafa!important;padding:2px 2px 0 10px;margin:-1px 0 0;height:39px;color:#555;cursor:pointer;font-size:13px;}
.spanPrice,.spanTime{margin-top:10px;text-align:left}
.timepopup-tittle{font-weight:600;font-size:18px}
.timepopup-close{opacity:1;font-size:34px}
.timepopup-close button{border:0;cursor:pointer;padding:0}
.search-price-box{-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;transition:all .1s ease-in-out;width:105px;height:45px;background-color:#f2f2f2;border-right:1px solid #fff;border-bottom:1px solid #fff;margin-top:0;padding-top:5px;line-height:14px;cursor:pointer;}
.price-box-active,.search-price-box:hover{background-color:#9ac854;}
.search-price-box-any{padding-top:14px;padding-left:0;font-weight:600}
.search-price-box-any .search-price-tick-on{padding:0}
.search-price-under{font-size:9px;text-align:left}
.search-price-tick{padding:10px 3px 0 0;}
.search-price-tick-on{padding:10px 3px 0 0}
.search-price-box-any.price-box-active{padding-right:15px}
.happy-customer-inner{max-width:1170px;}

.slogan-big{font-size:40px;letter-spacing:-0.9px;font-weight:bold;text-shadow:0 2px 4px rgba(0, 0, 0, 0.37);}
.slogan-small{font-size:20px;}
input:-ms-input-placeholder{color:#a9a9a9}
.tt-suggestion{min-width:300px}
.tth-col-md-4::selection,.tth-col-md-4::-webkit-selection,.tth-col-md-4::-moz-selection,.tth-col-md-4::-o-selection,.mobile-widget-guests{background:0}
.tth-col-md-4,.mobile-widget-guests,.mobile-widget-stayfor,.mobile-widget-calendar,.happy-customer-main-bar{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
#mouseSwipeScroll a:hover,#mouseSwipeScroll a:focus,.mobile-nav-item a:hover,.mobile-nav-item a:focus{color:#fff}
.dinline,.mobile-dstn-icon,.mobile-dstn-label,.mobile-legend-ouline,.mobile-legend-label,.mobile-legend-fill1,.mobile-legend-fill2,.mobile-nav-item a,.mobile-nav-item span,.mobile-nav-item,.mobile-tick-box,.mobile-flexible-label,.feefo-logo1,.feefo-logo2,.dstn-search-history-icon{display:inline-block}
.mobile-search-container .main-holidays-search{float:left;z-index:33;width:854px}
.margin-right1,.mobile-input-group,.input-stayfor-box,.input-stayfor-box{margin:0}
.mobile-adult-cnt,.mobile-children-cnt,.mobile-nghts-value,.mobile-input,.mobile-input-button{font-family:'proximanova-light'!important;font-size:14px}
.mobile-input-group,.mobile-date-picker,.mobile-stay-for{padding:6px 10px 9px 10px}
.flexible-date{padding-top:3px;}
.mobile-btn-minus-symbol1, .mobile-btn-minus-symbol2{width:12px;height:2px;background:#58595b;}
.mobile-btn-minus-symbol1{top:23px;left:19px;}
.mobile-widget-calendar .congratulations-close-bar1, .mobile-widget-calendar .congratulations-close-bar2{background:#58595b;left:5px;top:15px;}
.input-guests-box .mobie-down-arrow{right:40px;}
.mobile-input-button,.mobile-input-group-split-2,.mobile-input-group{max-height:72px;height:72px}
.mobile-calendar-btn-cancel,.mobile-calendar-btn-done{float:right}
input:focus,button:focus{box-shadow:none;outline:0}
.mobie-down-arrow{bottom:35px;right:15px;width:8px;height:8px;border-bottom:solid #58595b 1px;border-right:solid #58595b 1px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.mobile-hot-box1{top:0;right:0;width:55px;height:100%}
::-webkit-input-placeholder,.mobile-input,.mobile-nghts-value,::-moz-placeholder,::-ms-input-placeholder,.mobile-calendar-btn-clear{color:#58595b}
::-webkit-input-placeholder{color:#a9a9a9}
.mobile-option-reset{width:17px;height:17px;top:12px;right:6px}
.mobie-close-icon1,.mobie-close-icon2{border-right:solid #58595b 1px;height:9px;top:3px;left:7px}
.mobie-close-icon2{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.mobie-close-icon1{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.mobile-widget-overlay{z-index:130;right:0;left:0;top:125px;opacity:0}
.mobile-widget-table{table-layout:fixed;display:table;height:100%;width:250px}
.mobile-widget-middle{display:table-cell;vertical-align:middle}
.mobile-btn-plus-disabled,.mobile-btn-minus-disabled{color:#ccc;cursor:default}
.mobile-widget-guests .mobile-ngts-label{padding:6px 0 0 0}
.mibile-instruction-text{font-size:12px;padding-bottom:12px;max-width:80%;line-height:15px}
.mobile-dstn-list-wrapper,.mobile-dstn-item,.mobile-depart-list-wrapper{height:100%}
.mobile-widget-calendar .congratulations-close-bar2{top:13px}
.mobile-dstn-header .congratulations-close-bar1:hover,.mobile-dstn-header .congratulations-close-bar2:hover{background:#fff}
.mobile-hdr-back-arrow{top:19px;left:18px;width:10px;height:10px;z-index:10;border-left:solid #fff 2px;border-bottom:solid #fff 2px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg)}
.mobile-header-search{right:70px;left:25px;bottom:10px;top:10px;border-bottom:solid #fff 1px}
.mobile-hdr-arrowbar{border-bottom:solid #fff 2px;width:15px;top:23px;left:19px}
.mobile-back-arrow{left:0;top:0;width:50px;height:100%}
.mobile-destinations-show{right:0}
.mobile-dstn-list-wrapper{overflow-x:auto}
.mobile-destinations-show{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out}
@keyframes fadein{0%{opacity:0}
100%{opacity:1}
}
.item-show{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out}
.mobile-dstn-header2{background:#f2f2f2;color:#a3a3a4;font-size:12px;padding:9px 0 6px 25px}
.mobile-dstn-list-name,.mobile-search-noresult{padding:10px 0 5px 25px}
.dstn-search-history{padding:10px 0 10px 25px}
.dstn-search-history a{margin:10px 0;overflow:hidden}
.dstn-search-history-icon{width:16px;height:16px;background-position:-4px -62px;top:2px}
.dstn-search-history-label{margin-left:16px;color:#58595b;max-width:80%}
.mobile-dstn-icon{width:12px;height:17px;background-position:-129px -2px}
.mobile-depart-list-wrapper .mobile-dstn-icon{background-position:-105px -2px;width:17px}
.mobile-dstn-list-name{border-bottom:solid #f1f1f2 1px}
.mobile-dstn-label{top:-4px;left:20px}
.mobile-dstn-item{overflow-x:auto;padding-bottom:55px}
.mobile-calendar-btn-clear,.mobile-calendar-btn-cancel,.mobile-calendar-btn-done{font-size:14px}
.mobile-calendar-btn-done{padding-left:20px}
.mobile-calendar-btns{margin-bottom:17px}
.mobile-date-summery{font-size:15px;padding-left:2px;margin-bottom:12px}
.mobie-calendar-icon{display:none}
.mobile-carousel-nav{background:rgba(0,0,0,0.3);top:90px;z-index:34;overflow:hidden;right:0;left:0}
.mobile-nav-item a,.mobile-nav-item span{font-size:14px;color:#fff;padding:15px 0 11px 0;margin:0 15px;text-transform:uppercase;text-decoration:none;letter-spacing:1px}
.mobile-nav-avtive{border-bottom:solid #fbdb3e 2px}
.mobile-carousel-nav-active{background-color:#15294f}
.mobile-nav-container{top:50px;z-index:555}
.mobile-nav-item:first-child{padding-left:4px}
.mobile-nav-item{float:none}
.mobile-nav-item-last{padding-right:50px}
.input-destingtion-box{width:160px;border-bottom-left-radius:3px}
.input-depart-box{width:160px}
.input-departing-box{width:138px}
.input-stayfor-box{width:71px}
.input-guests-box{width:189px}
.mobile-input-button{color:#fff;padding:10px 0 9px 0;font-size:20px;border:0;width:136px}
.mobile-input-button:focus{border:0;outline:0}
.mobile-input-button:hover{background:#9ac854}
.mobile-search-fields .clear{clear:inherit}
.mobile-search-fields{max-width:1130px;box-shadow:0 8px 8px 0 rgba(0,0,0,0.24),0 0 8px 0 rgba(0,0,0,0.12)}
.unavailable-airport-link,.unavailable{color:#ddd}
.mobile-search-noresult{font-size:18px;color:#58595b}
.input-destingtion-box:after,.stay-trigger:before,.input-depart-box:before,.calendar-trigger:before{content:'';position:absolute;top:12px;background:#dadada;z-index:3;width:1px;bottom:8px}
.input-destingtion-box:after,.stay-trigger:before{right:0;bottom:8px}
.input-depart-box:before{right:4px}
.calendar-trigger:before{right:0}
.banner-slogan{max-width:1140px;z-index:9;position:relative;}
.mobile-search-container{max-width:1140px;margin:0 auto;padding-top:20px;z-index:9;}
.mobile-search-container:before{box-shadow:none}
.flexible-date span{overflow:hidden;display:inline-block;white-space:nowrap;font-size:12px;vertical-align:middle;}
.tth-checkbox{width:15px;height:15px;margin-right:7px;border-radius:1px;}
.tth-tick-mark{height:9px;width:5px;border-width:2px;left:3px;top:0}
.place-holder-text{left:8px;top:30px;color:#b5b5b5;cursor:text}
.mega-dropdown-wrapper,.mega-dropdown-section-header{line-height:normal}
.mega-dropdown-wrapper{min-height:348px;max-width:854px;min-width:854px;left:auto;right:1px;margin-top:9px;top:64px;}
.mega-dropdown-wrapper .mega-dropdown-section-header{margin:0 0 10px 0;padding:0}
.mega-dropdown-wrapper .mega-dropdown-list-left{width:60%}
.mega-dropdown-wrapper .mega-dropdown-list-right{max-width:250px;min-width:250px;border-left:solid #f2f2f2 1px;box-sizing:border-box;padding-left:16px;padding-bottom:20px;min-height:418px}
.mega-dropdown-wrapper ul li a{color:#8d8d8f}
.mega-dropdown-wrapper ul li a:hover,.mega-dropdown-wrapper .mega-dropdown-section-header:hover{color:#1cb2c8}
.mega-dropdown-wrapper .mega-dropdown-section-header,.mega-dropdown-title{font-size:18px}
.mega-dropdown-items1 .mega-dropdown-list-section{min-height:165px}
.mega-dropdown-list-right .mega-dropdown-section-header,.mega-dropdown-title,.mega-dropdown-section-header{font-weight:bold}
.mega-dropdown-list-right .mega-dropdown-section-header:hover{cursor:default}
.mega-dropdown-list-right{float:right}
.mega-dropdown-title{margin-bottom:20px}
.mega-dropdown-title{display:block}
.input-destingtion-box .tt-dataset-destinations,.input-depart-box .tt-dataset-airports{top:15px;left:11px}
.tt-suggestions div{line-height:normal;font-size:16px}
.tt-dropdown-menu .most-popular-list,.input-depart-box .tt-dataset-airports{position:relative}
.tt-dropdown-menu .most-popular-list,.search-departureAir .tt-dataset-airports,.tt-dataset-destinations,.tt-dataset-hotels{color:#58595b}
.tt-dropdown-menu .most-popular-list{font-weight:bold}
.tt-dropdown-menu .most-popular-list{font-size:18px}
.tt-suggestions div.tt-suggestion p{color:#58595b}
.tt-suggestions div:hover{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;color:#1cb2c8}
.tt-dataset-destinations,.tt-dataset-destinations div,.tt-dataset-airports,.tt-dataset-airports div{background:0}
.tt-dropdown-menu .most-popular-list{display:block}
.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.enabledDates.disabled{background:0;border:5px solid #fff;color:#58595b}
.tt-dropdown-menu{background:0;border:medium none;margin-top:10px;padding:8px 0;width:250px}
.tt-dropdown-menu p{margin:0 0 10px;font-weight:300;line-height:24px}
.tt-empty-template,.tt-dataset-destinations p,.tt-suggestion{margon-left:0;left:0;padding-left:0}
.search-by-time-price-box{width:100%;position:fixed}
.time-price{background:#fff;border-radius:4px;box-shadow:0 2px 20px 0 rgba(0,0,0,0.5);width:432px;max-width:96%;overflow:hidden;margin:0 auto;left:0;right:0;position:absolute}
.search-by-time-price-box{width:100%;height:0;z-index:0;left:0;right:0;opacity:0}
.datepicker table tr td span.active.month,.datepicker table tr td span:hover{background:0;color:#5a5a5a;font-weight:normal}
.search-history{border:solid #fff 1px;padding:5px 41px 3px 10px;margin-top:15px;max-width:200px}
.search-history-label{color:#fff;font-size:14px}
.search-history-icon{width:22px;height:17px;top:7px;right:5px;background-position:-420px -80px}
.datepicker table tr td span{width:23%;height:54px;line-height:54px;float:left;margin:1%;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.table-condensed .prev:before{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);border-left:solid #808183 1px;border-bottom:solid #808183 1px}
.datepicker .datepicker-switch:hover,.datepicker .next:hover,.datepicker .prev:hover,.datepicker tfoot tr th:hover{background:0}
.datepicker table tr td.disabled,.datepicker table tr td.disabled:hover{background:0;color:#999;cursor:default}
.mobile-search-validation{bottom:-36px;left:0;right:0;padding:8px 10px;z-index:5;color:#fff;background:#da5964;box-shadow:0 7px 16px rgba(0,0,0,0.2);position:absolute;}
.mobile-search-validation:before{width:10px;height:10px;top:-5px;left:10px;content:'';background:#da5964;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);position:absolute;}
.deals-main-row>div.carousel-low-deposit{margin:10px auto 40px}
.deals-main-row>div{max-width:1290px;width:100%;padding:0;margin:0 auto}
/*.call-now-inner .strip-column-label{font:13px 'proximanova-semibold'}*/
.carousel-low-deposit .strip-icon-down-arrow, .carousel-low-deposit .strip-icon-happy{margin-right:7px;position:relative;vertical-align:middle;}
.carousel-low-deposit .strip-column-label{vertical-align:middle}
.carousel-low-deposit .payMonthly2,.deposit-options{margin-right:40px}
.owl-prev,.owl-next{width:30px;height:50px;background-color:rgba(0,0,0,0.9)!important;opacity:.7;text-align:center;display:inline-block;cursor:pointer;position:absolute;top:50%;z-index:9;border-radius:0!important}
.main-container h2{font-size:26px;margin:0 0 5px;padding-top:0;font-family:'proximanova-regular'!important;text-align:left;font-weight:normal}
.deals-main-row .deals-main-row div.main-container{margin:0 auto}
/* .main-container h2{margin:30px 0 5px 0;color:#58595b;font-size:20px} */
.main-container p.slider-botom-text{color:#58595b;font-size:22px;margin-top:60px!important;max-width:520px;line-height:26px}
.all-inclusive-top-deals-carousel .owl-buttons .fa,.all-inclusive-offerscarousel .owl-buttons .fa{font-size:20px;line-height:44px}
.topseldetails label{float:none}
.all-inclusive-offerscarousel-container .owl-prev,.all-inclusive-offerscarousel-container .owl-next{top:14%}
.topseldetails p,.topseldetails a{color:#5a5a5a}
#slideshow .page-builder-element>div{margin:0 auto!important}
.page-builder-row-section.page-builder-row-section-2{background:0;padding:0!important;margin:0}
.deal-rating .fa-star{margin:0 2px 0 0}
.call-to-book{vertical-align:top;top:-3px;font-size:32px;padding-right:60px;letter-spacing:-0.7px;display:inline-block}
.main-container p, #PopularContent label{font-size:16px;line-height:21px;color:#58595b;text-align:left}
.main-container p a{color:#37bdd1}
.strip-text2{font-size:24px}
.deposit-price-fig{display:inline-block;margin:5px 0 0 5px}
/* div.tending-deal-heading{margin-top:50px;} */
.footercontainer{display:none}
.theme-footer-links{border:0}

/* Top Low Deposite Box CSS*/
.low-deposite-box .banner-strip-mn{padding:15px 0}
.low-deposite-box .banner-strip-manyof{display:inline-block}
.low-deposite-box .manydeal-call{font-size:26px;line-height:1.08;letter-spacing:-.4px}
.low-deposite-box .many-of1,.low-deposite-box .many-of2{font-size:26px;letter-spacing:-.4px;display:inline-block}
.low-deposite-box .manydeal-call a{color:#6e3d7c}
.low-deposite-box .atol,.low-deposite-box .banner-strip-manyof,.deals-main-row .low-depst-trust-rating,.low-deposite-box .manydeal-call,.low-deposite-box .manydeal-call-to-book{display:inline-block}
.low-deposite-box .manydeal-call-to-book{font-size:22px;line-height:1.44}
.low-deposite-box .low-depst-rating-stars,.low-depst-trust-rating .totalTrustPilotRate,.low-deposite-box .payMonthly1{display:inline-block;vertical-align:top}
.low-depst-trust-rating .totalTrustPilotRate{font-size:15px;color:#58595b;line-height:16px;padding-left:3px}
.banner-white-strip .low-depst-trust-logo{width:124px;height:auto}
.low-depst-trust-logo img{max-width:100%;height:auto;vertical-align:top}
.low-deposite-box .call-now-inner .strip-column-label{font:13px proximanova-semibold}
.low-deposite-box .strip-column-space{width:1px;background:#d8d8d8;height:30px;margin:0 30px;vertical-align:middle}
.low-deposite-box .payMonthly1{vertical-align:middle}
.low-deposite-box .strip-icon-atl{margin-right:6px}
.low-deposite-box #showOnTablet,.low-deposite-box #showOnTablet1{display:none}
/*#lowDesposits,.payMonthly1,.space6,#getRecommendations,.space7,.ppc-atol-mbl-show,.ppc-atol-ipd-show,.low-depst-trust-rating{display:inline-block}*/
.banner-overlay-strip .low-depst-trust-rating>div{display:inline-block;padding:12px 5px;vertical-align:middle;width:auto}
.banner-overlay-strip .low-depst-rating-stars{display:inline-block;vertical-align:bottom}
.banner-overlay-strip .low-depst-trust-rating ul li.active{background:#73b143}
.banner-overlay-strip .low-depst-trust-rating ul li{width:20px;height:20px;float:left;list-style:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-right:2px;background:#d8d8d8}
.banner-overlay-strip .low-depst-trust-rating ul li span{background-position:-360px -88px;width:20px;height:20px}
.deposit-trust{display:inline-block;width:156px;height:20px;background-position:-8px -280px;}
/*.banner-white-strip{margin:40px 0 0}*/

/* Call Now to Book Bottom Gateway CSS */
.deals-main-row > div.winter-gateway{margin:50px auto 0;text-align:center}
.winter-gateway h2{font-size:56px;font-weight:600;margin:0;letter-spacing:-0.9px}
.winter-gateway h3{font-size:40px;color:#9ac854;font-weight:600;margin:0 0 15px;line-height:normal;position:relative;}
.winter-gateway h3 a{display:initial;color:#9ac854}
.winter-gateway ul{margin:60px 0 40px}
.winter-gateway ul li{display:inline-block;padding:0 10px;text-align:left;width:25%;vertical-align:top}
.winter-gateway ul label span{display:block;font-size:20px;line-height:26px;letter-spacing:-0.6px;}
.winter-gateway ul li>span{display:table;width:100%}
.winter-gateway span.success-icon{width:34px;height:26px;display:inherit;background-position:-281px -61px;float:left;margin:2px 15px 0 0;}
.winter-gateway ul label{max-width:75%;text-align:left;}
.winter-gateway ul label span.txt-bold{font-size:26px;margin:0 0 8px}


/* Top Holidays Css */
.owl-carousel{/* margin:0 -15px;*/padding:0;}
.owl-item{padding:0;text-align:center;}
.blog-list-elements .owl-buttons div i{display:none !important;}
/* .owl-controls .owl-buttons .owl-prev{left:-40px;} */
/* .owl-controls .owl-buttons .owl-next{right:-40px;} */
/* .owl-theme .owl-controls .owl-buttons div{top:40%;z-index:9;position:absolute;color:#FFF;display:inline-block;zoom:1;margin:0;padding:0;opacity:0.5;font-size:12px;height:50px;width:34px;filter:Alpha(Opacity=50);cursor:pointer;float:left;} */
/* .owl-controls .owl-buttons div:after{content:'';position:absolute;width:30px;height:30px;border-top:solid #58595b 2px;border-right:solid #58595b 2px;top:10px;left:0;} */
/* .owl-prev:after{-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg);} */
/* .owl-next:after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);} */

/* Top Hotels Css */
.top-hotels a{float:left;padding:0;width:300px;margin:10px 3px;}
.holidays-item{width:100%;box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}
.holidays-item:hover{box-shadow:0 0 30px 0 rgba(0,0,0,0.20)}
.top-hotels a img{width:100%;height:auto}
.top-hotels .multi-hotel-row{padding:10px 20px;display:inline-block;width:100%}
.top-hotels .low-deposit-item{padding-bottom:10px;margin-bottom:15px;min-height:45px;display:table;width:100%;border-bottom:solid #d4d4d4 1px;position:relative;z-index:5}
.top-hotels .low-deposit-item .float-left span.txt-bold{font-size:16px;color:#6e3d7c;margin:10px 0 0;min-height:40px}
.top-hotels .low-deposit-item .float-left span{margin:0;display:inline-block;font-size:11px;color:#9b9b9b;vertical-align:middle;line-height:15px}
.top-hotels .low-deposit-item .float-left span.place{font-size:11px;}
.top-hotels .low-deposit-item .float-left span.tripadv-review-count{color:#58595b}
.top-hotels .tth-price{font-size:24px;margin:0;font-family:'proximanova-bold' !important;}
.top-hotels .deals-price{line-height:24px}
.top-hotels .inc-flight{margin:-5px 0 5px;font-size:12px}
.top-hotels .ai-trp-rating .view-deal{padding:7px 10px;float:right;}
.top-hotels .ai-trp-rating .float-left{color:#9b9b9b}
.top-hotels .tth-asterisk{top:2px;right:2px}


span.txt-nights-option{margin-left:4px}
.opt-footer{padding:80px 0;background:rgba(242,242,242,0.5);text-align:center;margin:50px 0 0;}
.footer-links{margin:0}
.holiday-types{display:inline-block;vertical-align:top;text-align:left;min-width:400px}
.holiday-types h2{font-size:20px;color:#58595b;font-weight:bold;margin:0 0 8px}
.holiday-types ul{float:left;padding:0;width:47%;}
.holiday-types ul:first-child{margin-right:3%;}
.holiday-types ul li{line-height:1.86;}
.holiday-types ul li .deals-rating{display:block;}
.desc-container{padding:80px 0 50px;background:#f2f2f2;overflow:hidden;margin:40px 0 0;}
.places-readmore.readhide{transform:rotate(-225deg);-webkit-transform:rotate(-225deg);-moz-transform:rotate(-225deg);-ms-transform:rotate(-225deg)}
.fullItems .places:hover .read-more{max-height:330px!important}
.places-readmore{display:none}
.places{min-height:430px;margin-bottom:32px;-webkit-animation:anima 2s;-moz-animation:anima 2s;-o-animation:anima 2s;-ms-animation:anima 2s;animation:anima 2s;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;box-shadow:0 2px 4px 0 rgba(0,0,0,.1);-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,.1);position:relative;overflow:hidden;background:#fff}
.places-image.explore-image{height:430px;max-width:350px;width:42%;position:relative}
.place-caption,.places .place-image,.places:hover .place-caption,.places:hover img,a,a:hover{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}
.explore-image img,.places-image img{max-width:100%;height:auto;height:100%;object-fit:cover;width:100%}
.place-image{-webkit-transform:scale(1.04);-moz-transform:scale(1.04);-o-transform:scale(1.04);-ms-transform:scale(1.04);transform:scale(1.04)}
.places h4{margin:0 auto;top:12px;padding:0;text-transform:uppercase;position:absolute;display:block;left:24px;color:#fff}
.right-to-left{top:0;left:42%}
.place-caption{cursor:default;height:100%;background:rgba(255,255,255,.99);padding:20px 25px;position:absolute;text-align:left;width:58%}
.text-width-fixed{width:100%;line-height:26px;text-align:left;display:table}
.place-sprite-icon-quotes{width:28px;height:23px;background-position:-512px -371px;margin:15px auto 25px}
.place-title{font-size:17px !important;margin:0 0 5px !important;color:#58595b;line-height:26px;font-weight: 600 !important;}
.fullItems .read-more{height:auto;overflow:hidden;max-height:330px}
.places a{color:#37bdd1}
.place-caption.bottom-to-top{padding:20px;width:100%}
.places .text-width-fixed p{line-height:26px;padding:5px 10px 0;color:#58595b;font-size:16px;margin:0 auto}
.places-readmore{margin:0 auto;width:10px;height:10px;left:50%;bottom:20px;border-left:solid #37bdd1 2px;border-bottom:solid #37bdd1 2px;transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);position:absolute;cursor:pointer}
.places:hover .place-image{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
.places:hover .right-to-left{left:40%;top:0}
.places:hover .bottom-to-top,.places:hover .left-to-right,.places:hover .right-to-left,.places:hover .top-to-bottom{-ms-filter:'alpha(opacity=($opacity * 100))';filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;-webkit-touch-callout:none;-moz-touch-callout:none;-o-touch-callout:none;-ms-touch-callout:none;touch-callout:none;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;-ms-tap-highlight-color:transparent;tap-highlight-color:transparent}
.places:hover .read-more{max-height:73%}
.explore-image{height:174px}
.bottom-to-top{bottom:-41%}
.read-more{max-height:140px;overflow:hidden}
.places .place-caption p{margin:0 auto;padding:0;font-size:16px;line-height:24px}
.places:hover{box-shadow:0 12px 20px 0 rgba(0,0,0,.1)}
.places:hover .bottom-to-top,.places:hover .top-to-bottom,.top-to-bottom{left:0;bottom:0}
.pic-left-right .places-image{float:right}
.left-to-right{top:0;right:42%}
.places:hover .left-to-right{right:40%;top:0}
.desc-container .desc-container-inner{width:1200px;padding:0 80px;margin:0 auto}
.nlsignup{max-width:90%;width:1200px;margin:0 auto;box-shadow:0 16px 16px 0 rgba(0,0,0,0.24),0 0 16px 0 rgba(0,0,0,0.12);display:block;background:#8b6496;padding:40px 0}
#signupLetter .modal-title{padding:0 0 10px}
.close--icon:before,.close--icon:after{height:1px;background:#58595b}


/* Subscribe Section CSS */
.nlsignup .left-addon input,#btn-subscribe{box-shadow:none;border:0}
.nlsignup .inner-addon{padding:13px 20px;width:306px;background:#fff;height:70px}
.nlsignup .inner-addon:first-child{width:270px}
.nlsignup .left-addon input{padding:0;height:inherit;font-size:16px;height:auto}
.nlsignup .inner-addon:before{content:'Email';display:block;color:#9ac854;font-size:16px;font-family:'proximanova-semibold'!important;text-align:left}
.nlsignup .inner-addon:first-child:before{content:'Name'}
.nlsignup .inner-addon:first-child:after{content:'';position:absolute;top:15px;right:0;bottom:15px;width:1px;background:rgba(88,89,91,0.2)}
.nlsignup .subscribe-frm .col-xs-2{padding:0;width:164px}
.nlsignup .subscribe-frm .col-xs-2 button{width:100%!important}
.nlsignup .subscribe-frm{padding:0;width:740px}
#btn-subscribe{padding:21px 0;height:inherit;text-transform:lowercase;font-size:20px}
#btn-subscribe:first-letter{text-transform:uppercase}
.nlsignup span.close--icon{top:8px;width:10px}
.nlsignup .inner-addon .fa{font-size:0;position:absolute;top:0;right:13px;left:auto}
.nlsignup .row.subscribe-frm .popover.fade.bottom.in{margin-top:15px;z-index:9!important}
#signupLetter .modal-title{font-size:38px}
.nlsignup .title-txt{font-size:20px}
.gray-background{background:rgba(242,242,242,0.5);padding:0 0 70px 0;}
.banner-overlay-strip{bottom:67px;}
.top-hotels-section{margin:0 auto 15px;display:inherit;overflow:hidden;}
.opt-footer .container{padding:0;}


/* Holiday Deals Css */
.vrtcl-align-middle span, .vrtcl-align-middle i, .vrtcl-align-middle label, .vrtcl-align-middle div, .vrtcl-align-middle a{vertical-align:middle;}
button.bgnd-emerald:hover{background:#87b83b}
button.bgnd-sunset:hover{background:#ed5a1b}
button.bgnd-cornflower-blue:hover{background:#199eb2}
.hotel-deals{padding:0}
.hotel-deals .content-header{padding-bottom:24px}
.hotel-deals .content-header > div:after, .hotel-deals .content-header > div:before{content:'';display:block;clear:both}
.hotel-deals .content-header .title{font-size:28px;font-weight:bold}
.hotel-deals .content-header > div{padding:7px 0 7px 0}
.hotel-deals .content-header > div .desc{font-size:15px;float:left}
.hotel-deals .content-header > div .see-all-txt{font-size:15px;float:right;text-decoration:underline}
.hotel-deals .content-header > div .see-all-txt:hover{color:#1cb2c8}
.hotel-deals .carousel-caption, .hotel-deals .hotel-deal-name, .hotel-deals .place, .hotel-deals .gutter{font-size:15px}
.hotel-deals .carousel-caption{opacity:0.7;padding:10px 0 20px 0;overflow:hidden}
.hotel-deals .price-info{font-size:11px;padding-top:37px;opacity:0.7}
.hotel-deals .hotel-deals-container{width:262px;min-height:295px;border-radius:2px;overflow:hidden;box-shadow:0 1px 6px 0 rgba(111, 133, 159, 0.34);padding:18px 0 19px 0;position:relative}
.hotel-deals .hotel-deals-container:hover{box-shadow:0 12px 34px 0 rgba(88, 89, 91, 0.34);color:inherit}
.hotel-deals .hotel-deals-container:hover .viewdeal-btn{background:#9ac854;color:#fff}
.hotel-deals .hotel-deals-residence{font-size:20px;font-weight:600;line-height:1.1;letter-spacing:-0.3px;margin-bottom:9px;min-height:44px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.hotel-deals .hotel-deal-img img{width:100%;height:160px}
.hotel-deals .tripadv-review-count{font-size:12px}
.hotel-deals .gutter i{font-size:12px;letter-spacing:2px}
.hotel-deals .place{padding:5px 0 7px 0}
.hotel-deals .trip-advisor-main{margin:2px 0 5px 0}
.hotel-deals .hotel-deals-price{margin:2px 0 0 0}
.hotel-deals .gutter .tth-price{font-size:24px}
.hotel-deals .gutter .tth-pp{font-size:14px;top:3px;left:-5px}
.hotel-deals .viewdeal-btn{padding:6px 12px;background-color:#9ac854;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:12px 0 0 0;color:#fff;font-size:14px;font-weight:normal;border:none;}
.hotel-deals .hotel-deal-img-name{font-size:13px;right:0;bottom:0;border-top-left-radius:6px;padding:2px 8px 2px 9px;letter-spacing:0.2px}
.hotel-deals .place-trpadvsr-min-height{padding:5px 0 2px 0}
.hotel-deals .hr-line{height:1px;background:#58595b;opacity:0.2;margin:10px 0}
.hotel-deals .hotel-deals-residence, .hotel-deals .hotel-deal-img, .hotel-deals .place, .hotel-deals .trip-advisor-main, .hotel-deals .gutter{margin-left:15px;margin-right:15px}
.hotel-deals .heart-icon{display:none}
.hotel-deals .tth-asterisk{top:9px;right:0px}
.hotel-deals .hotel-deal-last{margin-right:0}
.hotel-deals .hotel-deal-name{padding-bottom:3px}
.hotel-deals .hotel-deal-type{padding-bottom:8px;display:none;}


/* Start Holiday Deals Css */
.txt-selective-yellow{color:#fbdb3e}
.txt-sunset{color:#f07541}
.font-light{font-family:"proximanova-light"}
.font-bold{font-family:"proximanova-bold"}
.font-semibold{font-weight:bold}
.txt-bold{font-weight:bold}
.cursor-pointer, .cursor-p, .group-cursor li span, .group-li-cursor li, button, button span, button label{cursor:pointer}
.cursor-d{cursor:default}
.carousel-title{font-size:28px}
.tth-asterisk{top:1px;right:-1px;font-size:14px}
.tth-pp{left:-4px;font-size:11px;font-weight:normal;position:relative}
.tth-price{font-size:16px;margin-right:2px}
.inblock-group span, .inblock-group a, .inblock-group input, .inblock-group button, .inblock-group label{display:inline-block}
.dblock-group span, .dblock-group a{display:block}
.bgnd-butterfly{background-color:#6e3d7c}
.bgnd-emerald{background-color:#9ac854}
.bgnd-sunset{background-color:#f07541}
.bgnd-dasksky{background-color:#2572a8}
.bgnd-black-squeeze{background-color:#f2f2f2}
.bgnd-black{background-color:#000}
.bgnd-white{background-color:#fff}
.bgnd-dark-green{background-color:#15804e}
.bgnd-selective-yellow{background-color:#FFBA00}
.bgnd-silver{background-color:#f6f6f7}
.bgnd-cornflower-blue{background-color:#1cb2c8}
.bgnd-concrete{background-color:#f3f3f3}
.bgnd-slate-grey{background-color:#6f859f}
.overlay{background:rgba(0, 0, 0, 0.6)}
.pathdesc{background-color:#fff}
.b-radius100{-webkit-border-radius:100px;-moz-border-radius:100px;-ms-border-radius:100px;border-radius:100px}
.b-radius2{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;border-radius:2px}
.txt-anim a, .txt-anim span, .ele-anim-spd1, .ele-anim-spd1 a, .ele-anim-spd1 span, .ele-anim-spd1 button, button{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out}
.ele-anim-spd2, .ele-anim-spd2 > li, .ele-anim-spd2 > span{transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out}
.ele-anim, .ele-anim span, .ele-anim a, .ele-anim-spd3, .ele-anim-spd3 ul{transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}
.ele-anim-spd4, .ele-anim-spd4 input, .ele-anim-spd4 label{transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out}
/* End Holiday Deals Css */

.owl-controls .owl-buttons div{position:absolute;top:38%;z-index:2;width:40px;height:50px;font-size:0px !important;background:none !important;padding:0;margin:0;opacity:1;}
.owl-controls .owl-buttons div:after{content:'';position:absolute;width:30px;height:30px;border-top:solid #58595b 2px;border-right:solid #58595b 2px;top:10px;}
.owl-controls .owl-buttons .owl-next{right:-45px;}
.owl-controls .owl-buttons .owl-prev{left:-45px;}
.owl-next:after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);left:0;}
.owl-theme .owl-controls{margin:0 0 25px;}
.owl-prev:after{-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg);left:0;}
.owl-theme .owl-controls .owl-page span{width:10px;height:10px;margin:5px;}
.slider-calendar-outer .owl-carousel .owl-wrapper-outer{padding:0;}
.holidays-item-image{max-height:180px !important;overflow:hidden;}
.owl-theme .owl-controls .owl-buttons div.disabled{pointer-events:none;opacity:0.2;}
.flexible-date.show-on-desktop, .flexible-date.show-on-mobile{display:none;}

/* Top Hotels Caurosil */
#TopHolidays{max-width:1140px;width:100%;padding:0;margin:0 auto;}
.deals-slide{background:#fff;margin:10px 3px;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease;text-align:left;width:295px;display:inline-block;vertical-align:top;}
.deals-slide:hover{box-shadow:0 0 14px 0 rgba(0,0,0,0.16);}
.deals-slide .deals-img{position:relative;display:block;}
.deals-slide .deals-left span{display:block}
.deals-slide h3{text-transform:capitalize;text-align:center;position:absolute;display:block;padding:6px 10px;right:0;top:9px;left:0;color:#fff;}
.deals-slide h3 span{color:#fff;font-size:16px;display:inline-block;padding:7px 35px;font-weight:normal;font-family:'proximanova-semibold';}
.deals-slide .deals-left{float:left}
.deals-slide .deals-img{height:196px}
.deals-slide .headerText1 span{background:#9ac854}
.deals-slide .headerText2 span{background:#6e3d7c}
.deals-slide .headerText3 span{background:#cb3544}
.deals-slide .headerText4 span{background:#fbdb3e;color:#6e3d7c;}
.deals-slide .all-inclusive-deal-template{padding:0 20px;background:#fff;transition:all .1s ease-in;-webkit-transition:all .1s ease-in;-moz-transition:all .1s ease-in}
.deals-slide .all-inclusive-deal-template:hover{background:#f2f2f2}
.deals-slide .deals-row{border-bottom:1px solid #f2f2f2;padding:12px 0;}
.deals-slide .deals-left{width:64%}
.deals-slide .deals-left span{margin:0;line-height:15px}
.deals-slide .deals-left .deal-hotel-name{font-size:16px;font-weight:600;color:#58595b;margin:0;font-family:'proximanova-semibold'}
.deals-slide .deals-left .deal-description{font-size:13px;opacity:.6}
.deals-slide .deal-rating .fa-star{color:#fbdb3e;font-size:12px;margin:0 1px}
.deals-slide .view-deal{padding:5px 9px;display:inline-block;width:90px;font-size:15px;line-height:normal;margin:7px 0 0;}
.deals-slide .deals-img h3{padding:6px 10px;margin:0;right:0;top:9px;left:0;}
.deals-slide .deals-img img{height:100%;width:100%;}
.deals-slide .deals-left span{margin:0;line-height:20px}
.deals-slide .deals-left .deal-description,.deals-slide .deals-left .stay{font-size:14px;color:#9b9b9d}
.deals-slide .deals-row, .deals-slide .deals-main-row{overflow:hidden;}
.deals-slide .deals-save{display:none;background-color:#cb3544;text-align:center;font-size:11px;color:#fff;float:right;padding:2px 3px}
.deals-slide .deals-save span{font-weight:bold}
.deals-slide > a:last-child .deals-row{border:none;}
.lgbt-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/lgbt-holidays/lgbt.jpg)}
.christmas-break-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-markets-breaks/christmas-break.jpg)}
.christmas-break-holidays .gaydio,.christmas-break-holidays .blog-content{display: none !important;}
.header-overlay{background:rgba(0,0,0,.1);}

/* FAQ CSS */
.faqs-content{max-width:1140px;margin:50px auto auto;width:100%;}
.faqs-content h2{text-align:left;font-size:21px;text-transform:capitalize;margin-bottom:5px;font-weight:bold;margin-top:20px;}
/* .main-container .faqs-content > div > h2{font-size:17px;text-transform:capitalize;margin-bottom:5px;font-weight:bold;margin-top:20px;} */
.main-container .faqs-content > div.faq-cont > h2{margin-top:40px;font-size:20px;}
.main-container .faqs-content > div.blog-content h2.friendly-holidays{font-size:21px;}
.faqs-content h3{font-size:17px;margin:20px 0 5px;font-weight:600;text-align:left;}
/* .faqs-content h5{font-size:15px;margin-top:15px;font-weight:600;} */
/* .faqs-content p{font-size: 16px;text-align: justify;line-height: 26px;} */
.faqs-content em{font-style:inherit;}
.faqs-content ul{ padding:5px 0 0 25px;}
.faqs-content ul li{list-style:initial;line-height:23px;font-size:16px;}


/**/
.holidays-list .holidays-item{width:277px;margin:12px;position:relative;}
.holidays-list .holidays-item-image{background-color:rgba(0,0,0,0.2);height:196px;overflow:hidden}
.holidays-list .holidays-item-image img{width:100%;height:100%;object-fit:cover}
.holidays-list .multi-hotels{background:#fff;box-shadow:0 1px 2px 0 rgba(0,0,0,0.2)}
.holidays-list .location-label{font-weight:bold;font-size:16px;padding-bottom:4px}
.holidays-list .multi-hotel-row{padding:9px 12px 7px 12px;border-top:solid #d8d8d8 1px;}
.holidays-list .hotel-board-basis{color:#9e9ea0;font-size:13px}
.holidays-list .image-overlay{background-color:rgba(0,0,0,.2)}
.holidays-list .tth-pp{left:0}
.holidays-list .tth-asterisk{right:-3px}
.holidays-list .float-left{line-height:17px}
.holidays-list .txt-nights-option{top:2px;left:6px;position:relative;color:#9e9ea0}
.holidays-list .view-deal{max-width:90px;margin:3px auto auto auto;display:block;padding:3px 11px;}
.holidays-list .all-inclusive-deals-carousel{margin:20px 0 0 0;}
.all-inclusive-deals-carousel-container{margin:0 12px 0 0;}

.lgbt-holidays .gaydio.show-on-desktop{display:block!important;float:right;width:250px;clear:both;margin:10px auto;}

@media(min-width:1180px) {
	.gaydio.show-on-desktop{position:absolute;top:100px;right:0;}
	.mobile-search-container{padding-top:115px;}
}

/* Blogs caurosil Css */
/* .campaign-blog-section .owl-controls{display:none !important} */
/* .campaign-blog-section{margin:60px 0 0;} */
.campaign-blog-section .btn-green, .campaign-blog-section .btn-green:hover{height:36px;background:#9ac854;font-size:15px;width:80%;margin:0 auto;line-height:34px;border:1px solid rgba(255,255,255,.2);color:#fff;display:block;text-align:center;}
.campaign-blog-section .tth-section-label{font-size:26px;font-family:'proximanova-regular'!important;color:#58595b;}
.campaign-blog-section .tth-section-label span{display:inline-block;font-family:'proximanova-semibold'!important;color:#58595b;z-index:10;}
.campaign-blog-section .recent-blog-section{z-index:5;margin:0 auto;}
.campaign-blog-section .owl-carousel .owl-wrapper-outer{overflow:hidden;padding:0 0 15px;width:100%;}
.campaign-blog-section .owl-controls{display:none;}
.campaign-blog-section .recent-blog-section .blog-item{padding:30px 0;box-shadow:none;border:0;width:92%;}
.campaign-blog-section .recent-blog-section .blog-item p.blog-heading{padding:0 30px 7px 30px;}
.campaign-blog-section .recent-blog-section .blog-item strong{padding-bottom:2px;}
.campaign-blog-section .recent-blog-section .blog-item span{font-size:18px;line-height:21px;}
.campaign-blog-section .campaign-blog-img{min-height:164px;}
.lazyloaded, .lazyloading{opacity:1;transition:opacity .3s;}
.campaign-blog-section .recent-blog-section .blog-item p.text-color{font-size:16px;margin-bottom:10px;margin-top:5px;height:70px;line-height:22px;padding:0 30px;}

/* Travel Expert Css*/
.main-container > div.travel-expert{max-width:100%;padding:60px 0 50px;font-style:italic;border-top:solid 1px rgba(183, 183, 183, 0.2);margin:30px auto 0;}
.travel-expert .content-wrapper{max-width:800px;margin:0 auto;width:90%;}
.travel-expert p{font-size:20px;line-height:26px;font-family:'proximanova-semibold';}
.travel-expert .author-info{margin-top:14px;text-align:left;font-family:'proximanova-semibold';font-size:16px;}
.travel-expert .author-info img{width:30px;height:30px;border-radius:100px;}
.travel-expert .author-info span{font-size:16px;padding-left:5px;}



@media(max-width:1600px){
	.lgbt-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/lgbt-holidays/lgbt-l.jpg)}
	.christmas-break-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-markets-breaks/christmas-break-l.jpg)}
}

@media(max-width:1400px){
	.lgbt-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/lgbt-holidays/lgbt-d.jpg)}
	.christmas-break-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-markets-breaks/christmas-break-d.jpg)}
	.deals-main-row>div{width:100%;padding:0}
	.main-container.content-row{margin:0 auto}
	/* .owl-carousel{margin:0} */
	/* .owl-carousel .owl-wrapper-outer{margin:0 -15px} */
	.banner-slogan,.mobile-search-container{width:1290px;max-width:94%}
	.deals-main-row{width:94%;margin:0 auto}
}

@media(max-width:1200px){
	.lgbt-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/lgbt-holidays/lgbt-sd.jpg)}
	.christmas-break-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-markets-breaks/christmas-break-sd.jpg)}
	.mobile-search-container .mobile-search-fields .mega-dropdown-items2{width:100%;max-width:100%;}
	.owl-carousel{padding:0}
	.call-to-book{font-size:26px}
	.call-to-book,.carousel-low-deposit .payMonthly2,.deposit-options{padding-right:30px;margin:0}
	.deals-main-row{margin:0 auto;width:100%}
	.top-season, .content-wrapper{width:84%;margin:0 auto;}
	.top-season>div{padding:0}
	/* .owl-carousel .owl-wrapper-outer{margin:0 -5px} */
	.search-departureAir .twitter-typeahead .tt-dropdown-menu{left:5px;top:77px}
	.mega-dropdown-items2{right:0}
	.mobile-search-container .main-holidays-search{max-width:100%}
	.desc-container .desc-container-inner{width:84%;padding:0;margin:0 auto}
	.low-deposite-box .manydeal-call,.strip-text2{font-size:24px}
	.low-deposite-box .manydeal-call-to-book{font-size:18px}
	.winter-gateway h2{font-size:52px}
	.deals-main-row>div.winter-gateway{width:96%}
	.holiday-types{min-width:365px;}
	.owl-carousel .owl-wrapper-outer{overflow:hidden;}
	/* .main-container > div{max-width:95%;margin:15px auto 50px;} */
/* .all-inclusive-offerscarousel-container{margin:30px -15px} */
	.main-container > div{max-width:80%;}
	.main-container > div.top-hotels{max-width:80%;padding:0;padding:0;overflow:visible;}
}
/*@media(max-width:1199px){
.holiday-types ul{margin:0 !important;display:block;float:none;}
}*/

@media (max-width:1140px){
	/* FAQ's Css */
	/* .faqs-content{padding:70px 40px 0 40px;} */

	/* Holiday Deals Css */
	.hotel-deals .hotel-deals-row-label{padding:0 40px}
	.hotel-deals .hotel-deal-img{height:140px}
	.hotel-deals .hotel-deal-img img{height:100%}
	.hotel-deals .hotel-deal-last{margin-right:0}
	.hotel-deals .gutter{font-size:13px}
	.hotel-deals .viewdeal-btn{margin:6px 0 0 0}
	.hotel-deals .gutter .tth-pp{top:2px}
	.hotel-deals .tth-asterisk{top:7px}
	.hotel-deals .hotel-deals-carousel{margin:0;padding:5px 0 0;}
}

@media(max-width:1024px){
	.main-container > div{max-width:70%;}
	.main-container > div.top-hotels{max-width:70%;padding:0;}
	.owl-carousel .owl-item:nth-child(2n) a {float: right;}

	/* Holiday Deals Css */
	.hotel-deals .hotel-deals-container{margin:0}
	.hotel-deals .content-middle{padding:0 0 0 8%}
	.hotel-deals  .owl-theme .owl-buttons{display:none;}
	.hotel-deals .carousel-caption .deals-info{width:100%;float:none}
	.hotel-deals .price-info{padding:0 0 0 40px}
	.winter-gateway span.success-icon, .winter-gateway label{display:block;margin:0 auto 8px;text-align:center;float:none;}
	.winter-gateway ul label{padding:0;display:block;max-width:100%;}

	/* .main-container{margin:0 auto;max-width:84%;padding:0 80px;} */
	.deals-slide{ width:92%;}
	/* .holiday-types{min-width:270px;} */
	/* .holiday-types:nth-child(2){padding:0 30px;} */
	.places, .fullItems{width:100%;}
	.mobile-input{font-size:13px;}
	.on-img-details{padding:0 3px}
	.low-deposite-box .strip-column-space{margin:0 8px}
	.low-deposite-box .banner-strip-manyof{width:initial}
	.low-deposite-box .manydeal-call{font-size:20px}
	.call-to-book{display:block;padding:0;font-size:32px;margin-bottom:5px}
	.banner-overlay-strip{bottom:68px}
	.strip-text2{font-size:20px;vertical-align:middle}
	.price-decimal{font-size:26px}
	.low-deposite-box .many-of2,.low-deposite-box .manydeal-call .proximanova-bold{display:inline-block}
	.low-deposite-box .manydeal-call,.low-deposite-box .many-of1,.low-deposite-box .many-of2{font-size:20px}
	.low-deposite-box .manydeal-call-to-book{font-size:18px}
	.strip-column-space{margin:0 10px}
	.banner-overlay-strip .low-depst-trust-rating>div.low-depst-trust-logo{max-width:160px}
	.banner-overlay-strip .low-depst-trust-rating>div{width:auto}
	.low-deposite-box .many-of1{display:none}
	.low-deposite-box .strip-column-space{margin:0 40px}
	.opt-footer{padding:60px 0}
	.top-hotels .row{margin:0}
	/* .top-hotels a{width:100%;padding:0} */
	.top-hotels .owl-carousel{margin:0 auto;display:block;}
	.top-season{padding:0 80px}
	.owl-carousel .owl-wrapper-outer{margin:0 auto;padding:5px 0px 18px;overflow:hidden;}
	/* .all-inclusive-offerscarousel-container .owl-item a{width:92%} */
	/* .all-inclusive-offerscarousel-container .owl-item:nth-child(odd) a{float:left;padding-left:2px} */
	/* .all-inclusive-offerscarousel-container .owl-item:nth-child(even) a{float:right;padding-right:2px} */
	.winter-gateway ul{margin:40px 0 0}
	.winter-gateway ul li{padding:0 20px;width:24%;text-align:center}
	.winter-gateway ul label span.txt-bold{font-size:23px;margin:0 0 5px}
	.winter-gateway ul label span{display:block;font-size:17px;line-height:normal;text-align:center;}
	.winter-gateway h2{font-size:44px}
	.winter-gateway h3{font-size:32px}
	.deals-main-row > div.winter-gateway{margin:20px auto 0;width:100%}
	.deals-main-row > div{padding:0}
	.deals-main-row > div.banner-white-strip{padding-top:40px}
	.banner-white-strip img{max-width:124px}
	.fullItems{padding:0}
	.item.col-lg-4{width:50%;padding-left:0}
	.desc-container-inner .guides-sec{padding-left:15px;padding-right:0}
	.desc-container{padding:80px 0 60px}
	.top-season .deals-main-row{padding:0}
	.desc-container .desc-container-inner{width:84%;padding:0 80px}
}


 @media (max-width:991px){
	/* Blogs caurosil Css */
	/* .campaign-blog-section .recent-blog-section .blog-item span{font-size:20px} */
	/* .campaign-blog-section .recent-blog-section .blog-item img{height:124px} */

	/* Holiday Deals Css */
	.hotel-deals .hotel-deals{padding:40px 0 20px 0}

	.space7{display:inline-block;}
	.space1{display:none;}
	.space4{display:inline-block!important}
	.top-season{width:84%;}
	.low-deposite-box .many-of2,.low-deposite-box .manydeal-call{font-size:16px}
	.low-deposite-box .manydeal-call-to-book{font-size:14px}
	.low-deposite-box #showOnTablet,.low-deposite-box .many-of1{display:none}
	.low-deposite-box .many-of2,.low-deposite-box .manydeal-call .proximanova-bold{display:block}
	.low-deposite-box #showOnTablet1{display:inline-block}
	.low-deposite-box .banner-strip-manyof{text-align:center}
	.low-price-row .last-minut-dontmiss{font-size:18px}
	.call-to-book{display:block}
	.mobile-none{display:none}
	.winter-gateway h2{font-size:42px}
	.winter-gateway h3{font-size:28px}
	.winter-gateway ul li{width:50%;max-width:50%;text-align:left;margin-bottom:20px}
	.winter-gateway span.success-icon{float:left;margin:5px 15px 0 0;}
	.winter-gateway{width:84%;margin:0 auto}
	.banner-white-strip{padding:19px 0 11px;margin:0}
	.deals-main-row>div.winter-gateway{width:86%}
	.deals-main-row #happyCustomers,.deals-main-row #ravelExperience,.deals-main-row .space7,.deals-main-row .space2{display:none}
	.low-deposite-box .strip-column-space{margin:0 15px}
	.holiday-types{min-width:270px;width:auto;max-width:245px;}
	.winter-gateway ul label{display:inline-block;margin-top:0;font-weight:300;max-width:80%;}
	.mega-dropdown-wrapper .mega-dropdown-list-right{position:absolute;top:0;right:0}
	.mega-dropdown-wrapper .mega-dropdown-list-left{width:66%}
	.mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{width:33%}
	.mobile-input-button{font-size:18px}
	.elastic-wrapper{padding:0}
	.mega-dropdown-wrapper{min-width:694px}
	.mobile-search-container .main-holidays-search{width:100%;float:none;}
	.mobile-search-fields{display:block;max-width:100%;width:100%;display:flex;}
	.nlsignup .subscribe-frm{width:100%;padding:0 30px}
	.nlsignup .inner-addon{width:40%;padding:13px;}
	.nlsignup .popover-content{padding:10px;}
	.nlsignup .inner-addon:first-child{width:40%}
	.nlsignup .subscribe-frm .col-xs-2{padding:0;width:20%}
	#signupLetter .modal-title{font-size:32px}
	.nlsignup .title-txt{font-size:18px}
	.main-container h2{margin:10px 0 5px}
	.top-season{padding:0;margin:40px auto 0}
	.low-deposite-box .many-of2,.low-deposite-box .manydeal-call .proximanova-bold{display:inline-block}
	.fullItems{width:100%}
	.desc-container .desc-container-inner{padding:0}
	.main-container{padding:0;}
}

@media (max-width:768px){
	.dealAnimation{transform:scale(1.03)}
	.all-inclusive-top-deals-carousel .owl-next,.all-inclusive-top-deals-carousel .owl-prev{top:43%}
	.winter-gateway ul label span{text-align:left;}
	.input-guests-box .mobie-down-arrow{right:15px;}
	#btn-subscribe{padding:23px 0;font-size:17px}
	.lgbt-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/lgbt-holidays/lgbt-t.jpg)}
	.christmas-break-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-markets-breaks/christmas-break-t.jpg)}
	.main-container > div, .main-container > div.top-hotels{max-width:86%;}
}

 @media (max-width:767px){
	 .space4{display:none!important}
	 .banner-white-strip{padding:15px 0 3px;margin:0}
	 .show-on-mobile.gray-strip{display:block !important;}

	/* Blogs caurosil Css */
	.campaign-blog-section .recent-blog-section .blog-item{width:100%}
	.campaign-blog-section .recent-blog-section .blog-item{margin:10px 0}
	.campaign-blog-section .recent-blog-section .blog-list-elements>.blog-item:first-child{margin-left:0}
	.campaign-blog-section .recent-blog-section .blog-list-elements{width:320px;margin:0 auto}

	.aberdeen-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/destHolidaysHub/Images/aberdeen/aberdeen-m.jpg)}
	.main-container>div.desc-container{float:left;}
	/* Holiday Deals Css */
	.main-container h3.place-title{margin:20px 0 5px !important;}
	.hotel-deals .content-header{padding:0 20px 25px 20px;text-align:left}
	.hotel-deals .content-header .title{font-size:24px;font-family:"proximanova-bold";padding-bottom:10px;line-height:26px}
	.hotel-deals .content-header .desc{font-size:15px;font-family:"proximanova-light"}
	.hotel-deals .content-header > div .see-all-txt{display:none}
	.hotel-deals .see-all-btn{border:solid #1cb2c8 1px;font-size:15px;padding:7px 42px 7px 12px;margin-left:20px}
	.hotel-deals .see-all-btn:before{content:'';position:absolute;width:7px;height:7px;border-top:solid #1cb2c8 1px;border-right:solid #1cb2c8 1px;transform:rotate(45deg);top:12px;right:12px}
	.hotel-deals .see-all-btn:after{content:'';height:1px;width:13px;background:#1cb2c8;position:absolute;top:15px;right:12px}
	.hotel-deals .thin-lowdeposit{border-bottom:solid #cccdcd 1px;padding:24px 0 20px 0;margin-bottom:25px;width:100%}
	.hotel-deals .carousel-title{font-size:24px}
	.hotel-deals .carousel-caption{padding-top:5px}
	.hotel-deals .viewdeal-btn{padding:7px 13px}
	.hotel-deals .hotel-deals-price{margin:5px 0 0 0}
	.hotel-deals .hotel-deals-container:hover{box-shadow:0 1px 6px 0 rgba(111, 133, 159, 0.34)}
	.hotel-deals .hotel-deals-container .viewdeal-btn{background:#9ac854;color:#fff}
	.hotel-deals .owl-carousel .owl-wrapper-outer{padding:10px 20px;}
	.hotel-deals .hotel-deals-row-label{padding:0}
	.hotel-deals .price-info{padding:0 0 0 20px;position:relative;top:-5px}
	.hotel-deals .content-middle{padding:0;}

	.deals-slide{display:block;float:none;margin:0 auto 20px;width:100%;}
	.main-container{max-width:100%;}
	.deals-slide .deals-left{width:80%;}
	.deals-main-row>div.banner-white-strip{padding:0;}
	.holiday-types.hotels-list{min-width:inherit;}
	.faqs-content{padding:40px 20px 0 20px;margin:20px auto auto auto;}
	.mobile-dstn-icon, .for-mobile-devices, #newCallus .for-mobile-devices{display:inline-block;}
	.mobile-nghts-value span{display:inline;}
	.input-depart-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value{display:block}
	.for-desktop,.mobile-input,.mobile-option-reset,.dstn-search-history{display:none}
	.input-depart-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value{color:#acacac}
	.input-destingtion-box .mobile-nghts-value.input-item-selected, .input-depart-box .mobile-nghts-value.input-item-selected{color:#58595b;}
	.mobile-adult-cnt,.mobile-children-cnt, .mobile-nghts-value span{font-size:14px;}
	.stop-body-scroll, .all-inclusive-top-deals-carousel .page-builder-row-inner{overflow:hidden}
	.input-depart-box,.input-destingtion-box,.input-guests-box,.mobile-input-button,.popover{width:100%;}
	.mobile-dstn-icon{width:12px;height:17px;background-position:-129px -2px;}
	.banner-slogan{padding-top:68px}
	.slogan-big{font-size:20px}
	.mobile-input-group{float:none;margin:8px 0}
	.mobile-search-fields .clear{clear:both;}
	.input-departing-box,.mobile-input-group-split-2{width:49%}
	.mobile-date-picker,.mobile-input-group,.mobile-stay-for{padding:8px 10px}
	.input-stayfor-box{margin-right:0}
	.mobile-nghts-value span{line-height:inherit;}
	.mobile-search-fields{width:90%}
	.mobile-input-button{min-height:initial;height:initial;padding:10px 0;font-size:20px}
	.mobile-search-container{padding-top:0}
	.mobile-widget-calendar{width:283px}
	.mobile-search-container input[type="text"]{padding:2px 0 0;}
	.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:5px 3px;min-width:36px}
	.mobile-destinations .congratulations-close-icon{top:14px;right:21px}
	.mobie-down-arrow{bottom:12px}
	.input-guests-box .mobie-down-arrow, .mobie-down-arrow{right:17px;}
	.time-price{max-width:96%}
	.search-by-time-price-box{top:40px!important}
	.input-stayfor-box{float:right;}
	.popover{max-width:100%;}
	.all-inclusive-top-deals-carousel .page-builder-row-inner{max-width:98%;}
	.on-img-details{padding:0}
	.input-departing-box{width:50%;}
	/* .content-row{padding:20px} */
	.deals-main-row{padding:0 0 18px}
	.topsellerblockitem{height:auto;max-height:inherit}
	.topseldetails{padding-bottom:15px}
	.all-inclusive-offerscarousel-container .owl-prev{left:2px}
	section{overflow:visible}
	.low-deposite-box #showOnTablet,.low-deposite-box .payMonthly1,.low-deposite-box .s2{display:none}
	.banner-strip-mn>span,.low-depst-trust-rating,.banner-strip-mn>span{display:none!important}
	span.many-of2.show-on-tablet-portrait.txt-bold.txt-green,.low-deposite-box .many-of2{color:#fbdb3e;font-size:14px}
	.low-deposite-box .banner-strip-mn{background:rgba(0,0,0,0.6);position:absolute;bottom:0;width:100%;padding:10px 0}
	.low-deposite-box .manydeal-call,.low-deposite-box .manydeal-call .proximanova-bold{font-size:20px;font-family:'proximanova-regular'!important;color:#fff;font-weight:600}
	.call-now-inner{line-height:normal}
	/*.call-now-inner span{color:#fff;margin:2px 0 0 0;float:left}*/
	.content-wrapper{width:100%;padding:0 20px;margin:10px auto;}
	.deals-main-row>div,.deals-main-row>div.top-hotels,.deals-main-row>div.tending-deal-heading,.deals-main-row>div.carousel-low-deposit{padding:0 20px;margin:0 auto}
	.deals-main-row>div.carousel-low-deposit{display:none}
	.deals-main-row>div.tending-deal-heading,.deals-main-row>div.main-container{width:100%;padding:5px 20px}
	.deals-main-row>div.main-container{padding:15px 20px 5px 20px}
	.deals-main-row>div.top-hotels,.deals-main-row>div.tending-deal-heading,.deals-main-row>div.carousel-low-deposit{width:100%}
	.winter-gateway h2{font-size:28px;line-height:30px}
	.winter-gateway .trust-pilot{border-top:solid 1px rgba(151, 151, 151, 0.2);}
	.winter-gateway h3{font-size:24px;line-height:normal;margin:10px 0 0 0}
	.winter-gateway ul label span.txt-bold{font-size:20px;margin:0}
	.winter-gateway ul label span{font-size:16px}
	.winter-gateway ul{margin:20px 0 0}
	.winter-gateway ul li{margin:0 0 5px 0;padding:0}
	.deals-main-row>div.winter-gateway{padding:20px 30px;margin:20px auto 0}
	.winter-gateway{margin:20px auto 0;width:100%;padding:0 40px}
	.tending-deal-heading{margin:0 0 15px}
	.tending-deal-heading h2{font-size:20px;margin:25px 0 0}
	.top-hotels a{display:block!important;width:100%;padding:0!important;margin:0 0 20px}
	.low-deposite-box .manydeal-call-to-book{display:none}
	.opt-footer{padding:0;background:none;}
	.holiday-types{margin-bottom:20px}
	.holiday-types{min-width:auto;width:100%;display:table;max-width:100%;}
	.footer-links{margin:0;padding:20px;background:rgba(242, 242, 242, 0.5);}
	.holiday-types h2{font-size:14px;margin:0;idth:45%}
	.holiday-types-links{width:55%;padding-left:15px;}
	.holiday-types ul{width:auto;padding:0;float:none}
	.holiday-types h2,.holiday-types-links{display:table-cell}
	.holiday-types ul li{line-height:23px}
	.mobile-search-container{padding-top:0}
	.mobile-input-button,.mobile-input-group-split-2,.mobile-input-group{max-height:46px;min-height:46px;padding:2px 10px}
	.mobile-search-fields{box-shadow:none}
	.mobile-search-container .main-holidays-search{width:100%;margin:27px auto 0;float:none}
	.banner-slogan{text-align:left}
	/* .slogan-big{font-size:20px} */
	.slogan-small{font-size:14px;background:none;padding:0;}
	.homepage .search-holiday-wrapper,.mobile-option-reset,.search-history,.mobile-input,.for-desktop{display:none}
	.dstn-search-history{display:none}
	.mobile-carousel-nav,.input-depart-box .mobile-nghts-value,.input-destingtion-box .mobile-nghts-value,.mbl-click-callus{display:block}
	.for-mobile-devices{display:inline-block}
	.input-destingtion-box,.input-depart-box,.input-guests-box,.mobile-input-button{width:100%;max-width:100%}
	.mobile-search-fields .clear{clear:both}
	.mobile-input-group{margin:3px 0;float:none}
	.mobile-input-group-split-2{width:71%}
	.input-stayfor-box{width:27.8%;margin-right:0}
	.mobile-nghts-value{min-height:initial;line-height:initial}
	.mobile-children-cnt,.mobile-nghts-value,.mobile-adult-cnt{font-size:15px}
	.input-item-selected{color:#58595b}
	.mobile-input-group{padding:3px 20px 0}
	.mobile-stay-for{padding:3px 0 0}
	.mobile-date-picker{padding:0 10px}
	.margin-right1{margin:0 1% 0 0}
	.mobile-children-cnt{display:inline}
	.mobile-search-fields{width:100%;max-width:100%;display:block;}
	.mobile-input-button{min-height:initial;height:initial;padding:10px 0;font-size:20px;box-shadow:0 6px 6px 0 rgba(0,0,0,0.24),0 0 6px 0 rgba(0,0,0,0.12);margin:0}
	.mobile-search-container{height:auto;padding:0;width:100%;float:none}
	#searchBanner{height:500px;padding:0}
	.mobile-widget-calendar{width:288px}
	.mobile-input,.mobile-nghts-value,.place-holder-text{padding:0}
	.noflightsavailable{top:-4px;left:21px}
	.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td{min-width:37px;padding:3px 0 3px 0}
	.mobile-destinations .congratulations-close-icon{top:14px;right:21px}
	.stop-body-scroll{overflow:hidden}
	.deals-main-row{min-height:auto;width:100%;margin:0 auto;padding:0}
	.mobie-calendar-icon{bottom:11px}
	.input-destingtion-box,.input-depart-box,.input-guests-box,.mobile-input-button{width:100%}
	.elastic-wrapper{padding:0 18px}
	.input-destingtion-box:after,.stay-trigger:before,.input-depart-box:before,.calendar-trigger:before{display:none}
	.mega-dropdown-wrapper .mega-dropdown-list-right{border-top:solid #f2f2f2 1px;border-left:none;padding-left:0;padding-top:25px}
	.mega-dropdown-wrapper .mega-dropdown-list-right,.mega-dropdown-wrapper .mega-dropdown-list-left,.mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{max-width:90%;width:100%}
	.mega-dropdown-wrapper .mega-dropdown-list-left,.mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{float:none}
	.mega-dropdown-wrapper .mega-dropdown-list-left,.mega-dropdown-wrapper .mega-dropdown-list-right{display:block}
	.mega-dropdown-wrapper{top:-326px}
	.mega-dropdown-wrapper .mega-dropdown-list-left,.mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section{margin-top:30px}
	.mega-dropdown-wrapper .mega-dropdown-list-left,.mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section:first-child{margin-top:0}
	.theme-footer-social .theme-footer-social-icons,.theme-footer-social ul li a .fa-rss,.theme-footer-social ul li a .fa-facebook{left:initial}
	.time-price{max-width:96%}
	.search-by-time-price-box{top:40px}
	.mobile-widget-guests .mobile-ngts-label{padding:0}
	#destredirectlnk ul li a{font-size:11px}
	.mobile-calendar-btns{margin-bottom:7px}
	.mobile-calendar{padding-bottom:6px}
	.mobile-calendar-header{padding:11px 15px 16px 14px}
	.mobile-widget-header,.mobile-widget-footer{padding:10px 0}
	.mobile-widget-header{margin:0 !important;}
	.mobile-persona-label{padding-bottom:8px}
	.mobile-ngts-container{padding:3px 0 0 0}
	.mobile-widget-overlay,.mobile-widget-stayfor,.mobile-widget-guests{width:210px}
	.datepicker-switch{min-width:175px}
	.mobile-search-container:before{display:none}
	.flexible-date{bottom:5px;left:90px;min-height:25px}
	.flexible-date span{padding-top:2px}
	.non-scrollable .nlsignup,.nlsignup .inner-addon:first-child,.nlsignup .inner-addon,.nlsignup .subscribe-frm .col-xs-2{width:100%}
	#btn-subscribe{margin-top:0;padding:13px 0}
	.nlsignup .inner-addon:before{font-size:14px}
	.nlsignup .inner-addon{padding:8px 20px;line-height:20px;height:54px}
	.non-scrollable .nlsignup{box-shadow:none}
	.nlsignup .inner-addon .fa{display:none}
	.nlsignup{max-width:100%;margin:20px 0 0}
	.subscribe-frm .fa-3x{font-size:14px}
	.nlsignup span.close--icon,.subscribe--header,.nlsignup .title-txt{display:none}
	#signupLetter .modal-title{font-size:28px;padding:0;margin:0 auto 20px;line-height:normal}
	.nlsignup .row.subscribe-frm .popover{position:absolute;top:auto;left:0;bottom:-40px}
	.gray-background{padding:0;}
	span.bold,.module3-customer-review .strip-spread-main>span.bold{font-family:'proximanova-semibold'!important}
	.customer-review-section .content img{max-width:320px;width:100%}
	.customer-review-section{padding:15px 0 25px;display:block}
	.customer-review-section p{line-height:normal;font-size:26px;letter-spacing:-0.3px;font-family:'proximanova-regular'!important}
	.customer-review-section ul{background:0}
	.customer-review-section ul li.active{background:#73b143}
	.customer-review-section ul li{float:left;border-radius:3px;list-style:none;-webkit-border-radius:3px;-moz-border-radius:3px;margin-right:2px;background:#d8d8d8}
	.customer-review-section ul li span{background-position:-327px -50px;width:40px;height:40px;display:block;}
	.customer-review-section .review-rating>ul,.customer-review-section .review-rating>span{display:inline-block;vertical-align:middle}
	.customer-review-section .review-rating>span{font-size:48px;font-weight:bold;letter-spacing:-0.3px;padding:0 0 0 5px}
	.customer-review-section .content img,.module1-customer-review .review-rating{margin:10px 0 0 0}
	.mbl-banner-strip{min-height:40px;display:table;padding-top:15px;padding-bottom:15px;background:#fff;max-width:90%;width:100%;margin:0 auto}
	.strip-spread-main{margin:0 1%;display:table-cell}
	.strip-label-common{margin:0 0 0 1%;font-size:22px;line-height:1.1}
	.strip-label-common span{display:block}
	.strip-common-icon,.strip-label-common,.strip-label-common span.strip-desposit-price{display:inline-block}
	.strip-common-icon{width:30px;height:30px}
	.strip-spread-icon{background-position:-367px -129px;}
	.strip-lowdeposit-icon{background-position:-328px -129px;}
	.strip-atol-icon{background-position:-243px -129px;}
	.module1-customer-review .content{max-width:80%;margin:0 auto}
	.module2-customer-review{padding:20px 0}
	.module2-customer-review .content{display:table;width:100%;overflow:hidden}
	.module2-customer-review .review-rating>span{font-size:30px}
	.module2-customer-review .right-module,.module2-customer-review .left-module{width:50%;float:none;display:table-cell;vertical-align:middle}
	.module2-customer-review .right-module{padding:0 0 0 15px}
	.module3-customer-review .strip-spread-main{text-align:left;margin:0 0 30px 0;width:100%;display:table}
	.module3-customer-review .strip-spread-main:last-child{margin:0}
	.module3-customer-review .content{display:table;width:100%}
	.module3-customer-review .content>div.left-module{padding:0 4% 0 0;width:55%;vertical-align:top}
	.module3-customer-review .content>div.right-module{border-left:1px solid #ccc;padding:0 0 0 5%}
	.module3-customer-review .strip-spread-main>span,.module3-customer-review .strip-spread-main>label{display:table-cell;vertical-align:middle;padding:0 0 0 10px;color:#59595b;font-family:'proximanova-light'!important}
	.module3-customer-review .review-rating{margin:20px 0}
	.module3-customer-review{padding:15px 0 20px}
	.deals-main-row .module2-customer-review p{line-height:normal;font-size:20px}
	.strip-common-icon{height:44px;width:43px}
	.holidays-item{width:100%;padding:0}
	.main-container h2{margin:0 0 5px 0; font-weight:bold;}
	.main-container .faqs-content > div > h2{margin:20px 0 5px;font-size:17px;}
	.main-container .faqs-content div div h2{font-size:18px;margin-bottom:5px;}
	.winter-gateway h3{width:72%;margin:0 auto}
	.winter-gateway h2{width:72%;margin:0 auto 15px}
	.desc-container{padding:40px 0 0;margin:0;}
	.desc-container .desc-container-inner{padding:0 20px;width:100%}
	.place-caption,.place-caption.bottom-to-top{background:0;/*padding:25px 0 0;*/padding:0;overflow:hidden}
	.places,.fullItems,.places:hover{max-width:100%;padding:0;width:100%;box-shadow:none;background:none;min-height:inherit;}
	.places-image.explore-image,.place-caption,.places:hover .right-to-left{width:100%;position:inherit;left:0;top:0;max-width:100%;height:auto;background:none;min-height:inherit;}
	.explore-image img,.places-image img{height:auto}
	.places-readmore{display:none}
	.item.col-lg-4{width:100%;padding:0}
	.fullItems .read-more{max-height:inherit}
	.explore-image{height:auto}
	.place-image,.places:hover .place-image{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
	.read-more{max-height:inherit}
	.deals-main-row p{margin:0}
	/* .main-container.content-row{padding:20px} */
	.main-container > div{padding:0;margin:20px auto 0;max-width:86%;overflow:hidden;display:block;width:100%;}
	.main-container > div.travel-expert{padding:20px 0;}
	.all-inclusive-offerscarousel-container{margin:0;}
	.low-deposite-box .manydeal-call a{color:#fff}
	.customer-review-section .trust-pilot{width:240px;height:32px;background-position:-157px -181px;}
	.banner-slogan{padding-left:20px;max-width:100%;}
	.mobile-search-container{max-width:100%;padding:0 20px;}
	.hotel-deals .owl-theme .owl-controls{display:none;}
	.winter-gateway span.success-icon{margin:5px 10px 0 0;}
	.winter-gateway span.success-icon{width:24px;height:22px;background-position:-251px -63px;}
	.flexible-date.show-on-mobile{display:block;position:relative;bottom:auto;margin-top:3px;color:#58595b;background:#fff;font-size:12px;padding:9px 10px;width:100%;left:0;}
	.flexible-date{display:none;}
	.holiday-types:nth-child(2){padding:0 !important;}
	.deals-slide .all-inclusive-deal-template{padding:0 9px;}
	.deals-price{margin:0 4px 0 0;}
	/**/
	.holidays-list .view-deal{padding:5px 9px;}
	.top-hotels .holidays-item{box-shadow:none;}
	.desc-container{background:transparent;}
	.all-inclusive-deals-carousel-container{margin:0;}
	/* .faqs-content div div h2{margin:40px 0 10px 0;}	 */

	.owl-controls .owl-buttons div:after{width:20px; height:20px;}
	.owl-controls .owl-buttons .owl-prev{left:-30px;}
	.campaign-blog-section .recent-blog-section{width:75%;}
	.lgbt-holidays .gaydio.show-on-mobile{position:absolute;top:-75px;right:10px;width:140px;display:block!important;}
	.lgbt-holidays .gaydio.show-on-desktop{display:none!important;}
}

@media(max-width:640px){
	.lgbt-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/lgbt-holidays/lgbt-m.jpg)}
	.christmas-break-holidays{background:url(https://resources.teletextholidays.co.uk/drupal/images/christmas-markets-breaks/christmas-break-m.jpg)}
}

@media(max-width:639px){
	.winter-gateway ul li{width:100%;max-width:100%}
	.winter-gateway ul{display:inline-grid}
	.deals-main-row > div.winter-gateway{width:90%}
	.customer-review-section .content img{max-width:250px}
	.customer-review-section ul li span{width:31px;height:31px;background-size:initial;background-position:-370px -54px;}
	.customer-review-section .review-rating>span{font-size:24px;line-height:normal}
	.strip-label-common{font-size:15px;line-height:1.2}
	.module1-customer-review p{font-size:16px;line-height:17px}
	.module2-customer-review .review-rating>span{font-size:20px}
	.module2-customer-review p{font-size:16px}
	.module2-customer-review br{display:inline-block}
	.module2-customer-review .left-module{width:51%}
	.module2-customer-review .right-module{width:48%;padding:0}
	.module3-customer-review .strip-spread-main{margin:0 0 8px 0}
	.module3-customer-review .content>div.left-module{padding:0 3% 0 0}
	.module3-customer-review .review-rating{margin:10px 0}
	.subscribe--description{font-size:16px}
}

@media(max-width:480px){
	.customer-review-section .content img{max-width:210px}
	.module1-customer-review ul li span{width:23px;height:23px;background-size:initial;background-position:-61px 1px}
	.customer-review-section .content img,.module1-customer-review .review-rating{margin:5px 0 0 0}
	.strip-label-common{font-size:12px}
	.strip-atol-icon{background-position:-144px -62px;}
	.strip-spread-icon{background-position:-184px -62px}
	.strip-lowdeposit-icon{background-position:-164px -62px}
	.module2-customer-review .content img{max-width:140px!important}
	.module2-customer-review ul li,.module2-customer-review ul li span{width:14px;height:14px}
	.module2-customer-review p{font-size:15px}
	.module2-customer-review .left-module{width:46%}
	.module2-customer-review .right-module{width:53%}
	.module2-customer-review .review-rating>span{font-size:12px;padding:0;}
	.module3-customer-review .strip-spread-main>span,.module3-customer-review .strip-spread-main>label{font-size:13px}
	.module3-customer-review .content>div.left-module{padding:0;width:50%}
	.deals-main-row .customer-review p{font-size:12px;text-align:center}
	.strip-common-icon{width:22px;height:23px}
	.strip-common-icon.sprite-image{background-position:-240px -293px;width:25px;height:25px;background-size:600px}
	.module2-customer-review ul li span{background-position:-381px -91px;}
	.winter-gateway h3{width:100%;margin:0 auto}
	.winter-gateway h2{width:100%;margin:0 auto 15px;line-height:36px;}
	.winter-gateway h3 a{display:inline}
	.customer-review-section .trust-pilot{width:124px;height:20px;background-position:-203px -11px;}
	.deals-slide .deals-left{width:63%;}
	.deals-slide h3 span{padding:7px 30px;}
	/* .campaign-blog-section{margin:20px 0 0;} */
	.opt-footer{margin:20px 0 0;}
}

@media(max-width:375px){
	.all-inclusive-top-deals-carousel .owl-next,.all-inclusive-top-deals-carousel .owl-prev{top:32%;}
	.mobile-search-container{background-position:-118px 0}
	.mobile-ngts-container{padding:10px 0 0}
	.mobile-widget-guests .mobile-ngts-label{padding:0}
	.mobile-persona-label{padding-bottom:15px}
	.mobile-widget-calendar{width:275px}
	.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding:3px 0;min-width:35px}
	.paraTitle.tth-section-label{font-size:24px;}
	.module2-customer-review p{font-size:13px}
	.strip-label-common{margin:0;font-size:10px}
	.module2-customer-review .left-module{width:49%}
	.module3-customer-review .strip-spread-main>span,.module3-customer-review .strip-spread-main>label{font-size:11px}
	.module3-customer-review .content>div.left-module{padding:0 2% 0 0;width:53%}
	.module3-customer-review .content>div.right-module{width:45%}
	.strip-common-icon.sprite-image{background-position:-230px -283px;background-size:580px}
	.gaydio.show-on-mobile{width:108px;top:-80px;}
}

@media(max-width:320px){
	.mobile-calendar{padding-bottom:6px}
	.mobile-calendar-header{padding:11px 15px 16px 14px}
	.mobile-widget-calendar{width:288px}
	.mobile-widget-footer,.mobile-widget-header{padding:10px 0}
	.mobile-persona-label{padding-bottom:8px}
	.mobile-ngts-container{padding:3px 0 0}
	.mobile-widget-guests,.mobile-widget-overlay,.mobile-widget-stayfor{width:210px}
	.table-condensed>thead>tr>th.datepicker-switch{min-width:175px}
	.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{min-width:37px}
	.slogan-big{font-size:18px}
}
