.non-critical-css {
  display:block;
}
.banner-min-height {
  min-height:initial;
}
#back-to-top {
  display:none;
}
img{max-width:100%;}
/* Common components */
/* Variables and Mixins are in Control.scss file */
@import '../../variables';
@import '../../mixins';
//@import '../../control';
@import '../../bootstrap';
@import '../../new-header';
@import '../../new-header-mobile';
@import '../../sidemenu';
@import '../../login-signup';
@import '../../mega-menu';
@import '../../newsletter';
@import '../../footer';
//@import '../../calendar';
//@import '../../calendar-dd';
//@import '../../adults-childs';
//@import '../../selectric';
@import '../../accordion';
//@import '../../fonts';
//@import '../../tth-fonts';
@import '../../cookies-banner';
@import '../../on-scroll-popup';

/* From Homepage Remain CSS */
@import '../../hp-banner-images';
@import '../../search-form';
@import '../../wild-search';
@import '../../top-deals';
@import '../../winter-deals';
@import '../../ratings';
@import '../../deals';
@import '../../hp-reviews';
@import '../../timer';
@import '../../slider-calendar';
@import '../../legends';
@import '../../interstitial';
@import '../../vote';
@import '../../back-to-top';
@import '../../old_feedback';
@import '../../IE-Edge';
//@import '../../banners-footer-strip.scss';
//@import '../../hp_override.scss';


@media(max-width:1200px) {
  a.top-nav-cheap-holidays {
    display:none;
  }
}


.grid-search {
  &.ab-testing {
    .mega-dropdown-wrapper {
      //min-height:inherit;
      .mega-dropdown-list-right {
        border:none;
        min-height:inherit;
        max-width:inherit;
        min-width:inherit;
        width:25%;
        padding: 0 0 20px 0;
      }
      .mega-dropdown-list-left {
        width:75%;
      }
      .mega-dropdown-bottom-text {
        display:inline-block;
        margin:-10px 0 0 0;
      }
    }
    .mega-dropdown-list {
      overflow:hidden;
    }
    .mega-dropdown-list-section {
      min-height:185px;
      width:33.33333333333333%;
    }
    @include breakpoint(portrait-tablet) {
      .mega-dropdown-wrapper {
        .mega-dropdown-list-left {
          width:66.66666666666667%;
          .mega-dropdown-list-section {
            width:50%;
          }
        }
        .mega-dropdown-list-right {
          width:33.33333333333333%;
        }
      }
    }
  }
}

.common-icons {
  @include common-icons-v2();
}
/*.homepage-icons {
 @include homepage-icons();
}*/
.sidemenu-sprite {
  @include sidemenu-sprite();
}
.footer-icons {
  @include social-icons();
}
.w-100 {
  width:100%;
}
.banners-footer-strip .favourite-group span.line-box {
    max-width:40px;
    max-height:40px;
}
.banners-footer-strip .favourite-group span.line-box.low-deposit-icon{
  max-width:44px;
}
.banners-footer-strip .feefo-logo{width:82px;}
