/* Sunshine Banners */
.sunshine-banners {
    height:60px;
}
@media (max-width: 767px) {
    .sunshine-banners {
        top:-1px;
        height:inherit;
    }
}

.from-rate {
    background-color: rgba(0, 0, 0, .5);
    padding: 0 9px;
    display: inline;
    float: right;
    font-size: 13px;
    color: #ececec
}

.from-rate span {
    font-size: 22px;
    color: #fff;
    font-weight: 600
}

.deals-right {
    float: left;
    width: 30%;
    font-size: 14px;
    color: #886093;
    text-align: right
}

.deals-right .price {
    font-weight: 700;
    font-size: 14px;
    color: #886093
}

.deals-right sup {
    font-size: 19px;
    top: 0
}

* {
    margin: 0;
    padding: 0
}

.mobile-tick-box-fill,
.timepopup-close button,
.datepicker table tr td.enabledDates.disabled,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.tt-dataset-airports,
.tt-dataset-airports div,
.tt-dataset-destinations,
.tt-dataset-destinations div,
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover,
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover,
.mobile-dstn-header input,
.mobile-ngts-count {
    background: 0
}

.mega-dropdown-list-right .mega-dropdown-section-header,
.mobile-widget-footer,
#inpPrice,
.lblhotelname,
.paraTitle,
.tt-dropdown-menu .most-popular-list {
    font-weight: 700
}

.banner-slogan,
.terms-conditions,
.haul-offer-slide,
.lblreviewnum,
.lblhotelname,
.offerimgblk img,
.deals-img img,
.on-image-text-div,
.all-inclusive-img-slide img,
.all-inclusive-img-slide,
.search-by-time-price-box,
.mega-dropdown-items1,
.mega-dropdown-wrapper,
.mega-menu-wrapper,
.datepicker table tr td.today.disabled:before,
.datepicker-inline,
.mobile-search-fields,
.mobile-dstn-header input,
.mobile-calendar-wrapper,
.mobile-guests-wrapper,
.mobile-stayfor-wrapper,
.topsellerblockitem,
.input-depart-box .twitter-typeahead,
.input-destingtion-box .twitter-typeahead,
.mobile-destinations,
.haul-image-text-div,
.haul-offer-slide img,
.mobile-search-container input[type="text"],
.mobile-nghts-value {
    width: 100%
}

.slogan-big,
.slogan-small,
.haul-on-img-details h4,
.haul-on-img-details,
.haul-image-text-div,
.price-box-active,
.search-price-box:hover,
.deals-img h3 span,
.deals-img h3,
.on-img-details h3,
.on-img-details,
.on-image-text-div,
.datepicker table tr td.enabledDates,
.datepicker table tr td.active,
.datepicker table tr td.active.enabledDates,
.mobile-search-validation,
.table-condensed .next,
.table-condensed .prev,
.enabledDates,
.mobile-dstn-header input,
.mobile-widget-footer,
.mobile-input-button {
    color: #fff
}

::-webkit-input-placeholder,
input:-ms-input-placeholder {
    color: #a9a9a9
}

.mobile-calendar-btn-clear,
.mobile-input-group,
.mobile-input-group-split-2,
.mobile-legends-item,
.tth-col-md-4,
.haul-offer-slide,
.search-price-box,
.last-minute-search-right,
.last-minute-search-left,
.timepopup-tittle,
.spanPrice,
.spanTime,
.itematol,
.itemhappy,
.deals-left,
.call-us-txt,
.datepicker table tr td span,
.mobile-flexible-label,
.mobile-tick-box,
.all-inclusive-img-slide {
    float: left
}

.last-minute-search-btm-row input,
.timepopup-close,
.mega-dropdown-list-right {
    float: right
}

.mobile-input-label,
.last-minute-search-btm-row input {
    color: #9ac854
}

.mobile-calendar-btn-clear,
.mobile-input,
.mobile-nghts-value,
::-moz-placeholder,
::-ms-input-placeholder,
::-webkit-input-placeholder,
.last-minute-radio-box label,
.timepopup-close,
.lblhotelname,
.lblreviewnum,
.deals-left .deal-description,
.deals-left .deal-hotel-name,
.content-row,
.datepicker table tr td.enabledDates.disabled,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.tt-dataset-destinations,
.tt-dataset-hotels,
.tt-dropdown-menu .most-popular-list,
.tt-suggestions div.tt-suggestion p,
.mobile-search-noresult,
.mobile-ngts-count {
    color: #58595b
}

.mega-dropdown-bottom-text,
.mega-dropdown-list-right .mega-dropdown-section-header:hover,
.spanDefaultDest:hover,
.spanMostPopDest:hover {
    color: #58595b!important
}

.mobile-input-label,
.lblhotelname,
.deals-img h3 span,
.mega-dropdown-bottom-text,
.mobile-calendar-btn-clear,
.mobile-flexible-label,
.mobile-input {
    font-size: 14px
}

.mibile-instruction-text span,
.mobile-input-button,
.mobile-ngts-label,
.mobile-persona-label,
.mobile-widget-footer,
.mobile-widget-header,
.txt-center,
.happy-customer-inner,
.search-price-box-any,
.search-price-box,
.lblHoteldesc,
.topseldetails,
.lblhotelname,
.lblreviewnum,
.all-inclusive-deals-carousel .owl-item,
.price-condition,
.deals-img h3,
.fantastic-hotels,
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th,
.owl-next,
.owl-prev,
.mobile-btn-minus,
.mobile-btn-plus {
    text-align: center
}

.mobile-input-group,
.mobile-input-group-split-2,
.last-minute-search-btm-row input,
.includeflights,
.deals-row,
.deals-slide,
.time-price,
.mega-dropdown-wrapper,
.mobile-dstn-header .congratulations-close-bar1:hover,
.mobile-dstn-header .congratulations-close-bar2:hover,
.mobile-dstn-header .congratulations-close-bar1,
.mobile-dstn-header .congratulations-close-bar2,
.mobile-destinations,
.mobile-widget-calendar,
.mobile-widget-guests,
.mobile-widget-stayfor {
    background: #fff
}

.mobile-input-label {
    font-family: proximanova-semibold!important
}

.last-minute-search-title,
.lblHoteldesc,
.lblhotelname,
.deals-row,
.time-price,
.dstn-search-history a,
.mobile-ngts-container,
.mobile-widget-guests,
.mobile-widget-stayfor {
    overflow: hidden
}

.banner-slogan,
.terms-conditions,
.happy-customer-inner,
.all-inclusive-top-deals-carousel .page-builder-row-inner,
.lblhotelname,
.all-inclusive-hotels-list .owl-wrapper,
.all-inclusive-hotels-list,
.main-holidays-search,
.all-inclusive-deals-carousel-container,
.deals-img h3,
.time-price,
.mega-dropdown-items1,
.mega-dropdown-wrapper,
.mibile-instruction-text,
.mobile-search-fields,
.mobile-widget-calendar,
.mobile-widget-guests,
.mobile-widget-overlay,
.mobile-widget-stayfor {
    margin: 0 auto
}

.datepicker table tr td.today.disabled,
.dstn-search-history-icon,
.mobile-btn-minus,
.mobile-btn-plus,
.mobile-search-container,
.mobile-search-fields,
.mobile-widget-calendar,
.table-condensed .next:before,
.table-condensed .prev:before,
.couples-header .banner-slogan,
.last-minute-search-radio,
.last-minute-radio-box,
.offerimgblk,
p.price-condition span,
.deals-img,
.all-inclusive-img-slide,
#commonHeaderD,
.all-inclusive-header,
.input-depart-box .tt-dataset-airports,
.tt-dropdown-menu .most-popular-list,
.input-destingtion-box .tt-dataset-destinations,
.low-deposit-header,
.haul-offer-slide,
.last-minute-search-price-pp,
.last-minute-search-price {
    position: relative
}

.haul-on-img-details,
.haul-image-text-div,
.last-minute-search-active-radio,
.last-minute-radio-box label,
.deals-img h3,
.on-img-details,
.on-image-text-div,
.invalidMsgSearch:before,
.time-price,
.bgnd-video,
.bgnd-video-frame:before,
.datepicker table tr td.today.disabled:before,
.mobile-search-fields .owl-controls,
.mobile-search-validation,
.mobile-search-validation:before,
.owl-next,
.owl-prev {
    position: absolute
}

#back-to-top,
.search-by-time-price-box,
.mobile-calendar-wrapper,
.mobile-destinations,
.mobile-guests-wrapper,
.mobile-stayfor-wrapper,
.mobile-widget-overlay,
.mobile-widget-overlay-layer {
    position: fixed
}

.dinline,
.dstn-search-history-icon,
.feefo-logo1,
.feefo-logo2,
.mobile-dstn-label,
.mobile-legend-fill1,
.mobile-legend-fill2,
.mobile-legend-label,
.mobile-legend-ouline,
.mobile-tick-box,
.conditions-title,
.last-minute-search-btm-row span,
.under-with-price,
.search-price-tick-on,
.last-minute-search-radio,
.deals-img h3 span,
.deals-slide,
.mega-dropdown-bottom-text,
.owl-next,
.owl-prev {
    display: inline-block
}

.mega-dropdown-wrapper .mega-dropdown-list-right,
.star-rating {
    display: table
}

#back-to-top,
.invalidMsgSearch,
.search-by-time-price-box,
.back-to-top,
.date-key,
.for-mobile-devices,
.hp-location-wrapper,
.hp-locations-overlay,
.input-depart-box .mobile-nghts-value,
.input-destingtion-box .mobile-nghts-value,
.key,
.mobile-calendar-wrapper,
.mobile-depart-list-wrapper,
.mobile-destinations,
.mobile-dstn-list-wrapper,
.mobile-guests-wrapper,
.mobile-search-noresult,
.mobile-search-validation,
.mobile-stayfor-wrapper,
.mobile-widget-overlay,
.mobile-widget-overlay-layer,
.search-price-tick,
#newCallus .for-mobile-devices,
.isVisible,
.page-builder-element-title,
.page-header-inner,
.CloseSearch,
.recent-searches,
.mobile-date-summery {
    display: none
}

.haul-image-text-div,
.haul-offer-slide img,
.last-minute-search-left,
.offerimgblk img,
.deals-img img,
.on-image-text-div,
.datepicker table tr td.today.disabled:before,
.mobile-depart-list-wrapper,
.mobile-dstn-item,
.mobile-dstn-list-wrapper {
    height: 100%
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestions>p,
.tt-dataset-destinations p,
.tt-empty-template,
.tt-suggestion {
    margin: 0 0 5px 0
}

.banner-overlay-strip {
    bottom: 67px
}

.banner-slogan {
    padding-top: 160px
}

.slogan-big {
    background: rgba(0, 0, 0, 0.3);
    padding: 4px 15px;
    display: table;
    font-size: 34px
}

.slogan-small {
    background: rgba(0, 0, 0, 0.3);
    padding: 4px 15px;
    margin: 1px 0 0 0;
    overflow: hidden;
    display: table;
    font-size: 22px
}

.tt-suggestion {
    min-width: 300px
}

.bookthis-container {
    display: none
}

.mobile-legend-label {
    font-size: 12px
}

.mobile-search-container {
    padding-top: 108px;
    z-index: 33;
    float: none;
    margin: 0 auto
}

.mobile-input-group,
.mobile-stay-for {
    padding: 9px 10px
}

.mobile-date-picker {
    padding: 9px 10px 0 10px
}

.mobile-tick-box {
    width: 17px;
    height: 17px;
    border: 2px solid #9bc95a;
    top: 2px;
    background: #9bc95a
}

::-webkit-input-placeholder {
    color: #a9a9a9
}

.mobile-flexible-label {
    top: 1px;
    padding-left: 10px
}

.mobile-tick-mark {
    width: 6px;
    height: 10px;
    border-right: solid #fff 2px;
    border-bottom: solid #fff 2px;
    transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    -o-transform: rotate(38deg);
    -ms-transform: rotate(38deg);
    -webkit-transform: rotate(38deg);
    top: 0;
    left: 4px
}

.mobile-search-container input[type="text"],
.mobile-nghts-value {
    height: auto
}

button:focus,
input:focus {
    box-shadow: none;
    outline: 0
}

.mobie-down-arrow {
    border-bottom: solid #58595b 1px;
    border-right: solid #58595b 1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 34px;
    right: 14px;
    width: 8px;
    height: 8px;
    border-bottom: solid #58595b 1px;
    border-right: solid #58595b 1px
}

.mobile-option-reset {
    width: 17px;
    height: 17px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    top: 10px;
    right: 16px
}

.datepicker table tr td span,
.datepicker-switch,
.day,
.input-guests-box,
.mobile-btn-minus,
.mobile-btn-plus,
.mobile-calendar-btn-clear,
.mobile-flexible,
.mobile-input-group .twitter-typeahead,
.mobile-input-group-split-2,
.mobile-option-reset,
.mobile-widget-footer,
.next,
.prev {
    cursor: pointer
}

.mobie-close-icon1,
.mobie-close-icon2 {
    border-right: solid #58595b 1px;
    height: 9px;
    top: 3px;
    left: 7px
}

.mobie-close-icon2 {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.mobie-close-icon1 {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.mobile-input-button {
    padding: 10px 0 9px;
    border: 0;
    width: 136px;
    min-height: 72px;
    margin-top: 0;
    font-size: 20px
}

.mobile-input-button:focus {
    border: 0;
    outline: 0
}

.mobile-input-button:hover {
    background: #eb6a34
}

.mobile-widget-overlay {
    z-index: 130;
    right: 0;
    left: 0;
    top: 125px;
    opacity: 0
}

.mobile-widget-calendar {
    width: 303px
}

.mobile-widget-guests,
.mobile-widget-stayfor {
    width: 250px
}

.mobile-calendar-wrapper,
.mobile-guests-wrapper,
.mobile-stayfor-wrapper {
    height: 0;
    z-index: 116;
    left: 0;
    right: 0
}

.mobile-calendar-wrapper,
.mobile-guests-wrapper {
    top: 70px
}

.mobile-widget-overlay-layer {
    background: rgba(0, 0, 0, .5);
    z-index: 115;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.datepicker table tr td span,
.datepicker table tr td.today.disabled:before,
.dblock,
.mibile-instruction-text span,
.mobile-btn-minus-symbol1,
.mobile-dstn-header2,
.mobile-flexible,
.mobile-input,
.mobile-input-label,
.mobile-nghts-value,
.mobile-ngts-label,
.mobile-option-reset,
.mobile-search-validation:before,
.mobile-widget-footer,
.mobile-widget-header,
.table-condensed .next:before,
.table-condensed .prev:before,
.show,
.haul-on-img-details span,
.haul-on-img-details,
.search-price-under,
.search-price-box,
.deals-left span,
.deals-img h3,
.deals-img,
.on-img-details span,
.on-img-details,
.tt-dropdown-menu .most-popular-list {
    display: block
}

.mobile-widget-calendar,
.mobile-widget-guests,
.mobile-widget-stayfor {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5)
}

.mobile-widget-header {
    background: #f0f1f1
}

.mobile-dstn-label,
.mobile-dstn-header input,
.mobile-widget-header {
    font-size: 16px
}

.mobile-widget-footer,
.mobile-widget-header {
    padding: 12px 0
}

.mobile-calendar-header {
    padding: 10px 15px 14px
}

.mobile-widget-footer {
    width: 90%;
    margin: 0 auto 10px;
    font-size: 16px
}

.mobile-widget-footer:hover {
    background: #89b543
}

.tth-col-md-4 {
    width: 33.33333333333333%
}

.mobile-ngts-container {
    padding: 20px 0 0
}

.border-top {
    border-top: solid #d8d8d8 1px
}

.mobile-btn-minus-symbol1 {
    width: 12px;
    height: 2px;
    background: #58595b;
    top: 23px;
    left: 19px
}

.mobile-btn-minus,
.mobile-btn-plus {
    font-size: 33px;
    width: 50px;
    height: 50px;
    margin-top: 0;
    top: 1px
}

.mobile-ngts-count {
    font-size: 35px;
    border: 0
}

.mobile-ngts-label {
    padding: 6px 0 20px
}

.mibile-instruction-text,
.mobile-ngts-label,
.mobile-persona-label {
    color: #afb0b1
}

.mobile-persona-label {
    padding-bottom: 20px;
    font-size: 12px
}

.mega-dropdown-wrapper {
    min-height: 400px;
    left: 0;
    top: 73px
}

.mobile-widget-guests .mobile-ngts-label {
    padding: 6px 0 0
}

.mibile-instruction-text {
    font-size: 12px;
    padding-bottom: 12px;
    max-width: 80%;
    line-height: 15px
}

.mobile-destinations {
    z-index: 115;
    right: 0;
    top: 0;
    bottom: 0
}

.mobile-dstn-header {
    background: rgba(110, 61, 124, 1);
    min-height: 50px
}

.mobile-dstn-header input {
    border: 0;
    height: 40px;
    right: 0;
    left: 0;
    padding: 0 0 15px
}

.mobile-dstn-header .congratulations-close-bar1,
.mobile-dstn-header .congratulations-close-bar2 {
    width: 18px
}

.mobile-widget-calendar .congratulations-close-bar1,
.mobile-widget-calendar .congratulations-close-bar2 {
    background: #58595b;
    left: 5px;
    top: 15px
}

.mobile-widget-calendar .congratulations-close-icon {
    top: 9px;
    right: 14px;
    width: 32px;
    height: 32px
}

.mobile-widget-calendar .congratulations-close-bar2 {
    top: 13px
}

.mobile-header-search {
    right: 70px;
    left: 25px;
    bottom: 10px;
    top: 10px;
    border-bottom: solid #fff 1px
}

.mobile-dstn-list-wrapper {
    overflow-x: auto
}

.mobile-destinations {
    transition: all .5s cubic-bezier(.07, .74, .43, 1.01)
}

.mobile-flexible,
.mobile-input-button,
.mobile-widget-footer {
    transition: all .2s ease-in-out
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.mobile-dstn-header2 {
    background: #f2f2f2;
    color: #a3a3a4;
    font-size: 12px;
    padding: 9px 0 6px 25px
}

.mobile-dstn-list-name,
.mobile-search-noresult {
    padding: 10px 0 5px 25px
}

.mobile-search-noresult {
    font-size: 18px
}

.dstn-search-history {
    padding: 10px 0 10px 25px
}

.dstn-search-history a {
    margin: 10px 0
}

.dstn-search-history-icon {
    width: 16px;
    height: 16px;
    background-position: -4px -62px;
    top: 2px
}

.mobile-dstn-label {
    top: -2px;
    left: 20px
}

.mobile-dstn-list-name {
    border-bottom: solid #f1f1f2 1px
}

.mobile-dstn-item {
    overflow-x: auto;
    padding-bottom: 10px
}

.mobile-flexible-container {
    background: #f2f2f2
}

.mobile-flexible {
    padding: 14px 0 14px 19px;
    max-width: 230px
}

.mobile-calendar-legends {
    border-top: solid #dedede 1px;
    padding: 11px 0 3px 3px;
    margin: 3px 2px 0 3px
}

.mobile-padding1 {
    padding-left: 10px;
    padding-right: 10px
}

.mobile-legend-fill1,
.mobile-legend-fill2,
.mobile-legend-ouline {
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 2px;
    top: 3px;
    margin-right: 5px
}

.mobile-legend-ouline {
    border-color: #9ac854
}

.mobile-legend-fill1 {
    border-color: #42b8cd;
    background-color: #42b8cd
}

.mobile-legend-fill2 {
    border-color: #9ac854;
    background-color: #9ac854
}

.mobile-calendar {
    padding-bottom: 12px
}

.mobie-calendar-icon i {
    color: #9ac854
}

.mobile-search-fields .clear {
    clear: inherit
}

.mobile-widget-calendar .congratulations-close-bar1,
.mobile-widget-calendar .congratulations-close-bar2 {
    width: 20px
}

.owl-next,
.owl-prev {
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, .9)!important;
    opacity: .7;
    cursor: pointer;
    top: 50%;
    z-index: 9;
    border-radius: 0!important
}

.owl-prev {
    left: 0
}

.owl-next {
    right: 0
}

.datepicker table tr td span {
    width: 23%;
    height: 54px;
    line-height: 54px;
    margin: 1%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.datepicker-inline {
    padding: 0
}

.datepicker-days {
    padding: 0
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 7px 8px;
    border: 5px solid #fff
}

.enabledDates {
    background-color: #42b8cd;
    border-radius: 0
}

.table-condensed .next,
.table-condensed .prev {
    font-size: 0
}

.table-condensed .next:before,
.table-condensed .prev:before {
    content: '';
    width: 15px;
    height: 15px;
    top: 0
}

.table-condensed .next:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    border-right: solid #808183 1px;
    border-bottom: solid #808183 1px
}

.table-condensed .prev:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-left: solid #808183 1px;
    border-bottom: solid #808183 1px
}

.datepicker table tr td.today.disabled:before {
    content: '';
    border: 2px solid #9ac854;
    top: 0;
    left: 0
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: #999;
    cursor: default
}

.mobile-search-validation {
    bottom: -36px;
    left: 0;
    right: 0;
    padding: 8px 10px;
    z-index: 5;
    background: #da5964;
    box-shadow: 0 7px 16px rgba(0, 0, 0, .2)
}

.mobile-search-validation:before {
    width: 10px;
    height: 10px;
    top: -5px;
    left: 10px;
    content: '';
    background: #da5964;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg)
}

.datepicker-switch {
    min-width: 185px
}

.tt-suggestions div.tt-suggestion p.unavailable,
.unavailable-airport-link {
    color: #ddd!important
}

.fantastic-hotels {
    max-width: 1200px;
    margin: 30px auto 0 auto;
    padding: 0 15px
}

.mega-dropdown-wrapper ul li a {
    color: #8d8d8f
}

.mega-dropdown-list-section .spanAirport:hover,
.mega-dropdown-wrapper .mega-dropdown-section-header:hover,
.mega-dropdown-wrapper ul li a:hover {
    color: #1cb2c8!important
}

.datepicker table tr td.enabledDates.disabled,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    border: 5px solid #fff
}

.datepicker table tr td.active,
.datepicker table tr td.active.enabledDates {
    background: #9ac854;
    border: 0
}

.tt-dropdown-menu {
    width: 250px
}

.tt-dataset-destinations p,
.tt-empty-template,
.tt-suggestion {
    margin-left: 0;
    left: 0;
    padding-left: 0
}

.time-price {
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .5);
    width: 432px;
    max-width: 96%;
    left: 0;
    right: 0
}

.search-by-time-price-box {
    height: 0;
    z-index: 116;
    left: 0;
    right: 0;
    opacity: 0;
    top: 125px
}

.datepicker table tr td span.active.month,
.datepicker table tr td span:hover {
    font-weight: 400
}

.all-inclusive-top-deals-carousel .owl-prev {
    left: 13px
}

.all-inclusive-top-deals-carousel .owl-next {
    right: 13px
}

#commonHeaderD,
.all-inclusive-header {
    background-repeat: no-repeat;
    height: 486px;
    background-size: cover;
    top: -1px
}

.all-inclusive-container {
    max-width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto
}

.all-inclusive-container.content-row p a {
    color: #428bca
}

.all-inclusive-container.content-row p a:hover {
    color: #266ead
}

.all-inclusive-img-slide img {
    height: auto
}

.on-image-text-div {
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    padding: 15px
}

.on-img-details {
    z-index: 2;
    bottom: 15px;
    padding: 0 15px;
    text-align: left;
    line-height: 21px
}

.on-img-details h3 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 400
}

.on-img-details span {
    font-size: 17px
}

.on-img-details .top-deal-airport {
    font-weight: 600;
    margin-bottom: 5px
}

.content-row {
    padding: 30px 15px 0
}

div.content-row p {
    font-size: 16px;
    text-align: justify;
    line-height: 26px
}

.deals-slide {
    margin: 10px 0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    text-align: left;
    width: 288px
}

.deals-img {
    height: 196px
}

.deals-img h3 {
    padding: 6px 10px;
    right: 0;
    top: 9px;
    left: 0
}

.deals-img h3 span {
    padding: 6px 15px 5px;
    font-weight: 600
}

.deals-img .headerText1 span {
    background: #6e3d7c
}

.deals-img .headerText2 span {
    background: #9ac854
}

.deals-img .headerText3 span {
    background: #f07541
}

.deals-img .headerText4 span {
    background: #cb3544
}

.price-condition {
    clear: both;
    line-height: 10px;
    font-size: 12px;
    color: #484848
}

p.price-condition span {
    font-size: 21px;
    top: 5px
}

.deals-img img {
    max-width: 100%
}

.deals-row {
    padding: 8px 18px;
    border-bottom: 1px solid #f2f2f2
}

.deals-row:hover {
    background: #f2f2f2
}

.deals-left {
    width: 70%
}

.deals-left span {
    margin: 0;
    line-height: 15px
}

.deals-left .deal-hotel-name {
    font-size: 16px;
    font-weight: 600
}

.deals-left .deal-description {
    font-size: 13px;
    opacity: .6
}

.deal-rating .fa-star {
    color: #fbdb3e;
    font-size: 12px;
    margin: 0 1px
}

.all-inclusive-top-deals-carousel .owl-next,
.all-inclusive-top-deals-carousel .owl-prev {
    top: 32%
}

.all-inclusive-deals-carousel-container .owl-prev {
    left: 2px
}

.all-inclusive-deals-carousel-container .owl-next,
.all-inclusive-deals-carousel-container .owl-prev {
    top: 23%
}

.all-inclusive-deals-carousel .owl-next,
.all-inclusive-deals-carousel .owl-prev,
.all-inclusive-hotels-list .owl-theme .owl-controls .owl-buttons div {
    margin: 5px 0
}

.paraTitle {
    font-size: 20px;
    text-align: left;
    margin: 25px 0 0
}

.all-inclusive-container h3 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600
}

.all-inclusive-container h4 {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600
}

.all-inclusive-container ul {
    padding: 0 0 0 30px
}

.faq-sec p {
    margin-bottom: 15px
}

.faq-sec span {
    margin-top: 10px;
    display: block
}

.faq-sec strong {
    font-size: 15px
}

.all-inclusive-container ul li {
    line-height: 21px;
    margin: 15px 0 0;
    font-size: 16px;
    list-style: disc
}

.paraTitle.tth-section-label {
    font-size: 28px;
    text-align: center;
    margin: 20px 0 0
}

.all-inclusive-offerscarousel-container {
    margin-top: 30px
}

.includeflights {
    padding: 0 10px;
    border-radius: 10px
}

.includeflights .fa-plane {
    color: #9ac854
}

.all-inclusive-top-deal {
    width: 91%;
    cursor: pointer;
    margin: 0 auto 10px
}

.all-inclusive-deals-carousel .owl-buttons .fa,
.all-inclusive-offerscarousel .owl-buttons .fa,
.all-inclusive-top-deals-carousel .owl-buttons .fa {
    line-height: 44px;
    font-size: 20px
}

.owl-theme .owl-controls {
    margin-top: 0
}

.main-holidays-search {
    width: 100%;
    background-color: transparent
}

.dealAnimation {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-filter: grayscale(00%);
    -moz-filter: grayscale(00%);
    -o-filter: grayscale(00%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .2)
}

.all-inclusive-top-deals-carousel .owl-wrapper-outer {
    padding-bottom: 43px
}

.all-inclusive-hotels-list {
    max-width: 1200px;
    padding: 0 15px
}

#all-inclusive-offerscarousel .topsellerblockitem {
    max-height: inherit;
    height: inherit
}

.offerimgblk {
    height: inherit;
    border: 1px solid #fff
}

#all-inclusive-offerscarousel .view-deal {
    display: block;
    padding: 4px 10px 2px 10px
}

#all-inclusive-offerscarousel .topseldetails div {
    margin-top: 10px
}

#all-inclusive-offerscarousel .lblhotelname {
    text-transform: inherit
}

.offerimgblk img {
    border: 0;
    height: inherit
}

.topseldetails {
    background: #f3f3f3;
    padding: 1px 1px 0;
    height: 50%;
    border: 1px solid #fff
}

#newCallus h3 span {
    padding: 0
}

.lblhotelname {
    text-overflow: ellipsis;
    padding-top: 5px;
    min-height: 45px;
    max-height: 45px
}

.star-rating {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 14px
}

.lblHoteldesc {
    text-overflow: ellipsis;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px
}

.lblreviewnum {
    font-size: 11px;
    padding: 6px 0 11px 0
}

.all-inclusive-offerscarousel-container .owl-next,
.all-inclusive-offerscarousel-container .owl-prev {
    top: 16%
}

.all-inclusive-top-deals-carousel .page-builder-row-inner {
    max-width: 1200px
}

.offerimgblk label,
.topseldetails label {
    cursor: pointer
}

#inpPrice {
    background-color: #fafafa!important;
    padding: 2px 2px 0 10px;
    margin: -1px 0 0;
    height: 39px;
    color: #555;
    cursor: pointer;
    font-size: 13px
}

.spanPrice,
.spanTime {
    margin-top: 10px;
    text-align: left
}

.last-minute-search-top-row {
    border-bottom: 1px solid rgba(88, 89, 91, .2);
    height: 234px
}

.last-minute-search-btm-row {
    padding: 8px 0;
    text-align: right
}

.last-minute-search-title {
    margin: 0 14px;
    border-bottom: 1px solid rgba(88, 89, 91, .2);
    padding: 13px 3px 0;
    line-height: 30px
}

.timepopup-tittle {
    font-weight: 600;
    font-size: 18px
}

.timepopup-close {
    opacity: 1;
    font-size: 34px
}

.timepopup-close button {
    border: 0;
    cursor: pointer;
    padding: 0
}

.last-minute-search-btm-row input {
    padding: 0;
    width: auto;
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px 0 0;
    border: 0
}

.last-minute-search-left {
    padding: 21px 20px;
    border-right: 1px solid rgba(88, 89, 91, .2);
    width: 49%
}

.last-minute-search-right {
    padding: 20px 1px 3px 7px;
    width: 51%
}

.last-minute-radio-box {
    margin-bottom: 16px
}

.last-minute-search-radio {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 2px solid #b7b7b7;
    margin-right: 4px;
    cursor: pointer
}

.last-minute-radio-box label {
    left: 35px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 0;
    line-height: 27px
}

.last-minute-search-active-radio {
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #9ac854;
    border: 2px solid #9ac854;
    cursor: pointer;
    left: 5px;
    top: 5px
}

.last-minute-search-right p {
    font-size: 13px;
    margin-bottom: 4px;
    margin-left: 9px
}

.search-price-box {
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    width: 105px;
    height: 45px;
    background-color: #f2f2f2;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 0;
    padding-top: 5px;
    line-height: 14px;
    cursor: pointer
}

.price-box-active,
.search-price-box:hover {
    background-color: #9ac854
}

.search-price-box-any {
    padding-top: 14px;
    padding-left: 0;
    font-weight: 600
}

.search-price-box-any .search-price-tick-on {
    padding: 0
}

.search-price-under {
    font-size: 9px;
    text-align: left
}

.last-minute-search-price {
    font-size: 17px;
    font-weight: 600
}

.last-minute-search-price sup {
    top: -.2em;
    left: -5px;
    font-size: 17px;
    font-weight: 400
}

.last-minute-search-price-pp {
    font-size: 9px;
    left: -10px;
    top: -1px
}

.search-price-tick {
    padding: 10px 3px 0 0
}

.search-price-tick-on {
    padding: 10px 3px 0 0
}

.search-price-box-any.price-box-active {
    padding-right: 15px
}

.haul-offercarousel-container .owl-next,
.haul-offercarousel-container .owl-prev {
    top: 41%
}

.haul-offercarousel-container .owl-buttons .fa {
    line-height: 44px;
    font-size: 20px
}

.haul-offer-container {
    margin-top: 30px
}

.haul-offer-slide {
    height: 280px
}

.haul-image-text-div {
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    padding: 15px
}

.haul-on-img-details {
    z-index: 2;
    bottom: 15px;
    padding: 0 15px;
    text-align: left;
    font-size: 17px
}

.haul-on-img-details h3 {
    margin: 0;
    text-align: left;
    font-size: 26px;
    font-weight: 400
}

.haul-on-img-details sup {
    font-size: 19px;
    top: 0
}

.happy-customer-inner {
    max-width: 1170px
}

.all-inclusive-container .content-title {
    color: #37394c;
    font-size: 20px;
    font-weight: bold;
    text-align: left
}

.low-deposit-content {
    border-radius: 4px;
    background-color: rgba(242, 242, 242, 0.5);
    border: dotted 1px rgba(88, 89, 91, 0.4);
    color: #37394c;
    padding: 23px 26px
}

.low-deposit-content ul {
    list-style-type: decimal;
    padding-left: 40px
}

.low-deposit-content p {
    font-weight: bold
}

.terms-conditions {
    max-width: 90%;
    padding: 20px 0;
    border-bottom: solid 1px #d8d8d8
}

.terms-conditions h2 {
    font-size: 22px;
    font-weight: bold
}

.conditions-title {
    font-size: 18px;
    text-decoration: underline;
    margin: 10px 0
}

.low-deposit-header .mobile-search-container {
    padding-top: 150px
}

.tripadv {
    background-image: url("https://resources.teletextholidays.co.uk/drupal/images/sprite/img/v1/sprite-img.png");
    background-repeat: no-repeat;
    width: 118px;
    height: 20px
}

.trp_5-0 {
    background-position: -10px -320px
}

.trp_4-5 {
    background-position: -10px -340px
}

.trp_4-0 {
    background-position: -10px -360px
}

.trp_3-5 {
    background-position: -10px -380px
}

.trp_3-0 {
    background-position: -10px -400px
}

.trp_2-5 {
    background-position: -10px -420px
}

.trp_2-0 {
    background-position: -10px -440px
}

.trp_1-5 {
    background-position: -10px -460px
}

.trp_1-0 {
    background-position: -10px -480px
}

.trp_0-5 {
    background-position: -10px -500px
}

.trp_0-0 {
    background-position: -10px -520px
}

.all-inclusive-header {
    background: url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-l.jpg)
}

.trending-holidays-carousel .mobile-middle-wrapper {
    margin: 0 auto;
    max-width: 1200px
}

.trending-holidays-carousel .holidays-item {
    width: 277px;
    margin: 4px;
    position: relative
}

.trending-holidays-carousel .holidays-item-image {
    background-color: rgba(0, 0, 0, 0.2);
    height: 196px;
    overflow: hidden
}

.trending-holidays-carousel .holidays-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.trending-holidays-carousel .multi-hotels {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
}

.trending-holidays-carousel .multi-hotel-row {
    padding: 9px 12px 7px 12px;
    border-top: solid #d8d8d8 1px
}

.trending-holidays-carousel .location-label {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 4px
}

.trending-holidays-carousel .hotel-board-basis {
    color: #9e9ea0;
    font-size: 13px
}

.trending-holidays-carousel .all-Inclusive-holidays .tth-price {
    font-size: 15px;
    font-weight: bold
}

.trending-holidays-carousel .all-Inclusive-holidays .tth-pp {
    left: -3px
}

.trending-holidays-carousel .all-Inclusive-holidays .tth-asterisk {
    top: 1px;
    right: 0;
    font-size: 12px
}

.trending-holidays-carousel .hotel-rating-star {
    width: 12px;
    height: 12px;
    background-position: 0 0;
    float: left
}

.trending-holidays-carousel .hotel-rating:after {
    content: '';
    display: block;
    clear: both
}

.trending-holidays-carousel .all-Inclusive-holidays .handler-right {
    right: 0
}

.trending-holidays-carousel .all-Inclusive-holidays .handler-left {
    left: 0
}

.trending-holidays-carousel .all-Inclusive-holidays .carousel-handler {
    top: 82px
}

.trending-holidays-carousel .deals-header,
.trending-holidays-carousel .deals-sub-header {
    font-weight: bold
}

.trending-holidays-carousel .deals-header {
    font-size: 25px
}

.trending-holidays-carousel .deals-sub-header {
    font-size: 18px;
    padding: 8px 0 5px 0
}

.trending-holidays-carousel .carousel-header {
    padding: 30px 0
}

.trending-holidays-carousel .deals-price-note {
    color: #8e8e8e;
    font-size: 15px;
    line-height: 20px
}

.trending-holidays-carousel .image-overlay {
    background-color: rgba(0, 0, 0, .2)
}

.trending-holidays-carousel .tth-pp {
    left: 0
}

.trending-holidays-carousel .tth-asterisk {
    right: -3px
}

.trending-holidays-carousel .float-left {
    line-height: 17px
}

.trending-holidays-carousel .txt-nights-option {
    top: 2px;
    left: 6px;
    position: relative;
    color: #9e9ea0
}

.trending-holidays-carousel .deals-tag {
    z-index: 2;
    top: 0;
    right: 0;
    left: 0
}

.trending-holidays-carousel .deals-tag span {
    padding: 6px 20px 4px 20px;
    margin-top: 16px;
    text-transform: uppercase
}

.owl-theme .owl-controls .owl-buttons div {
    display: none
}

.trending-holidays-carousel .owl-theme .owl-controls .owl-page span {
    width: 16px;
    height: 16px;
    background-color: #fff;
    opacity: 1
}

.trending-holidays-carousel .owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #d8d8d8
}

.mobie-calendar-icon {
    width: 14px;
    height: 17px;
    background-position: -151px -2px;
    bottom: 13px;
    right: 13px
}

.mobile-search-fields,
.mobile-search-container,
.banner-slogan {
    max-width: 854px
}

.input-departing-box {
    clear: inherit;
    width: 138px
}

.input-destingtion-box,
.input-depart-box {
    width: 160px
}

.input-destingtion-box {
    border-bottom-left-radius: 3px
}

.input-stayfor-box {
    width: 71px
}

.input-guests-box {
    width: 189px
}

.mobile-search-container input[type="text"],
.mobile-nghts-value,
.mobile-input-button {
    text-transform: none
}

.mobile-adult-cnt,
.mobile-children-cnt,
.mobile-nghts-value,
.mobile-input,
.mobile-input-button {
    font-family: 'proximanova-light'
}

.mega-dropdown-items2 {
    min-width: 854px;
    max-width: 854px
}

.input-destingtion-box .mobile-nghts-value,
.mobile-input-label {
    text-transform: lowercase;
    white-space: nowrap;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden
}

.mobile-nghts-value span {
    display: inline;
    position: relative
}

.input-depart-box .mobile-nghts-value,
.input-destingtion-box .mobile-nghts-value,
.input-departing-box .mobile-nghts-value,
.input-stayfor-box .mobile-nghts-value,
.mobile-input,
.mobile-nghts-value span {
    top: -2px
}

.mobile-input,
.mobile-nghts-value {
    min-height: inherit
}

.input-destingtion-box .mobile-nghts-value:first-letter,
.mobile-input-label:first-letter {
    text-transform: uppercase
}

.mobile-stay-for {
    top: 0;
    left: 0
}

.input-depart-box:before {
    content: '';
    position: absolute;
    top: 12px;
    right: 4px;
    bottom: 8px;
    background: #dadada;
    z-index: 3;
    width: 1px
}

.input-destingtion-box:after,
.stay-trigger:before {
    right: 3px
}

.mobile-search-container:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 72px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12)
}

.input-destingtion-box:after,
.stay-trigger:before {
    content: '';
    position: absolute;
    top: 12px;
    right: 0;
    bottom: 8px;
    background: #dadada;
    z-index: 3;
    width: 1px
}

.mega-dropdown-wrapper .mega-dropdown-list-left {
    width: 60%
}

.mega-dropdown-wrapper .mega-dropdown-list-right {
    max-width: 220px;
    min-width: 220px
}

.margin-right1,
.mobile-input-group,
.input-stayfor-box {
    margin: 0
}

.mobie-calendar-icon {
    display: none
}

.input-depart-box,
.input-destingtion-box,
.input-departing-box,
.input-stayfor-box,
.input-guests-box {
    height: 72px
}

.mobile-input-group,
.mobile-input-group-split-2 {
    max-height: inherit;
    min-height: inherit
}

.calendar-trigger:before {
    content: '';
    position: absolute;
    top: 12px;
    right: 0;
    bottom: 8px;
    background: #dadada;
    z-index: 3;
    width: 1px
}

.lblhotelname {
    display: none
}

.rec-offer-label {
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    padding: 0 25px
}

.rec-offer-row {
    line-height: 18px;
    height: 65px;
    table-layout: fixed;
    display: table;
    width: 100%
}

.all-inclusive-offerscarousel .owl-item {
    background: #f3f3f3
}

.view-deal {
    max-width: 90px;
    margin: 3px auto auto auto;
    display: block;
    padding: 3px 11px
}

.mobile-search-container input[type="text"],
.mobile-nghts-value {
    padding: 0
}

.flexible-date {
    bottom: 0;
    left: 11px
}

.flexible-date span {
    font-size: 12px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    font-family: 'proximanova-regular'!important
}

.tth-checkbox {
    width: 15px;
    height: 15px;
    margin-right: 7px
}

.tth-tick-mark {
    width: 5px;
    height: 8px;
    border-right: solid #fff 1px;
    border-bottom: solid #fff 1px;
    left: 3px
}

@media(max-width:1400px) {
    .all-inclusive-header {
        background: url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-d.jpg)
    }
}

@media(max-width:1200px) {
    .mobile-search-container .mobile-search-fields .mega-dropdown-items2 {
        width: 100%;
        max-width: 100%
    }
    #inpPrice {
        line-height: 28px
    }
    .all-inclusive-header {
        background: url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-sd.jpg)
    }
    .strip-social,
    .space4 {
        display: none
    }
}

@media(max-width:1024px) {
    .mobile-input {
        font-size: 13px
    }
    .on-img-details {
        padding: 0 3px
    }
    .all-inclusive-top-deals-carousel .owl-wrapper-outer .owl-prev {
        left: 15px
    }
    .all-inclusive-top-deals-carousel .owl-wrapper-outer .owl-next {
        right: 15px
    }
    .all-inclusive-deals-carousel .owl-next {
        right: 3px
    }
    .owl-theme .owl-controls .owl-buttons div {
        margin: 0
    }
    .call-to-book,
    .carousel-low-deposit .payMonthly2,
    .deposit-options {
        padding: 0;
        margin-right: 20px
    }
    .mobile-search-fields,
    .mobile-search-container,
    .banner-slogan {
        max-width: 854px
    }
}

@media(max-width:991px) {
    #happyCustomers,
    .space1,
    .strip-row-2,
    .space5 {
        display: none
    }
    .mobile-stay-for {
        padding: 9px 10px
    }
    .input-depart-box {
        width: 110px
    }
    .input-guests-box {
        width: 156px
    }
    .input-departing-box {
        width: 109px
    }
    .input-destingtion-box {
        border-radius: 0;
        width: 140px
    }
    .mobile-search-fields,
    .mobile-search-container,
    .banner-slogan {
        max-width: 695px
    }
    .mobile-input-button {
        width: 109px
    }
    .tth-checkbox {
        width: 14px;
        margin-right: 7px
    }
    .mobile-option-reset {
        top: 12px;
        right: 6px
    }
    .mega-dropdown-items2 {
        min-width: 684px
    }
    .mobile-input-button {
        font-size: 18px
    }
    .banner-slogan {
        text-align: left;
        padding-top: 130px
    }
    .mobile-search-container {
        padding-top: 80px
    }
    #commonHeaderD,
    .all-inclusive-header {
        height: 428px
    }
    .call-to-book {
        display: block;
        padding-right: 0;
        font-size: 24px;
        padding-bottom: 10px;
        margin: 0
    }
    .payMonthly2,
    .deposit-options {
        margin-right: 20px
    }
}

@media(max-width:768px) {
    .dealAnimation {
        transform: scale(1.03)
    }
    .all-inclusive-top-deals-carousel .owl-next,
    .all-inclusive-top-deals-carousel .owl-prev {
        top: 43%
    }
    .banner-slogan {
        text-align: center
    }
    .all-inclusive-deals-carousel-container div.owl-prev {
        left: .6%
    }
    .all-inclusive-deals-carousel-container div.owl-next {
        right: .5%
    }
    .all-inclusive-top-deals-carousel .owl-wrapper-outer div.owl-prev {
        left: 4.5%
    }
    .all-inclusive-top-deals-carousel .owl-wrapper-outer div.owl-next {
        right: 4.5%
    }
    .all-inclusive-header {
        background: url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive/all-inclusive-head-t.jpg)
    }
    .low-deposit-header .mobile-search-container {
        margin-top: 25%;
        padding: 0!important
    }
}

@media(max-width:767px) {
    .slogan-big,
    .slogan-small {
        background: 0;
        padding: 0;
        display: inherit
    }
    .mobile-dstn-icon,
    .for-mobile-devices,
    #newCallus .for-mobile-devices {
        display: inline-block
    }
    .mobile-nghts-value span {
        display: inline
    }
    .input-depart-box .mobile-nghts-value,
    .input-destingtion-box .mobile-nghts-value,
    .mobie-calendar-icon {
        display: block
    }
    .for-desktop,
    .mobile-input,
    .mobile-option-reset,
    .dstn-search-history {
        display: none
    }
    .input-depart-box .mobile-nghts-value,
    .input-destingtion-box .mobile-nghts-value {
        color: #acacac
    }
    .input-destingtion-box .mobile-nghts-value.input-item-selected,
    .input-depart-box .mobile-nghts-value.input-item-selected {
        color: #58595b
    }
    .mobile-adult-cnt,
    .mobile-children-cnt,
    .mobile-nghts-value span {
        font-size: 14px
    }
    .stop-body-scroll,
    .all-inclusive-top-deals-carousel .page-builder-row-inner {
        overflow: hidden
    }
    .input-depart-box,
    .input-destingtion-box,
    .input-guests-box,
    .mobile-input-button,
    .popover {
        width: 100%
    }
    .mobile-input-group {
        float: none;
        margin: 8px 0
    }
    .mobile-search-fields .clear {
        clear: both
    }
    .input-stayfor-box {
        margin-right: 0
    }
    .mobile-nghts-value span {
        line-height: inherit
    }
    .mobile-search-fields {
        width: 90%
    }
    .mobile-input-button {
        min-height: initial;
        height: initial;
        padding: 10px 0;
        font-size: 20px
    }
    .mobile-search-container {
        padding-top: 0
    }
    .mobile-widget-calendar {
        width: 283px
    }
    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        padding: 5px 3px;
        min-width: 36px
    }
    .mobile-destinations .congratulations-close-icon {
        top: 14px;
        right: 21px
    }
    .mobie-down-arrow {
        bottom: 14px
    }
    .time-price {
        max-width: 96%
    }
    .search-by-time-price-box {
        top: 40px!important
    }
    .input-stayfor-box {
        float: right
    }
    .popover {
        max-width: 100%
    }
    .all-inclusive-top-deals-carousel .page-builder-row-inner {
        max-width: 98%
    }
    .on-img-details {
        padding: 0
    }
    .content-row {
        padding: 20px
    }
    .price-condition {
        line-height: 18px
    }
    .deals-img {
        height: auto
    }
    .all-inclusive-header {
        height: 460px
    }
    .all-inclusive-header-text {
        padding-top: 36px
    }
    .all-inclusive-top-deals-carousel .owl-wrapper-outer {
        padding-bottom: 11px
    }
    .all-inclusive-deals-carousel-container .owl-next,
    .all-inclusive-deals-carousel-container .owl-prev {
        top: 25%
    }
    .topsellerblockitem {
        height: auto;
        max-height: inherit
    }
    .topseldetails {
        padding-bottom: 15px
    }
    .all-inclusive-offerscarousel-container .owl-prev {
        left: 2px
    }
    .all-inclusive-top-deals-carousel .owl-wrapper-outer div {
        margin: 0 auto
    }
    .low-deposit-header {
        background-position: center 12%
    }
    .low-deposit-header .mobile-search-container {
        margin: 10% 0 0 0
    }
    .slogan-small,
    .input-destingtion-box:after,
    .stay-trigger:before,
    .input-depart-box:before,
    .calendar-trigger:before {
        display: none
    }
    .banner-slogan,
    .mobile-search-fields {
        width: 90%;
        max-width: 90%
    }
    .input-destingtion-box {
        border-bottom-left-radius: 0
    }
    .mobile-input-group,
    .input-guests-box {
        margin: 0 0 8px 0
    }
    .input-depart-box,
    .input-destingtion-box,
    .input-departing-box,
    .input-stayfor-box,
    .input-guests-box {
        height: 45px
    }
    .mobile-input-group,
    .mobile-date-picker,
    .mobile-stay-for {
        padding: 3px 10px 0 10px
    }
    .mobile-input-button {
        width: 100%;
        padding: 8px 0 6px 0;
        font-size: 20px;
        margin: 0 0 10px 0;
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12)
    }
    .margin-right1 {
        margin: 0 3% 0 0
    }
    .input-departing-box,
    .input-stayfor-box {
        width: 48.5%
    }
    .input-guests-box {
        margin-top: 8px
    }
    .mobile-search-container:before {
        display: none
    }
    .mobie-down-arrow {
        bottom: 12px;
        right: 14px
    }
    #commonHeaderD,
    .all-inclusive-header {
        height: inherit;
        padding-bottom: 10px
    }
    .slogan-big {
        font-size: 21px;
        padding-bottom: 14px
    }
    .mobie-calendar-icon:before {
        display: block;
        top: 4px;
        position: relative;
        color: #9ac854;
        font-family: 'teletext-holidays';
        content: "\e90d"
    }
    .mobie-calendar-icon i {
        display: none
    }
    .all-inclusive-header {
        background: url(https://resources.teletextholidays.co.uk/drupal/images/all-inclusive-mobile.jpg);
        background-position: bottom center
    }
    .input-depart-box .mobile-nghts-value {
        text-transform: lowercase
    }
    .input-depart-box .mobile-nghts-value:first-letter {
        text-transform: uppercase
    }
    .mobile-dstn-label {
        margin-left: 20px;
        left: 0;
        top: 0
    }
    .mobile-dstn-list-name {
        table-layout: fixed;
        display: table;
        width: 100%
    }
    .mobile-dstn-icon {
        vertical-align: middle;
        display: table-cell;
        background: 0;
        width: 12px
    }
    .mobile-dstn-icon:before {
        width: 12px;
        height: 17px;
        content: "";
        color: #c2c2c2;
        font-size: 14px;
        background: url(https://resources.teletextholidays.co.uk/drupal/images/sprite/main-sprite-compressed-main-v7.svgz) no-repeat;
        display: block;
        background-position: -129px -2px
    }
    .mobile-depart-list-wrapper .mobile-dstn-icon:before {
        background-position: -105px -2px;
        width: 17px
    }
    .flexible-date {
        position: relative;
        bottom: auto;
        margin-top: 8px;
        color: #58595b;
        background: #fff;
        font-size: 12px;
        padding: 9px 10px;
        width: 100%;
        left: 0
    }
    .call-us-to-book-row {
        display: none
    }
    .trending-holidays-carousel {
        width: 100%;
        padding: 0 20px
    }
    .trending-holidays-carousel .holidays-item {
        max-width: 100%;
        margin: 20px 0;
        width: 100%
    }
    .trending-holidays-carousel .multi-hotel-row {
        padding: 9px 12px
    }
    .trending-holidays-carousel .carousel-header {
        padding: 19px 0 0 0
    }
    .view-deal {
        padding: 5px 10px
    }
    .trending-holidays-carousel .float-left i {
        letter-spacing: 1px;
        font-size: 15px
    }
    .offer-section1,
    .offer-section2 {
        margin-top: 0;
        font-size: 24px
    }
    .offer-section1 {
        padding-right: 7%;
        margin-right: 4%;
        position: relative
    }
    .offer-section1:before {
        background-color: #6e3d7c;
        content: '';
        width: 2px;
        top: 9px;
        bottom: 0;
        right: 0;
        position: absolute
    }
    .icon-txt2,
    .icon-txt1 {
        padding-left: 50px;
        line-height: 26px
    }
    .icon-txt1 {
        margin-bottom: 5px
    }
    .offer-options .tth {
        left: 0;
        top: 7px;
        font-size: 26px
    }
    .offer-section1 a {
        font-size: 32px;
        color: #6e3d7c
    }
    .offer-section1 .atol-label {
        font-size: 17px;
        font-weight: bold
    }
    .call-txt {
        font-size: 30px
    }
    .offer-section1 .atol-icon {
        width: 20px;
        height: 21px;
        background-position: -220px -273px;
        margin-right: 6px;
        top: 6px
    }
    .icon-txt3 {
        margin-top: -10px
    }
    div.content-row p {
        font-size: 14px;
        text-align: left;
        line-height: 18px;
        font-family: 'proximanova-light'!important
    }
    .paraTitle {
        font-size: 15px;
        margin-bottom: 7px
    }
    .accordion-wrapper {
        width: 100%
    }
    .bookthis--cal-us span,
    .bookthis--row-content span {
        display: block
    }
    .bookthis--cal-us a,
    .bookthis--row-content a {
        display: block;
        color: #6e3d7c
    }
    .bookthis--cal-us a {
        font-size: 64px;
        margin: auto
    }
    .bookthis-container {
        display: block;
        padding: 40px 0;
        overflow: hidden;
        text-align: center;
        font-family: 'proximanova-light';
        background: #f2f2f2
    }
    .bookthis--cal-us {
        font-size: 32px;
        width: 90%;
        margin: auto;
        line-height: 1.2
    }
    .bookthis--row {
        margin: 35px 0
    }
    .bookthis--row-icon,
    .bookthis--row-content {
        display: inline-block;
        vertical-align: top
    }
    .bookthis--row-icon {
        width: 65px;
        text-align: center;
        background-size: 420px;
        height: 75px
    }
    .bookthis--phone {
        background-position: 0 -262px
    }
    .bookthis-get {
        background-position: -177px -261px
    }
    .bookthis-personal {
        background-position: -57px -262px
    }
    .bookthis-relax {
        background-position: -115px -263px
    }
    .bookthis--row-content {
        width: 58%;
        text-align: left;
        padding: 0 0 0 20px;
        line-height: 1.2
    }
    .bookthis--row-content span.bookthis--row-hdng {
        font-size: 32px
    }
    .bookthis--row-content span {
        font-size: 26px
    }
    .banner-slogan {
        padding-top: 68px;
        text-align: center
    }
    .mobile-search-container {
        padding-top: 0
    }
    .mobile-ai-wrapper {
        padding: 30px 20px 0 20px;
        width: 100%
    }
    .mobile-ai-wrapper .ai-offer {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px
    }
    .mobile-ai-wrapper .offer-image {
        height: 242px
    }
    .mobile-ai-wrapper .offer-image img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
    .mobile-ai-wrapper .offer-section-header {
        padding: 15px 0
    }
    .mobile-ai-wrapper .offer-section-header span {
        font-size: 18px;
        line-height: 21px;
        font-family: 'proximanova-semibold'
    }
    .mobile-ai-wrapper .txt-from,
    .divbanners .from-wrapper .tth-price {
        font-size: 18px
    }
    .divbanners .from-wrapper .tth-price {
        font-weight: bold
    }
    .mobile-ai-wrapper .offer-content-wrapper {
        padding: 14px 0
    }
    .mobile-ai-wrapper .offer-content {
        padding-top: 6px
    }
    .mobile-ai-wrapper i {
        font-size: 22px;
        letter-spacing: 1px
    }
    .mobile-ai-wrapper .location-label {
        font-size: 18px;
        font-weight: bold
    }
    .mobile-ai-wrapper .board-basis {
        font-size: 18px;
        margin-top: -3px;
        padding-bottom: 3px
    }
    .mobile-ai-wrapper .includes {
        font-size: 16px
    }
    .mobile-ai-wrapper a {
        padding: 8px 19px;
        font-size: 15px
    }
    .mobile-ai-wrapper .button-wrapper {
        margin: 10px 0 15px 0
    }
    .mobile-ai-wrapper .divbanners .from-wrapper .tth-asterisk {
        right: 17px;
        top: 9px
    }
    .mobile-ai-wrapper .from-wrapper {
        padding: 7px 21px 6px 19px;
        background-color: rgba(0, 0, 0, 0.6)
    }
    .mobile-ai-wrapper .icon-flight-go {
        position: relative;
        top: -2px;
        font-size: 16px;
        padding-right: 4px
    }
    .mobile-ai-wrapper .mobile-ai-header {
        padding-bottom: 20px
    }
    .mobile-ai-wrapper .mobile-ai-header h2 {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px
    }
    .mobile-ai-wrapper .mobile-ai-header span {
        font-size: 13px;
        font-weight: bold
    }
    .mobile-ai-wrapper .divbanners .txt-from {
        padding-right: 7px
    }
    .mobile-ai-wrapper .from-wrapper .tth-pp {
        left: 2px
    }
    .content-row {
        padding: 16px 20px 65px
    }
    .trip-advisor-main span.trip-adv {
        width: 40px;
        height: 24px;
        background-position: -209px -65px
    }
    .trip-advisor-main {
        margin: 0 0 10px
    }
    .ratings div div {
        width: 22px;
        height: 22px
    }
    .ratings span {
        width: 12px;
        height: 12px;
        top: 5px
    }
    .ratings .fill1 {
        left: 5px
    }
    .ratings .fill2 {
        left: 27px
    }
    .ratings .fill3 {
        left: 49px
    }
    .ratings .fill4 {
        left: 71px
    }
    .ratings .fill5 {
        left: 93px
    }
    .ratings .trp_0-5 .reveal-mask {
        left: 11px
    }
    .ratings .trp_1-0 .reveal-mask {
        left: 21px
    }
    .ratings .trp_1-5 .reveal-mask {
        left: 34px
    }
    .ratings .trp_2-0 .reveal-mask {
        left: 44px
    }
    .ratings .trp_2-5 .reveal-mask {
        left: 56px
    }
    .ratings .trp_3-0 .reveal-mask {
        left: 66px
    }
    .ratings .trp_3-5 .reveal-mask {
        left: 78px
    }
    .ratings .trp_4-0 .reveal-mask {
        left: 88px
    }
    .ratings .trp_4-5 .reveal-mask {
        left: 100px
    }
}

@media(max-width:640px) {
    .deals-slide {
        width: 100%
    }
    .all-inclusive-deals-carousel-container {
        width: 100%!important
    }
    .all-inclusive-deals-carousel-container .owl-prev {
        left: 0!important
    }
    .all-inclusive-deals-carousel-container .owl-next {
        right: 0
    }
}

@media(max-width:639px) {
    .bookthis--row {
        margin: 15px 0
    }
    .bookthis--cal-us {
        font-size: 16px;
        width: auto
    }
    .bookthis--cal-us a {
        font-size: 32px
    }
    .bookthis--row-content span.bookthis--row-hdng {
        font-size: 16px;
        font-weight: bold
    }
    .bookthis--row-content span {
        font-size: 13px
    }
    .bookthis--row-content {
        width: 200px
    }
    .bookthis--row-icon {
        width: 37px;
        height: 37px;
        background-size: inherit
    }
    .bookthis--phone {
        background-position: -5px -175px
    }
    .bookthis-get {
        background-position: -115px -175px
    }
    .bookthis-personal {
        background-position: -39px -175px
    }
    .bookthis-relax {
        background-position: -78px -175px
    }
}

@media(max-width:500px) {
    .offer-section1,
    .offer-section2 {
        font-size: 11px
    }
    .offer-section1 {
        padding-right: 7%;
        margin-right: 7%
    }
    .icon-txt2,
    .icon-txt1 {
        padding-left: 28px;
        line-height: 14px
    }
    .offer-options .tth {
        font-size: 20px
    }
    .offer-section1 a {
        font-size: 20px;
        position: relative;
        top: -4px
    }
    .offer-section1 .atol-label {
        font-size: 10px
    }
    .call-txt {
        font-size: 18px
    }
}

@media(max-width:480px) {
    .last-minute-search-top-row {
        height: 160px;
        margin: 0 14px
    }
    .last-minute-search-left {
        width: 100%;
        margin: 0 auto;
        float: none;
        border-right: 0;
        padding: 10px 0
    }
    .last-minute-search-right {
        width: 100%;
        margin: 0 auto;
        float: initial;
        padding: 3px 0
    }
    .last-minute-radio-box {
        margin-bottom: 3px
    }
    .last-minute-search-btm-row input {
        float: inherit;
        padding: 0;
        margin: 0
    }
    .last-minute-search-btm-row {
        text-align: center;
        clear: both;
        border-top: 1px solid #f2f2f2;
        width: 93%;
        margin: 0 auto
    }
    .last-minute-search-right p {
        margin-left: 0;
        color: #58595b;
        margin-bottom: 0
    }
    .last-minute-search-btm-row span {
        text-align: center
    }
    .search-price-box {
        width: 50%
    }
}

@media(max-width:400px) {
    .trending-holidays-carousel .deals-sub-header {
        font-size: 13px;
        padding: 6px 0 2px 0
    }
    .trending-holidays-carousel .deals-price-note {
        line-height: 16px;
        font-size: 12px
    }
    .trending-holidays-carousel .deals-header {
        font-size: 24px
    }
}

@media(max-width:375px) {
    .all-inclusive-top-deals-carousel .owl-next,
    .all-inclusive-top-deals-carousel .owl-prev {
        top: 32%
    }
    .mobile-search-container {
        background-position: -118px 0
    }
    .mobile-ngts-container {
        padding: 10px 0 0
    }
    .mobile-widget-guests .mobile-ngts-label {
        padding: 0
    }
    .mobile-persona-label {
        padding-bottom: 15px
    }
    .mobile-widget-calendar {
        width: 275px
    }
    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        padding: 3px 0;
        min-width: 35px
    }
    .paraTitle.tth-section-label {
        font-size: 24px
    }
}

@media(max-width:374px) {
    .offer-section1 {
        padding-right: 5px;
        margin-right: 5px
    }
}

@media(max-width:320px) {
    .mobile-calendar {
        padding-bottom: 6px
    }
    .mobile-calendar-header {
        padding: 11px 15px 16px 14px
    }
    .mobile-widget-calendar {
        width: 288px
    }
    .mobile-widget-footer,
    .mobile-widget-header {
        padding: 10px 0
    }
    .mobile-persona-label {
        padding-bottom: 8px
    }
    .mobile-ngts-container {
        padding: 3px 0 0
    }
    .mobile-widget-guests,
    .mobile-widget-overlay,
    .mobile-widget-stayfor {
        width: 210px
    }
    .table-condensed>thead>tr>th.datepicker-switch {
        min-width: 175px
    }
    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        min-width: 37px
    }
    .input-departing-box,
    .input-stayfor-box {
        width: 48.5%
    }
    .margin-right1 {
        margin: 0 3% 0 0
    }
}
