/* Common components */
@import '../../control';
@import '../../bootstrap';
@import '../../new-header';
@import '../../new-header-mobile';
@import '../../sidemenu';
@import '../../login-signup';
@import '../../mega-menu';
@import '../../newsletter';
@import '../../footer';
@import '../../calendar';
@import '../../calendar-dd';
@import '../../adults-childs';
@import '../../selectric';
@import '../../accordion';
@import '../../fonts';
@import '../../tth-fonts';
@import '../../cookies-banner';
@import '../../on-scroll-popup';

/* Additional base css for old pages */
//@import '../../old-build/base-additional';

/* Page required  */
@import '../../grid-search';
@import '../../thin-search';
@import '../../slider-calendar';
@import '../../legends';
@import '../../sticky-nav';
@import '../../ai-banner-v2';
@import '../../low-deposit-title';
@import '../../promo-banner';
@import '../../carousel-with-content';
@import '../../deals-thin';
@import '../../deals-small-title';
@import '../../cheap-holidays';
@import '../../carousel-footer';
@import '../../customers-says';
@import '../../best-ai-destinations';
@import '../../faq-ai';
@import '../../carousel-title-lg';
@import '../../banners-footer-strip';
@import '../../max-section-title';
@import '../../extras';
@import '../../links-breadcrumb';
@import '../../deals-accordion';
@import '../../grid-search-override';
@import '../../carousel-title-2';
@import '../../most-popular-hotels';
@import '../../small-section-title';
@import '../../read-more';
@import '../../owl-controls';
//@import '../../top-deals';
@import '../../top-deals-ai';
@import '../../ratings';
@import '../../call-us-top';
@import '../../ai-ab-test-override';
@import '../../lowdeposite-and-paymonthly';
@import '../../IE-Edge';

.common-icons {
    background-image: url(https://resources.teletextholidays.co.uk/drupal/images/sprite/v1/common-icons.svg);
}
.sunshine-banners {
  display: flex;
  align-items: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  height: auto;
  background: none;
  top: 0; }

  @media (max-width: 767px) {
    .sunshine-banners {
      margin-bottom: 25px; }
      .sunshine-banners img {
        width: 100%;
        height: 100%;
        object-fit: cover; } }

/* ALL INCLUSIVE only
.travel-active .header{top:0 !important;} */

@media(max-width:1200px) {
  a.top-nav-cheap-holidays {
    display:none;
  }
}


/* IE browsers SUNSHINE banners */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.sunshine-banners picture, .IE-browser-only-ai .large, .IE-browser-only-ai .small-desktop, .IE-browser-only-ai .tablet, .IE-browser-only-ai .mobile{display:none;}
	.IE-browser-only-ai.hidden{display:block;}
}
@media (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.IE-browser-only-ai .large{display:none;}
	.IE-browser-only-ai .small-desktop{display:none;}
	.IE-browser-only-ai .tablet{display:block;}
}
@media (min-width: 928px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.IE-browser-only-ai .large{display:none;}
	.IE-browser-only-ai .small-desktop{display:block;}
	.IE-browser-only-ai .tablet{display:none;}
}
@media (min-width: 1200px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.IE-browser-only-ai .large{display:block;}
	.IE-browser-only-ai .small-desktop{display:none;}
	.IE-browser-only-ai .tablet{display:none;}
}
@media (max-width: 767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.IE-browser-only-ai .large{display:none;}
	.IE-browser-only-ai .small-desktop{display:none;}
	.IE-browser-only-ai .tablet{display:none;}
	.IE-browser-only-ai .mobile{display:block;}
}

/* IE browsers */
@media (max-width:1140px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 .grid-search .mobile-nghts-value, .grid-search input[type='text']{font-size:14px;font-family:"proximanova-regular", sans-serif;}
}
@media (max-width:1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .extras .check-mark{min-width:32px;}
}
@media (max-width:991px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-search .flexible-date-wrapper, .grid-search .input-stayfor-box{min-width:100px;}
  .grid-search .mega-dropdown-wrapper .mega-dropdown-list-right{min-width:235px;}

  .extras .extras-options{display:block;}
  .extras .grid-col{display:inline-block;width:50%;}

  .extras .check-mark, .extras-tiels{display:inline-block;}
  .extras .check-mark{top:-5px;}
  .extras .extras-tiels{vertical-align: middle;}
}
@media (max-width:767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .extras .grid-col{display:inline-block;width:100%;}
  .extras .extras-tiels p{max-width:190px}
  .mobile-gray-strip .icon-and-label img{width:18px;height:18px;}
  .carousel-footer .type-icon{margin-right:10px;}
  .theme-big-login-popup{overflow: visible;}
.ai-popular-only.deals-thin .deal-img, .cheap-holidays .deal-img {height: 190px; }




  .sticky-nav{overflow: visible;padding:0;}
  .sticky-nav.sticky-pstn-fxd .nav-items{padding: 0;}
  .grid-stay.nav-items,.grid-stay#subNavItems, .content-middle.grid-stay{display:block;position: relative;padding:5px;text-align:center;}
  .sticky-nav .nav-items a{display:inline-block;}
  .sticky-nav .nav-items a.active-nav::before{background:none;}
  .sticky-nav.sticky-pstn-fxd{height:85px;}
  .sticky-nav.sticky-pstn-fxd .call-section {top:40px;position: absolute;animation:initial;}
  .call-section{display:none;}
  .sticky-pstn-fxd .call-section{display:block;}
  .sticky-nav #subNavItems a{display:none !important;}
  .sticky-nav #subNavItems a:nth-child(2), .sticky-nav #subNavItems a:nth-child(3){display: inline-block !important;}
  .sticky-nav #subNavItems a.more{display: inline-block  !important;margin:0 30px 0 0;top:0;}
  .sticky-nav .more span{display:inline-block;vertical-align: middle;}
  .sticky-nav .more span.more-btn{background:none;vertical-align: top;}
  .sticky-nav .subnav-section .hidden-link{text-align:left;}
  .sticky-nav .subnav-section{z-index:9;top:40px;}
  .sticky-nav .more:before{width:100%;}
}
