.help-sprite {
	background: url(https://resources.teletextholidays.co.uk/drupal/images/sprite/test/v4/help-sprite.svgz) no-repeat
}

.customer-support {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.customer-support .tth-middle-wrapper {
	max-width: 1130px;
	margin: 0 auto
}

.customer-support .customer-support-content {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px 25px;
	margin-top: 110px
}

.customer-support .customer-number {
	font-size: 25px;
	letter-spacing: 2px
}

.customer-support a {
	color: #fff
}

.help-header-title {
	font-size: 32px;
	margin: 0 0 10px;
	color: #fff
}

.customer-support .number-mask {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent
}

.live-chat-div,
.page-builder-element-title,
.page-header-inner {
	display: none
}

.page-builder-wrapper {
	margin-top: 0!important
}

.page-builder-wrapper.margin-top {
	padding: 0
}

.search-button .search-icon-btn {
	display: none
}

.search-btn-repsonsive {
	margin: 10px 0 0;
	display: none
}

.padding-zero {
	padding: 0!important
}

.faq-main-wrapper {
	width: 100%;
	margin: 0 auto
}

.faq-headerbg {
	position: relative;
	min-height: 362px;
	width: 100%;
	overflow: hidden;
	background-position: center!important;
	background: url(http://resources.teletextholidays.co.uk/drupal/images/FAQ/FAQHeader-HR1.jpg) no-repeat;
	background-size: cover
}

.faq-headerbg .after {
	background: #000;
	position: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	height: 362px;
	opacity: .3
}

.help-div {
	display: inline-block;
	position: absolute;
	bottom: 3px;
	right: 0;
	left: 0;
	padding: 0;
	width: 1130px
}

.help-div>div {
	display: table-cell;
	vertical-align: bottom
}

.header-searchbar input {
	padding: 13px 23px 11px 15px;
	height: 49px!important;
	float: left;
	max-width: 100%;
	border-radius: 0;
	border: 0;
	color: #58595b!important;
	width: 100%
}

.header-searchbar input[placeholder] {
	color: #58595b!important;
	font-weight: 300;
	font-size: 17px;
	cursor: default
}

.search-btn {
	height: 49px;
	margin: 0;
	border-radius: 0!important;
	font-size: 17px;
	background-color: #f07541;
	outline: 0;
	text-align: center;
	color: #fff;
	width: 165px;
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	display: block
}

.search-btn:hover {
	background-color: #f07541;
	color: #FFF
}

.margin-zero {
	margin: 0!important
}

.popular-categories {
	width: 100%!important;
	max-width: 1140px
}

.searchResultsWrp {
	width: 100%!important;
	max-width: 1050px;
	margin: 30px auto;
	position: relative;
	padding: 0 20px 20px;
	display: none;
	border: 1px solid #CCC;
	border-radius: 6px
}

.popular-categories,
.popular-categories .contentarea h2,
.popular-categories .contentarea p {
	text-align: center
}

.popular-categories .contentarea {
	text-align: center
}

.popular-categories .contentarea h2 {
	font-size: 26px;
	margin: 0;
	padding: 0;
	color: #58595b;
	line-height: 26px;
	letter-spacing: -0.4px
}

.popular-categories .contentarea p {
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: #58595b
}

.popular-categories .icon-containerbox {
	margin-top: 40px!important
}

.popular-boxdiv {
	border-right: 2px solid #f7f8f9;
	width: 25%;
	padding: 35px 0!important;
	height: 216px;
	float: left
}

.popular-boxdiv:hover {
	background: #f4f5f6;
	cursor: pointer
}

.popular-boxdiv:last-child {
	border: 0
}

.popular-categories .rowtop-border {
	border-top: 2px solid #f7f8f9
}

.popular-categories .tax-documents-icon {
	background-position: -11px -9px;
	width: 64px;
	height: 90px;
	margin: 0 auto 27px
}

.popular-categories .payment-low-icon {
	background-position: -91px -17px;
	width: 85px;
	height: 76px;
	margin: 0 auto 40px
}

.popular-categories .inscurace-info-icon {
	background-position: -188px -17px;
	width: 89px;
	height: 76px;
	margin: 0 auto 40px
}

.popular-categories .booking-info-icon {
	background-position: -189px -16px;
	width: 80px;
	height: 80px;
	margin: 0 auto 36px
}

.popular-categories .passport-visas-icon {
	background-position: -690px -15px;
	width: 91px;
	height: 79px;
	margin: 0 auto 18px
}

.popular-categories .myflight-tickets-icon {
	background-position: -283px -17px;
	width: 96px;
	height: 76px;
	margin: 0 auto 31px
}

.popular-categories .api-info-icon {
	background-position: -397px -20px;
	width: 94px;
	height: 70px;
	margin: 0 auto 34px
}

.popular-categories .resorts-fees-icon {
	background-position: -511px -14px;
	width: 80px;
	height: 80px;
	margin: 0 auto 22px
}

.popular-categories .amendment-cancel-icon {
	background-position: -602px -14px;
	width: 80px;
	height: 82px;
	margin: 0 auto 22px
}

.popular-categories {
	font-size: 17px;
	line-height: 20px;
	margin-top: 30px;
	padding: 0 30px
}

.most-frequently-questions {
	width: 100%;
	max-width: 1140px
}

.most-frequently-questions .contentarea {
	text-align: center;
	margin-top: 60px
}

.most-frequently-questions .contentarea h2,
.most-frequently-questions .contentarea p {
	margin: 0;
	color: #58595b;
	text-align: center;
	padding: 0
}

.most-frequently-questions .contentarea h2 {
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: -0.4px
}

.most-frequently-questions .contentarea p {
	font-size: 14px;
	font-weight: 400
}

.howto-check-headerbg {
	position: relative;
	min-height: 260px;
	width: 100%;
	overflow: hidden;
	background: url(https://resources.teletextholidays.co.uk/drupal/images/FAQ/ryan-air.jpg) center center no-repeat #7c8aa6;
	background-size: cover;
	margin: 52px auto 30px
}

.howto-check-headerbg .after {
	background: #000;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	height: 260px;
	opacity: .3
}

.ryanair-content {
	display: block;
	max-width: 674px;
	position: absolute;
	top: 48px;
	width: 84%;
	margin: 0 auto;
	padding: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow: hidden
}

.ryanair-content .circle-div {
	background: #FFF;
	border-radius: 100px;
	margin: 34px;
	width: 80px;
	height: 80px;
	float: left;
	display: block;
	left: 44px;
	position: relative
}

.lets-chat-btn,
.would-newbooking .search-holidays-btn {
	border-radius: 2px!important;
	outline: 0;
	text-transform: uppercase
}

.ryanair-content .circle-div .green-left-arrow {
	color: #9ac854;
	display: inline-block;
	font-size: 42px;
	left: 36px;
	position: relative;
	text-align: center;
	top: 20px;
	cursor: pointer;
	width: 17px
}

.latest-ltside,
.latest-rtside {
	display: inline-block!important;
	float: left
}

.ryanair-content .rightside-content {
	float: left;
	margin: 36px 0 0 27px;
	width: 74%
}

.ryanair-content .rightside-content h3 {
	font-size: 32px!important;
	font-weight: 400!important;
	text-align: left;
	color: #fff!important;
	margin: 0;
	padding: 0
}

.ryanair-content .rightside-content p {
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	margin: 10px 0 0;
	padding: 0;
	color: #FFF
}

.forany-quieries h2,
.forany-quieries li,
.travel-updates h2,
.travel-updates li {
	text-align: left
}

.latest-traveldiv {
	width: 100%;
	max-width: 1140px
}

.latest-ltside {
	width: 31.5%!important;
	border-right: 1px solid #fee
}

.latest-rtside {
	width: 68%
}

.forany-quieries,
.travel-updates {
	width: 100%;
	border-bottom: solid 1px #eeeff2
}

.travel-updates {
	display: block;
	padding: 0 0 33px!important
}

.travel-updates h2 {
	font-size: 20px;
	font-weight: 700;
	color: #58595b;
	margin: 12px 0;
	padding: 0
}

.travel-updates ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 262px
}

.travel-updates li {
	background-color: #f2f2f2;
	margin: 2px 0;
	padding: 12px 10px 12px 26px;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer
}

.travel-updates li a {
	color: #58595b;
	text-decoration: none;
	font-weight: 400;
	text-align: left;
	margin: 0
}

.travel-updates li a.active {
	color: #fff
}

.travel-updates li a:hover:not(.active) {
	color: 000;
	text-decoration: none
}

.forany-quieries {
	display: block;
	padding: 0!important
}

.latest-ltside h2 {
	font-size: 20px;
	font-weight: 700;
	color: #58595b;
	margin: 25px 0;
	padding: 0;
	line-height: 1.2
}

.forany-quieries ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 262px
}

.forany-quieries li {
	border-bottom: solid 1px #eeeff2;
	margin: 5px 0;
	padding: 17px 0;
	font-size: 17px;
	font-weight: 400
}

.forany-quieries li:last-child {
	border-bottom: 0
}

.forany-quieries li .customer-support-icon {
	background-position: -526px -331px;
	width: 24px;
	height: 32px;
	margin: 0 31px 0 0;
	float: left
}

.forany-quieries li .email-icon {
	background-position: -562px -331px;
	width: 32px;
	height: 24px;
	margin: 0 24px 0 0;
	float: left
}

.forany-quieries li .callnow-icon {
	background-position: -1028px -531px;
	width: 27px;
	height: 31px;
	margin: 0 27px 0 0;
	float: left
}

.forany-quieries li a {
	color: #58595b;
	text-decoration: none;
	font-weight: 600
}

.forany-quieries li a span {
	color: #f07541
}

.forany-quieries li a.active {
	color: #fff
}

.forany-quieries li a:hover:not(.active) {
	color: 000;
	text-decoration: none
}

.live-chat-div h3,
.live-chat-div p {
	color: #58595b
}

.live-chat-div {
	width: 100%;
	padding: 0 0 84px!important;
	border-bottom: solid 2px #eeeff2;
	position: relative
}

.live-chat-div h3 {
	font-size: 22px;
	font-weight: 600;
	text-align: left;
	margin: 25px 0 10px;
	padding: 0
}

.live-chat-div p {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.27!important;
	max-width: 174px;
	margin: 0 0 10px 0
}

.live-chat-div img {
	position: absolute;
	top: 0;
	right: 0
}

.lets-chat-btn {
	margin: 5px 0 0;
	font-size: 15px!important;
	background: #9ac854;
	text-align: center;
	color: #fff;
	width: auto;
	float: left;
	font-weight: 400;
	display: block;
	padding: 0 10px!important;
	height: 32px
}

.lets-chat-btn:hover {
	background: #9ac854;
	color: #FFF
}

.categories-border {
	border-bottom: 0
}

.dont-displaydiv {
	display: block!important
}

.dnd-displaydiv {
	display: none
}

.would-newbooking {
	width: 100%;
	max-width: 1140px;
	text-align: center;
	margin: 60px auto 0
}

.would-newbooking h2 {
	font-size: 26px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding: 0;
	color: #58595b
}

.would-newbooking .search-holidays-btn {
	height: 56px;
	margin: 30px auto;
	font-size: 20px!important;
	background-color: #f07541;
	text-align: center;
	color: #fff;
	width: 320px!important;
	font-weight: 600;
	display: block;
	padding: 0 13px!important
}

.main-accor-div {
	width: 93%;
	margin: 0 auto;
	max-width: 748px
}

.accor-bg-header {
	background: #fff;
	border-radius: 0!important;
	border-bottom: 1px solid #eeeff2;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	margin: 0 0 20px;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

.accor-bg-header .hgr {
	color: #333;
	background-color: #FFF;
	border-color: #eeeff2;
	padding: 0 5px 0 0
}

.accor-bg-header .hgr h4 {
	padding: 14px 0;
	margin: 0;
	font-size: 17px;
	font-weight: 600;
	color: #58595b
}

.accor-bg-header i {
	font-size: 12px;
	margin: 0;
	padding: 5px 0 0
}

.accor-bg-header .accor-inner-box {
	font-size: 14px;
	padding: 15px 0
}

.search-form {
	table-layout: fixed;
	width: 100%
}

.search-button,
.search-wrapper {
	display: table-cell
}

.search-form .search-wrapper {
	position: relative
}

.search-button {
	width: 20%
}

.header-searchbar {
	padding-right: 5%;
	width: 74%;
	padding-bottom: 21px
}

.live_chat {
	background: rgba(250, 250, 250, .8);
	border-radius: 4px;
	padding: 10px 5px 15px 15px;
	display: table-cell;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .24), 0 0 4px 0 rgba(0, 0, 0, .12);
	-webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .24), 0 0 4px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .24), 0 0 4px 0 rgba(0, 0, 0, .12);
	-o-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .24), 0 0 4px 0 rgba(0, 0, 0, .12)
}

.live_chat p {
	margin: 0
}

.live_chat h3 {
	font-size: 22px;
	font-weight: 600;
	text-align: left;
	margin: 0;
	padding: 0
}

.live_chat p {
	font-size: 14px;
	font-weight: 400
}

.popular-boxdiv h3 {
	font-size: 17px;
	margin-top: 26px;
	padding: 0 30px;
	color: #58595b!important
}

.latest-traveldiv h3 {
	font-size: 17px!important;
	font-weight: 600!important;
	color: #58595b!important
}

.videoOverlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .87);
	z-index: 9999
}

.OverlayInner {
	width: 60%;
	margin: 0 auto;
	height: 99%;
	position: relative
}

.videoTitleOverlay {
	padding: 30px 10px 20px;
	font-size: 28px;
	color: #fff;
	display: table-cell;
	vertical-align: middle
}

.VideoNumber {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.9;
	letter-spacing: 2.6px
}

.VideoTitle {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
	letter-spacing: 3px
}

.ui-state-default {
	background: #FFF!important;
	border: 0!important;
	border-bottom: 1px solid #eeeff2!important
}

.ui-state-active a {
	color: #37bdd1!important
}

.faqfield-answer {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.43;
	color: #58595b
}

.faqfield-answer a {
	font-size: 14px!important;
	color: #37bdd1
}

.ui-accordion .ui-accordion-header {
	padding: .8em .5em .8em .7em!important
}

.ui-accordion .ui-accordion-icons {
	padding-left: 0!important;
	padding-right: 40px!important
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	left: inherit!important;
	right: 10px
}

.OtherSectionHeading {
	font-size: 20px;
	font-weight: 700;
	color: #37bdd1;
	text-align: left;
	padding: 30px 0
}

.latest-rtside {
	padding-left: 50px
}

li.ui-menu-item {
	line-height: 2;
	padding: 0 19px;
	border: 1px solid transparent;
	cursor: pointer
}

.faqfield-answer ol,
.indAns ol {
	padding-bottom: 10px
}

.ui-widget-content .ui-state-focus {
	border: 0!important;
	background: 0 0!important
}

li.ui-menu-item:hover {
	background: #ededed;
	border: 1px solid #ccc;
	font-weight: 400;
	color: #2b2b2b
}

.ui-autocomplete {
	max-height: 400px;
	overflow-y: auto;
	padding: 0
}

.searchResultsWrp h3 {
	font-size: 20px!important;
	margin-top: 40px;
	color: #58595b
}

.closeBtnQuestion {
	position: absolute;
	float: right;
	right: 10px;
	top: 10px;
	cursor: pointer;
	font-size: 28px
}

.indAns,
.indAns a {
	font-size: 15px!important
}

.fa-times {
	color: #58595b!important
}

.latest-rtside ol li {
	line-height: initial
}

.faqfield-answer ol,
.searchResultsWrp ol {
	line-height: inherit
}

.indAns a {
	color: #37bdd1
}

#back-to-top {
	bottom: 100px
}

.footerLinksWrapper {
	margin-top: 10px
}

.faqfield-answer.ui-accordion-content {
	border: 0!important
}

.searchResultsWrp .closeBtnQuestion {
	color: #58595b!important
}

.indAns ol {
	line-height: initial
}

.search-wrapper .closer-btn {
	display: none;
	position: absolute;
	right: 5px;
	cursor: pointer;
	font-size: 20px;
	bottom: 0;
	top: 17px;
	color: #a2a2a2!important
}

.help-div .live_chat p {
	font-weight: bold;
	line-height: 1.3
}

p.help-type {
	padding-bottom: 15px;
	text-align: left;
	color: #fff;
	font-size: 15px
}

.help-div .live_chat p span {
	display: block
}

.live_chat .right-section img {
	width: 130px
}

.popular-boxdiv h3 {
	font-family: 'proximanova-bold'!important
}

.help-chat-timing {
	font-size: 11px;
	letter-spacing: -0.2px;
	color: #fff;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
	padding: 5px 0 1px 0;
	display: none
}

.searchResultsWrp p {
	line-height: 1.6
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	left: inherit;
	right: 8px;
	border-top: solid #58595b 1px;
	border-right: solid #58595b 1px;
	width: 7px;
	height: 7px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	padding: 0
}

.ui-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: -4px
}

@media(max-width:1130px) {
	.help-div {
		width: 94%;
		padding: 0
	}
	.customer-support .tth-middle-wrapper {
		max-width: 94%
	}
	.customer-support .customer-support-content {
		padding: 10px 33px
	}
	.header-searchbar {
		width: 69%
	}
}

@media(max-width:1024px) {
	.customer-support .number-mask {
		display: none
	}
	.customer-support .customer-number {
		letter-spacing: 0
	}
	.searchResultsWrp {
		width: 100%!important;
		max-width: 94%;
		margin: 30px auto;
		position: relative;
		padding: 0 20px 20px
	}
	.ryanair-content .circle-div {
		margin: 34px 0 0
	}
	.ryanair-content .rightside-content {
		margin: 36px 0 0 70px
	}
	.popular-boxdiv {
		padding: 32px 0 20px;
		display: block;
		height: 208px
	}
	.latest-traveldiv {
		width: 96%
	}
	.popular-categories h3 {
		margin: 0;
		padding: 0 30px 30px
	}
	.popular-categories .contentarea {
		margin-top: 36px
	}
	.howto-check-headerbg {
		margin: 36px auto 30px
	}
	.popular-categories .tax-documents-icon {
		background-position: -10px -236px;
		width: 57px;
		height: 80px;
		margin: 0 auto 27px
	}
	.popular-categories .payment-low-icon {
		background-position: -89px -235px;
		width: 71px;
		height: 65px;
		margin: 0 auto 42px
	}
	.popular-categories .inscurace-info-icon {
		background-position: -203px -632px;
		width: 76px;
		height: 59px;
		margin: 0 auto 47px
	}
	.popular-categories .booking-info-icon {
		background-position: -181px -235px;
		width: 61px;
		height: 72px;
		margin: 0 auto 34px
	}
	.popular-categories .passport-visas-icon {
		background-position: -636px -237px;
		width: 78px;
		height: 66px;
		margin: 0 auto 26px
	}
	.popular-categories .myflight-tickets-icon {
		background-position: -262px -237px;
		width: 82px;
		height: 66px;
		margin: 0 auto 34px
	}
	.popular-categories .api-info-icon {
		background-position: -364px -234px;
		width: 80px;
		height: 60px;
		margin: 0 auto 41px
	}
	.popular-categories .resorts-fees-icon {
		background-position: -465px -234px;
		width: 72px;
		height: 68px;
		margin: 0 auto 30px
	}
	.popular-categories .amendment-cancel-icon {
		background-position: -558px -234px;
		width: 57px;
		height: 63px;
		margin: 0 auto 30px
	}
	.categories-border {
		border-bottom: 0 solid #f7f8f9
	}
	.live-chat-div img {
		position: absolute;
		top: 38px;
		right: 0;
		max-width: 124px;
		max-height: 130px
	}
	.search-btn {
		width: 152px
	}
	.would-newbooking {
		padding: 40px 0 0;
		border-top: 1px solid #eeeff2;
		margin: 0 auto;
		width: 91%
	}
	.latest-ltside {
		width: 31.5%!important;
		float: left;
		display: inline-block!important;
		border-right: 1px solid #fee;
		min-width: 282px
	}
	.header-searchbar {
		width: 68%
	}
}

@media(max-width:949px) {
	.customer-support .customer-support-content {
		padding: 10px 17px;
		margin-top: 90px
	}
	.latest-rtside {
		width: 68%;
		float: left;
		display: inline-block!important;
		max-width: 60%
	}
	.header-searchbar {
		padding-right: 2%;
		width: 62%
	}
	.header-searchbar,
	.live-chat-mn {
		float: none
	}
}

@media(max-width:768px) {
	.forany-quieries li,
	.travel-updates li {
		font-family: 'proximanova-regular'!important
	}
	.categories-right-border,
	.latest-ltside {
		border-right: 0
	}
	.forany-quieries li,
	.travel-updates li {
		font-size: 17px
	}
	.forany-quieries li,
	.travel-updates li,
	.travel-updates li a {
		text-align: left;
		font-weight: 400
	}
	.OverlayInner {
		width: 100%!important
	}
	.ryanair-content .rightside-content {
		width: 76%
	}
	.latest-rtside {
		margin: 0;
		padding: 0!important;
		max-width: 100%
	}
	.popular-boxdiv {
		width: 50%!important;
		height: 178px;
		padding: 22px 0 20px!important
	}
	.categories-border {
		border-bottom: 2px solid #f7f8f9!important
	}
	.popular-categories h3 {
		margin: 0;
		padding: 0 30px 12px
	}
	.latest-ltside {
		width: 100%!important;
		padding: 0;
		margin: 0
	}
	.travel-updates {
		width: 100%;
		display: block;
		padding: 18px 0 33px!important;
		border-bottom: solid 1px #eeeff2
	}
	.travel-updates ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		max-width: 100%
	}
	.travel-updates li {
		display: inline-block!important;
		width: 262px;
		margin: 5px 0 0 5px!important;
		vertical-align: middle;
		padding: 12px 10px 12px 22px
	}
	.travel-updates li a {
		color: #58595b;
		text-decoration: none
	}
	.forany-quieries {
		width: 57%;
		display: block;
		padding: 0!important;
		float: left;
		max-width: 380px;
		border-bottom: 0
	}
	.forany-quieries ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		max-width: 262px
	}
	.forany-quieries li {
		border-bottom: solid 1px #eeeff2;
		margin: 5px 0;
		padding: 10px 0 17px
	}
	.live-chat-div {
		width: 100%;
		padding: 0 0 29px 35px!important;
		border-left: solid 1px #eeeff2;
		border-bottom: 0;
		position: relative;
		max-width: 296px;
		float: right;
		left: -44px
	}
	.live-chat-div h3 {
		margin: 4px 0 10px
	}
	.live-chat-div img {
		position: absolute;
		top: 22px;
		right: -34px;
		max-width: 127px;
		max-height: 134px
	}
	.dont-displaydiv {
		display: none!important
	}
	.dnd-displaydiv {
		display: block!important
	}
	.main-accor-div {
		width: 100%;
		margin: 0 auto;
		max-width: 748px;
		padding: 0
	}
	.would-newbooking {
		padding: 40px 0 0;
		border-top: 1px solid #eeeff2;
		margin: 0 auto;
		width: 91%
	}
}

@media(max-width:767px) {
	.help-header-title {
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 5px
	}
	.customer-support .customer-support-content {
		display: block;
		margin-top: 120px
	}
	.live_chat,
	.help-chat-timing {
		display: none!important
	}
	.ui-accordion .ui-accordion-content {
		padding: 1em
	}
	#back-to-top,
	.videoFooter,
	.help-chat-timing {
		display: none
	}
	.ryanair-content .circle-div {
		margin: 0 auto!important;
		float: none;
		left: 0
	}
	.ryanair-content .circle-div .green-left-arrow {
		left: 36px!important
	}
	.ryanair-content .rightside-content h3 {
		text-align: center
	}
	.forany-quieries {
		width: 51%;
		max-width: 280px
	}
	.search-btn {
		max-width: 100%;
		width: 99.9%
	}
	.forany-quieries h2 {
		width: 100%
	}
	.live-chat-div {
		padding: 0 0 22px 35px!important
	}
	.popular-categories h3 {
		font-size: 14px!important;
		padding: 0 10px!important;
		font-weight: 600;
		line-height: 1.21!important
	}
	.header-searchbar input[placeholder] {
		font-size: 15px
	}
	.howto-check-headerbg {
		min-height: 320px
	}
	.howto-check-headerbg .after {
		height: 320px
	}
	.help-div {
		bottom: 22px
	}
	.latest-traveldiv {
		margin: 0 auto;
		width: 92%
	}
	.nlsignup .subscribe-frm {
		padding: 0 46px!important
	}
}

@media(max-width:660px) {
	.nlsignup .subscribe-frm {
		padding: 0 20px!important
	}
	.would-newbooking .search-holidays-btn {
		width: 280px!important
	}
	.latest-ltside {
		padding: 0
	}
	.live-chat-div {
		border-left: none!important;
		width: 100%;
		padding: 0 0 50px 46px!important;
		position: relative;
		top: 20px;
		max-width: 580px;
		float: left
	}
	.live-chat-div img {
		position: absolute;
		top: 0;
		right: -48px;
		max-width: 120px;
		max-height: 120px
	}
	.popular-boxdiv {
		height: 178px;
		padding: 22px 0 20px!important
	}
	.ryanair-content .rightside-content br {
		display: none
	}
	.ryanair-content .circle-div {
		margin: 0 auto!important;
		float: none
	}
	.ryanair-content .rightside-content {
		margin: 36px auto;
		width: 100%
	}
	.ryanair-content .rightside-content h3 {
		font-size: 28px!important;
		text-align: center;
		margin: 0 0 15px
	}
	.ryanair-content .rightside-content p {
		white-space: pre-line;
		line-height: 18px;
		text-align: center
	}
	.green-left-arrow {
		color: #9ac854;
		display: inline-block;
		font-size: 42px;
		left: 21px!important;
		position: relative;
		text-align: center;
		top: 19px!important;
		cursor: pointer;
		width: 17px
	}
	.travel-updates li {
		width: 100%;
		margin: 5px 0 0!important
	}
	.forany-quieries {
		width: 100%;
		max-width: 660px;
		border-bottom: 1px solid #eeeff2
	}
	.forany-quieries ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		max-width: 660px
	}
	.search-wrapper {
		display: table-row
	}
	.search-btn {
		margin: 10px 0 0
	}
	.live-chat-div p {
		font-size: 15px;
		font-weight: 400;
		line-height: 1.27!important;
		color: #58595b;
		max-width: 75%
	}
}

@media(max-width:320px) {
	.searchResultsWrp {
		width: 100%!important;
		max-width: 88%
	}
	.ryanair-content .rightside-content {
		width: 100%
	}
	.header-searchbar input[placeholder] {
		font-size: 12px
	}
	.popular-categories {
		border-bottom: 1px solid #e0e0e0;
		padding: 0 30px
	}
	.most-frequently-questions .contentarea {
		margin-top: 32px
	}
	.popular-categories .icon-containerbox {
		margin-top: 19px!important
	}
	.popular-categories .tax-documents-icon {
		background-position: -5px -331px;
		width: 33px;
		height: 45px;
		margin: 0 auto 17px
	}
	.popular-categories .payment-low-icon {
		background-position: -58px -331px;
		width: 46px;
		height: 43px;
		margin: 0 auto 17px
	}
	.popular-categories .inscurace-info-icon {
		background-position: -124px -737px;
		width: 49px;
		height: 38px;
		margin: 0 auto 16px
	}
	.popular-categories .booking-info-icon {
		background-position: -124px -331px;
		width: 36px;
		height: 42px;
		margin: 0 auto 18px
	}
	.popular-categories .passport-visas-icon {
		background-position: -462px -331px;
		width: 50px;
		height: 43px;
		margin: 0 auto 20px
	}
	.popular-categories .amendment-cancel-icon {
		background-position: -394px -332px;
		width: 48px;
		height: 48px
	}
	.popular-categories .myflight-tickets-icon {
		background-position: -180px -332px;
		width: 50px;
		height: 39px;
		margin: 0 auto 18px
	}
	.popular-categories .api-info-icon {
		background-position: -249px -331px;
		width: 55px;
		height: 42px;
		margin: 0 auto 20px
	}
	.popular-categories .resorts-fees-icon {
		background-position: -326px -331px;
		width: 47px;
		height: 46px;
		margin: 0 auto 13px
	}
	.popular-categories h3 {
		font-size: 14px;
		padding: 0 11px 12px
	}
	.popular-boxdiv {
		height: 150px;
		padding: 20px 0 17px
	}
	.latest-ltside {
		width: 100%!important;
		border-right: 0;
		padding: 0
	}
	.travel-updates li {
		margin: 5px 0 0!important;
		padding: 12px 10px 12px 22px;
		display: inline-block!important
	}
	.forany-quieries {
		width: 100%;
		max-width: 380px
	}
	.forany-quieries li:last-child {
		border-bottom: 0
	}
	.live-chat-div {
		width: 100%;
		padding: 0 0 33px 35px!important;
		position: relative;
		top: 20px;
		max-width: 280px;
		float: right;
		left: -35px
	}
	.live-chat-div img {
		right: -36px;
		top: 17px
	}
	.live-chat-div p {
		line-height: 1.21!important;
		max-width: 180px
	}
	.forany-quieries ul {
		max-width: 280px
	}
	.howto-check-headerbg {
		min-height: 320px;
		margin: 19px auto 30px
	}
	.howto-check-headerbg .after {
		height: 320px
	}
	.ryanair-content .rightside-content h3 {
		font-size: 28px!important;
		text-align: center;
		margin: 0 0 15px
	}
	.ryanair-content .rightside-content p {
		white-space: pre-line;
		line-height: 18px;
		text-align: center
	}
	.would-newbooking .search-holidays-btn {
		width: 264px!important
	}
	.search-btn {
		max-width: 100%;
		margin: 10px 0 0;
		width: 99.9%
	}
	.forany-quieries h2 {
		white-space: pre-wrap!important
	}
	.latest-rtside {
		width: 100%;
		padding: 0
	}
	.search-wrapper {
		display: table-row
	}
	.would-newbooking {
		padding: 40px 0 0;
		border-top: 1px solid #eeeff2;
		margin: 0 auto;
		width: 90%
	}
	.popular-categories .contentarea {
		margin-top: 0;
		padding-left: 0;
		padding-right: 0
	}
}

@media(max-width:767px) {
	.live_chat {
		display: none!important
	}
	.help-div>div {
		display: block;
		padding: 0;
		width: 100%!important
	}
	.help-div p {
		margin-bottom: 5px;
		line-height: normal
	}
	.help-div>div.live-chat-mn {
		display: none
	}
	.header-searchbar {
		width: 93%!important
	}
	.search-wrapper {
		display: inline-block;
		width: 78%
	}
	.search-button {
		display: inline-block;
		width: 22%
	}
	.live_chat {
		width: 100%;
		padding: 4%!important
	}
}

@media(max-width:660px) {
	.search-btn {
		margin: 10px 0 0;
		display: none
	}
	.search-btn-repsonsive {
		height: 49px;
		margin: 0;
		border-radius: 2px!important;
		font-size: 28px!important;
		background-color: #f07541;
		outline: 0;
		text-align: center;
		color: #fff;
		width: 100%;
		float: left;
		text-transform: uppercase;
		font-weight: 700;
		display: block
	}
	.search-btn-repsonsive:hover {
		background-color: #f07541;
		color: #FFF
	}
	.live-chat-div p {
		font-size: 15px;
		font-weight: 400;
		line-height: 1.27!important;
		color: #58595b;
		max-width: 75%
	}
	.search-button .search-icon-btn {
		position: relative;
		float: none;
		cursor: pointer;
		display: block;
		text-align: center;
		vertical-align: middle;
		font-size: 22px!important;
		color: #FFF!important
	}
}

@media(max-width:320px) {
	.search-button .search-icon-btn {
		font-size: 22px!important;
		float: none;
		text-align: center;
		vertical-align: middle;
		display: block;
		left: 0
	}
	.search-btn-repsonsive {
		padding: 0
	}
}

.header-searchbar,
.live_chat>div {
	vertical-align: bottom;
	display: table-cell
}

.OverlayInnerContent {
	width: 100%;
	height: 43px;
	background: rgba(0, 0, 0, .9);
	text-align: center;
	display: table;
	position: relative
}

@media(max-width:360px) {
	.videoTitleOverlay {
		font-size: 20px
	}
}
