/* Sunshine Banners */
@media (max-width: 767px) {
    .sunshine-banners {
        margin-top:-11px;
    }
}

.dealTitle,
.mega-dropdown-list-right .mega-dropdown-section-header,
.mega-dropdown-section-header,
.mega-dropdown-title,
.mobile-date-summery,
.mobile-nav-item,
.mobile-nav-item a,
.mobile-nav-item span,
.mobile-widget-footer,
.sectionTitle {
    font-weight: 700
}

.hotelTitle,
.mobile-widget-middle,
.syn-anchor .fa-phone {
    vertical-align: middle
}

.btnViewDeals,
.input-depart-box .mobile-nghts-value,
.input-departing-box .mobile-nghts-value,
.input-destingtion-box .mobile-nghts-value,
.input-stayfor-box .mobile-nghts-value,
.mobile-input,
.mobile-input-button {
    text-transform: uppercase
}

#main-content,
#page-header-wrapper,
.CloseSearch,
.Phone-call-Mobile,
.imgCallS,
.mobile-call,
.resentSearchContainer,
.socialIcons,
.submitted,
header {
    display: none
}

.row.subscribe-frm .popover {
    left: 45%!important;
    max-width: inherit;
    top: 35px!important;
    width: 52%!important
}

.main-header {
    display: none!important
}

.SubMItems,
.syn-anchor .fa-phone {
    display: table-cell
}

.Phone-call,
.divBackground,
.holidayBlockImgDiv {
    position: relative
}

.CallUsSection,
.SearchWrapper,
.dealTitle,
.imgoverlay {
    position: absolute
}

.tth-users-container {
    position: absolute!important
}

.CallUsSWrapper,
.dealTitle,
.hotelTitle,
.sectionTitle,
.subHeader,
.syn-anchor .fa-phone {
    text-align: center
}

.Phone-call,
.holidayBlock {
    background-color: #fff
}

.dealTitle,
.fa-times,
.hotelTitle {
    color: #fff
}

.CallUsSWrapper,
.Phone-call,
.btnViewDeals,
.fa-times {
    float: right
}

#wrapper,
.divBackground,
.holidayBlockContent,
.holidayBlockImgDiv {
    overflow: hidden
}

.Phone-call,
.divBackground img,
.field-item .SearchWrapper,
.holidayBlock,
.holidayBlockContentDiv {
    height: auto
}

.divBackground,
.divBackground img,
.field-item .SearchWrapper,
.imgoverlay,
.main-holidays-search,
.sectionTitle,
.syn-anchor .fa-phone {
    width: 100%
}

.holidays-call-label1,
.holidays-call-label2,
.sectionTitle,
.subHeader {
    color: #58595b
}

.searchBlock {
    width: 99%!important
}

.syn-anchor {
    margin: 0 auto!important;
    display: table;
    pointer-events: none;
    cursor: default
}
.datepicker table tr td span,
.datepicker-switch,
.day,
.holidayBlock:hover,
.input-guests-box,
.mobile-btn-minus,
.mobile-btn-plus,
.mobile-calendar-btn-cancel,
.mobile-calendar-btn-clear,
.mobile-calendar-btn-done,
.mobile-calendar-done,
.mobile-flexible,
.mobile-input-group .twitter-typeahead,
.mobile-input-group-split-2,
.mobile-option-reset,
.mobile-widget-footer,
.next,
.prev,
.search-history {
    cursor: pointer
}

.syn-anchor .fa-phone {
    height: 60px;
    font-size: 50px;
    padding: 8px 0 0 15px;
    margin: 0
}

.holidayBlockContent::after {
    content: "..."
}

.SearchWrapper {
    z-index: 1;
    margin-top: 40px;
    width: 100%
}

.page-builder-wrapper {
    margin: 0!important
}

.page-builder-wrapper.margin-top {
    padding: 0!important
}

.holidayBlock {
    -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 0 2px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 0 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2), 0 0 2px 0 rgba(0, 0, 0, .1);
    margin-bottom: 20px
}

.btnViewDeals,
.dealTitle {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 0 2px 0 rgba(0, 0, 0, .1)
}

.subHeader {
    font-size: 16px
}

.holidayBlockImgDiv {
    height: 170px;
    background-size: auto 100%!important
}

.holidayBlock:hover .imgoverlay {
    opacity: .1
}

.holidayBlockContent {
    height: 115px;
    line-height: 1.5;
    max-height: 104px;
    min-height: 100px
}

.btnViewDeals {
    background-color: #f2f2f2;
    bottom: 0;
    padding: 5px 15px;
    border: 0
}

.holidayTypes .col-md-3 {
    margin-top: 25px
}

.dealTitle {
    font-size: 14px;
    margin: 0 auto;
    top: 10%;
    width: 72%;
    background-color: rgba(0, 0, 0, .4);
    left: 14%
}

.sectionTitle {
    font-size: 30px;
    margin: 20px 0 10px
}

.listHoliday {
    padding-left: 1em;
    text-indent: -.7em
}

.listHoliday:before {
    content: "ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¢ ";
    color: #9ac854
}

.fa-times {
    font-size: xx-large;
    margin-right: 10px
}

.CallUsSWrapper {
    display: inline;
    width: 78%;
    line-height: 1.2;
    margin-top: 10px
}

.CallPhoneS {
    font-size: 32px;
    letter-spacing: -.9px;
    color: #f07541;
    display: inline-block
}

.holidayBlockContentDiv>div {
    padding-bottom: 40px!important
}

.activeMenu {
    border-bottom: 2px solid #fbdb3e
}

.main-holidays-search {
    margin: 0 auto;
    max-width: 1153px
}

.holidays-call-label1,
.holidays-call-label2 {
    font-style: normal
}

.searchFooterIcon {
    margin-left: 10px
}

.imgoverlay {
    height: 100%;
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    transition: opacity .6s ease 0s
}

.divBackground {
    height: 450px;
    top: -1px!important;
    background-repeat: no-repeat;
    background-size: 100% auto
}

.divBackground img {
    border: 0;
    min-height: 380px!important
}

.holidayBlockImgDiv img {
    width: 100%;
    height: 100%;
    border: 0
}

.hotelTitle {
    background-color: rgba(0, 0, 0, .6);
    float: left;
    bottom: 0;
    margin-top: 20px;
    padding: 10px
}

.Phone-call {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .2), 0 0 8px 0 rgba(0, 0, 0, .1);
    width: 324px
}

.CallUsS {
    font-size: 13px
}

.searchHolidayContainer .search-departureAir .twitter-typeahead .tt-dropdown-menu,
.searchHolidayContainer .twitter-typeahead .tt-dropdown-menu {
    top: 40px!important;
    margin: 0!important
}

.footerContentWrap {
    padding: 20px 0 10px!important;
    border-bottom: none!important;
    border-top: 1px solid #d8d8d8!important;
}

body>.datepicker {
    z-index: 99!important
}

/* .mega-menu-wrapper {
    z-index: 9999!important
}
 */
.CallUsSection {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: 1% 0;
    right: 0
}

.CallUsSection,
.holidayTypes {
    width: 98%!important;
    max-width: 1150px
}

.holidayTypes {
    background: 0 0!important
}

.desktop-links-wrapper>ul,
.theme-footer-social ul {
    padding: 0
}
.faq-sec p{margin-bottom:15px;}
.faq-sec span{margin-top:10px;display:block;}
.faq-sec span strong{font-size:15px;}
.all-inclusive-container h3 {font-size: 18px;margin-top: 20px;font-weight: 600;}
.all-inclusive-container h4 {font-size: 16px;margin-top: 15px;font-weight: 600;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .searchFormLeft input:-ms-input-placeholder:before {
        text-transform: uppercase
    }
    .search-stay,
    ::i-block-chrome {
        width: 12.5%!important
    }
}

/* flexible date 06-FeB-2018 */
.flexible-date{background:rgba(0,0,0,0.4);left:0;right:0;bottom:-40px;padding:5px 7px 3px 7px;color:#fff;}
.flexible-date .tth-checkbox{width:15px;height:15px;border-width:1px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.flexible-date .date-type{padding-left:10px;font-size:13px;}
.ms-mask{z-index:5;}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .holidayTypes .col-md-3 {
        width: 33%;
        float: left
    }
    .holidayBlockContent {
        height: 140px;
        max-height: 132px
    }
    .field-item .SearchWrapper {
        margin-top: 70px!important
    }
}

@media (max-width:992px) {
    .syn-anchor {
        pointer-events: inherit!important;
        cursor: pointer!important
    }
}

@media (max-width:767px) {
    .CallUsSection {
        padding: 1%
    }
    .invalidMsgSearch {
        z-index: 99!important
    }
    .subscribe-frm {
        position: relative
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
    .row.subscribe-frm .col-xs-7,
    .subsribeDetailModal .row.subscribe-frm .col-xs-5 {
        width: 100%!important
    }
    .subsribeDetailModal .row.subscribe-frm .col-xs-7 {
        margin-top: 10px
    }
    .row.subscribe-frm #phone-req.popover.bottom {
        left: 3%!important;
        width: 94%!important;
        position: absolute;
        top: 100%!important
    }
    #node-ajax-wrapper h2 {
        font-size: 20px!important
    }
    .desc {
        padding: 15px!important
    }
    .subtitle2 {
        padding-top: 20px!important
    }
    .theme-footer-social .theme-footer-social-icons,
    .theme-footer-social ul li a .fa-facebook,
    .theme-footer-social ul li a .fa-rss {
        left: initial!important
    }
    .Phone-call,
    .SearchWrapper,
    .back-to-top,
    .holidays-call-label1 {
        display: none
    }
    #mobilesearch,
    .Phone-call-Mobile,
    .search-close-icon .mobileSearchClose,
    .search-close-icon span:after,
    .search-close-icon span:before {
        display: block
    }
    .CallUsSWrapper,
    .CloseSearch div,
    .luxury-phone-icon {
        display: inline-block
    }
    .CloseSearch div,
    .btn-subscribe,
    .divflexdates,
    .search-departureAir,
    .search-departureDate,
    .search-destination,
    .search-stay,
    .ttGuest,
    .ttSearch {
        position: relative
    }
    .holidayTypes .col-md-3,
    .moreHolidayTypes .col-md-3 {
        float: left
    }
    .Phone-call-Mobile,
    .main-holidays-search {
        position: fixed
    }
    .search-close-icon .mobileSearchClose,
    .search-close-icon span:after,
    .search-close-icon span:before {
        position: absolute
    }
    .CallUsSection,
    .Phone-call,
    .Phone-call-Mobile,
    .holidayTypes,
    .hotelTitle,
    .moreHolidayTypes .col-md-3,
    .page-builder-row-section.holidayTypes {
        width: 100%!important
    }
    .Phone-call-Mobile {
        top: 50px;
        text-align: center;
        background: #f2f2f2;
        z-index: 9;
        box-shadow: 0 3px 0 0 rgba(39, 38, 38, .3), 0 0 2px 0 rgba(37, 36, 36, .32)
    }
    .holidayTypes .col-md-3 {
        width: 50%!important
    }
    .moreHolidayTypes {
        width: 74%!important
    }
    .footerCopyrightWrap {
        margin-bottom: 30px
    }
    .Phone-call-Mobile .CallUsS {
        font-size: 17px
    }
    .Phone-call-Mobile .CallPhoneS {
        font-size: 40px
    }
    .CallUsSection {
        margin-top: 20px!important;
        left: 0!important
    }
    .Phone-call {
        margin-top: 66px
    }
    .holidayBlockContent {
        height: auto
    }
    .holidays-call-wrapper {
        font-size: 36px
    }
    #btnSearch {
        font-size: 18px!important;
        height: inherit!important;
        padding: 13px 0!important
    }
    #tthDest,
    .search-Hstay .btn.dropdown-toggle.btn-default,
    .search-Hstay>div,
    .search-departureAir #inpAirport,
    .search-departureDate .date-picker.form-control,
    .search-destination #inpDest,
    .search-stay .btn.dropdown-toggle.btn-default,
    .search-stay>div {
        height: 30px!important
    }
    .search-departureAir,
    .searchFormLeft .ttguest-wrapper .ttSearch {
        top: -4px
    }
    .search-departureDate,
    .search-stay {
        top: -8px
    }
    .divflexdates {
        top: -3px
    }
    .sectionTitle {
        margin: 0 0 5px!important
    }
    .searchFormLeft {
        padding: 0 10px
    }
    .searchHolidayContainer .search-departureAir .twitter-typeahead .tt-dropdown-menu,
    .searchHolidayContainer .twitter-typeahead .tt-dropdown-menu {
        top: 30px!important
    }
    .searchFormLeft .ttguest-wrapper {
        top: -15px
    }
    #ttcalender,
    #tthcalender {
        background: 0 0!important
    }
    #headerBlock {
        height: 50px!important
    }
    .headWrapper img.ttLogo {
        width: 186px!important;
        top: 24px!important;
        left: calc(50% - 100px)!important
    }
    #mobile-nav {
        top: 15px!important
    }
    .accountIcon {
        max-width: 32px!important
    }
    .divBackground {
        top: -1px!important
    }
    .CallUsSWrapper {
        float: none!important;
        width: initial!important;
        line-height: normal
    }
    .holidays-phone-number,
    .luxury-phone-icon a {
        color: #f07541!important
    }
    .syn-phone-number {
        font-weight: 700
    }
    .luxury-holidays-dspn1,
    .luxury-holidays-dspn2 {
        width: 93%;
        margin: 0 auto
    }
    .luxuryheading {
        margin: 42px auto 14px!important
    }
    .searchBlock {
        vertical-align: middle;
        display: table-cell!important
    }
    .CloseSearch {
        overflow: hidden;
        margin-bottom: 10px
    }
    .CloseSearch div {
        top: 0!important;
        right: 0;
        height: 30px;
        width: 30px;
        float: right;
        border: 2px solid #fff;
        border-radius: 100px
    }
    .btnClose {
        width: 20px!important;
        height: 20px!important;
        line-height: 19.5px!important;
        font-size: 13px!important
    }
    .search-close-icon span:before {
        transform: rotate(90deg)
    }
    .search-close-icon span:after,
    .search-close-icon span:before {
        content: '';
        top: 0;
        right: 0;
        height: 17px;
        width: 2px;
        background: #fff
    }
    .offerstab .col-md-3 {
        width: 48%!important
    }
    .field-item .SearchWrapper {
        margin-top: 40px!important;
        z-index: 9999
    }
    .main-holidays-search {
        background-color: rgba(0, 0, 0, .6)!important;
        bottom: 0;
        height: 100%;
        top: 0;
        width: 100%;
        display: table;
        z-index: 9999
    }
    .search-close-icon .mobileSearchClose {
        font-size: 18px;
        left: 5px;
        top: 5px;
        transform: rotate(-90deg)
    }
    .searchHolidayContainer {
        padding: 0!important
    }
    .datepicker.datepicker-dropdown {
        z-index: 99999!important
    }
    .holidayTypes .page-builder-element>div {
        margin-left: 15px!important;
        margin-right: 15px!important
    }
    .holidayTypes .page-builder-element>div.holidayBlock {
        margin: 0 0 20px!important
    }
    /*.divBackground {
        height: 320px!important;
        max-height: 340px!important
    }*/
	.mobile-search-container{ display:none;}
.input-departing-box {min-height: 60px !important;}
/*.holidayBlockImgDiv{ height:auto !important;}*/
.holidayBlock .holidayBlockImgDiv img{ width:100%; height:auto;}
}

@media (max-width:480px) {
    .Phone-call-Mobile .CallUsS {
        font-size: 14px!important
    }
    .Phone-call-Mobile .CallPhoneS {
        font-size: 32px!important
    }
    .holidayTypes .col-md-3 {
        width: 100%!important;
        float: left
    }
}

@media (max-width:1150px) {
    .holidayTypes .col-md-3 {
        width: 33%
    }
}

.page-builder-element h1 {
    padding: 0!important
}

.mega-dropdown-items1,
.mega-dropdown-wrapper,
.mega-menu-wrapper {
    max-width: 1138px!important;
    right: 0;
    left: auto
}

#page-builder-section-5 {
    background: 0 0!important
}

.col-md-12 p {
    line-height: 18px
}

.subscribe-frm {
    padding: 0!important
}

.page-builder-column.col-md-12:nth-child(2) {
    margin-top: 0!important
}

.page-builder-row-section.page-builder-row-section-0 {
    margin: 0!important
}

.mobile-search-container.mobile-search-wrap {
    padding-top: 51px!important;
    position: absolute!important;
    width: 100%
}

.page-builder-row-section.page-builder-row-section-2.searchFooter#mobilesearch {
    display: none!important
}

.page-builder-row-section.page-builder-row-section-4 {
    padding: 10px 0 0
}

.main-holidays-search {
    background-color: rgba(0, 0, 0, .3);
    padding: 10px!important
}

* {
    margin: 0;
    padding: 0
}

input:-ms-input-placeholder {
    color: #a9a9a9
}

.tt-suggestion {
    min-width: 300px
}

.mobile-widget-guests,
.tth-col-md-4::-moz-selection,
.tth-col-md-4::-o-selection,
.tth-col-md-4::-webkit-selection,
.tth-col-md-4::selection {
    background: 0 0
}

.happy-customer-main-bar,
.mobile-widget-calendar,
.mobile-widget-guests,
.mobile-widget-stayfor,
.tth-col-md-4 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#mouseSwipeScroll a:focus,
#mouseSwipeScroll a:hover,
.mobile-nav-item a:focus,
.mobile-nav-item a:hover {
    color: #fff!important
}

.dinline,
.dstn-search-history-icon,
.feefo-logo1,
.feefo-logo2,
.holidays-title span,
.mobile-dstn-icon,
.mobile-dstn-label,
.mobile-flexible-label,
.mobile-legend-fill1,
.mobile-legend-fill2,
.mobile-legend-label,
.mobile-legend-ouline,
.mobile-nav-item,
.mobile-nav-item a,
.mobile-nav-item span,
.mobile-tick-box {
    display: inline-block
}

.mobile-legend-label {
    font-size: 12px
}

.mobile-input-label {
    color: #9ac854;
    font-size: 14px
}

.mobile-search-container {
    z-index: 33;left: 0;position: absolute !important;right: 0;top:73px;padding-top:0 !important;
}

.mobile-date-picker,
.mobile-input-group,
.mobile-stay-for {
    padding: 9px 10px
}

.mobile-input-group,
.mobile-input-group-split-2 {
    background: #fff;
    max-height: 63px
}

.mobile-calendar-btn-clear,
.mobile-input-group,
.mobile-input-group-split-2,
.mobile-legends-item,
.tth-col-md-4 {
    float: left
}

.mobile-calendar-btn-cancel,
.mobile-calendar-btn-done {
    float: right
}

.mobile-tick-box {
    width: 17px;
    height: 17px;
    border: 2px solid #9bc95a;
    top: 2px;
    background: #9bc95a;
    float: left
}

.mobile-tick-box-fill {
    background: 0 0
}

.mobile-flexible-label {
    top: 1px;
    padding-left: 10px;
    float: left
}

.mobile-tick-mark {
    width: 6px;
    height: 10px;
    border-right: solid #fff 2px;
    border-bottom: solid #fff 2px;
    transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    -o-transform: rotate(38deg);
    -ms-transform: rotate(38deg);
    -webkit-transform: rotate(38deg);
    top: 0;
    left: 4px
}

.mobile-flexible-label,
.mobile-input {
    font-size: 14px!important
}

.mobile-input,
.mobile-nghts-value,
.place-holder-text {
    padding: 6px 0 0!important;
    height: auto!important;
    width: 100%!important
}

button:focus,
input:focus {
    box-shadow: none;
    outline: 0
}

.mobie-down-arrow {
    bottom: 16px;
    right: 18px;
    width: 9px;
    height: 9px;
    border-bottom: solid #58595b 2px;
    border-right: solid #58595b 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mobile-hot-box1 {
    top: 0;
    right: 0;
    width: 55px;
    height: 100%
}

.mobile-calendar-btn-clear,
.mobile-input,
.mobile-nghts-value,
::-moz-placeholder,
::-ms-input-placeholder,
::-webkit-input-placeholder {
    color: #58595b
}

::-webkit-input-placeholder {
    color: #a9a9a9
}

.mobile-option-reset {
    width: 17px;
    height: 17px;
    border: 1px solid #cdcdce;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    top: 10px;
    right: 10px
}

.mobie-close-icon1,
.mobie-close-icon2 {
    border-right: solid #cdcdce 1px;
    height: 9px;
    top: 3px;
    left: 7px
}

.mobie-close-icon2 {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.mobie-close-icon1 {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.mobile-input-button {
    color: #fff;
    padding: 10px 0 9px;
    font-size: 20px;
    border: none;
    width: 17%;
    min-height: 63px;
    height: 63px
}

.mobile-input-button:focus {
    border: none;
    outline: 0
}

.mobile-input-button:hover {
    background: #eb6a34
}

.mibile-instruction-text span,
.mobile-carousel-nav,
.mobile-input-button,
.mobile-ngts-label,
.mobile-persona-label,
.mobile-widget-footer,
.mobile-widget-header,
.txt-center {
    text-align: center
}

.mobile-widget-overlay {
    z-index: 130;
    right: 0;
    left: 0;
    top: 125px;
    opacity: 0
}

.mobile-widget-calendar {
    width: 303px
}

.mobile-widget-guests,
.mobile-widget-stayfor {
    width: 250px;
    overflow: hidden
}

.mobile-calendar-wrapper,
.mobile-guests-wrapper,
.mobile-stayfor-wrapper {
    width: 100%;
    height: 0;
    z-index: 116;
    left: 0;
    right: 0;
    opacity: 0
}

.mobile-calendar-wrapper,
.mobile-guests-wrapper {
    top: 70px
}

.mobile-stayfor-wrapper {
    top: 125px
}

.mobile-widget-overlay-layer {
    background: rgba(0, 0, 0, .5);
    z-index: 115;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.mobile-calendar-wrapper,
.mobile-destinations,
.mobile-guests-wrapper,
.mobile-stayfor-wrapper,
.mobile-widget-overlay,
.mobile-widget-overlay-layer {
    position: fixed
}

#hp-warning-location,
.back-to-top,
.date-key,
.for-mobile-devices,
.hp-location-wrapper,
.hp-locations-overlay,
.input-depart-box .mobile-nghts-value,
.input-destingtion-box .mobile-nghts-value,
.key,
.mobile-calendar-wrapper,
.mobile-carousel-nav,
.mobile-date-summery,
.mobile-depart-list-wrapper,
.mobile-destinations,
.mobile-dstn-list-wrapper,
.mobile-guests-wrapper,
.mobile-search-noresult,
.mobile-search-validation,
.mobile-stayfor-wrapper,
.mobile-widget-overlay,
.mobile-widget-overlay-layer,
.search-history {
    display: none
}

.datepicker table tr td span,
.datepicker table tr td.today.disabled:before,
.dblock,
.item-show,
.mibile-instruction-text span,
.mobile-btn-minus-symbol1,
.mobile-btn-minus-symbol2,
.mobile-calendar-done,
.mobile-destinations-show,
.mobile-dstn-header2,
.mobile-flexible,
.mobile-input,
.mobile-input-label,
.mobile-nghts-value,
.mobile-ngts-label,
.mobile-option-reset,
.mobile-search-validation:before,
.mobile-widget-footer,
.mobile-widget-header,
.table-condensed .next:before,
.table-condensed .prev:before {
    display: block
}

.mobile-widget-table {
    table-layout: fixed;
    display: table;
    height: 100%;
    width: 250px
}

.mibile-instruction-text,
.mobile-search-fields,
.mobile-widget-calendar,
.mobile-widget-guests,
.mobile-widget-overlay,
.mobile-widget-stayfor,
.mobile-widget-table {
    margin: 0 auto
}

.mobile-widget-middle {
    display: table-cell
}

.mobile-widget-calendar,
.mobile-widget-guests,
.mobile-widget-stayfor {
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5)
}

.mobile-widget-header {
    background: #f0f1f1
}

.dstn-search-history-label,
.mobile-dstn-header input,
.mobile-dstn-label,
.mobile-ngts-label,
.mobile-persona-label,
.mobile-widget-header {
    font-size: 16px
}

.mobile-widget-footer,
.mobile-widget-header {
    padding: 12px 0
}

.mobile-calendar-header {
    padding: 10px 15px 14px
}

.mobile-widget-footer {
    width: 90%;
    margin: 0 auto 10px;
    font-size: 16px
}

.mobile-calendar-done:hover,
.mobile-widget-footer:hover {
    background: #89B543
}

.mobile-calendar-done {
    background: #9ac854;
    padding: 10px;
    margin: 10px 3px 0;
    text-align: center
}

.mobile-calendar-btn-done,
.mobile-calendar-done,
.mobile-widget-footer {
    color: #fff
}

.tth-col-md-4 {
    width: 33.33333333333333%
}

.mobile-ngts-container {
    padding: 20px 0 0;
    overflow: hidden
}

.border-top {
    border-top: solid #d8d8d8 1px
}

.mobile-btn-minus-symbol1,
.mobile-btn-minus-symbol2 {
    width: 12px;
    height: 2px;
    background: #58595b
}

.mobile-btn-minus-symbol1 {
    top: 23px;
    left: 19px
}

.mobile-btn-minus-symbol2 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 7px;
    top: 10px;
    position: relative
}

.mobile-btn-minus,
.mobile-btn-plus {
    font-size: 33px;
    width: 50px;
    height: 50px;
    margin-top: 0;
    text-align: center;
    top: 1px
}

.mobile-btn-minus-disabled,
.mobile-btn-plus-disabled {
    color: #ccc;
    cursor: default
}

.mobile-ngts-count {
    font-size: 35px;
    background: 0 0;
    border: none;
    color: #58595b!important
}

.mobile-ngts-label {
    padding: 6px 0 20px
}

.mibile-instruction-text,
.mobile-ngts-label,
.mobile-persona-label {
    color: #afb0b1
}

.mobile-persona-label {
    padding-bottom: 20px;
    font-size: 12px
}

.holidays-title,
.mobile-adult-cnt,
.mobile-calendar-btn-cancel,
.mobile-calendar-btn-clear,
.mobile-calendar-btn-done,
.mobile-children-cnt,
.mobile-date-picker>span,
.mobile-input,
.mobile-input-button,
.mobile-input-label,
.mobile-nghts-value,
.mobile-search-fields .mobile-input-group>span,
.mobile-search-fields .pstn-reltv>span,
.mobile-stay-for>span,
.place-holder-text,
.search-history-label {
    font-family: proximanova-semibold!important
}

.mega-dropdown-wrapper {
    min-height: 400px!important
}

.holidays-title h1,
.holidays-title span {
    font-size: 20px
}

.holidays-title {
    padding: 0 0 15px
}

.holidays-title h1 {
    color: #fff
}

.holidays-title span {
    color: #fbdb3e
}

.mobile-widget-guests .mobile-ngts-label {
    padding: 6px 0 0
}

.mibile-instruction-text {
    font-size: 12px;
    padding-bottom: 12px;
    max-width: 80%;
    line-height: 15px
}

.no-top-margin {
    margin-top: 0
}

.mobile-depart-list-wrapper,
.mobile-dstn-item,
.mobile-dstn-list-wrapper {
    height: 100%
}

.mobile-destinations {
    background: #fff;
    z-index: 9999;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%
}

.mobile-dstn-header {
    background: rgba(110, 61, 124, 1);
    min-height: 50px
}

.mobile-dstn-header input {
    border: none;
    background: 0 0!important;
    height: 40px;
    right: 0;
    left: 0;
    width: 100%!important;
    color: #fff;
    padding: 0 0 15px
}

.mobile-dstn-header::-webkit-input-placeholder {
    color: #fff
}

.mobile-dstn-header .congratulations-close-bar1,
.mobile-dstn-header .congratulations-close-bar2 {
    background: #fff!important;
    width: 18px
}

.mobile-widget-calendar .congratulations-close-bar1,
.mobile-widget-calendar .congratulations-close-bar2 {
    background: #58595b!important;
    left: 5px;
    top: 15px
}

.mobile-widget-calendar .congratulations-close-icon {
    top: 9px;
    right: 14px;
    width: 32px;
    height: 32px
}

.mobile-widget-calendar .congratulations-close-bar2 {
    top: 13px
}

.mobile-dstn-header .congratulations-close-bar1:hover,
.mobile-dstn-header .congratulations-close-bar2:hover {
    background: #fff!important
}

.mobile-hdr-back-arrow {
    top: 19px;
    left: 18px;
    width: 10px;
    height: 10px;
    z-index: 10;
    border-left: solid #fff 2px;
    border-bottom: solid #fff 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg)
}

.mobile-header-search {
    right: 70px;
    left: 25px;
    bottom: 10px;
    top: 10px;
    border-bottom: solid #fff 1px
}

.mobile-hdr-arrowbar {
    border-bottom: solid #fff 2px;
    width: 15px;
    top: 23px;
    left: 19px
}

.mobile-back-arrow {
    left: 0;
    top: 0;
    width: 50px;
    height: 100%
}

.mobile-destinations-show {
    right: 0;
    animation: fadein .3s ease-in-out;
    -webkit-animation: fadein .3s ease-in-out;
    -moz-animation: fadein .3s ease-in-out;
    -ms-animation: fadein .3s ease-in-out
}

.mobile-dstn-list-wrapper {
    overflow-x: auto
}

.mobile-calendar-done,
.mobile-flexible,
.mobile-input-button,
.mobile-widget-footer {
    transition: all .2s ease-in-out
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.item-show {
    animation: fadein .3s ease-in-out;
    -webkit-animation: fadein .3s ease-in-out;
    -moz-animation: fadein .3s ease-in-out;
    -ms-animation: fadein .3s ease-in-out
}

.mobile-dstn-header2 {
    background: #f2f2f2;
    color: #a3a3a4;
    font-size: 12px;
    padding: 9px 0 6px 25px
}

.mobile-dstn-list-name,
.mobile-search-noresult {
    padding: 10px 0 5px 25px
}

.dstn-search-history {
    padding: 10px 0 10px 25px
}

.dstn-search-history a {
    margin: 10px 0;
    overflow: hidden
}

.dstn-search-history-icon {
    width: 16px;
    height: 16px;
    background-position: -4px -62px;
    top: 2px
}

.dstn-search-history-label {
    margin-left: 16px;
    color: #58595b;
    max-width: 80%
}

.mobile-depart-list-wrapper .mobile-dstn-icon, #pageFixedHeader .mobile-dstn-item .mobile-dstn-icon {
    background-position:-333px -258px;
}


.mobile-dstn-list-name {
    border-bottom: solid #f1f1f2 1px
}

.mobile-dstn-label {
    top: -4px;
    left: 20px
}

.mobile-dstn-item {
    overflow-x: auto;
    padding-bottom: 10px
}

.mobile-calendar-btn-cancel,
.mobile-calendar-btn-clear,
.mobile-calendar-btn-done {
    font-size: 14px
}

.mobile-calendar-btn-done {
    padding-left: 20px
}

.mobile-calendar-btns {
    margin-bottom: 17px
}

.mobile-flexible-container {
    background: #f2f2f2
}

.mobile-flexible {
    padding: 14px 0 14px 19px;
    max-width: 230px
}

.mobile-calendar-legends {
    border-top: solid #dedede 1px;
    padding: 11px 0 3px 3px;
    margin: 3px 2px 0 3px
}

.mobile-padding1 {
    padding-left: 10px;
    padding-right: 10px
}

.mobile-legend-fill1,
.mobile-legend-fill2,
.mobile-legend-ouline {
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 2px;
    top: 3px;
    margin-right: 5px
}

.mobile-legend-ouline {
    border-color: #9ac854
}

.mobile-legend-fill1 {
    border-color: #42b8cd;
    background-color: #42b8cd
}

.mobile-legend-fill2 {
    border-color: #9ac854;
    background-color: #9ac854
}

.mobile-date-summery {
    font-size: 15px;
    padding-left: 2px;
    margin-bottom: 12px
}

.mobile-calendar {
    padding-bottom: 12px
}

.mobie-calendar-icon {
    width: 14px;
    height: 17px;
    background-position: -151px -2px;
    bottom: 13px;
    right: 13px
}

.mobie-calendar-icon i {
    color: #9ac854
}

.mobile-carousel-nav {
    background: rgba(0, 0, 0, .3);
    top: 90px;
    z-index: 34;
    overflow: hidden;
    right: 0;
    left: 0
}

.mobile-nav-item a,
.mobile-nav-item span {
    font-size: 14px;
    color: #fff;
    padding: 15px 0 11px;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px
}

.mobile-nav-avtive {
    border-bottom: solid #fbdb3e 2px
}

.mobile-carousel-nav-active {
    background-color: #15294f
}

.mobile-nav-container {
    top: 50px;
    z-index: 555
}

.mobile-nav-item:first-child {
    padding-left: 4px
}

.mobile-nav-item {
    float: none!important
}

.mobile-nav-item-last {
    padding-right: 50px
}

.input-destingtion-box {
    width: 22%
}

.input-depart-box {
    width: 19%
}

.input-departing-box {
    width: 14%;
    min-height: 63px
}

.input-stayfor-box {
    width: 8%;
    margin-right: 1px;min-height:60px;
}

.input-guests-box {
    width: 18%
}

.mobile-search-fields .clear {
    clear: inherit!important
}

.margin-right1,
.mobile-input-group {
    margin: 0 1px 0 0
}

.mobile-search-fields {
    max-width: 1138px;
    width: 100%
}

.unavailable,
.unavailable-airport-link {
    color: #ddd!important
}

.input-depart-box .twitter-typeahead,
.input-destingtion-box .twitter-typeahead {
    width: 100%
}

.mobile-widget-calendar .congratulations-close-bar1,
.mobile-widget-calendar .congratulations-close-bar2 {
    width: 20px
}

.mobile-search-noresult {
    font-size: 18px;
    color: #58595b
}

.bgnd-orange {
    background: #f07541
}

.mega-dropdown-items1,
.mega-dropdown-wrapper {
    margin: 0 auto
}

body,
html {
    overflow: initial!important
}

.place-holder-text {
    left: 8px;
    top: 30px;
    color: #b5b5b5;
    cursor: text
}

@-moz-document url-prefix() {
    .disabled::before {
        left: -3px!important;
        top: -3px!important
    }
    .mega-dropdown-wrapper {
        top: 113px!important
    }
}

.divSearchParentSlider .divSearchContainer .owl-next,
.divSearchParentSlider .divSearchContainer .owl-prev {
    background: 0 0!important;
    padding: 0!important
}

.divSearchParentSlider .divSearchContainer .owl-prev i {
    text-indent: 400px;
    width: 20px;
    height: 20px;
    position: relative;
    border-top: 2px solid #58595b;
    border-left: 2px solid #58595b;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 39px
}

.divSearchParentSlider .divSearchContainer .owl-next i {
    text-indent: 400px;
    width: 20px;
    height: 20px;
    position: relative;
    border-top: 2px solid #58595b;
    border-right: 2px solid #58595b;
    transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    right: 39px
}

.search-history {
    border: 1px solid #fff;
    padding: 5px 41px 3px 10px;
    margin-top: 15px;
    max-width: 200px
}

.search-history-label {
    color: #fff;
    font-size: 14px
}

.search-history-icon {
    width: 22px;
    height: 17px;
    top: 7px;
    right: 5px;
    background-position: -420px -80px
}

.datepicker table tr td span {
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.datepicker-inline {
    width: 100%;
    padding: 0
}

.datepicker-days {
    padding: 0
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 7px 8px;
    border: 5px solid #fff;
    text-align: center
}

.enabledDates {
    background-color: #42b8cd;
    border-radius: 0!important;
    color: #fff
}

.table-condensed .next,
.table-condensed .prev {
    color: #fff;
    font-size: 0
}

.table-condensed .next:before,
.table-condensed .prev:before {
    content: '';
    width: 15px;
    height: 15px;
    top: 0
}

.datepicker table tr td.today.disabled,
.dstn-search-history-icon,
.dstn-search-history-label,
.mobile-btn-minus,
.mobile-btn-plus,
.mobile-search-container,
.mobile-search-fields,
.mobile-widget-calendar,
.noflightsavailable,
.table-condensed .next:before,
.table-condensed .prev:before {
    position: relative
}

.bgnd-video,
.bgnd-video-frame:before,
.datepicker table tr td.today.disabled:before,
.mega-dropdown-wrapper,
.mobile-search-fields .owl-controls,
.mobile-search-validation,
.mobile-search-validation:before,
.search-history-icon {
    position: absolute
}

.table-condensed .next:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    border-right: solid #808183 1px;
    border-bottom: solid #808183 1px
}

.table-condensed .prev:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-left: solid #808183 1px;
    border-bottom: solid #808183 1px
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: 0 0
}

.datepicker table tr td.today.disabled:before {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid #9ac854;
    top: 0;
    left: 0
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: 0 0;
    color: #999;
    cursor: default
}

.mobile-search-validation {
    bottom: -36px;
    left: 0;
    right: 0;
    padding: 8px 10px;
    z-index: 5;
    color: #fff;
    background: #da5964;
    box-shadow: 0 7px 16px rgba(0, 0, 0, .2)
}

.mobile-search-validation:before {
    width: 10px;
    height: 10px;
    top: -5px;
    left: 10px;
    content: '';
    background: #da5964;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg)
}

.datepicker-switch {
    min-width: 185px!important
}

@media(max-width:1130px) {
    .mobile-search-fields {
        width: 98%!important;
        max-width: 98%!important
    }
    .divHeaderTextContainer {
        width: 98%!important;
        left: 1%
    }
    .input-destingtion-box {
        width: 25.1%
    }
    .input-depart-box {
        width: 21%
    }
    .input-departing-box {
        width: 10%
    }
    .input-guests-box {
        width: 18.4%
    }
}

@media(max-width:1100px) {
    .input-stayfor-box {
        width: 8%
    }
    .input-departing-box {
        width: 16%
    }
    .input-destingtion-box, .input-depart-box {
        width: 23%
    }
    .mobile-children-cnt {
        display: block
    }
    .mobile-input-button {
        font-size: 15px;
        width: 13.3%
    }
    .mobile-date-picker,
    .mobile-input-group,
    .mobile-stay-for {
        padding: 5px
    }
    .input-guests-box {
        width: 16%
    }
    .mobile-input,
    .mobile-nghts-value {
        min-height: 34px
    }
    .input-depart-box .mobile-nghts-value,
    .input-departing-box .mobile-nghts-value,
    .input-destingtion-box .mobile-nghts-value,
    .input-stayfor-box .mobile-nghts-value {
        top: 6px
    }
    .mobile-nghts-value {
        line-height: 16px;
        top: -2px
    }
    .divSearchParentSlider .divSearchContainer .owl-prev i {
        left: 6px
    }
    .divSearchParentSlider .divSearchContainer .owl-next i {
        right: 6px
    }
}

@media (max-width:1024px) {
    .mobile-input {
        font-size: 13px!important
    }
    .mobile-nghts-value {
        font-size: 13px
    }
}



@media(max-width:767px) {
    .input-stayfor-box .mobile-nghts-value,
    .mobile-date-picker>span.mobile-nghts-value,
    .mobile-input-group span.mobile-adult-cnt,
    .mobile-input-group span.mobile-children-cnt,
    .mobile-input-group span.mobile-nghts-value {
        font-size: 14px;
    }
    .input-stayfor-box .mobile-nghts-value {
        top: 2px
    }
    .page-builder-row-section.page-builder-row-section-2.searchFooter#mobilesearch {
        display: block!important
    }
    .for-desktop,
    .homepage .search-holiday-wrapper,
    .input-destingtion-box .input-depart-box .holidays-title,
    .mobile-input,
    .mobile-option-reset,
    .search-history {
        display: none!important
    }
    .dstn-search-history {
        display: none
    }
    .mobile-input-group {
        float: none;
        margin: 8px 0
    }
    .input-depart-box .mobile-nghts-value,
    .input-destingtion-box .mobile-nghts-value,
    .mbl-click-callus,
    .mobie-calendar-icon,
    .mobile-carousel-nav {
        display: block
    }
    .for-mobile-devices {
        display: inline-block
    }
    .mobile-search-fields .clear {
        clear: both!important
    }
    .input-departing-box,
    .mobile-input-group-split-2 {
        width: 49%
    }
    .mobile-nghts-value {
        min-height: initial;
        line-height: initial
    }
    .input-depart-box .mobile-nghts-value,
    .input-destingtion-box .mobile-nghts-value {
        color: #acacac
    }
    .input-item-selected {
        color: #58595b!important
    }
    .margin-right1 {
        margin: 0 2% 0 0
    }
    .mobile-date-picker,
    .mobile-input-group,
    .mobile-stay-for {
        padding: 9px 10px
    }
    .input-stayfor-box {
        margin-right: 0
    }
    .mobile-children-cnt {
        display: inline
    }
    .mobile-search-fields {
        width: 90%
    }
    .mobile-input-button {
        min-height: initial;
        height: initial;
        padding: 10px 0;
        font-size: 20px
    }
    .mobile-search-container {
        padding-top: 112px;
        height: 442px
    }
    .input-departing-box {
        min-height: 56px
    }
    .input-depart-box .mobile-nghts-value,
    .input-departing-box .mobile-nghts-value,
    .input-destingtion-box .mobile-nghts-value {
        top: 0
    }
    .mobile-widget-calendar {
        width: 283px
    }
    .mobile-input,
    .mobile-nghts-value,
    .place-holder-text {
        padding: 2px 0 0!important
    }
    .noflightsavailable {
        top: -4px;
        left: 21px
    }
    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        padding: 5px 3px;
        min-width: 36px
    }
    .mobile-destinations .congratulations-close-icon {
        top: 14px;
        right: 21px
    }
    body,
    html {
        overflow: hidden
    }
    .stop-body-scroll {
        overflow: hidden!important
    }
    .deals-main-row {
        min-height: auto
    }
    .mobie-calendar-icon {
        bottom: 11px
    }
    .mobie-down-arrow {
        bottom: 14px
    }
    body {
        padding-bottom: 70px!important
    }
}

.mega-dropdown-wrapper,
.mega-dropdown-wrapper .mega-dropdown-list-left,
.time-price {
    overflow: hidden
}

@media screen and (min-width:0\0) {
    .mobile-search-container {
        height: 490px
    }
}

@media(max-width:375px) {
    .mobile-search-container {
        background-position: -118px 0
    }
    .mobile-ngts-container {
        padding: 10px 0 0
    }
    .mobile-widget-guests .mobile-ngts-label {
        padding: 0
    }
    .mobile-persona-label {
        padding-bottom: 15px
    }
    #destredirectlnk ul li a {
        font-size: 11px
    }
    .mobile-widget-calendar {
        width: 275px
    }
    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        padding: 3px 0;
        min-width: 35px
    }
}

.mega-dropdown-items1 .spanDefaultDest,
.mega-dropdown-items2 .spanAirport,
.mega-dropdown-list-section ul li,
.mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport,
.mega-dropdown-wrapper ul li a {
    font-size: 16px
}

@media(max-width:320px) {
    .mobile-calendar-btns {
        margin-bottom: 7px
    }
    .mobile-calendar {
        padding-bottom: 6px
    }
    .mobile-calendar-header {
        padding: 11px 15px 16px 14px
    }
    .mobile-widget-calendar {
        width: 288px
    }
    .mobile-widget-footer,
    .mobile-widget-header {
        padding: 10px 0
    }
    .mobile-persona-label {
        padding-bottom: 8px
    }
    .mobile-ngts-container {
        padding: 3px 0 0
    }
    .mobile-widget-guests,
    .mobile-widget-overlay,
    .mobile-widget-stayfor {
        width: 210px
    }
    .datepicker-switch {
        min-width: 175px!important
    }
    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        min-width: 37px
    }
}

.mega-dropdown-wrapper ul {
    margin: 0;
    padding: 0
}

.holidays-title h1,
.holidays-title span {
    margin: 0;
    line-height: normal;
    padding: 0
}

.input-destingtion-box .tt-dataset-destinations,
.mega-dropdown-fadein,
.mega-dropdown-fadein-depart,
.mega-dropdown-items1,
.mega-dropdown-items2,
.pstn-reltv {
    position: relative
}

.mega-dropdown-section-header,
.mega-dropdown-wrapper {
    line-height: normal
}

.pstn-abslt {
    position: absolute
}

.mega-dropdown-wrapper {
    padding: 0 20px;
    background: #fff;
    top: 113px!important;
    z-index: 33;
    left: 0;
    right: 0
}

.mega-dropdown-items1,
.mega-dropdown-wrapper,
.mega-menu-wrapper {
    width: 100%
}

.mega-dropdown-items2 {
    max-width: 868px;
    left: auto;
    right: 1px
}

.mega-dropdown-wrapper .mega-dropdown-section-header {
    margin: 0 0 10px;
    padding: 0
}

.mega-dropdown-bottom-text,
.mega-dropdown-list-right .mega-dropdown-section-header:hover,
.mega-dropdown-title,
.mega-dropdown-wrapper .mega-dropdown-list-section,
.mega-dropdown-wrapper .mega-dropdown-section-header,
.spanDefaultDest:hover,
.spanMostPopDest:hover {
    color: #58595b!important
}

.mega-dropdown-list-right,
.mega-dropdown-wrapper .mega-dropdown-list-left,
.mega-dropdown-wrapper .mega-dropdown-list-row {
    padding-top: 24px
}

.mega-dropdown-wrapper .mega-dropdown-list-left {
    width: 72%
}

.mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport {
    text-transform: capitalize
}

.mega-dropdown-wrapper .mega-dropdown-list-section .spanAirport,
.mega-dropdown-wrapper .mega-dropdown-list-section .spanDefaultDest {
    color: #8d8d8d
}

.mega-dropdown-wrapper .mega-dropdown-list-right {
    max-width: 250px;
    min-width: 250px;
    border-left: solid #f2f2f2 1px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-bottom: 20px;
    min-height: 418px
}

.mega-dropdown-wrapper,
.mega-dropdown-wrapper .mega-dropdown-list-right,
.mega-dropdown-wrapper .mega-dropdown-list-row {
    display: table
}

.mega-dropdown-wrapper .mega-dropdown-list-row:first-child {
    margin-bottom: 0;
    padding-bottom: 0
}

.mega-dropdown-items2 .mega-dropdown-list-row:first-child {
    padding-bottom: 12px
}

.mega-dropdown-wrapper .mega-dropdown-list-row {
    width: 100%;
    table-layout: fixed;
    padding-bottom: 13px
}

.mega-dropdown-wrapper ul li {
    margin: 0 0 13px;
    padding: 0
}

.mega-dropdown-wrapper ul li a {
    color: #8d8d8f
}

.mega-dropdown-list-section .spanAirport:hover,
.mega-dropdown-wrapper .mega-dropdown-section-header:hover,
.mega-dropdown-wrapper ul li a:hover {
    color: #1cb2c8!important
}

.mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section,
.mega-dropdown-wrapper .mega-dropdown-list-row .mega-dropdown-list-section {
    width: 33%
}

.mega-dropdown-wrapper a,
.mega-dropdown-wrapper ul li {
    list-style: none;
    text-decoration: none;
    outline: 0
}

.mega-dropdown-wrapper .bottom-border {
    border-bottom: solid #b7b7b7 1px
}

.mega-dropdown-wrapper {
    box-shadow: 0 14px 47px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 14px 47px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 14px 47px 0 rgba(0, 0, 0, .2);
    position: absolute;
    display: none
}

.mega-dropdown-title,
.mega-dropdown-wrapper .mega-dropdown-section-header {
    font-size: 18px
}

.mega-dropdown-list-section,
.mega-dropdown-wrapper .mega-dropdown-list-left {
    float: left
}

.mega-dropdown-list-section .spanAirport,
.mega-dropdown-wrapper,
.spanDefaultDest,
.spanMostPopDest {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out
}

.mega-dropdown-fadein,
.mega-dropdown-fadein-depart,
.mega-dropdown-wrapper .mega-dropdown-section-header,
.mega-dropdown-wrapper ul li a {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out
}

.mega-dropdown-fadein,
.mega-dropdown-fadein-depart {
    animation: fadein .3s ease-in-out;
    -webkit-animation: fadein .3s ease-in-out;
    -moz-animation: fadein .3s ease-in-out;
    -ms-animation: fadein .3s ease-in-out
}

.mega-dropdown-items1 .mega-dropdown-list-section {
    min-height: 165px
}

.mega-dropdown-list-right .mega-dropdown-section-header:hover {
    cursor: default!important
}

.mega-dropdown-list-right {
    float: right
}

.mega-dropdown-title {
    margin-bottom: 20px;
    display: block
}

.mega-dropdown-bottom-text {
    margin-bottom: 19px;
    font-size: 14px;
    background: #eee;
    padding: 5px 10px;
    clear: both;
    display: inline-block
}

.mega-dropdown-list-section .spanAirport,
.mega-dropdown-section-header,
.spanDefaultDest,
.spanMostPopDest {
    cursor: pointer
}

.bgnd-green {
    background: #9ac854
}

.input-depart-box .tt-dataset-airports,
.input-destingtion-box .tt-dataset-destinations {
    top: 15px;
    left: 11px
}

.tt-hint {
    color: #999;
    opacity: 0!important;
    background-color: #fff!important
}

.search-departureAir .tt-dataset-airports,
.tt-dataset-destinations,
.tt-dataset-hotels,
.tt-dropdown-menu .most-popular-list,
.tt-suggestions div.tt-suggestion p {
    color: #58595b!important;
}

.tt-suggestions div {
    line-height: normal;
    font-size: 16px
}

.input-depart-box .tt-dataset-airports,
.tt-dropdown-menu .most-popular-list {
    position: relative
}

.tt-dropdown-menu .most-popular-list {
    font-weight: 700;
    font-size: 18px;
    display: block
}

.CloseSearch,
.recent-searches {
    display: none
}

.tt-suggestions div:hover {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    color: #1cb2c8!important
}
.tt-dataset-airports,
.tt-dataset-airports div,
.tt-dataset-destinations,
.tt-dataset-destinations div {
    background: 0 0!important; margin:0 0 5px;
}

.mobile-search-container .mega-dropdown-wrapper {
    top: 64px!important
}

.datepicker table tr td.enabledDates.disabled,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background: 0 0!important;
    border: 5px solid #fff;
    color: #58595b!important
}

.datepicker table tr td.active,
.datepicker table tr td.active.enabledDates {
    background: #9ac854!important;
    color: #fff;
    border: none
}

.datepicker table tr td.enabledDates {
    background-color: #42b8cd!important;
    border-color: #fff!important;
    color: #fff!important
}

.tt-dropdown-menu {
    box-shadow: 0 14px 47px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 14px 47px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 14px 47px 0 rgba(0, 0, 0, .2);
    background: 0 0!important;
    border: none;
    margin-top: 10px;
    padding: 8px 0;
    width: 250px
}
.tt-dropdown-menu p{margin: 0 0 0 !important;line-height: 24px !important;}
.tt-dataset-airports p{line-height:24px !important; margin-bottom:10px !important;}
.twitter-typeahead .tt-dropdown-menu .tt-suggestions > p{ margin:0 0 5px 0 !important;}
#back-to-top{bottom:40px;cursor:pointer;display:none;height:40px;opacity:0.9;position:fixed;right:20px;width:40px;z-index:9999;}
.show {display: block !important;}
.tt-suggestions div.tt-suggestion p.unavailable{ color:#ddd !important;}
.input-depart-box .tt-dropdown-menu{ padding-top:0;}
.aboutus-content-row ul li::before, .congratulations-close-bar1, .congratulations-close-bar2, .theme-footer-social ul li a{ color:#fff;}

.mobile-search-container .mobile-search-fields .mega-dropdown-items2 {
    max-width: 873px!important;
    width: 873px!important;
    right: 0;
    left: auto
}

.tt-dataset-destinations p,
.tt-empty-template,
.tt-suggestion {
    margon-left: 0!important;
    left: 0!important;
    padding-left: 0!important
}

.search-by-time-price-box {
    position: fixed
}

.time-price {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .5);
    width: 432px;
    max-width: 96%;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute
}

.search-by-time-price-box {
    width: 100%;
    height: 0;
    z-index: 0;
    left: 0;
    right: 0;
    opacity: 0
}

.late-deals label.heading {
    font-weight: 400!important;
    font-family: proximanova-semibold!important
}

.late-deals #inpPrice {
    height: auto
}

.late-deals #inpPrice>span {
    margin: 0;
    padding: 6px 0 0
}

.datepicker table tr td span.active.month,
.datepicker table tr td span:hover {
    background: 0 0!important;
    color: #5a5a5a;
    font-weight: 400!important
}

.datepicker table tr td {
    text-shadow: none!important
}

.mobile-search-container .mobile-search-fields.late-deals .mega-dropdown-items2 {
    max-width: 880px!important;
    width: 880px!important
}

.nlsignup .row.subscribe-frm .popover {
    left: auto!important;
    top: auto!important;
    width: 100%!important
}

@media (max-width:1200px) {
    .mega-dropdown-items2 {
        max-width: 100%!important
    }
    .search-departureAir .twitter-typeahead .tt-dropdown-menu {
        left: 5px!important;
        top: 77px!important
    }
    .mobile-search-container .mobile-search-fields .mega-dropdown-items2 {
        max-width: 100%!important;
        width: 100%!important;
        right: 0
    }
    .mobile-search-container .mobile-search-fields.late-deals .mega-dropdown-items2 {
        width: 100%!important;
        max-width: 100%!important
    }
    .late-deals .input-depart-box,
    .late-deals .input-departing-box,
    .late-deals .input-destingtion-box,
    .late-deals .input-guests-box {
        width: 20%
    }
    .input-stayfor-box {
        width: 8%
    }
}

@media (max-width:1024px) {
    .mega-dropdown-items1,
    .mega-menu-wrapper {
        width: 100%
    }
}

@media (max-width:991px) {
    .mega-dropdown-wrapper .mega-dropdown-list-right {
        position: absolute;
        top: 0;
        right: 0
    }
    .mega-dropdown-wrapper .mega-dropdown-list-left {
        width: 66%
    }
    .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section {
        width: 33%
    }
    .late-deals #inpPrice>span {
        display: inline-block!important
    }
	.input-depart-box, .input-destingtion-box, .input-departing-box {width:21%;}
	.input-depart-box {width:20%}
	.input-guests-box {width:16%;}
}

@media (max-width:767px) {
    .mega-dropdown-wrapper .mega-dropdown-list-right {
        border-top: solid #f2f2f2 1px;
        border-left: none;
        padding-left: 0;
        padding-top: 25px
    }
    .mega-dropdown-wrapper .mega-dropdown-list-left,
    .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section,
    .mega-dropdown-wrapper .mega-dropdown-list-right {
        max-width: 90%;
        width: 100%
    }
    .mega-dropdown-wrapper .mega-dropdown-list-left,
    .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section {
        float: none;
        margin-top: 30px
    }
    .mega-dropdown-wrapper .mega-dropdown-list-left,
    .mega-dropdown-wrapper .mega-dropdown-list-right {
        display: block
    }
    .mega-dropdown-wrapper,
    .theme-login-box-uparrow {
        display: none!important
    }
    .mega-dropdown-wrapper {
        top: -326px
    }
    .mega-dropdown-wrapper .mega-dropdown-list-left,
    .mega-dropdown-wrapper .mega-dropdown-list-left .mega-dropdown-list-section:first-child {
        margin-top: 0
    }
    .theme-footer-social .theme-footer-social-icons,
    .theme-footer-social ul li a .fa-facebook,
    .theme-footer-social ul li a .fa-rss {
        left: initial
    }
    .time-price {
        max-width: 96%
    }
    .search-by-time-price-box {
        top: 40px!important
    }
    .late-deals .input-departing-box {
        width: 51%!important;
        padding: 8px 10px
    }
    .late-deals .input-stayfor-box {
        width: 47.8%
    }
    .late-deals label.heading {
        background: 0 0!important
    }
    .late-deals #inpPrice>span {
        margin: 0!important;
        display: inline-block;
        padding: 2px 0 0
    }
    .input-depart-box,
    .input-destingtion-box,
    .input-guests-box,
    .mobile-input-button {
        width: 100%!important
    }
    .input-stayfor-box {
        width: 49%
    }
    .popover {
        width: 100%!important;
        max-width: 100%!important
    }
    #newCallus .for-mobile-devices {
        display: block!important
    }
    .divHeaderTextContainer,
    .main-holidays-search {
        padding: 0
    }
    .searchFooterLnk>div {
        margin: 13px 0!important
    }
    .mobile-search-wrap {
        display: none
    }
    .mobile-search-wrap .main-holidays-search {
        padding-top: 40px!important
    }
    .mobile-search-container {
        z-index: 111!important
    }
	.input-departing-box, .input-stayfor-box{ width: 49%;}
	/* flexible date */
   .flexible-date{bottom:auto;margin-top:8px;color:#58595b;background:#fff;font-size:12px;padding:9px 10px;width:100%;}

}

@media (max-width:580px) {
    .mega-dropdown-items1,
    .mega-dropdown-items2 {
        width: 100%
    }
    .mega-dropdown-wrapper .mega-dropdown-list-section {
        margin-bottom: 35px
    }
    .mega-dropdown-wrapper .mega-dropdown-list-row,
    .mega-dropdown-wrapper .mega-dropdown-list-section {
        display: block
    }
    .mega-dropdown-wrapper .mega-dropdown-list-row {
        table-layout: initial
    }
    .mega-dropdown-items2 .mega-dropdown-list-section {
        margin-bottom: 0
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .main-holidays-search .mobile-input,
    ::i-block-chrome {
        padding: 17px 0 0!important
    }
    .input-depart-box,
    ::i-block-chrome {
        width: 19.95%
    }
}

@media (min-width:768px) and (max-width:800px) {
    .mobile-input {
        font-size: 12px!important
    }
    .mobile-nghts-value {
        font-size: 12px
    }
}

@media (min-width:940px) and (max-width:980px) {
    /*.input-depart-box {
        width: 23.45%
    }*/
}

@media (min-width:981px) and (max-width:1100px) {
   /*
   .input-depart-box {
        width: 23.18%
    }
	*/
}
