.share-popup-widget .twitter {
	background-color: #37bdd1
}

.thumb-slide,
.sub-text,
.share-icon-space,
.hotel-ratings,
.heart-icon,
.reviews-small-text,
.close-box-trigger {
	position: relative
}

.share-icon-space,
.heart-icon {
	width: 26px;
	height: 26px
}

.heart-icon {
	background-position: -35px -47px!important;
	top: 2px;
	margin-right: 5px
}

.heart-icon:hover {
	background-position: -4px -47px!important
}

.share-icon-space {
	top: 1px;
	left: -2px
}

.share-icon-space .fa-heart,
.heart-icon {
	color: #cb3544;
	font-size: 26px
}

.slide-bottom-wrapper,
.close-icon-x1,
.close-icon-x2,
.close-wrapper,
.hotel-contact-info,
.owl-controls,
.owl-next,
.owl-prev {
	position: absolute
}

.fluid-layout {
	width: 100%;
	padding: 30px 30px
}

.top-header-content {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto
}

.bg-light-gray {
	background: #f2f2f2
}

.save-holidays-header {
	font-size: 28px;
	line-height: 32px
}

.text-color {
	color: #58595b
}

.dblock,
.close-icon-x1,
.close-icon-x2,
.share-icon-space {
	display: block
}

.share-icon-space:hover,
.heart-icon:hover {
	cursor: pointer
}

.f-lt,
.content-lt {
	float: left
}

.f-rt,
.content-rt,
.close-box-trigger {
	float: right
}

.text-center {
	text-align: center
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.inblock,
.hotel-review-icons,
.close-box-trigger {
	display: inline-block
}

.header2 {
	font-size: 26px;
	margin: 16px 0 20px 0
}

.light-gray-bgnd {
	background: #f2f2f2;
	color: #58595b
}

.hotel-booking-basic-info {
	margin-bottom: 0
}

.carousel-thumb-slider {
	display: flex
}

.thumb-slide {
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	width: 242px;
	margin: 0 auto;
	float: none;
	overflow: hidden;
	min-height: 484px
}

.hotel-info-wrapper {
	margin: 7px 0 0 0
}

.slide-bottom-wrapper {
	bottom: 0;
	right: 0;
	left: 0;
	padding: 9px 20px
}

.close-icon-x1,
.close-icon-x2 {
	content: '';
	width: 17px;
	height: 1px;
	background: #58595b
}

.close-icon-x1 {
	transform: rotate(90deg)
}

.close-wrapper {
	transform: rotate(45deg);
	left: 0;
	top: 2px
}

.remove-label,
.past-date {
	font-size: 13px
}

.hotel-name {
	font-weight: bold;
	max-width: 80%;
	margin: 0 auto;
	min-height: 40px;
	line-height: 18px
}

.hotel-review-icons {
	margin: 0
}

.close-box-trigger {
	color: #58595b;
	overflow: hidden;
	width: 72px;
	top: 2px;
	cursor: pointer
}

.hotel-ratings .fa-star {
	color: #fbdb3e;
	margin: 0 1px
}

.box-text {
	padding: 3px 4px 1px 6px;
	background: #886093;
	color: #fff;
	font-size: 16px;
	margin-right: 10px
}

.sub-text {
	font-size: 9px;
	left: -3px;
	top: 0;
	letter-spacing: 1px
}

.hotel-review-icons span sup {
	top: 0;
	font-size: 14px;
	right: -11px
}

.date-text {
	font-size: 13px;
	line-height: 17px;
	text-transform: uppercase
}

.hotel-review-description {
	padding: 0 0 6px;
	line-height: 18px;
	text-align: center
}

.country-name {
	padding-bottom: 2px
}

.prises-box {
	padding: 0 11px;
	background: #f2f2f2;
	width: 187px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 16px
}

.hotel-contact-info {
	line-height: 17px;
	left: 0;
	right: 0;
	bottom: 40px
}

.sub-text2 {
	color: #6e3d7c;
	font-size: 9px;
	top: 1px;
	left: 2px
}

.reviews-small-text {
	font-size: 10px;
	top: -4px;
	margin-left: 4px
}

.quote-reference {
	font-size: 11px
}

.hotel-contact-number {
	font-size: 22px;
	color: #f07541;
	font-weight: bold
}

.owl-controls {
	top: -44px;
	left: 0;
	right: 0;
	margin-top: 0!important
}

.owl-next {
	right: -4.8%;
	top: 258px;
	transform: rotate(45deg)
}

.owl-prev {
	left: -5%;
	transform: rotate(-140deg)
}

.owl-prev,
.owl-next {
	width: 32px;
	height: 32px;
	font-size: 0!important;
	border-radius: 0!important;
	border-top: solid #58595b 2px;
	border-right: solid #58595b 2px;
	background: none!important;
	top: 258px
}

.my-holidays-heading-text {
	text-align: center
}

.holidays-running-text {
	font-size: 17px;
	margin-top: 5px
}

.TrackText {
	font-size: 17px;
	font-weight: bold;
	max-width: 550px;
	display: block;
	margin: 0 auto
}

.my-holidays-search-link {
	font-size: 15px;
	background-color: #f07541;
	color: #fff;
	padding: 10px 50px;
	border: 0;
	text-transform: uppercase;
	margin-top: 32px;
	display: inline-block
}

.my-holidays-search-link:hover {
	background-color: #e66c38;
	color: #fff
}

.refresh-icon {
	display: none
}

#logoutHolidayDiv {
	font-size: 28px;
	padding-bottom: 15px;
	padding-top: 30px;
	text-align: center;
	color: #6e3d7c
}

#divUpdate {
	cursor: pointer
}

.saved-holidays-wrapper {
	width: 1250px;
	margin: 60px auto 0
}

.saved-holidays-wrapper .owl-wrapper {
	margin: 0 auto
}

.share-popup-widget {
	min-height: 79px;
	border-radius: 3px;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
	bottom: 41px;
	right: -24px;
	padding: 7px 10px 4px 7px;
	position: absolute;
	min-width: 147px;
	text-align: left;
	display: none
}

.mask-arrow {
	left: 101px;
	top: 88px;
	width: 27px;
	height: 27px;
	overflow: hidden;
	position: absolute
}

.left-arrow-svg {
	width: 15px;
	height: 15px;
	background: #fff;
	transform: rotate(45deg);
	left: 8px;
	top: -7px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
	display: block;
	position: absolute
}

.fb-icon {
	width: 20px;
	height: 20px;
	color: #fff;
	display: inline-block;
	border-radius: 100px
}

.violet {
	background-color: #6e3d7c
}

.icon-set .fa-facebook {
	left: 7px;
	top: 1px;
	position: relative
}

.fb-icon-label {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.92;
	margin-left: 5px;
	cursor: pointer
}

.email-icon {
	color: #875f92;
	font-size: 18px;
	top: 2px;
	margin-right: 2px
}

.icon-set .fa-twitter {
	left: 4px;
	top: 1px;
	position: relative
}

.email {
	position: relative;
	top: -2px
}

.mt3 {
	margin-top: 5px
}

.fa-envelope {
	position: relative;
	left: 1px
}

.content-lt,
.content-rt {
	padding: 0
}

.hotel-ratings {
	top: 4px;
	margin-right: 6px
}

.owl-theme .owl-controls .owl-page span {
	width: 16px;
	height: 16px;
	margin: 5px 4px;
	background: #d8d8d8
}

.past-date {
	background: #cb3544;
	padding: 2px 8px;
	color: #fff
}

.reviews-icons-wrapper {
	width: 84px;
	overflow: hidden
}

.reviews-icons-wrapper img {
	position: relative;
	left: -36px
}

.owl-carousel .owl-wrapper-outer {
	padding: 0 0 4px 0
}

.divHolidayImages {
	width: 244px;
	height: 154px;
	overflow: hidden;
	cursor: pointer
}

.divHolidayImages img {
	width: 100%;
	height: 100%
}

.myholidays-sprite {
	background: url(http://resources.teletextholidays.co.uk/drupal/images/sprite/test/my-holidays.svgz) no-repeat left top;
	display: inline-block
}

.share-icon {
	width: 22px;
	height: 22px;
	background-position: 0 0
}

.share-icon:hover {
	background-position: -21px 0
}

.page-builder-column {
	width: 100%;
	float: none;
	padding: 0
}

.enable-for-mobile {
	display: none
}

.past-date-ins {
	max-width: 750px;
	margin: 0 auto;
	line-height: 1.3;
	text-align: center
}

.past-date-ins p {
	margin: 0;
	padding: 0;
	font-size: 13px;
	text-align: center;
	line-height: 20px
}

.bookWC {
	margin: 0 auto;
	overflow: hidden;
	padding: 15px;
	width: 60%
}

.my-holidays-wrapper {
	margin-top: 65px
}

#Wrappercr {
	min-height: 480px
}

.rvwWrap .col-xs-7 {
	font-style: italic;
	text-align: right;
	border-right: 2px solid #9ac854;
	padding: 0 10px 0 0;
	color: #7c7d7e
}

#newCallus .for-mobile-devices {
	display: none
}

#newCallus span.siteDiv {
	font-weight: 600;
	color: #6e3d7c;
	width: 100%;
	display: block
}

.cheappackn {
	color: #b7b7b7;
	font-size: 13px
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
	padding: 0
}

@media(max-width:1600px) {
	.saved-holidays-wrapper {
		width: 1000px
	}
	.bookWC {
		width: 68%
	}
}

@media(max-width:1024px) {
	.saved-holidays-wrapper {
		width: 800px
	}
}

@media(max-width:991px) {
	.saved-holidays-wrapper {
		width: 580px
	}
}

@media(max-width:768px) {
	.holidays-running-text {
		max-width: 400px;
		margin: 12px auto auto auto;
		line-height: 20px
	}
	.past-date-ins {
		max-width: 600px;
		width: 90%
	}
}

@media(max-width:767px) {
	.bookWC {
		padding: 0 0 15px;
		width: 100%
	}
	.rvwWrap .col-xs-7 {
		width: 100%;
		border: 0;
		text-align: center;
		padding: 0;
		font-size: 32px
	}
	.rvwWrap .col-xs-5 {
		font-size: 26px;
		padding-top: 20px;
		width: 100%;
		text-align: center
	}
	#newCallus .for-desktop {
		display: none
	}
	#newCallus .for-mobile-devices {
		display: inline-block
	}
	.cheappackn {
		font-size: 26px
	}
}

@media(max-width:640px) {
	.top-header-content {
		padding: 0 30px
	}
	.share-popup-widget {
		bottom: 68px;
		right: -13px
	}
	.TrackText {
		margin: 19px auto 25px auto
	}
	.owl-theme .owl-controls .owl-page span {
		display: none
	}
	.holidays-running-text {
		font-size: 15px
	}
	.saved-holidays-wrapper {
		width: 100%;
		margin: 18px auto 0 auto
	}
	.fluid-layout {
		padding: 30px 0
	}
	.thumb-slide {
		width: 100%;
		min-height: 1000px
	}
	.divHolidayImages {
		width: 100%;
		height: 248px
	}
	.header2 {
		margin: 0 0 2px 0;
		line-height: normal
	}
	.hotel-info-wrapper {
		margin: 25px auto auto;
		width: 90%
	}
	.hotel-name {
		font-size: 24px;
		line-height: 30px
	}
	.mobile-body-text {
		font-size: 18px;
		margin: 80px 0 25px 0;
		line-height: 30px
	}
	.refresh-button {
		width: 35px;
		height: 35px;
		display: inline-block;
		background: #cb3544;
		border-radius: 100px
	}
	.refresh-button .fa-refresh {
		position: relative;
		top: 5px;
		color: #fff
	}
	.past-date {
		cursor: pointer
	}
	.box-text {
		padding: 6px 20px 6px 20px;
		margin: 0 15px;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: normal
	}
	.hotel-review-description {
		line-height: 20px
	}
	.hotel-ratings .fa-star {
		font-size: 36.7px
	}
	.hotel-ratings {
		top: 11px
	}
	.hotel-booking-basic-info {
		margin: 10px auto auto auto;
		max-width: 90%
	}
	.date-text {
		font-size: inherit;
		line-height: normal
	}
	.heart-icon {
		background-position: -4px -115px;
		margin: 0 20px 0 5px;
		font-size: 45px
	}
	.share-icon-space,
	.heart-icon {
		width: 52px;
		height: 48px
	}
	.quote-reference {
		font-size: 14px
	}
	.hotel-contact-number {
		display: none
	}
	.hotel-contact-info {
		position: relative;
		margin: 15px 0;
		bottom: 0;
		line-height: normal
	}
	.slide-bottom-wrapper {
		position: initial
	}
	.light-gray-bgnd {
		background: 0
	}
	.close-box-trigger {
		width: 100%;
		float: none;
		background: #f5f5f5;
		padding: 14px 0;
		text-align: center;
		border-radius: 3px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12)
	}
	.remove-label,
	.past-date {
		font-size: 24px
	}
	.close-wrapper {
		left: initial;
		top: 6px;
		position: relative;
		display: inline-block;
		margin-right: 17px;
		width: 20px;
		height: 20px
	}
	.close-icon-x1,
	.close-icon-x2 {
		width: 22px;
		height: 2px
	}
	.thumb-slide {
		min-height: inherit;
		box-shadow: none;
		overflow: initial
	}
	.prises-box {
		display: none
	}
	.past-date {
		position: fixed;
		top: 217px;
		right: 30px;
		text-indent: -55555px;
		overflow: hidden;
		width: 60px;
		height: 60px;
		border-radius: 100px;
		cursor: pointer
	}
	.refresh-icon {
		color: #fff;
		font-size: 30px;
		text-indent: 0;
		position: absolute;
		top: 10px;
		left: 18px;
		display: block
	}
	.refresh-button {
		margin: 0 9px 0 4px
	}
	.owl-prev:before,
	.owl-next:before {
		display: block;
		content: '';
		width: 25px;
		height: 25px;
		transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		position: absolute;
		top: 18px
	}
	.owl-prev:before {
		border-top: solid #fff 2px;
		border-left: solid #fff 2px;
		left: 12px
	}
	.owl-next:before {
		border-right: solid #fff 2px;
		border-bottom: solid #fff 2px;
		right: 12px
	}
	.owl-controls {
		top: 0
	}
	.owl-theme .owl-controls .owl-page span {
		width: 25px;
		height: 25px;
		margin: -1px 4px
	}
	.owl-pagination {
		position: relative;
		top: -37px
	}
	.owl-buttons {
		position: relative;
		top: -90px
	}
	.owl-prev {
		left: 22px!important;
		top: 170px
	}
	.owl-next {
		right: 22px!important;
		top: 170px
	}
	.owl-theme .owl-controls .owl-buttons div {
		opacity: 1;
		border: 0;
		background: rgba(0, 0, 0, 0.5)!important;
		width: 32px;
		height: 60px;
		transform: inherit
	}
	.description-text1,
	.owl-pagination {
		padding: 0 30px
	}
	.remove-label {
		float: none;
		padding-left: 0;
		display: inline-block
	}
	.sub-text {
		font-size: 25px;
		font-weight: normal;
		top: 2px;
		left: -7px
	}
	.hotel-review-icons span sup {
		top: -3px;
		left: 31px;
		font-weight: normal;
		font-size: 25px
	}
	.reviews-small-text {
		font-size: 18px;
		position: inherit;
		vertical-align: top;
		line-height: 40px;
		top: 0
	}
	.reviews-icons-wrapper {
		line-height: 36px
	}
	.slider-header-wrapper {
		max-width: 90%!important;
		margin: 0 auto
	}
	.rvwWrap .col-xs-7 {
		font-size: 17px
	}
	.rvwWrap .col-xs-5 {
		font-size: 20px
	}
	.cheappackn {
		font-size: 17px
	}
}

@media(max-width:480px) {
	.share-popup-widget {
		right: -20px;
		bottom: 44px
	}
	.country-name,
	.date-text {
		font-size: 18px
	}
	.hotel-ratings .fa-star,
	.box-text {
		font-size: 22px
	}
	.box-text {
		padding: 6px 4px 6px 13px
	}
	.sub-text {
		font-size: 13px;
		top: 0;
		left: -5px
	}
	.hotel-review-icons span sup {
		top: -3px;
		left: 15px;
		font-weight: normal;
		font-size: 14px
	}
	.heart-icon {
		background-position: -35px -47px;
		margin: 4px 10px 0 0;
		font-size: 28px;
		width: 27px;
		height: 25px
	}
	.share-icon-space {
		top: 5px
	}
	.share-icon-space,
	.heart-icon {
		width: 26px;
		height: 26px
	}
}

@media(max-width:375px) {
	.owl-prev {
		left: 20px
	}
	.owl-next {
		right: 20px
	}
	.hotel-ratings {
		float: none;
		display: block;
		top: 0;
		margin: 0 0 10px
	}
}