@import '../../control';
@import '../../bootstrap';
@import '../../newsletter';
@import '../../footer';
@import '../../selectric';
@import '../../on-scroll-popup';
@import '../../accordion';
@import '../../fonts';
/* mobile app logo */
@import '../../tth-fonts';
@import '../../new-header';
@import '../../new-header-mobile';

/*  */
.sidebarnav-wrapper .side-menu-close{top:13px;right:10px;width:18px;height:18px;z-index:3;}
.sidebarnav-wrapper .close--icon:before, .sidebarnav-wrapper .close--icon:after{background:$bgnd-white;height:2px;}
.mobile-stayfor-wrapper .mobile-widget-header, .mobile-guests-wrapper .mobile-widget-header{display:block;}
/* */
.stop-body-scroll{
  overflow:hidden!important;
}
.common-icons {
    background-image: url(https://resources.teletextholidays.co.uk/drupal/images/sprite/v1/common-icons.svg);
}
.theme-middle-wrapper, .searchContainer, .searchBlock{max-width:1130px!important;width:100%!important;}
