@import '../../control';
@import '../../bootstrap';
@import '../../calendar';
@import '../../calendar-dd';
@import '../../grid-search';
@import '../../thin-search';
@import '../../slider-calendar';
@import '../../legends';
@import '../../grid-search-override';
@import '../../common-banners';



.search-component {
  top: 130px;
    left: 0;
    right: 0;
}
.main-banner {
  line-height:normal;
}


/* Megamenu related change */
  span.mega-dropdown-title{display:none!important;}
  .main-search .mega-dropdown-wrapper{min-width:inherit;}
  .mega-dropdown-wrapper .mega-dropdown-list-right {position:relative;}
  .mega-dropdown-wrapper{padding:20px;}
  .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-list-right {border:none;min-height:inherit;max-width:inherit;min-width:inherit;width:25%;padding:20px 0 20px 0;}
  .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-list-right .mega-dropdown-list-section {width:100%;}
  .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-list-left {width:75%;}
  .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-bottom-text {display:inline-block;margin:-10px 0 12px 0;}
  .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-list {overflow:hidden;}
  .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-list-section {min-height:185px;width:33.33333333333333%;}
  @media(max-width:991px) {
      .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-list-left {width:66.66666666666667%;}
      .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-list-left .mega-dropdown-list-section {width:50%;}
      .mega-dropdown-wrapper.mega-dropdown-items1 .mega-dropdown-list-right {width:33.33333333333333%;}
  }


@media(max-width:767px) {
  .main-banner {
    padding:0;
  }
  .search-component {
    top:0;
  }
  .grid-search .mobie-calendar-icon {
    right:28px;
  }
}
