@include breakpoint (when-desktop) {
  .rooms-grid {
    .gutter {
      padding:15px;
      z-index:1;
    }
    h4 {
      font-size:18px;
      @include opacity();
      display:block;
      padding:30px 0 10px;
      border-bottom:solid $grid-border 1px;
    }
    .rooms-row {
      border-bottom:solid $grid-border 1px;
    }
     .rooms-row:first-child {
       border-top:solid $grid-border 1px;
     }
    .border-right {
      border-right:solid $grid-border 1px;
    }
    .tool-tip-outer {
      @include titp-outer();
    }
    .col-block1 {
      @extend .border-right;
    }
    .col-block2 {
      padding-left:5px;
      padding-right:5px;
      @extend .border-right;
    }
    .col-block3 {
      @extend .border-right;
    }
    .col-block4 {
      @extend .border-right;
      padding-left:12px;
      padding-right:12px;
      .small-txt {
        font-size:12px;
        opacity: 0.5;
      }
      .line-arrow-down {
        width:6px;
        height:6px;
        border-width:1px;
        bottom:3px;
        right:5px;
      }
      .select-rooms {
        font-size:22px;
        padding-right:15px;
      }
      .room-dd {
        padding-top:10px;
        &:after {
          content:'';
          position:absolute;
          bottom:-5px;
          right:5px;
          left:5px;
          height:1px;
          border-bottom:solid $grid-border 1px;
        }
      }
    }
    .col-block5 {
      @extend .border-right;
    }
    .tth-price {
      font-size: /*32px*/28px;
      color:$txt-cornflower-blue;
      width:100px;
    }
    .tth-price-info{
      font-size:13px;
      span {
        display:block;
      }
    }
    .was-price-wrapper {
      .was-price {
        padding-left:5px;
      }
    }
    &.per-person-active {
      .tth-price-info {
        .person {
          display:none;
        }
      }
      .tth-price {
        color:$bgnd-sunset;
      }
    }
    .col-block6 {
      text-align:center;
      span {
       opacity: 0.7;
        padding-top:15px;
        display:block;
      }
    }
    // Grid content
    .room-img {
      width: 142px;
      height: 115px;
      margin-right:25px;
    }
    .room-desc {
      width:280px;
    }
    .facilities {
      margin-top:25px;
      > div {
        margin-left:20px;
        &:first-child {
          margin-left:0;
        }
      }
    }
    .desc-header {
      font-size:17px;
      padding-bottom:10px;
      text-decoration:underline;
    }
    .wifi-icon {
      width:12px;
      height:12px;
    }
    .more{
      color: $txt-cornflower-blue;
      cursor:pointer;
    }
    .facilities-label {
      padding-left:4px;
      margin-top:3px;
    }
    .all-Inclusive-label {
      font-size:15px;
    }
    button {
      padding:10px 35px;
      font-size: 18px;
      @include border-radius(2px);
      min-width:150px;
    }
    //@include best-value-desktop();
    .best-value-label {
      display:none;
    }
  }
}

@include breakpoint (when-landscape-tablet) {
  .rooms-grid {
    button {
      padding:10px 15px;
      font-size:15px;
    }
    .col-block6 span {
      font-size:12px;
    }
    .gutter {
      padding:10px;
    }
  }
}

@include breakpoint (when-portrait-tablet) {
  .rooms-grid {
    .col-block3 {
      display:none;
    }
    .room-img {
      width:100px;
      height:80px;
      margin-right:15px;
    }
    .desc-header {
      font-family:$font-light;
      font-size:15px;
    }
    .desc-inner {
      p {
        display:none;
      }
    }
    .room-desc {
      width:175px;
    }
    .gutter {
      padding:10px;
    }
    .facilities {
      margin-top:0;
      > div {
        margin-left:0;
        float:none;
        padding-bottom:3px;
      }
    }
    .tth-price {
      font-size:24px;
    }
    button {
      margin-top:19px;
      min-width:110px;
    }
    .col-block6 span {
      padding-top:10px;
    }
    .best-value-label {
      padding:1px 12px;
    }
    .separator {
      display:none;
    }
    .content-header {
      line-height:20px;
      padding-bottom:15px;
      .title {
        display:block;
      }
    }
  }
}

@include breakpoint (mobile) {
  .rooms-grid {
    .col-block2, .col-block3, .col-block4, .col-block5, .col-block6 {
      display:none;
    }
    .col-block4, .col-block5, .col-block6 {
      float:left;
    }
    h4 {
      font-size:18px;
      padding:20px 0 15px 10px;
      font-weight:bold;
      @include opacity();
    }
    .room-img {
      width:80px;
      height:65px;
      img {
        @include border-radius(2px);
      }
    }
    .col-block1 {
      @include dtable-no-padding();
    }
    .room-desc, .room-img {
      float:none;
    }
    .room-desc {
      //padding-left:10px;
      p {
        font-size:13px;
        padding-bottom:15px;
      }
    }
    .desc-header {
      font-size:15px;
      padding-bottom:7px;
      font-weight:normal;
      text-decoration:underline;
    }
    .board-type {
      > span {
        padding:2px 0 5px 0;
      }
      .deal-label {
        display:block;
        font-size:15px;
        padding:0;
      }
      .upto-label {
        font-size:12px;
      }
    }
    .col-block3 {
      .tth-price {
        font-size:21px;
        margin-right:0;
        color:$txt-sunset;
      }
    }
    .tth-price-info {
      font-size:11px;
      line-height:12px;
    }
    .mobile-widget-price-row {
      display:block;
      padding:10px 0 5px 0;
      border-top:solid $b-squeeze 2px;
      margin-top:10px;
      @include flex-box();
      .col-block2, .col-block3, .col-block4{
        float:none;
      }
      button {
        @include mobile-button-large();
        width:100px;
      }
      .col-block2 {
        padding-top:20px;
        i {
          left:8px;
        }
      }
      .small-txt {
        font-size:11px;
        @include opacity();
        line-height:21px;
      }
      .tth-price {
        color:$txt-sunset;
        font-size:24px;
      }
      .was-price-wrapper {
        font-size:12px;
      }
    }
    .facilities-label {
      padding-left:7px;
    }
    .rooms-row {
      background-color:$bgnd-white;
      padding:10px 10px 2px 10px;
      @include border-radius(2px);
      margin-bottom:10px;
      @include box-shadow(0 2px 4px 0 $box-shadow-color);
    }
    .mobile-widget-checkin {
      width:100%;
      margin-bottom:20px;
      .gutter {
        padding:15px 30px;
      }
      span {
        display:block;
        font-size:15px;
      }
      .check-in-out-wrapper {
        > div {
          width:50%;
        }
      }
      .dd-room {
        border-top:solid $b-squeeze 2px;
        border-bottom:solid $b-squeeze 2px;
      }
      .dd-room-label {
        @include truncate();
        max-width:90%;
      }
      .checkin-col {
        border-right:solid $b-squeeze 2px;
        //padding-left:45px;
      }
      .checkout-col {
        padding-left:20px;
      }
      .small-label {
        font-size:13px;
      }
      .button-gutter {
        padding:18px 35px 25px 35px;
      }
      button {
        padding:12px 0;
        width:100%;
        font-size:15px;
      }
    }
    button.room-selected {
      background:$bgnd-cornflower-blue;
    }
  }
}

@include breakpoint (medium-mobile) {
  .rooms-grid {
    .mobile-widget-price-row {
      button {
        padding:9px 13px;
      }
    }
  }
}
