.serp-icons, .homepage-icons {
    @include serp-icons();
}
.sidemenu-sprite {
  @include sidemenu-sprite();
}
.footer-icons {
  @include social-icons();
}
.calendar-control {
  @include fade-slide-up();
}
.legend-2 {
  display:none;
}
.common-icons {
  @include common-icons-v2();
}

@include breakpoint(when-desktop) {
  .calendar-dd {
    @include fade-slide-up-container();
  }
}
.stop-body-scroll, .body-scroll-none {
  .thin-search {
    z-index:125;
  }
}
.grid-search {
  .mega-dropdown-wrapper {
    .mega-dropdown-list-section {
      width:25%;
    }
    .mega-dropdown-list-left {
      width:100%;
    }
  }
  .mega-dropdown-wrapper {
    .mega-dropdown-section-header {
      cursor:default;
      &:hover {
        color:inherit;
      }
    }
  }
}
/*
.footer {
   .iOS {
     background-position:-1px 0px;
   }
   .android {
     background-position:-136px 0px;
   }
}
*/
.newsletter {
  min-height:inherit;
  padding:60px 0 60px 0;
  /*
  .line-icon-email {
    background-position:-301px -4px;
  }
  */
}
.serp {
  padding:170px 0 30px 0;
}
.fixed-nav-container, .mobile-widget-header, .mobile-widget-header.pstn-fxd {
  background-color:$bgnd-butterfly
}

@include breakpoint(mobile) {
  .serp {
    padding:50px 0 0 0;
  }
  .grid-search {
    .mega-dropdown-wrapper {
      top:0;
      .mega-dropdown-list-section {
        width:100%;
        float:none;
        min-height: inherit;
        margin-bottom:35px;
      }
    }
  }
}

@include breakpoint(small-mobile) {
  .serp  {
    .content-middle {
      padding:0 10px;
    }
  }
}
