/*
$animation-speed1:0.8s;
$animation-speed2:1s;
$animation-speed3:1.3s;
$animation-speed4:1.8s;
.animation1 {
  animation:animation1 $animation-speed1 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation:animation1 $animation-speed1 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -moz-animation:animation1 $animation-speed1 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  animation-duration:1s;
  opacity:0;
  top:-20px;
}
.animation2 {
  animation:animation1 $animation-speed2 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation:animation1 $animation-speed2 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -moz-animation:animation1 $animation-speed2 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  animation-duration:1.5s;
  opacity:0;
  top:-20px;
}

.animation3 {
  animation:animation1 $animation-speed3 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation:animation1 $animation-speed3 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -moz-animation:animation1 $animation-speed3 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  animation-duration:2s;
  opacity:0;
  top:-20px;
}
.animation4 {
  animation:animation1 $animation-speed4 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation:animation1 $animation-speed4 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -moz-animation:animation1 $animation-speed4 cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  animation-duration:2.5s;
  opacity:0;
  top:-20px;
}













@keyframes animation1 {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}
@-webkit-keyframes animation1 {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}
@-moz-keyframes animation1 {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}

*/
