.call-large-button {
  background-color:$bgnd-emerald;
  color:$txt-white;
  z-index:1;
  padding:26px 42px;
  right:20px;
  bottom:20px;
  @include border-radius(5px);
  @include box-shadow(0 8px 14px 0 rgba(111, 133, 159, 0.3));
  .icon-box {
    width:21px;
    height:21px;
    top:-4px;
    margin-right:3px;
  }
  .txt-1 {
    font-size:20px;
  }
  .txt-small {
    font-size:13px;
    padding:1px 0 2px 0;
  }
  a {
    color:$txt-white;
  }
  .icon-and-title {
    font-size:28px;
  }
  img {
    object-fit:inherit;
  }
}

@include breakpoint(portrait-tablet) {
  .call-large-button {
    padding:20px 26px;
  }
}

@include breakpoint(mobile) {
  .book-your-trip {
    right:0;
    bottom:0;
    left:0;
    z-index:5;
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    justify-content:space-between;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow:hidden;
    .txt-1 {
      font-size:17px;
    }
    .txt-2 {
      font-size:12px;
    }
    a {
      background-color:$bgnd-emerald;
      color:$txt-white;
      flex:1;
      padding:9px 0 9px 28px;
      .icon-box {
        width:21px;
        height:21px;
        margin-right:18px;
        img {
          height:initial;
        }
      }
    }
    .total-price {
      background-color:$bgnd-trendy-pink;
      padding:9px 28px 9px 16px;
    }
    .tth-pp {
      font-size:13px;
    }
    .tth-asterisk {
      top:3px;
    }
    &.hidden-down {
      bottom:-70px;
    }
  }
}
@include breakpoint(medium-mobile) {
  .book-your-trip {
    .total-price {
      padding:9px 20px 9px 16px;
    }
    a {
      padding:9px 0 9px 20px;
      .icon-box {
        margin-right:10px;
      }
    }
    .txt-1 {
      font-size:15px;
    }
  }
}
