$lspacing-3:-0.3px;
$lspacing-8:-0.8px;
$lspacing-4:-0.4px;
.browser-ios-no {
  /* Font family */
  .price-wrapper .tth-price, .board-basis .bb-type {
    //font-family:$font-bold;
  }

  /* letter-spacing */

  /* Search */
  .where-to ul li,
  .where-to .title h4,
  .where-to .region-title {
    letter-spacing:normal;
  }
  .title h4, .where-to .region-title {
    //font-family:$font-bold;
  }

  //Common
  .green-strip .syn-phone-number,
  .section-header .titles,
  .long-haul-hotels .info-wrapper h4,
  .extras .max-section,
  .extras .extras-tiels span,
  .offer-tabs span,
  .popular-holidays .dtnt-title,
  .hotels .hotel-info h3,
  input[type="text"],
  .megamenu.holidays-wrapper .blog-item .blog-header,
  .call-large-button,
  .megamenu .menu-header a,
  .popular-holidays .dtnt-title h4,
  .long-haul-hotels .info-wrapper h4,
  .price-wrapper,
  .offer-tabs span,
  .confident-items h4,
  .section-header h2
    {
    letter-spacing:$lspacing-3;
  }
  .grid-search .mobile-nghts-value {
    letter-spacing:normal;
  }
  .green-strip .small-title {
    letter-spacing:$lspacing-4;
  }

}

.browser-ios {
  /* sidemenu close icon */
  .sidebarnav-wrapper .side-menu-close {
    right:26px;
  }

  /* Search component */
  .grid-search {
    input[type="text"], .mobile-nghts-value {
      font-size:13px;
    }
  }
}

@include breakpoint(mobile) {
  .browser-ios {
    .extras .extras-tiels span,
    .extras .max-section h2,
    .extras .max-section h3,
    .extras .extras-tiels p {
      letter-spacing:-0.6px;
    }
    .grid-search .mobile-nghts-value {
      letter-spacing:-0.6px;
    }
    .green-strip .large-title, .where-to .region-title, .where-to .title {
      font-family:$font-bold;
    }
  }
}
@media(max-width:350px) {
  .browser-ios {
    .grid-search .mobile-nghts-value, .grid-search input[type="text"] {
      font-size:13px;
    }
  }
}
