$b-transparent:transparent;
.caret {
  border:solid 5px $b-transparent;
  &.up {
    border-bottom-color:$hover-green;
  }
  &.right {
    border-left-color:$hover-green;
  }
  &.left {
    border-right-color:$hover-green;
  }
  &.down {
    border-top-color:$hover-green;
  }
}
