.b-radius {
  @include border-radius(5px);
}
.title {
    padding:15px 0 5px 0;
    h4 {
      font-size:17px;
    }
}
.dstns-row {
  overflow:hidden;
}
.check-box {
  width:20px;
  height:20px;
  border:solid $b-lynch 2px;
  @include border-radius(3px);
  &.active {
    background-color:$bgnd-cornflower-blue;
    border-color:transparent;
    &:before {
      content:'';
      position:absolute;
      top:3px;
      right:3px;
      width:10px;
      height:6px;
      @include rotate(-45deg);
      border-bottom:solid $b-white 2px;
      border-left:solid $b-white 2px;
    }
  }
}
