//TSM Booking
.prm {
  display:none;
}

.price-info {
  i {
    color:$txt-java;
    font-size:21px;
    padding:0 7px 0 0;
  }
  &.desktop {
    &:hover {
      .legal-text {
        display:block;
        &:hover {
          display:block;
        }
      }
    }
  }
  .legal-text {
    padding:16px 10px 16px 20px;
    min-width:280px;
    z-index:5;
    top:30px;
    right:-40px;
    @include border-radius(6px);
    @include box-shadow(0 24px 24px 0 rgba($bgnd-black, 0.3));
  }
  .description {
    line-height:17px;
    padding-top:12px;
  }
  .flight-price {
    padding-top:4px;
  }
  .active-arrow, .legal-text {
    background:$bgnd-lynch;
  }
  .active-arrow {
    top:-4px;
    left:215px;
  }
  @include breakpoint(mobile) {
    .legal-text {
      padding:16px;
      min-width:100%;
      top:46px;
      right:-10px;
      left:-10px;
      display:none;
    }
    &.active {
      .legal-text, .active-arrow {
        display:block;
      }
    }
    hr {
      border-width:1px;
      margin:10px 0;
    }
    .txt-no-debit {
      font-size:12px;
    }
    .description, .hote-price, .flight-price {
      font-size:13px;
    }
    .active-arrow {
      @include border-radius(3px);
      top:27px;
      left:auto;
      right:-1px;
    }
    i {
      padding:0 0 0 8px;
    }
    .txt-note {
      font-size:13px;
    }
  }
}

.show-button {
  font-size:13px;
  font-family:$font-semibold;
  .flight-icon {
    width:16px;
    height:16px;
    background-color:red;
    margin-right:5px;
  }
  &.active {
    display:block;
  }
  .show-title {
    &:before {
      content:'';
      display:block;
      position:absolute;
      bottom:4px;
      right:0;
      left:0;
      height:1px;
      background-color:$bgnd-lynch;
      @include animation-transition(all 0.3s ease-in-out);
    }
  }
  &:hover {
    .show-title {
      &:before {
        right:100px;
        left:100px;
        background-color:$bgnd-cornflower-blue;
      }
    }
    color:$txt-cornflower-blue;
  }
}
.back-to-top {
  z-index:115;
  bottom:30px;
  right:15px;
  width:40px;
  height:40px;
  opacity:0.9;
  cursor:pointer;
  position:fixed;
  @include border-radius(100px);
  @include box-shadow(0 0 4px 0 rgba(0,0,0,0.24));
  display:none;
  background-color:$bgnd-white;
  background-image:url("#{$images}/drupal/images/arrow-icon-top.svg");
  background-repeat:no-repeat;
  background-position:center center;
  &:hover {
    opacity:0.5;
  }
  &.show {
    display:block;
  }
}
.link-button {
  &:hover {
    span, a {
      color:$txt-lynch;
    }
  }
}
/* Buttons */
.dstn-buttons {
  overflow:hidden;
  display:flex;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  justify-content:space-between;
  a, button {
    @include border-radius(3px);
    @include animation-transition(all 0.1s ease-in-out);
    padding:7px 0;
    flex:1;
    max-width:48.5%;
    font-size:16px;
    border:solid 1px rgba($bgnd-butterfly, 0);
  }
  .btn-fill {
    &:hover {
      background-color:#9ac854;
      color:$txt-white;
    }
  }
  .btn-outline {
    border:solid 1px rgba($bgnd-butterfly, 0.5);
    color:$txt-butterfly;
    &:hover {
      background-color:rgba($bgnd-butterfly,0.1);
    }
  }

  &.tel-number {
    .btn-outline {
      border-color:$b-green;
      color:$txt-emerald;
      flex:2;
      margin-right:11px;
      &:hover {
        background-color:rgba($bgnd-emerald, 0.1);
      }
    }
    .txt-call {
      font-size:13px;
    }
    .txt-number {
      font-size:20px;
      font-weight:600;
    }
    .icon-box {
      width:20px;
      height:20px;
      margin-right:8px;
    }
    .btn-fill {
      padding:16px 0;
    }
    a {
      padding:4px 0;
    }
  }
}

/* hamburger-menu icon */
.hamburger-icon {
  width:13px;
  margin-right:4px;
  span {
    width:100%;
    height:1px;
    background-color:$bgnd-black;
    &:nth-child(2) {
      width:80%;
      margin-top:3px;
    }
    &:nth-child(3) {
      width:50%;
      margin-top:3px;
    }
  }
}

/* Ratings Latest */
.tripadvisor-ratings {
  margin-top:4px;
  overflow:hidden;
  .owl-eyes {
    width:31px;
    height:19px;
    margin-right:3px;
    //top:-1px;
    top:0;
    img {
      object-fit:contain;
    }
  }
  .circle {
    width:16px;
    height:16px;
    border:solid 2px $persian-green;
    @include border-radius(100px);
  }
  .half-circle-fill, .full-circle-fill {
    background-color:$persian-green;
    height:8px;
    top:2px;
    left:2px;
  }
  .half-circle-fill {
    width:5px;
    height:8px;
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .full-circle-fill {
    @include border-radius(100px);
    width:8px;
  }
}

/* Small Title */
.reviews-title {
  font-size:$fontSize-11;
  top:1px;
  padding-left:2px;
}

/* divider */
.divider {
  hr {
    margin:20px 0;
    border-width:1px;
  }
}

/* Star icons */
.fa-star {
  color:$txt-yellow-dark;
}
.row {
  margin-left:-15px;
  margin-right:-15px;
  &:before,&:after {
    content:'';
    display:block;
    clear:both;
  }
}

/* Down triangle square box */
.active-arrow {
  width:20px;
  height:20px;
  left:0;
  top:-4px;
  @include rotate(45deg);
  @include border-radius(5px);
  z-index:5;
}

.hotel-badge {
  font-size:12px;
  left:18px;
}
.hotel-badge-white, .hotel-badge {
  padding:4px 8px;
  @include border-radius(3px);
  z-index:2;
  top:16px;
}
.hotel-badge-white {
  font-size:11px;
  right:18px;
}

/* Grid */
.col-3 {
  width:33.33333333333333%;
}
.col-4 {
  width:25%;
}
.col-6 {
  width:50%;
}
.col-5 {
  width:20%;
}
.col-12 {
  width:100%;
}
.col-3, .col-4, .col-6, .col-12, .col-5 {
  padding-left:15px;
  padding-right:15px;
}



/* newsletter */
.newsletter {
  .newletter-social-icon {
    a {
      position:relative;
    }
    .line-icon-fb {
      width:19px;
      top:1px;
    }
    .line-icon-instagram {
      width:19px;
      top:1px;
    }
  }
}
@include breakpoint(when-portrait-tablet) {
  .newsletter {
      padding:20px 0 20px 0;
      min-height:inherit;
      .content-middle {
        padding:0 85px;
      }
      .newsletter-header {
        padding-bottom:0;
      }
      .newsletter-form {
        margin-top:17px;
      }
      .medium-label {
        font-size:20px;
      }
      .newletter-social-icon {
        padding:15px 0 0 11px;
      }
      .line-icon-email {
        width:20px;
        top:4px;
      }
  }
}

@include breakpoint(mobile) {
  .hotel-badge {
    left:10px;
  }
  .hotel-badge-white, .hotel-badge {
    top:10px;
  }
  .hotel-badge-white {
    right:10px;
  }
  .back-to-top {
    bottom:70px;
  }
}
