.confident-items {
  &.at-footer {
    .box-6 {
      width:100px;
    }
    .box-7 {
      width:83px;
    }
  }
}
@include breakpoint(small-desktop) {
  .confident-items {
    &.at-footer {
      .content-middle {
        padding:0 40px;
      }
      .show-on-tablet-landscape {
        width:100%;
        height:0px;
        margin:18px 0;
        display:block;
        .devider-3 {
          display:none;
        }
      }
      .devider-3 {
        display:none;
      }
      hr {
        display:block;
        margin:10px -40px 0 -40px;
      }
    }
  }
  .extras {
    padding-top:60px;
  }
  .max-section {
    padding-bottom:43px;
  }
}
@include breakpoint(portrait-tablet) {
  .confident-items {
    &.at-footer {
      margin:0 0 44px 0;
      .show-on-tablet-landscape {
        width:1px;
        height:30px;
        margin:0 16px;
        display:inline-block;
      }
      .devider-3 {
        display:inline-block;
      }
      .tt-feefo {
        display:none;
      }
      hr {
        display:block;
        margin:-10px -40px 5px -40px;
      }
    }
  }
}
@include breakpoint(mobile) {
  .extras {
    padding-top:40px;
  }
  .confident-items {
    &.at-footer {
      .content-middle {
        padding:0;
      }
      .devider-3 {
        display:inline-block;
      }
      hr {
        display:block;
        margin:5px 20px 0 20px;
      }
    }
  }
}
