.min-confident-items {
  .icon-box-1, .icon-box-2 {
    margin-right:3px;
  }
  .box-1 {
    margin-right:24px;
  }
  .icon-box-1 {
    width:28px;
    height:28px;
  }
  .icon-box-2 {
    width:31px;
    height:20px;
  }
  span {
    font-size:12px;
  }
}

.line-h, .line-v {
  background-color:#d8d8d8;
}
.confident-items {
  margin:-7px 0 0 0;
  &.top-section {
    hr {
      margin-top:20px;
      border-width:1px;
    }
  }
  h4 {
    color:$txt-purple;
    padding-bottom:4px;
    font-size:16px;
    line-height:24px;
  }
  p {
    line-height:18px;
  }
  .line-h {
    width:71px;
    height:1px;
    margin:5px auto 8px auto;
  }
  .icon-box {
    width:50px;
    height:46px;
    margin:0 auto 8px auto;
  }
  .line-v {
    width:1px;
    height:80px;
    margin:0 57px;
  }
  &.at-footer {
    padding:0 0 60px 0;
    p {
      line-height:normal;
      font-size:14px;
      font-family:$font-semibold;
      padding-left:10px;
    }
    hr {
      border-width:1px;
    }
    .line-v {
      height:30px;
      margin:0 16px;
    }
    .inner {
      padding-top:20px;
    }
    .box-1, .box-2 {
      p {
        font-size:13px;
      }
    }
    img {
      object-fit:contain;
    }
    .icon-box {
      margin:0;
    }
    .icon-box-1 {
      width:40px;
      height:40px;
    }
    .icon-box-2 {
      width:40px;
      height:26px;
    }
    .icon-box-3 {
      width:40px;
      height:34px;
    }
    .icon-box-4 {
      width:40px;
      height:40px;
    }
    .icon-box-5 {
      width:39px;
      height:40px;
    }
  }
  @include breakpoint(small-desktop) {
    .line-v {
      margin:0 40px;
    }
    &.top-section {
      hr {
        margin-top:24px;
      }
    }
    &.at-footer {
      padding:0 0 40px 0;
      hr {
        display:none;
      }
    }
  }
  @include breakpoint(portrait-tablet) {
    &.at-footer {
      margin:0 0 30px 0;
      padding:0;
      .icon-box-6 {
        width:106px;
        height:46px;
      }
      .icon-box-7 {
        width:80px;
        height:40px;
      }
      .gutters {
        margin:12px 0;
      }
    }
    h4 {
      padding:5px 0 2px 0;
    }
    p {
      max-width:140px;
      margin:0 auto;
      line-height:18px;
    }
    .line-v {
      margin:0 20px;
    }
  }
  @include breakpoint(mobile) {
    p {
      margin:7px 0 0 0;
      line-height:15px;
      font-size:13px;
      font-family:$font-semibold;
    }
    &.top-section {
      padding-bottom:70px;
      img {
        object-fit:inherit;
      }
      .inner {
        display:flex;
        justify-content:center;
      }
      .icon-low-deposite {
        width:44px;
        height:38px;
      }
      .icon-pay-monthly {
        width:40px;
        height:39px;
      }
      .icon-support {
        width:39px;
        height:40px;
      }
      .divider-1 {
        display:none;
      }
      .line-v {
        height:50px;
        align-self:center;
        margin:0;
      }
      hr {
        margin:16px 0;
      }
      .content-middle {
        padding:0;
      }
      .box-1 {
        position:absolute;
        top:auto;
        bottom:18px;
        display:flex;
        max-width:300px;
        margin:0 auto;
        justify-content:center;
      }
      .line-h {
        width:1px;
        height:30px;
        margin:0 24px;
        align-self:center;
      }
      .atol-wrapper {
        display:flex;
        justify-content:center;
        margin:-8px 0 20px 0;
        div {
          align-self:center;
        }
        p {
          margin:0 0 0 10px;
        }
        .small-box-1 {
          div {
            width:28px;
            height:28px;
          }
        }
        .small-box-2 {
          margin:0 12px;
          .line-v {
            height:30px;
            align-self:center;
            margin:0;
          }
        }
        .small-box-3 {
          div {
            width:31px;
          }
        }
      }
    }
    &.at-footer {
      margin:0 0 24px 0;
      hr {
        display:block;
        border-bottom:dashed $b-lynch 1px;
        opacity:0.5;
        margin:5px 20px 0 20px;
      }
      .icon-box-3, .icon-box-4, .icon-box-5 {
        display:block;
        margin:0 auto;
      }
      .content-middle {
        padding:0;
      }
      .inner {
        &:before, &:after {
          content:'';
          position:absolute;
          height:1px;
          background-color:$b-lynch;
          top:132px;
          z-index:-1;
          width:30px;
          opacity:0.1;
        }
        &:before {
          right:0;
        }
        &:after {
          left:0;
        }
      }
      p {
        font-size:13px;
      }
      .box-3, .box-4, .box-5 {
        p {
          padding-left:0;
          text-align:center;
        }
      }
      .devider-4, .devider-5 {
        height:50px;
        margin-top:10px;
      }
      .icon-box-3 {
        width:37px;
        height:32px;
      }
      .icon-box-4 {
        width:33px;
        height:33px;
      }
      .icon-box-5 {
        width:32px;
        height:32px;
      }
      .icon-box-1 {
        width:28px;
        height:28px;
      }
      .icon-box-2 {
        width:32px;
        height:22px;
      }
      .devider-3, .devider-1 {
        margin:0 12px;
      }
      .box-1, .box-2 {
        br {
          display:none;
        }
        p {
          margin:0;
        }
      }
      .devider-2.line-v {
        width:100%;
        height:0;
        margin:0;
      }
    }
  }
  @include breakpoint(medium-mobile) {
    &.top-section {
      .box-2 {
        .icon-low-deposite {
          width:35px;
        }
      }
      .box-3 {
        .icon-pay-monthly {
          width:30px;
        }
      }
      .box-4 {
        .icon-support {
          width:30px;
        }
      }
      .box-5 {
        .icon-trust {
          width:33px;
        }
      }
      .box-1 {
        div:first-child {
          width:110px;
        }
        div:nth-child(2) {
          width:11089px;
        }
      }
    }
    &.at-footer {
      .line-v {
        margin:0 8px;
      }
    }
  }
}
