.active-cookies {
  .rich-banner {
    margin-top:40px;
  }
  .rich-header {
    top:0;
    position:absolute;
    @include animation-transition(all 0.3s ease-in-out);
    &.sticky-header {
      top:-41px;
      position:fixed;
    }
  }
  .enquiry-banner {
    &.banner {
      padding-top:149px;
    }
  }
  .sticky-search {
    top:142px;
    &.active {
      //top:42px;
    }
  }
  .serp-fod-loader  {
    top:116px;
  }
  .search-results {
    margin-top:274px;
  }
}
.active-cookies-hidden {
  .sticky-search {
    &.active {
      //top:0;
    }
  }
}
.cookies-banner {
  z-index:3;
  padding:4px 0;
  top:0;
  @include animation-transition(all 0.3s ease-in-out);
  .content-middle {
    padding:0;
  }
  p {
    font-size:14px;
    letter-spacing:-0.2px;
  }
  a {
    color:$txt-java;
    text-decoration:underline;
  }
  button {
    padding:6px 24px;
    margin-left:45px;
    @include border-radius(3px);
    font-size:17px;
  }
}

@include breakpoint(small-desktop) {
  .cookies-banner {
    letter-spacing:-0.2px;
  }
}
@include breakpoint(portrait-tablet) {
  .cookies-banner {
      padding:14px 0 12px 0px;
      p {
        font-size:13px;
        text-align:left;
        max-width:580px;
      }
  }
  .active-cookies {
    .rich-header {
      &.sticky-header {
        top:-60px;
      }
    }
    .rich-banner, .banner  {
      margin-top:26px;
    }
    .search-results {
      margin-top:260px;
    }
    .sticky-search {
      top:121px;
    }
  }
}
@include breakpoint(mobile) {
  .active-cookies {
    .rich-header {
      top:0;
    }
    .rich-banner, .banner {
      margin-top:0;
    }
  }
}
