/* IE 11  */
:-ms-input-placeholder {
  @include truncate();
  font-weight:normal!important;
  font-size:14px;
  opacity:0.5;
}
_:-ms-lang(x), input[type='text'] {
  max-width:100%!important;
}
_:-ms-lang(x), .mobile-option-reset {
  width:34px!important;
  height:34px!important;
  top:23px!important;
  background:#fff;
  @include border-radius(100px);
}
_:-ms-lang(x), .mobile-option-reset .close--icon {
  top:13px!important;
  right:3px!important;
}
_:-ms-lang(x), .grid-search .input-icon {
  margin:0 14px 0 2px!important;
}
_:-ms-lang(x), .sticky-search.active {
  top:73px!important;
}
_:-ms-lang(x), .hotels .image-rotator .icon-favorite img {
  width:22px;
  top:6px;
  left:5px;
}
_:-ms-lang(x), .grid-search input[type='text'], _:-ms-lang(x), .grid-search .mobile-nghts-value {
  font-size:13px!important;
}
_:-ms-lang(x), .enquiry-form.confirmation .msg-submission {
  left:40%!important;
}

/* IE
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dstn-tags {
    top:-21px!important;
  }
} */


/* Edge */
@supports (-ms-ime-align:auto) {
  :-ms-input-placeholder {
      @include truncate();
      font-weight:300!important;
  }
  input[type='text'] {
    max-width:100%!important;
  }
  .grid-search input[type='text'], .grid-search .mobile-nghts-value {
    font-size:13px!important;
  }
  .theme-popup-login-left-content {
    .login-left-content {
      h3 {
        font-size:24px;
      }
    }
  }
  .enquiry-form.confirmation .msg-submission {
    left:0!important;
  }
  .sticky-search {
    top:73px!important;
  }
  .active-cookies .sticky-search {
    top:110px!important;
  }

}

/* Firefox */
@-moz-document url-prefix() {
  .grid-search {
    input[type="text"], .mobile-nghts-value {
      font-size:13px!important;
    }
    .mobile-input-button {
      min-width:120px;
    }
  }
}
