.dropdown-thin {
  @include box-shadow(0 0 5px 0px rgba(0,0,0,0.2));
  @include border-radius(3px);
  top:36px;
  right:0;
  left:0;
  z-index:5;
  line-height:30px;
  max-height:180px;
  overflow-x:auto;
  font-size:16px;
  ul {
    li {
      padding:0 15px;
      &:hover {
        background-color:$bgnd-light;
      }
    }
  }
  &.active {
    display:block;
  }
}
