.link-with-arrow {
  a {
    font-size:13px;
    color:$txt-white;
  }
  .line-arrow-left {
    border-color:$b-white;
    border-width:1px;
    width:7px;
    height:7px;
  }
  .line-h {
    height:1px;
    width:10px;
    left:-9px;
    background-color:$bgnd-white;
  }
  @include breakpoint(mobile) {
    position:absolute;
    padding:0;
    left:0;
    top:2px;
    .line-arrow-left {
      border-width:1px;
      width:11px;
      height:11px;
    }
    .line-h {
      width:20px;
      left:-15px;
      height:1px;
    }
    a {
      &:before {
        content:'';
        width:40px;
        height:40px;
        position:absolute;
        top:-12px;
        left:-12px;
      }
    }
  }
}
.enquiry-banner {
  min-height:180px;
  background-image:url("#{$images}/drupal/images/enquiry-by-email.png");
  padding:109px 0 25px 0;
  background-size:cover;
  @include animation-transition(all 0.3s ease-in-out);
  .link-with-arrow {
    padding:0 0 30px 0;
  }
  h1 {
    font-size:36px;
  }
  p {
    font-size:17px;
    padding-top:8px;
    font-weight:300;
  }
  @include breakpoint(small-desktop) {
    background-position:center center;
    p {
      max-width:460px;
    }
  }
  @include breakpoint(portrait-tablet) {
    p {
      max-width:330px;
    }
    background-position:left;
    h1 {
      font-size:32px;
    }
  }
  @include breakpoint(mobile) {
    min-height:inherit;
    padding:71px 0 0 0;
    background-position:right top;
    background-image:url("#{$images}/drupal/images/img_m_header_enquiry2x.jpg");
    &.active {
      .price-wrapper {
        padding:585px 0 33px 0;
      }
      .holiday-summary {
        .inner {
          @include border-radius(0);
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        .line-arrow-down {
          @include rotate(-45deg);
        }
      }
    }
    .content-middle {
      padding:0;
    }
    .price-wrapper {
      background-color:$bgnd-butterfly;
      padding:57px 0 18px 0;
      font-size:12px;
      margin-top:-40px;
    }
    .total-price {
      font-size:28px;
      padding:3px 0 0;
    }
    .tth-asterisk {
      font-size:30px;
      right:6px;
    }
    .holiday-summary {
      padding:0 10px;
      margin-top:30px;
      p {
        padding:4px 0 0 0;
        font-size:15px;
      }
      .inner {
        @include border-radius(5px);
        padding:20px 17px;
        display:flex;
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        display:-webkit-flex;
        flex-wrap:wrap;
        align-items:center;
        .name-wrapper {
          flex:1;
        }
      }
      h3 {
        font-size:17px;
        color:$txt-cornflower-blue;
      }
      .line-arrow-down {
        right:4px;
        top:0;
      }
      .icon-box {
        width:24px;
        height:24px;
        margin-right:6%;
      }
    }
    .banner-title {
      margin:0 17px;
    }
    .dstn-star-ratings {
      padding:0 0 0 45px;
      .inner {
        letter-spacing:6px;
      }
    }
    .page-title {
      font-size:20px;
      padding-bottom:7px;
    }
  }
  @include breakpoint(medium-mobile) {
    .holiday-summary {
      margin-top: 24px;
      .icon-box {
        margin-right:4%;
      }
      .inner {
        padding:18px 12px;
      }
      h3 {
        font-size:15px;
      }
      p {
        font-size:14px;
      }
    }
    .page-title {
      font-size:16px;
    }
    .dstn-star-ratings {
      padding:0 0 0 35px;
    }
  }
}
