.enquiry-form {
  hr {
    border-width:1px;
  }
  &.confirmation {
    .msg-submission {
      display:block;
      margin:auto;
      padding:20px;
      max-width:350px;
      height:160px;
      z-index:116;
      animation:slideUp 0.3s  ease-in-out;
      animation-fill-mode:forwards;
      @include border-radius(3px);
      @include box-shadow(0 10px 15px 0 rgba($bgnd-black, 0.2));
      .pstn-abslt {
        width:40px;
        height:40px;
        right:0;
        top:0;
      }
      h3 {
        color:$txt-light-purple;
        font-size:20px;
      }
      button {
        padding:7px 28px;
        margin-top:15px;
        @include border-radius(3px);
      }
      p {
        padding-top:8px;
        line-height:22px;
        font-size:17px;
      }
    }
    .overlay {
      display:block;
    }
  }
  .holiday-summary {
    top:-50px;
    right:0;
    width:360px;
    border:solid 1px rgba(88, 89, 91, 0.2);
    padding:20px 20px 9px 20px;
    @include border-radius(2px);
    .summary {
      padding:16px 0 0 10px;
      button {
        top:13px;
        right:0;
        padding:4px 12px;
        font-size:13px;
        @include border-radius(2px);
      }
    }
    .hotel-name {
      padding-bottom:12px;
    }
    .label {
      flex:1;
      opacity:0.7;
    }
    .info-row {
      display:flex;
      display:-webkit-box;
      display:-moz-box;
      display:-ms-flexbox;
      display:-webkit-flex;
      justify-content:space-between;
      padding:8px 0;
      span {
        flex:1;
      }
    }
    .total-price-wrapper {
      background-color:$hover-green;
      @include border-radius(2px);
      padding:14px 0 30px 0;
    }
    .toggle-section {
      &.active {
        .dstn-outer, .divider  {
          display:block;
        }
        [class*=line-arrow-] {
          @include rotate(-45deg);
        }
      }
      hr {
        margin:24px -20px 15px -30px;
        border-bottom:dashed 1px rgba($b-lynch, 0.3);
      }
      [class*=line-arrow-] {
        top:3px;
        right:6px;
        width:8px;
        height:8px;
      }
      h3 {
        font-size:16px;
      }
      .airlines-name {
        font-size:13px;
        padding-right:25px;
      }
      .airlines-section {
        flex:1;
        display:flex;
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        display:-webkit-flex;
      }
      .info-row {
        padding-top:12px;
      }
      hr {
        margin-top:8px;
        margin-bottom:10px;
      }
    }
    .icon-box {
      width:24px;
      height:24px;
      margin-right:10px;
      top:3px;
    }
    .title {
      padding:0 0 16px 0;
    }
    h4 {
      vertical-align:middle;
      font-size:16px;
    }
    .price-wrapper {
      font-size:32px;
      padding-top:5px;
    }
    .request-call {
      padding-top:24px;
    }
    a {
      @include border-radius(100px);
      @include box-shadow(0 2px 9px 0 rgba(0, 0, 0, 0.2));
      padding:8px 26px 9px 26px;
      color:$txt-emerald;
      margin-top:8px;
      font-size:22px;
      &:hover {
        @include box-shadow(0 4px 15px 0 rgba(0, 0, 0, 0.3));
      }
    }
    .includes {
      font-size:13px;
    }
    .phone-icon {
      width:20px;
      height:20px;
      margin-right:2px;
    }
    .arrive-date {
      font-size:11px;
    }
    .out-date {
      font-size:13px;
    }
    .depart-date {
      display:flex;
      display:-webkit-box;
      display:-moz-box;
      display:-ms-flexbox;
      display:-webkit-flex;
      justify-content:stretch;
    }
    .section-1, .section-2 {
      font-size:13px;
      //flex:1;
    }
    .airlines {
      top:10px;
      right:0;
      text-align:center;
    }
    .dstn-name {
      @include truncate();
      max-width:90px;
    }
    .quote-wrapper {
      padding-top:6px;
    }
    .section-outer {
      padding-left:28px;
    }
    .airlines-name {
      opacity:0.5;
    }
    .airlines-wrapper {
      padding:13px 0 0 0;
    }
    .airline-icon {
      width:16px;
      height:16px;
    }
    .timeline {
      width:69px;
      height:1px;
      background-color:$bgnd-lynch;
      opacity:0.1;
      margin:0 10px;
    }
    .time {
      font-size:14px;
    }
    .toggle-header {
      padding:4px 0 10px 0;
    }
    .dstn-outer {
      padding:10px 0;
    }
    .airline-id {
      font-size:11px;
    }
  }
  .form-wrapper {
    margin-right:42%;
    padding-bottom:60px;
    .input-row {
      margin-bottom:50px;
    }
    .msg-error {
      bottom:-18px;
      left:0;
      font-size:11px;
    }
    label {
      font-size:17px;
      bottom:12px;
      left:0;
    }
    input {
      background-color:transparent;
      font-size:17px;
      width:100%;
      font-weight:300;
    }
    hr {
      padding-top:11px;
    }
    .input-group {
      &.active, &.default-active {
        label {
          font-size:13px;
          bottom:40px;
          opacity:0.6;
        }
      }
      &.error {
        hr {
          border-color:red;
        }
      }
    }
    .country-code {
      width:60px;
      padding-left:9px;
      span {
        top:-1px;
        left:0;
        font-size:17px;
      }
    }
    .line-arrow-down {
      top:5px;
      right:5px;
    }
    .merge {
      display:flex;
      display:-webkit-box;
      display:-moz-box;
      display:-ms-flexbox;
      display:-webkit-flex;
      .input-group {
        margin-right:32px;
        &:nth-child(2) {
          flex:1;
          margin-right:0;
        }
      }
    }
    .check-box {
      margin-right:8px;
      border-color:rgba($b-lynch, 0.5);
      width:18px;
      height:18px;
      &.active {
        border-color:transparent;
        &:before {
          top:2px;
          right:2px;
        }
      }
    }
    .required-title {
      padding:40px 0 54px 0;
      font-size:13px;
    }
    .radios {
      padding-bottom:34px;
      label {
        bottom:30px;
        font-size:13px;
        opacity:0.6;
      }
    }
    .radio-wrapper {
      margin-right:68px;
      font-size:17px;
      .radio-button {
        width:16px;
        height:16px;
        border:solid $b-blue 1px;
        @include border-radius(100px);
        margin-right:4px;
        &:before {
          content:'';
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          margin:auto;
          opacity:0;
          width:8px;
          height:8px;
          background-color:$bgnd-cornflower-blue;
          @include border-radius(100px);
        }
      }
      &.active {
        .radio-button {
          &:before {
            opacity:1;
          }
        }
      }
    }
    .msg-wrapper {
      span {
        font-size:17px;
      }
      textarea {
        background-color:#f2f2f2;
        @include border-radius(3px);
        padding:15px 20px;
        width:100%;
        min-height:122px;
        border:none;
        margin:10px 0 23px 0;
        font-family:$font-regular;
        font-size:15px;
        resize:none;
      }
      ::-webkit-input-placeholder{
        opacity:0.6;
      }
    }
    button {
      width:320px;
      @include border-radius(100px);
      font-size:17px;
      padding:12px 0;
      span {
        padding:0 3px;
      }
      &.active {
        .spinner {
          display:block;
        }
        .icon-box, .title {
          display:none;
        }
      }
    }
  }
  .time-wrapper {
    margin:0 0 40px 0;
    .from-time, .to-time {
      padding:5px 12px 4px 12px;
      min-width:140px;
      &:hover {
        @include box-shadow(0 0 5px 0px rgba(0,0,0,0.2));
        @include border-radius(3px);
      }
      &.active {
        .time-dd {
          display:block;
        }
      }
      .time {
        font-size:24px;
      }
    }
    .time-dd {
      @include box-shadow(0 0 5px 0px rgba(0,0,0,0.2));
      @include border-radius(3px);
      top:36px;
      right:0;
      left:0;
      z-index:5;
      line-height:30px;
      max-height:180px;
      overflow-x:auto;
      font-size:16px;
      ul {
        li {
          padding:0 15px;
          white-space:nowrap;
          &:hover {
            background-color:$bgnd-light;
          }
          &.disabled {
            opacity:0.3;
          }
        }
      }
    }
    .time-text {
      font-size:13px;
      opacity:0.5;
    }
    .time-value {
      min-width:50px;
    }
    .time-mode {
      font-size:15px;
      opacity:0.5;
      padding:0 3px 0 8px;
    }
    .select-time {
      padding:30px 0 30px 36px;
      .arrow  {
        margin:0 60px 0 70px;
      }
      .line-h {
        width:12px;
        height:2px;
        background-color:#cacaca;
        left:-17px;
      }
      .line-arrow-right {
        width:10px;
        height:10px;
        border-color:#cacaca;
      }
    }
    .caret {
      border-width:3px;
      border-top-color:$b-lynch;
      top:2px;
    }
    hr {
      padding-top:0;
    }
    .time-title {
      font-size:15px;
      hr {
        padding-bottom:22px;
      }
      .check-box-holder {
        padding-left:80px;
      }
      .time-slot {
        font-size:11px;
        opacity:0.7;
      }
    }
  }
  @include breakpoint(small-desktop) {
    .holiday-summary {
      right:47px;
      width:320px;
      top:-72px;
    }
  }
  @include breakpoint(portrait-tablet) {
    .holiday-summary {
      right:35px;
      width:280px;
      padding:20px 17px 9px 17px;
      a {
        padding:8px 20px 9px 20px;
      }
      .toggle-section {
        .airlines-name {
          padding-right:0;
        }
        hr {
          margin:24px -15px 15px -15px;
        }
      }
      .summary {
        padding-left:0;
      }
    }
    .time-wrapper {
      .time-title {
        .check-box-holder {
          padding-left:64px;
        }
      }
       .select-time {
         padding:30px 0 30px 20px;
         .arrow {
           margin:0 20px 0 30px;
         }
       }
    }
    .form-wrapper {
       margin-right:48%;
       .merge {
         .input-group {
           width:90px;
         }
       }
     }
  }
  @include breakpoint(mobile) {
    > hr {
      display:none;
    }
    &.confirmation {
      .msg-submission {
        right:0;
        left:0;
        bottom:80px;
        margin:auto;
        max-width:90%;
      }
    }
    .holiday-summary {
      width:initial;
      top:-129px;
      left:10px;
      right:10px;
      position:absolute;
      padding:0 17px 9px 17px;
      display:none;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      @include box-shadow(0 12px 20px -10px #5e3670);
       .total-price-wrapper, .title{
         display:none;
       }
       .toggle-section {
         hr {
           margin:13px 0 26px 0;
         }
         .line-arrow-down {
           display:none;
         }
       }
    }
    &.active {
      .holiday-summary {
        top:-649px;
        display:block;
        @include border-radius(0);
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    .form-wrapper {
      margin-right:0;
      padding-bottom:0;
      .merge {
        display:block;
        width:100%;
      }
      .required-title {
        padding:22px 0 50px 0;
      }
      .input-row, .merge .input-group {
        margin:0 0 40px 0;
        display:block;
        width:100%;
      }
      button {
        width:100%;
      }
      .line-arrow-down {
        right:25px;
        top:3px;
      }
      .radios {
        padding-top:10px;
      }
      .check-box {
        margin-right:4px;
      }
    }
    .time-wrapper {
      .time-title {
        justify-content:space-between;
        flex-wrap:wrap;
        display:flex;
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        display:-webkit-flex;
        .check-box-holder {
          padding-left:0;
        }
        .txt-anytime {
          font-size:15px;
        }
        .txt-pref {
          flex:1;
          font-size:17px;
        }
        .time-slot {
            display:block;
            padding-left:32px;
        }
        hr {
          width:100%;
          padding-bottom:8px;
        }
      }
      .from-time, .to-time {
        padding:0;
        min-width:110px;
        &:hover {
          @include box-shadow(0 0 5px 0px rgba(0,0,0,0));
        }
      }
      .select-time {
        padding:24px 0 30px 0;
        display:flex;
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        display:-webkit-flex;
        justify-content:space-between;
        .arrow {
          margin:5px 20px 0 30px;
        }
        .line-h {
          width:10px;
          left:-14px;
        }
      }
    }
  }
}




@-webkit-keyframes slideUp {
  0% {
    bottom:-100px;
  }
  100% {
    bottom:25px;
  }
}
