.flight-details {
  bottom:-64px;
  right:-40px;
  padding:15px 15px 0 15px;
  min-width:682px;
  z-index:2;
  animation:DesktopSlideUp 0.4s ease-in-out;
  animation-fill-mode:forwards;
  opacity:0;
  @include border-radius(3px);
  @include box-shadow(0 5px 20px 0 rgba(0,0,0,0.34));
  &.active {
    display:block;
    bottom:-54px;
  }
  .active-arrow {
    left:371px;
  }
  .info-wrapper, .date-section, .dstn-outer, .airlines-section {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    justify-content:stretch;
  }
  .info-left, .info-right, .dstn-title, .airlines-section {
    flex:1;
  }
  .date-section {
    padding-bottom:15px;
  }
  .inner {
    padding-left:30px;
  }
  .time {
    padding-top:4px;
    font-size:14px;
  }
  .flight-icon {
    width:15px;
    height:15px;
  }
  .dtnt-title {
    font-size:13px;
  }
  .timeline {
    min-width:72px;
    height:1px;
    background-color:red;
    margin:0 10px;
    top:2px;
  }
  .divider {
    width:1px;
    border-right:dashed red 1px;
    margin:0 10px;
  }
  .airline {
    opacity:0.6;
  }
  .duration, .airline, .expert-title {
    font-size:11px;
  }
  .airline-image {
    width:32px;
    height:32px;
    background-color:red;
  }
  .call-section {
    margin-top:25px;
    .inner {
     background-color:$bgnd-emerald;
      -webkit-border-top-left-radius: 20px;
      -webkit-border-top-right-radius: 20px;
      -moz-border-radius-topleft: 20px;
      -moz-border-radius-topright: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding:5px 25px 6px 15px;
      line-height:16px;
    }
    .phone-number {
      font-size:22px;
    }
    .call-icon {
      width:12px;
      margin:0 15px 0 15px;
    }
    .txt-1 {
      font-size:12px;
      line-height:12px;
    }
  }
}

@include breakpoint(mobile) {
  .flight-details {
    position:fixed;
    right:0;
    bottom:0;
    left:0;
    z-index:10;
    min-width:100%;
    .info-wrapper, .date-section, .dstn-outer, .airlines-section {
      flex-wrap:wrap;
    }
    .info-wrapper {
      display:block;
    }
  }
  .fd-overlay {
    z-index:8;
    animation:height 0.4s ease-in-out;
    animation-fill-mode:forwards;
    opacity:0;
    &.active {
      display:block;
    }
  }
}








@keyframes DesktopSlideUp {
  0% {
    opacity:0;
    bottom:-64px;
  }
  100% {
    opacity:1;
    bottom:-54px;
  }
}
