.flying-from {
  padding:13px 24px 42px 24px;
  .dstns-col {
    width:25%;
  }
  .dstn-title {
    @include truncate();
    max-width:70%;
  }
  .dstn-item {
    margin:5px 0;
    width:25%;
    span {
      @include animation-transition(all 0.1s ease-in-out);
    }
    &:hover {
      span {
        color:$txt-cornflower-blue;
      }
    }
    &.unavailable-airport-link {
      pointer-events:none;
      opacity:0.5;
      .no-flights-available {
        display:inline-block;
        position:relative;
      }
    }
  }
  ul {
    li {
      margin:10px 0;
    }
  }
  .when-type {
    .dstn-item {
      width:100%;
    }
  }
  .check-box {
    margin-right:14px;
  }
}
@include breakpoint(mobile) {
  .flying-from-outer {
    position:fixed;
    top:42px;
    right:0;
    bottom:0;
    left:0;
  }
  .flying-from {
    padding:43px 20px 125px 20px;
    height:100vh;
    overflow-x:auto;
    .b-radius {
      @include border-radius(0);
      padding-bottom:80px;
    }
    .dstns-row {
      .dstn-item:first-child {
        margin-top:0;
      }
    }
    .dstns-col, .dstn-item  {
      width:100%;
    }
    .dstn-item {
      float:none;
      margin:12px 0;
    }
    .title {
      padding:28px 0 14px 0;
    }
  }
}
