html, body, input, button, p, input, textarea {
  font-family:"proxima-nova", sans-serif;
}

/* Font Weight 200 */
.fw-200 {
  font-weight:200;
}

/* Font Weight 300 */
.fw-300,
.extras .extras-tiels p,
.grid-search ::-webkit-input-placeholder,
.grid-search ::placeholder,
.grid-search .font-light {
  font-weight:300;
}

/* Font Weight 400 */
.fw-400,
.txt-bold,
html,
body,
input,
button {
  font-weight:400;
}

/* Font Weight 500 */
.txt-bold, .fw-500  {
  font-weight:500;
}

/* Font Weight 600 */
.fw-600,
.extras h2,
.extras h3,
.extras .extras-tiels span,
.grid-search  input[type="text"],
.grid-search  .mobile-nghts-value {
  font-weight:600;
}

/* Font Weight 700 */
.fw-700,
.font-bold {
  font-weight:700;
}
