.green-strip {
  bottom:0; /*-53px*/
  padding:5px 0;
  z-index:8;
  @include box-shadow(0 -2px 15px -4px rgba(0, 0, 0, 0.34));
  &.active {
    bottom:0;
  }
  a {
    color:$txt-white;
  }
  .large-title {
    font-size:24px;
    line-height:25px;
  }
  &.hidde-down {
    bottom:-70px
  }
  .small-title {
    width:100%;
  }
  @media(max-width:350px) {
    .small-title {
      font-size:13px;
    }
  }
}
