$border-radius:10px;
.grid-search {
  .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5, .flex-box-6 {
    margin:0;
    padding-bottom:13px;
    &.active {
      .active-arrow {
        display:block;
        animation:fadeInArrow 0.2s ease-in-out;
        animation-fill-mode: forwards;
        animation-delay:0.3s;
        top:69px;
        opacity:0;
      }
    }
  }
  .mobile-date-picker {
    min-width:78px;
  }
  .mobile-stay-for {
    min-width:60px;
  }
  .input-guests-box {
    .mobile-nghts-value {
      min-width:140px;
    }
  }
   .mega-dropdown-wrapper {
     margin-top:1px;
     &.mega-dropdown-items2  {
        left:230px;
     }
   }
  .input-stayfor-box-mobile {
    display:none;
  }
  .input-stayfor-box {
    .line-arrow-down {
      right:-6px;
    }
  }
  .input-destingtion-box {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding-left:18px;
  }
  .input-depart-box, .input-destingtion-box, .double-boxes, .flexible-date-wrapper, .input-departing-box {
    &:before {
      content:'';
      display:block;
      position:absolute;
      right:0;
      top:0;
      bottom:0;
      background-color:rgba($b-lynch, 0.2);
      width:1px;
      z-index:2;
    }
  }
  .flexible-date {
    margin-left:18px;
    font-size:13px;
    &.disabled {
      opacity:0.3;
    }
  }
  .input-icon {
    margin:0 14px 0 3px;
  }
  .flex-box-2 {
    img {
      top:1px;
    }
    .active-arrow {
      left:44px;
    }
  }
  .flex-box-5 {
    .line-arrow-down {
      bottom:-8px;
    }
    .active-arrow {
      left:44px;
    }
  }
  .line-arrow-down {
    bottom:2px;
    right:0;
    border-width:1px;
    width:8px;
    height:8px;
    opacity:0.8;
  }
  .flex-box-4 {
    img {
      top:-6px;
    }
    .active-arrow {
      left:62px;
    }
  }
  .flex-box-1 {
    flex-grow:2;
    img {
      top:2px;
    }
    .active-arrow {
      left:54px;
    }
  }
  .flex-box-3 {
    flex-grow:initial;
    padding-right:18px;
    img {
      top:9px;
    }
    .active-arrow {
      left:44px;
    }
  }
  .flexible-date-wrapper {
    bottom:0;
    display:flex;
    padding-left:10px;
    align-items:center;
    .checkbox-wrapper {
      margin:0 14px 0 30px;
    }
    .flexible-date {
      width:100%;
      align-items:flex-end;
    }
  }
  .checkbox-label {
    font-size:12px;
  }
  .mobile-input-button {
    align-self:center;
    font-size:17px;
    padding:0;
    margin-right:10px;
    flex-grow:4;
    max-width:140px;
    min-width:140px;
    #mobile-btn-search {
      padding:12px 0 11px 0;
      @include animation-transition(all 0.2s ease-in-out);
      @include border-radius(3px);
      &:hover {
        background:darken($bgnd-sunset, 8%);
      }
    }
  }
  .mobile-input-button, .mobile-search-fields {
    @include border-radius(4px);
  }
  .mobile-search-fields {
    @include box-shadow(0 10px 24px 0 rgba(0, 0, 0, 0.1));
    background-color:$bgnd-white;
  }
  .mobile-input-label {
    font-size:12px;
    color:rgba($txt-lynch, 0.8);
    font-family:$font-regular;
    &.show-on-mobile {
      display:none;
    }
  }
  input[type="text"], .mobile-nghts-value {
    font-size:14px;
    font-weight:bold;
    font-family:$font-regular;
  }
  .mobile-nghts-value, input[type="text"] {
    padding:6px 0 0;
  }
  input[type="text"] {
    @include truncate();
    max-width:90%;
  }
  .mobile-option-reset {
    border:none;
    width:17px;
    height:17px;
    top:34px;
  }
  .mobile-input-group {
    .close--icon {
      width:13px;
      height:13px;
      z-index:2;
      &:before, &:after {
        background:rgba(0, 0, 0, 0.4);
        top:6px;
      }
    }
  }
  @-moz-document url-prefix() {
    .mega-dropdown-items2 {
      left:216px!important;
    }
  }
  @include breakpoint(small-desktop) {
    .flex-box-5 {
      .line-arrow-down {
        margin-right:0;
        bottom:-21px;
        right:4px;
      }
      .mobile-nghts-value {
        min-width:135px;
      }
    }
    input[type="text"] {
      max-width:80%;
    }
    .mobile-option-reset {
      top:32px;
    }
    .input-guests-box {
      .mobile-nghts-value {
        min-width:147px;
      }
    }
    .flex-box-1, .flex-box-2, .flex-box-5 {
      display:flex;
    }
    .mobile-date-picker {
      min-width:70px;
    }
    .flexible-date {
      margin-left:8px;
      white-space:nowrap;
    }
    .flex-box-4 {
      min-width:128px;
      .line-arrow-down {
        right:-5px;
      }
    }
    .flex-box-3 {
      padding-right:0;
      min-width:200px;
      .line-arrow-down {
        right:-5px;
        bottom:3px;
      }
    }
    .flex-box-1, .flex-box-2, .flex-box-5 {
      img {
        top:9px;
      }
    }
    .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5 {
      padding:14px 10px;
    }
    .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5, .flex-box-6 {
      &.active {
        .active-arrow {
          top:68px;
          left:37px;
        }
      }
    }
    .input-icon {
      margin:0 10px 0 0;
    }
    .mobile-input-button {
      font-size:16px;
      line-height:15px;
      max-width:80px;
      min-width:80px;
      #mobile-btn-search {
        padding:7px 5px 7px 5px;
      }
      .label-1 {
        display:none;
      }
      .label-2 {
        display:block;
      }
    }
  }
  @include breakpoint(portrait-tablet) {
    .mobile-input-button {
      max-width:44px;
      min-width:44px;
      .label-2 {
        display:none;
      }
      img {
        top:6px;
        left:7px;
      }
      .icon-search {
        display:block;
      }
      #mobile-btn-search {
        height:44px;
      }
    }
    .mobile-date-picker {
      min-width:78px;
    }
    .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5 {
      padding:7px 10px;
    }
    .flexible-date {
      display:block;
      margin-left:0;
    }
    .flex-box-3 {
      min-width:120px;
    }
    .flex-box-4 {
      min-width:120px;
       .line-arrow-down {
         right:5px;
       }
    }
    .flex-box-4, .flex-box-5, .flex-box-2, .flex-box-1 {
        padding-top:15px;
    }
    .line-arrow-down {
      border-width:2px;
    }
    .flex-box-5 {
      min-width:165px;
      .mobile-nghts-value {
        max-width:94px;
        @include truncate();
        min-width:inherit;
      }
      .line-arrow-down {
        right:-9px;
        bottom:-19px;
      }
    }
    .mobile-nghts-value, input[type="text"] {
      padding:3px 0 0;
    }
    .mobile-input-button {
      margin-right:6px;
    }
    .mobile-option-reset {
      top:31px;
      right:3px;
    }
  }
  @include breakpoint(mobile) {
    &.collapse-search {
      .input-depart-box, .mobile-input-button {
        display:none;
      }
      .flight-icon {
        display:block;
      }
      .mobile-search-fields {
        min-height:128px;
      }
      .double-boxes {
        float:left;
        max-width:50%;
        &:before {
          content:'';
          display:block;
          position:absolute;
          right:-20px;
          top:11px;
          bottom:0;
          background-color:rgba($b-lynch, 0.2);
          width:1px;
          z-index:2;
          height:42px;
        }
        &:after {
          opacity:0;
        }
        .flex-box-4 {
          display:none;
        }
      }
      .flexible-date {
        display:none;
      }
      .input-guests-box {
        float:left;
        margin:0 0 0 10px;
        min-width:inherit;
      }
      .input-departing-box {
        &:before {
          opacity:0;
        }
      }
      .input-icon {
        margin-right:15px;
      }
      .input-destingtion-box {
        &:before {
          background: -moz-linear-gradient(top, rgba(232,230,255,0.5) -16%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(232,230,255,0.5) -16%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(232,230,255,0.5) -16%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e6ff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
          width:100%;
          height:20px;
          top:auto;
          bottom:-20px;
        }
      }
    }
    .input-guests-box {
      .input-icon {
        margin-right:14px;
      }
    }
    .mobile-search-validation {
      bottom:-32px;
    }
    .mobile-search-noresult {
      top:-15px;
      padding:8px 27px 6px 27px;
      margin:0 -25px;
      background:#efefef;
    }
    .flying-from-to {
      width:100%;
    }
    .mobile-input-label {
      &.show-on-mobile {
        display:block;
      }
      &.show-on-desktop {
        display:none;
      }
    }
    .flight-icon {
      display:none;
      top:20px;
      right:20px;
      opacity:0.1;
    }
    .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5, .flex-box-6, .double-boxes .flex-box-4, .double-boxes .flex-box-3 {
      margin:0;
      padding:14px 0 14px 20px;
      background-color:transparent;
    }
    .mobile-nghts-value, input[type="text"] {
      padding:5px 0 0;
      font-size:15px;
    }
    .input-depart-box, .input-destingtion-box {
      .mobile-nghts-value {
        &.active {
          opacity:1;
        }
      }
    }
    .input-depart-box {
      background: -moz-linear-gradient(top, rgba(232,230,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(232,230,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(232,230,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e6ff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
      &:before {
          width:100%;
          background-color:#6f859f;
          opacity:0.2;
          height:1px;
      }
    }
    .flex-box-6 {
      max-width:100%;
    }
    .line-arrow-down {
      display:none;
    }
    .flex-box-5 {
      max-width:100%;
      .mobile-nghts-value {
        max-width:100%;
      }
    }
    .flexible-date {
      margin-left:10px;
      display:inline-block;
    }
    .input-departing-box {
      &:before {
        right:-13px;
        background-color:rgba(88, 89, 91, 0.1);
      }
    }
    form {
      width:100%;
      > .inblock {
        width:100%;
      }
    }
    .mobile-option-reset {
      width:44px;
      height:44px;
      top:12px;
      right:7px;
      @include border-radius(0);
      .close--icon {
        top:13px;
        right:13px;
        width:16px;
        height:16px;
        &:before, &:after {
          height:2px;
          background:#2d3c4d;
        }
      }
    }
    .double-boxes {
      .flex-box-3 {
        flex:2;
      }
      .flex-box-4 {
        padding-left:22px;
        min-width:140px;
        .input-icon {
          margin-right:16px;
        }
      }
      &:before, &:after {
        width:100%;
        height:1px;
        background:rgba($b-lynch, 0.2);
        opacity:0.6;
      }
      &:after {
        content:'';
        position:absolute;
        bottom:0;
        left:0;
      }
    }
    .input-icon {
      margin:0 18px 0 0;
    }
    .mobile-search-fields {
      @include border-radius(7px);
    }
    .mobile-input-button {
      @include border-radius(0px);
      padding:11px 0 14px 0;
      border-top:solid 1px rgba($b-lynch, 0.1);
      #mobile-btn-search {
        @include border-radius(5px);
        display:inline-block;
        padding:12px 40px;
        height:inherit;
      }
      .icon-search {
        display:none;
      }
      .label-2 {
        display:block;
      }
    }
  }
  @media(max-width:374px) {
    .flexible-date {
      display:block;
      margin-left:0;
    }
    &.collapse-search {
      .input-guests-box  {
        margin:0 0 0 20px;
        .input-icon {
          margin-right:10px!important;
        }
      }
      .flex-box-5 {
        max-width:50%;
        overflow-x:hidden;
        .mobile-nghts-value {
          max-width:80%;
        }
      }
      .input-icon {
        margin:0 10px 0 0;
      }
      .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5, .flex-box-6, .double-boxes .flex-box-4, .double-boxes .flex-box-3 {
        padding:14px 0 14px 13px;
      }
      .double-boxes {
        &:before {
          right:-15px;
        }
      }
    }
    .double-boxes {
      .flex-box-4 {
        top:8px;
      }
    }
  }
}



@keyframes fadeInArrow {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
