.guests {
  width:695px;
  padding:13px 24px 17px 24px;
  hr {
    margin:6px -24px 26px -24px;
    border-width:1px;
  }
  .gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f7fb+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ffffff 0%, #f5f7fb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ffffff 0%,#f5f7fb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ffffff 0%,#f5f7fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f7fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:134px;
    width:246px;
    right:0;
    top:53px;
  }
  .dropdown-list {
    background-color:$bgnd-white;
    top:28px;
    left:0;
    display:none;
    overflow-x:auto;
    width:80px;
    @include box-shadow(-2px 4px 10px rgba(0,0,0,0.1));
    span {
      padding:8px 15px;
      &:hover {
        background-color:#f7f9fc;
      }
    }
    &.active {
      display:block;
    }
  }
  .dd-title {
    font-size:15px;
  }
  .title {
    padding:7px 0 6px 0;
    h4 {
      font-size:18px;
    }
  }
  .done-button {
    padding:10px 25px;
    font-size:16px;
    margin:65px 9px 0 0;
    @include border-radius(3px);
  }
  .dropdown-inner {
    &:first-child {
      margin-right:56px;
    }
  }
  .dd-default {
    border-bottom:solid #e6eaee 1px;
    overflow:hidden;
    padding:12px 0 6px 0;
    font-size:15px;
    width:80px;
  }
  .txt-years {
    opacity:0.5;
    font-size:13px;
    padding-left:8px;
  }
  .description {
    padding-right:25px;
  }
  .icon {
    img {
      opacity:0.5;
    }
  }
  h6 {
    font-size:14px;
    padding-bottom:10px;
  }
  .caret {
    border-width:4px;
    &.down {
      border-top-color:$b-lynch;
      top:5px;
      right:8px;
    }
  }
}
@include breakpoint(portrait-tablet) {
  .guests-outer {
    .inner {
      float:none;
    }
  }
  .guests {
    width:inherit;
  }
}
@include breakpoint(mobile) {
  .guests-outer {
    position:fixed;
    top:42px;
    right:0;
    bottom:0;
    left:0;
    .mobile-sticky-dd-header {
      .txt-small {
        position:relative;
        top:-2px;
        left:14px;
      }
    }
    .inner {
      overflow-x:auto;
      padding-bottom:200px;
    }
  }
  .guests {
    width:100%;
    height:100vh;
    //overflow-x:auto;
    padding:78px 20px 0 20px;
    .col-6 {
      width:100%;
      float:none;
      text-align:left;
      .icon {
        float:right;
        margin-top:7px;
      }
      .txt-left {
        width:100%;
      }
    }
    .mobile-guests {
      margin:50px 0 0 0;
      display:block;
      .count-wrapper {
        margin:0 30px;
        .count {
          font-size:32px;
          padding-bottom:3px;
        }
        span {
          font-size:15px;
        }
      }
      .adults-wrapper {
        border-bottom:dashed 1px rgba($txt-dis, 0.2);
        margin-bottom:30px;
        padding-bottom:30px;
      }
      .minus-button, .plus-button {
        width:50px;
        height:50px;
        top:-20px;
      }
      .minus-button {
        span {
          width:16px;
          height:2px;
          background-color:$bgnd-black;
          top:16px;
        }
      }
      .plus-button {
        span, span:before {
          width:16px;
          height:2px;
          background-color:$bgnd-black;
          top:24px;
          left:16px;
          display:block;
          content:'';
        }
        span:before {
          @include rotate(90deg);
        }

      }
      p {
        border-top:solid 1px rgba($txt-dis, 0.2);
        padding-top:25px;
        margin:25px 23px 0 23px;
      }
    }
    /*.mobile-description {
      position:absolute;
      top:10px;
      right:0;
      left:0;
      text-align:left;
      padding:0;
      > div {
        display:block;
      }
      .icon {
        position:absolute;
        top:0;
        right:0;
        width:40px;
        img {
          width:100%;
        }
      }
      .description {
        width:100%;
        br {
          display:none;
        }
      }
    }*/
    .gradient {
      width:100%;
      height:103px;
    }
    .mobile-dropdown {
      padding-top:98px;
    }
    .children-wrapper {
      display:block;
    }
  }
}
@include breakpoint(small-mobile) {
  .guests-outer {
     .inner {
       padding-bottom:300px;
     }
  }
}
