.hotels-outer {
  margin:6px 0 0 60px;
  flex:1;
}
.loader {
  top:270px;
  right:0;
  left:0;
  .gif-icon {
    width:70px;
    height:70px;
  }
}
.hotels {
  .hotel, .facilities, .hotel-info, .price-and-board-basis {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    flex-wrap:wrap;
  }
  .show-button-outer {
    margin-top:12px;
  }
  .hotel {
    flex-wrap:wrap;
    cursor:pointer;
    &:last-child {
      hr {
        display:none;
      }
    }
    .owl-theme .owl-pagination {
      bottom:19px;
    }
    .owl-theme .owl-buttons div {
      top:162px;
    }
    .dstn-star-ratings {
      letter-spacing:4px;
      i {
        color:$txt-yellow;
      }
    }
  }
  .reviews-title {
    padding-left:6px;
  }
  .hotel-info {
    padding-left:28px;
    flex-wrap:wrap;
    flex:1;
    h3 {
      font-size:24px;
      padding:5px 0 2px 0;
      //cursor:pointer;
      &:hover {
        text-decoration:underline;
      }
    }
    .dstn-icon {
      width:12px;
      height:12px;
      margin-right:5px;
      opacity:0.5;
      top:-1px;
    }
    .dstn-buttons {
      align-items:flex-end;
      max-width:320px;
      a, button {
        max-width:inherit;
        font-size:14px;
      }
    }
    .tripadvisor-ratings {
      margin:10px 0 20px 0;
      .owl-eyes {
        top:0;
      }
    }
    .facilities {
      align-self:end;
      padding-top:12px;
      width:100%;
    }
    .quote-wrapper {
      font-size:12px;
      font-weight:600;
    }
    .price-and-board-basis {
      justify-content:space-between;
      align-self:baseline;
    }
    .data-wrapper {
      max-width:90%;
    }
    .nights-wrapper {
      font-size:13px;
      align-self:center;
      line-height:19px;
    }
    .price-outer {
      border-left:solid 1px #eaebed;
      align-self:end;
      padding-left:20px;
    }
    .nights-wrapper, .price-outer, .facility-name {
      min-width:50%;
      max-width:50%;
    }
    .facility-name {
      font-size:13px;
      margin:3px 0;
      span {
        @include truncate();
        max-width:100px;
      }
      .icon-box {
        width:16px;
        height:16px;
        margin-right:12px;
      }
    }
    .tth-price {
      font-size:28px;
      margin:-4px 0 0 0;
    }
    .tth-pp {
      font-size:20px;
      font-weight:bold;
      left:0;
    }
    .tth-asterisk {
      top:5px;
      right:-7px;
      font-size:17px;
    }
    .txt-inc {
      font-size:11px;
    }
  }
  .image-rotator {
    //width:59%;
    width:488px;
    background-color:$bgnd-no-image;
    //max-width:59%;
    .icon-favorite {
      width:32px;
      height:32px;
      top:18px;
      right:20px;
      z-index:2;
      @include border-radius(100px);
      background-color:rgba($bgnd-black, 0.2);
      img {
        width:20px;
        height:auto;
        position:relative;
        top:7px;
        left:6px;
      }
      &:hover {
        //opacity:0.5;
        background-color:rgba($bgnd-black, 0.5);
      }
    }
    .owl-carousel .owl-item {
      height:355px;
    }
  }
  .image-rotator, .image-rotator .owl-carousel .owl-item {
    height:355px;
  }
}

@include breakpoint(small-desktop) {
  .hotels-outer {
    margin:6px 0 0 22px;
    max-width:76%;
  }
  .hotels {
    .image-rotator {
      width:51%;
    }
    .image-rotator, .image-rotator .owl-carousel .owl-item {
      height:270px;
    }
    .hotel {
      .owl-theme .owl-buttons div {
        top:114px;
      }
    }
    .hotel-info {
      .tripadvisor-ratings {
        margin:10px 0 23px 0;
      }
      .facility-name {
        span {
          max-width:80px;
        }
      }
    }
    .facilities {
      padding-bottom:22px;
    }
  }
}

@include breakpoint(portrait-tablet) {
  .hotels-outer {
    margin:0;
    max-width:100%;
  }
}

@include breakpoint(mobile) {
  .hotels-outer {
    margin:6px 0 0 0;
  }
  .hotels {
    .hotel {
      margin-bottom:15px;
      hr {
        display:none;
      }
      .owl-theme .owl-buttons div {
        top:101px;
      }
    }
    .facilities-mobile {
      display:block;
      padding-top:7px;
      font-size:12px;
      max-width:90%;
    }
    .image-rotator {
      width:100%;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      overflow:hidden;
    }
    .image-rotator, .image-rotator .owl-carousel .owl-item {
      height:242px;
    }
    .info-inner, .facilities, .price {
      width:100%;
    }
    .hotel-info {
      padding-left:0;
      background-color:$bgnd-white;
      padding:14px 18px 18px 18px;
      min-height:225px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      @include box-shadow(0 12px 20px -5px rgba(194, 209, 217, 0.35));
      overflow:hidden;
      max-width:100%;
      h3 {
        font-size:17px;
        padding:0 0 3px 0;
      }
      .facilities, .txt-inc {
        display:none;
      }
      .tth-price {
        font-size:20px;
      }
      .tth-asterisk {
        top:1px;
        right:-5px;
        font-size:13px;
      }
      .tth-pp {
        font-size:13px;
        left:3px;
      }
      .price-wrapper {
        margin-top:0;
      }
      .dstn-buttons {
        max-width:100%;
        /*.btn-outline {
          pointer-events:inherit;
        }*/
      }
      .tripadvisor-ratings {
        margin:10px 0 0 0;
      }
      .tth-from {
        font-size:12px;
        position:absolute;
        top:-18px;
        left:0;
      }
      .dstn-icon {
        top:0;
      }
      .dstn-name {
        font-size:12px;
        @include truncate();
        max-width:50%;
      }
      .reviews-title {
        top:0;
      }
      .dstn-star-ratings {
        padding-left:7px;
      }
      .icon-favorite {
        top:14px;
        right:18px;
        opacity:0.2;
        width:20px;
        &.shortlisted-offer {
          opacity:1;
        }
      }
      .hotel-badge-white {
        top:10px;
        right:10px;
        font-size:11px;
        @include border-radius(2px);
      }
      .facilities {
        font-size:12px;
        padding:5px 0 0 0;
      }
      i {
        font-size:14px;
        letter-spacing:3px;
      }
      .price-and-board-basis {
        border-top:solid 1px #eaebed;
        padding:25px 0 28px 0;
        margin-top:10px;
      }
      .price-outer {
        border:none;
        padding-left:0;
      }
      .quote-wrapper, .quote-label {
        display:block;
      }
      .quote-wrapper {
        padding-top:6px;
      }
      .price-outer, .nights-wrapper {
        min-width:inherit;
      }
      .nights-wrapper {
        margin-top:-3px;
      }
      .data-wrapper {
        max-width:100%;
      }
    }
  }
}
@media (max-width:380px) {
  .hotels {
    .hotel-info {
      h3 {
        @include truncate();
        max-width:80%;
      }
    }
  }
}
@media (max-width:360px) {
  .hotels {
    .hotel-info {
      padding:14px 10px 18px 10px;
      .price-and-board-basis {
        padding:22px 0 27px 0;
      }
    }
    .dstn-buttons {
      &.tel-number {
         .txt-number {
           font-size:16px;
         }
         .btn-fill {
           padding:13px 0;
         }
      }
    }
  }
}
