.how-long {
  padding:13px 24px 30px 24px;
  width:694px;
  hr {
    margin:21px 0 6px 0;
    border-width:1px;
  }
  .select-nights {
    span {
      @include animation-transition(all 0.1s ease-in-out);
    }
    &:hover {
      span {
        color:$txt-cornflower-blue;
      }
    }
  }
  .border {
    margin:6px -24px 16px -24px;
  }
  .title {
    padding:10px 0 6px 0;
    h4 {
      font-size:18px;
    }
  }
  .other-options {
    .title {
      padding-bottom:0;
    }
  }
  .tick-mark {
    width:12px;
    height:4px;
    border-bottom:solid 1px;
    border-left:solid 1px;
    @include rotate(0deg);
    @include animation-transition(all 0.2s ease-in-out);
    opacity:0;
    top:-3px;
    left:8px;
    &.active {
      opacity:1;
      @include rotate(-45deg);
    }
  }
  .outline-button {
    padding:11px 12px;
    font-size:13px;
    @include border-radius(5px);
    &.active {
      background-color:$bgnd-cornflower-blue;
      color:$txt-white;
      border-color:$b-blue;
      pointer-events:none;
    }
  }
  .row {
    padding:0 10px;
  }
  .nights {
    padding-top:14px;
    font-size:14px;
  }
  .col-4 {
    padding:0 6px;
  }
}
@include breakpoint(portrait-tablet) {
  .how-long-outer {
    .inner {
      float:none;
    }
  }
  .how-long {
    width:inherit;
  }
}
@include breakpoint(mobile) {
  .how-long-outer {
    position:fixed;
    top:42px;
    right:0;
    bottom:0;
    left:0;
  }
  .how-long {
    width:100%;
    height:100vh;
    overflow-x:auto;
    padding:13px 20px 130px 20px;
    .other-options {
      .row {
        padding:0 0 50px 0;
        margin:0;
      }
      .title {
        h4 {
          font-size:20px;
        }
        padding:10px 0 13px 0;
      }
    }
    .tick-mark {
      width:17px;
      height:6px;
      top:-5px;
      left:18px;
      border-width:2px;
    }
    .select-nights {
      &.active {
        &:before {
          content:'';
          position:absolute;
          top:0;
          right:-20px;
          left:-20px;
          background-color:#f2f2f2;
          height:40px;
        }
      }
    }
    .nights-wrapper {
      .col-4 {
        width:100%;
        padding:10px 0;
        font-size:17px;
      }
      .nights {
        padding:0;
      }
    }
    hr {
      display:none;
    }
    .buttons-wrapper {
      padding:30px 0 28px 0;
      margin:0;
      .col-4 {
        padding:0 3px;
      }
    }
    .outline-button {
      padding:11px 0;
    }
  }
}
