.light-box {
  z-index:113;
  .light-box-title, .large-images {
    max-width:980px;
    margin:0 auto;
    z-index:113;
  }
  .close-button {
    right:0;
    top:0;
  }
  a {
    top:44%;
    width:40px;
    height:40px;
    @include border-radius(100px);
    z-index:2;
  }
  .prev {
    left:-21px;
  }
  .next {
    right:-21px;
  }
  .close--icon {
    z-index:113;
    width:26px;
    height:26px;
    top:9px;
    right:0;
    &:before, &:after {
      background-color:$bgnd-white;
    }
  }
  .light-box-title {
    font-size:28px;
    color:$txt-white;
    margin:100px auto 30px auto;
  }
  .large-images {
    min-height:500px;
    background-color:$bgnd-no-image;
  }

  .slider {
    width:100%;
    height:500px;
  }
  .wrapper {
    overflow:hidden;
    z-index: 1;
  }
  #fod-img-items {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    justify-content:space-between;
    left:0;
  }
  #fod-img-items.shifting {
    transition: left .2s ease-out;
  }
  .fod-img-slide {
    width:980px;
    min-width:980px;
    height:500px;
    transition: all 1s;
    flex-grow:1;
  }
  [class*=line-arrow-] {
    top:11px;
  }
  .line-arrow-right {
    left:13px;
  }
  .line-arrow-left {
    left:16px;
  }
  @include breakpoint(mobile) {
    &.fod-image-scroller {
      //display:flex;
      align-items:center;
    }
    .slider, .large-images, .fod-img-slide {
      min-height:300px;
      height:300px;
    }
    .fod-img-slide {
      width:500px;
      min-width:500px;
    }
    .prev {
      left:20px;
    }
    .next {
      right:20px;
    }
    .large-images {
      width:90%;
      margin-top:100px;
    }
    .light-box-title {
      font-size:16px;
      margin:0;
      position:absolute;
      top:30px;
      left:0;
      right:0;
    }
    .close-button {
      right:20px;
      top:-10px;
      width:40px;
      height:40px;
    .close--icon {
      width:18px;
      height:18px;
      top:10px;
      right:11px;
    }
    }
  }
}
