.filters {
  width:220px;
  .specific-hotel{
    input{
    width: 100%;
    border:1px solid #b7b7b7;
    height: 34px;
    padding: 0 10px;
    }
  }
  .hotel-list {
    background:$bgnd-white;
    margin-top:-1px;
    padding:16px 22px;
    width:100%;
    font-size:14px;
    @include box-shadow(0 12px 30px 0 $box-shadow-color);
    border:solid 1px $grid-border;
    max-height:400px;
    overflow-y:auto;
    line-height:20px;
    //@include border-radius(5px);
    li {
      margin:8px 0;
      cursor:pointer;
      &:hover {
        color:$txt-java;
      }
    }
  }
  span, a {
    display:inline-block;
    vertical-align:middle;
    font-size:13px;
  }
  a {
    color:$txt-cornflower-blue;
  }
  .begin-filters {
    padding-left:3px;
  }
  .check-sub-label {
    opacity:0.5;
  }
  .margin-left {
    margin-left:17px;
  }
  .filters-header {
    border-bottom:dashed 1px $grid-border;
    padding:0 0 13px 0;
  }
  .show-all {
    padding:12px 0 6px 0;
  }
  .clear-all {
    padding-left:31px;
  }
  .link-button {
    color:$txt-cornflower-blue;
  }
  .price-range-info {
    font-size:11px;
    @include opacity();
    padding-top:3px;
  }
  .margin-bottom {
    margin-bottom:16px;
  }
  .view-in-map {
    width:219px;
    height:80px;
    overflow:hidden;
    @include border-radius(2px);
    a {
      width:100px;
      height:27px;
      margin:auto;
      padding-top:6px;
    }
  }
  .block-header {
    font-size:14px;
    border-top:dashed 1px $grid-border;
    display:block;
    padding:13px 0 13px 0;
    [class*="line-arrow"] {
      right:0;
      top:18px;
      border-width:1px;
      width:6px;
      height:6px;
    }
  }
  .check-box {
    @include check-box-2();
  }
  .checked {
    @include check-box-2-active();
    border-color:$b-green;
  }
  .check-label {
    padding-left:12px;
  }
  .check-box-wrapper {
    margin:10px 0;
    &:hover {
      .check-box {
        border-color:$b-green;
      }
      .close-icon-box {
        background-color:rgba(88, 89, 91, 0.5);
      }
    }
  }
  .radio-button {
    @include radio-button();
    margin-left:-3px;
  }
  .close-icon-box {
    @include close-icon-box();
  }
  .radio-first {
    margin-left:10px;
  }
  .user-filtered {
    background-color:rgb(248, 248, 248);
    margin:0 -9px 16px -14px;
    padding:7px 0 16px 18px;
  }
  .options-section, .hotel-star-ratings, .resort, .beach-access, .trip-advisor-rating, .view-in-map, .filters-header{
    @extend .margin-bottom;
  }
  .mobile-widget-close {
    padding-bottom:35px;
    span {
      position:relative;
      top:0;
      left:0;
    }
  }
  @include breakpoint(small-desktop) {
    width:220px;
  }
  @include breakpoint(portrait-tablet) {
      position:fixed;
      right:0;
      bottom:0;
      left:0;
      width:100%;
      z-index:113;
      animation:filtersTablet 0.3s  ease-in-out;
      animation-fill-mode:forwards;
      margin:auto;
      height:0px;
      overflow-x:auto;
    &.open {
      display:block;
    }
    .begin-filters {
      float:none;
      width:99%;
      padding-left:0;
    }
    .filters-wrapper {
      animation:filtersWrapper 0.3s  ease-in-out;
      animation-fill-mode:forwards;
      animation-delay: 0.3s;
      opacity:0;
      padding-bottom:100px;
      height:100%;
      overflow-x:scroll;
    }
    .user-filtered {
      float:left;
      width:25%;
    }
    .options-section, .hotel-star-ratings, .trip-advisor-rating, .price-range-info, .beach-access, .resort {
      display:none;
    }
    .mobile-widget-cancel {
      top:0;
      right:-115px;
      z-index:2;
      button {
        padding: 17px 35px;
        display: block;
        border-bottom-left-radius:20px;
        font-size:15px;
        &:hover {
          background-color:$bgnd-cornflower-blue;
        }
      }
      -webkit-animation:mobileWidgetCancel 0.5s ease-in-out;
      -webkit-animation-delay:0.5s;
      -webkit-animation-fill-mode:forwards;

      animation:mobileWidgetCancel 0.5s ease-in-out;
      animation-delay:0.5s;
      animation-fill-mode:forwards;
    }
    display:none;
    span, a{
      font-size:15px;
    }
    .user-filtered {
      float:none;
      width:100%;
      margin-left:0;
      padding-left:11px;
    }
    .filters-icon {
      display:none;
    }
    .filters-header {
      .font-bold {
        padding-left:0;
      }
    }
    .block-header {
      padding-left:12px;
    }
    .options-section, .hotel-star-ratings, .resort, .beach-access, .trip-advisor-rating, .view-in-map, .your-budget{
      margin-left:11px;
    }
  }
  @include breakpoint(mobile) {
    animation:filtersMobile 0.3s  ease-in-out;
    animation-fill-mode:forwards;
    margin:auto;
    padding:0;
    height:0px;
    top:86px;
    .mobile-widget-cancel {
      display:none;
    }
    .user-filtered {
      padding-left:26px;
      margin:0 -9px -16px 0;
    }
    .check-label {
      padding-left:18px;
    }
    .begin-filters {
      padding:15px 20px 160px 20px;
      .check-label {
        padding-left:15px;
      }
    }
    .options-section, .hotel-star-ratings, .resort, .beach-access, .trip-advisor-rating, .view-in-map, .your-budget {
      margin-left:4px;
    }
    .filters-header {
      padding:17px 20px 13px 20px;
      margin:0;
      border-bottom:solid 1px #cbd0d4;
    }
    .check-box-wrapper {
      margin:15px 0;
    }
    .clear-all {
      padding-left:35px;
    }
    .block-header {
      padding-left:2px;
      [class*="line-arrow"] {
        width:10px;
        height:10px;
        top:14px;
      }
    }
    .price-range {
      span {
        @include animation-transition(initial);
      }
    }
    .filters-wrapper {
      height:auto;
    }
  }
}
.mobile-widget-sticky-btn {
  padding:15px 20px;
  top:auto;
  bottom:-80px;
  z-index:122;
  animation:mobileWidgetStickyBtn 0.5s ease-in-out;
  animation-delay:0.4s;
  animation-fill-mode:forwards;
  button {
    font-size:17px;
    padding:15px 30px;
    @include box-shadow(0 15px 20px -10px rgba(240, 117, 65, 0.49));
    @include border-radius(5px);
  }
}

/* Filter icon and Label */
.icon-set {
  .filter-title {
    font-size:20px;
    padding-left:11px;
  }
}
.filters-icon {
  @include filters-icon();
  span {
    display:block;
  }
}

@-webkit-keyframes filtersTablet {
  0% {
    height:0px;
    bottom:50px;
    padding:0;
  }
  100% {
    height:100%;
    bottom:0;
    padding:75px 50px 100px 50px;
    overflow-x:auto;
  }
}
@-webkit-keyframes filtersTablet {
  0% {
    height:0px;
    bottom:50px;
    padding:0;
  }
  100% {
    height:100%;
    bottom:0;
    padding:75px 50px 100px 50px;
    overflow-x:auto;
  }
}
@-webkit-keyframes filtersMobile {
  0% {
    height:0px;
    bottom:50px;
    padding:0;
  }
  100% {
    height:100%;
    bottom:0;
    padding:15px 20px 100px 20px;
    overflow-x:auto;
  }
}
@-webkit-keyframes filtersMobile {
  0% {
    height:0px;
    bottom:50px;
    padding:0;
  }
  100% {
    height:100%;
    bottom:0;
    //padding:15px 20px 100px 20px;
    padding:0;
    overflow-x:auto;
  }
}
@-webkit-keyframes mobileWidgetCancel {
  0% {
    right:-115px;
  }
  100% {
    right:0;
  }
}
@-webkit-keyframes mobileWidgetStickyBtn {
  0% {
    bottom:-80px;
  }
  100% {
    bottom:0;
  }
}
@-webkit-keyframes mobileWidgetStickyBtn {
  0% {
    bottom:-80px;
  }
  100% {
    bottom:0;
  }
}
@-webkit-keyframes filtersWrapper {
  0% {
    top:25px;
    opacity:0;
    //height:0px;
  }
  100% {
    top:0;
    opacity:1;
    //height:auto;
  }
}
@-webkit-keyframes filtersWrapper {
  0% {
    top:25px;
    opacity:0;
    //height:0px;
  }
  100% {
    top:0;
    opacity:1;
    //height:auto;
  }
}
