.rich-banner {
  background-image:url("#{$images}/drupal/images/Long-Haul/v3/long-haul-banner-1440.jpg");
  background-size:cover;
  background-position:top center;
  @include breakpoint(large-desktop) {
    background-image:url("#{$images}/drupal/images/Long-Haul/v3/long-haul-banner-1970.jpg");
  }
  @include breakpoint(landscape-tablet) {
    background-image:url("#{$images}/drupal/images/Long-Haul/v2/long-haul-banner-1024.jpg");
  }
  @include breakpoint(portrait-tablet) {
    background-image:url("#{$images}/drupal/images/Long-Haul/v2/long-haul-banner-768.jpg");
  }
  @include breakpoint(mobile) {
    background-image:url("#{$images}/drupal/images/Long-Haul/v3/long-haul-banner-mobile.jpg");
  }
  @include breakpoint(mobile) {
    background-position:center center;
  }
}
