.devider {
  hr {
    border-width:1px;
    border-color:#6f859f;
    opacity:0.2;
  }
}
.bgnd-trendy-pink {
  background-color:$bgnd-trendy-pink;
}
.bgnd-section-light {
  background-color:rgba(242, 242, 242, 0.7);
}
.inline {
  display:inline;
}
.dstn-star-ratings {
  padding-left:7px;
  .dstn-star {
    //color:$txt-selective-yellow;
    letter-spacing:-1px;
    font-size:15px;
  }
}
.dstn-tags {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding:4px 10px;
  top:-24px;
  left:0;
  font-size:$fontSize-13;
  line-height:normal;
  text-transform:capitalize;
  font-family:$font-semibold;
  max-width:115px;
  @include truncate();
}
.dstn-name {
  font-size:$fontSize-13;
  text-transform:capitalize;
  max-width:80%;
  @include truncate();
}
.dstn-icon {
  width:12px;
  height:12px;
  margin-right:2px;
  opacity:0.5;
  top:-2px;
}
.board-basis {
  overflow:hidden;
  line-height:17px;
  padding:5px 0 15px 0;
  font-size:13px;
  .bb-type {
    font-size:14px;
  }
}
.long-haul-hotels {
  .tag-name.bgnd-yellow {
    top:-24px;
  }
  .section-header {
    .titles {
      max-width:100%;
    }
  }
  .dstn-buttons {
    .btn-outline {
      display:none;
    }
    a, button {
      max-width:100%;
    }
  }
  .dstn-tags {
    left:18px;
  }
  .show-all-button {
    padding-top:24px;
  }
  .icon-favorite {
    top:14px;
    right:18px;
    opacity:0.2;
    width:20px;
    &:hover {
      opacity:0.7;
    }
  }
  .destination {
    margin-bottom:30px;
    &:hover {
      .inner {
        box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
        -moz-box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
        -webkit-box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
      }
    }
  }
  .price-wrapper {
    .tth-price {
      font-size:$fontSize-18;
    }
    .tth-pp {
      font-size:$fontSize-13;
    }
  }
  .image-wrapper {
    height:262px;
    overflow:hidden;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color:$bgnd-no-image;
  }
  .owl-carousel {
    .owl-wrapper-outer {
      height:100%;
      .owl-wrapper, .owl-item {
        height:100%;
      }
    }
  }
  .info-wrapper {
    line-height:20px;
    h4 {
      font-size:$fontSize-17;
    }
    .inner {
      padding:14px 18px 18px 18px;
      min-height:237px;
      @include border-radius(3px);
      -webkit-border-top-left-radius:0;
      -moz-border-top-left-radius:0;
      border-top-left-radius:0;
      @include box-shadow(0 12px 20px -5px rgba(194, 209, 217, 0.35));
    }
    hr {
      border-width:1px;
      margin:5% 0 3% 0;
    }
  }
  @include breakpoint(small-desktop) {
    .show-all-button {
      &.type-link {
        span {
          display:block;
          margin:14px auto auto auto;
          @include rotate(135deg);
        }
      }
    }
  }
}
@media(min-width:992px) {
  .info-wrapper {
    &.multi-line-text {
      line-height:19px;
       hr {
         margin:9px 0 5px 0;
       }
       h4 {
         line-height:normal;
         padding-bottom:1px;
         width:90%;
       }
       .board-basis {
         padding:5px 0 10px 0;
       }
       .tripadvisor-ratings {
         margin-top:2px;
       }
    }
  }
}

@media(max-width:769px) {
  .info-wrapper {
    &.multi-line-text {
      line-height:19px;
       hr {
         margin:9px 0 5px 0;
       }
       h4 {
         line-height:normal;
         padding-bottom:1px;
         width:90%;
       }
       .board-basis {
         padding:5px 0 10px 0;
       }
       .tripadvisor-ratings {
         margin-top:2px;
       }
    }
  }
}

@include breakpoint(small-desktop) {
  .long-haul-hotels {
    .col-3 {
      padding-left:10px;
      padding-right:10px;
    }
  }
}
@include breakpoint(portrait-tablet) {
  .long-haul-hotels {
    .col-3 {
      width:50%;
    }
    .content-middle {
      padding:0 35px 0 35px;
    }
  }
}
@include breakpoint(mobile) {
  .long-haul-hotels {
    .col-3 {
      width:100%;
      float:none;
      padding:0;
      margin-bottom:20px;
    }
    .row {
      margin:0;
    }
    .content-middle {
      padding:0 20px 0 20px;
    }
    .show-all-button {
      padding-top:14px;
      &.type-link {
        span {
          display:none;
        }
      }
    }
    .dstn-name {
      max-width:90%;
    }
  }
  .devider {
    hr {
      border-width:8px;
      border-color:$bgnd-white;
      opacity:1;
    }
  }
}

@media (max-width:350px) {
  .dstn-tags {
    max-width:80px;
  }
}
