.megamenu {
  top:64px;
  z-index:8;
  @include animation-transition(all 0.1s ease-in-out);
  .inner {
    max-width:1130px;
    //min-height:509px;
    @include border-radius(5px);
    padding:18px 32px;
    @include box-shadow(0 14px 47px 0 rgba($bgnd-black, 0.2));
  }
  .col-3, .col-4, .col-6, .col-12 {
    padding-left:10px;
    padding-right:10px;
  }
  .row {
    margin-left:-10px;
    margin-right:-10px;
  }
  &.holidays-wrapper {
    .image-wrapper {
      overflow:hidden;
      img {
        @include animation-transition(all 0.1s ease-in-out);
      }
      &:hover {
        img {
          @include transform(1.1);
        }
      }
      margin:0 0 20px 0;
      .label {
        left:0;
        bottom:0;
        padding:5px 8px;
        color:$txt-white;
        font-size:14px;
      }
    }
    .section-title {
      a {
        margin:0 0 0 13px;
        display:inline-block;
        color:$txt-cornflower-blue;
        font-size:14px;
      }
      .link-blue {
        &:hover {
          span {
            color:$txt-lynch;
            border-color:$txt-lynch;
          }
          .line-arrow-right {
            left:3px;
          }
        }
      }
      .line-arrow-right {
        border-color:$txt-cornflower-blue;
        width:8px;
        height:8px;
        top:-1px;
        left:0;
      }
    }
    .dstn-name {
      font-size:16px;
      max-width:70px;
    }
    i {
      color:#cecfcf;
      font-size:12px;
      margin:0 5px 0 2px;
      top:3px;
    }
    .set-1 {
      min-width:120px;
    }
    .set-2 {
      font-size:13px;
    }
    .blog-item {
      border:1px solid rgba(88, 89, 91, 0.14);
      @include box-shadow(0 0 2px 0 rgba($bgnd-black, 0.1));
      padding:12px 12px 20px 12px;
      margin-top:12px;
      color:$txt-lynch;
      &:hover {
        color:$txt-lynch;
        @include box-shadow(0 3px 10px 0 rgba($bgnd-black, 0.2));
        img {
          @include transform(1.2);
        }
      }
      .image-wrapper {
        left:0;
        top:0;
        width:60px;
        height:60px;
        margin:0;
      }
      .blog-description {
        margin-left:72px;
        height:60px;
        line-height:15px;
        overflow:hidden;
        font-weight:300;
      }
      .blog-content {
        margin-top:10px;
      }
      .blog-header {
        line-height:18px;
        font-size:14px;
        min-height:36px;
      }
    }
    .blogs-title {
      .section-title {
        .line-arrow-right {
          top:1px;
        }
      }
    }
    .tth-price {
      font-family:$font-semibold;
      font-size:14px;
      font-weight:600;
    }
    .tth-pp {
      top:3px;
      font-size:10px;
    }
    hr {
      margin:4px 0 10px 0;
    }
  }
  .holiday-name {
    font-size:18px;
  }
  &.destinations-wrapper, &.holidays-wrapper {
    a {
      display:block;
      color:#8d8d8f;
      font-size:16px;
      margin:13px 0;
      font-weight:300;
      &:hover {
        color:$txt-cornflower-blue;
        opacity:1;
        span, i {
          color:$txt-cornflower-blue;
        }
      }
    }
  }
  &.destinations-wrapper {
    .menu-items {
      a {
        @include truncate();
        max-width:130px;
      }
    }
    &.latest {
      .inner {
        max-width:1000px;
      }
      .menu-header {
        margin-bottom:28px;
      }
      .region-title {
        font-size:15px;
      }
    }
  }
  .destinations-list {
    > div {
      width:50%;
    }
  }
  .menu-header {
    overflow:hidden;
    padding:0 15px;
    font-size:18px;
    margin:5px 0 17px;
    a {
      color:$txt-cornflower-blue;
      margin:0;
      &:hover {
        color:$txt-lynch;
      }
    }
  }
  .image-wrapper {
    height:80px;
    margin-bottom:20px;
  }
  @media(max-width:1300px) {
    //top:106px;
    //right:32px;
    //left:32px;
    &.holidays-wrapper {
      i {
        margin:0;
      }
    }
  }
  @include breakpoint(small-desktop) {
    right:0;
    left:0;
    .inner {
      @include border-radius(0);
      max-width:100%;
    }
    &.holidays-wrapper {
      .set-1 {
        min-width:100px;
      }
    }
  }
  @include breakpoint(portrait-tablet) {
    top:125px;
    &.holidays-wrapper {
      .blogs-wrapper {
        .col-4:nth-child(4) {
          display:none;
        }
      }
      .col-4 {
        width:33.33333333333333%;
      }
      .long-haul-col {
        width:100%;
        padding-bottom:7px;
        hr {
          display:block;
          margin:7px 0 19px 0;
        }
        .image-wrapper {
          display:none;
        }
        .destinations-list {
          overflow:hidden;
          padding-top:5px;
          a {
            width:280px;
            float:left;
            margin:7px 50px 7px 0;
          }
        }
        .set-1 {
          min-width:150px;
        }
      }
      .blog-item {
        .blog-header {
          height:35px;
        }
      }
    }
    .destinations-list {
      > div {
        float:none;
        width:100%;
      }
    }
  }
  @include breakpoint(mobile) {
    display:none;
  }
}
