.mobile-filter-buttons {
  z-index:2;
  right:0;
  bottom:125px;
  left:0;
  height:0;
  .outer {
    @include border-radius(100px);
    @include box-shadow(0 12px 20px 0 $box-shadow-long);
    border:solid 1px $box-shadow-long;
    padding:10px 22px;
  }
  .filters-icon {
    @include filters-icon();
    margin-right:3px;
  }
  .divider {
    width:1px;
    height:17px;
    background-color:$bgnd-black;
    margin:0 20px 0 16px;
  }
}
