.offer-tabs {
  border-bottom:solid 1px rgba($b-default, 0.2);
  margin-bottom:20px;
  span {
    font-size:16px;
    padding:0 12px 10px 12px;
    &:hover:not(.active) {
      color:$txt-cornflower-blue;
    }
    &.active {
      font-family:$font-bold;
      text-shadow:0.6px 0 0;
      &:before {
        content:'';
        position:absolute;
        bottom:-1px;
        left:0;
        right:0;
        background-color:$bgnd-cornflower-blue;
        height:3px;
      }
    }
  }
  @include breakpoint(small-desktop) {
    margin:0 44px 20px;
  }
  @include breakpoint(portrait-tablet) {
    margin:0 0 20px 33px;
  }
  @include breakpoint(mobile) {
    white-space:nowrap;
    padding:0 20px;
    overflow:hidden;
    overflow-x:scroll;
    border:none;
    margin:0 0 16px;
    span {
      &.active {
        &:before {
          left:5px;
          right:5px;
        }
      }
    }
    &:before {
      content:'';
      position:absolute;
      right:-220px;
      bottom:0;
      left:20px;
      height:1px;
      background-color:rgba($b-default, 0.2);
    }
  }
}
