$gray-border:#eaeaea;
.open-calendar {
  overflow:hidden;
  padding:13px 24px 42px 24px;
  .flexible {
    width:20%;
    min-height:384px;
    display:table;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,ffffff+88 */
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 88%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 88%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    margin:-13px 0 0 -24px;
    font-size:20px;
    .title {
      line-height:normal;
    }
    .flexible-inner {
      display:table-cell;
    }
    .holder, .slider {
      @include border-radius(100px);
    }
  }
  .calendar-months {
    margin:34px 0 6px 17px;
    width:42%;
    border-right:dashed $gray-border 1px;
    padding-right:27px;
    .seven-months-left, .seven-months-right {
      width:50%;
    }
    .seven-months-right {
      ul {
        li {
          &:first-child {
            border-top:solid 1px $gray-border;
          }
        }
      }
    }
    .seven-months-left {
      ul {
        li {
          &:first-child {
            border-top:solid 1px $gray-border;
          }
        }
      }
      border-right:solid 1px $gray-border;
    }
    ul {
      li {
        font-size:15px;
        padding:14px 0 14px 24px;
        //min-width:203px;
        border-bottom:solid 1px $gray-border;
        &:hover {
          background-color:#f2f2f2;
        }
        &.active {
          background-color:$bgnd-cornflower-blue;
          border-color:$b-blue;
          color:$txt-white;
          pointer-events:none;
        }
      }
    }
  }
  .calendar {
    width:38%;
    padding-left:27px;
    table {
      text-align:center;
      tr {
        border-bottom:solid 1px $gray-border;
        td, th {
          position:relative;
        }
        td {
          span {
            z-index:2;
            padding:1.2em 1.4em 1em 1.4em;
          }
        }
        th {
          opacity:0.5;
          font-size:13px;
        }
      }
      .max-rows {
        tr {
          td {
            span {
              padding:0.8em 1.4em 0.8em 1.4em;
            }
            &.cur-month-dates {
              &:before {
                width:28px;
                height:28px;
                top:4px;
                left:14px;
              }
            }
          }
        }
      }
      .cur-month-dates {
        &:before {
          content:'';
          position:absolute;
          width:33px;
          height:33px;
          top:8px;
          left:12px;
          opacity:0;
          cursor:pointer;
          background-color:#f2f2f2;
          @include border-radius(100px);
          @include animation-transition(all 0.3s ease-in-out);
        }
        &:hover {
          &:before {
            opacity:1;
          }
        }
        &.flights-available {
          span {
            color:$txt-java;
          }
        }
        &.chosen-date {
          &:before {
            background-color:$bgnd-emerald;
            opacity:1;
          }
          span {
            color:$txt-white;
          }
        }
        &.expired-date {
          opacity:0.3;
          pointer-events:none;
        }
        &.today-date {
          &:before {
            opacity:1;
          }
        }
      }
      .weeks-names {
        th {
          padding-bottom:11px;
        }
      }
    }
  }
  .calander-controls {
    margin:18px 0 25px 0;
    .month-title {
      font-size:15px;
    }
    .next, .prev {
      top:0;
      width:24px;
      height:24px;
      &.disabled {
        opacity:0.1;
        pointer-events:none;
      }
      span {
        top:3px;
      }
    }
    .next {
      right:0;
      span {
        left:-2px;
      }
    }
    .prev {
      left:0;
      span {
        right:-2px;
      }
    }
  }
}
@include breakpoint(small-desktop) {
  .open-calendar {
    .calendar {
      padding-left:20px;
      table {
        tr {
           td {
             span {
               padding:1.3em 1.1em 1.2em 1.1em;
             }
           }
        }
        .cur-month-dates {
          &:before {
            left:8px;
          }
        }
      }
      .open-calendar-legends {
        display:none;
      }
    }
  }
}
@include breakpoint(portrait-tablet) {
  .open-calendar {
    padding:15px 20px 30px 20px;
    .calendar {
      width:52%;
      table {
        width:100%;
        .cur-month-dates {
          &:before {
            top:0;
            right:0;
            bottom:0;
            left:0;
            margin:auto;
          }
        }
      }
    }
    .flexible {
      margin:0 0 20px 0;
      float:none;
      width:100%;
      min-height:inherit;
      background:#f2f2f2;
      font-size:17px;
      padding:14px 0;
      z-index:6;
      @include border-radius(5px);
      .title:not(.show-on-mobile) {
        display:inline-block;
        padding:0;
        br {
          display:none;
        }
      }
      .days {
        display:inline-block;
      }
      .toggle-button {
        margin:0 15px;
      }
    }
    .calendar-months {
      margin:0 0 20px 0;
      padding-right:20px;
      width:48%;
      top:25px;
      ul {
         li {
           padding:14px 0 14px 15px;
         }
      }
    }
    .calander-controls {
      top:-7px;
    }
  }
}
@include breakpoint(mobile) {
  .open-calendar-outer {
    position:fixed;
    top:42px;
    right:0;
    bottom:0;
    left:0;
    overflow-x:auto;
    background:$bgnd-white;
  }
  .open-calendar {
    padding:0;
    float:none;
    height:5200px;
    overflow-x:auto;
    .calendar-months {
      display:none;
    }
    .flexible, .calendar {
      width:100%;
    }
    .calendar {
      padding:0 20px 0 20px;
      position:relative;
      width:100%;
      //max-width:375px;
      margin:0 auto;
      float:none;
      table {
        width:100%;
        tr {
          display:block;
          text-align:left;
          td {
            width:14.28571428571429%;
            display:inline-block;
            span {
              padding:1.2em 0.1em;
            }
          }
        }
        .month-wrapper {
          width:100%;
          padding:34px 0 30px 0;
          background:$bgnd-white;
          margin-top:-1px;
          font-size:15px;
          font-weight:bold;
          border:none!important;
          text-align:center;
        }
      }
    }
    .flexible {
      background:#f8f8f8;
      margin:55px 0 0 0;
      padding:24px 0;
      float:none;
      z-index:2;
      .title {
        padding:0;
        &.show-on-desktop {
          display:none;
        }
      }
      .days {
        display:block;
      }
      .toggle-button {
        margin:12px 0;
      }
    }
    .cur-month-dates {
      &:before {
        display:none;
      }
      span {
        &:after {
          content: '';
          display: block;
          position: absolute;
          width:32px;
          height:32px;
          background-color:#f2f2f2;
          top:0;
          right:0;
          bottom:0;
          left:0;
          margin:auto;
          z-index:-1;
          opacity:0;
          border-radius:100px;
        }
      }
      &.chosen-date {
          span {
            &:after {
              background-color:$bgnd-emerald;
              opacity:1;
            }
          }
      }
      &.today-date {
          span {
            &:after {
              opacity:1;
            }
          }
      }
    }
    .weeks-names {
      position:absolute;
      right:20px;
      left:20px;
      top:0;
      border:none!important;
      background:$bgnd-white;
      padding:11px 0 0 0;
      text-align:center;
      &:before {
        content:'';
        position:absolute;
        right:-20px;
        bottom:0;
        left:-20px;
        height:1px;
        background-color:rgb(222, 222, 222);
      }
      th {
        width:14.28571428571429%;
        display:inline-block;
      }
      &.sticky {
        position:fixed;
        top:96px;
        right:0;
        left:0;
        z-index:3;
        margin:0 25px 0 25px;
      }
    }
    .calander-controls {
      margin:68px 0 25px 0;
    }
    #calendar-body {
      margin-top:50px;
      display:block;
    }
    .next, .prev {
      display:none;
    }
    .b-radius {
      @include border-radius(0);
    }
  }
}
