.open-calendar-legends {
  padding-top:20px;
  ul {
    li {
      margin-right:18px;
      font-size:12px;
    }
  }
  .circle-1, .circle-2, .circle-3 {
    width:14px;
    height:14px;
    font-size:12px;
    margin-right:8px;
    @include border-radius(100px);
  }
  .circle-1 {
    background-color:#f2f3f5;
  }
  .circle-2 {
    background-color:$bgnd-cornflower-blue;
  }
  .circle-3 {
    background-color:$bgnd-emerald;
  }
}
  @include breakpoint(mobile) {
    .open-calendar-legends {
      &.mobile {
        border-top:solid #dedede 1px;
        padding:11px 0;
        z-index:2;
        bottom:0;
        left:0;
      }
    }
    .show-calendar-legends {
      .open-calendar-legends {
        &.mobile {
          display:block;
        }
      }
    }
  }
