/* Owl Arrows */

.owl-theme {
  .owl-controls {
    margin-top:0;
    .owl-buttons div {
      background:transparent;
      z-index:5;
      position:absolute;
      width:45px;
      height:50px;
      &:after {
        content: '';
        position:absolute;
        width:30px;
        height:30px;
        border-top:solid #58595b 1px;
        border-right:solid #58595b 1px;
        top:10px;
        left: 0;
      }
      &.disabled {
        pointer-events:none;
        opacity:0.2;
      }
    }
    .owl-prev {
      left:-51px;
      &:after {
        @include rotate(-135deg);
      }
    }
    .owl-next {
      right:-66px;
      &:after {
          @include rotate(45deg);
      }
    }
  }
}

.rich-promo-banners {
  .owl-theme {
    .owl-controls {
      margin-top:15px;
      .owl-page {
        span {
          width:0px;
          height:0px;
        }
      }
    }
    .owl-wrapper-outer {
      .owl-wrapper {
        .owl-item {
          padding-left:10px;
          &:first-child {
            padding-left:19px;
          }
        }
      }
    }
  }
  @include breakpoint(mobile) {
    .owl-theme {
      .owl-controls {
        .owl-page {
          span {
            width:8px;
            height:8px;
            border:solid 2px rgba(110, 61, 124, 0.4);
            background:$bgnd-white;
            opacity:1;
          }
          &.active {
            span {
              background:$bgnd-butterfly;
              border:solid 2px rgba(110, 61, 124, 0);
            }
          }
        }
      }
    }
  }
}

.rich-reviews {
  .owl-theme {
    .owl-controls {
      .owl-buttons div {
        top:33%;
      }
    }
  }
}
.popular-holidays {
  .owl-theme {
    .owl-controls {
      .owl-buttons div {
        top:30%;
      }
    }
  }
}

.rich-reviews {
  .owl-theme {
    .owl-wrapper-outer {
      padding-left:2px;
      .owl-wrapper {
        padding-bottom:20px;
        .owl-item {
          margin-left:20px;
          width:270px!important;
        }
        .owl-item:first-child {
          margin-left:0;
        }
      }
    }
    @media(max-width:1280px) {
      .owl-controls {
        display:none!important;
      }
      .owl-wrapper-outer {
        overflow:initial;
      }
    }
  }
}

.owl-theme {
  .owl-controls {
    .owl-buttons {
      div {
        font-size:0px;
      }
    }
  }
}

.long-haul-hotels, .search-results .hotel {
  .owl-theme {
    .owl-buttons {
      display:none;
      div {
        top:112px;
        background:$bgnd-white;
        opacity:1;
        width:32px;
        height:32px;
        @include box-shadow(0 12px 20px -5px rgba(194, 209, 217, 0.35));
        &:after {
          border-width:2px;
          width:10px;
          height:10px;
          top:11px;
        }
      }
      .owl-prev {
        left:10px;
        &:after {
          left:12px;
        }
      }
      .owl-next {
        right:10px;
        &:after {
          left:9px;
        }
      }
    }
    .owl-controls {
        .owl-page {
          span {
            background-color:$bgnd-white;
            opacity:1;
            width:6px;
            height:6px;
            margin:0 4px;
            position:relative;
            top:0;
            @include animation-transition(all 0.1s ease-in-out);
          }
          &.active {
            span {
              width:8px;
              height:8px;
              top:1px;
            }
          }
        }
    }
    .owl-pagination {
      position:absolute;
      bottom:7px;
      right:0;
      left:0;
    }
  }
  .destination, .image-rotator {
    &:hover {
      .owl-buttons {
        display:block;
        .owl-prev {
          @include owlFadeInPrev();
        }
        .owl-next {
          @include owlFadeInNext();
        }
        .owl-next, .owl-prev {
          @include animation-transition(all 0.1s ease-in-out);
          &:hover {
            background-color:rgba($bgnd-white, 0.7);
            @include transform(1.1);
          }
        }
      }
    }
  }
}

.popular-holidays {
  .owl-theme {
    .owl-wrapper-outer {
      .owl-wrapper {
        .owl-item {
          margin-left:20px;
          width:212px!important;
        }
        .owl-item:first-child {
          margin-left:0;
        }
      }
    }
  }
  @media(max-width:1280px) {
    .owl-controls {
      display:none!important;
    }
    .owl-wrapper-outer {
      overflow:initial;
    }
    .content-middle {
      overflow:hidden;
    }
  }
}
