.popular-holidays {
  .destination {
    margin-left:20px;
    &:first-child {
      margin-left:0;
    }
  }
  .section-header {
    .titles {
      max-width:100%;
    }
  }
  .hover-bg {
    opacity:0;
    display:none;
  }
  .image-wrapper {
    @include border-radius(5px);
    width:212px;
    height:260px;
    overflow:hidden;
    &:hover {
      .hover-bg {
        opacity:0.2;
      }
      box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
      -moz-box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
      -webkit-box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
    }
  }
  .board-type {
    .type {
      font-size:13px;
    }
  }
  .dstn-star-ratings {
    padding:2px 0 0 0;
    i {
      font-size:12px;
      letter-spacing:-0.5px;
    }
  }
  &.top-section {
    .show-all-button {
      margin-top:60px;
    }
  }
  .dtnt-title {
    font-size:18px;
    margin:15px 0 2px 0;
    h4 {
      @include truncate();
      max-width:95%;
    }
  }
  .view {
    margin-top:15px;
    button {
     @include border-radius(3px);
     padding:8px 18px;
     font-size:16px;
    }
  }
  .price-wrapper {
    padding-left:8px;
    .tth-price {
      font-size:18px;
    }
    .tth-pp {
      font-size:12px;
    }
  }
  .arrow-wrapper {
    img {
      z-index:2;
      width:16px;
      bottom:5px;
      right:5px;
      @include animation-transition(all 0.2s ease-in-out);
    }
  }
  .box-skew {
      width:100px;
      height:60px;
      background-color:$bgnd-yellow;
      bottom:0;
      right:-90px;
      transform:skew(-45deg, 0deg);
      -moz-transform:skew(-45deg, 0deg);
      -webkit-transform:skew(-45deg, 0deg);
      @include animation-transition(all 0.2s ease-in-out);
  }
  .tth-asterisk {
    top:4px;
  }
  &.bottom-section {
    .reviews-small-text {
      font-size:11px;
      opacity:0.5;
      padding-top:4px;
    }
    .view {
      margin-top:13px;
    }
  }
  @include breakpoint(small-desktop) {
    .content-middle {
      padding:0;
    }
    .destinations {
      padding-left:44px;
    }
    .section-header {
      padding:0 44px;
    }
  }
  @include breakpoint(portrait-tablet) {
    .destinations {
      padding-left:33px;
    }
    .section-header {
      padding:0 33px;
    }
  }
  @include breakpoint(mobile) {
    &.top-section {
      border-top:solid #f0f5f9 8px;
      .line-h {
        height:1px;
        background-color:#2d3c4d;
        opacity:0.1;
        top:-8px;
      }
      .content-middle {
        padding:0;
      }
      .destinations, .section-header {
        padding:0 20px;
      }
      .small-label {
        font-size:13px;
      }
    }
    &.bottom-section {
      .section-header {
        padding:0;
      }
      .content-middle {
        padding:0 20px;
      }
    }
    .type {
      @include truncate();
      max-width:100%;
    }
    .titles {
      width:100%;
    }
    .destinations {
      display:flex;
      display:-webkit-box;
      display:-moz-box;
      display:-ms-flexbox;
      display:-webkit-flex;
      flex-wrap:wrap;
      justify-content:space-between;
      padding-left:0;
    }
    .destination {
      margin:0 0 20px 0!important;
      max-width:48%;
      min-width:48%;
    }
    .show-all-button {
      &.fill-in-mobile {
        margin:10px 0 7px 0;
      }
    }
    .price-wrapper {
      .tth-price {
        font-family:$font-regular;
        font-weight:bold;
      }
    }
    .dtnt-title {
      font-size:16px;
      margin:10px 0 0 0;
    }
    .image-wrapper {
      width:100%;
      height:200px;
    }
  }
  @include breakpoint(medium-mobile) {
    .dtnt-title {
      font-size:14px;
    }
  }
  @media(max-width:330px) {
    .image-wrapper {
      height:170px;
    }
    .dstn-star-ratings {
       i {
         font-size:11px;
       }
    }
    .price-wrapper {
      .tth-price {
        font-size:16px;
      }
    }
  }
}
