.promo-banner {
  height:80px;
  background-color:#129dfd;
  margin:28px 0;
  @include breakpoint(portrait-tablet) {
    //margin:-2px 0 28px 0;
  }
  @include breakpoint(mobile) {
    background-color:#37bdd1;
    height:52px;
    margin:26px 0 20px 0;
    @include border-radius(2px);
  }
}
