.active-cookies {
  .rich-header {
    position:absolute;
  }
}
.banner-no-img {
  .rich-header {
    .main-nav {
      background-color:rgba($bgnd-butterfly,1);
    }
  }
}
.rich-header {
  position:fixed;
  top:-41px;
  right:0;
  left:0;
  z-index:8;
  @include animation-transition(all 0.3s ease-in-out);
  &.on-scroll {
    background-color:rgba($bgnd-butterfly,1);
    .sub-navigation {
      .bgnd-blend {
        background-color:#61366f;
        mix-blend-mode:inherit;
      }
    }
  }
  &.inactive-cookies {
    //top:-41px;
  }
  &.sticky-header{
    position:fixed;
    .main-nav {
      background-color:rgba($bgnd-butterfly,1);
    }
  }
  //.theme-user-notification{right:8px;width:16px;height:16px;line-height:15px;top:8px;font-size:10px;}
  .theme-user-notification {
    width:13px;
    height:13px;
    background:red;
    top:0;
    right:-4px;
    color:#fff;
    font-size:8px;
    @include border-radius(100px);
    z-index:4;
    .theme-holiday-count {
      top:1px;
    }
  }
  .hotel-only, .multi-centre {
    display:none;
  }
  .after-login {
    top:108px;
    right:105px;
    min-width:250px;
    padding:20px 20px 4px 20px;
    z-index:8;
    @include border-radius(5px);
    @include box-shadow(0 14px 47px 0 rgba($bgnd-black, 0.2));
    span, a {
      color:$txt-lynch;
    }
    .active-arrow {
      left:196px;
    }
    a {
      font-size:18px;
      padding:10px 0;
    }
    hr {
      border-width:1px;
      margin:14px -20px 2px -20px;
      border-color:#d6d6d6;
    }
    .txt-my-booking {
      border-top:dotted #e2e2e2 1px;
    }
    .user-name {
      font-size:18px;
      color:$txt-cornflower-blue;
      padding:5px 0 12px 0;
      word-break:break-all;
    }
    .text-logout {
      opacity:0.7;
    }
  }
  .main-nav {
    height:75px;
    background-color:rgba($bgnd-butterfly,0.8);
    padding:0 100px;
    &.pstn-fxd {
      background-color:rgba($bgnd-butterfly,1);
    }
    &.logged-in {
      .login-title, .signup-title {
        display:none;
      }
      .user-name {
        padding:0 24px 0 10px;
        display:inline-block;
        max-width:100px;
        max-height:32px;
        min-height:32px;
        @include truncate();
        white-space:inherit;
        text-align:right;
        word-break:break-all;
      }
      .pipe {
        display:none;
      }
      .user-icon {
        right:138px;
        top:38px;
        display:block;
        z-index:8;
        cursor:pointer;
      }
      .hamburger-menu {
        top:39px;
      }
      .customer-suport {
        margin-right:20px;
      }
      .signup-title-wrapper {
        &:hover {
          opacity:1;
        }
      }
    }
    li:not(.active), a {
      &:hover {
        opacity:0.7;
      }
    }
  }
  .logo {
    width:200px;
    padding-top:27px;
    z-index:2;
    &:hover {
      a {
        opacity:1;
      }
    }
  }
  .caret {
    top:4px;
    left:6px;
  }
  .line-arrow-down {
    border-color:white;
    border-width:1px;
    width:7px;
    height:7px;
    top:-3px;
    left:5px;
    @include animation-transition(all 0.3s ease-in-out);
  }
  .hamburger-menu {
    top:29px;
    right:100px;
    width:32px;
    height:32px;
    z-index:8;
    .icon-wrapper {
      width:18px;
      height:18px;
      padding-top:2px;
      top:4px;
      left:6px;
      span {
        background-color:$bgnd-white;
        height:2px;
        margin:3px 0;
      }
    }
  }
  .pipe {
    margin:0 5px;
  }
  .nav-middle {
    top:34px;
    left:0;
    right:0;
    ul {
      li {
        padding:0 25px;
        font-size:15px;
      }
      .holidays {
        .active-arrow {
          left:70px;
        }
      }
      .destinations  {
        .active-arrow {
          left:58px;
        }
      }
      .active {
        .active-arrow {
          width:15px;
          height:15px;
          top:24px;
          @include border-radius(4px);
          display:block;
        }
        .line-arrow-down {
          @include rotate(-45deg);
          top:1px;
        }
      }
    }
  }
  .customer-suport {
    margin-right:30px;
    .caret {
      @include animation-transition(all 0.3s ease-in-out);
    }
    &.active {
      &:hover {
        span.customer-suport-trigger, .down {
          opacity:1;
        }
      }
      ul {
        display:block;
      }
      .caret {
        top:-2px;
        border-bottom-color:$hover-green;
        border-top-color:transparent!important;
      }
    }
    ul {
      top:30px;
      right:-5px;
      width:140px;
      padding:10px 15px;
      z-index:4;
      @include border-radius(5px);
      @include box-shadow(0 14px 47px 0 rgba($bgnd-black, 0.2));
      li {
        margin:10px 0;
        &:hover:not(.phone-number) {
          opacity:0.7;
        }
      }
      li,a {
        color:$txt-lynch;
      }
    }
    .active-arrow {
      left:60px;
    }
  }
  .nav-right {
    padding:35px 50px 0 0;
    font-size:13px;
    z-index:7;
  }
  a, li {
    color:$txt-white;
    //@include animation-transition(all 0.2s ease-in-out);
  }
  .sub-navigation {
    top:75px;
    left:0;
    padding:9px 0;
    .bgnd-blend {
       mix-blend-mode:multiply;
       //background-color:rgba(15, 50, 123,0.9);
       background-color:rgba($bgnd-butterfly,0.6);
    }
    a {
      margin:0 12px;
      font-size:15px;
      letter-spacing:0.5px;
      font-weight:200;
      &.active {
        pointer-events:none;
        strong {
          font-weight:500;
        }
      }
      &:hover:not(.active) {
        opacity:0.7;
      }
    }
    .z-index {
      z-index:5;
    }
  }
  @media(max-width:1140px) {
    .hamburger-menu {
      top:34px;
      right:27px;
    }
    .call-us-top {
      display:none;
    }
    a, li {
      @include animation-transition(inherit);
    }
    a:hover, li:hover {
      opacity:1;
    }
    .after-login {
      top:78px;
      right:10px;
      .active-arrow {
        left:208px;
      }
    }
    .main-nav {
      padding:0 32px;
      &.logged-in {
        .user-icon {
          right:31px;
          top:6px;
        }
        .login-title, .signup-title-wrapper, .pipe-tablet {
          display:none;
        }
        .nav-right {
          padding:10px 16px 0 0;
        }
        .customer-suport {
          padding-right:30px;
        }
      }
    }
    .nav-right {
      padding:10px 0 0 0;
    }
    .nav-middle {
      top:37px;
    }
    .logo {
      padding-top:32px;
    }
  }
  @include breakpoint(portrait-tablet) {
    top:-60px;
    .hamburger-menu {
      right:27px;
      top:39px;
    }
    .nav-right {
      padding:10px 0 0 0;
      float:none;
      text-align:right;
    }
    .after-login {
      top:95px;
      .active-arrow {
        left:207px;
      }
    }
    .nav-middle {
      position:static;
      text-align:right;
      ul {
        padding-right:15px;
        text-align:right;
        li {
          padding:13px 30px 0 0;
        }
        .holidays {
          .active-arrow {
            left:22px;
            top:35px;
          }
        }
        .destinations  {
          .active-arrow {
            top:35px;
            left:35px;
          }
        }
      }
    }
    .logo {
      padding-top:32px;
    }
  }
  @include breakpoint(mobile) {
    top:0;
    @include animation-transition(inherit);
    .main-nav {
      background-color:rgba($bgnd-butterfly,0);
      @include animation-transition(inherit);
    }
    &.on-scroll, &.search-active, &.search-open {
      position:fixed;
      .main-nav {
        background-color:rgba($bgnd-butterfly,1);
        top:-17px;
        height:60px;
        @include box-shadow(0 2px 4px 0 rgba($bgnd-black,0.2));
      }
      .user-icon {
        top:25px;
      }
      .hamburger-menu {
        top:26px;

      }
    }
    &.search-active {
      position:fixed;
      top:0;
      .main-nav {
        @include box-shadow(0 2px 4px 0 rgba($bgnd-black,0));
      }
    }
    .after-login {
      top:64px;
      .active-arrow {
        left:auto;
        right:12px;
      }
    }
    &.on-scroll {
      background-color:rgba($bgnd-butterfly,0);
      .after-login {
        top:44px;
      }
    }
    &.search-dd-active {
      background-color:rgba($bgnd-butterfly,1);
      top:-19px;
      height:61px;
      .user-icon {
        top:25px;
      }
      .hamburger-menu {
        top:26px;
      }
    }
    .nav-right, .nav-middle {
      display:none;
    }
    .logo {
      float:none;
      width:100%;
      a {
        width:180px;
        display:inline-block;
      }
      img {
        //width:180px;
        object-fit:contain;
      }
    }
    .hamburger-menu {
      top:24px;
      right:auto;
      left:18px;
      .icon-wrapper {
        top:2px;
        span {
          height:1px;
          margin:7px 0;
          &:nth-child(2) {
            display:none;
          }
        }
      }
    }
    .user-icon {
      top:26px;
      right:18px;
      width:30px;
      height:30px;
    }
  }
}

@include breakpoint(mobile) {
  .inner-pages {
    .rich-header {
      position:fixed;
      .after-login {
        top:44px;
      }
      .main-nav {
        height:42px;
        top:0;
      }
      .logo {
        padding-top:12px;
      }
      .user-icon {
        top:6px;
      }
      .hamburger-menu {
        top:8px;
      }
    }
  }
}
