.rich-banner {
  min-height:650px;
  background-color:#0065cf;
  padding-top:240px;
  @include animation-transition(all 0.3s ease-in-out);
  h1 {
    font-size:56px;
    text-shadow:0 12px 20px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .blend-mask-1, .blend-mask-2 {
    mix-blend-mode:multiply;
  }
  .bt-awards {
    width:140px;
  }
  .blend-mask-1 {
    background: -moz-linear-gradient(top, rgba(65,126,195,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(65,126,195,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(65,126,195,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417ec3', endColorstr='#00ffffff',GradientType=0 );
  }
  .atol {
    top:136px;
    right:108px;
    .atol-title {
      max-width:182px;
      font-size:12px;
      line-height:15px;
    }
    p {
      padding-top:2px;
    }
    .atol-logo {
      margin-right:10px;
    }
  }
  .button {
    color:$txt-white;
    background-color:$bgnd-cornflower-blue;
    padding:9px 16px 7px 15px;
    font-size:14px;
    @include border-radius(5px);
    margin:0 0 10px 0;
    .arrow {
      margin-left:10px;
      border-color:$b-white;
      border-width:1px;
      width:8px;
      height:8px;
    }
  }
  .search-wrapper {
    margin:25px 0 20px 0;
  }
  .grid-search {
    bottom:0;
  }
  @include breakpoint(small-desktop) {
    min-height:600px;
    padding-top:294px;
    .atol {
      right:25px;
      top:138px;
    }
    h1 {
      font-size:50px;
    }
  }
  @include breakpoint(landscape-tablet) {
    padding-top:324px;
    .button {
      display:none;
    }
  }
  @include breakpoint(portrait-tablet) {
    min-height:600px;
    padding-top:335px;
    h1 {
      font-size:40px;
    }
    .search-wrapper {
      margin:15px 0 20px 0;
    }
    .atol {
      right:30px;
      .txt-1 {
        display:none;
      }
      .txt-2 {
        display:block;
      }
      p {
        padding-top:4px;
      }
    }

  }
  @include breakpoint(mobile) {
    min-height:540px;
    padding-top:72px;
    .search-wrapper {
      position:absolute;
      top:0;
      right:10px;
      left:10px;
      margin:0;
    }
    h1 {
      font-size:28px;
    }
    .button {
      position:absolute;
      bottom:68px;
      left:20px;
      right:20px;
      padding:8px 0 8px 0;
      text-align:center;
    }
    .titles {
      position:absolute;
      top:150px;
      left:20px;
      right:0;
      max-width:200px;
    }
    .bt-awards {
      width:80px;
      position:absolute;
      top:156px;
      right:20px;
    }
    &.search-open {
      .titles {
        display:none;
      }
    }
    &.search-dropdown-open {
      .banner-inner {
        z-index:6;
      }
    }
    .banner-inner {
      z-index:2;
      height:466px;
    }
  }
  @include breakpoint(medium-mobile) {
    min-height:inherit;
    &.search-open {
      .banner-inner {
        height:490px;
      }
    }
    .banner-inner {
      z-index:2;
      height:436px;
    }
  }
}
