.section-header {
  margin:0 0 25px 0;
  h2 {
      font-size:28px;
  }
  p {
      font-size:16px;
      padding-top:4px;
      line-height:24px;
  }
  .titles {
    max-width:75%;
  }
  .morelink {
    font-size:15px;
    //font-weight:600;
    color:$txt-java;
    display:inline-block;
    //padding-left:10px;
    &.less {
      padding-left:5px;
    }
  }
  .moreellipses {
    padding-right:10px;
    display:inline-block;
  }
  .links {
    top:8px;
    a {
      color:$txt-java;
      font-size:18px;
      font-weight:700;
      &:before {
        content:'';
        position:absolute;
        bottom:2px;
        left:0;
        right:0;
        height:1px;
        background-color:$txt-java;
        @include animation-transition(all 0.3s ease-in-out);
      }
      //text-decoration:underline;
    }
    &:hover {
      a {
        color:$txt-default;
        &:before {
          right:100px;
          left:100px;
        }
      }
      .line {
        left:-45px;
        background-color:$bgnd-lynch;
      }
    }
    .line {
      width:25px;
      height:2px;
      background-color:$bgnd-cornflower-blue;
      left:-53px;
      top:9px;
    }
  }
  @include breakpoint(portrait-tablet) {
    .titles {
      max-width:100%;
    }
  }
  @include breakpoint(mobile) {
    margin:0 0 20px 0;
    h2 {
      font-size:20px;
    }
    .titles {
      max-width:100%;
    }
    p {
      line-height:22px;
      font-size:16px;
      padding-top:8px;
    }
    &.truncated {
      p {
        max-height:76px;
        overflow:hidden;
      }
    }
    .links {
      display:none;
    }
  }
}
