.rich-reviews {
  .inner {
    z-index:2;
  }
  .content-middle {
    max-width:1145px;
  }
  .review {
    .description {
      display:block;
      overflow:hidden;
      height:125px;
      margin:24px 0 0 0;
    }
    .gutter {
      @include border-radius(2px);
      @include box-shadow(0 2px 3px 0 rgba($bgnd-black, 0.2));
      padding:23px 25px;
      width:270px;
    }
    a {
      font-size:16px;
      line-height:22px;
      overflow:hidden;
      //-webkit-line-clamp: 5;
      //display:-webkit-box;
      //text-overflow:ellipsis;
      //-webkit-box-orient:vertical;
    }
    .image-wrapper {
      .stars {
        width:110px;
        height:21px;
      }
      .trustpilot {
        width:100px;
        height:30px;
      }
    }
    &:hover {
      .gutter {
        @include box-shadow(0 4px 6px 0 rgba($bgnd-black, 0.2));
      }
    }
  }
  .section-gutter-bottom {
    padding-bottom:117px;
  }
  .author-info {
    .user-icon {
      width:12px;
      height:14px;
      margin-right:10px;
    }
    h5 {
      font-size:15px;
      padding-bottom:2px;
    }
    span {
      font-size:13px;
      opacity:0.7;
    }
  }
  .footer-overview {
    padding:25px 0;
    @include box-shadow(0 12px 18px 0 rgba(45, 60, 77, 0.2));
    .trust-pilot {
      padding-top:12px;
      .trust-pilot-logo {
        width:130px;
        height:28px;
      }
      .stars-logo {
        width:110px;
        height:20px;
        margin:8px 0 0 18px;
      }
    }
    .feefo {
      padding-top:12px;
      .image-wrapper {
        margin-top:9px;
      }
    }
    .line-v {
      width:1px;
      height:70px;
      opacity:0.1;
      margin:0 50px;
      background-color:#2d3c4d;
    }
    .feefo-icon {
      width:85px;
      height:25px;
      margin-right:15px;
    }
    i {
      font-size:19px;
    }
    .fa-star-o {
      color:#cfcfcf;
    }
  }
  @media(max-width:1280px) {
    .content-middle {
      max-width:100%;
      overflow:hidden;
      padding:0 46px;
    }
    .footer-overview {
      margin-top:13px;
    }
  }
  @include breakpoint(portrait-tablet) {
    .content-middle {
      padding:0 32px;
    }
    .section-header {
      .titles {
        max-width:100%;
      }
    }
    .line-v {
      margin:0 40px;
    }
    .links {
      display:none;
    }
  }
  @include breakpoint(mobile) {
    .footer-overview {
      display:none;
    }
    .section-gutter-bottom {
      padding-bottom:27px;
    }
    .show-all-button {
      margin-top:19px;
    }
    .content-middle {
      padding:0 20px;
    }
  }
}
