.rich-promo-banners {
  margin:-40px 0 30px 0;
  img {
    @include border-radius(5px);
    &:hover {
      box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
      -moz-box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
      -webkit-box-shadow:0 12px 20px -5px rgba(194, 209, 217, 0.35), 0 12px 24px -10px rgba(111, 133, 159, 0.5);
    }
  }
  .lazyloaded {
    .img-outer {
      background-color:transparent;
    }
  }
  .img-outer {
    background-color:$bgnd-no-image;
    @include border-radius(5px);
    @include animation-transition(all 0.2s ease-in-out);
  }
  @include breakpoint(portrait-tablet) {
    overflow:hidden;
    margin:-67px 0 40px 0;
    .col-3 {
      width:100%;
      padding:0;
      float:none;
      margin:0 auto;
    }
    .content-middle {
      padding:0;
      overflow:hidden;
    }
    .row {
      margin-left:0;
      margin-right:0;
    }
    .owl-item {
      max-width:335px;
    }
    a {
      height:200px;
    }
  }
  @include breakpoint(mobile) {
    margin:-67px 0 18px 0;
    height:217px;
    img {
      &:hover {
        box-shadow:inherit;
        -moz-box-shadow:inherit;
        -webkit-box-shadow:inherit;
      }
    }
    a {
      height:auto;
      &:first-child {
        img {
          min-height:217px;
        }
      }
    }
  }

  @include breakpoint(small-mobile) {
    margin:-67px 0 18px 0;
  }

  @media (max-width:360px) {
    a {
      &:first-child {
        img {
          min-height:187px;
          max-height:187px;
        }
      }
    }
  }
}
