/*a[href='x-apple-data-detectors://embedded-result/8337'] {
  color:
}*/

/* Common white arrow box */
@include breakpoint(small-desktop) {
  .content-middle, .content-full {
    padding:0 32px;
  }
}
@include breakpoint(portrait-tablet) {
  .content-middle, .content-full {
    padding:0 19px;
  }
}
.morelink, .morecontent span {
  display:none;
}
