/* Search Results */
.long-haul-hotels .owl-theme .owl-controls .owl-page.active span, .search-results .hotel .owl-theme .owl-controls .owl-page.active span {
  top:0;
}

/* serp fod loader */
.serp-fod-loader {
  display:flex;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  justify-content:center;
  z-index:8;
  top:76px;
  &.hidden {
    display:none;
  }
  .gif-icon {
    width:60px;
    height:60px;
    align-self:center;
  }
}
.search-results {
  margin-top:210px;
  .dstn-name {
    h2 {
      font-size:36px;
      margin-bottom:6px;
      @include truncate();
      max-width:600px;
    }
    p {
      font-size:18px;
    }
    .count {
      font-weight:700;
    }
  }
  .legal-text {
    font-size:13px;
    padding:4px 0 0 0;
    margin-bottom:-6px;
  }
  .load-more {
    @include box-shadow(0 2px 4px 0 rgba($bgnd-black, 0.1));
    background-color:rgb(242, 242, 242);
    font-size:15px;
    padding:16px 0 14px 0;
    text-transform:uppercase;
    border:solid transparent 1px;
    margin-top:30px;
    &:hover {
      background-color:$bgnd-white;
      @include box-shadow(0 5px 16px 0 rgba($bgnd-black, 0.1));
      border-color:#eaeaea;
    }
  }
  .breadcrumb-outer {
    align-items:center;
    .breadcrumb {
      font-size:12px;
      .slash {
        padding:0 3px;
      }
      a {
        color:$txt-java;
        &:hover {
          color:$txt-lynch;
        }
      }
      span {
        opacity:0.8;
      }
    }
  }
  hr {
    margin:18px 0;
    border-width:1px;
  }
  > hr {
    margin-top:50px;
  }
}
.search-results .content-middle, .destinatoin-wrapper, .breadcrumb-outer {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    justify-content:space-between;
}

/* footer area */
.inner-pages .extras {
  padding-top:10px;
  margin-top:0;
}

/* Search */
.grid-search {
  bottom:0;
}

/* Sub navigation */
.rich-header {
  .sub-navigation {
    .bgnd-blend {
      background-color:#61366f;
    }
  }
}

@include breakpoint(small-desktop) {
  .search-results {
    .content-middle {
      padding:0 46px;
    }
  }
}
@include breakpoint(portrait-tablet) {
  .search-results {
    .content-middle {
      padding:0 38px;
    }
    .dstn-name {
      p {
        max-width:250px;
      }
      h2 {
        font-size:32px;
      }
    }
  }
}

@include breakpoint(mobile) {
  .inner-pages {
    .rich-header {
      .main-nav {
        height:42px;
      }
      .logo {
        padding-top:12px;
      }
      .user-icon {
        top:6px;
      }
      .hamburger-menu {
        top:8px;
      }
    }
  }
  .search-results {
    background-color:#f5f5f5;
    margin-top:0;
     > hr {
       display:none;
     }
     .load-more {
       background-color:$bgnd-cornflower-blue;
       color:$txt-white;
       font-size:14px;
       @include border-radius(4px);
       margin:50px 0 40px 0;
     }
     .content-middle {
       padding:0 20px;
     }
     .legal-text {
       padding:10px 0 0 0;
       margin-bottom:-5px;
       line-height:18px;
     }
     .dstn-name {
       p {
         span:nth-child(3) {
           display:inline;
         }
       }
     }
  }
  .destinatoin-wrapper {
    padding:63px 0 0 0;
  }
  .book-your-trip {
    .txt-1 {
      font-size:15px;
    }
    .txt-2 {
      opacity:0.8;
    }
    .enquiry {
      padding:9px 28px 16px 16px;
      .icon-box {
        width:19px;
        height:15px;
        margin-right:15px;
        img {
          object-fit:inherit;
        }
      }
    }
    a {
      padding:9px 0 9px 20px;
      .icon-box {
        width:20px;
        height:20px;
        top:-2px;
        margin-right:15px;
        img {
          object-fit:inherit;
          height:100%;
        }
      }
    }
  }
  .serp-fod-loader {
    top:43px;
  }
}
@include breakpoint(medium-mobile) {
  .book-your-trip {
    a {
      padding:9px 0 9px 14px;
      .icon-box {
        margin-right:8px;
      }
    }
    .total-price {
      padding:9px 20px 9px 14px;
    }
  }
}
