.flying-from, .open-calendar, .how-long, .where-to, .guests {
  @include box-shadow(0 12px 24px 0 rgba(111, 133, 159, 0.34));
}


/* Animations */
.where-to-outer, .flying-from-outer, .open-calendar-outer, .how-long-outer, .guests-outer {
  animation:searchPopups 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation:searchPopups 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -moz-animation:searchPopups 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  opacity:0;
}
/* End Animations */


.search-dropdowns {
  top:73px;
  right:0;
  left:0;
  z-index:7;
}
@include breakpoint(small-desktop) {
  .search-dropdowns {
    top:71px;
  }
}
@include breakpoint(mobile) {
  .search-dropdowns {
    top:0;
  .mobile-sticky-dd-header {
    height:55px;
    z-index:5;
    border-bottom:solid #cbd0d4 1px;
    padding:15px 20px;
    .font-bold {
      font-size:20px;
    }
  }
  .flying-from, .open-calendar, .how-long, .where-to, .guests {
    @include box-shadow(0 12px 24px 0 rgba(111, 133, 159, 0));
  }
  .inner {
    height:100vh;
    float:none;
  }
  .done-button {
    z-index:5;
    bottom:0;
    padding:12px 0;
    button {
      @include border-radius(5px);
      font-size:17px;
      padding:13px 0;
      width:90%;
    }
  }
  .close-btn-box {
    width:44px;
    height:44px;
    top:6px;
    right:12px;
      .close--icon {
        top:13px;
        right:13px;
        width:18px;
        height:18px;
        &:before, &:after {
          background:#2d3c4d;
          opacity:0.6;
        }
      }
    }
  }

  /* Animations */
  .where-to-outer {
    animation:searchPopupsMobile2 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
    -webkit-animation:searchPopupsMobile2 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
    -moz-animation:searchPopupsMobile2 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    opacity:0;
  }
  .flying-from-outer, .open-calendar-outer, .how-long-outer, .guests-outer {
    animation:searchPopupsMobile 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
    -webkit-animation:searchPopupsMobile 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
    -moz-animation:searchPopupsMobile 0.6s cubic-bezier(0.71, 0.01, 0.26, 1.02);
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    opacity:0;
    top:20px;
  }
  /* End Animations */

}





/* Keyframes */
@keyframes searchPopups {
  0% {
    top:30px;
    opacity:0;
  }
  100% {
    top:0;
    opacity:1;
  }
}
@-webkit-keyframes searchPopups {
  0% {
    top:30px;
    opacity:0;
  }
  100% {
    top:0;
    opacity:1;
  }
}
@-moz-keyframes searchPopups {
  0% {
    top:30px;
    opacity:0;
  }
  100% {
    top:0;
    opacity:1;
  }
}
@keyframes searchPopupsMobile {
  0% {
    top:20px;
    opacity:0;
  }
  100% {
    top:42px;
    opacity:1;
  }
}
@-webkit-keyframes searchPopupsMobile {
  0% {
    top:20px;
    opacity:0;
  }
  100% {
    top:42px;
    opacity:1;
  }
}
@-moz-keyframes searchPopupsMobile {
  0% {
    top:20px;
    opacity:0;
  }
  100% {
    top:42px;
    opacity:1;
  }
}



@keyframes searchPopupsMobile2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes searchPopupsMobile2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes searchPopupsMobile2 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes searchPopups {
  0% {
    top:30px;
    opacity:0;
  }
  100% {
    top:0;
    opacity:1;
  }
}
