/* Section 1*/
.section-gutters-1 {
  padding-top:32px;
  padding-bottom:40px;
}

/* Section 2 */
.section-gutters-2 {
  padding-top:40px;
  padding-bottom:20px;
}

/* Section 3*/
.section-gutters-3 {
  padding-top:50px;
  padding-bottom:40px;
}

@include breakpoint(small-desktop) {
  .section-gutters-1 {
    padding-top:44px;
  }
  .section-gutters-3 {
    padding-top:62px;
  }
}
@include breakpoint(portrait-tablet) {
  .section-gutters-1 {
    padding-top:40px;
  }
  .section-gutters-2 {
    padding-bottom:48px;
  }
  .section-gutters-3 {
    padding-bottom:42px;
    padding-top:42px;
  }
}
@include breakpoint(mobile) {
  .section-gutters-1 {
    padding-bottom:15px;
    padding-top:30px;
  }
  .section-gutters-2 {
    padding-top:30px;
    padding-bottom:15px;
  }
  .section-gutters-3 {
    padding-top:30px;
    padding-bottom:18px;
  }
}


.popular-holidays {
  .section-gutter-top {
    padding-top:80px;
  }
}
.section-gutter-top {
  padding-top:40px;
}
.section-gutter-bottom {
  padding-bottom:90px
}


@include breakpoint(mobile) {
  .section-gutter-top {
    padding-top:30px;
  }
  .section-gutter-bottom {
    padding-bottom:26px;
  }
}
