
.show-all-button {
  &.type-arrow-link {
    a {
      font-size:$fontSize-18;
      color:$txt-cornflower-blue;
    }
    span {
      border-color:$b-blue;
    }
    .line-arrow-right {
      margin-left:8px;
    }
    .animate-line {
      left:0;
      right:0;
      bottom:2px;
      height:1px;
      background-color:$txt-java;
      @include animation-transition(all 0.3s ease-in-out);
    }
    .button-inner {
      &:hover {
        a {
          color:$txt-lynch;
        }
        .line-arrow-right {
          border-color:$b-lynch;
        }
        .animate-line {
          right:100px;
          left:100px;
        }
      }
    }
  }
  @include breakpoint(mobile) {
    &.fill-in-mobile {
      margin-top:12px;
      a {
        text-decoration:none;
        font-size:$fontSize-16;
        color:$txt-white;
        font-family:$font-regular;
        background-color:$bgnd-cornflower-blue;
        padding:10px 20px;
        @include border-radius(2px);
      }
      span {
        display:none;
      }
    }
  }
}
