.sidemenu-latest {
  .icon-box {
    width:18px;
    height:18px;
  }
  a {
    padding:11px 15px 4px 23px;
    font-size:18px;
    margin:0 0 0 28px;
    color:$txt-lynch;
  }
  .outer {

  }
  .inner {
    
  }
}
