.mobile-filter-close {
  width:44px;
  height:44px;
  right:13px;
  top:3px;
  .close--icon {
    top:2px;
    right:-12px;
    bottom:0;
    left:0;
    margin:auto;
  }
}
.sort-by {
  align-self:flex-end;
  .icon-set {
    display:none;
  }
  ul {
    li {
      @include border-radius(100px);
      border:solid rgba(88, 89, 91, 0.5) 1px;
      font-size:12px;
      padding:3px 12px 5px 12px;
      margin-left:5px;
      &:hover, &.active {
        background-color:$bgnd-cornflower-blue;
        border-color:$b-blue;
        color:$txt-white;
      }
    }
  }
  .sort-label {
    margin-right:7px;
  }

  @include breakpoint(small-desktop) {
    .default-view {
      display:none;
    }
    .tablet-view {
      display:inline-block;
      .line-arrow-down {
        border-color:#fff;
        border-width:1px;
        width:8px;
        height:8px;
        top:-2px;
      }
      .label-inner {
        min-width:98px;
      }
      ul {
        li {
          margin-left:6px;
        }
      }
    }
    .sort-label {
      font-size:17px;
      font-family:$font-bold;
    }
  }
  @include breakpoint(portrait-tablet) {
    .icon-set {
      display:inline-block;
      padding-right:30px;
      &:after {
        content:'';
        position:absolute;
        width:1px;
        height:20px;
        background-color:$b-lynch;
        opacity:0.2;
        top:0;
        right:14px;
      }
      .filter-title {
        font-size:17px;
      }
    }
  }
  @include breakpoint(mobile) {
    position:fixed;
    z-index:9;
    padding:0;
    animation:popupAnimation 0.3s  ease-in-out;
    animation-fill-mode:forwards;
    top:43px;
    &.open {
      display:block;
    }
    .tablet-view, .icon-set {
      display:none;
    }
    .hamburger-icon {
      display:none;
    }
    .radio-button {
      @include radio-button();
    }
    .sort-label {
      font-size:20px;
      display:block;
      padding:17px 20px 13px 20px;
      margin:0;
      border-bottom:solid 1px #cbd0d4;
    }
    .label-inner {
      font-size:15px;
      padding-left:9px;
      color:$txt-lynch;
    }
    .default-view {
      display:block;
      padding:10px 0 0 25px;
    }
    ul {
      li {
        display:block;
        padding:0;
        border:none;
        background-color:transparent;
        margin:10px 0 10px 0;
        &:hover {
          background-color:transparent;
        }
        &.active {
          background-color:transparent;
          .radio-button {
            &:after {
              width: 8px;
              height: 8px;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              @include border-radius(100px);
              margin:auto;
              position:absolute;
              content:'';
              background:$persian-green;
            }
          }
        }
      }
    }
  }
}


@-webkit-keyframes popupAnimation {
  0% {
    height:0px;
    bottom:50px;
    padding:0;
  }
  100% {
    height:100%;
    bottom:0;
    overflow-x:auto;
  }
}
