.sticky-search {
  background-color:$bgnd-dark-purple;
  top:86px;
  .search-wrapper {
    top:32px;
  }
  &.sticky-active {
    position:fixed;
    top:-50px;
    padding:0;
    margin:0;
    background-color:$bgnd-white;
    z-index:6;
    min-height:64px;
    animation:searchSlideDown 0.3s  ease-in-out;
    animation-fill-mode:forwards;
    @include box-shadow(0 10px 15px 0 rgba(156, 167, 196, 0.5));
    .search-wrapper {
      top:0;
    }
    .mobile-search-fields {
      @include box-shadow(inherit);
    }
    .box-trigger.flex-box-1, .box-trigger.flex-box-2, .box-trigger.flex-box-3, .box-trigger.flex-box-4, .box-trigger.flex-box-5, .box-trigger.flex-box-6 {
      padding:14px 15px 7px 10px;
    }
    .edit-search {
      //display:block;
      background-color:rgba($bgnd-lynch, 0.2);
      font-size:17px;
      padding:8px 18px 0 18px;
      border:solid $b-white 7px;
      margin-right:-7px;
      @include border-radius(10px);
      &:hover {
        background-color:rgba($bgnd-lynch, 0.1);
      }
    }
    .edit-search-mask {
      //display:block;
      //z-index:10;
    }
    .input-departing-box, .input-stayfor-box, .flexible-date {
      .mobile-nghts-value {
        top:1px;
        position:relative;
      }
    }
    .input-depart-box:before, .input-destingtion-box:before, .double-boxes:before, .flexible-date-wrapper:before, .input-departing-box:before {
      //height:24px;
      //top:13px;
    }
    .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5, .flex-box-6 {
      padding:11px 15px 9px 10px;
    }
    .input-stayfor-box {
      .input-icon {
        height:18px;
      }
    }
    .input-destingtion-box {
      .input-icon {
        height:19px;
      }
    }
  }
  @include breakpoint(small-desktop) {
    margin-bottom:65px;
  }
  @include breakpoint(portrait-tablet) {
    &.active {
      .flex-box-1, .flex-box-2, .flex-box-3, .flex-box-4, .flex-box-5, .flex-box-6 {
        padding:0;
      }
    }
  }
  @include breakpoint(mobile) {
    margin-bottom:0;
    padding:60px 0 0 0;
    z-index:3;
    top:0;
    position:relative;
    .search-wrapper {
      z-index:1;
      top:41px;
      margin-top:-23px;
      padding:0 10px;
    }
    .grid-search {
      &.animation3 {
        margin-bottom:0;
      }
    }
    h3 {
      font-size:20px;
    }
    .link-with-arrow {
      top:2px;
      left:20px;
    }
    .content-middle {
      padding:0;
    }
    .collapse-search {
      .double-boxes {
        &:after {
          opacity:0;
        }
      }
    }
  }
}






@-webkit-keyframes searchSlideDown {
  0% {
    top:-50px;
  }
  100% {
    top:111px;
  }
}
