.tags {
  a, span {
    font-size:13px;
  }
  .inner {
    margin-top:-9px;
    padding:8px 14px 8px 14px;
    background-color: rgba(0,0,0,0.4);
    @include border-radius(5px);
  }
  a {
    color:$txt-white;
    margin-left:15px;
    @include animation-transition(all 0.1s ease-in-out);
    &:hover {
      opacity:0.7;
    }
  }
  .tag-title, a {
    z-index:2;
  }
  .multiply {
    display:none;
    background-color:$bgnd-black;
    height:32px;
    mix-blend-mode:multiply;
    opacity:0.4;
    @include border-radius(5px);
    margin-top:-9px;
    right:-17px;
    left:-17px;
  }
  @include breakpoint(mobile) {
    white-space:nowrap;
    //overflow:hidden;
    overflow-y:hidden;
    position:absolute;
    right:0;
    bottom:61px;
    left:0;
    height:50px;
    margin-left:0;
    .inner {
      margin:0 9px 0 9px;
    }
  }
}
