.toggle-button {
  margin:15px 0 10px 0;
  &:hover {
    .holder {
      opacity:0.8;
    }
  }
  .holder {
    width:40px;
    height:20px;
    background-color:#bbbbbb;
  }
  .slider {
    width:12px;
    height:12px;
    top:4px;
    right:23px;
    background-color:$bgnd-white;
  }
  &.active {
    .slider {
      right:4px;
    }
    .holder {
      background-color:$bgnd-cornflower-blue;
    }
  }
}
