.where-to {
  padding:13px 24px 0 24px;
  width:900px;
  .region-title {
    font-size:16px;
    padding-bottom:5px;
  }
  .destination-search-panel {
    padding-bottom:25px;
  }
  .select-destination {
    span {
      @include animation-transition(all 0.1s ease-in-out);
    }
    &:hover {
      span {
        color:$txt-cornflower-blue;
      }
    }
  }
  .col-5 {
    margin-bottom:35px;
  }
  .title {
    padding:4px 0 20px 0;
    h4 {
      font-size:18px;
    }
  }
  ul {
    li {
      font-size:15px;
      padding:5px 0;
    }
  }
}
@include breakpoint(portrait-tablet) {
  .where-to-outer {
    .inner {
      float:none;
    }
  }
  .where-to {
    width:100%;
  }
}
@include breakpoint(mobile) {
  .where-to {
    @include box-shadow(0 10px 15px 0 rgba(156, 167, 196, 0.2));
    height:420px;
    border:solid transparent 1px;
    .region-title {
      //display:none;
      padding:18px 0 7px 0;
      font-size:15px;
    }
    hr {
      top:50px;
      left:0;
      right:0;
      display:block;
      border-width:1px;
    }
    .title {
      padding:6px 0 0 0;
      h4 {
        font-size:18px;
        font-weight:bold;
      }
    }
    .dstn-title {
      //font-weight:bold;
      font-size:16px;
      float:left;
    }
    ul {
      li {
        padding:6px 0 6px 10px;
        overflow:hidden;
      }
    }
    .dstn-properties {
      top:10px;
      right:0;
      font-size:12px;
      opacity:0.6;
      display:none;
    }
    .close-btn-box {
      width:44px;
      height:44px;
      top:-10px;
      right:-20px;
      .close--icon {
        top:13px;
        right:13px;
        width:18px;
        height:18px;
        &:before, &:after {
          background:#2d3c4d;
        }
      }
    }
    .col-5 {
      float:none;
      margin-bottom:0;
      padding:0;
      width:100%;
    }
    .row {
      margin:0;
    }
    .vrtcl-align-middle.b-radius {
      overflow-x:auto;
      height:340px;
    }
    .mobile-sticky-input {
      padding-bottom:14px;
      margin-bottom:16px;
    }
  }
  .destination-search-panel {
    .col-12 {
      padding:0;
    }
  }
  .where-to-outer {
    .b-radius {
      @include border-radius(7px);
    }
    .inner {
      height:420px;
    }
  }
}
