.widened-banner {
  height: 120px;
  border-radius: 5px;
  background-color: #ebf9fb;
  border: solid 1px #37bdd1;
  margin-bottom: 50px;
  position: relative
}

.widened-banner img {
  position: relative;
  top: 22px;
  left: -1px;
  margin-right: 10px
}

.widened-banner img, .widened-banner p {
  float: left
}

.widened-banner:after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  border-bottom: solid 1px #58595b;
  opacity: .2
}

.widened-banner p {
  font-size: 24px;
  color: #37bdd1;
  max-width: 600px;
  padding-top: 32px;
}

@media(max-width:1150px) {
  .widened-banner p {
    max-width: 450px
  }
}

@media(max-width:767px) {
  .widened-banner p {
    max-width: 320px
  }

  .widened-banner p {
    padding-top: 15px
  }
}

@media(max-width:650px) {
  .widened-banner {
    padding-right: 30px;
    height: 140px;
    background: url('https://resources.teletextholidays.co.uk/drupal/images/widened-banner-mobile-1x.png') no-repeat left bottom #ebf9fb
  }

  .widened-banner img {
    display: none
  }

  .widened-banner p {
    font-size: 20px;
    line-height: 22px;
    max-width: 100%;
    margin-left: 130px;
    padding-top: 24px
  }
}

@media(max-width:350px) {
  .widened-banner {
    height: 135px;
    background-position: -10px bottom;
    padding-right: 20px
  }

  .widened-banner p {
    padding-top: 23px;
    font-size: 17px;
    line-height: 18px
  }
}
