.ui-autocomplete {
  background-color:$bgnd-white;
  border:1px solid #ddd;
  max-height:250px;
  overflow-y: auto;
  overflow-x: hidden;
  width:300px;
  .ui-state-focus {
    border: 1px solid #ccc;
    background: #ededed;
    font-weight: 400;
    color: #2b2b2b;
  }
  .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
  }
  @include breakpoint(mobile) {
    width:inherit!important;
    left:20px!important;
    right:20px!important;
    position:absolute!important;
  }
}
.divDestSearch {
  input {
    border:none;
  }
}
