.divChangeClass .list-group-item {
	padding-left:15px;
}
.sub-items {padding-bottom:25px;}
.sub-items .list-group-item {padding-left:40px;}
.icon-location{left:0;top:4px;}
.allGuidesLinks, .owl-pagination{display:none}
.owl-next{right:5px}
#owl-DestSlider .owl-item{position:relative}
.searchLeft, .searchRightWrapper, .sortByItemATZ, .sortByItemRegion{display:inline}
.allGuidesGuideHeader, .tabselements>a, .sortBy{display:inline-block}
.location-name{display:block}
.SortByLetterHeader, .allGuidesGuideHeader, .featueGuideHeader, .searchLeft{color:#58595b}
.findGuide, .tabselements>a, .sortByActive, .fa-caret-right, .list-group-item, .lblDestName, .fa-chevron-left, .fa-chevron-right{color:#fff}
.allGuidesLinks, .divDestSearch{overflow:hidden}
.findGuide, .tabselements .active{background-color:#9ac854}
.findGuide:hover{background:#91BF47;}
.findGuide, .lblDestName, .featureItem, .owl-item, .sortByItemATZ, .sortByItemRegion{cursor:pointer}
.tabselements>a, .SortByLetterHeader, .featureItem{text-transform:uppercase}
.findGuide, .lblDestNameWrapper, .sortByItemATZ, .sortByItemRegion{text-align:center}
.searchRightWrapper, .GuidesByRegion .fa-caret-right, .fa-caret-right, .searchText, .findGuide{float:right}
.tabselements{display:table; margin-top:15px;text-align: center;}
.col-md-12, .lblDestNameWrapper, .owl-item img, #owl-DestSlider, .tabselements{width:100%}
.allGuidesAZSection .list-group-item, .allGuidesGuideHeader{position:relative}
.lblDestNameWrapper, .fa-map-marker{position:absolute}
.searchLeft, .findGuide, .fa-map-marker{font-weight:400}
.SortByLetterHeader, .allGuidesGuideHeader, .list-group-item, .featueGuideHeader{font-weight:600}
.DestSliderWrapper{margin:0 auto; text-align:center; width:100%}
.searchLeft{width:auto; float:left; font-size:28px; margin:0}
.searchRightWrapper{width:auto}
.searchRight{display:inline-block;}
.findGuide{width:160px; height:39px; font-size:16px; line-height:39px;font-family:'proximanova-semibold';}
.searchText{width:300px;height:39px;background-color:#fff; border:solid 1px #b7b7b7; margin-right:10px;color:rgba(88, 89, 91, 0.5);}
.searchText::placeholder{color:rgba(88, 89, 91, 0.5);}
.featueGuideHeader{height:40px; font-size:26px; line-height:2}
.list-group-item{font-size:16px;padding:5px 0;}
.fa-map-marker{font-size:16px; color:#9ac854; left:15px; top:6px}
.fa-caret-right{margin-right:0; line-height:23px}
.allGuidesSection{margin:0 auto}
.allGuidesGuideHeader{font-size:20px; top:2px}
.sortByItemATZ, .sortByItemRegion{padding:7px 9px 5px; background-color:#f3f3f3}
.sortByItemATZ{margin-left:10px}
.sortBy{margin-left:36px; line-height:36px}
.sortByActive{background-color:#a8c86c}
.SortByLetterHeader{font-size:16px; background-color:#f2f2f2; padding:5px 15px; margin-bottom:10px; line-height:normal}
.allGuidesAZSection .list-group-item{line-height:normal}
.GuidesByRegion .fa-caret-right{line-height:normal; color:#9ac854; margin-right:13px}
.GuidesByRegion .RegionTitle{background-color:#f2f2f2}
.tabselements>a{background:#37bdd1; font-size:12px; padding:5px 10px; border-radius:0; margin-right:5px; margin-bottom:10px}
.owl-item img{border:1px solid #fff; height:auto}
.fa-chevron-left, .fa-chevron-right{line-height:50px; font-size:30px}
.fa-chevron-left{left:-30px}
.fa-chevron-right{right:-30px}
.lblDestNameWrapper{bottom:15px; margin:0 auto}
.lblDestName{font-size:15px; line-height:1.73; background:rgba(0,0,0,0.7); padding:0 10px; min-width:100px}
.GuidesByRegion .SortByLetterHeader{padding:0}
.col-md-3{padding:0 0 10px 5px}
.col-md-12{padding:0; overflow:hidden; width:100%}
.divDestSearch{padding:20px 10%;background:#f2f2f2;margin:89px 0 20px 0;}
.searchRightWrapper .searchText{font-weight:700;padding:0 15px;}
.allGuidesAZSection, .allGuidesSection{margin:0 auto}
.featureDestination{width:80%; margin:0 auto}
.allGuidesLinks .col-md-12>div{padding:0;float:left;}
.location-name{margin-left:15px;}
.footercontainer, .theme-footer-links{max-width:90%}
.desktop-links-wrapper>ul, .theme-footer-social ul{padding:0}
.bookWC{margin:0 auto; overflow:hidden; padding:15px; width:60%}
.my-holidays-wrapper{margin-top:48px}
#Wrappercr{min-height:480px}
.rvwWrap .col-xs-7{font-style:italic; text-align:right; border-right:2px solid #9ac854; padding:0 10px 0 0; color:#7c7d7e}
#newCallus .for-mobile-devices{display:none}
#newCallus span.siteDiv{font-weight:600; color:#6e3d7c; width:100%; display:block}
.cheappackn{color:#b7b7b7; font-size:13px}
.owl-theme .owl-controls .owl-buttons div{border-radius:0; background:rgba(0,0,0,0.9); margin:0; font-size:12px; padding:3px 5px}
.owl-prev, .owl-next{width:30px; height:50px; background-color:#000; opacity:.7; text-align:center; position:absolute; z-index:9; top:40%; height:54px}
.owl-prev{display:inline-block; float:left; cursor:pointer}
.owl-next{display:inline-block; float:right; cursor:pointer}
.owl-prev{left:0}
.owl-next{right:5px}

.header, .mobile-widget-header.pstn-fxd {
  background-color:rgba(110, 61, 124, 1);
}
.short-options {
  background-color:#f2f2f2;
  margin-bottom:35px;
}
.destinations, .options-middle {
  width:80%;
  margin:0px auto;
}
a.list-group-item {
  color: #555;
    display: block;
    margin-bottom: -1px;
    font-size: 16px;
    font-weight: 600;
}

@media(max-width:1600px) {
.bookWC{width:68%}
.owl-next{right:3px}
}
@media(max-width:1200px) {
.owl-next{right:1px}
.destinations, .options-middle {width:100%;padding:0 40px;}
}
@media(max-width:992px) {
.page-builder-row-section.page-builder-row-section-3{background:0}
.divDestSearch{padding:20px 2%}
.featureDestination{width:100%}
.owl-next{right:3px}
.divChangeClass {
    width:50%;
  }
}
@media(max-width:992px) {
.owl-next{right:1px}
}
@media(max-width:767px) {
.destinations, .options-middle{padding:0;}
.short-options {background-color:#fff;padding:0 20px;}
.guide-links-sort{padding:0 20px;}
a.list-group-item {font-size:14px;}
.divDestSearch{padding:20px;}

.app-banner .divDestSearch, .divDestSearch{margin-top:72px;}


.page-builder-row-section.page-builder-row-section-2{padding-bottom:25px}
.searchLeft, .searchRight, .searchRightWrapper, .findGuide, .searchText, .allGuidesAZSection .col-md-3{float:none}
.searchLeft, .searchRightWrapper{text-align:center}
.searchLeft, .allGuidesGuideHeader, .searchRightWrapper{display:block}
.sortBy, .featueGuideHeader{line-height:normal}
.allGuidesLinks, .GuidesByRegion, .page-builder-row-section-3{position:relative}
.searchLeft{margin-bottom:10px; padding:0}
.searchRightWrapper{overflow:hidden; margin:0 auto}
.searchText{margin-right:0;}
.findGuide, .searchRight, .destinations, .options-middle, .searchText, .bookWC, .rvwWrap .col-xs-7, .rvwWrap .col-xs-5, .col-md-3{width:100%}
.findGuide {margin-top:12px;}
.allGuidesAZSection .col-md-3{margin:0 0 20px;padding:10px 0;}
.sortBy{margin-left:0; margin-top:16px}
.featueGuideHeader{height:inherit}
.tabselements{margin:10px 0}
.node-ajax-wrapper:before, .node-ajax-wrapper:after{display:none}
.page-builder-row-section-3{top:-26px}
.list-group-item{padding:7px 0 7px 15px; font-size:20px}
.fa-map-marker{top:8px}
.allGuidesLinks, .GuidesByRegion{top:-10px}
.owl-item img{border:0}
.page-builder-row-inner, .page-builder-column-wrapper{overflow:inherit}
.location-name{margin-left:10px}
.bookWC{padding:0 0 15px;}
.rvwWrap .col-xs-7{ border:0; text-align:center; padding:0; font-size:32px}
.rvwWrap .col-xs-5{font-size:26px; padding-top:20px;text-align:center}
#newCallus .for-desktop{display:none}
#newCallus .for-mobile-devices{display:inline-block}
.cheappackn{font-size:26px}
.owl-next{right:0}
/* */
#GuidesByRegion .stop-scroll .col-md-3{float:none;}

.mobile-smart-banner {
	position:absolute;
	left:0;
	right:0;
}

}
