/* added jira id aa  */
@include breakpoint(mobile) {
  .accordion-wrapper {
    font-family:$font-light;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    max-width:inherit;
    .accordion--heading {
      padding:15px 0;
      font-size:15px;
      font-weight: bold;
    }
    .acc_section {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      &:first-child {
        border:none;
      }
    }
    a {
      color:$txt-default;
      font-size: 15px;
      display:block;
      line-height:30px;
    }
    .acc_content {
      padding-bottom:25px;
    }
    .acc_section.acc_active .acc_content {
      display: block;
    }
    .accordion-icon {
      height:16px;
      width:16px;
      right:0;
      top:16px;
      display:block;
      &:before {
        top:0;
        right:7px;
        bottom:0;
        width:1px;
        border-left:solid $b-lynch 1px;
      }
      &:after {
        height: 1px;
        top: 8px;
        right: 0;
        width: 100%;
        border-bottom: solid $b-lynch 1px;
        content: '';
        position: absolute;
        transition: all .5s ease-in-out;
      }
      &:before {
        content: '';
        position: absolute;
        transition: all .5s ease-in-out;
      }
    }
    .acc_active .accordion-icon:before {
      @include rotate(90deg);
      opacity: 0;
    }
  }
}
