.main-banner {
  height:432px;
  background:$bgnd-img;
  padding-top:140px;
  .banner-slogan {
    color:$txt-white;
    text-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    h1 {
      font-size:60px;
    }
    span {
      font-size:20px;
      min-height:48px;
      max-width:500px;
    }
  }
  @include breakpoint(portrait-tablet) {
    /*height:432px;*/
    height:400px;
    .banner-slogan {
      h1 {
        font-size:48px;
      }
    }
  }
  @include breakpoint(mobile) {
    padding:124px 0 10px 0;
    height:inherit;
    background-position: inherit !important;
    background-size: cover !important;
    .banner-slogan {
      padding-bottom:5px;
      h1 {
        font-size:27px;
      }
      span {
        font-family:$font-light;
        font-size: 16px;
      }
    }
  }
}
