.awards-popup {
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 113;
  box-sizing: border-box;
  text-align: center;
  h2{
    font-size:28px;
    margin-bottom:20px;
    line-height:normal;
  }
  .close--icon{
    width:20px;
    height: 20px;
  &.close--icon:before, &.close--icon:after{
    background-color: rgba(0,0,0,0.7);
  }
}

  .main-pop {
    max-width: 660px;
    -webkit-box-shadow:0 12px 24px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 12px 24px 0 rgba(0, 0, 0, 0.5);
    box-shadow:0 12px 24px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    z-index: 130;
    padding: 40px;
    top: 66px;
    vertical-align: middle;
    z-index: 2;
    box-sizing: border-box;
    text-align: left;

    .full-image {
      img {
        height: 180px;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin: 25px 0 0;
    }
  }
}
