.banner-section {
  height:370px;
  background:rgba(110, 61, 124, 0.45),;
  padding-top:150px;
  .banner-slogan {
    color:$txt-white;
    text-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
    h1 {
      font-size:42px;
      margin-bottom:20px;
      letter-spacing: -0.4px;
      line-height: normal;
    }
    .banner-content{
      font-size:20px;
      line-height:28px;
      width:90%;
    }
  }
  @include breakpoint(portrait-tablet) {
    height:400px;
    .banner-slogan {
      h1 {
        font-size:48px;
      }
    }
  }
  @include breakpoint(mobile) {
    padding:124px 0 10px 0;
    height:inherit;
    background-position: inherit !important;
    background-size: cover !important;
    .banner-slogan {
      padding-bottom:5px;
      h1 {
        font-size:27px;
      }
      span {
        font-family:$font-light;
        font-size: 16px;
      }
    }
  }
}
