.best-ai-destinations {
  padding:65px 0 15px 0;
  background-color:rgba($bgnd-light-2, 0.5);
  .col-left {
    flex:1;
  }
  .col-right {
    flex:1;
  }
  .read-more {
    padding:35px 0 55px 0;
    span {
      top:-3px;
    }
  }
  .readMore-open {
    span {
      @include rotate(-45deg);
      top:3px;
    }
  }
  .dstn-image {
    margin-bottom:0;
    height:280px;
    @include border-radius(2px);
    overflow:hidden;
    background-position: center center;
    background-size: cover;
    img{
          object-position: top;
    }
  }
  .dstn-des {
    padding-right:25px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
    h3, .content-title {
      font-size:28px;
      line-height:35px;
      padding-bottom:35px;
      font-weight:normal;
      max-width:330px;
    }
    p {
      font-size:16px;
      line-height:24px;
      margin:0 0 15px;
      &.description-section{margin:0;}
    }
    h2, .content-title-small {
      position:relative;
      font-weight:normal;
      font-size:20px;
      padding:15px 0 10px;
      //top:15px;
    }
  }
  @include breakpoint(landscape-tablet) {
    .dstn-image {
      height:226px;
      margin-bottom:40px;
    }
    h3, .content-title {
      padding-bottom:25px;
    }
  }
  @include breakpoint(portrait-tablet) {
    padding:55px 0 10px 0;
    .read-more {
      padding:20px 0 40px 0;
    }
    .dstn-image {
      height:174px;
      margin-bottom:50px;
    }
    .dstn-des {
      padding-right:0;
    }
  }
  @include breakpoint(mobile) {
    padding:30px 0 25px 0;
    .dstn-image {
      height:250px;
      margin-bottom:0;
      position:absolute;
      top:52px;
      left:0;
      display:none;
      width:100%;
    }
    .dstn-des {
      margin-bottom:0;
      .content-title {
        //position:absolute;
        //top:-52px;
        font-size:18px;
        font-weight:bold;
        padding:8px 44px 8px 20px;
        background:$bgnd-white;
        left:0;
        right:0;
        border-top:solid rgba(88, 89, 91, 0.2) 1px;
        max-width:100%;
        display:flex;
        align-items:center;
        justify-content:space-between;
        line-height:normal;
        min-height:52px;
        &:after {
          content:'';
          width:9px;
          height:9px;
          border-top:solid #2d3c4d 2px;
          border-right:solid #2d3c4d 2px;
          @include rotate(135deg);
          position:relative;
          right:-20px;
          @include transition();
        }
        &.readMore-open {
          &:after {
            @include rotate(-45deg);
            border-color:$b-blue;
          }
        }
      }
    }
    .content-wrapper {
      padding:270px 20px 0 20px;
      display:none;
    }
    .lg-flex-box {
      padding-top:0;
    }
    .col-left, .col-right {
      position:relative;
    }
    .content-middle {
      padding:0;
    }
    .heading-txt1 {
      padding:0 20px;
    }
    .deal-box.data-open {
      .dstn-image, .content-wrapper {
        display:block;
      }
    }
  }
}
