.popup-alert {
  text-align:center;
  font-size:15px;
  display:none;
  z-index:2;
  .bgnd-white{
    width:361px;
    height:180px;
    margin:auto;
    padding:50px 0 0 0;
    box-shadow: 0 12px 30px 0 rgba(111, 133, 159, 0.34);
    border: solid 1px rgba(111, 133, 159, 0.34);
  }
  ul {
    padding-top:25px;
    li {
      width:32px;
      height:32px;
      margin:0 3px;
    }
  }
  .close--icon {
    right:10px;
    top:10px;
  }
  .close--icon {
    width:14px;
    height:14px;
    right: 16px;
    top: 13px;
  }

  @include breakpoint(iPhone){
    .bgnd-white {
      width:90%;
      padding:50px 20px 0 20px;
    }
  }


}
