@include breakpoint(when-desktop) {
  .calendar-dd {
    z-index:4;
    width:684px;
    height:500px;
    @include box-shadow(0 12px 30px 0 $box-shadow-color);
    border:solid 1px $grid-border;
    display:none;
    top:41px;
    right:116px;
    padding:40px 50px 0 50px;
     table tr td {
       padding:10px 10px;
     }
     .close--icon {
       top:20px;
       right:20px;
       opacity:0.7;
     }
     .owl-carousel .owl-wrapper-outer {
       margin-left:0;
     }
     .SelectedDate, .to-date, .ui-datepicker-today{
       &:before {
         left:2px;
       }
     }
     .choose-stay {
       @include choose-stay-desktop();
     }
     .legends{
       @include legends-no-border();
       padding-left:12px;
     }
     &:after, &:before {
       content:'';
       position:absolute;
       width:15px;
       height:15px;
       background:$bgnd-white;
       top:-8px;
       left:50%;
       transform:rotate(45deg);
       z-index:-1;
       @include transition();
     }
     &:after {
       @include box-shadow(0 12px 30px 0 $box-shadow-color);
       border:solid 1px $grid-border;
     }
      &:before {
        top:-6px;
        z-index:2;
      }
     @include  flexible-check-box();
     &.active-ribbon-dd {
       &:after, &:before {
         left:81%;
       }
     }
  }
}

@include breakpoint(when-portrait-tablet) {
  .calendar-dd {
    right:0;
    left:0;
    margin:auto;
  }
}

@include breakpoint(mobile) {
  .calendar-dd {
    @include fade-slide-up();
    @include box-shadow(0 12px 30px 0 $box-shadow-color);
    border:solid 1px $grid-border;
    display:none;
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:fixed;
    z-index:113;
    padding:40px 20px 0 20px;
    overflow-x:auto;
     table tr td {
       padding:10px 10px;
     }
     .owl-carousel .owl-wrapper-outer {
       margin-left:0;
     }
     .SelectedDate, .to-date, .ui-datepicker-today{
       &:before {
         left:2px;
       }
     }
     .choose-stay {
       @include choose-stay-mobile();
     }
     .legends{
       @include legends-no-border();
       padding-left:12px;
     }
     @include  flexible-check-box();
     .mask {
       bottom:auto;
       height:25px;
     }
  }
}
