@include breakpoint (when-desktop) {
  .call-us {
    img {
      width:100%;
    }
    .full-image img {
      object-fit:inherit;
    }
    .f18 {
      font-size:$h5;
    }
    padding: 55px 0 50px 0;
    .line-box {
      width:50px;
      height:44px;
      margin-right: 15px;
      background-position:0px -5px;
    }
    .line-icon-download {
      background-position:-53px -4px;
    }
    .line-icon-atol {
      background-position:-107px -4px;
    }
    .call-us-header {
      padding-bottom: 35px;
      span {
        font-size: 28px;
        padding-right: 10px;
      }
      a {
        font-size: 42px;
        &:hover {
          color: inherit;
        }
      }
    }
    .gutter-space {
      margin: 0 20px;
      background: #d8d8d8;
      height: 30px;
      width: 1px;
    }
    .call-us-header:before {
      content: '';
      position: absolute;
      right: 15%;
      bottom: 18px;
      left: 15%;
      border-bottom: dashed 1px #d8d8d8;
    }
    .group-column {
      font-size: 16px;
      line-height: 18px;
    }
    .deals-price {
      padding-left: 5px;
    }
    /*.content-section {
      padding-top: 3px;
    }*/
  }
}

@include breakpoint (small-desktop) {
  .call-us {
    padding:35px 0 50px 0;
  }
}

@include breakpoint (portrait-tablet) {
  .call-us {
    .line-box {
      width: 36px;
      height: 36px;
    }
    .line-icon-download {
      background-position:-208px -8px;
    }
    .line-icon-pay {
      background-position:-170px -8px;
    }
    .line-icon-atol {
      background-position:-247px -8px;
    }
    .group-column {
      font-size: 14px;
    }
    .gutter-space {
      margin: 0 13px;
    }
  }
}

 @include breakpoint (mobile) {
   .call-us {
     &.footer-call-us {
      display:none;
     }
   }
 }
