.carousel-title-lg {
  padding-bottom:68px;
  .heading-txt1 {
    font-size:36px;
    color:$txt-purple;
  }
  .sub-heading {
    font-size:20px;
    color:$txt-light-purple;
    padding:0 20px;
    background-color:#fcfbfa;
  }
  .heading-line {
    top:55px;
    left:-10px;
    right:-10px;
    border-top:solid 1px rgba($b-lynch, 0.2);
    z-index:-1;
  }
  @include breakpoint(portrait-tablet) {
    padding-bottom:60px;
  }
  @include breakpoint(mobile) {
    padding-bottom:15px;
    .heading-txt1 {
      font-size:28px;
      text-align:left;
    }
    .sub-heading {
      display:none;
    }
    .heading-line {
      display:none;
    }
  }
}
