.carousel-footer {
  padding:24px 0 35px 0;
  .call-option a {
    font-size:32px;
    color:$txt-purple;
  }
  .deals-info {
    padding-bottom:26px;
    justify-content:center;
  }
  .type-icon {
    width:12px;
    margin-right:8px;
    img {
      width:100%;
    }
    display:flex;
  }
  .grid-stay {
    flex-wrap:wrap;
  }
  .types > div {
    margin-left:18px;
    //min-width:180px;
    padding-bottom:10px;
  }
  .types > div:first-child {
    margin-left:0;
  }
  .types-label {
    font-size:13px;
    display:flex;
    align-items:center;
    font-weight:normal;
  }
  hr {
    margin:10px 0 20px 0;
  }
  @include breakpoint(landscape-tablet) {
    padding:24px 0 15px 0;
  }
  @include breakpoint(mobile) {
    padding:25px 0 35px 0;
    .types > div {
      max-width:50%;
      text-align:left;
      margin-left:0;
      padding:6px 0;
      display: inline-block;
    }
    .types{
      &.grid-stay{
        display: block;
        overflow: hidden;
      }
    }
    .types-label {
      flex:1;
      font-size:15px;
      letter-spacing:-0.5px;
      padding-right:18px;
      /*float: left;*/
      display: inline-block;
      max-width: 130px;
    }
    .type-icon {
      /*align-self:end;*/
      margin-top:3px;
      width:15px;
      margin-right:14px;
      /*float: left;*/
      display: inline-block;
      vertical-align: top;

    }
    .deals-info {
      padding:0 0 25px 0;
      margin-top:-10px;
    }
  }
  @include breakpoint(medium-mobile) {
    .types-label {
      padding-right:0;
      max-width: 110px;
    }
  }
}
