.complaint-form {
  margin:185px auto 0;
  overflow: hidden;

  h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 37px;
  }

  .input-field {
    line-height: 44px;
    width: 48%;
    margin: 0 4% 40px 0;

    &:nth-child(2) {
      margin-right: 0;
    }

    input {
      width: 100%;
      border: 0;
      outline: 0;
      padding: 0;
      border-bottom: 1px solid rgba(88, 89, 91, 0.4);
      box-shadow: none;
      line-height: 30px;
      font-size: 16px;
      color:#58595b;

      &:focus,
      &:valid {
        border-color: #4a90e2;

        ~label {
          font-size: 13px;
          top: -24px;
          color: rgba(88, 89, 91, 0.6);
          line-height: 34px;
        }
      }
    }
  }
  .section-title {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 24px;
    span{
      font-size: 14px;
    font-weight: normal;
    }
  }
  .discription {
    margin: 30px 0;
    textarea {
      width: 100%;
      border: solid 1px #e5e5e5;
      border-radius: 2px;
      min-height: 225px;
      overflow: hidden;
      padding: 10px 10px 25px;
      font-size:14px;
      color:#58595b;
    }
    .max-length{
      right:30px;
      bottom:5px;
      width:auto;
      padding:3px;
    }
  }

  label {
    top: 0;
    left: 0;
    width: 100%;
    color: #58595b;
    transition: 0.4s all;
    cursor: text;
    font-size: 16px;
  }

  .complaints {
    display: flex;

    .complaints-list {
      flex-grow: 1;

      .options-section {
        margin-bottom: 25px;
        margin-right: 50px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ccc;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }

  .check-box-wrapper {
    margin: 10px 0;

    .check-box {
      height: 17px;
      width: 17px;
      border: solid #b8c2cf 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
    }

    span {
      vertical-align: top;
      font-size: 16px;
      max-width: 90%;
      line-height: 1.43;

      &.checked {
        background-color: #8ab34b;
        border-color: #8ab34b;

        &:after {
          position: absolute;
          width: 11px;
          height: 5px;
          border-left: solid #fff 2px;
          border-bottom: solid #fff 2px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 3px;
          left: 1px;
          content: '';
        }
      }
    }
  }

  .check-label {
    padding-left: 10px;
  }

  .checkbox-list {
    margin: 20px 0 50px;

    label.label-head {
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 10px;
    }

    .check-box-wrapper {
      margin: 0;

      &:first-child {
        margin: 0 50px 0 0;
      }
    }
  }

.tabs-listing{
  margin:10px 0;
}
  .tab-section {
    display: table;

    .left-tab-section {
      display: table-cell;
      width: 30%;
      vertical-align:top;
      .tab {
        border: 1px solid #e0e0e0;

        .tablinks {
          padding: 10px 15px;
          outline: none;
          font-size: 16px;
          color: #58595b;
          border: 1px solid transparent;
      border-bottom: 1px solid #e0e0e0;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: #f2f2f2;
          }

          &.active {
            border: 1px solid #37bdd1;
            background-color: rgba(55, 189, 209, 0.1);
            color: #37bdd1;
            border-right:none;
            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-right-color: #fff;
              border-width: 10px;
              margin-top: -10px;
            }
            &::before {
              border-color: rgba(55, 189, 209, 0);
              border-right-color: #37bdd1;
              border-width: 13px;
              margin-top: -13px;
            }
            &:after, &:before{
              right:-1%;
              top: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }
          }
        }
      }
    }

    .right-tab-section {
      .tabcontent {
        padding:30px;
        border: 1px solid #37bdd1;
        width: 70%;
        display: table-cell;
      }
    }
  }
}
