.popularHolidays {
  margin: -264px 0 0;
}
@include breakpoint (small-desktop) {
  .popularHolidays {
    margin: -228px 0 0;
  }
}
@include breakpoint (portrait-tablet) {
  .popularHolidays {
    margin: -194px 0 0;
  }
}

.deals-thin {
  .deals-info {
    margin-bottom:15px;
    padding-left:0;
  }

  .deal-img {
    height: 180px;
    background-size: cover;
    background-position: center center;
  }

  .hover-mask {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .from-price-wrapper {
    display: inline-block;
    /*padding-left:6px;*/
    min-width: 100px;
  }

  .deal-thin-item {
    width: 360px;
    transition: all 0.2s ease-in-out;
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.1));
    @include border-radius(2px);
    overflow: hidden;

    &:hover {
      @include box-shadow(0 8px 20px 0 rgba(0, 0, 0, 0.15));

      .hover-mask {
        opacity: 0;
      }
    }

    > div {
      border-bottom: solid 1px rgba($b-lynch, 0.1);
    }
  }

  button {
    padding: 8px 12px 7px;
    white-space: nowrap;
    font-size: 14px;
  }

  .deal-price {
    font-size: 18px;
    padding: 13px 20px 11px;
    min-height: 69px;
  }

  .tth-price {
    font-size: 20px;
    margin: 0;
  }

  .tth-from {
    font-size: 15px;
  }

  .tth-pp {
    left: -4px;
    font-size: 16px;
  }

  .ai-holidays-title {
    min-width: 130px;
    display: inline;
    padding: 0 5px 0 0;
  }

  .from-price {
    padding-right:5px;
  }

  &.ai-popular-only {
    .deal-thin-item > div {
      border-bottom: 0;
    }
  }
  @include breakpoint (small-desktop) {
    .deal-thin-item {
      width: 288px;
    }

    .deal-img {
      height: 144px;
    }

    .ai-holidays-title {
      display: inherit;
    }
    /*.from-price-wrapper {
      padding-left:0;
    }*/
    .deal-price {
      padding: 13px 15px 11px;
    }

    .button-wrapper {
      align-self: flex-end;
      margin-bottom: 6px;
    }
  }
  @include breakpoint (portrait-tablet) {
    .deal-thin-item {
      width: 232px;
    }

    .deal-img {
      height: 116px;
    }

    .deal-price {
      padding: 10px 10px 15px;
    }

    .ai-holidays-title {
      min-width: 90px;
      margin-bottom: 5px;
    }

    .from-price {
      padding: 0;
    }

    .button-wrapper {
      position: absolute;
      bottom: 10px;
      right: 10px;
      margin-bottom: 0;
    }
  }
  @include breakpoint (mobile) {
    top: 0;
    background-color: $bgnd-white;
    margin-top: 0;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 90px;
      content: '';
      background-color: $bgnd-light;
    }

    .deal-thin-item {
      width: 100%;
      margin-bottom: 10px;
      @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.2));
    }

    .deal-img {
      height: 90px;
    }

    .from-price-wrapper {
      display: block;
    }

    .from-price {
      padding-right: 0;
    }

    .deal-price {
      padding: 13px 15px 11px;
    }

    .button-wrapper {
      position: static;
    }
  }
}

.deals-info-text {
  p {
    padding: 25px 0 10px;
    text-align: center;
    opacity: 0.7;
    font-size: 11px;
  }
}
