.deals-small-title {
  /*margin-bottom: -85px;*/
  padding:0 0 30px 0;
  h2 {
    font-size:20px;
    padding:0 15px;
    top:12px;
  }
  hr {
    border-bottom:dashed 2px rgba($b-lynch, 0.2);
  }
  /*@include breakpoint (small-desktop) {
    margin-bottom:-110px;
  }
  @include breakpoint(portrait-tablet) {
    padding-top:10px;
  }
  @include breakpoint(mobile) {
    padding:10px 0 26px 0;
    margin-bottom:0;
  }*/
}
