.deals {
  padding-top: 150px;
  margin-top: -115px;
  .deals-row-label {
    padding-bottom:10px;
    overflow:hidden;
  }
  .disclaimer {
    margin:10px 0 5px;
    font-size:13px;
  }
  .see-all-link {
    padding-top:34px;
  }
  .deals-text {
    font-size:15px;
    letter-spacing:-0.2px;
    padding: 10px 0 10px 0 ;
    overflow:hidden;
    p {
      float:left;
      max-width:75%;
    }
    &.no-seeall {
      p {
        max-width:100%;
      }
    }
  }
  .deal-name {
    font-size: 20px;
    line-height: 22px;
    margin-top:3px;
    display:block;
  }
  .deal-type {
    font-size: 15px;
    opacity: 0.7;
    padding-top: 5px;
  }
  .tth-asterisk {
    top: 5px;
    right: -5px;
    font-size: 14px;
  }
  .tth-pp {
    left:0;
    font-size: 14px;
    font-weight: normal;
  }
  .tth-price {
    font-size: 20px;
    margin-right: 2px;
  }
  .txt-from {
    color:$txt-default;
    @include opacity();
    margin-right:8px;
  }
  .deal-img {
    width: 100%;
    height: 180px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .deals-price {
    margin-top:2px;
  }
  .deal-container {
    width: 262px;
    min-height: 295px;
    border-radius: 2px;
    overflow: hidden;
    margin-right: 30px;
    vertical-align: top;
    button {
      padding:9px 10px;
      margin-top:3px;
      font-size:15px;
    }
  }
  .deal-last {
    margin-right: 0;
  }
  i {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .gutter {
    padding: 12px 16px 12px 16px;
  }
  .data-inner {
    border-top: solid #f4f4f4 1px;
    min-height: inherit;
  }
  .deals-row {
    padding-bottom: 45px;
  }
  .deal-container:hover {
    box-shadow: 0 12px 34px 0 $box-shadow-color;
    color: inherit;
  }

  @include breakpoint(small-desktop) {
    .deal-name {
      font-size: 20px;
    }
    .deal-type {
      font-size: 15px;
    }
    .deal-img {
      height: 140px;
    }
    .content-middle {
      padding:0;
    }
    .deals-row-label {
        padding:0 40px 24px 40px;
    }
    .deal-container {
      margin-right:0;
      &:first-child {
        margin-left:40px;
      }
    }
    /*.disclaimer {
      margin-left:40px;
    }*/
  }
  @include breakpoint(landscape-tablet) {
    .deal-container:hover{box-shadow:none;}
    .deal-container {
      width:215px;
    }
    .deal-name {
      font-size:17px;
    }
    .deal-type {
      font-size:14px;
      padding-top:1px;
    }
    .deal-container {
     button {
       font-size:11px;
       margin-top:5px
     }
   }
   .tth-price {
     font-size:17px;
   }
   .txt-from {
     font-size:13px;
   }
   .gutter {
     padding:12px 10px 12px 10px;
   }
  }
  @include breakpoint(portrait-tablet) {
    margin-top:-80px;
    padding-top:90px;
    .deals-row-label {
      padding:0 20px 18px 40px;
    }
  }

  @include breakpoint(mobile) {
    .see-all-btn {
      @include sell-all-btn();
    }
    padding-top:35px;
    margin-top:0;
    .deal-name{
      font-size:17px;
      }
    .deal-type {
      font-size: 13px;
    }
    .deal-container {
      margin-right: 0;
      width:232px;
      &:first-child {
        margin-left:20px;
      }
      button {
        font-size:13px;
        padding:7px 13px;
        margin-top:7px;
      }
    }
    .carousel-title {
      font-size: 24px;
      font-family: $font-bold;

    }
    .deals-row {
      padding-bottom: 40px;
    }
  .deals-row-label {
      a {
        display:none;
      }
        padding: 0 20px 24px 20px;
        position: relative;
      }
      .deal-img {
        height:160px;
      }
      .gutter{
        padding: 12px 16px 12px 16px;
      }
      .deals-text {
        p {
          float:none;
          max-width:100%;
        }
      }
      /*.disclaimer {
        margin-left:20px;
      }*/
  }
  .see-all-btn {
    margin:15px 0 0 20px;
  }

}
