.dropdown-outer {
  right:0;
  top:45px;
  z-index:8;
  display:none;
  &.open {
    display:block;
  }
  .dropdown-inner {
    width:200px;
    padding:8px 20px;
    @include box-shadow(0 12px 30px 0 $box-shadow-color);
    border:solid 1px $grid-border;
    li {
      float:none;
      margin:0;
      padding:10px 0;
      display:block;
    }
  }
}
