.dynamic-content {
  p {
    font-size:16px;
    text-align:justify;
    line-height:26px;
    margin-bottom:15px;
  }
  h2 {
    font-size:20px;
    margin:25px 0 0;
    font-weight:bold;
  }
  h3 {
    font-size:18px;
    margin-top:20px;
    font-weight:600;
  }
  h4 {
    font-size:16px;
    margin-top:15px;
    font-weight:600;
  }
  ul {
    padding-bottom:30px;
    margin-left:30px;
    li {
        padding-top:15px;
        font-size:16px;
        list-style:disc;
    }
  }
  span {
    margin-top:10px;
    display:block;
  }
  strong {
    font-size:15px;
  }
  @include breakpoint(mobile) {
    p {
      font-size:14px;
      line-height:18px;
      font-family:$font-light;
    }
    h2 {
      font-size:15px;
      margin-bottom:7px;
    }

  }
}
