.faq-ai {
  &.section-gutters {
    padding:60px 0 5px 0;
  }
  .col-left {
    flex:1;
  }
  .col-right {
    flex:1;
  }
  .grid-col {
    max-width:inherit;
    min-width:inherit;
  }
  .content-grid {
    padding-top:38px;
  }
  p {
    line-height:24px;
    font-size:16px;
    padding-right:60px;
  }
  .content-col {
    padding-bottom:50px;
  }
  @include breakpoint(portrait-tablet) {
    .col-left, .col-right {
      flex:inherit;
    }
    .content-middle > .content-middle {
      padding:0;
    }
    &.section-gutters {
      padding:30px 0 5px 0;
    }
    .content-col {
      padding-bottom:35px;
    }
  }
}



@include breakpoint(mobile) {
    .faq-ai-mobile {
      &:before {
        content:'';
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        background-color:$bgnd-white;
        width:20px;
      }
    }
    .faq-ai {
      .small-section-title {
        h2 {
          font-size:24px;
          font-weight:bold;
          padding:0 20px;
        }
      }
      &.section-gutters {
          padding:0;
      }
      .content-middle {
        padding:0;
      }
       .content-grid {
        padding:0 20px;
      }
      .header-medium {
        padding:0;
        max-width:90%;
      }
      .content-col {
        padding:18px 24px 18px 0;
        position:relative;
        [class*=line-arrow-] {
          right:-20px;
          @include transition();
        }
        .accordion-header {
          display:flex;
          justify-content:space-between;
          align-items:center;
          flex-wrap:wrap;
          &.readMore-open {
            [class*=line-arrow-] {
              border-color:$b-blue;
              @include rotate(-45deg);
            }
          }
        }
        .accordion-content {
          padding:18px 0 0 0;
        }
        //p {
          //display:none;
        //}
        &:before {
          position:absolute;
          top:0;
          right:-20px;
          left:0;
          height:1px;
          background-color:rgba(88,89,91,0.2);
          content:'';
        }
      }
    }
}
