/* additional */
$enable-grid-classes:       true!default;
$bgnd-grid:#673ab7;
* {
  margin:0;
  padding:0;
}

// gird mixins
*, ::after, ::before {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}



.pstn-reltv {
  position:relative;
}
.m-w-100, .w-100 {
  width:100%;
  max-width:100%;
}
.txt-center {
  text-align:center;
}

// make container
.container {
  padding-left:20px;
  padding-right:20px;
  margin-right:auto;
  margin-left:auto;
  max-width:1150px;
}

// make row
.row {
  margin-left:-20px;
  margin-right:-20px;
}

// Make auto grid
.grid {
  flex-wrap:wrap;
  display:flex;
  display:-ms-flexbox;
  -ms-flex-wrap:wrap;
}

// make columns
.col, .col-auto {
  -ms-flex-preferred-size:0;
  -ms-flex-positive:1;
  flex-grow:1;
  flex-basis:0;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
   padding-right:20px;
   padding-left:20px;
}
.col-1 {
  -webkit-box-flex:0;
  -ms-flex:0 0 8.333333%;
  flex:0 0 8.333333%;
  max-width:8.333333%;
}
.col-2 {
  -webkit-box-flex:0;
  -ms-flex:0 0 16.666667%;
  flex:0 0 16.666667%;
  max-width:16.666667%;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex:0 0 25%;
  flex:0 0 25%;
  max-width:25%;
}
.col-4  {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5  {
  -webkit-box-flex:0;
  -ms-flex:0 0 41.666667%;
  flex:0 0 41.666667%;
  max-width:41.666667%;
}
.col-6 {
  -webkit-box-flex:0;
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%;
}
.col-7 {
  -webkit-box-flex:0;
  -ms-flex:0 0 58.333333%;
  flex:0 0 58.333333%;
  max-width:58.333333%;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

// bgnd-light
.bgnd-light {
  background-color:red;
}

// make gutter
.no-gutters {
  margin-right:0;
  margin-left:0;
}
.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right:0;
  padding-left:0;
}

// demo popuse
.demo-grid .col, .demo-grid .col-auto {
  padding-top:5px;
  padding-bottom:5px;
  background-color:rgba($bgnd-grid, 0.3);
  color:rgba($bgnd-grid, 1);
}
.demo-grid .grid .col:nth-child(odd), .demo-grid .grid .col-auto:nth-child(odd) {
  background-color:rgba($bgnd-grid, 0.1);
}
.demo-grid .row+.row {
  margin-top:15px;
}
.margin-bottom {
  margin-bottom:50px;
}





body {
  font-family:'Raleway', sans-serif;
}

/* Header */
.header-medium {
  font-size:18px;
  padding-bottom:20px;
}




// Make Grid Template
.grid-template {
  display:grid;
  grid-template: 5;
}
