.text-left {
     text-align: left;
}
 .text-right {
     text-align: right;
}
 .text-center {
     text-align: center;
}
 .bgnd-purple {
     background:$bgnd-butterfly;
}
 .arrow-holder {
     top: 10px;
     padding-left: 15px;
}
 .txt-right {
     text-align: right;
}
 .txt-left {
     text-align: left;
}
 .txt-center, .white-button span, .white-button {
     text-align: center;
}
 .txt-orange {
     color:$txt-sunset;
}
 .txt-purple {
     color:$txt-purple;
}
 .txt-blue {
     color:$txt-cornflower-blue;
}
 .txt-yellow {
     color:$txt-yellow;
}
 .txt-light-gray {
     color: #c9caca;
}
 .txt-bold {
     font-weight: bold
}
 .float-right {
     float: right
}
 .clear {
     clear: both
}
 .float-left {
     float: left
}
 .txt-white {
     color:$txt-white;
}
 .txt-center {
     text-align: center
}
 .txt-left {
     text-align: left
}
 .txt-right {
     text-align: right
}
 .fa-heart-o, .heart-icon, .fa-heart, .txt-darkred {
     color:$txt-favourate;
}
 .b-dark-gray {
     border-color: #bcbdbd!important
}
 .tth-section {
     padding: 30px 0;
}
 .bgnd-blue {
     background:$bgnd-cornflower-blue;
}
 .bgnd-yellow {
     background:$bgnd-yellow;
}
 .bgnd-white {
     background-color:$bgnd-white;
}
 .bgnd-light-blue {
     background-color:#87d7e3;
}
 .bgnd-green {
     background-color:$bgnd-emerald;
}
 .tth-container {
     width: 100%;
     max-width: 1130px;
     margin: 0 auto;
}

 .flight-details {
    line-height:1.42857143;
     margin-top:65px;


     .close--icon, .close--icon:before, .close--icon:after {
          position: absolute
     }
      .group-pstn div, .group-pstn ul li {
          position: relative
     }
      .show-on-tablet-portrait, .show-on-tablet-landscape {
          display: none
     }
      .depart-date-fod-from, .fod-time-info {
          font-size: 12px;
     }
      .pstn1, .share-icon, .sub-text, .icon-timer, .quote-ref, .other-board, .boardType, .sub-text2, .list-items, .fa-map-marker, .user-quotes, .inside-icon, .line-height2, .fa-envelope, .email-icon, .box-shadow, .tmb-slider, .stars-wrapper, .fa-map-marker-big, .heart-icon-big, .share-icon-big, .fa-phone, .fa-phone2, .price-tag {
          position: relative;
     }
      .fod-inner-lt, .f-lt, .content-lt, .double-icon, .box25, .content-rt {
          float: left;
     }
     /* Search Form */
      .search-sprite {
          background-image: url(https://resources.teletextholidays.co.uk/drupal/images/sprite/test/v20/serp-sprite.svgz);
     }
      .no-debit-card-wrapper {
          display: none;
          top: 37px;
          left: -195px;
          background:$bgnd-lynch;
          padding: 16px 15px 0 15px;
          z-index: 9;
          width: 255px;
          @include box-shadow(0 24px 24px 0 rgba(0, 0, 0, 0.3));
          text-align: center;
          color:$txt-white;
     }
      .desktop-no-debit-card i, .desktop-no-debit-card span {
          display: inline-block;
          vertical-align: middle;
          text-align: left;
     }
      .desktop-no-debit-card span {
          font-size: 11px;
     }
      .section--airport label, .section--airport label, .section--resort label, .rating-section label {
          color:$txt-lynch;
     }

     .fod-arrive-label {
         padding-right: 8px;
    }
     .fod-depart-label {
         padding-right: 5px;
    }
     .content-rt {
         margin-left: 20px;
    }
     .fod-asterisk {
         top: -1px;
         right: -1px;
         font-size: 14px;
         font-weight: normal;
    }
     .sub-text2 {
         top: 4px;
         font-size: 9px
    }
     .fod-call-text {
         font-size: 17px;
         display: block;
         font-weight: bold;
         line-height: 15px;
    }
     .fod-inner-wrapper1 {
         display: table;
         padding: 15px 0 10px 0;
         table-layout: fixed;
    }
     .fod-container {
         margin-top: 8px;
    }
     .dont-miss-text {
         font-size: 14px;
         display: block;
    }
     .update-button {
         padding: 1px 7px;
         color: #ffffff;
         font-size: 13px;
         cursor: pointer;
         margin-left: 9px;
         letter-spacing: normal;
         position: relative;
         top: -1px;
    }
     .fod-row {
         margin-bottom: 2px;
    }
     #mobile-fod-cta {
         display: none;
         text-align: center;
         position: relative;
         width: 100%;
    }
     .fod-icon-box {
         top: 4px;
         left: 0;
         width: 16px;
         height: 16px
    }
     .fod-flight-icon1 {
         background-position: -28px -59px;
    }
     .fod-flight-icon2 {
         background-position: -52px -59px;
    }
     #hotel-name-fod {
         max-width: 70%;
         text-align: left;
    }
     .caret-icon {
         position: absolute;
         right: 4px;
         cursor: pointer;
    }
     .caret-icon, .small-text, .update-button, .onestop-wrapper span {
         vertical-align: middle;
    }
     .details-inner {
         width: 800px;
         display: table-cell;
         border-right: solid 1px;
    }
     .medium-header {
         font-size: 20px;
         font-weight: bold;
    }
     .ff-bold, .from-price-fod {
         font-weight: bold;
    }
     .fa-heart {
         color:$txt-favourate;
         font-size: 26px;
         padding-right: 17px;
    }
     .small-text {
         font-size: 16px;
    }
     .dinlineb, .hotel-options-wrapper span, .depart-and-arrive-text, .arrive-date, .fod-text-space, .fod-time-icon, .fod-time-info, .hidden-row, .onestop-wrapper span, .fod-show-trigger, .accurate-posting-desktop, .baggage-holder, .accurate-posting-desktop {
         display: inline-block;
    }
     .onestop-icon {
         width: 15px;
         height: 15px;
         margin-left: 4px;
         background-size: 100% auto!important;
         position: relative;
         left: -1px;
    }
     .onestop-label {
         font-size: 12px;
         max-width: 180px;
    }
     .baggage-label, .baggage-label span.txt-bold {
         font-size: 14px;
         line-height: normal;
    }
     .baggage-label span {
         font-size: 12px;
    }
     .baggage-per-mobile {
         display: none;
    }
     .goingnowair {
         background-position: -110px -277px;
    }
     .fod-text-space {
         font-size: 18px;
         vertical-align: top;
         color: #bcbdbd;
         top: 2px;
         height: 33px;
         width: 1px;
         background: #bcbdbd;
    }
     .max-height {
         height: 13px;
    }
     .hotel-options-wrapper {
         line-height: normal;
         overflow: hidden;
    }
     .pstn1 {
         top: -2px;
         max-width: 70%;
    }
     .fa-star {
         font-size: 15px;
         letter-spacing: 2px
    }
     .pdng1 {
         padding-top: 5px;
    }
     .hotel-location-fod {
         padding-right: 10px;
    }
     .violet {
         background-color:$bgnd-butterfly;
    }
     .out-fod-from, .out-fod-to, .in-fod-from, .in-fod-to {
         display: inline-block;
         white-space: pre-line;
         text-align: left;
    }
     .out-fod-from, .out-fod-to, .in-fod-from, .in-fod-to, .journeyroute span:nth-child(2), .hotel-options-wrapper span, .baggage-holder, .accurate-posting-desktop {
         vertical-align: top;
    }
     .desktop-price-block .fa-info-circle {
         font-size: 21px;
         padding: 3px 4px 3px 10px;
         cursor: pointer
    }
     .box-text {
         font-size: 22px;
    }
     .incl-flight-hotel {
         font-size: 12px;
         line-height: 1.08;
         display: block;
    }
     .desktop-txt-sup {
         top: 3px;
         right: 1px;
         font-size: 17px;
    }
     .fod-time-wrapper, .onestop-wrapper {
         display: none
    }
     .onestop-wrapper img {
         width: 15px;
         height: 15px;
    }
     .desktop-txt-sub {
         font-size: 14px;
         position: relative;
         left: -5px;
    }
     .depart-row {
         margin-top: 16px;
         border-top: solid 1px;
         padding: 11px 0 0 5px;
    }
     .journeyroute {
         font-size: 14px;
         font-weight: 600;
         text-align: left;
         max-width: 223px;
    }
     .icon-timer {
         background-position: -52px -1px;
         margin-right: 5px;
         top: -1px;
         padding-right: 4px;
    }
     .desktop-price-block {
         right: 9px;
         top: 0;
         border-left: solid 1px rgba(88, 89, 90, 0.4);
         padding-left: 8px;
    }
     .depart-and-arrive-text, .arrive-date {
         font-size: 14px;
         font-weight: normal;
         vertical-align: top;
    }
     .depart-and-arrive-text {
         width: 100%;
    }
     .hidden-row span {
         color: #868688;
    }
     .fod-time-icon {
         width: 15px;
         height: 15px;
         background-position: -76px -59px;
         margin-right: 3px;
         top: -1px;
    }
     .fod-time-info, .fod-time-icon {
         vertical-align: middle;
    }
     .green-text {
         color: #91BF47;
    }
     .fod-cta-anchor .fod-contact-icon {
         background: #91BF47
    }
     .inner-box-small-fixed {
         border-right: solid #b7b7b7 1px;
         padding-right: 20px;
    }
     .f-lt.inner-box-small.pstn-reltv {
         margin-left: 20px;
    }
     .inner-box-small-fixed, .inner-box-small {
         width: 300px
    }
     .quote-ref {
         font-size: 14px;
         margin-top: -5px;
    }
     .other-board {
         background: #eee;
         padding: 5px 10px 5px 10px;
         margin-top: 5px;
    }
     .content-lt {
         text-align: left;
    }
     .quote-ref-ato88addh {
         font-size: 13px;
         font-weight: 600;
         line-height: 1.23;
    }
     .contact-number {
         opacity: 0.9;
         font-size: 36px;
         font-weight: 600;
         letter-spacing: -1px;
         text-align: right;
         line-height: normal;
         white-space: nowrap;
    }
     .contact-number a, .contact-number {
         color:$txt-sunset;
    }
     .contact-number a, .contact-number, .contact-number .fa-phone, .contact-number .fa-phone:before {
         display: inline-block;
         vertical-align: middle;
    }
     .contact-number .fa-phone {
         padding-right: 10px;
         @include rotate(5deg);
         border-radius: 100px;
         border: 3px solid;
         width: 48px;
         height: 48px;
         margin-right: 5px;
    }
     .contact-number .fa-phone:before {
         position: relative;
         font-size: 38px;
         top: 1px;
         text-align: center;
         left: 2px;
    }
     .open-now {
         opacity: 0.9;
         font-size: 11px;
         font-weight: normal;
         text-align: right;
    }
     .glyphicon-triangle-top {
         top: 5px;
         right: 8px;
         font-size: 8px;
    }
     .boardType {
         font-size: 12px;
         color: #848586;
         text-transform: capitalize;
    }
     .price-text1 {
         text-align: right;
         font-weight: bold;
         font-size: 12px;
    }
     .details-wrapper {
         width: 98%
    }
     .flight-info-inner {
         padding-left: 30px;
    }
     .hotel-row {
         padding-left: 36px;
    }
     .flight-info-inner {
         text-align: left;
         width: 100%;
         position: relative;
         z-index: 2
    }
     .max-height2 {
         max-height: 35px;
    }
     .fod-show-trigger {
         cursor: pointer;
         font-size: 13px;
         max-width: 110px;
    }
     .accurate-posting-desktop, .outer-option, .fod-show-trigger {
         vertical-align: top;
    }
     .accurate-posting-desktop span {
         font-size: 12px;
    }
     .accurate-posting-desktop i {
         font-size: 12px;
         padding-right: 4px;
         position: relative;
    }
     .accurate-posting-desktop {
         padding-top: 0;
         display: none;
         padding: 1px 0 0 12px
    }
     .apd-show {
         display:
        /*inline-block*/
         none
    }
     .white-mask {
         width: 100%;
         height: 7px;
         background: white;
         bottom: 0px;
         right: -22px;
         display: none;
    }
     .hidden-row {
         width: 223px;
         text-align: center
    }
     .outer-option {
         margin: 20px 0 0 30px;
         clear: both;
         text-align: left
    }
     .text-break1, .text-break2, .mobile-data, .price-info-widget {
         display: none
    }
     .mb1 {
         margin-bottom: 5px;
    }
     .fod-staticmapcontainer {
         height: 304px;
         max-width: 1000px;
         margin: 30px auto 0 auto;
         cursor: pointer;
         display: none;
    }
     .show-location-wrapper {
         margin-top: 10px;
         cursor: pointer;
    }
     .lightgray {
         background:$bgnd-black-squeeze;
    }
     .box-shadow {
         @include box-shadow(0px 1px 11px rgba(0, 0, 0, 0.5));
         z-index:10;
    }
     .fod-cta-anchor .fod-contact-icon {
         width: 88px;
         height: 88px;
         right: 30px;
         bottom: -20px;
         z-index: 5;
    }
     .fod-cta-anchor .fod-contact-icon .fa-phone2 {
         color: #fff;
         top: 25px;
         left: 26px;
         font-size: 49px;
    }
     .price-info-label {
         top: 40px;
         right: -52px;
         background:$bgnd-lynch;
         color: #fbdb3e;
         padding: 16px 10px 16px 20px;
         font-size: 14px;
         z-index: 9;
         width: 280px;
         font-family: "proximanova-semibold";
         box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
         border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
         text-align: left
    }
     .price-info-label>span {
         color: #ddd;
         display: inline-block;
         font-family: 'proximanova-light'!important;
         line-height: 16px;
         margin: 10px 0 0;
         font-size: 14px;
         max-width: 90%;
    }
     .price-info-widget-arrow {
         background:$bgnd-lynch;
         height: 13px;
         position: absolute;
         top: 33px;
         transform: rotate(45deg);
         -moz-transform: rotate(45deg);
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         width: 13px;
         z-index: 18;
         right: 5px;
    }
     .icon-set {
         cursor: pointer;
    }
     .fod-save-hotel {
         font-size: 26px;
         cursor: pointer;
    }
     .desktop-heart-icon {
         top: 2px;
         left: 0;
    }
     .contact-number .ie-mask-phone {
         left: 53px;
    }
     .depart-row>.float-left {
         width: 100%;
    }
     .airline-baggage {
         padding: 0 0 0 20px;
         float: left;
         width: 155px;
         border-left: 1px solid #b7b7b7;
         display: block !important;
    }
     .baggage-icon {
         background-position: -220px -409px;
         width: 30px;
         height: 20px;
         padding: 0;
         top: 0;
         margin: 0px 8px 0 0;
    }
     .baggage-holder {
         display: flex;
    }
     .span.hotel-location-fod {
         font-size: 16px;
    }
     .many-flights-option>span {
         display: inline-block;
         text-align: center;
         font-size: 12px;
         padding: 5px 10px;
         line-height: 13px;
    }
     .many-flights-option>span.more-option {
         border-right: solid #fff 2px;
    }
     .debitcard-fee.desktop-price-block {
         border: none;
         bottom: 20px;
         top: initial;
         right: 0;
         left: auto;
    }
     .debitcard-fee span {
         font-size: 11px;
         color:$txt-lynch;
         display: inline-block;
         vertical-align: top;
         line-height: 29px;
    }
     .desktop-no-debit-card {
         padding-top: 5px;
    }
     .additional-txt {
         position: relative;
         top: 1px;
    }
     .desktop-no-debit-card i {
         font-size: 21px;
         padding-right: 5px;
         cursor: pointer
    }
    /* For Mobile Styles*/
     .search-sprite, .yotpo .yotpo-icon-share {
         background-image: url(https://resources.teletextholidays.co.uk/drupal/images/sprite/test/v20/serp-sprite.svgz);
    }
     .call-request-btn .call-icon {
         background-position: -204px -57px;
         height: 22px;
         min-width: 18px;
    }
     .call-request-btn .right-arrow {
         background-position: -128px -57px;
         width:20px;
         min-width:20px;
    }
     .content-split-row .strip-icon-atl {
         background-position: -126px -55px;
         display: inline-block;
         width: 84px;
         height: 36px;
         top: -3px;
    }
     .price-wrapper {
         position: relative;
         padding-right: 5px;
    }
     .change-date {
         color: #37bdd1;
    }
     .date--label {
         font-size: 32px;
    }
     .inner-row {
         padding-bottom: 36px;
         border-bottom: solid 1px
    }
     .fod-date-wrapper {
         padding: 43px 46px 0 46px;
         max-width: 100%;
    }
     .travel-inner-wrapper {
         position: relative;
         text-align: left;
         width: 90%;
    }
     .flight-wrapper, .price-and-icon, .fod-summary-stars, .inner-row, .flight-date-and-time {
         border-color: #bcbdbd!important;
    }
     .flight-wrapper {
         clear: both;
         border-bottom: solid 1px;
         padding: 41px 0;
         text-align: center;
         font-family: 'proximanova-light'!important;
    }
     .flight-wrapper:first-child {
         margin-top: 20px
    }
     .inner-wrapper, .fod-hotels {
         overflow: hidden;
    }
     .mobile-fod-flight-info {
         overflow: inherit;
    }
     .inner-wrapper .flight-icon1, .inner-wrapper .flight-icon2 {
         top: 20px;
         left: 0;
         position: absolute;
    }
     .inner-wrapper .flight-icon1 {
         background-position: -19px -467px
    }
     .inner-wrapper .flight-icon2 {
         background-position: -59px -466px
    }
    /* .inner-wrapper .flight-icon2, .inner-wrapper .flight-icon1{
        background-size:450px;
    }
     */
     .inner-wrapper .time-icon {
         background-position: -63px -287px;
         margin-right: 6px;
         position: relative;
         width: 24px;
         height: 24px;
    }
     .inner-wrapper .flight-icon1, .inner-wrapper .flight-icon2 {
         width: 33px;
         height: 33px;
    }
     .travel-to-label {
         font-weight: bold;
         font-size: 30px;
         text-align: left;
         display: block;
    }
     .travel-content {
         margin-left: 58px;
         text-align: right
    }
     .travel-to-label br {
         display: none
    }
     .flight-date-and-time {
         margin-top: 10px;
         text-align: center;
    }
     .active-flight-section {
         margin-top: 10px;
         padding-bottom: 10px;
         text-align: center;
    }
     .flight-icon1, .flight-icon2, .date-details, .fod-date-wrapper .space-line, .price-and-icon .fa-heart-o, .price-and-icon .fa-heart, .price-wrapper, .inner-wrapper .time-icon, .flight-divider-line, .airlines-label, .airlines-icon, .travel-inner-wrapper, .time-label, .price-tag--right .fa-heart {
         display: inline-block;
         vertical-align: middle;
    }
     .price-and-icon .fa-heart-o, .price-and-icon .fa-heart {
         font-size: 42px;
         font-weight: bold;
         padding-right: 24px;
    }
     .price-tag--right .fa-heart {
         font-size: 42px;
         font-weight: bold;
    }
     .travel-inner-wrapper .arrive-date, .travel-inner-wrapper .depart-date {
         font-size: 24px;
         color:$txt-lynch;
         margin: 0;
         padding: 0;
         display: block;
    }
     .fod-date-wrapper .space-line {
         margin: 0 10px;
         font-size: 16px;
         color: #d8d8d8;
    }
     .price-and-icon {
         margin-top: 10px;
         padding-left: 23px;
         border-left: solid 1px;
         display: block;
    }
     .price-star {
         font-size: 36px;
         right: 1px;
         bottom: 9px;
         position: absolute;
    }
     .price-fig {
         font-size: 50px;
         font-family: proximanova-bold!important;
    }
     .hotel-info-left {
         width: 50%;
    }
     .hotel-info-left .location--info {
         display: block;
         padding-top: 6px;
         font-size: 26px;
         font-family: 'proximanova-light' !important;
    }
    /* Responsiveness Styles */
     @media (max-width:1200px) {
         .inner-box-small-fixed, .inner-box-small {
             width: 270px;
        }
         .outer-option {
             width: auto;
        }

         .tth-container {
             max-width: 1100px
        }
    }
     @media (max-width:1140px) {
       .details-inner {
         width:74%;
       }
         .currentsrchdet {
             max-width: 95%;
        }
         .contact-num-tablet {
             display: block;
        }
         .contact-num-desktop {
             display: none
        }
         .hotel-info-wrapper {
             width: 72%;
        }
        /* component.search.forms */
         .input-destingtion-box {
             width: 25.1%;
        }
         .input-depart-box {
             width: 21%;
        }
         .input-departing-box {
             width: 10%;
        }
         .input-guests-box {
             width: 18.4%;
        }
         .mega-dropdown-items2 {
             right: 0;
        }
        .contact-number {
             font-size: 30px
        }
         .contact-number .fa-phone {
             width: 33px;
             height: 33px;
             border: 2px solid;
        }
         .contact-number .fa-phone:before {
             font-size: 23px;
             top: -1px;
        }
         .contact-number .ie-mask-phone {
             display: none;
        }
        /* FOD */
         .tth-container {
             max-width: 1000px
        }
         span.dash-txt {
             display: none
        }
         .desktop-no-debit-card {
             text-align: left;
             padding-left: 135px;
        }
         .desktop-no-debit-txt {
             max-width: 135px;
        }
         .desktop-no-debit-card {
             padding-top: 13px;
        }
    }
     @media (max-width:1024px) {
        /* component.search.forms */
         .mobile-input {
             font-size: 13px!important
        }
         .mobile-search-container {
             padding-top: 150px;
        }
        /* component.filters */
         .component-filters #search-results .col-md-3 {
             max-width: 200px;
        }
        /* Flight Details Tool Tip */
         .airlines-details-wrapper .close--icon {
             display: block;
        }
        /* Hotels List or Search Results */
         .hotel-offer-image-carousel .imgOffer, .hotel-image-hidden, .item_listtype, .item_listtype .serp-other-details {
             min-height: 210px;
        }
         .date-and-time-wrapper {
             line-height: 18px
        }
    }
     @media (max-width:991px) {
        /* Flight Details Tool Tip */
         .airlines-details-wrapper {
        }
        /* FOD */
         .trip-max {
             max-width: 95%;
             width: 95%;
        }
         .review-details-fod {
             width: 100%
        }
         .bigslide {
             width: 100%;
        }
         .placeBigImage {
             width: 59%;
             overflow: hidden;
        }
         .slideDesc {
             width: 41%;
             padding-right: 31px;
             overflow-y: auto;
        }
         .placeBigImage img {
             width: 100%;
        }
         .guidesmap {
             width: 100%;
        }
         .onestop-label {
             max-width: 170px;
             text-overflow: ellipsis;
             overflow: hidden;
             white-space: normal;
        }
         .onestop-label, .baggage-label, .outer-option .accurate-posting span {
             font-size: 10px;
        }
         .airline-baggage {
             padding-top: 0;
             position: relative;
             top: -8px;
        }
         .outer-option {
             width: auto;
        }
         .inner-box-small-fixed, .inner-box-small {
             width: 210px;
             border-right: solid #b7b7b7 1px;
        }
         .fod-time-wrapper, .onestop-wrapper {
             position: relative;
             top: -5px;
        }
         .outer-option .accurate-posting {
             position: relative;
             top: -1px;
        }
         .many-flights-option>span {
             display: inline-block;
             padding: 3px 10px
        }
         .outer-option {
             margin: 10px 0 0 20px;
        }
         .desktop-no-debit-card {
             padding-left: 20px;
        }
         .no-debit-card-wrapper {
             left: -175px;
        }
         .quote-ref {
             margin-top: 0;
        }
         .outer-option .clear {
             display: block
        }
        /* serp */
         .search-results-wrapper, .filter-sidebar {
             width: 100%;
             float: none;
             max-width: 100%;
        }
         .notfound-main-container {
             margin: 0 0 20px 0;
        }
         .affiliatebox {
             float: left;
             margin: 15px 0 12px 0;
        }
         .header-wrapper {
             margin: 10px auto 0;
        }
         .affiliateimgwrapper {
             width: 100px;
        }
         .hotel-info-wrapper {
             width: 67%;
        }
        /* component.search.forms */
         .late-deals #inpPrice>span {
             display: inline-block !important;
        }
        /* component.flight.details.css */
         .contact-number {
             font-size: 20px;
        }
         .contact-number .fa-phone {
             width: 28px;
             height: 28px;
        }
         .contact-number .fa-phone:before {
             font-size: 18px;
             left: 4px;
             top: 0;
        }
         .quote-ref {
             font-size: 11px;
        }
         .fod-call-text {
             font-size: 14px;
        }
         .dont-miss-text, .journeyroute, .hidden-row span {
             font-size: 12px;
        }
         .tth-container {
             max-width: 98%;
        }
         .text-break2 {
             display: block;
        }
         .fod-text-space {
             margin: 0 4px;
             position: relative;
             top: 3px;
             height: 27px;
        }
         .max-height {
             height: 13px;
        }
         .fod-time-icon {
             background-position: -76px -60px;
        }
         .baggage-icon {
             width: 40px;
             margin: 0px 5px 0 0;
        }
         .onestop-wrapper .txt-hide {
             display: none
        }
         .max-height2 {
             max-height: inherit;
        }
         .outer-option .fod-show-trigger {
             position: relative;
             z-index: 3;
        }
         .fod-depart-label, .fod-arrive-label {
             padding-right: 0;
        }
         .hidden-row {
             width: auto;
        }
         .flight-info-inner {
             padding-left: 22px;
        }
         .f-lt.inner-box-small.pstn-reltv {
             margin: 0 0 0 5px;
        }
         .inner-box-small-fixed {
             padding-right: 6px;
        }
         .journeyroute {
             font-size: 13px;
        }
         .airline-baggage {
             padding: 0 0 0 6px;
             width: 120px;
             border: none;
             top: 0;
        }
         .baggage-label span.txt-bold {
             font-size: 12px;
        }
    }
     @include breakpoint(mobile) {
         .call-request-btn {
             display: flex;
             background-color: #34b4c7;
             justify-content: space-between;
             align-items: center;
             padding: 5px 0 7px 0;
             color: #fff;
             margin-top: 15px
        }
        .price-and-icon {
          text-align:left;
        }
         .call-request-btn span {
             font-size: 16px
        }
         .call-request-btn p {
             font-size: 13px;
             line-height: 12px
        }
         .call-request-btn .call-icon, .call-request-btn .right-arrow {
             margin: 0 15px
        }
         .call-request-btn .call-icon {
             width: 22px;
             min-width:22px
        }
         .hotel-content {
             max-width: 100%;
             width: 100%;
        }
         .hotel-content .serp-view-details {
             max-width: 110px;
             padding: 8px 13px;
             font-size: 15px;
             right: auto;
             bottom: 0;
             -moz-border-radius: 0;
             -webkit-border-radius: 0;
             border-radius: 0;
             font-family: 'proximanova-bold'!important;
             line-height: 1.42857143;
        }
         .hotel-content {
             min-height: 120px
        }
        /* Message Boxes */
         .choose-your-hotel-icon .choose-your-hotel-icon-green {
             width: 18px;
             height: 18px;
        }
         .hotel--info {
             line-height: 15px;
        }
        /* FOD */
         .baggage-label .baggage-per-mobile {
             display: inline-block;
        }
         .baggage-label .baggage-per-web {
             display: none;
        }
         .fodDetails .col-md-12 {
             position: static;
        }
         .fod-mobile-callus {
             display: block;
        }
         .append-search {
             position: absolute;
             right: 0;
             left: 0;
             height: auto;
             display: none;
             top: 0;
        }
         #roomTypes, #distanceInfo, .fod-hotel-tag, .places-carousel-item .fa-heart-o {
             display: none!important
        }
         .hoteltitle {
             font-size: 18px;
        }
         .manymore {
             margin-top: 40px;
        }
         .manymore span {
             font-size: 21px;
             line-height: 24px;
             padding: 20px;
        }
         .manymore span, .call-availability i {
             display: inline-block;
             vertical-align: middle
        }
         .call-availability span {
             padding: 0;
        }
         .call-availability i {
             font-size: 44px;
             padding: 0 15px 0 5px;
             transform: rotate(19deg);
             -webkit-transform: rotate(19deg);
             -moz-transform: rotate(19deg);
             position: relative;
             top: 2px
        }
         .manymore .options-available {
             width: 40%;
             color: #fff;
             float: left;
        }
         .manymore .call-availability {
             width: 60%;
             float: left;
        }
         .mobile-no-debit-card {
             padding: 25px 0 0 0
        }
         .mobile-no-debit-card span {
             font-size: 24px;
        }
         .mobile-no-debit-card i {
             font-size: 35px;
             padding-left: 15px;
        }
         .mobile-no-debit-card span, .mobile-no-debit-card i {
             display: inline-block;
             vertical-align: middle;
        }
         .inner-row {
             padding-bottom: 10px;
        }
         .no-debit-card-wrapper {
             top: 75px;
             right: -10px;
             left: -10px;
             width: initial;
             padding: 26px 26px 0 26px
        }
         .fod-date-wrapper .no-debit-card-wrapper .border-bottom {
             border-bottom: solid #d8d8d8 1px;
             margin-bottom: 15px;
        }
         .no-debit-card-wrapper span, .no-debit-card-wrapper .txt-silver {
             font-size: 26px;
        }
         .no-debit-card-wrapper .txt-yellow {
             padding-bottom: 20px;
             line-height: 29px;
        }
         .no-debit-card-wrapper .price-info-widget-arrow {
             background:$bgnd-lynch;
             height: 30px;
             position: absolute;
             top: -6px;
             @include rotate(45deg);
             width: 30px;
             z-index: 18;
             right: 11px;
        }
         .no-debit-card-wrapper .ttip-content {
             padding-bottom: 25px;
             line-height: 26px;
        }
         .inner-wrapper .flight-icon1 {
             background-position: -3px -336px;
        }
         .inner-wrapper .flight-icon2 {
             background-position: -41px -336px;
        }
         .fod-summary-location-icon {
             background-position: -203px -271px;
        }
         .no-debit-card-wrapper .txt-silver, .no-debit-card-wrapper .ttip-txt-small {
             font-family: proximanova-light;
        }
         .ttip-content.txt-silver {
             line-height: 32px;
        }
         .no-debit-card-wrapper .ttip-txt-small {
             font-size: 20px;
        }
         .no-debit-card-wrapper span.txt-pp {
             font-size: 20px;
        }
         .hotel-info-wrapper {
             width: 100%;
        }
         .baggage-toggle {
             display: table !important;
             width: 100%;
        }
        /* component.mobile.flight.details.css */
         .baggage-label {
             font-size: 24px;
             padding-left: 10px;
             position: relative;
        }
         .travel-to-label br {
             display: block
        }
         .mobile-baggage-icon {
             background-position: -180px -371px;
             width: 20px;
             height: 40px;
        }
         .baggage-label, .mobile-baggage-icon {
             display: inline-block;
             vertical-align: middle;
        }
         .baggage-toggle {
             text-align: center
        }
         .baggage-toggle {
             border-top: solid #bcbdbd 1px;
             margin-top: 29px;
             padding-top: 17px;
        }
         .accurate-posting {
             color: #bfc0c0;
        }
         .inner-wrapper .time-icon {
             background-position: -77px -340px;
        }
         .accurate-posting i {
             font-size: 25px;
        }
         .airlines-toggle {
             max-width: 473px;
             padding-left: 30px;
        }
         .travel-content {
             max-width: 473px;
        }
        /* component.green.callus.css */
         .serp-call-us-wrapper {
             display: block
        }
        /* component.top.callus.css */
         .serp-call-us-wrapper {
             display: block
        }
        /* serp */
         .line-breck {
             display: inline-block;
        }
         .divhotelrescount {
             margin-top: 0;
             white-space: nowrap;
        }
         .mar-bot {
             max-height: inherit;
        }
         .hotel-content {
             margin: 0px 0 0px 20px;
             max-width: 100%;
             border-bottom: solid #bcbdbd 1px;
             padding-top: 0;
             width: 100%;
             min-height: 190px;
        }
         .mobile-hotel-info p {
             max-width: 80%;
             line-height: 36px;
             position: relative;
        }
         .mobile-hotel-info p span {
             font-size: 30px;
             text-align: left;
        }
         .mobile-hotel-info {
             padding: 6px 0 30px 0;
        }
         .hotel-content .priceTag {
             padding: 3px 0 1px 0;
             line-height: 17px;
        }
         .hotel-content .pp-text {
             font-size: 11px;
             left: -2px;
        }
         .hotel-content .prise-asterisk-symbol {
             font-size: 20px;
             right: 1px;
             top: 1px;
        }
         .icon--search, .hotel-content, .search-item-mobile .priceTag {
             position: relative;
        }
         .favourite-icon .fa-heart-o, .favourite-icon .fa-heart {
             font-size: 51px;
             font-weight: bold
        }
         .favourite-icon {
             padding-right: 21px;
             margin: 8px 10px 0 0;
             border-right: solid #bcbdbd 1px;
        }
         .mobile-hotel-info .call-us-icon {
             bottom: 37px;
             right: 0;
             width: 88px;
             height: 88px;
        }
         .mobile-hotel-info .call-us-icon .fa-phone {
             font-size: 66px;
             top: 13px;
             display: block;
             text-align: center;
             left: 0;
        }
         .hotel-place {
             top: 0;
             left: 0;
             position: relative;
        }
         .hotel-other-details .fa-star {
             font-size: 35px;
             color: #f07541;
             margin-right: 1px;
        }
         .pp-text {
             left: 0;
             font-size: 28px;
             font-weight: normal;
        }
         .prise-asterisk-symbol {
             font-size: 36px;
             right: 10px;
             font-weight: normal;
        }
         .mar-bot, .star-rating {
             margin-bottom: 0;
        }
         .hotel-content .hotel-tags {
             display: inline-block;
             position: static;
             margin-bottom: 5px;
        }
         .serp-right-arrow {
             width: 25px;
             height: 25px;
             top: 51px;
             right: 26px;
             @include rotate(45deg);
             border-top: solid #9b9b9d 2px;
             border-right: solid #9b9b9d 2px;
        }
         .top-seller, .recommended {
             font-size: 26px;
             font-family: 'proximanova-light'!important;
             display: inline-block;
             padding: 1px 7px;
        }
         #serp-exp-container .mobile-search-fields {
             max-width: 100%;
             width: 100%;
        }
         .refine-results-div, .label-box, .label-box, .refine-results-div {
             float: none;
        }
         .label-box, .refine-results-div, .refine-filter-arrow-down, .refine-filter-level-icon, .sort-style, .serp-call-us, .call-us-icon .fa-phone {
             position: relative;
        }
         .refine-results-div, .refine-filter-arrow-down, .refine-filter-level-icon, .label-box {
             vertical-align: top;
        }
         .sort-active, .price-title, .refine-filter-level-icon, .label-box, .rating-mobile, .call-us-icon, .call-us-time, .refine-filter-arrow-down, .refine-results-div {
             display: inline-block
        }
         .stars-div {
             border-bottom: solid #eaeaea 2px
        }
         .header-wrapper {
             max-width: 100%;
             width: 100%;
             padding: 14px 46px 0 46px;
             position: relative;
             z-index: 3;
             border: none;
             height: 77px;
        }
         .refine-filter-arrow-down {
             width: 9px;
             height: 9px;
             transform: rotate(45deg);
             -moz-transform: rotate(45deg);
             -webkit-transform: rotate(45deg);
             -o-transform: rotate(45deg);
             border-bottom: solid #58595b 2px;
             border-right: solid #58595b 2px;
             top: 3px;
             left: 8px;
        }
         .sort-active {
             padding: 0 12px 6px 11px;
             border-bottom: solid #fff 1px;
        }
         .sort-active-border {
             border-bottom: solid #f2f2f2 1px;
        }
         .label-box {
             padding-bottom: 0;
             z-index: 2;
        }
         .price-tag--right {
             position: relative;
             top: 3px;
        }
         .ref-code {
             display: block;
             font-size: 22px;
             color: #58595b;
             top: 3px;
             clear: both;
             white-space: nowrap;
        }
         .hotel-info-left {
             padding-top: 49px;
        }
        /* component.search.forms */
         .mobile-option-reset, .for-desktop {
             display: none!important;
        }
         .for-mobile-devices {
             display: inline-block;
        }
         .margin-right1 {
             margin: 0px 1.2% 0px 0px
        }
         .noflightsavailable {
             top: -4px;
             left: 21px;
        }
         html, body {
             overflow: hidden;
        }
         .stop-body-scroll {
             overflow: hidden!important
        }
         .search-by-time-price-box {
             top: 40px !important;
        }
         margin-top: 0;
         width:100%;
         .fod-date-wrapper-mobile {
             overflow: hidden;
             padding: 43px 46px 0 46px
        }
         .mar-bot .RecommendedOffers {
             position: absolute;
             left: 0;
             z-index: 2;
        }
         .inc-flight-hotel {
             font-size: 12px;
             line-height: 1.08;
             display: block;
             color: #58595b;
             clear: both;
             border-bottom: solid 2px rgba(88, 89, 91, 0.2);
             padding-bottom: 10px;
             margin-right: 10px;
        }
         .favourite-icon {
             border-right: 0;
        }
         .favourite-icon .fa-heart-o {
             font-size: 23px;
        }
         .search-item-mobile .call-quote-container, .search-item-mobile .priceTag {
             display: none;
        }
         .search-item-mobile .serp-view-details {
             right: 0;
             font-size: 15px;
             border-radius: 2px;
             margin-bottom: 5px;
        }
         .search-item-mobile .trip-adv-reviews {
             font-size: 12px;
             float: right;
             margin: 0;
        }
         .viewdeal-arrow {
             width: 14px;
             height: 12px;
             display: inline-block;
        }
         .favourite-icon .fa-heart-o, .favourite-icon .fa-heart {
             font-size: 24px;
        }
         .othr-board-options {
             background: #f2f2f2;
             padding: 5px 20px 8px 12px;
             margin-top: 15px;
        }
         .othr-board-options .price-val, .othr-board-option-row .float-left, .othr-board-option-title {
             font-size: 13px;
        }
         .othr-board-options .pp-text {
             font-size: 9px;
        }
         .othr-board-options .prise-asterisk-symbol {
             font-size: 7px;
             line-height: 9px;
             top: 7px;
             right: -4px;
        }
         .othr-board-options .priceTag {
             color: #6e3d7c;
             background: transparent;
             font-size: initial;
             line-height: normal;
             padding: 0;
             display: inline-block;
        }
         .search-item-mobile .othr-board-options .priceTag {
             line-height: 13px;
        }
         .othr-board-option-row {
             clear: both;
        }
         .othr-board-options, .serp-call {
             display: table;
             width: 100%
        }
         .serp-call {
             border-top: 2px solid rgba(88, 89, 91, 0.2);
             margin-top: 15px;
             padding-top: 8px;
        }
         .serp-callicon, .serp-call-middle, .serp-quote-ref {
             display: table-cell;
        }
         .serp-callicon {
             color: #f07541;
             font-size: 20px;
             vertical-align: middle;
             transform: rotate(20deg);
             padding-right: 6px;
             padding-top: 5px;
        }
         .serp-call .call {
             font-size: 16px;
             color: #58595b;
             line-height: 18px;
        }
         .serp-call .call-number {
             font-size: 22px;
             color: #f07541;
             line-height: 22px;
        }
         .serp-call .serp-quote-ref {
             font-size: 12px;
             width: 88px;
        }
         .filter-serp .filter-left {
             display: inline-block;
             padding: 0 10px;
        }
         .viewdeal-arrow {
             width: 19px;
             height: 15px;
             margin: 2px 0 0 5px;
             background-position: -128px -59px;
             float: right;
        }
         .price-change-txt {
             display: none;
        }
         .limited-availability .price-change-txt {
             display: block;
             padding: 10px;
        }
         .mobile-strip {
             margin-bottom: 0;
        }
         .price-val {
             padding-right: 2px;
        }
         .mobile-hotel-info p.no-TA {
             position: relative;
             top: -15px!important;
        }
    }
     @media (max-width:670px) {
        /* serp */
         .fod-date-wrapper-mobile {
             padding: 56px 46px 0 46px;
        }
         .serp-banner {
             padding: 20px 30px 20px 30px;
        }
         .header-wrapper {
             padding: 14px 30px 0 30px
        }
         .trip-adv-reviews {
             margin-top: 7px;
        }
         .price-change-txt {
             font-size: 22px;
        }
         .top-seller, .recommended {
             font-size: 22px;
        }
         .mobile-hotel-info .call-us-icon {
             width: 78px;
             height: 78px;
        }
         .mobile-hotel-info .call-us-icon .fa-phone {
             font-size: 57px;
        }
         .mobile-hotel-info p {
             line-height: 32px;
        }
         .mobile-hotel-info p span {
             font-size: 26px;
        }
         .search-item-mobile .priceTag {
             font-size: 42px;
        }
         .favourite-icon .fa-heart-o, .favourite-icon .fa-heart {
             font-size: 40px;
        }
         .favourite-icon {
             margin: 11px 10px 0 0;
        }
         .hotel-other-details .fa-star {
             font-size: 26px;
        }
         .fod-hotel-call {
             width: 88px;
             height: 88px;
        }
         .fod-hotel-call i {
             font-size: 68px;
        }
        /* fod */
         .travel-to-label {
             font-size: 26px;
             line-height: 32px;
        }
         .change-date {
             font-size: 24px;
        }
         .price-fig {
             font-size: 42px;
        }
         .fod-summary-reviews {
             font-size: 24px;
        }
         .fod-hotel-title {
             font-size: 32px;
        }
         .fod-hotel-location {
             font-size: 27px;
        }
         .item-content p {
             line-height: 32px;
        }
    }
     @media (max-width:639px) {
        /* FOD */
         .fod-date-wrapper-mobile {
             padding: 28px 23px 0 0;
        }
         .hotel-info-left {
             padding-top: 25px;
        }
         .travel-to-label br {
             display: none
        }
         .fod-hotel-title {
             font-size: 16px;
        }
         .fod-hotel-location {
             font-size: 18px;
        }
         .fod-hotels-images {
             height: 200px;
        }
         .mobile-hotel-info p {
             top: -5px;
             line-height: 30px;
             padding-bottom: 10px;
        }
         .fod-mobile-callus {
             min-height: initial;
             padding: 5px;
        }
         .price-change-txt {
             padding: 0;
             margin: 0;
             font-size: 14px;
        }
         .mobile-header-txt {
             font-size: 16px;
        }
         .mobile-sub-header-txt {
             font-size: 18px;
        }
         .places-carousel-image {
             height: 240px;
        }
         .flight-wrapper {
             padding: 14px 0;
        }
         .baggage-toggle {
             margin-top: 16px;
        }
         .inner-row {
             padding-bottom: 15px
        }
         .active-flight-section {
             padding-bottom: 10px;
        }
         .inner-wrapper .time-icon {
             background-position: -96px -60px;
             width: 12px;
             height: 12px;
             top: 0px;
        }
         .inner-wrapper .flight-icon1, .inner-wrapper .flight-icon2 {
             width: 17px;
             height: 17px;
        }
         .inner-wrapper .flight-icon1, .inner-wrapper .flight-icon2 {
             top: 8px;
             background-position: -51px -59px;
        }
         .inner-wrapper .flight-icon1 {
             background-position: -28px -59px;
        }
         .airlines {
             padding-top: 0;
        }
         .travel-content {
             max-width: 200px;
             margin-left: 27px;
        }
         .active-flight-section {
             margin-top: 5px;
        }
         .airlines-toggle {
             padding: 10px 0 0 18px;
             max-width: 293px;
             font-size: 12px;
        }
         .travel-inner-wrapper {
             width: 100%;
        }
         .price-sub {
             font-size: 14px;
        }
         .price-fig {
             font-size: 34px;
        }
         .travel-inner-wrapper .arrive-date, .travel-inner-wrapper .depart-date, .airlines-label, .time-label, .location--info, .hotel-info-left .location--info {
             font-size: 13px;
        }
         .change-date {
             font-size: 12px;
        }
         .header-wrapper {
             height: 36px;
             padding: 0px 10px 0 10px;
             margin-top: 14px;
        }
         .top-seller, .recommended {
             font-size: 11px;
        }
         .item-content {
             padding: 15px 15px;
             min-height: 250px;
        }
         .tth-section {
             padding: 30px 0;
        }
         .hotel-review-section {
             margin: 10px 0 10px 0;
             padding-bottom: 10px;
        }
         .search-hotel--title {
             font-size: 19px;
        }
         .search-hotel--label {
             font-size: 14px;
             line-height: 17px;
        }
         .expand-serch {
             padding: 12px 10px;
        }
         .icon-holder {
             top: 14px;
             left: 15px;
             margin: 0;
        }
         .hotel-other-details .fa-star {
             font-size: 13px;
        }
         .mobile-hotel-info p span {
             font-size: 13px;
             line-height: 13px;
        }
         .mobile-hotel-info .call-us-icon {
             width: 44px;
             height: 44px;
             bottom: 5px;
        }
         .mobile-hotel-info .call-us-icon .fa-phone {
             font-size: 26px;
             top: 9px;
        }
         .fod-mobile-callus-label-small {
             font-size: 13px;
        }
         .priceTag {
             padding: 2px 0px 1px 10px;
        }
         .places-carousel-item .price-fig {
             font-size: 21px;
        }
         .other-hotels-carousel-inner .item-content {
             min-height: inherit;
             max-height: inherit;
        }
         .accurate-posting span {
             font-size: 12px;
        }
         .searchdetails {
             max-width: 200px;
             margin-right: 0;
        }
         .item_listtype .trip-adv-reviews {
             font-size: 12px;
             clear: both;
             padding: 7px 0 0 0;
             display: block;
        }
         .search-item-mobile .priceTag, .price-tag--right .fa-heart {
             font-size: 21px;
        }
         .favourite-icon .fa-heart-o, .favourite-icon .fa-heart {
             position: relative;
             top: 2px;
             font-size: 24px;
        }
         .prise-asterisk-symbol {
             font-size: 18px;
             right: 0;
             top: 0
        }
         .serp-right-arrow {
             right: 15px;
             top: 40%
        }
         .mobile-baggage-icon {
             background-position: -220px -407px;
             width: 15px;
             height: 25px;
        }
         .accurate-posting i {
             font-size: 11px;
             padding-right: 7px;
        }
         .accurate-posting {
             padding-top: 5px;
             display: none
        }
         .other-hotels-carousel .item-content .mobile-header-txt {
             font-size: 13px;
        }
         .places-carousel .item-content .mobile-header-txt {
             font-size: 14px;
             padding-bottom: 5px;
        }
         .places-carousel-item .mobile-sub-header-txt {
             font-size: 12px;
        }
         .other-hotels-carousel .fa-star {
             font-size: 12px;
             top: -4px
        }
         .places-carousel-item .location--info, .places-carousel-item .fod-summary-reviews {
             font-size: 16px;
        }
         .travel-to-label {
             font-size: 13px;
             line-height: normal;
             font-family: 'proximanova-regular'!important
        }
         .change-date-column {
             width: 45%;
        }
         .price-fig {
             font-size: 21px;
        }
         .price-star {
             font-size: 18px;
             bottom: 2px;
        }
         .author-wrapper {
             padding: 4px 0 7px;
        }
         .white-button {
             margin: 17px 0 0px 0;
        }
         .fod-summary-stars {
             padding: 0px 8px;
             margin: 0px 8px;
             height: 12px;
             top: -2px;
        }
         .fod-hotels {
             min-height: 200px;
             max-height: 200px;
        }
         .fod-hotel-call {
             width: 44px;
             height: 44px;
             right: 25px;
             bottom: 21px;
        }
         .fod-hotel-call i {
             font-size: 28px;
             top: 10px;
        }
         .fod-hotel-name-strip {
             padding: 11px 0 12px 0px;
        }
         .fod-mobile-callus-label-small span {
             margin: 0 5px;
             font-size: 16px;
        }
         .fod-mobile-callus-icon i {
             font-size: 25px;
             margin-right: 4px;
        }
         .fod-mobile-callus-label {
             font-size: 18px;
        }
         .user-search--info {
             margin-left: 40px;
        }
         .fod-hotel-location, .location--info {
             font-size: 14px;
        }
         .mobile-sub-header-txt {
             font-size: 13px;
        }
         .item-content p {
             font-size: 13px;
             line-height: 16px;
        }
         .hotel-review-section .fod-summary-stars {
             margin: 0 6px 0 0;
             padding: 0 6px 0 0;
        }
         .places-carousel-item .fod-summary-reviews {
             font-size: 11px;
        }
         .places-carousel-item .location--info {
             font-size: 11px;
             line-height: 14px;
        }
         .fod-date-wrapper {
             padding: 18px 20px 0 20px
        }
         .price-and-icon .fa-heart-o, .price-and-icon .fa-heart {
             padding-right: 7px;
             font-size: 19px;
        }
         .price-and-icon {
             padding-left: 10px;
             margin-left: 10px;
             line-height: 17px;
        }
         .date--label {
             font-size: 16px;
             font-weight: bold;
        }
         .travel-inner-wrapper .depart-date, .time-label, .airlines-label, .travel-inner-wrapper .arrive-date {
             font-size: 12px;
        }
         .flight-divider-line {
             height: 35px;
             top: 2px;
             vertical-align: top;
        }
         .divider-line-toggle {
             height: 12px;
             top: 3px;
        }
         .baggage-label {
             font-size: 14px;
             top: 0;
        }
         .baggage-toggle {
             text-align: left
        }
         .user-update-btn, .tellus-info {
             font-size: 12px;
             padding: 3px 8px 2px 8px;
             top: 10px;
        }
         ;
    }
    /* .component-filters .refine-search .refine-result-subtitle{
        margin:5px 0 4px;
    }
     */
     .manymore {
         margin-top: 20px;
    }
     .manymore span {
         font-size: 12px;
         line-height: 12px;
         padding: 10px;
    }
     .call-availability span {
         padding: 0;
    }
     .call-availability i {
         font-size: 20px;
         padding: 0 15px 0 5px;
         transform: rotate(19deg);
         -webkit-transform: rotate(19deg);
         -moz-transform: rotate(19deg);
         position: relative;
         top: 2px
    }
     .airlines-icon {
         width: 15px;
         height: 15px;
    }
     .mobile-no-debit-card {
         padding: 12px 0 10px 0
    }
     .mobile-no-debit-card span {
         font-size: 12px;
    }
     .mobile-no-debit-card i {
         font-size: 18px;
         padding-left: 10px;
    }
     .mobile-no-debit-card span, .mobile-no-debit-card i {
         display: inline-block;
         vertical-align: middle;
    }
     .ref-code {
         font-size: 11px;
         top: 3px;
    }
     .price-tag--right {
         top: -5px;
    }
     .no-debit-card-wrapper {
         top: 42px;
         right: -10px;
         left: -10px;
         padding: 16px 16px 0 16px
    }
     .no-debit-card-wrapper .border-bottom {
         margin-bottom: 15px;
    }
     .no-debit-card-wrapper .txt-silver, .no-debit-card-wrapper span {
         font-size: 13px;
    }
     .no-debit-card-wrapper .txt-yellow {
         padding-bottom: 6px;
         line-height: 14px;
    }
     .no-debit-card-wrapper .price-info-widget-arrow {
         top: -6px;
         right: 11px;
         width: 13px;
         height: 13px;
    }
     .no-debit-card-wrapper .ttip-content {
         padding-bottom: 15px;
         line-height: 16px;
    }
     .no-debit-card-wrapper .border-bottom {
         margin-bottom: 15px;
    }
     .ttip-content.txt-silver {
         line-height: 16px;
    }
     .no-debit-card-wrapper .ttip-txt-small {
         font-size: 12px;
    }
     .no-debit-card-wrapper span.txt-pp {
         font-size: 10px;
         color: #ddd;
    }
     @media (max-width:420px) {
         .travel-to-label br {
             display: block
        }
         .ref-code {
             top: -2px;
        }
    }
     @media (max-width:374px) {
         .mobile-no-debit-card span {
             letter-spacing: -0.3px
        }
         .mobile-no-debit-card i {
             padding-left: 5px;
        }
         .change-date-column {
             width: 48%;
        }
         .search-hotel--title {
             font-size: 16px;
        }
         .user-search--info {
             margin-left: 20px;
        }
         .icon-holder {
             top: 8px;
             left: 10px;
        }
         .mobile-hotel-info p {
             line-height: inherit;
        }
         .mobile-hotel-info .call-us-icon .fa-phone {
             font-size: 30px;
             top: 8px;
        }
         .serp-banner {
             padding: 10px 15px 10px 15px
        }
         .item-content {
             min-height: 270px;
             padding: 15px 10px;
        }
         .other-hotels-carousel .fa-star {
             font-size: 14px;
             top: -3px;
        }
         .airlines-label {
             font-size: 12px;
        }
         .content-split-row {
             margin: 10px 0
        }
         .split-section-left {
             padding-right: 15px;
        }
         .time-label {
             top: -1px;
        }
         .inner-wrapper .time-icon {
             top: -2px;
        }
         .baggage-label, .accurate-posting span {
             font-size: 11px;
        }
         .baggage-label {
             padding-left: 4px;
        }
         .fod-mobile-callus-label-small {
             font-size: 11px;
        }
         .price-fig {
             font-size: 20px;
        }
         .top-seller, .recommended {
             font-size: 11px;
        }
         .hotel-other-details .fa-star {
             font-size: 12px;
        }
         .hotel-place {
             top: 0;
        }
        /* .search-item-mobile .trip-adv-reviews{
            padding-left:0px;
        }
         */
         .mobile-hotel-info .call-us-icon {
             width: 44px;
             height: 44px;
             bottom: 5px;
        }
         .search-item-mobile .priceTag {
             font-size: 21px;
             top: -3px
        }
         .prise-asterisk-symbol {
             font-family: 'proximanova-light' !important;
        }
         .search-hotel--label {
             font-size: 12px;
             line-height: 15px;
        }
         .price-change-txt {
             font-size: 11px;
        }
         .header-wrapper {
             height: 35px;
        }
         .bookthis-container {
             padding: 23px 0 8px 0;
        }
         .favourite-icon {
             padding-right: 10px;
        }
         .price-tag--right {
             top: 0;
        }
    }
     .hotel-content {
         min-height: 190px;
         position: relative;
         max-width: inherit;
         width: 58.5%;
    }
     .hotel-content .serp-view-details {
         display: inline-block;
         max-width: 94px;
         padding: 5px 10px;
         color: #fff;
         font-size: 16px;
         right: 20px;
         bottom: 20px;
         line-height: normal;
         -moz-border-radius: 2px;
         -webkit-border-radius: 2px;
         border-radius: 2px;
         -webkit-transition: all 0.3s ease;
         transition: all 0.3s ease;
    }
     .hotel-content .serp-view-details:hover {
         background: #89B443;
    }
}
