@font-face {
  font-family: 'proximanova-regular', sans-serif;
  font-display: auto;
  src: local('Arvo'), url(https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-regular.woff) format('woff2');
}
