@font-face{
  font-family:'proximanova-regular';
  src:url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-regular.eot') format('embedded-opentype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-regular.woff') format('woff'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-regular.ttf') format('truetype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-regular.svg') format('svg'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-regular.otf') format('otf');
}

@font-face{
  font-family:'proximanova-semibold';
  src:url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-semibold.eot') format('embedded-opentype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-semibold.woff') format('woff'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-semibold.ttf') format('truetype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-semibold.svg') format('svg'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-semibold.otf') format('otf');
}

@font-face{
  font-family:'proximanova-light';
  src:url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-light.eot') format('embedded-opentype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-light.woff') format('woff'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-light.ttf') format('truetype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-light.svg') format('svg'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-light.otf') format('otf');
}

@font-face{
  font-family:'proximanova-bold';
  src:url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-bold.eot') format('embedded-opentype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-bold.woff') format('woff'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-bold.ttf') format('truetype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-bold.svg') format('svg'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-bold.otf') format('otf');
}
@font-face{
  font-family:'proximanova-black';
  src:url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-black.eot') format('embedded-opentype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-black.woff') format('woff'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-black.ttf') format('truetype'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-black.svg') format('svg'),
  url('https://resources.teletextholidays.co.uk/drupal/fonts/proximanova/proximanova-black.otf') format('otf');
}
