.grid-box {
  width:100%;
}
.middle {
  margin:0 auto;
}
.grid-row {
	margin-left:-15px;
	margin-right:-15px;
}
.align-items {
	align-items:center;
}
.flex-i {
	display:-ms-flexbox;
	display:flex;
}
.grid-row-stay {
  display:-ms-flexbox;
	display:flex;
}
.grid-auto {
	flex:1;
	flex-basis:0;
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	-ms-flex-preferred-size:0;
  padding-right:20px;
  padding-left:20px;
}
.justify-content {
	justify-content:center;
}
.align-items-center-g > div {
	align-self:center;
}
.align-items-start-g > div {
	align-self:start;
}
.align-items-end-g > div {
	align-self:flex-end;
}
.flex-g > div {
	display:-ms-flexbox;
	display:flex;
}
.flex-edge {
	justify-content:space-between;
}
[class*=grid-col-] {
	-webkit-box-flex:0;
	width:100%;
	padding-right:20px;
	padding-left:20px;
}


@media(min-width:500px) {
	.grid-box {
		flex-basis:0;
		flex:1;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding-right:20px;
		padding-left:20px;
		width:100%;
	}
	.grid-row {
		display:flex;
		flex-wrap:wrap;
		display:-ms-flexbox;
		-ms-flex-wrap:wrap;
	}
	.flex-edge .grid-box {
		flex:inherit;
		flex-grow:inherit;
		width:inherit;
	}
	.grid-col-1 {
		max-width:8.333333%;
	}
	.grid-col-2 {
		max-width:16.666667%;
	}
	.grid-col-3 {
		max-width:25%
	}
	.grid-col-4 {
		max-width:33.333333%;
	}
	.grid-col-5 {
		max-width:41.666667%;
	}
	.grid-col-6 {
		max-width:50%;
	}
	.grid-col-7 {
		max-width:58.333333%;
	}
	.grid-col-8 {
		max-width:66.666667%;
	}
	.grid-col-9 {
		max-width:75%;
	}
	.grid-col-10 {
		max-width:83.333333%;
	}
	.grid-col-11 {
		max-width:91.666667%;
	}
	.grid-col-12 {
		max-width:100%;
	}
}
