.hotel-categories-titles {
  margin-bottom: 20px;
  overflow: hidden;

  .title-sec {
    max-width: 80%;
  }

  h2 {
    font-size: 28px;
    color: #58595b;
    display: block;
    line-height: 32px;
    margin: 0 0 6px;
  }

  p {
    font-size: 16px;
  }
}
@include breakpoint(small-desktop) {
  .hotel-categories-titles, .nav-items {
    padding: 0 20px;
  }
}
