.hp-reviews{margin:0;padding:40px 0 0px 0;}
.hp-reviews .cursor-pointer{cursor:pointer;}
.hp-reviews .review-carousel-star-green-box{padding-bottom:7px;}
.hp-reviews .review-carousel-main{text-align: center;overflow:hidden;padding-bottom:115px;}
.hp-reviews .rvw-customer-main{float:left;margin-right: 5%;text-align: left;vertical-align: top;width: 22%;}
.hp-reviews .rvw-customer-main h2{font-size:28px;margin:0 0 20px 0;padding:0;}
.hp-reviews .rvw-customer-main p{font-size:17px;margin:0 0 25px 0;line-height:1.29;letter-spacing:-0.3px;}
.hp-reviews .rvw-read-more-reviews{position:relative;font-size:14px;padding:16px 75px 14px 20px;border:0;color:#fff;cursor:pointer;}
.hp-reviews .rvw-customer-carousel-main{float:left;margin:0;width:73%;}
.hp-reviews #review-carousel.review-carousel{width:96%;}
.hp-reviews	.owl-carousel{position:relative;}
.hp-reviews .owl-wrapper-outer{padding:0 0 20px 0;overflow:hidden;position:relative;width:100%;}
.hp-reviews .owl-wrapper{position:relative;}
.hp-reviews .carousel-stars-yellow i{font-size:15px;color:$txt-yellow;}
.hp-reviews .carousel-stars-yellow span{display:block;padding:2px 0 2px 0;font-size:10px;}
.hp-reviews .classDivFeefo .carousel-stars-yellow{border-right:1px solid #b7b7b7;padding:0 10px 0 0;margin-right:10px;vertical-align:top;display:inline-block;}
.hp-reviews .classDivFeefo .reveiw-carousel-dsply-inl-blk{display:inline-block;}
.hp-reviews .owl-item>div{padding:24px 30px 18px 27px;position:relative;margin:5px 5px;background:#fff;text-align:left;height:270px;transition:all .3s cubic-bezier(0,0,0,1);-webkit-transition:all .3s cubic-bezier(0,0,0,1);-moz-transition:all .3s cubic-bezier(0,0,0,1);-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.2);}
.hp-reviews .owl-item>div:hover{-webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 0 8px 0 rgba(0,0,0,0.2);-moz-box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1),0 0 8px 0 rgba(0,0,0,0.2);box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 0 8px 0 rgba(0,0,0,0.2);transition: all .2s ease-in-out;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;}
.hp-reviews .color{border-radius:2px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin-right: 2px;width: 21px;height: 21px;}
.hp-reviews a p{padding-top:10px;color:#2d3c4d;font-size:15px;overflow:hidden;-webkit-line-clamp:5;display:-webkit-box;text-overflow:ellipsis;-webkit-box-orient:vertical}
.hp-reviews a h3,	.hp-reviews hr, .hp-reviews .owl-pagination, .hp-reviews .review-carousel-trust, .hp-reviews .owl-buttons, .hp-reviews .rvw-read-more-reviews .read-hide{display:none;}
.hp-reviews .review-name-carousel{position:absolute;bottom:18px;}
.hp-reviews .review-carousel-usericon, .hp-reviews .review-carousel-userneme-time, .hp-reviews .new-trust, .hp-reviews .review_rtng_bar_left, .hp-reviews .review_rtng_bar_right, .hp-reviews .customer-review, .hp-reviews .trust-logo, .hp-reviews .feefo-icon, .hp-reviews .space{vertical-align:middle;}
.hp-reviews .customer-review{width: 110px; height:21px; margin:5px 0 0 0;}
.hp-reviews .review-carousel-usericon{width:14px;height:14px;margin-right:5px;}
.hp-reviews .review-carousel-userneme-time b{font-size:15px;clear:both;display:block;height:18px;overflow:hidden;width:140px;margin-bottom:2px;}
.hp-reviews span.reviews-pblshd-time{display:block;font-size:13px;opacity:0.7;}
.hp-reviews .new-trust{width:100px;height:30px;margin:-8px 0 0;}
.hp-reviews .new-trust img{width: 100%;height: auto;object-fit: cover;}
.hp-reviews	.review_banner_rating_bar{position:absolute;left:0;right:0;bottom:-30px;background:#fff;box-shadow:0 12px 18px 0 $box-shadow-color;-moz-box-shadow:0 12px 18px 0 rgba(45, 60, 77, 0.31);-webkit-box-shadow:0 12px 18px 0 rgba(45, 60, 77, 0.31);padding:26px 0 22px 0;z-index:2;text-align:center;}
.hp-reviews .review_rtng_bar_left{width:343px;}
.hp-reviews .review_rtng_bar_right{width:333px;}
.hp-reviews .ftr-review-white-box{width:100%;bottom:-30px;z-index:1;position:absolute;}
.hp-reviews .trust-logo{width:130px;height:auto;margin-right:10px;}
.hp-reviews .trust-logo img{width:100%}
.hp-reviews .review_bnr_rtng	{padding:0 0 8px 0;}
.hp-reviews #totalTrustPilotRate, .hp-reviews #totalFeefoRate{font-size:17px;}
.hp-reviews .star_yellow .fa{font-size:17px;color:#ffdd00;}
.hp-reviews .feefo-icon{width:82px;height:20px;}
.hp-reviews .review_rtng_bar_right .feefo-icon{margin-right:15px;}
.hp-reviews .review_rtng_bar_right .feefo-icon img{width:100%;}
.hp-reviews #rateFeefo{padding-right:5px;}
.hp-reviews .space{width:2px;height:70px;opacity:0.2;background:#2d3c4d;margin:0 55px 0 55px;}
.hp-reviews .trust-pilot-review{width:110px;height:21px;}
.hp-reviews .review_rtng_bar_left, .hp-reviews .review_rtng_bar_right{text-align:left;}
.hp-reviews .more-reviews{position:absolute;width:19px;height:15px;right:10px;top:0;bottom:0;margin:auto;}
.review-scroll, .review-link{display:block;overflow:hidden;height:125px;}
.hp-reviews .more-reviews .arrow-left {border-top: solid #fff 1px;border-right: solid #fff 1px;width: 9px;height: 9px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg); }
.hp-reviews .more-reviews .arrow-line {width: 18px;left: -8px;height: 1px;top: 7px;}

@media(max-width: 1140px){
  .hp-reviews{padding-top:55px;}
  .hp-reviews	.review_banner_rating_bar{width:auto;left:40px;right:40px;}
  .hp-reviews .rvw-customer-main	{width:25%;margin-right:7%;}
  .hp-reviews .rvw-customer-carousel-main{width:68%;}
  .hp-reviews .review-carousel-main{padding-bottom:100px;}
  .hp-reviews .review_rtng_bar_left{width:348px;}
  .hp-reviews .classDivFeefo .carousel-stars-yellow{border:none;}
}

@media(max-width: 991px){
  .hp-reviews .rvw-customer-main	{width:30%;margin-right:5%;}
  .hp-reviews .rvw-customer-carousel-main{width:64%;}
  .hp-reviews .space{margin:0 24px;}
  .hp-reviews a p, .hp-reviews .res_display_none{font-size:13px;}
  .hp-reviews .review_bnr_rtng{font-size:14px;}
  .hp-reviews .review-carousel-userneme-time b, .hp-reviews .rvw-customer-main p{font-size:15px;}
  .hp-reviews .rvw-customer-main h2{font-size:24px;}
  .hp-reviews .trust-logo{width:110px;}
  .hp-reviews .review_rtng_bar_left .color{width:16px;height:16px;}
  .hp-reviews #totalTrustPilotRate, .hp-reviews #totalFeefoRate{font-size:15px;}
  .hp-reviews .review_rtng_bar_left{width:295px;}
  .hp-reviews .review_rtng_bar_right{width:295px;}
  .hp-reviews .space{height:50px;}
  .hp-reviews .star_yellow .fa{font-size: 14px;}
  .hp-reviews	.review_banner_rating_bar{padding:26px 0 16px 0;}
  .hp-reviews	.star_green_box #rateTrust{vertical-align:middle;}
  /*.hp-reviews .rvw-read-more-reviews{margin-top:20px;}*/
  .hp-reviews .review_banner_rating_bar{letter-spacing:-0.1px;}
}

@media(max-width: 767px){
.hp-reviews {padding: 30px 0 0 0; }
.hp-reviews .rvw-customer-carousel-main, .hp-reviews .rvw-customer-main {width: 100%;float: none; }
.hp-reviews .review_banner_rating_bar {position: static;padding: 0 0 10px 0; }
.hp-reviews #review-carousel.review-carousel {width: 100%; }
/*.hp-reviews .rvw-read-more-reviews {position: absolute;bottom: 100px;left: 20px;margin: 0; }*/
  .hp-reviews .rvw-read-more-reviews{margin-top:20px;}
.hp-reviews .rvw-customer-main p {line-height: 22px;margin: 0 0 20px 0; }
.hp-reviews .owl-item > div {margin: 0 0 0 10px; }
.hp-reviews .owl-wrapper-outer {margin-left: -10px; }
.hp-reviews.review-carousel-wrapper .review-carousel-main{padding:0 20px 20px;}
.hp-reviews #review-carousel > div{padding:24px 30px 18px 27px;position:relative;margin:5px;background:#fff;text-align:left;height:270px;transition:all .3s cubic-bezier(0,0,0,1);-webkit-transition:all .3s cubic-bezier(0,0,0,1);-moz-transition:all .3s cubic-bezier(0,0,0,1);-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);}
.hp-reviews #review-carousel > div:hover {-webkit-box-shadow:0 8px 8px 0 rgba(0,0,0,0.1), 0 0 8px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 8px 8px 0 rgba(0,0,0,0.1),0 0 8px 0 rgba(0,0,0,0.2);box-shadow:0 8px 8px 0 rgba(0,0,0,0.1), 0 0 8px 0 rgba(0,0,0,0.2);transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}

.fluid-wrapper.deals .deals-row-label{padding:0 0 5px;}
.fluid-wrapper.deals .deals-row{padding:0 20px 40px 20px}
.fluid-wrapper.deals .deal-container{margin:0 !important; width:100%;}
.fluid-wrapper.deals .see-all-btn{margin:15px 0 0 0;}
}
