.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/1970-header.png); background-position:center right;}
//.votes-img {background: url('https://resources.teletextholidays.co.uk/drupal/images/votes/banner-desktop.png') no-repeat;height:70px;}

@media (max-width:1400px){
.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/1400-header.png);background-position:center center;}
//.votes-img {background: url('https://resources.teletextholidays.co.uk/drupal/images/votes/banner-992.png') no-repeat;}
}

@media (max-width:1200px){
.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/1200-header.png);}
}

@media (max-width:1000px){
.banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/992-header.png)}
}

@media(max-width:768px) {
  .banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/768-header.png)}
  //.votes-img {background: url('https://resources.teletextholidays.co.uk/drupal/images/votes/banner-768.png') no-repeat;}
}

@media(max-width:767px) {
  .banner-slide{background-image:url(https://resources.teletextholidays.co.uk/drupal/images/homepage/background/v1/640-header.png)}
  //.votes-img {background: url('https://resources.teletextholidays.co.uk/drupal/images/votes/banner-mobile-2x.png') no-repeat; background-size:contain;}
  .votes-banner-outer .votes-banner {max-height:90px;}
}
