
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE 11 browsers */
  .fixed-nav-container .level2{clear:both;}
}
@media (max-width:767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE 11 browsers */
  .on-scroll-popup.turn-footer-popup .layer-3{height:auto!important;}
	.stop-body-scroll.edge{overflow:hidden!important;}
	.grid-search .mobile-dstn-header, .grid-search .mobile-destinations .mobile-depart-list-wrapper, .grid-search .mobile-destinations .mobile-dstn-list-wrapper{opacity:1;}
	.grid-search .mobile-dstn-header input{font-size:14px;}
}
@media (max-width:767px) {
  /* EDGE browsers */
:-ms-lang(x), :-webkit-full-screen, .grid-search .mobile-dstn-header input {font-size: 14px;}
:-ms-lang(x), :-webkit-full-screen, .on-scroll-popup.turn-footer-popup .layer-3{height:auto!important;}
:-ms-lang(x), :-webkit-full-screen, .stop-body-scroll.edge{overflow:hidden!important;}
}
