.categorieslist-section {
  padding: 80px 0 30px;
}

.categories-list {
  margin-bottom: 30px;
  padding-bottom: 30px;

  .hotels-list {
    margin-left: -15px;

    #CarouselList {
      margin: 0 15px;
    }
  }

  &.fav-hotel {
    .hotels-list {
      margin: 0;
    }
  }

  .fav-hotel {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 100%;

    .votenow {
      width: 100px;
      height: 36px;
      margin: auto;
      padding: 10px;
      border-radius: 18px;
      font-size: 16px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      opacity: 0;
    }

    &:hover {
      -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
      box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);

      .votenow {
        opacity: 1;
      }
    }

    .fav-hotel-img {
      height: 175px;
      background: #ccc;

      .category-icon {
        width: 40px;
        height: 40px;
        bottom: 30px;
        left: 20px;
      }
    }

    .fav-hotel-info {
      padding: 17px 20px;

      .hotel-specific,
      .hotel-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 24px;
      }

      .hotel-specific {
        font-size: 18px;
      }

      .hotel-title {
        font-size: 16px;
      }
    }
  }

  #subNavItems {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -10px;

    a {
      background: #fff;
      border: 1px solid #6e3d7c;
      padding: 9px 25px;
      border-radius: 20px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #6e3d7c;
      box-sizing: border-box;
      flex: 1 0 200px;
      margin-left: 15px;
      margin-top: 10px;
    }
  }
}

.jury-favivorates {
  padding: 60px 0;
  overflow: hidden;

  .fav-hotel {
    box-shadow: inherit;

    &:hover {
      -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
      box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
    }

    .fav-hotel-img {
      height: 300px;
    }

    .fav-hotel-info {
      .hotel-specific,
      .hotel-title {
        line-height: 30px;
        font-size: 20px;
      }
    }
  }
}
@media (min-width:768px) {
  #subNavItems a {
    max-width: calc(33.3333333333% - 15px);
  }
}
@media (min-width:991px) {
  #subNavItems a {
    max-width: calc(25% - 15px);
  }
}
@include breakpoint(small-desktop) {
  .categorieslist-section .content-middle {
    padding: 0;
  }

  .categories-list {
    .hotels-list {
      margin: 0;

      #CarouselList {
        margin: 0 10px 0 0;
      }
    }

    .owl-carousel {
      .owl-wrapper-outer {
        padding: 0 20px 15px;
      }
    }

    &.fav-hotel {
      .hotels-list {
        overflow-x: scroll;
        max-width: 100%;
        margin-top: 0;
        white-space: nowrap;

        &::-webkit-scrollbar {
          display: none;
        }

        &::-webkit-scrollbar-thumb {
          background: transparent;
          color: #fff;
        }
      }
    }
  }
  @include breakpoint(mobile) {
    .categories-list {
      #subNavItems {
        overflow-x: scroll;
        margin-top: 0;
        display: block;
        white-space: nowrap;
        flex-wrap: inherit;
        overflow: inherit;
        margin: 0;

        a {
          margin: 0 3% 0 0;
          width: auto;
        }
      }
    }
  }
}

.voteslisting {
  width: 500px;
  margin: 0 auto;
}

.vote_submit {
  left: -1000px;
  opacity: 0;
.email{
  width:65%;
  input[type="text"] {
    border: 1px solid #6e3d7c;
    height: 50px;
    border-radius: 3px;
    padding: 0 10px;
    width:100%;
  }
}
  .submit_btn {
    height: 50px;
      display: inline-block;
      padding: 15px 10px;
      width: 25%;
      font-size: 16px;
      text-align: center;
      vertical-align: top;
      border-radius: 3px;
      margin-left:3%;
  }
}

.vote_submit_active {
  box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
  left: 0;
  z-index: 2;
  opacity: 1;
  padding:5px;
}

.vote_compitaion_buttons {
  a {
    border: 1px solid transparent;
    padding: 15px 20px;
    border-radius: 3px;
    font-size: 16px;

    &.works {
      border-color: #6e3d7c;
    }

    &.compitetion {
      border-color: #f07541;
    }
  }
}
