.links-breadcrumb {
  padding-bottom:60px;
  a, .active {
    color:$txt-white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
    font-size:13px;
    font-family:$font-light;
    padding:0;
  }
  span {
    padding:0 7px;
  }
  @include breakpoint(mobile) {
    padding-bottom:18px;
  }
}
