.max-section {
  padding-bottom:40px;
  h2 {
    font-size:50px;
  }
  h3 {
    font-size:36px;
  }
  @include breakpoint(small-desktop) {
    h2 {
      font-size:42px;
    }
    h3 {
      font-size:28px;
    }
  }
  @include breakpoint (portrait-tablet) {
    padding-bottom:30px;
  }
  @include breakpoint(mobile) {
    padding:10px 50px 18px 50px;
    h2 {
      font-size:28px;
      font-family: $font-regular;
    }
    h3 {
      font-size:24px;
      padding-top:8px;
      font-weight:normal;
    }
  }

}
