.mega-menu-wrapper{line-height:normal;box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 14px 47px 0 rgba(0, 0, 0, 0.2);padding:25px 30px;top:0;right:40px;max-width:1130px;z-index:110;background-color:#fff;margin-top:66px;display:none;width:100%;}
.mega-menu-wrapper .visual-menu-items-header {line-height:normal;}
.mega-menu-wrapper .holiday-sub{position:relative;}
.mega-menu-wrapper .holiday-sup{position:relative;}
.mega-menu-wrapper .visual-menu-items .fa-star{position:relative;}
.mega-menu-wrapper .visual-menu-hover{position:relative;}
.mega-menu-wrapper .mega-menu-holidays-fadein{position:relative;}
.mega-menu-fadeout{position:relative;}
.replace-login-container-show{position:relative;}
.mega-menu-wrapper .holidays-see-all-destinations{position:relative;}
.mega-menu-wrapper .guides-see-all-destinations{position:relative;}
.mega-menu-wrapper .mega-menu-guides-fadein{position:relative;}
.theme-middle-wrapper{position:relative;}
.mega-menu-wrapper .megamenu-ratings{position:relative;}
.holidays-active-nav-item{position:relative;}
.top-nav-active{position:relative;}
.holiday-details{position:relative;}
.mega-menu-wrapper .visual-menu-column{position:relative;}
.mega-menu-wrapper .visual-menu-column a .holiday-starts{color:#58595b;}
.mega-menu-wrapper h1{margin:0;padding:0;}
.other-holidays-list ul{margin:0;padding:0;}
.mega-menu-wrapper .destinations-links-right-arrow{margin:0;padding:0;}
.visual-menu-column .visual-menu-items .favorite-destinations-menu-items ul{margin:0;padding:0;}
.other-holidays-list ul li{margin:0 0 13px 0;padding:0;}
.visual-menu-column .visual-menu-items .favorite-destinations-menu-items ul li{margin:0 0 13px 0;padding:0;}
.visual-menu-column .visual-menu-items .favorite-destinations-menu-items ul li:last-child{margin:0;}
.other-holidays-list ul li a, .visual-menu-items ul li a{color:#8d8d8f;}
.other-holidays-list ul li a{font-size:16px;}
.visual-menu-column .visual-menu-items .favorite-destinations-menu-items ul li a{font-size:16px;}
.tt-suggestions div{font-size:16px;}
.other-holidays-list ul li a:hover{color:#1cb2c8;}
.favorite-destinations-menu-items ul li a:hover{color:#1cb2c8;}
.tt-suggestions div:hover{color:#1cb2c8;}
.mega-menu-wrapper .visual-menu-items ul li a:hover .fa-star{color:#1cb2c8;}
.mega-menu-wrapper .visual-menu-items ul li a:hover .visual-menu-star-rating{color:#1cb2c8;}
#Megamenu_Offerlist li a:hover span{color:#1cb2c8;}
.mega-menu-holidays-fadein .visual-menu-column:hover .holiday-name{color:#1cb2c8;}
.highlighted-letter{padding-right:5px;}
.mega-menu-wrapper .holiday-price{padding-right:5px;}
.highlighted-letter{font-family:'proximanova-semibold';}
.mega-menu-wrapper .holiday-price{font-family:'proximanova-semibold';}
.holidays-see-all-destinations{font-family:'proximanova-semibold';}
.mega-menu-guides-fadein h1{font-family:'proximanova-semibold';}
.mega-menu-holidays-fadein h1{font-family:'proximanova-semibold';}
.mega-menu-header{font-family:'proximanova-semibold';}
.locations-popup-header{font-family:'proximanova-semibold';}
//.txt-bold{font-family:'proximanova-semibold';}
.mobile-header-txt{font-family:'proximanova-semibold';}
.visual-menu-column .visual-menu-items .favorite-destinations-menu-items .favorite-destinations-right{min-width:50%}
.favorite-destinations-left{min-width:50%}
.mega-menu-wrapper .mega-menu-guides-fadein .visual-menu-items .holiday-name{padding-bottom:15px;}
.mega-menu-guides-fadein .visual-menu-hover{margin:12px 0 20px 0;}
.txt-blue{color:$txt-cornflower-blue}
.pinpoint{color:#37bdd1}
.guides-see-all-destinations{color:#37bdd1}
.visit-blog span{color:#37bdd1}
.guides-see-all-destinations{color:#37bdd1}
.mega-menu-wrapper .holidays-see-all-destinations span{color:#37bdd1}
.visit-blog span{color:#37bdd1}
.hover-holidays a:hover{color:#6e3d7c;opacity:1}
.hover-guides a:hover{color:#6e3d7c;opacity:1}
.mega-menu-wrapper h1{font-size:18px;}
.mega-menu-wrapper .holiday-name{font-size:18px;color:#58595b}
.mega-menu-wrapper .other-holidays-list .visual-menu-items-header{font-size:18px;}
.mega-menu-header{font-size:18px;}
.mega-menu-wrapper .visual-menu-column{margin-left:2%;width:23.5%;}
.mega-menu-wrapper .visual-menu-column{float:left}
.favorite-destinations-right{float:left}
.favorite-destinations-left{float:left}
.mega-menu-wrapper .visual-menu-column a:hover{text-decoration:none;}
.guides-see-all-destinations:hover{text-decoration:none;}
.mega-menu-wrapper .mega-menu-holidays-fadein .visual-menu-column:hover .holiday-image{width:110%;left:-5%;}
.mega-menu-wrapper .margin-left{margin-left:0;}
.mega-menu-wrapper .holiday-name{display:block;}
.mega-menu-wrapper .visual-menu-hover{display:block;}
.destinations-links-right-arrow{display:block;}
/*
.big-header-text{display:block;}
.small-header-text{display:block;}
.left-nav-trigger span{display:block;}
.close--smalltext strong{display:block;}
.mobile-header-txt{display:block;}
.section-header{display:block;}
.hide-mbl{display:block;}
*/
.mega-menu-header{display:block;}
.mega-menu-wrapper .holiday-name{padding-bottom:4px;}
.mega-menu-wrapper .visual-menu-hover{padding-bottom:4px;}
.mega-menu-wrapper .holiday-starts{font-size:16px;padding-right:15px;}
.mega-menu-wrapper .holiday-image{width:100%;top:0;left:0;}
.mega-menu-wrapper .holiday-image:hover{width:100%;top:0;left:0;}
.mega-menu-wrapper .holiday-image{position:absolute;}
.holidays-active-link-bgnd{position:absolute;}
.desktop-nav-close-trigger1-box{position:absolute;}
.desktop-nav-close-trigger2-box{position:absolute;}
.destinations-links-right-arrow{position:absolute;}
.guides-active-link-bgnd{position:absolute;}
.icon-bar1-normal{position:absolute;}
.icon-bar2-normal{position:absolute;}
.icon-bar3-normal{position:absolute;}
.megamenu-hover-block{position:absolute;}
.left-nav-trigger{position:absolute;}
.menu-trigger1{position:absolute;}
.menu-trigger2{position:absolute;}
.mega-menu-wrapper .holiday-price{color:#f07541}
.mega-menu-wrapper .holiday-sub{color:#f07541}
.mega-menu-wrapper .holiday-sup{color:#f07541}
.mega-menu-wrapper .holiday-price{font-size:14px;}
.mega-menu-wrapper .holiday-sub{font-size:14px;}
.mega-menu-wrapper .holiday-sub{top:0;left:8px;}
.mega-menu-wrapper .holiday-sup{left:-8px;font-size:12px;}
.mega-menu-wrapper .other-holidays-list{border-top:solid #eee 2px;margin:16px 0 0 0;padding:22px 0 12px 0;}
.mega-menu-wrapper .other-holidays-list .visual-menu-items-header{padding:0 0 12px 0;margin:0;font-weight:200;}
.mega-menu-wrapper .visual-menu-items .fa-star{color:#cecfcf;font-size:12px;margin:0 5px 0 2px;top:-1px;}
.mega-menu-wrapper .other-holidays-list .holiday-details{float:right;}
.guides-see-all-destinations{float:right;}
.mega-menu-wrapper .visual-menu-hover{margin:12px 0 14px 0;min-height:80px;min-width:260px;}
.mega-menu-wrapper .visual-menu-hover{overflow:hidden;}
.mega-menu-wrapper .visual-menu-column{overflow:hidden;}
.visual-menu-column ul li a{overflow:hidden;display:block;}
#mega-menu-container{padding:0 0 0 0;}
.mega-menu-wrapper .mega-menu-fadeout{opacity:0;top:10px;}
.mega-menu-guides-fadein{opacity:0;top:10px;}
.mega-menu-wrapper .mega-menu-holidays-fadein{opacity:0;top:0;}
.mega-menu-guides-fadein{opacity:0;top:0;}
.mega-menu-overlay{top:0;bottom:0;left:0;right:0;z-index:90;display:none}
.popup-overlay{top:0;bottom:0;left:0;right:0;}
.banner-overlay{top:0;bottom:0;left:0;right:0;}
.banner-overlay{background:rgba(0,0,0,0.2);}
.mega-menu-wrapper .holidays-see-all-destinations{padding-left:12px;}
.mega-menu-wrapper .holidays-see-all-destinations span{font-size:14px;display:inline}
.visit-blog span{font-size:14px;display:inline}
.mega-menu-wrapper .holidays-see-all-destinations:hover span{color:#59585b;}
.guides-see-all-destinations:hover{color:#59585b;}
.mega-menu-wrapper .holidays-see-all-destinations:hover .destinations-links-right-arrow{border-color:#58595b}
.visit-blog span{border-color:#58595b}
.mega-menu-wrapper .destinations-links-right-arrow{width:8px;height:8px;border-right:solid #37bdd1 2px;border-bottom:solid #37bdd1 2px;top:7px;right:-12px;transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.mega-menu-wrapper .mega-menu-guides-container .visual-menu-column{width:32%;}
.mega-menu-wrapper .mega-menu-guides-container .visual-menu-hover{width:345px;}
.mega-menu-wrapper .favorite-destinations-no-link{font-size:12px;color:red;}
.ofrdisplayName{max-width:70px;text-overflow:ellipsis;min-width:40px;white-space:nowrap;}
.megamenu-boarssd-options{font-size:13px;color:#909092;}
.basis-nights-number{padding-right:5px;}
.basis-nights-label{padding-right:5px;}
.megamenu-ratings-set{min-width:120px;}
.megamenu-ratings{min-width:25px;}
.teletext-lgo-retina{background-position:-306px -132px;width:182px;height:22px;}
.holiday-details{top:-1px;}
.mega-menu-holidays-container ul li span{display:inline-block;overflow:hidden;vertical-align:bottom;float:left;}

/* common blog carouse & recent blog styles start Chandra */
.mega-menu-wrapper .holiday-image{height:100%;object-fit:cover;}
.no-stretch{object-fit:cover}
.recent-blog-section.blog-node{max-width:1170px;margin:0 auto 30px;width:90%}
.recent-blog-section.blog-node .blog-list-elements{margin:0 auto;text-align:center;display:table;overflow:inherit}
.blog-list-elements .owl-next{top:37%}
.blog-list-elements .owl-prev{top:37%}
.blog-list-elements .owl-next .fa{font-size:20px;line-height:44px}
.blog-list-elements .owl-prev .fa{font-size:20px;line-height:44px}
.recent-blog-section.blog-node .blog-item{padding:30px;min-height:380px;box-shadow:0 1px 1px 0 rgba(0,0,0,.06);margin:0 4px;width:98%;background:#fff;color:#58595b}
.blog-item{border:1px solid rgba(88,89,91,.14);margin:10px 0 0 11px;padding:12px;width:23.4%;box-shadow:0 0 2px 0 rgba(0,0,0,.12)}
.recent-blog-section.blog-node .blog-item p.blog-heading{line-height:16px ;text-transform:uppercase}
.recent-blog-section.blog-node .blog-item strong{font-size:16px;padding-bottom:8px;display:block}
.recent-blog-section.blog-node .blog-item span{font-size:18px;line-height:21px}
.blog_teaser_text1{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.blog_teaser_text2{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.campaign-blog-img{position:relative;z-index:1}
.recent-blog-section.blog-node .blog-item img{height:154px;margin-top:3px;object-fit:cover}
.blog-item img{margin-bottom:7px;max-width:100%;width:100%}
.recent-blog-section{position:relative;overflow:inherit}
.blog-item{float:left}
.recent-blog-section span.holiday-name{float:left}
.mega-menu-wrapper .holiday-name{padding-bottom:4px}
.mega-menu-wrapper .visual-menu-hover{padding-bottom:4px}
.recent-blog-section a.visit-blog{position:relative;float:right;display:inline-block;left:-15px}
.mega-menu-wrapper .holidays-see-all-destinations span{font-size:14px;display:inline}
.visit-blog span{font-size:14px;display:inline}
.mega-menu-wrapper .visit-blog .destinations-links-right-arrow{top:5px }
.mega-menu-wrapper .destinations-links-right-arrow{width:8px;height:8px;border-right:solid #37bdd1 2px;border-bottom:solid #37bdd1 2px;top:7px;right:-12px;transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.blog-list-elements>.blog-item:first-child{margin-left:1px}
.mega-menu-holidays-container .blog-item{margin-left:2%;width:23.4%}
.mega-menu-wrapper .blog-item{padding:12px 12px 0}
.blog-item p{text-align:left}
.blog-item span{display:block}
.blog-item strong{display:block}
.recent-blog-section.blog-node .blog-item strong{display:block}
.recent-blog-section .blog-item p.text-color{color:#58595b;}
.blog-item strong{overflow:hidden}
.recent-blog-section .blog-item p.text-color{overflow:hidden}
.mega-menu-holidays-container .blog-item img{height:60px;margin-bottom:0;margin-right:12px;width:60px;float:left;object-fit:cover}
.mega-menu-holidays-container .recent-blog-section .blog-item .blog-desc{height:60px;line-height:15px;overflow:hidden;margin-bottom:10px;}
.mega-menu-holidays-container .visual-menu-column .holiday-name{position:absolute;top:66px;background:rgba(45,40,40,.65);left:0;font-size:14px;padding:5px ;color:#fff }
.mega-menu-holidays-fadein .visual-menu-column:hover .holiday-name{background:rgba(0,0,0,0.8);color:#fff }
.mega-menu-wrapper .visual-menu-column{position:relative}
.mega-menu-wrapper .other-holidays-list{border-bottom:solid #eee 2px;margin:0 0 9px;border-top:none;padding:0}
.mega-menu-wrapper .blog-title strong{height:35px;margin-bottom:10px;}
.mega-menu-wrapper p.blog-title{line-height:18px;}

/* Megadropdown box fadein */
@keyframes fadein{0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeOut{0%{opacity:1;}100%{opacity:0;}}
@keyframes reset-popup{from{top:15px;}to{top:0;} 0%{opacity:0;}100%{opacity:1} }
@keyframes hp-select-location{0%{opacity:0;}100%{opacity:1} }
@keyframes smallPoupop{from{top:50px;}to{top:40px;} 0%{opacity:0;}100%{opacity:1} }
@keyframes loginContainer{from{top:0;}to{top:0;} 0%{opacity:0;}100%{opacity:1} }
@keyframes slideUp{from{top:0;}to{top:0;} 0%{opacity:0;}100%{opacity:1} }

.mega-menu-wrapper-fadeout{animation:fadeOut .3s ease-in-out ;-webkit-animation:fadeOut .3s ease-in-out ;-moz-animation:fadeOut .3s ease-in-out ;-ms-animation:fadeOut .3s ease-in-out;}
.mega-dropdown-fadein{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.mega-dropdown-fadein-depart{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.theme-slide-in{animation:slideUp .5s ease-in-out;-webkit-animation:slideUp .5s ease-in-out;-moz-animation:slideUp .5s ease-in-out;-ms-animation:slideUp .5s ease-in-out;}
.text-animation{animation:fadein .3s ease-in-out;-webkit-animation:fadein .3s ease-in-out;-moz-animation:fadein .3s ease-in-out;-ms-animation:fadein .3s ease-in-out;}
.tt-suggestions div:hover{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.other-holidays-list ul li a{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.favorite-destinations-menu-items ul li a{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.mega-menu-wrapper .holidays-see-all-destinations span{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.mega-menu-wrapper .holiday-image{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
#Megamenu_Offerlist li a:hover span{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.holiday-name{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.mega-menu-wrapper .visual-menu-items .fa-star{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.txt-animation{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.shadow-button{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.green-button{transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;}
.input-label-anim{transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;}
.holidays-nav-down-arrow{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.mega-menu-fadeout{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.destinations-links-right-arrow{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.mega-menu-wrapper{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.guides-nav-down-arrow{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.holidays-see-all-destinations span{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.guides-see-all-destinations{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.fixed-nav-container-release{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.icon-bar1-rotate{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.icon-bar3-rotate{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.icon-bar2-rotate{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.theme-slide-in{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.mega-menu-wrapper{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.mega-menu-wrapper-fadeout{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.left-nav-trigger{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.menu-bars-without-login{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.close--icon{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.animation{transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.megamenu-board-options{font-size:13px;}

@media (max-width:1250px){
.mega-menu-wrapper .visual-menu-hover{min-width:initial;}
.mega-menu-wrapper .mega-menu-guides-container .visual-menu-hover{max-width:354px;width:initial;}
.guides-active-link-bgnd{width:100px;left:-11px;}
.megamenu-ratings-set{min-width:100px;}
}

@media (max-width:1024px){
.mega-menu-wrapper{right:0;width:100%;}
}

@media (max-width:991px){
.mega-menu-wrapper, .hide-summer-holidays{display:none;}
.holidays-active-link-bgnd{display:none;}
.guides-active-link-bgnd{display:none;}
.mega-menu-wrapper .visual-menu-column{width:32%;}
.mega-menu-wrapper .visual-menu-column.column-exclusive-offers{margin:5px 0 0 0 ;border-top:solid #eee 2px;padding:15px 0 0 0;width:100%;}
.column-exclusive-offers ul li{float:left;margin-right:50px;min-width:280px;}
.mega-menu-holidays-container ul li span{overflow:initial}
.megamenu-ratings-set{min-width:150px;}
.megamenu-board-options{padding-right:10px;}
.favorite-destinations-left{float:none;}
.mega-menu-wrapper .holiday-image{width:initial;}
.holidays-active-link-bgnd{width:120px;left:-12px;}
.mega-menu-wrapper .mega-menu-guides-fadein .visual-menu-column:hover .holiday-image{width:initial;}
.mega-menu-wrapper .holiday-image:hover{width:initial;}
.mega-menu-holidays-container .blog-item{width:31.9%}
.visual-menu-column .visual-menu-items .favorite-destinations-menu-items ul li:last-child{margin:0 0 13px 0;}
}

@media (max-width:767px){
.mega-menu-wrapper{display:none;}
}
