.mobile-widget-share-header {
  background-color:$bgnd-butterfly;
  z-index:112;
  top:0;
  right:0;
  left:0;
  height:50px;
  padding-top:17px;
  .back-icon {
    width:16px;
    height:16px;
    background-position:-1px -2px;
  }
  .separator {
    width:2px;
    height:16px;
    opacity:0.3;
    margin:0 14px;
  }
  .icon-favorite {
    width:20px;
    height:18px;
    background-position:-19px -1px;
  }
  .icon-share {
    width:15px;
    height:16px;
    background-position:-41px -1px;
    opacity:0.5;
  }
}
