.most-popular-hotels {
  .rec-offer-row, .offer-section-header {
    display:flex;
    background-color:$bgnd-concrete;
    font-size:14px;
    font-weight:bold;
    align-items: center;
    justify-content:center;
    min-height:45px;
    max-height:45px;
  }
  .carousel-footer {
    padding:16px 0 25px 0;
    //border-top:solid rgba(88, 89, 91, 0.2) 1px;
    margin-top:25px;
  }
  .offerimgblk, .ai-offer {
    position:relative;
    border-right:solid $b-white 2px;
    img {
      width:100%;
    }
  }
  .ratings-wrapper {
    .ratings {
      .trp_0-0 {
        .reveal-mask {
          display:none;
        }
      }
      .trp_0-5 {
        .reveal-mask {
          left:8px;
        }
      }
      .trp_1 {
        .reveal-mask {
          left:13px;
        }
      }
      .trp_1-5 {
        .reveal-mask {
          left:24px;
        }
      }
      .trp_2 {
        .reveal-mask {
          left:34px;
        }
      }
      .trp_2-5 {
        .reveal-mask {
          left:40px;
        }
      }
      .trp_3 {
        .reveal-mask {
          left:50px;
        }
      }
      .trp_3-5 {
        .reveal-mask {
          left:56px;
        }
      }
      .trp_4 {
        .reveal-mask {
          left:62px;
        }
      }
      .trp_4-5 {
        .reveal-mask {
          left:72px;
        }
      }
      .trp_5 {
        .reveal-mask {
          left:78px;
        }
      }
    }
  }
  .owl-carousel {
    .owl-buttons {
      div {
      //  display:none;
      }
    }
    .owl-item {
      > a {
        display:block;
      }
    }
    img {
      vertical-align:middle;
    }
  }

/*  Top Hotel Deals with Flights Included - For Carousel Arrows START */
  .owl-controls .owl-buttons div{background:transparent;z-index:5;position:absolute;top:38%;width:45px;height:50px;}
  .owl-theme .owl-controls .owl-buttons div .fa{font-size:0;opacity:0;}
  .owl-controls .owl-buttons div:after{content: '';position: absolute;width: 30px;height: 30px;border-top: solid #58595b 2px;border-right: solid #58595b 2px;top: 10px;left: 0;}
  .owl-controls .owl-buttons .owl-prev{left:-60px;}
  .owl-controls .owl-buttons .owl-next{right:-68px;}
  .owl-controls .owl-buttons div.owl-prev:after{@include rotate(-135deg);left:17px;}
  .owl-controls .owl-buttons div.owl-next:after{@include rotate(45deg);}
  .owl-carousel .owl-wrapper-outer{padding:5px 30px 30px 30px;}
  .hotel-deals-container:first-child{margin-left:15px;}
  .owl-controls .owl-buttons div.disabled{opacity:0.2;pointer-events:none;}
/*  Top Hotel Deals with Flights Included - For Carousel Arrows END */
  .star-rating {
    padding-top:5px;
    letter-spacing:-1px;
  }
  .divbanners {
    text-align:center;
    bottom:3%;
    left:0;
    right:0;
    .from-wrapper {
      background:rgba(0,0,0,0.5);
      padding:5px 8px;
    }
    .txt-from {
      opacity:0.6;
      font-size:13px;
    }
    .tth-pp {
      top:1px
    }
    .tth-price {
      font-size:14px;
    }
    .tth-asterisk {
      right:8px;
      top:7px;
      font-size:11px;
    }
  }
  .topseldetails {
    background-color:$bgnd-concrete;
    text-align:center;
    border-right:solid $b-white 2px;
    border-top:solid $b-white 2px;
    .lblhotelname {
      display:none;
    }
  }
  .reveal-mask {
    background-color:$bgnd-concrete;
  }
  .lblreviewnum  {
    padding:10px 0;
    font-size:11px;
  }
  .includeflights {
    padding:0 10px;
    @include border-radius(10px);
    background:$bgnd-white;
    display:inline-block;
    margin-top:3px;
    .fa-plane {
      color:$txt-emerald;
    }
  }
  .lblHoteldesc {
    text-overflow:ellipsis;
    margin-bottom:10px;
    font-size:13px;
    line-height:20px;
  }
  @include breakpoint(mobile) {
    .ai-offer {
      @include box-shadow(0 0 4px 0 $box-shadow-color-light);
      margin-bottom:20px;
    }
    .types {
      padding:0 10px;
    }
    .offer-section-header {
      background-color:$bgnd-white;
      min-height:inherit;
      max-height:inherit;
      padding:15px 0;
    }
    .mobile-ai-wrapper {
      width:100%;
    }
    .offer-image {
      height:242px;
      img {
        width:100%;
        height:100%;
        object-fit:cover;
      }
    }
    .location-label {
        font-size:18px;
        padding:4px 0 4px 0;
    }
    .topseldetails, .offerimgblk, .ai-offer {
      border:none;
    }
    .offer-content-wrapper {
      padding:15px 0;
      .txt-orange {
        font-size:18px;
        letter-spacing:2px;
      }
    }
    .board-basis {
      font-size:18px;
    }
    .includes {
      font-size:16px;
    }
    .ratings-wrapper {
      margin-bottom:8px;
    }
    .divbanners {
      letter-spacing:1px;
      .tth-price {
        font-size:18px;
        margin:0 8px 0 6px;
        font-weight:bold;
      }
      .txt-from {
        font-size:18px;
      }
      .tth-pp {
        font-size:11px;
        top:1px;
        left:-6px;
      }
      .tth-asterisk {
        right:9px;
        top:10px;
      }
    }
    .carousel-footer {
      border-top:solid rgba(88, 89, 91, 0.2) 1px;
      span {
        /*display:block;*/
        display: inline-block;
      }
    }
  }
  @include breakpoint(when-above-tablet) {
    .owl-wrapper {
      @include item-dflex();
    }
  }
}
.hotel-deals .most-popular-hotels .place{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
@media(max-width:1400px){
/*  Top Hotel Deals with Flights Included - For Carousel Arrows START */
  .hotel-deals .most-popular-hotels .hotel-deals-carousel{margin:0;}
  .hotel-deals .most-popular-hotels .content-middle{max-width:1060px !important;}
/*  Top Hotel Deals with Flights Included - For Carousel Arrows END */
}
