.no-results {
  margin:120px 0 60px 0;
  h3 {
    font-size:38px;
    color:$txt-java;
    font-family:$font-bold;
    padding-top:35px;
  }
  p {
    font-size:16px;
    opacity:0.8;
    &:before {
      content:'';
      position:absolute;
      bottom:-17px;
      left:-70px;
      right:-70px;
      height:1px;
      background:#cecece;
    }
  }
  > div {
    padding:45px 0 0 0;
    h4 {
      font-size:24px;
    }
    .txt1 {
      padding-right:10px;
    }
    .txt3 {
      font-size:45px;
      padding-top:10px;
    }
  }
  @include  breakpoint (portrait-tablet) {
    margin:80px 0 60px 0;
  }
  @include  breakpoint (mobile) {
    margin:40px 0 40px 0;
    h3 {
      font-size:22px;
      padding-top:15px;
    }
    p {
      padding:10px 45px 0 45px;
      &:before {
        display:none;
      }
    }
    > div {
      padding:15px 0 15px 0;
      line-height:20px;
      margin-top:18px;
      border-top: solid #eaeaea 1px;
      border-bottom: solid #eaeaea 1px;
      .txt3 {
        font-size:24px;
      }
      .txt1 {
        padding-right:0;
      }
      h4 {
        font-size:14px;
      }
    }
  }
}
