.feedback-form-wrapper button{
	color:#fff;
	padding:5px 20px;
}
.feedback-form > a:nth-child(3) {
	display:block;
}
.feedback-form-wrapper {
	padding:25px 15px;
	border:none;
	box-shadow:0 5px 5px rgba(0,0,0,.1);
}
.feedback-form-wrapper div.btn-inverse {
    text-transform: uppercase;
    background-color: #8ab44b;
	padding:8px;
	font-size:16px;
	color:#fff;
	max-width:200px;
	margin:0 auto;
	display: inline-block;
}
.feedback legend {
	padding-bottom:28px;
}
