/* */
.inblock-group span.sub-error-message{
  display:none;
  padding:5px 0 0 10px;
  font-size:12px;
  letter-spacing:-0.2px;
  color: $txt-favourate;
}
/* Onscroll Popup only */
.stop-body-scroll #back-to-top, .stop-body-scroll .CookiesPolicyBanner{
  z-index: 112;
}
.hidden-1{
  display:none;
}
/**/

@media(max-height:880px){
  .on-scroll-popup{
    .mobile-scroll{
      max-height:380px;
      overflow-y:auto;
      padding-right: 10px;
    }
  }
}
/**/
.on-scroll-popup {
  min-height: 252px;
  width: 491px;
  padding: 33px 30px 0 40px;
  bottom:30px;
  right: 60px;
  z-index: 116;
  display: none;
  box-shadow: 0 12px 30px 0 rgba(107, 84, 166, 0.34);
  .plus-smbol{
    top: 18px;
    left: 10px;
    margin: auto;
    height: 15px;
    font-size: 15px;
  }
  .glyphicon{
    &.glyphicon-ok{
      &.check-mark {
        display:none;
        }
      }
  }
  &.cookie-present {
    bottom:80px;
  }
  .privacy-link {
    left:40px;
    bottom:14px;
    color:$txt-default;
    text-decoration:underline;
    font-size:13px;
    padding:2px 5px 2px 5px;
    &:hover {
      color:$txt-default;
    }
  }
  .txt-butterfly {
    font-size: 24px;
  }
  .sub-content {
    padding-top: 6px;
    font-size: 15px;
    padding-bottom: 10px;
  }
  input, > button {
    font-size: 15px;
  }
  .dropdown-toggle{
    background:  $bgnd-concrete;
      &:hover{
        background:  $bgnd-concrete;
        border: 0;
      }
    &.btn-default{
        &:focus{
          background: $bgnd-concrete;
        }
      }

     .filter-option {
        font-size: 15px;
        /*color:rgba(88, 88, 89, 0.7);*/
      }
    &:first-child {
      color: $txt-default;
    }
  }
  .open{
    .dropdown-toggle{
      &.btn-default{
     background: $bgnd-concrete;
     }
    }
  }
  .check-box {
    @include check-box();
    width:18px;
    height:18px;
       span{display:none;}
    &:after{
      width:11px;
      height:6px;
    }
  }
  .uncheck-box {
    @include uncheck-box();
    width:18px;
    height:18px;
  }
  input, .dropdown-toggle {
    width: 200px;
    padding:14px 16px;
  }
  .form {
    padding-top: 25px;
  }
  > button {
    padding: 16px 30px;
    right: 0;
    bottom: 0;
    border-top-left-radius: 20px;
  }
  .close--icon {
    &:before, &:after {
      background: $bgnd-pickled-bluewood;
      opacity: 0.6;
      height: 2px !important;
    }
    width: 18px !important;
    height: 18px;
    top:-15px;
    right:-15px;
  }
  .error-msg {
    bottom: -20px;
    left: 0;
    &.email-error {
      left: 261px;
    }
  }
  .check-box-holder {
    margin-top: 25px;
  }
  .check-label {
    padding-left: 10px;
    font-size:15px;
  }
  .more-options {
    margin-top: 33px;
    padding-bottom:0;
    display: none;
    > {
      span {
        font-size: 20px;
        padding-bottom: 10px;
      }
      p {
        font-size: 13px;
        line-height: 17px;
        letter-spacing: -0.2px;
        padding-bottom: 16px;
      }
    }
  }
  span.optional-text {
    display: none;
    opacity: 0.5;
    padding-top: 8px;
    font-size: 13px;
  }
  .input-col {
    width:48%;
    &.mrgn-right{
      width:48%;
    }
    i {
      top:19px;
      right: 26px;
      z-index: 9;
    }
    input {
      margin: 0;
    }
  }
  .mrgn-right {
    margin-right: 10px;
  }
  .confirm-msg {
    display: none;
    .txt-butterfly {
      font-size:22px;
    }
  }
  .confirm-text {
    position:absolute;
    top:7px;
    left:92px;
    p {
      padding-top:8px;
    }
  }
  .icon-confirm {
    width:70px;
    height:88px;
    p {
      font-size:15px;
    }
  }
  &.turn-footer-popup {
      height:auto;
      top:30px;
      right:0;
      bottom:0;
      left:0;
      margin:0;
      padding:0;
      background:transparent;
      width:inherit;
      height:100vh;
      box-shadow:none;
      .mobile-scroll{
        max-height: none;
      }
        .layer-1{
          height:100vh;
          height: 96vh;
          display:flex;
          width:100%;
          justify-content:center;
        }
        .layer-2{
          text-align:center;
          overflow-y:auto;
          align-self:center;
        }
        .layer-3{
          width:590px;
          display:inline-block;
          background:$bgnd-white;
          padding:33px 30px 0 40px;
          box-shadow: 0 12px 30px 0 rgba(107, 84, 166, 0.34);
        }
        .close--icon{
          top:15px;
          right:15px;
        }
        input, .dropdown-toggle{
          width:100%;
        }
        .input-col, .input-col.mrgn-right{
          width:48%;
        }
    .check-box-holder {
      display:none!important;
    }
    .more-options {
      display:block;
      margin-top:26px;
    }
    span.optional-text {
      display:block;
    }
    .check-box span {
      display:none;
    }
    .error-msg{
      &.email-error {
        left:211px;
      }
    }
    &.success-submission {
      width:380px;
      top: inherit;
      right:60px;
      left:auto;
      padding:0;
      box-shadow:0 12px 30px 0 rgba(107, 84, 166, 0.34);
      bottom: 30px;
      .layer-3 {
        padding:0;
        width:100%;
      }
      .confirm-msg {
        padding:30px 20px;
        .txt-butterfly {
          font-size:19px;
          display: block;
        }
      }
      .confirm-text {
        top: 28px;
        left: 114px;
        padding-right: 35px;
      }
      .close--icon {
        top:11px;
        right:17px;
      }
      .layer-1{
        display: block;
      }
    }
  }
  &.success-submission {
    min-height:150px;
    height:150px;
    max-height:150px;
    width:400px;
    padding:15px 30px 0 20px;
    .confirm-msg {
      display:block;
    }
    .close--icon {
      top:-4px;
      right:-13px;
    }
    button, .privacy-info, .form-content {
      display:none;
    }
    #spUserFirstName {
      white-space: nowrap;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
   }
  }
/**/
.email-sms-post{
  margin:15px 0 0 0;
  padding-bottom:10px;
}
.common-check{
  margin:0 30px 0 0;
}
input{
  &::placeholder{
    color: rgba(88, 88, 89, 0.7);
  }
  border-bottom:solid 2px #f3f3f3;
  width:100%;
  color: $txt-default;
}
.full-width, .half-width, .half-width-right{
  margin-bottom:10px;
}
.full-width{
  width:100%;
}
.half-width, .half-width-right{
  width:48%;
}
.half-width {
  margin-right:7px;
}
.half-width-right{
  float:right;
}
.privacy-info{
  width:310px;
  margin:30px 0 20px 0;
  font-size:13px;
  span{
    display:inline;
  }
 }
.get-hottest{
  padding:15px 0 10px 0;
  font-size:15px;
}
.input-error-brdr{
  border-bottom:solid 1px #cb3544;
}
.btn-subscribe-data{
  margin-right:-30px;
  padding:16px 30px;
  right:0;
  bottom:0;
  border-top-left-radius:20px;
  font-size:15px;
  bottom:-38px;
  position:relative;
}
  .more-options{
    > span{
      display:block;
    }

  }
  .input-full{
    width:100%;
  }
  input:first-child{
    margin-right:0;
  }

  .input-full{
    &.subscribe-sms{
      padding-left:25px;
    }
  }
  .hideoption{
    color: rgba(88, 88, 89, 0.7);
  }
  .dropdown-menu{
    &.open {
      left: 5px; }
   }
    .dropdown-menu{
     ul > li:first-child{
      a {
        font-size: 14px;
         color: rgba(88, 88, 89, 0.7);
         pointer-events: none;
         cursor: default; }
      }
     }
    .dropdown-menu {
      ul > li a:hover{
        color: #37bdd1;}
    }
    .signup-preferred-airport, .signup-preferred-board-basic{
      .btn{
        background: $bgnd-concrete;
        padding-left: 14px;
      }
      ul {
        li{
          a{
            font-size: 14px;
          }
        }
      }
      border:0;
      margin-top: 0!important;
       .dropdown-toggle{
         span{
           font-size: 13px;
         }
       }
    }
    .prefered-left, .prefered-board-right{
      width: 48%;
    }
    .prefered-left{
      margin-right:8px;
    }
    .line-arrow-down{
        right: 14px;
        top: 17px;
        z-index: 9;
    }


/* Onscroll Popup innerr pages override */
  .bs-caret{
    display:none;
  }
  .dropdown-menu {
     width: 100%;
     top: -200px !important;
     min-height: 200px!important;
     max-height: 200px!important;
     box-shadow: 1px 3px 20px 0 rgba(0,0,0,0.3);
     overflow-y: auto;
   }
   .dropdown-toggle{
      background: $bgnd-concrete;
      @include border-radius(2px);
   }
   ul{
     &.dropdown-menu {
      /*
      li:first-child {
         a{
           color:rgba(88, 88, 89, 0.7);
         }
      }
      */
     top: 0;
    }
    a{
      cursor: pointer;
    }
  }
  .privacy-link{
    margin-top: 0;
  }
  input, .dropdown-toggle{
    line-height: normal;
  }


  @include breakpoint (large-desktop) {
    min-height:267px;
    width:590px;
    .txt-butterfly {
      font-size:28px;
    }
    input, .dropdown-toggle {
      width:100%;
    }
    button {
      padding:17px 33px 16px 34px
    }
    &.turn-footer-popup {
      .error-msg.email-error {
        left:261px;
      }
    }
  }

  @media(max-width:1400px){
    &.turn-footer-popup {
      .layer-3{
        width:490px;
      }
     }
    }

  @include breakpoint(small-desktop) {
      width: 491px;
      min-height: 252px;
      span.optional-text {
        display: block;
      }
      .more-options {
        padding-bottom: 20px;
        input {
          padding-right: 0;
        }
      }
      .input-col{
        i {
        right: 18px;
       }
      }
      &.turn-footer-popup {
        height:420px;
        .more-options > p {
          padding-bottom:20px;
        }
      }
      .dropdown-menu{
        width: 100%;
      }
  }

  @include breakpoint (landscape-tablet) {
    width: 420px;
    padding: 28px 25px 0 25px;
    min-height: 220px;
    .plus-smbol{
      top: 13px;
    }
    input {
      width: 100%;
      padding: 12px 16px;
    }
    .txt-butterfly {
      font-size: 20px;
    }
    .sub-content {
      font-size: 13px;
    }
    input {
      font-size: 13px;
      &:first-child {
        margin-right: 4px;
      }
    }
    .check-label {
      font-size: 13px;
    }
    > button {
      padding: 11px 28px 10px 28px;
    }
    .form {
      padding-top: 20px;
    }
    .more-options{
        margin-top: 24px;
     input {
      margin: 0;
     }
    }
    .mrgn-right {
      margin-right: 8px;
    }
    .input-col i {
      right: 14px;
      top: 14px;
    }
    .dropdown-toggle {
      width: 100%;
      padding:14px 16px;
    }

    .half-width{
      margin-right:5px;
    }
    .privacy-info{
      width:230px;
      margin:26px 0 12px 0;
    }
    .btn-subscribe-data{
      margin-right:-25px;
      padding:12px 27px;
      bottom:-34px;
    }
    &.turn-footer-popup {
      height:370px;
      .error-msg{
        &.email-error {
          left:189;
        }
      }
      .btn-subscribe-data{
        margin-right:-30px;
      }
    }
    .dropdown-toggle{
      .filter-option {
          font-size: 13px;
          @include truncate();
          max-width:130px;
      }
    }
    .privacy-link {
      left:25px;
    }
  }

  @include breakpoint (mobile) {
    width: 100%;
    height: 100%;
    overflow-x: auto;
      input, .more-options > div, .dropdown-toggle {
        width: 100%;
      }
      .sbmt-btn-desktop {
        display:none;
      }
      .sbmt-btn-mobile {
        background:$bgnd-white;
  			position:fixed;
  			bottom:0;
        @include box-shadow(0 5px 30px 0 rgba(107, 84, 166, 0.34));
  			left:0;
  			right:0;
  			text-align:center;
  			z-index:116;
        button {
          min-width:120px;
    			padding:10px 0;
          @include border-radius(2px);
    			font-size:15px;
    			float:none;
    			margin:10px 0;
    			bottom:0;
        }
      }
      .more-options{
        > span{font-size:18px;}
      }
      input {
        &:first-child {
          margin: 0 0 10px 0;
        }
        &.subscribe-mobile {
          margin: 0;
        }
      }
      > button {
        position: fixed;
        bottom: 0;
        right: 0;
      }
      span{
        &.optional-text {
        padding: 9px 0 18px 0;
      }
      }
      &.turn-footer-popup {
        height:100vh;
        top:0;
        background:$bgnd-white;
        min-height:inherit;
        .error-msg.email-error {
          left:0;
        }
        .layer-1{
          height:inherit;
          min-height:inherit;
        }
        .layer-3{
          width:100%;
          height:100vh;
          overflow-y:auto;
          padding:33px 20px 0 20px;
          box-shadow:none;
        }
        .input-col{
          width: 100%;
          &.mrgn-right{
            width: 100%;
          }
        }
        &.success-submission {
          width:98%;
          height: 150px;
          bottom: 0;
          right: 0;
          top: 0;
          left:0;
          margin: auto;
           .confirm-text{
             left: 80px;
             padding-right: 25px;
           }
            .layer-3, .layer-1{
              height: 150px;
            }
            .confirm-msg {
              .txt-butterfly {
                font-size:18px;
              }
            }
        }
      }
      .icon-confirm {
        width:50px;
        height:58px;
      }
      .dropdown-toggle{
        .filter-option {
            max-width:100%;
         }
      }
      .subscribe-btn{
        display:block;
        background:$bgnd-white;
        position:fixed;
        bottom:0;
        box-shadow:0 5px 30px 0 rgba(107, 84, 166, 0.34);
        left:0;
        right:0;
        text-align:center;}
      .btn-subscribe-data{
        margin-right:0;
        min-width:120px;
        padding:10px 0;
        border-radius:2px;
        font-size:15px;
        float:none;
        margin:10px 0;
        bottom:0;
      }
      .common-check.last{
        margin-right:0;
      }
      .mobile-scroll{
        overflow-y:auto;
        max-height: none;
      }
      .half-width, .half-width-right{
        width:100%;
      }
      .half-width-right{
        float:none;
      }
      .privacy-info{
        margin:26px 0 140px 0;
      }
      .dropdown-menu{
        width: 250px;
      }
  }
}

@media(max-width:320px){
  .on-scroll-popup .privacy-info{margin:26px 0 150px 0;}
}
