.places-to-go {
  .places-to-go-inner {
    padding-top:8px;
    overflow:hidden;
  }
  .carousel-wrapper {
    display:flex;
    justify-content:left;
  }
  .ptg-offer {
    flex:1;
    margin:0 1px;
    max-width:238px;
    min-width:238px;
  }
  .carousel-header {
    h2 {
      font-size:26px;
      padding-bottom:20px;
    }
    p {

    }
  }
  .image-tag {
    bottom:15px;
    left:0;
    right:0;
    h3 {
      color:$txt-white;
      font-weight:lighter;
      background-color:rgba($bgnd-black, 0.6);
      padding:2px;
      text-transform:uppercase;
      font-size:14px;
      display:inline;
    }
  }
  @include breakpoint(mobile) {
    padding:30px 0;
    .ptg-offer {
      max-width:280px;
      min-width:280px;
      margin:0 10px 0 0;
    }
    .full-image img {
      height:240px;
    }
    .image-tag {
      position:relative;
      box-shadow:0 0 6px 0 rgba(0,0,0,0.18);
      padding:15px 10px;
      text-align:left;
      h3 {
        color:inherit;
        background-color:transparent;
        font-weight:bold;
        display:block;
        padding:15px  0 8px 0;
        text-transform:inherit;
        letter-spacing:0.8px;
      }
    }
    .carousel-header {
      text-align:left;
      padding:0 0 4px 23px;
      h2 {
        font-size:16px;
        padding-bottom:6px;
      }
    }
    .places-to-go-inner {
      padding-left:23px;
      overflow-x:auto;
    }
  }
}
