.read-more {
  padding-top:36px;
  label {
    font-size:16px;
    padding-right:8px;
    cursor:pointer;
  }
  span {
    border-color:$b-sunset;
    top:-3px;
    @include animation-transition(all 0.2s ease-in-out);
  }
  &.readMore-open {
    .line-arrow-down {
      @include rotate(-45deg);
    }
    span {
      top:3px;
    }
  }
}
