/* Owl pagination */
.owl-controls {
    text-align:center;
    padding:5px 0 10px 0;
    margin-top:-10px;
    i {
      font-size:20px;
      line-height:35px;
      margin:0;
      position:relative;
    }
    .owl-buttons div {
      height:40px;
      background:rgba($bgnd-black,0.9);
      transition:all .3s ease-in-out;
      color:$txt-white;
      display:inline-block;
      padding:3px 9px;
      font-size:12px;
      opacity:0.5;
      position:absolute;
      top:37%;
      z-index:1;
      cursor:pointer;
    }
    .owl-next {
      right:0;
      i {
        left:2px;
      }
    }
    .owl-prev {
      left:0;
      i {
        left:-1px;
      }
    }
    .owl-page {
      display:inline-block;
      zoom:1;
      cursor:pointer;
      span {
        display:block;
        width:12px;
        height:12px;
        margin:5px 3px;
        filter:Alpha(Opacity=50);
        opacity:0.5;
        @include border-radius(100px);
        background:#869791;
      }
    }
}

/* Reviews Styles */
.reviews-fod {
  background-color:#f2f2f2;
  padding:34px 0;
  margin:40px auto;
  overflow:hidden;
  .reviews-inner {
    max-width:992px;
    margin:0 auto;
  }
  .review-container-fod {
    width:80%;
    margin:0 auto;
    overflow:hidden;
  }
  .icon-owl-eyes {
    width:34px;
    height:21px;
    margin:0 5px 0 0;
    img {
      width:100%;
    }
  }
  .spanFullReview {
  	display: none
  }
  .fod-review-heading {
  	font-size: 26px;
  	color:$txt-lynch;
  	text-align: center
  }
  .fod-review-heading img {
  	width:200px;
  	margin-top:7px
  }
  .review-more-fod {
  	color: #9bc95a;
  	text-align: center;
  	cursor: pointer;
  	display: inline;
  	margin: 0 0 0 5px
  }
  .reviewer-details-container {
  	width: 25%;
  	float: left;
  	padding: 0 4% 0 0
  }
  .reviewes-details-container {
  	width: 75%;
  	float: right
  }
  .reviewer-details {
  	width: 170px;
  	height: 100%;
  	background-color: #fff;
  	text-align: left;
  	padding: 12px 10px
  }

  .trip-advisor-main {
  	margin: 0 0 5px
  }
  .review-title-fod {
  	text-align:left;
  	font-weight:bold;
  	line-height:18px;
  	font-size:18px;
  	color:$txt-lynch;
  	display:block
  }
  .review-text-fod {
  	margin-top:12px;
  	font-size:15px;
  	line-height:1.2;
  	color:$txt-lynch;
  	text-align:left;
  }
  .reviewer-fod {
  	font-weight:bold;
  	font-size:14px;
  	line-height:17px;
  	color:$txt-lynch;
  }

  .review-time-fod {
  	font-size:12px;
  	line-height:17px;
  	color:#b2b2b2;
  }
  .reviewer-details-mob {
  	display:none;
  }

  @include breakpoint(when-portrait-tablet) {
    .reviewes-details-container {
      width:68%;
    }
  }
  @include breakpoint(mobile) {
      margin:0;
    .reviews-inner {
      padding:0 23px;
    }
    .reviewes-details-container, .review-container-fod, .reviewer-details-container {
      float:none;
      width:100%;
    }
    .review-container-fod {
      position:relative;
    }
    .reviewer-details {
      background:transparent;
      width:100%;
      padding:0;
    }
    .review-title-fod {
      position:absolute;
      top:0;
      left:0;
    }
    .reviewer-details-container {
      padding:50px 0 0 0;
    }
    .review-time-fod {
      font-size:12px;
      color:$txt-lynch;
    }
    .reviewer-fod {
      display:block;
      font-size:13px;
      padding-top:5px;
    }
    .icon-owl-eyes {
      width:30px;
      height:19px;
      margin:0;
    }
    .ratings-wrapper {
      .ratings {
        div div {
          width:14px;
          height:14px;
        }
        span {
          top:4px;
          width:6px;
          height:6px;
          left:4px;
        }
        .fill2 {
          left:18px;
        }
        .fill3 {
          left:32px;
        }
        .fill4 {
          left:46px;
        }
        .fill5 {
          left:60px;
        }
      }
    }
    .white-button {
      background-color:$bgnd-white;
      padding:18px 0;
      margin:17px 0 0 0;
      font-size:16px;
      box-shadow:0 0 4px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.12);
      -moz-box-shadow:0 0 4px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.12);
      -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.12);
      span {
        margin-left:10px;
        top:-3px;
      }
    }
    .review-text-fod {
      font-size:13px;
      margin-top:8px;
    }
  }
}
