.thin-lowdeposit{padding:25px 0 15px 0;}
.thin-lowdeposit .low-depst-rating-stars{padding:0;margin:0;}
.thin-lowdeposit .low-depst-trust-rating ul li{width:16px;height:16px;float:left;margin:0 2px 0 0;}
.thin-lowdeposit .low-depst-trust-rating ul li span{width: 100%;height: 100%;background-size: cover;display: inline-block;background-image: url(https://resources.teletextholidays.co.uk/drupal/images/star-inactive.svgz); background-repeat:no-repeat;}
.thin-lowdeposit .low-depst-trust-rating ul li.active span{background-image: url(https://resources.teletextholidays.co.uk/drupal/images/star-active.svgz);}
.thin-lowdeposit .totalTrustPilotRate, .thin-lowdeposit .feefo-main .feeforating{font-family:$font-bold;font-size:15px;color:#58595b;line-height:16px;padding-left:6px;}
.thin-lowdeposit .low-depst-trust-logo{width:132px;}
.thin-lowdeposit .strip-column-label{font-size:16px;line-height:18px;}
.thin-lowdeposit .strip-icon-happy{margin-right:7px;}
.thin-lowdeposit .carousel-low-deposit i{font-size:27px;vertical-align:middle;margin-right:7px;}
.thin-lowdeposit .carousel-low-deposit .payMonthly2, .thin-lowdeposit .deposit-options{margin-right:40px;}
.thin-lowdeposit .carousel-low-deposit{padding:15px 0 30px 0}
.thin-lowdeposit .call-to-book{vertical-align:top;top:-3px;font-size:32px;padding-right:60px;letter-spacing:-0.7px;}
.thin-lowdeposit .new-trust{background-position:-2px -57px;height: 32px;margin: -10px 0 0;}
.thin-lowdeposit .new-trust img{width:100%;}
.thin-lowdeposit .feefo-main i{font-size:16px;}
.thin-lowdeposit .feefo-icon{width:82px;height:20px;background-position:-146px -63px;margin-top:3px;}
.thin-lowdeposit .low-dpst-logo, .thin-lowdeposit .pay-monthly, .thin-lowdeposit .atol-ttaicon{width:46px;height:45px;}
.thin-lowdeposit .strip-column-label > span{display:block;}
.thin-lowdeposit .call-us{line-height:18px;padding:0;font-size:16px;}
.thin-lowdeposit .call-us .inblock{vertical-align:middle;}
.thin-lowdeposit .mbl-hide{display:block;}
.thin-lowdeposit .mbl-show{display:none;}
.thin-lowdeposit .strip-column-space{width:1px;background:#d8d8d8;height:30px;margin:0 22px;display:inline-block;}

_:-ms-lang(x), .thin-lowdeposit .strip-column-space{margin:0 20px;}

@media(max-width: 1140px) {
  .thin-lowdeposit{text-align:center;}
  .thin-lowdeposit .call-us .line-box{width:36px;height:36px;margin-right:12px;}
  .thin-lowdeposit .call-us .line-icon-download{background-position:-208px -8px;}
  .thin-lowdeposit .call-us .line-icon-pay{background-position:-170px -8px;}
  .thin-lowdeposit .call-us .line-icon-atol{background-position:-247px -8px;}
  .thin-lowdeposit .totalTrustPilotRate, .thin-lowdeposit .feefo-main .feeforating{font-size:13px;padding-left:2px;}
  /*.thin-lowdeposit .new-trust{background-position:-323px -57px;height:14px;}*/
  .thin-lowdeposit .feefo-main i{font-size:12px;}
  .thin-lowdeposit .call-us .gutter-space{margin:0 10px;}
  /*.thin-lowdeposit .low-depst-trust-rating ul li{width:13px;height:13px;}*/
  .thin-lowdeposit .strip-column-space{margin:0 11px;}
  .thin-lowdeposit .feefo-icon{margin-top:2px;}
  /*.thin-lowdeposit .low-depst-trust-rating{text-align:left;}*/
  .thin-lowdeposit .low-depst-trust-logo{margin-top:5px;}
  .thin-lowdeposit .call-us {font-size: 14px; }
}

@media(max-width: 991px) {
  .thin-lowdeposit .content-middle{text-align:center;}
  .thin-lowdeposit .feefo-main i{font-size:17px;}
  .thin-lowdeposit .totalTrustPilotRate, .thin-lowdeposit .feefo-main .feeforating{font-size:15px;}
  .thin-lowdeposit .call-us{margin-top:25px;}
  .thin-lowdeposit .s2{display:none;}
  /*.thin-lowdeposit .new-trust{background-position:-152px -57px;height:19px;}*/
  .thin-lowdeposit .feefo-icon{width:82px;height:20px;margin-top:5px;}
  .thin-lowdeposit .low-depst-trust-rating ul li{height:15px;width:15px;}
  .thin-lowdeposit .strip-column-space{margin:0 20px;}
  /*.thin-lowdeposit .low-depst-trust-logo{width:163px;}*/
}
@media(max-width: 767px) {
  .thin-lowdeposit{padding:0 0 18px 0;}
  .thin-lowdeposit .low-depst-trust-rating ul li{height:13px;width:13px;}
  /*.thin-lowdeposit .low-depst-trust-logo{height:14px;width:116px;}*/
  /*.thin-lowdeposit .new-trust{background-position:-323px -57px;height:14px;}*/
  .thin-lowdeposit .strip-column-space{margin:0 10px;}
  .thin-lowdeposit .feefo-main i{font-size:14px;}
  .thin-lowdeposit .low-depst-rating-stars{vertical-align:middle;}
  .thin-lowdeposit .mrgn-top{margin-top:18px;}
  .thin-lowdeposit .callus-number{font-size:32px;letter-spacing:-0.3px;}

}
