/* Font Family */
$font-regular: 'proximanova-regular', sans-serif;
$font-light: 'proximanova-light', sans-serif;
$font-bold: 'proximanova-bold', sans-serif;
$font-semibold: 'proximanova-semibold', sans-serif;

/* Padding Containers */
$padding-left-10:10px;
$padding-right-10:10px;
$padding-left-20:20px;
$padding-right-20:20px;
$padding-top-10:10px;
$padding-bottom-10:10px;
$padding-top-20:20px;
$padding-bottom-20:20px;

/* Font sizes */
$default-size:14px;
$default-size15:15px;
$section-heading:28px;
$large-heading:38px;
$h1:60px;
$h2:38px;
$h3:28px;
$h4:24px;
$h5:18px;
$h6:15px;
$paragraph:16px;
$btn-size:20px;
$txt-small:13px;


/* Background color */
$bgnd-butterfly:#6e3d7c;
$bgnd-emerald:#8ab44b;
$bgnd-sunset:#f07541;
$bgnd-dasksky:#2572a8;
$bgnd-black-squeeze:#f2f2f2;
$bgnd-black:#000;
$bgnd-white:#fff;
$bgnd-grey:#f2f3f5;
$bgnd-dark-green:#15804e;
$bgnd-selective-yellow:#FFBA00;
$bgnd-silver:#f6f6f7;
$bgnd-lynch:#58595b;
$bgnd-cornflower-blue:#1cb2c8;
$bgnd-concrete:#f3f3f3;
$info-button:#ff7e47;
$bgnd-slate-grey:#6f859f;
$bgnd-yellow:#fbdb3e;
$bgnd-tree:#65c298;
$bgnd-skyblue:skyblue;
$bgnd-light-purple:#ede7f6;
$bgnd-trendy-pink:#886093;
$bgnd-pickled-bluewood:#2d3c4d;
$bgnd-sunset-orange:#ff5252;
$bgnd-close-btn:#a6a6a6;
$bgnd-header:rgba(110, 61, 124, 0.7);
$bgnd-validation:#da5964;
$bgnd-light:#f4f4f4;
$bgnd-red:red;
$bgnd-red-light:#cb3544;
$bgnd-search:#e3e7ec;
$unavailable-msg-bgnd:#fef4cf;
$bgnd-light-2:#faf8f5;
$bgnd-purple:#6b54a6;
$bgnd-img:#f4f4f4;
$hover-green:#9ac854;


/* Customer Reviews */
$bgnd-light-green:#48d29c;
$bgnd-light-sunset:#ff9e75;
$bgnd-orange:#ffba00;
$txt-p-green:#00B086;
$bgnd-p-green:#00B086;

/* Background color hover effect */
$btn-hover-emerald:#8cbe45;
$btn-hover-sunset:#e56637;

/* Text colors */
$txt-white:#fff;
$txt-butterfly:#6e3d7c;
$txt-emerald:#8ab44b;
$txt-sunset:#f07541;
$txt-selective-yellow:#FFBA00;
$txt-orange:#f07541;
$txt-purple:#6e3d7c;
$txt-light-purple:#886093;
$txt-yellow:#fbdb3e;
$txt-turquoise:#50e3c2;
$txt-lynch:#58595b;
$txt-java:#1cb2c8;
$txt-cornflower-blue:#1cb2c8;
$txt-default:#58595b;
$txt-more:#1cb2c8;
$dis-link:#89969f;
$txt-dis: #2d3c4d;
$txt-light-green:#48d29c;
$txt-favourate:#cb3544;
$txt-gray:#999999;
$txt-gray-light:#afb0b1;
$txt-unavailable:#4e4a3e;
$txt-black-squeeze:#f2f2f2;

/* Error messages */
$txt-error:#f07541;
$txt-error-light:#f07541;

/* Border colors */
$b-green:#8ab44b;
$b-lynch:#58595b;
$b-silver:#cccdcd;
$b-default:rgba(88, 89, 91, 0.6);
$b-light:rgba(88, 89, 91, 0.2);
$b-light1:rgba(45, 60, 77, 0.2);
$b-light2:rgba(45, 60, 77, 0.1);
$b-light3:rgba(151, 151, 151, 0.5);
$b-dark:rgba(151, 151, 151, 0.7);
$b-gray:rgba(151, 151, 151, 0.3);
$b-blue:#1cb2c8;
$b-default:#6f859f;
$b-white:#fff;
$b-opacity:#f7f8fa;
$b-input:#e6eaee;
$line:#cbcbcb;
$b-sticky:rgba(111, 133, 159, 0.2);
$b-light:#f4f4f4;
$grid-border:#d5d8db;
$separator:#979797;
$search-border:#f3f4f4;
$b-new:#b8c2cf;
$b-eee:#eeeeee;
$b-tree:#65c298;
$b-squeeze:#f2f2f2;
$b-sunset:#f07541;
$b-red-light:#cb3544;




/* box shadow */
$box-shadow-color:rgba(88, 89, 91, 0.34);
$box-shadow-long:rgba(111, 133, 159, 0.34);
$box-shadow-color-light:rgba(0, 0, 0, 0.2);
$box-shadow2:rgba(45, 60, 77, 0.5);

/* Arrows Color */
$badge: #2d3c4d;

/* Disabled button */
$disabled-bgnd-button:#d8d8d8;
$d-txt-color:#6f859f;

/* body background */
$body-bgnd:#f2f3f5;


/* Tool Tip */
$tooltip:#2e3c4c;
